<div class="page_column_4 last rounded_corners">
   <h2 id="will_my_payment_be_safe">Will my payment be safe?</h2>
   <p>Yes. The credit-card transaction uses strong encryption and other industry-standard security features to ensure that no one else has access to your credit card information. We do not store your credit card information after completing the transaction.</p>  
  <h2 id="what_happens_after_i_buy">What happens after I buy?</h2>
  <p>After you make a purchase, you'll receive a deal voucher to print out via email, or you can access the voucher within the My Account section.  Take the voucher to the store or merchant any time before the expiration date. </p>
 
</div>
