<% set_page_title "Member registration"; @navbar_active_item_tag = :r2 %>

<% row1 do %>
  <% box2 do %>
    <div class="padding" style="text-align:justify">
      <h2>TXT411 Membership</h2>
      <br style="line-height:16px"/>Thank you! We'll shortly be launching our membership program and will send an invitation to the email address you provided.
    </div>
  <% end -%>
<% end -%>
    