<!--SEVEN SPRINGS HEADER-->
<div id="header">
	<div id="logo"></div>
	<div id="headerTop">
		<p class="topLeft">Mobile:<a href="http://mobile.7springs.com/">mobile.7springs.com</a></p>
		<p class="topRight"><a href="http://7springs.com/page/category.detail/nav/5114/Contact-Us.html">Contact US</a> | <a href="http://www.7springs.com/">Home</a></p>

	</div>
	<div id="headerMiddle">
		<p class="middleLeft"><a href="http://7springs.com/page/category.detail/nav/5552/Priority-7.html">Priority 7</a> <a href="http://7springs.com/pdf/MountainCourierWeb.pdf">This Week at Seven Springs</a></p>
		<p class="middleRight"><a href="http://7springs.com/page/category.detail/nav/5021/Mountain-Cams.html">Mountain Cams</a> <a href="http://7springs.com/page/category.detail/nav/5022/Snow-Report.html">Current Conditions</a></p>
	</div>
	<div id="headerBottom">
		<a href="http://7springs.com/page/category.detail/nav/5051/Lodging.html">LODGING</a>
        <a href="http://7springs.com/page/category.detail/nav/5024/Golf.html">GOLF</a>
        <a href="http://7springs.com/page/category.detail/nav/5215/Sporting-Clays.html">SPORTING CLAYS</a>
        <a href="http://7springs.com/page/category.detail/nav/5366/Trillium-Spa.html">TRILLIUM SPA</a>
        <a href="http://7springs.com/page/category.detail/nav/5057/Meetings.html">MEETINGS</a>
        <a href="http://7springs.com/page/category.detail/nav/5589/Weddings.html">WEDDINGS</a>
        <a href="http://7springs.com/page/category.detail/nav/5517/Events.html">EVENTS</a>
        <a href="http://7springs.com/page/category.detail/nav/5486/Activities.html">ACTIVITIES</a>
        <a href="http://7springs.com/page/category.detail/nav/5025/Camps.html">CAMPS</a>
        <a href="http://7springs.com/page/category.detail/nav/5043/Dining.html">DINING</a>
        <a href="http://www.7springsresortrealty.com/">REAL ESTATE</a>
        <a href="http://7springs.com/page/category.detail/nav/5598/Winter.html">WINTER</a>
	</div>
</div>
<div id="center">
<!--/SEVEN SPRINGS HEADER-->