<!--SEVEN SPRINGS HEADER-->
<div id="header">
	<div id="logo"></div>
	<div id="headerTop">
		<p class="topLeft">Mobile:<a href="http://mobile.7springs.com/">mobile.7springs.com</a></p>
		<p class="topRight"><a href="http://7springs.com/page/category.detail/nav/5114/Contact-Us.html">Contact US</a> | <a href="http://www.7springs.com/">Home</a></p>

	</div>
	<div id="headerMiddle">
		<p class="middleLeft"><a href="http://7springs.com/page/category.detail/nav/5552/Priority-7.html">Priority 7</a> <a href="http://7springs.com/pdf/MountainCourierWeb.pdf">This Week at Seven Springs</a></p>
		<p class="middleRight"><a href="http://7springs.com/page/category.detail/nav/5021/Mountain-Cams.html">Mountain Cams</a> <a href="http://7springs.com/page/category.detail/nav/5022/Snow-Report.html">Current Conditions</a></p>
	</div>
	<div id="headerBottom">
		<a href="http://7springs.com/page/category.detail/nav/5051/Lodging.html">LODGING</a>
            <a href="http://7springs.com/page/category.detail/nav/5000/Ski---Ride.html">SKI & RIDE</a>
            <a href="http://7springs.com/page/category.detail/nav/5004/Snowsports-School.html">SNOWSPORTS SCHOOL</a>
            <a href="http://7springs.com/page/category.detail/nav/5027/Snow-Tubing.html">SNOW TUBING</a>
            <a href="http://7springs.com/page/category.detail/nav/5366/Trillium-Spa.html">TRILLIUM SPA</a>
            <a href="http://7springs.com/page/category.detail/nav/5057/Meetings.html">MEETINGS</a>
            <a href="http://7springs.com/page/category.detail/nav/5517/Events.html">EVENTS</a>
            <a href="http://7springs.com/page/category.detail/nav/5486/Activities.html">ACTIVITIES</a>
            <a href="http://7springs.com/page/category.detail/nav/5043/Dining.html">DINING</a>
            <a href="http://www.7springsresortrealty.com/">REAL ESTATE</a>
            <a href="http://7springs.com/page/category.detail/nav/5686/Summer.html">SUMMER</a>
	</div>
</div>
<div id="center">
<!--/SEVEN SPRINGS HEADER-->