<!--SEVEN SPRINGS FOOTER-->
</div>
<div id="footer">
	<a href="http://www.facebook.com/pages/Seven-Springs/170898466286974"><img src="/themes/sevensprings/images/header_footer/fb.png" alt="Facebook" border="0" width="20" height="20" />FACEBOOK</a>
	<a href="http://twitter.com/7_Springs"><img src="/themes/sevensprings/images/header_footer/tw.png" alt="Twitter" border="0" width="20" height="20" />TWITTER</a>
	<a href="http://7springs.com/page/category.detail/nav/5115/Directions.html">DIRECTIONS </a>
	<a href="http://7springs.com/page/hrJobs.list/Job_Board.html">CAREERS </a>
	<a href="http://7springs.com/page/category.detail/nav/5117/Press-Room.html">PRESS ROOM </a>
	<a href="http://7springs.com/page/category.detail/nav/5357/Green-Initiatives.html">GREEN INITIATIVES </a>
	<a href="http://7springs.com/page/category.detail/nav/5574/In-The-Community.html">IN THE COMMUNITY </a>
	<a href="http://7springs.com/page/category.detail/nav/5576/brochures.html">BROCHURES </a>
	<a href="http://7springs.com/page/category.detail/nav/5118/Partners.html">PARTNERS </a>
	<a href="http://www.7springs.com/">HOME </a>
	<div id="footerBottom">
		<h1>Seven Springs Mountain Resort</h1>
		<p>777 Waterwheel Dr , Seven Springs, PA 15622 | 800-452-2223</p>
		<p>&copy; 2011. All rights reserved. | <a href="http://7springs.com/page/category.detail/nav/5222/Terms-of-Service-and-Privacy-Policy.html">Terms of Service and Privacy Policy</a></p>
	</div>
</div>
<!--/SEVEN SPRINGS FOOTER-->