<div id="subscribe_form">
	<p class="subscribe">Enter Your Email for Deal Alerts!</p>
	<form action="/publishers/<%= @publisher.id %>/subscribers" id="daily_deal_header" class="email_subscription_tracking" method="post">
		<p><input name="subscriber[must_accept_terms]" value="true" type="hidden" /></p>
		<p><input name="redirect_to" value="<%= verifiable_url(public_deal_of_day_path(@publisher.label)) %>" type="hidden" /></p>
		<p><input id="subscriber_email" name="subscriber[email]" size="30" class="ghostie" type="text" value="Email Address" title="Email Address"/></p>
		<p><input id="subscribe_button" type="submit" /></p>
		<p id="terms"><input name="subscriber[terms]" value="0" type="hidden" />
			<input id="subscriber_terms" name="subscriber[terms]" value="1" type="checkbox" /> I agree to the <a href="#" onclick="window.open('<%= terms_publisher_daily_deals_path(@publisher) %>', '_blank'); return false; return false;" style="color:#fff;">Terms</a> and <a href="#" onclick="window.open('<%= privacy_policy_publisher_daily_deals_path(@publisher) %>', '_blank'); return false; return false;" style="color:#fff;">Privacy Policy</a>
		</p>
	</form>
</div>
