<div id="banner-wrapper">
	<div id="banner">
		<a href="<%= public_deal_of_day_path(@publisher.label) %>"><h3>Claim Your Deal! Daily Deals on the Best in <%= @publisher.market_name_or_city %></h3></a>		
			<%= render :partial => with_theme("shared/dd_nav") %>
	</div><!-- end #banner -->
</div><!-- end #banner-wrapper -->