<div class="content_box">
	<div id="subscribe_header">
		<h4>Get Free Deal of the Day Alerts</h4>
	</div><!-- end subscribe_header -->
	<div id="subscribe_form">
		<form action="/publishers/<%= @publisher.id %>/subscribers" id="daily_deal_header" class="email_subscription_tracking" method="post">
			<fieldset>
				<input name="subscriber[must_accept_terms]" value="true" type="hidden" />
				<input name="redirect_to" value="<%= verifiable_url(public_deal_of_day_path(@publisher.label)) %>" type="hidden" />
			</fieldset>
			<fieldset>
				<input id="subscriber_email" name="subscriber[email]" size="30" type="text" placeholder="Email Address" />	
				<input id="subscriber_zip" name="subscriber[zip_code]" size="30" type="text" placeholder="Zip Code" />
				<input name="subscriber[terms]" value="0" type="hidden" />
				<input id="subscriber_terms" name="subscriber[terms]" value="1" checked type="checkbox" /> I agree to the <%= daily_deals_terms_link(@publisher) %> and <%= daily_deals_privacy_link(@publisher) %></a>
			</fieldset>
			<fieldset class="sign_up">
				<input type="submit" id="sign_up" class="button gradient" value="Subscribe"/>
			</fieldset>
		</form>
	</div><!-- /subscribe_form -->
</div><!-- end content_box -->
