<div id="station_logos">  
  <a href="http://www.wpri.com" target="_blank"><img src="/themes/savenow-providence/images/stations/wpri.png" height="60" alt="WPRI" /></a>
  <a href="http://www.foxprovidence.com" target="_blank"><img src="/themes/savenow-providence/images/stations/wnac.png" height="60" alt="FOX WNAC" /></a>
  <a href="http://www.wpri.com/subindex/rhode_show" target="_blank"><img src="/themes/savenow-providence/images/stations/TRS.png" height="60" alt="The Rhode Show" /></a>
  
</div>
