<div id="a_a"><a href="http://analoganalytics.com/" target="_blank">
    <img src="/images/powered_by_analog_analytics_220_alt.png" width="220" height="23" alt="Powered by Analog Analytics" /></a>
    <p>US Patent 8090613, Additional Patents Pending</p>
</div>