<div id="a_a" class="syndication">
	<div class="analog_logo">
    	<a href="http://analoganalytics.com/" target="_blank"><img src="/images/powered_by_analog_analytics_250.png" width="264" height="36" border="0" alt="Powered by Analog Analytics" /></a>
    	<p>US Patent 8090613, Additional Patents Pending</p>
	</div>
	<a class="syndication_logo" href="http://analoganalytics.com/clients/" target="_blank"><img src="/images/syndication_network_light_250.png" width="250" height="37" border="0" alt="Member of the Analog Analytics Syndication Network" /></a>
</div>
