 <li class="facebook_connect"><a href="<%= auth_init_path(@publisher) %>" class="facebook_connect" title="<%= t(:facebook_connect_title) %>"><img src="/images/buttons/facebook_connect.png" height="28" width="99" alt="<%= t(:facebook_connect) %>" /></a></li>
