<li class="facebook_connect"><a href="{{ publisher.facebook_connect_path }}" title="{% t facebook_connect_title %}"><img alt="{% t facebook_connect %}" src="/images/buttons/facebook_connect.png" /></a></li>
