<div id="standard-pages-box-inner">
    <h2>About Kowabunga</h2>

    <h3 id="page-subtitle">Kowabunga brings you more deals in more places.</h3>

    <p>Kowabunga&reg; is a daily deal site bringing you more deals from around the country. You can hop on most any deal site to find great deals in large urban areas such as Chicago or Miami, but what about deals on your own neighborhood?</p>

    <p>Kowabunga is striving to find you more deals, in more places...literally! No matter how large or small your neighborhood, we want to provide you all of the savings possibilities right here in one place. Is your area not included yet? Chances are we are working on it, but just in case, <a href="{{ publisher.contact_path }}">let us know!</a></p>

    <p>In addition to providing great deals to consumers, we also strive to provide the best daily deal affiliate program around! Check out what the <a href="http://
kowabunga.com/publishers/kowabunga/affiliate/show" target="_blank">Kowabunga Affiliate Program</a></p>

    <p class="last-p-of-page">Kowabunga is a web property owned and operated by online marketing services company <a href="http://.www.inuvo.com" target="_blank">Inuvo&reg;,Inc.</a> (NYSE Amex:INUV) with technology powered by <a href="http://analoganalytics.com/" target="_blank">Analog Analytics.</a></p>
</div><!-- end #standard-pages-box-inner -->