<div id="standard-pages-box-inner">
	<h2>Contact</h2>
	<div id="contact-us-block">
		<h3>Customer Service and Technical Support</h3>
		<p>Please email <a href="mailto:customersupport@kowabunga.com">customersupport@kowabunga.com</a></p>
		<h3>Feature Your Business</h3>
		<p>Please check out the information found on our <a href="{{ publisher.feature_your_business_path }}">Feature Your Business page</a> or email us at <a href="mailto:deals@kowabunga.com">deals@kowabunga.com.</a></p>
		<h3>Kowabunga Affiliate Program</h3>
		<p>For questions regarding how to join the Kowabunga Affiliate Program or if you are a current affiliate looking for assistance,<br/> please visit our <a href="http://
kowabunga.com/publishers/kowabunga/affiliate/show">affiliate program information page</a> or contact us at <a href="mailto:affiliates@kowabunga.com">affiliates@kowabunga.com</a></p>
		<h3>Main Office</h3>
		<p class="last-p-contact">Kowabunga, owned and operated by Inuvo, Inc.<br/>
	15550 Lightwave Drive, Suite 300, Clearwater, FL  33760<br/>
		<a href="mailto:general@kowabunga.com">general@kowabunga.com</a></p>
	</div><!-- end #contact-us-block -->
</div><!-- end #standard-pages-box-inner -->