<div id="standard-pages-box-inner">
	<h2>FAQs</h2>
	
	<h3>What is the Featured Deal?</h3>
	<p>Each day one incredible deal is featured as the Featured Deal. The offer is only available for a limited amount of time, so make sure to check back frequently
	so you don't miss out. Better yet, sign up to receive free email alerts each time a new deal is featured in your area. You can sign up for emails in the top right hand corner of the site!</p>
	
	<h3>Are there more deals offered in my area then just Featured Deal?</h3>
	<p>Yes! Check out the section labeled “More Deals” to find all the deals that are available in your local area. </p>
	
	<h3>How do I buy a deal?</h3>
	<p>Click on the "Buy" button before the offer expires and you will be prompted with payment details to make your purchase. Upon completion, you will receive a
	voucher to use to claim your deal before the noted expiration date. Don’t forget to send the deal to your friend or share it over Twitter and Facebook!</p>
	
	<h3>What happens after I buy a deal?</h3>
	<p>After you make a purchase, you'll receive a deal voucher to print out via email or you can access the voucher within the My Account section. Take the voucher to the
	store or merchant any time before the expiration date. </p>
	
	<h3>What if I want to use just part of the deal voucher and save the rest for later?</h3>
	<p>Sorry, you're going to have to use that sweet deal in just one visit. However, some merchants may be willing to work with you if this situation arises.</p>
	
	<h3>If my name is on the deal voucher, can the merchant charge my account?</h3>
	<p>No. The merchant does not have your account information. That is held by Analog Analytics, the software company that processes the transaction on behalf
	of Kowabunga.</p>
	
	<h3>Is the transaction safe for me to use?</h3>
	<p>Yes. The transaction uses SSL and other industry standard security features to ensure that no one else has access to your credit card information.</p>
	
	<h3>If I buy a deal as a gift for a friend, will they have access to my account information?</h3>
	<p>No, on the deal voucher, there is a record of the transaction, the purchaser's name and the consumer's name that the gift is for, along with a unique 8-digit code.
	The payment information is secure on a site that no consumer has access to.</p>
	
	<h3>Can I combine the deal with other offers the merchant might have presented previously?</h3>
	<p>No, each deal has its own terms.</p>
	
	<h3>What if the merchant does not honor the offer?</h3>
	<p>We go out of our way to vet each advertiser and make sure they live up to our high standards. On the rare occurrence that something happens and you're not
	satisfied, Kowabunga, partnered with Analog Analytics, will refund the offer.</p>
	
	<h3>What if I miss the expiration date?</h3>
	<p>If you miss the expiration date on your deal, take heart, all is not lost! While the additional discounts are no longer available, you are still entitled to goods and services equal to the paid value of the voucher.</p>
	
	<p>For example, if you spend $25 to buy a $50 voucher for your new favorite restaurant, but are unable to get there before the expiration date, you will still be entitled to $25 of food, drink and good times.</p>
	
	<h3>What if I have more questions?</h3>
	<p>Feel free to email <a href="mailto:customersupport@kowabunga.com">customersupport@kowabunga.com.</a> Kowabunga will be more than happy to answer any additional questions you may have.</p>
</div><!-- end #standard-pages-box-inner -->