<div id="standard-pages-box-inner">
	<h2>Feature your business on Kowabunga.com!</h2>
	<h3 class="feature-sub">Bring us a deal, and we will bring you the customers.</h3>
	<div id="feature-business-box">
		<h3>How does it work?</h3>
		<ul>
			<ol><span>1.</span> We agree on a deal, at least a 50% off discount of your product or service.</ol>
			<ol><span>2.</span> You sign our simple, no-nonsense agreement.</ol>
			<ol><span>3.</span> We schedule and promote your deal on our site.</ol>
			<ol><span>4.</span> No upfront costs to you. You only pay for those customers who redeem your deal!</ol>
		</ul>
	</div><!-- end feature-business-box -->
	<p id="feature-anchor">To learn more, contact us today at <a href="mailto:deals@kowabunga.com">deals@kowabunga.com</a></p>
</div><!-- end #standard-pages-box-inner -->   