<div id="standard-pages-box-inner">
    <h2>How It Works</h2>

    <h3>The Surf is Up! Ready to Paddle In?</h3>

    <p>Kowabunga brings you more deals in more places! We aggregate deals from various deal sites, along with Kowabunga-exclusive deals, to allow you a one-stop-shop for finding the best local deals in your area. How does it work?</p>

    <div id="how-it-works-block">
        <div class="how-it-works-box">
            <img src="/themes/kowabunga/images/graphics/one-dot.png" alt="Check out Today's Deatured Deal!">

            <h3>Check out Today's Featured Deal!</h3>

            <p>Visit <a href="http://www.kowabunga.com"></a> Kowabunga.com, select your market, and see what local deals await for you! You will first see today’s Featured Deal, but be sure to click on More Deals to see all the deals available to you in your market.</p>

        </div><!-- end .how-it-works-box -->

        <div class="how-it-works-box">
            <img src="/themes/kowabunga/images/graphics/two-dot.png" alt="Check out Today's Deatured Deal!">

            <h3>Purchase and enjoy!</h3>

            <p>Found something you like? Click on the Buy button to confirm payment details and you will the receive details on how you can retrieve your deal voucher. You can even give the deal as a gift!</p>
        </div><!-- end .how-it-works-box -->

        <div class="how-it-works-box">
            <img src="/themes/kowabunga/images/graphics/three-dot.png" alt="Check out Today's Deatured Deal!">

            <h3>Don't forget to share!</h3>

            <p>Make sure to share your purchase across Twitter, Facebook or email so that your friends can also get in on the good deal. We make it easy, and you can share right from Kowabunga.com.</p>
        </div><!-- end .how-it-works-box -->
    </div><!-- end #how-it-works-block -->

    <p class="got-question"><span>Still got questions?</span> <a href="{{ publisher.contact_path }}">Contact us</a> anytime--we are happy to help!</p>
</div><!-- end #standard-pages-box-inner -->