<div id="standard-pages-box-inner">
    <h2>Terms of Site Use</h2>

    <h3>General</h3>

    <p>This site (this “Site”) is made available to you (“you” or “End User”) subject to the terms and conditions that Kowbunga® (“we,” “our” or “Kowabunga”) set forth herein. These Terms of Site Use set forth the terms and conditions that apply to the use of this Site by you. By using this Site (other than to read these Terms of Site Use, the Terms of Sale, and the Kowabunga Privacy Policy), you are agreeing that you have read and agree to comply with and be bound by, these Terms of Site Use, the Terms of Sale, and the Kowabunga Privacy Policy in their entirety without limitation or qualification. If you do not agree to these Terms of Site Use, the Terms of Sale, and the Kowabunga Privacy Policy, do not utilize this Site.</p>

    <p>The right to use this Site is personal to you and is not transferable to any other person or entity. You shall be responsible for protecting the confidentiality of your password(s), if any. You acknowledge that, although the Internet is often a secure environment, sometimes there are interruptions in service or events that are beyond the control of Kowabunga, and Kowabunga shall not be responsible for any data lost while transmitting information on the Internet. While it is Kowabunga’s objective to make this Site accessible 24 hours per day, 7 days per week, this Site may be unavailable from time to time for any reason including, without limitation, routine maintenance. You understand and acknowledge that due to circumstances both within and outside of the control of Kowabunga, access to this Site may be interrupted, suspended or terminated at any time, from time to time.</p>

    <p>Kowabunga shall have the right at any time to change or discontinue any aspect or feature on this Site, including, but not limited to, content, hours of availability and equipment needed for access or use, without notice. Further, Kowabunga may discontinue disseminating any portion of information or category of information, may change or eliminate any transmission method and may change transmission speeds or other signal characteristics.</p>

    <p>We will not be liable to you or to any third party for any modification, suspension, or discontinuance of this Site. We also reserve the right (but do not assume the obligation), in our sole discretion, to reject, refuse to post, or remove any material that you post or submit for posting, and to restrict, suspend, or terminate your access to the Site at any time, for any or no reason, with or without prior notice, and without liability.</p>

    <h3>Modified Terms</h3>

    <p>We reserve the right at all times to discontinue or modify these Terms of Site Use, the Terms of Sale, and the Kowabunga Privacy Policy in our sole discretion without prior notification to you. Any such modifications shall be effective immediately upon Kowabunga’s posting thereof and any such use of the Site thereafter by you shall be deemed to constitute acceptance by you to such modifications.</p>

    <h3>Pricing and Other Terms</h3>

    <p>Prices and availability of the vouchers listed on this Site are subject to change without notice. The listings, description of, or reference to, a product or service on this Site does not imply that the product or service is presently available or that we endorse that product or service. In the event a product or service is listed at an incorrect price due to a typographical error or error in pricing information received from a supplier, we shall have the right to refuse or cancel any order placed for such product or service at the incorrect price, even if the order has been confirmed and/or your credit card has been charged. If your credit card has already been charged for the purchase and your order is canceled, we shall promptly issue a credit to your credit card account in the amount of the incorrect price, and notify you of this occurrence.</p>

    <h3>End User Conduct</h3>

    <p>This Site and any individual sites or merchant-specific, city-specific, or state-specific sites now or hereinafter contained within or otherwise available through external hyperlinks with this Site (the “Microsites”) are private property. All interactions on this Site and/or the Microsites must comply with these Terms of Site Use. Although we welcome and encourage user interaction, we do insist and require that all End Users restrict any and all activity in connection with the use of this Site and the Microsites to that which involves lawful purposes only. End Users shall not post or transmit through this Site any material which violates or infringes in any way upon the rights of others, or any material which is unlawful, threatening, abusive, defamatory, invasive of privacy or publicity rights, vulgar, obscene, profane or otherwise objectionable, which encourages conduct that would constitute a criminal offense, give rise to civil liability or otherwise violate any law, or which, without our express prior, written approval, contains advertising or any solicitation with respect to products or services. Any conduct by an End User that in our exclusive discretion restricts or inhibits any other End User from using or enjoying this Site and/or any of the Microsites is strictly prohibited. End Users shall not use this Site or any of the Microsites to advertise or perform any commercial, religious, political or non-commercial solicitation, including, but not limited to, the solicitation of users of this Site and/or the Microsites to become users of other on- or offline services directly or indirectly competitive or potentially competitive with Kowabunga.</p>

    <p>End Users shall not upload, post or otherwise make available on this Site any material protected by copyright, trademark or other proprietary right without the express permission of the owner of the copyright, trademark or other proprietary right. Kowabunga does not have any express burden or responsibility to provide End User with indications, markings or anything else that may aid End User in determining whether the material in question is copyrighted or trademarked. End User shall be solely liable for any damage resulting from any infringement of copyrights, trademarks, proprietary rights or any other harm resulting from such a submission. By submitting material to any public area of this Site, End User warrants that the owner of such material has expressly granted Kowabunga the royalty-free, perpetual, irrevocable, non-exclusive right and license to use, reproduce, modify, adapt, publish, translate and distribute such material (in whole or in part) worldwide and/or to incorporate it in other works in any form, media or technology now known or hereafter developed for the full term of any copyright that may exist in such material. End User also permits any other end user to access, view, store or reproduce the material for that end user’s personal use. End User hereby grants Kowabunga the rights to edit, copy, publish and distribute any material made available on this Site by End User.</p>

    <p>The foregoing provisions of this Section apply equally to and are for the benefit of Kowabunga, its subsidiaries, affiliates and its third-party content providers and licensors, and each shall have the right to assert and enforce such provisions directly or on its own behalf.</p>

    <h3>Copyright Notice</h3>

    <p>Our designated agent for notice of copyright infringement can be reached at marketing@kowabunga.com, or by sending postal mail to the following address:</p>

    <p>Kowabunga Marketing Department<br>
    Inuvo, Inc.<br>
    15550 Lightwave Drive<br>
    Suite 300<br>
    Clearwater, FL 33760</p>

    <h3>Monitoring</h3>

    <p>Kowabunga has the right, but not the obligation, to monitor the content of this Site and any Microsites at all times, including any chat rooms, comment sections and forums that may hereinafter be included as part of the Site, to determine compliance with this Agreement and any operating rules established by Kowabunga, as well as to satisfy any applicable law, regulation or authorized government request. Without limiting the foregoing, Kowabunga shall have the right, but not the obligation, to remove any material that Kowabunga, in its sole discretion, finds to be in violation of the provisions hereof or otherwise objectionable.</p>

    <h3>Privacy</h3>

    <p>The Kowabunga Privacy Policy is hereby made a part of these Terms of Site Use. The Kowabunga Privacy Policy is available at www.kowabunga.com/privacy-policy.</p>

    <h3>Terms of Sale</h3>

    <p>The Terms of Sale (Set forth below in Exhibit A attached hereto an incorporated herein) are hereby made a part of these Terms of Site Use.</p>

    <h3>Disclaimer of Warranty</h3>

    <p>END USER EXPRESSLY AGREES THAT USE OF THIS SITE AND THE MICROSITES IS AT END USER’S SOLE RISK. NONE OF KOWABUNGA, ITS AFFILIATES, MERCHANTS, THIRD-PARTY CONTENT PROVIDERS OR LICENSORS, OR ANY OF THEIR RESPECTIVE OFFICERS, DIRECTORS, MEMBERS, MANAGERS, EMPLOYEES OR AGENTS, WARRANT THAT USE OF THE SITE OR ANY MICROSITE WILL BE UNINTERRUPTED OR ERROR FREE; NOR DO THEY MAKE ANY WARRANTY AS TO (I) THE RESULTS THAT MAY BE OBTAINED FROM USE OF THIS SITE, OR ANY MICROSITE, OR (II) THE ACCURACY, RELIABILITY OR CONTENT OF ANY INFORMATION, SERVICE OR VOUCHERS PROVIDED THROUGH THIS SITE OR THE MICROSITES.</p>

    <p>THIS SITE AND THE MICROSITES ARE MADE ACCESSIBLE ON AN “AS IS” AND “AS AVAILABLE” BASIS. KOWABUNGA HEREBY DISCLAIMS ANY AND ALL REPRESENTATIONS, WARRANTIES AND CONDITIONS, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THOSE OF TITLE NONINFRINGEMENT, MERCHANTABILITY, AND FITNESS FOR A PARTICULAR PURPOSE, OTHER THAN THOSE WARRANTIES WHICH ARE IMPLIED BY AND INCAPABLE OF EXCLUSION, RESTRICTION OR MODIFICATION UNDER THE LAWS APPLICABLE TO THIS AGREEMENT.</p>

    <h3>Limitation of Liability</h3>

    <p>IN NO EVENT SHALL KOWABUNGA, ITS AFFILIATES, MERCHANTS, THIRD-PARTY CONTENT PROVIDERS OR LICENSORS, OR ANY OF THEIR RESPECTIVE OFFICERS, DIRECTORS, MEMBERS, MANAGERS, EMPLOYEES OR AGENTS, BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES ARISING OUT OF OR RELATED TO THIS SITE OR THESE TERMS OF SITE USE. KOWABUNGA IS NOT RESPONSIBLE FOR ANY CONTENT THAT ANOTHER END USER OR ANY UNAUTHORIZED USER MAY POST ON THIS SITE OR ANY OF THE MICROSITES.</p>

    <p>IN NO EVENT WILL KOWABUNGA’S LIABILITY IN CONNECTION WITH A VOUCHER PURCHASED HEREUNDER EXCEED THE AMOUNTS PAID FOR THE SPECIFIC VOUCHER GIVING RISE TO SUCH CLAIM.</p>

    <p>YOU ACKNOWLEDGE THAT THE DISCLAIMERS AND LIMITATIONS OF LIABILITY SET FORTH ABOVE SHALL APPLY EVEN IF THE REMEDIES FAIL THEIR ESSENTIAL PURPOSE AND THAT, WITHOUT THESE DISCLAIMERS AND LIMITATIONS, YOU WOULD HAVE PAID A HIGHER FEE FOR THE USE OF THE SITE. CERTAIN STATES AND/OR JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF IMPLIED WARRANTIES OR LIMITATION OF LIABILITY FOR INCIDENTAL, CONSEQUENTIAL OR CERTAIN OTHER TYPES OF DAMAGES, SO THE EXCLUSIONS SET FORTH ABOVE MAY NOT APPLY TO YOU.</p>

    <h3>Indemnification/Release</h3>

    <p>End User agrees to defend, indemnify and hold harmless Kowabunga, its affiliates and their respective directors, officers, members, managers, employees and agents from and against all claims and expenses, including attorneys’ fees, arising out of or related to any products or services purchased by End User in connection with the Site or any Microsites.</p>

    <p>End User is solely responsible for interactions with Merchants and other users of the Site or Microsites. To the extent permitted under applicable laws, End User hereby releases Kowabunga from any and all claims or liability related to any product or service of a Merchant, any action or in-action by Merchant, including Merchant’s failure to comply with applicable law and/or failure to abide by the terms of a voucher, and any conduct or speech, whether online or offline, of any other user.</p>

    <p>In connection with the foregoing release, End User hereby waives California Civil Code Section 1542 (and any similar provision in any other jurisdiction) which states: “A general release does not extend to claims which the creditor does not know or suspect to exist in his favor at the time of executing the release, which, if known by him must have materially affected his settlement with the debtor.”</p>

    <h3>Termination</h3>

    <p>Kowabunga may terminate these Terms of Site Use, the Terms of Sale, and the Kowabunga Privacy Policy at any time for any reason. Without limiting the foregoing, Kowabunga shall have the right to immediately terminate or suspend any passwords or accounts of End User in the event of any conduct by End User which Kowabunga, in its sole discretion, considers to be unacceptable, or in the event of any breach by End User of these Terms of Site Use. The provisions of Sections 2 through 12 will survive any such termination.</p>

    <h3>Miscellaneous</h3>

    <p>These Terms of Site Use, the Terms of Sale, and the Kowabunga Privacy Policy constitute the entire agreement of the parties with respect to the subject matter hereof. No waiver by either party of any breach or default hereunder is a waiver of any preceding or subsequent breach or default. The section headings used herein are for convenience only and shall be of no legal force or effect. If any provision hereof or thereof is held invalid by a court of competent jurisdiction, such invalidity shall not affect the enforceability of any other provisions contained herein or therein, respectively and the remaining portions thereof/hereof shall continue in full force and effect. The failure of either party to exercise any of its rights hereunder shall not be deemed a waiver or forfeiture of such rights or any other rights provided hereunder.</p>

    <p>By using the Site, you represent and warrant that you (i) are at least 18 years old, (ii) are of legal age to form a binding contract, (iii) have not been removed or suspended from the Site by Kowabunga, and (iv) will only use the Site for purchases within the United States of America. You represent and warrant that you have not falsely identified yourself nor provided any false information to gain access to the Site.</p>

    <h3>For Florida Residents</h3>

    <p>If you purchase a voucher and the merchant is a healthcare provider: The patient and any other person responsible for payment has a right to refuse to pay, cancel payment or be reimbursed for payment for any service, examination or treatment that is performed as a result of and within 72 hours of responding to the advertisement for the free, discounted fee or reduced fee service, examination or treatment. In most states, businesses not exclusively owned by physicians are prohibited from practicing medicine.</p>

    <h3>For California Residents</h3>

    <p>You may report complaints to the Complaint Assistance Unit of the Division of Consumer Services of the California Department of Consumer Affairs by contacting them in writing at 400 R Street, Sacramento, CA 95814, or by telephone at (800) 952-5210. You should note that parental control protections (such as computer hardware, software, or filtering services) are commercially available that may assist you in limiting access to material that is harmful to minors. Current providers of such protections can be found at: www.en.wikipedia.org/wiki/List_of_Content_Control_Software.</p>

    <h3>Exhibit A</h3>

    <h2>Terms of Sale</h2>

    <p>By using this site you agree, for the benefit of Kowbunga and its subsidiaries (collectively “Kowabunga”), to the terms and conditions set forth herein. If you do not agree to these terms and conditions, do not utilize this site. All vouchers purchased from this site or any other website or microsite associated with Kowabunga are promotional vouchers that may be used to obtain goods or services from participating merchants (“Merchants”). All vouchers are subject to these terms and conditions.</p>

    <p>You are required to create an account in order to purchase a voucher. This is required so Kowabunga can provide you with easy access to print your orders, view your past purchases, modify your preferences, and to ensure permissible use of your vouchers. You are responsible for all activity occurring when the Site is accessed through your account and you shall abide by all applicable local, state, national and foreign laws, treaties and regulations in connection with your use of the Site. It is your responsibility to take appropriate actions immediately if any password has been stolen, leaked, compromised or otherwise used without proper consent. For information about Kowabunga’s collection of personal information, please view <a href="{{ publisher.privacy_path}}">Kowabunga’s Privacy Policy.</a></p>

    <p>The Merchant, not Kowabunga, is the seller of the goods and services and is solely responsible for redeeming any vouchers you purchase. For avoidance of doubt, Kowabunga sells the voucher that can be redeemed in connection with your purchase of the goods or services from the Merchant.</p>

    <p>As the issuer of the voucher, the Merchant is fully responsible for any and all injuries, illnesses, damages, claims, liabilities and costs suffered by or in respect of a Kowabunga, caused in whole or in part by the Merchant, as well as for any unclaimed property liability arising from unredeemed vouchers or portions thereof.</p>

    <p>Neither Kowabunga nor the Merchant is responsible for lost or stolen vouchers. Reproduction, sale or trade of a voucher is prohibited unless done so in compliance with applicable law. Any attempted redemption not consistent with these terms & conditions will render the voucher void to the extent prohibited by law.</p>

    <p><b>YOU WAIVE, AND RELEASE KOWABUNGA AND ITS AFFILIATES AND THEIR RESPECTIVE SHAREHOLDERS, OFFICERS, DIRECTORS, MEMBERS, MANAGERS, EMPLOYEES AND AGENTS FROM, ANY CLAIM, LIABILITIES, LOSS, DAMAGES, INJURY AND/OR DEATH ARISING FROM OR RELATED TO (I) ANY ACT OR OMISSION OF MERCHANT; (II) THE SERVICES/GOODS PROVIDED IN CONNECTION WITH THE VOUCHERS; AND (III) MERCHANT’S COMPLIANCE WITH APPLICABLE LAWS.</b></p>

    <p>Vouchers are redeemable in their entirety and on a one time basis only and may not be redeemed incrementally, unless otherwise required by law.</p>

    <p>Vouchers cannot be combined with any other vouchers, third-party vouchers, coupons, or promotions, unless otherwise specified by Merchant. Any attempted redemption not consistent with these terms and conditions will render the vouchers null and void.</p>

    <p>Each voucher expires on the date specified, except that the Merchant may continue to redeem the unused cash value you paid for the voucher (which is usually less than the original face value of the voucher) to the extent required by applicable law.</p>

    <p>According to applicable law, the Merchant may be responsible for allowing you to redeem a voucher for the cash value based on the money you actually paid for the voucher (i.e. if you paid $20 for a voucher which gives you $50 of value to the Merchant, the cash value that you paid is $20, not $50), for a period of time that extends beyond the expiration date on the voucher. While the expiration date on the voucher dictates the last date that you can use your voucher for the promotional offer stated, applicable law may provide that the Merchant is responsible for honoring the cash value that you paid for your voucher for a period of time beyond the expiration date stated on the voucher. In other words, you should be allowed to redeem the cash value (or purchase price) of a voucher up until the greater of: (i) the voucher’s expiration date; or (ii) the minimum length of time allowed by applicable law for a voucher to expire.</p>

    <p>If you redeem a voucher for less than its face value, you will only be entitled to a credit or cash from the Merchant equal to the difference between the face value and the amount you redeemed, if required by applicable law. You will only be entitled to a continuing redemption value as noted above if the amount that you paid for the voucher exceeds the amount you redeemed. For example, if you paid $15 for a voucher which entitles you to purchase $30 of product/services by March 1, 2011 and you make a purchase for $20 on December 31, 2010, you will only be entitled to a credit or cash equal to the difference between the $30 face value and the amount you redeemed from the Merchant (i.e., $10) if required by applicable law. You will not have any redemption value either because the amount you redeemed is more than what you paid for the voucher.</p>

    <p>Kowabunga and the Merchants reserve all rights and remedies against you to the extent you violate these Terms of Sale, including without limitation counterfeiting vouchers or otherwise engaging in fraudulent conduct. Kowabunga reserves the right to make changes to this site and these disclaimers, terms and conditions at any time without notice.</p>

    <p>For restaurant specific vouchers: (i) redemption frequency is determined by the restaurant Merchant; (ii) use of vouchers for alcoholic beverages is at the sole discretion of the restaurant Merchant and is subject to compliance with applicable law; (iii) vouchers cannot be used for taxes, tips or prior balances, unless permitted by the restaurant Merchant; and (iv) vouchers are valid for dine in only unless otherwise stated.</p>

    <p>For non restaurant Vouchers: (i) vouchers may be applied only to merchandise sold by Merchant, and may not be applied to shipping or handling charges; (ii) Limit one (1) voucher per redemption; and (iii) only one voucher can be used per order unless otherwise specified by Merchant.</p>

    <p>If you have questions regarding this Agreement or wish to obtain additional information, please send an email inquiry to marketing@kowabunga.com or send your request in writing to:</p>

    <p>Kowabunga Marketing Department<br>
    Inuvo, Inc.<br>
    15550 Lightwave Drive<br>
    Suite 300<br>
    Clearwater, FL 33760</p>
</div><!-- end #standard-pages-box-inner -->