<ul id="dd_nav">
	<li><a href="{{ publisher.todays_daily_deal_path }}" class="{% if_page_name 'publishers#deal_of_the_day'%}current_page{%endif_page_name%}">Today's Deal</a></li>

</ul><!-- /dd_nav -->
