<div class="clear"></div>
<div id="banner_bottom">
	<img id="publisher_logo" src="/themes/fortwayne/images/backgrounds/banner_bottom.png" usemap="#ShoppingHeader" alt="Fort Wayne" />
</div>

<map id="ShoppingHeader" name="ShoppingHeader">
<area shape="rect" coords="1,1,163,36" href="http://www.fortwayne.com/" title="" />
<area shape="rect" coords="302,1,438,36" href="http://events.fortwayne.com/" title="" />
<area shape="rect" coords="613,1,797,36" href="http://moms.fortwayne.com/" title="" />
<area shape="rect" coords="171,1,293,36" href="http://deals.fortwayne.com/" title="" />
<area shape="rect" coords="447,1,603,36" href="http://newspaperads.fortwayne.com/Default.aspx" title="" />
<area shape="rect" coords="657,5,891,39" href="http://deals.fortwayne.com/" title="" />
<area shape="default" nohref="nohref" alt="" />
</map>