<!-- SITE FOOTER -->
<table width=900><tr><td class="footerleft">
			<a target="_blank" href="http://fwnextweb1.fortwayne.com/fwngeneral/text/contact.php">
			<img alt="image" style="width: 120px; height: 50px; border: none;" src="/themes/fortwayne/images/cached/footer_rc_logo.gif" /></a>
</td><td style="width: 615px; text-align: center;">
		
			<a href="http://www.fortwayne.com/apps/pbcs.dll/oversikt?Kategori=NEWS">News</a> |
			<a href="http://www.fortwayne.com/apps/pbcs.dll/oversikt?Kategori=BIZ">Business</a> |
			<a href="http://www.fortwayne.com/apps/pbcs.dll/oversikt?Kategori=SPORTS">Sports</a> |
			<a href="http://www.fortwayne.com/apps/pbcs.dll/oversikt?Kategori=ENT">Living & Entertainment</a> |
			<a href="http://newspaperads.fortwayne.com">Shopping</a> |
			<a href="http://www.fortwayne.com/apps/pbcs.dll/section?category=classifieds">Classifieds</a> |
			<a href="http://jobs.fortwayne.com">Jobs</a> |
			<a href="http://cars.fortwayne.com">Cars</a> |
			<a href="http://homes.fortwayne.com">Homes</a>

			<br />
			<a target="_blank" a href="http://fwnextweb1.fortwayne.com/fwngeneral/text/contact.php">About FortWayne.com</a> | 
			<a target="_blank" a href="http://fwnextweb1.fortwayne.com/fwngeneral/text/terms.php">Terms of Use & Privacy Statement</a> |
			<a target="_blank" a href="http://fwnextweb1.fortwayne.com/fwngeneral/text/copyright.php">Copyright</a>

</td><td class="footerright">
			<a target="_blank" a href="http://www.fortwayne.com/misc/docs/terms.htm">

			<img alt="image" style="width: 102px; height: 27px; border: none;" src="/themes/fortwayne/images/cached/footer_truste_logo.gif" /></a>
</td></tr></table>



<script language="JavaScript" type="text/javascript" src="/themes/fortwayne/javascripts/s_code.js"></script>
<script language="JavaScript" type="text/javascript">

var myLocation = window.location.href;
var myLocation = myLocation.replace("http://", "");

s.Account="saxotechfortwayne"
s.cookieDomainPeriods="2"
s.pageName=myLocation
s.server="S260608DC2EW27"
s.channel="Shopping"
/* Traffic Variables */
s.prop1="Section"
/* E-commerce Variables */
/* Hierarchy Variables */
s.hier1="Shopping"
/************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
var s_code=s.t();
if(s_code)document.write(s_code)
</script>

<!-- Start Quantcast tag -->
<script type="text/javascript">
_qoptions={
qacct:"p-60pqulDcG5Kt-"
};
</script>
<script type="text/javascript" src="https://edge.quantserve.com/quant.js"></script>
<noscript>
<img src="/themes/fortwayne/images/cached/p-60pqulDcG5Kt-.gif" style="display: none;" border="0" height="1" width="1" alt="Quantcast"/>
</noscript>
<!-- End Quantcast tag -->


