<div class="show-mobile" style="overflow:hidden;height:auto;">
    <div id="new_branding">
      <a target="_top" id="mobile_logo" href="http://www.kfdm.com/">Yuma Sun</a>
    </div>
    <div style="clear:both;"></div>        
</div>   
<div id="fi_wrapper" class="hide-mobile">
  <div id="fi_header">
    
    <div class="headrow2" style="background: url('/themes/freedom/images/back_search2.gif') no-repeat scroll left top transparent">
      <div class="logo">
        <a target='_top' href="http://www.yumasun.com/"><img src="/themes/yumasun/images/logo.gif" alt="" border="0" height="62" width="316"></a>
      </div><!-- END .logo -->
      <div class="fi_search_head">
        <form target='_top' name="fisearch" action="http://www.yumasun.com/search/" method="get" target="_top">
        <div class="searchtop">
          <span class="title_search">Search:</span> <input id="googlesearch" name="q" class="inputText" value="" type="text" /> <input name="fistype" value="site" checked="checked" type="radio" /> Site&nbsp;&nbsp;<input name="fistype" value="web" type="radio" /> Web
          <input src="/themes/yumasun/images/btn_search.gif" alt="Search powered by Google" type="image" align="absmiddle" height="26" width="74" /> <input src="/themes/yumasun/images/logo_google.gif" alt="Search powered by Google" type="image" align="absmiddle" height="29" width="60" />
        </div>
        </form>
      </div><!-- END .searchtop -->
    </div><!-- end .headrow2 -->
  </div><!-- END #fi_header -->
    
  <div id="fi_innerWrapper">  
    <div class="fi_nav_utility">
      <div id="fi_nav">
        <div class="fi_menu">
          <ul id="fi_nav_ul">
            <li>
            <a target='_top' class="title" href="http://www.yumasun.com">Home</a><ul class="sub">
            <li><a target='_top' href="http://www.yumasun.com/sections/rss/">RSS Feeds</a></li>
            <li><a target='_top' href="http://photos.yumasun.com/">Photo Gallery</a></li>
            <li><a target='_top' href="http://www.yumasun.com/video/">Video Gallery</a></li>
            <li><a target='_top' href="http://www.bajoelsol.com/">Bajo El Sol</a></li>
            <li><a target='_top' href="http://www.yumasun.com/sections/nie/">NIE</a></li>
            <li><a target='_top' href="http://www.yumasun.com/sections/about-us/">About Us</a></li>
            </ul>
            </li>
            <li>
            <a target='_top' class="title" href="http://www.yumasun.com/sections/news/">News</a><ul class="sub">
            <li><a target='_top' href="http://www.yumasun.com/sections/news/elections/">Elections</a></li>
            <li><a target='_top' href="http://www.yumasun.com/sections/news/local/">Local News</a></li>
            <li><a target='_top' href="http://www.yumasun.com/sections/news/law_order.php">Law &amp; Order</a></li>
            <li><a target='_top' href="http://www.yumasun.com/sections/education/local.php">Education</a></li>
            <li><a target='_top' href="http://www.yumasun.com/sections/public-notices/">Public Notices</a></li>
            <li><a target='_top' href="http://hosted.ap.org/dynamic/fronts/ARIZONAHEADS?SITE=AZYUM&amp;SECTION=STATE">State News</a></li>
            <li><a target='_top' href="http://hosted.ap.org/dynamic/fronts/HOME?SITE=AZYUM&amp;SECTION=HOME">National News</a></li>
            <li><a target='_top' href="http://www.legacy.com/yumasun/Obituaries.asp">Obituaries</a></li>
            <li><a target='_top' href="http://www.yumasun.com/sections/life/localhealth.php">Health</a></li>
            <li><a target='_top' href="http://www.yumasun.com/sections/news/corrections.php">Corrections</a></li>
            <li><a target='_top' href="http://www.yumasun.com/sections/immigration-news/">Immigration</a></li>
            <li><a target='_top' href="http://www.yumasun.com/sections/infocenter/">Info Center</a></li>
            <li><a target='_top' href="http://www.yumasun.com/sections/military-news/">Military</a></li>
            </ul>
            </li>
            <li>
            <a target='_top' class="title" href="http://www.yumasun.com/sections/sports/">Sports</a><ul class="sub">
            <li><a target='_top' href="http://www.yumasun.com/sections/sports/">Community Sports</a></li>
            <li><a target='_top' href="http://varsity.yumasun.com/">Prep Sports</a></li>
            <li><a target='_top' href="http://www.yumasun.com/sections/sports-news/">National Sports</a></li>
            <li><a target='_top' href="http://www.yumasun.com/sections/sports/awc-matadors/">AWC Matadors</a></li>
            <li><a target='_top' href="http://www.yumasun.com/sections/sports/yuma-panthers/">Yuma Panthers</a></li>
            <li><a target='_top' href="http://www.yumasun.com/sections/sports/podcast/">Sports Podcast</a></li>
            <li><a target='_top' href="http://www.yumasun.com/sections/sports/columns/">Sports Columns</a></li>
            <li><a target='_top' href="http://www.yumasun.com/sections/eltorobowl/">El Toro Bowl</a></li>
            </ul>
            </li>
            <li>
            <a target='_top' class="title" href="http://www.yumasun.com/sections/entertainment/">Entertainment</a><ul class="sub">
            <li><a target='_top' href="http://www.yumasun.com/sections/entertainment/local/">Local Entertainment</a></li>
            <li><a target='_top' href="http://www.yumasun.com/sections/games/">Games</a></li>
            <li><a target='_top' href="http://www.yumasun.com/sections/contests/">Contests</a></li>
            <li><a target='_top' href="http://www.yumasun.com/sections/movies/">Movies</a></li>
            <li><a target='_top' href="http://www.eventsinyuma.com/">Events</a></li>
            <li><a target='_top' href="http://www.yumasun.com/articles/book-76693-yuma-one.html">One Book Yuma</a></li>
            <li><a target='_top' href="http://media.yumasun.com/cinema-series.php">Cinema Series</a></li>
            <li><a target='_top' href="http://www.yumasun.com/sections/entertainment-news/">National Entertainment</a></li>
            <li>
            <a target='_top' href="#">Parade &gt;&gt;</a><ul class="sub">
            <li><a target='_top' href="http://www.yumasun.com/sections/parade-games/">Games</a></li>
            <li><a target='_top' href="http://www.yumasun.com/sections/parade-celebrity/">Celebrity</a></li>
            <li><a target='_top' href="http://www.yumasun.com/sections/parade-health/">Health</a></li>
            </ul>
            </li>
            <li><a target='_top' href="http://www.yumasun.com/sections/tvlistings/">TV Listings</a></li>
            </ul>
            </li>
            <li>
            <a target='_top' class="title" href="http://www.yumasun.com/sections/opinion/">Opinion</a><ul class="sub">
            <li><a target='_top' href="http://www.yumasun.com/sections/opinion/onmymind/">On My Mind</a></li>
            <li><a target='_top' href="http://www.yumasun.com/sections/opinion/editorials.php">Editorials</a></li>
            <li><a target='_top' href="http://www.yumasun.com/sections/opinion/letters.php">Letters</a></li>
            <li><a target='_top' href="http://www.yumasun.com/sections/cartoons/">Cartoons</a></li>
            <li><a target='_top' href="http://www.yumasun.com/sections/opinion/columns.php">Columns</a></li>
            <li><a target='_top' href="http://www.yumasun.com/sections/opinion/submit-letters">Submit Letters</a></li>
            <li><a target='_top' href="http://www.freedompolitics.com" target="_blank">Freedom Politics</a></li>
            </ul>
            </li>
            <li>
            <a target='_top' class="title" href="http://www.yumasun.com/sections/special-features/">Features</a><ul class="sub">
            <li><a target='_top' href="http://www.yumasun.com/sections/arizona-centennial.php">Arizona Centennial</a></li>
            <li><a target='_top' href="http://www.yumasun.com/sections/learn-spanish/">Learn Spanish</a></li>
            <li><a target='_top' href="http://www.yumasun.com/sections/special-features/raisingyuma.php">Raising Yuma</a></li>
            <li><a target='_top' href="http://www.yumasun.com/sections/southwest-living/">Southwest Living</a></li>
            <li><a target='_top' href="http://contests.yumasun.com/yumasbest/">Yuma's Best</a></li>
            <li><a target='_top' href="http://issuu.com/awodigitaledition/docs/yuma_health_connection?mode=window&amp;viewMode=doublePage" target="_blank">Health in Yuma</a></li>
            </ul>
            </li>
            <li>
            <a target='_top' class="title" href="http://www.yumasun.com/sections/business/">Business</a><ul class="sub">
            <li><a target='_top' href="http://directory.yumasun.com/pages/business_directory">Business Directory</a></li>
            <li><a target='_top' href="http://www.yumasun.com/sections/ybd/">Business in Yuma</a></li>
            <li><a target='_top' href="http://business-news.thestreet.com/yuma-sun">The Street</a></li>
            <li><a target='_top' href="http://www.yumasun.com/sections/business-news/">AP Business News</a></li>
            <li><a target='_top' href="http://www.yumasun.com/sections/gas-prices/">Gas Prices</a></li>
            <li><a target='_top' href="http://www.yumasun.com/sections/business/agriculture_in_yuma/">Ag in Yuma</a></li>
            </ul>
            </li>
            <li>
            <a target='_top' class="title" href="http://www.yumasun.com/sections/life/">Life</a><ul class="sub">
            <li><a target='_top' href="http://www.yumasun.com/sections/life/columns/">Columns</a></li>
            <li><a target='_top' href="http://www.yumasun.com/sections/life/desert-life/">Desert Life</a></li>
            <li><a target='_top' href="http://www.yumasun.com/sections/life/ask-the-doctor/">Ask The Doctor</a></li>
            <li><a target='_top' href="http://www.yumasun.com/sections/infocenter/YRMCbirths/">Births</a></li>
            <li><a target='_top' href="http://www.yumasun.com/sections/life/celebrations/">Celebrations</a></li>
            <li><a target='_top' href="http://www.yumasun.com/sections/health-news/">Health News</a></li>
            <li><a target='_top' href="http://www.yumasun.com/sections/pages-from-the-past/">Pages from the Past</a></li>
            </ul>
            </li>
            <li><a target='_top' class="title" href="http://www.yumasun.com/sections/contests/">Contests</a></li>
            <li>
            <a target='_top' class="title" href="http://www.yumasun.com/sections/opinion/onmymind/">Blogs</a><ul class="sub"><li><a target='_top' href="http://www.yumasun.com/sections/opinion/onmymind/">On My Mind</a></li></ul>
            </li>
            <li>
            <a target='_top' class="title" href="http://www.yumasun.com/sections/socialmedia/">Interact</a><ul class="sub">
            <li><a target='_top' href="http://www.yumasun.com/sections/mobile/">Mobile</a></li>
            <li><a target='_top' href="http://twitter.com/yumasun">Text Alerts</a></li>
            <li><a target='_top' href="http://www.yumasun.com/sections/socialmedia/">Social Media</a></li>
            </ul>
            </li>
            <li>
            <a target='_top' class="title" href="http://www.visitinginyuma.com">Visit</a><ul class="sub">
            <li><a target='_top' href="http://www.EventsInYuma.com" target="_blank">Events</a></li>
            <li><a target='_top' href="http://www.FindItInYuma.com" target="_blank">Businesses</a></li>
            <li><a target='_top' href="http://www.RVparksInYuma.com" target="_blank">RV Parks</a></li>
            <li><a target='_top' href="http://www.couponsinyuma.com">Coupons</a></li>
            <li><a target='_top' href="http://www.yumasun.com/articles/exploring-75160-river-great.html">Maps</a></li>
            <li><a target='_top' href="http://www.yumasun.com/sections/algodones/">Algodones</a></li>
            </ul>
            </li>
          </ul>
        </div><!-- END .fi_menu -->
        <script type="text/javascript">if(navLoad)navLoad();</script>
      </div><!-- END #fi_nav -->
      <div id="funnel" class="fi_funnel">
        <div id="class-menu">
          <ul>
            <li><a target='_top' class="class-tabOff"  id="classtabOne" onMouseOver="classtabber.click(this),changeFrame('frameOne', 'http://www.yumasun.com/common/ad/createAdIframeLinksOnly.php?adName=Featured Jobs&sponsoredName=Featured Employer&lListTitles=Search Jobs,View Job Videos,Career Events,Looking to Hire&lListLinks=http://www.jobsinyuma.com/monster/,http://www.jobsinyuma.com/monster/,http://www.jobsinyuma.com/monster/,http://www.jobsinyuma.com/monster/&spTitle=Feature your job listing here. Call 928-783-4433 or click here.&spLink=http://www.jobsinyuma.com/employer/&domain=yumasun.com&cat=widget/jobs');" href="http://www.jobsinyuma.com/monster/" title="Jobs">Jobs</a></li>
            <li><a target='_top' class="class-tabOff"  id="classtabTwo" onMouseOver="classtabber.click(this),changeFrame('frameOne', 'http://www.yumasun.com/common/ad/createAdIframeLinksOnly.php?adName=Featured Cars&sponsoredName=Featured Dealer&lListTitles=Search Online Inventory,Sell Your Vehicle,Search Auto Classifieds,Research&lListLinks=http://www.carsinyuma.com/,http://www.carsinyuma.com/,http://www.carsinyuma.com/,http://www.carsinyuma.com/&spTitle=Feature your auto listing here. Call 928-783-4433 or email classifieds@yumasun.com&spLink=&domain=yumasun.com&cat=widget/cars');" href="http://www.carsinyuma.com/" title="Autos">Autos</a></li>
            <li><a target='_top' class="class-tabOff"  id="classtabThree" onMouseOver="classtabber.click(this),changeFrame('frameOne', 'http://www.yumasun.com/common/ad/createAdIframeLinksOnly.php?adName=Featured Homes&sponsoredName=Featured Realtor&lListTitles=Search for Homes,Recent Home Listings,Research Tools,Mortgage Calculator&lListLinks=http://www.myyumahome.com/,http://www.myyumahome.com/,http://www.myyumahome.com/,http://www.myyumahome.com/&spTitle=Feature your real estate listing here. Call 928-783-4433 or email classifieds@yumasun.com&spLink=&domain=yumasun.com&cat=widget/homes');" href="http://www.myyumahome.com/" title="Real Estate">Real Estate</a></li>
            <li><a target='_top' class="class-tabOff"  id="classtabFour" onMouseOver="classtabber.click(this),changeFrame('frameOne', 'http://www.yumasun.com/common/ad/createAdIframeLinksOnly.php?adName=Featured Classified&sponsoredName=Featured Advertiser&lListTitles=Buy Stuff,Sell Your Stuff,Announcements,Browse Ads&lListLinks=http://yumasun.kaango.com,http://yumasun.ca.kaango.com/createad,http://yumasun.kaango.com,http://yumasun.kaango.com&spTitle=Feature your listing here. Call 928-783-4433 or email classifieds@yumasun.com&spLink=&domain=yumasun.com&cat=widget/classified');" href="http://yumasun.kaango.com" title="Classifieds">Classifieds</a></li>
            <li><a target='_top' class="class-tabOff"  id="classtabFive" onMouseOver="classtabber.click(this),changeFrame('frameOne', 'http://www.yumasun.com/common/ad/createAdIframeLinksOnly.php?adName=Featured Notices&sponsoredName=&lListTitles=Local Public Notices,Search Public Notices Across Arizona&lListLinks=http://www.yumasun.com/sections/public-notices/,http://www.ananews.com/pubnot/index.html,&spTitle=Feature your listing here. Call 928-783-4433 or email classifieds@yumasun.com&spLink=&domain=yumasun.com&cat=');" href="http://www.yumasun.com/sections/public-notices/" title="Notices">Notices</a></li>
          </ul>
        </div><!-- END #class-menu -->
      </div><!-- END #funnel -->
    </div><!-- END fi_nav_utility -->
    <div class="clear"></div>
  </div><!-- END #fi_innerWrapper --> 
</div><!-- END #fi_wrapper -->