<!-- PUBLISHER FOOTER -->
<div id="fi_wrapper" class="hide-mobile">
<div class="footer">
	    <div class="fi_wide clear marginMidTop">
		<div class="fi_wide_top"></div>

		<div class="fi_adsense">
			
<script type='text/javascript' src='http://common.onset.freedom.com/fi/adsense/?scode=yumasun&amp;placement=section'></script>		</div>
		<div class="fi_wide_bottom clear"></div>
	</div>
    	<div class="fi_wide marginMidTop">
		<div class="fi_wide_top"></div>
		<div class="fi_adsense">
					<div id="google_contentb">

					<form target='_top' name="fisearch2" action="http://www.yumasun.com/search/" method="get" target="_top">
				<div id="google_centerSection">
					<div class="google_padderb">
						
						<div id="google_poweredByb">powered by<br /><img src="http://common.onset.freedom.com/images/searchBox_google_small.gif" width="47" height="14" alt="google" /></div>
						<div id="google_buttonb"><a target='_top' href="javascript:;" onclick="javascript:document.fisearch2.submit()"><img src="http://common.onset.freedom.com/images/btn_search.gif" border="0" alt="Search"></a></div>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Search:</span>

						<input name="q" type="text" class="google_inputTextb" value="" />

						<input name="fistype" type="radio" value="web" /> 
						Web						&nbsp;&nbsp;
						<input name="fistype" type="radio" value="site" checked="checked" /> 
						Site					</div>
				</div>
				</form>
			</div>			</div>
		<div class="fi_wide_bottom clear"></div>

	</div>
	<div class="fi_wide">
				<div class="fi_wide_top"></div>
		<div class="fi_footer2">
			<ul>
				<li><b><a target='_top' href="http://media.yumasun.com/">Advertising Info</a></b></li>
				<li><a target='_top' href="http://yumasun.kaango.com/feCreateAd">Place An Ad</a></li>
				<li><a target='_top' href="http://media.yumasun.com/">Advertise with Us</a></li>

			</ul>
			<ul>
				<li><b>Reader Services</b></li>
				<li><a target='_top' href="http://www.yumasun.com/articles/text-66035-news-app.html">Newsletters/Alerts</a></li>
				<li><a target='_top' href="http://www.yumasun.com/articles/text-66035-news-app.html">E-mail Alerts</a></li>
				<li><a target='_top' href="http://www.yumasun.com/sections/about-us/">About Us</a></li>
				<li><a target='_top' href="http://www.yumasun.com/sections/rss/">RSS Feeds</a> <a target='_top' href="http://www.yumasun.com/sections/rss/"><img align="absmiddle" src="http://www.yumasun.com/common/images/rss.gif" width="36" height="14" border="0"></a></li>

				<li><a target='_top' href="http://www.yumasun.com/sections/articles-map/">Article Map</a></li>
				<li><a target='_top' href="http://print.coupons.com/alink.asp?go=13467eh4510">Coupons</a></li>
			</ul>
			<ul>
				<li><b>Related Sites</b></li>
				<li><a target='_top' href="http://www.eventsinyuma.com/">Events</a></li>
				<li><a target='_top' href="http://www.contestsinyuma.com/">Contests</a></li>

				<li><a target='_top' href="http://www.finditinyuma.com/">Directory</a></li>
				<li><a target='_top' href="http://www.freedompolitics.com">FreedomPolitics.com</a></li>
			</ul>
			<ul>
				<li><b>Help</b></li>
				<li><a target='_top' href="http://www.yumasun.com/sections/report-site-issues/">Report Site Issues</a></li>
				<li><a target='_top' href="http://www.yumasun.com/sections/contactus/">Contact Us</a></li>

			</ul>
		</div>
		<div class="fi_footer">
			<p>Copyright &#169; 2011</p>
			<p>
		        <a target='_top' href="http://www.freedom.com/privacy.html" onclick="window.open('http://www.freedom.com/privacy.html');return false">Privacy Policy</a> |
		        <a target='_top' href="http://www.freedom.com/eula.html" onclick="window.open('http://www.freedom.com/eula.html');return false">User Agreement</a> |
		        <a target='_top' href="http://media.yumasun.com/">Advertising Info</a> |
				<a target='_top' href="http://media.yumasun.com/donations" title="Sponsorships/Donations">Sponsorships/Donations</a> |
		        <a target='_top' href="http://directory.yumasun.com" title="yuma arizona businesses">Yuma Directory</a> |
		        <a target='_top' href="http://www.yumasun.com/sections/sitemap/">Site Map </a>

            </p>
            <p>
		        <a target='_top' href="http://www.carsinyuma.com/">Cars &amp; Autos</a> |
		        <a target='_top' href="http://www.myyumahome.com/">Homes</a>  |
		        <a target='_top' href="http://www.jobsinyuma.com/">Jobs</a>  |
		        <a target='_top' href="http://yumasun.kaango.com">Classifieds</a>  |
		        <a target='_top' href="http://www.yumasun.com/sections/sun-jobs/">Sun Jobs</a>

			</p><img src="http://www.yumasun.com/common/images/freedominc.jpg" alt="Freedom Communications, Inc" width="50" height="49" />
      		<p><a target='_top' href="http://www.freedom.com" target="_blank">Freedom Communications, Inc.</a></p>
		</div>
		<div class="fi_wide_bottom "></div>	</div>
	</div>
	</div>