<div id="banner">

	<%= render :partial => with_theme("shared/account_nav") %>
	<a href="<%= public_deal_of_day_path(@publisher.label) %>" id="banner_link"></a>
	<div class="clear"></div>
	<%= render :partial => with_theme("shared/subscribe_form") %>
</div><!--banner-->   
