<div id="single_column">
      <h1>Feature Your Business</h2>
      <h2>Get New Customers!</h2>
      <p>Attracting customers with internet marketing is a way of finding new customers and of generating loyalty in both new and old customers. We give local business owners an easy and cost effective marketing tool to attract new, loyal customers.  Here at SWFL Deal of the Day we have a risk-free solution to gaining new customers, engaging existing customers and building your brand in the local market. We spread the word about an offer through social media and direct emails to our members, wearing the cost of marketing and promotion.</p>
     <h2>Power in Group Buying</h2>
      <p>Our members have signed up to receive Daily Deal pops into their email Inbox. They want to hear from businesses offering great deals and they even will  share their deals on facebook, twitter and other social networking sites. When they share the daily deals they are also helping spread the word of the great deals and spreading the word about your business. This buzz will continue to attract new customers for months following your deal.</p>
      <h2>How does this benefit my business? We win only if you win</h2>
      <p>The cost to advertise on SWFL Deal of the Day free.  We get paid based upon a percentage of each deal. The cost to acquire new customers with us is much lower than other forms of advertising. After your deals have sold, we will send you a HUGE check with a percentage of the profits from the deal. Your customers are guaranteed, and you have increased your sales, all before spending a dime on the promotion. It's truly a win situation for both!</p>
      <h2>We love our community</h2>
      <p>SWFL Deal of the Day will occasionally allows non-profits to offer their own deals on the site with 10% of the profits going back to the charity. For more information on promoting your Business or Charity as part of the SWFL Deal of the Day program please email us at: <a href="mailto:sales@dealofthedayswfl.com">sales@dealofthedayswfl.com</a></p>

</div><!-- end container -->