<ul id="account_nav">			
	{% if publisher.launched? %}
		{% if publisher.current_user_belongs_to? %}
	<li><a href="{{ publisher.my_account_path }}">My Account</a></li>
	<li><a href="{{ publisher.my_deals_path }}">My Deals</a></li>
	<li class="last"><a href="{{ publisher.logout_path }}">Sign Out</a></li>
		{% else %}
	<li class="last"><a href="{{ publisher.login_path }}">Sign In</a></li>
		{% endif %}
	{% endif %}
</ul><!-- /account_nav -->
<div class="clear"></div>