<div id="footer-bg">

	<div id="footer" class="png">
	
		<div class="l">
			<p>&copy; 2011 TN Marketing, L.L.C. All Rights Reserved. Woodworkers Guild of America &reg;</p>

		</div>
		<div class="r">
			<a target="_top" href="http://www.wwgoa.com/about-us/">About Us</a> 
			<a target="_top" href="http://www.wwgoa.com/about-us/contact-us/">Contact Us</a> 
			<a target="_top" href="http://www.wwgoa.com/about-us/privacy-policy/">Privacy Policy</a>

		</div>
	
	</div>

</div>
