<div id="header-bg">

	<div id="header">
		<div id="shop_deals_logo" alt="SHOP DEALS"></div>	
		<div class="clear"></div>

		<a target="_top" class="home-link png" href="http://www.wwgoa.com/" title="Go to Home">Go to Home</a>
		<div class="clear"></div>
			
	{% include with_theme "shared/account_nav" %}
	{% include with_theme "shared/subscribe_form" %}
	
		<div id="tag_line"><p>WWGOA - The leading destination for woodworking video clips, tips, and techniques.</p>
		</div>	
	
		<div id="top-nav"><ul class=''><li class=' first'>
<a target='_top' rel='1' class=' first' href='http://www.wwgoa.com'>Home</a></li><li class=''>
<a target='_top' rel='783' class='' href='http://www.wwgoa.com/videos/'>Videos</a></li><li class=''>
<a target='_top' rel='747' class='' href='http://www.wwgoa.com/articles/'>Articles</a></li><li class=''>
<a target='_top' rel='786' class='' href='http://www.wwgoa.com/forum/'>Forum</a></li><li class=''>
<a target='_top' rel='565' class='' href='http://www.wwgoa.com/resources/'>Resources</a></li><li class=''>
<a target='_top' rel='758' class='' href='http://www.wwgoa.com/video-articles/'>Video Articles</a></li><li class=' last'>
<a target='_top' rel='763' class=' last' href='http://www.wwgoa.com/shop/'>Store</a></li></ul></div>

	</div>
</div>
