<div id="footer">
	<div class="copy">
		<p><strong>Copyright &copy; 2008-2011 Gazzetta.gr</strong></p>
		<p>Το σύνολο του περιεχομένου και των υπηρεσιών του gazzetta.gr διατίθεται στους επισκέπτες αυστηρά για προσωπική χρήση. Απαγορεύεται η χρήση ή επανεκπομπή του, σε οποιοδήποτε μέσο, μετά ή άνευ επεξεργασίας, χωρίς γραπτή άδεια του εκδότη.</p>
	</div>
	<div class="footernav clearfix">
		<ul>
			<li><a title="Home" href="http://www.gazzetta.gr/">Home</a></li>
			<li><a title="Gazzetta.gr Community" href="http://community.gazzetta.gr/">Gazzetta.gr Community</a></li>
			<li><a title="Επικοινωνία" href="http://www.gazzetta.gr/contact-us">Επικοινωνία</a></li>
			<li><a title="Διαφήμιση" href="http://www.gazzetta.gr/marketing">Διαφήμιση</a></li>
			<li><a title="Στοίχημα" href="http://www.bxpbet.com/">Στοίχημα</a></li>
			<li><a title="Σχετικά με το Gazzetta.gr" href="http://www.gazzetta.gr/page/14920/autoi-eimaste">Σχετικά με το Gazzetta.gr</a></li>
			<li><a title="Twitter" href="http://twitter.com/gazzetta_gr">Twitter</a></li>
			<li class="rss"><a title="RSS Feed" href="http://www.gazzetta.gr/rssfeeds/allnewsfeed">RSS</a></li>
		</ul>
		<div class="credits"><a href="http://www.wedia.gr" title="designed by Wedia" target="_blank">Made by Wedia</a></div>
	</div>
</div>