<div id="container" class="single">
	<div class="boxed">		
		<div class="text">
		  <h2>Contact Us</h2>
		  <p>
			For Customer Service inquiries, reach out to us at
			<a href="mailto:{{ publisher.support_email_address }}">{{ publisher.support_email_address }}</a>
			or call <span style="white-space: nowrap;">1-877-538-4617</span>.
		  </p>
		  <p>
			For advertising information, reach out by email to
			<a href="mailto:{{ publisher.sales_email_address }}">{{ publisher.sales_email_address }}</a>
			or call Mike at <span style="white-space: nowrap;">631-843-2600</span>.
		  </p>                     
		</div>
	</div>
</div>
