<div id="container" class="single">
	<div class="boxed">
		
		<div class="text">
		
		<h2>Frequently Asked Questions</h2>
          <ul id="faq-toc">
            <li><a href="#voucher-expired">What if my voucher has expired?</a></li>
            <li><a href="#return-order">What if there's a problem with, or I want to return, my order?</a></li>
            <li><a href="#running-today">The email I received displays a different deal to the one running today.</a></li>
            <li><a href="#error-message">I can't sign in to my account! My email address "cannot be found" or I'm getting an "Invalid" error message.</a></li>
            <li><a href="#who-contact">I have a specific question about today's deal - who do I contact?</a></li>
            <li><a href="#how-long">How long after I buy a deal can I use the voucher?</a></li>
            <li><a href="#view-print">How do I view/print my voucher and redeem the offer?</a></li>
            <li><a href="#full-value">If I don't use the full value of the voucher in one visit, can I use the remainder later?</a></li>
            <li><a href="#not-showing">My order is not showing up in "My deals" but my credit card was charged. How do I get my voucher?</a></li>
            <li><a href="#really-really">I really, really, REALLY want to buy a daily deal that has closed - can I?</a></li>
            <li><a href="#dont-want">I don't want to receive the daily email alert but I want to keep my daily deal account - how do I unsubscribe?</a></li>
            <li><a href="#how-cancel">How do I cancel my daily deal account?</a></li>
          </ul>
          
      
          <a name="voucher-expired"><h3>What if my voucher has expired?</h3></a>
          <p>If you miss the expiration date on your deal, take heart, all is not lost! While the additional discounts are no longer available, you are still entitled to goods and services equal to the paid value of the voucher. For example, if you spend $25 to buy a $50 voucher for your new favorite restaurant, but are unable to get there before the expiration date, you will still be entitled to $25 of food, drink and good times.</p>
          
          <a name="return-order"><h3>What if there's a problem with, or I want to return, my order?</h3></a>
          <p><strong>All sales are final.</strong> If you have a problem with your purchase, please contact the business first. If you still require assistance, please email us at <a href="mailto:dailydeal@newsday.com">dailydeal@newsday.com</a> within 48 hours of the close of the deal. Requests made after 48 hours cannot be processed due to the limited timeframe of the deals.</p>
          
          <a name="running-today"><h3>The email I received displays a different deal to the one running today.</h3></a>
          <p>Each daily deal runs for a limited time, usually 24 hours. If you're looking at an email that you received prior to today, chances are that deal has already closed.</p>
          
          <a name="error-message"><h3>I can't sign in to my account! My email address "cannot be found" or I'm getting an "Invalid" error message.</h3></a>
          <p>If you have more than one e-mail address and forgot which one you used to create an account, try all of your email addresses until you find the account. Here's a tip:  if you're receiving the daily deal email alert, the address that it's delivered to is probably the email address you used to create your account.</p>
          <p>Another reason you might be receiving an error message when you try to sign in is because you are already signed in at another browser window. Please close all browser windows and try again.</p>
          <p>If you need help with your password: <a href="{{ publisher.password_reset_path }}">reset it here.</a></p>
          
          <a name="who-contact"><h3>I have a specific question about today's deal - who do I contact?</h3></a>
          <p>Please read the <a href="{{ publisher.todays_daily_deal_path }}">Restrictions</a> listed on the deal page carefully. If you still have a question, please contact the company directly at the telephone number listed on the deal page.</p>
          
          <a name="how-long"><h3>How long after I buy a deal can I use the voucher?</h3></a>
          <p>Once the transaction has been completed, you will receive an email with the voucher attached. You can print your voucher at any time. However, you may use the voucher only AFTER the deal is closed and only within the specified terms. Every deal has specific terms (the Fine Print) that is also printed onto your voucher and on your purchase confirmation email, AND on the daily deal site.</p>
          
          <a name="view-print"><h3>How do I view/print my voucher and redeem the offer?</h3></a>
          <p>After you purchase a deal, you will receive an email within minutes of your transaction that contains the voucher. You can print the voucher from there, OR you can view all of your transactions by signing into your daily deal account. Once you are logged in, click on the "My deals" link in the top right corner, next to your name. Any deals that you have purchased will be displayed. If the deal has closed and your voucher is ready to print, you'll also see a PRINT button. Instructions and a map to the business are included on each voucher. You can always go back to your "My deals" page to see your entire purchase history. If you lose a voucher, you can always print it again as long as it hasn't been redeemed. Redeem your voucher by simply going to the location of the deal, unless otherwise listed in the Fine Print.</p>
          
          <a name="full-value"><h3>If I don't use the full value of the voucher in one visit, can I use the remainder later?</h3></a>
          <p>No. Unless otherwise stated, you will not receive credit or cash back for any unused portion of a voucher.</p>
          
          <a name="not-showing"><h3>My order is not showing up in "My deals" but my credit card was charged. How do I get my voucher?</h3></a>
          <p>Please email us at <a href="mailto:dailydeal@newsday.com">dailydeal@newsday.com</a> and provide us with the following information and we'll track down your order and assist you with accessing your voucher:</p>
          <ul style="margin: 0 0 20px 30px">
            <li>The name on the credit card.</li>
            <li>The last four digits of the credit card number.</li>
            <li>The date and amount of the charge.</li>
            <li>The name of the deal you purchased.</li>
          </ul>
          
          <a name="really-really"><h3>I really, really, REALLY want to buy a daily deal that has closed - can I?</h3></a>
          <p>We're really, really, REALLY sorry but once a deal is closed, we're unable to accept any new orders.</p>
          
          <a name="dont-want"><h3>I don't want to receive the daily email alert but I want to keep my daily deal account - how do I unsubscribe?</h3></a>
          <p>At the top of the email alert there is an "Unsubscribe" link. Click on the link to bring up the Unsubscribe web page, and then confirm your request to leave the mailing list by clicking on the "Unsubscribe" button.</p>
          
          <a name="how-cancel"><h3>How do I cancel my daily deal account?</h3></a>
          <p>Please email us at <a href="mailto:dailydeal@newsday.com">dailydeal@newsday.com</a> to request an account cancellation. Please note that once an account has been cancelled, it cannot be reactivated. Your vouchers will still be usable but only accessible while your account is active so please make sure that you print any unused vouchers prior to canceling your account.</p>
          
          <h3>If you have a question that is not answered here, please email us: <a href="mailto:dailydeal@newsday.com">dailydeal@newsday.com</a></h3>

		
		</div>

	</div>
		
</div>