<div id="container" class="single">
	<div class="boxed">		
		<div class="text">
	      <div class="text_column">
	      <h2>Feature Your Business</h2>
	      <div class="more_info" style="float: right; text-align: center;">
    		<p><a href="http://content.presentationengine.com/ieViewer.php?tid=183056">Click for more info</a></p>
    		<a href="http://content.presentationengine.com/ieViewer.php?tid=183056"><img src="/themes/newsday/images/graphics/newsday-daily-deal.png" width="220" /></a>
		</div>
		  <ul>
	      	<li>Promote Your Business</li>
	      	<li>Create a Buzz</li>
	      	<li>Attract New Customers</li>
	      	<li>Build Brand Awareness</li>
	      	<li>Increase Traffic to Your Website</li>
	      	<li>Promote Your Brand Through a Trusted News Source on Long Island</li>
	      	<li>Advertise for FREE</li>
	      	<li>Track Results</li>
	      </ul>
	    </div>
		
		<p>For advertising information, reach out by email to <a href="mailto:Michael.Johnson@newsday.com">Michael.Johnson@newsday.com</a> or call Mike at 631-843-2600.</p>
    </div>
  </div>
</div>