<div id="container" class="single">
	<div class="boxed">
		
		<div class="text">
		
		  <h2>How It Works</h2>
			<h3>Sign Up</h3>
			<p>Each weekday one incredible deal is featured in Newsday and newsday.com as Long Island's daily deal. Sign up now to make sure you never miss out!</p>
		  
			<h3>Buy</h3>
			<p>Click on the "Buy Now" button to purchase the deal before the offer expires. Next, fill out your credit card information and check your email inbox for a confirmation that will direct you to the next step.</p>
		  
			<h3>Share</h3>
			<p>When you find an offer you like, SHARE IT with your friends using Facebook, Twitter or email. </p>
		  
			<h3>Print</h3>
			<p>Once you purchase a deal, your credit card will be charged, and you will receive a printable voucher by email. Print the Newsday daily deal voucher and redeem it before the expiration date to enjoy your deal! You can only redeem your deal by having your voucher in hand, which includes its own unique 8-digit code. </p>
		  
			<h3>Enjoy</h3>
			<p>Take the daily deal to the store or merchant any time before the expiration date to enjoy the fruits of your labor.</p>
		
		  
			<h3>Fine Print</h3>
			<ul>
				<li>Not valid for cash back.</li>
				<li>Cannot be combined with other offers.</li>
				<li>Must be used in one visit.</li>
				<li>Does not cover tax or gratuity.</li>
			</ul>	

		
		</div>

	</div>
		
</div>