<% set_daily_deal_page_title_slug "Thank You For Subscribing" %>

<div class="page_row">
  <div class="page_column_12 first rounded_corners signup">
    <h2>Thank You</h2>
    <p>You are now subscribed to the free daily deal alert email. You can un-subscribe at any time by clicking the opt-out link in any daily deal email.</p>
    <p><%= link_to("Back to the Deal", public_deal_of_day_path(@publisher.label)) %></p>
  </div>
</div>
