<div id="container" class="single">
	<div class="boxed">		
		<div class="text">
			<h2>Thank You</h2>
			<p>You are now subscribed to the free daily deal alert email. You can un-subscribe at any time by clicking the opt-out link in any daily deal email.</p>
			<p><a href="{{ publisher.todays_daily_deal_path }}">Back to deal</a></p>
	  </div>
	</div>
</div>
