<div id="container" class="single">
	<div class="boxed">
		
		<div class="text">


		<h2>TERMS</h1>
		<p>Last updated: May 01, 2010</p>
		
		<p><b>IMPORTANT: ALL USERS MUST READ THIS SECTION</b></p>
		
		<p>This is a summary of our terms,
		conditions and privacy policies. For our complete terms and conditions,
		please read below and visit our Privacy Policy. <br></p>
		<ul type="DISC">
		  <li>Your privacy is
		  important to us and we will protect it. We will not share your personal
		  information with anyone other than those listed in our Privacy Policy.</li>
		  <li>As a condition of
		  purchase, Analog Analytics requires your permission to send you administrative
		  and promotional emails. We will send you information regarding your
		  account activity and purchases, as well as updates about our products
		  and promotional offers. You can opt-out of our promotional emails anytime
		  by clicking the unsubscribe link at the bottom of any of our email correspondences.
		  Please see our Privacy Policy for details.</li>
		  <li>By placing an order,
		  you make an offer to us to purchase products you have selected based
		  on standard Analog Analytics restrictions, merchant-specific restrictions,
		  and on the terms and conditions stated below. </li>
		  <li>You are required
		  to create an account in order to purchase any product from our site.
		  This is required so we can provide you with easy access to print your
		  orders, view your past purchases, and modify your preferences.</li>
		  <li>Analog Analytics
		  takes no responsibility for the services or products for which Analog
		  Analytics vouchers (hereinafter “vouchers”) may be redeemed –
		  Analog Analytics makes no warranty to the Analog Analytics End Users
		  for the quality, safety, usability, or other aspect of the product or
		  service for which the voucher is redeemed. Some services for which Analog
		  Analytics voucher can be redeemed are activities that involve potential
		  bodily harm, and for those activities, Analog Analytics takes no responsibility
		  for the service or activity being offered, and the End User takes responsibility
		  for his or her own actions in utilizing the services for which the vouchers
		  can be redeemed. See Section 7, below, for more information on this
		  limitation of Analog Analytics’ liability.</li>
		
		  <li>The voucher you
		  purchase is redeemable for goods or services by the seller of such goods
		  and services, hereinafter defined as &quot;Merchant.&quot; The Merchant,
		  not Analog Analytics, is the seller of the goods and services. Analog
		  Analytics sells a voucher that can be redeemed in connection with your
		  purchase of the goods or services from Merchant.</li>
		  <li>If you have any
		  questions about these terms, please contact Analog Analytics.</li>
		</ul>
		<p>To read the complete Analog
		Analytics Terms and Conditions, please see below. <br>
		</p>
		
		<p><b>
		IMPORTANT: ALL USERS MUST READ THIS SECTION</b> <br></p>
		<p>ANALOG ANALYTICS INC. <br>
		</p>
		<p><b>ACCEPTANCE OF TERMS AND
		CONDITIONS</b></p>
		<p>By using this site (the &quot;Site&quot;),
		you (&quot;you&quot; or the &quot;End User&quot;) agree to the terms
		and conditions that we (&quot;Analog Analytics&quot;) have provided.
		If you do not wish to agree to the outlined terms and conditions (the
		
		&quot;Terms of Use&quot; or &quot;Agreement&quot;), please refrain from
		using the Site. </p>
		<p>Analog Analytics reserves the
		right to make any changes to our Terms of Use and/or our Privacy Policy
		(which is incorporated herein by reference) as we deem necessary or
		desirable without prior notification to you. We suggest to you, therefore,
		that you re-read this important notice containing our Terms of Use and
		Privacy Policy from time to time in order that you stay informed as
		to any such changes. If we make changes to our Terms of Use and Privacy
		Policy and you continue to use our Site, you are impliedly agreeing
		to the Terms of Use and Privacy Policy expressed herein. <br>
		</p>
		<p><b>I. TERMS OF USE</b></p>
		<p><b>1. Definitions.</b></p>
		<p>&quot;Analog Analytics&quot;
		provides an interactive online service operated by Analog Analytics
		Inc. (herein referred to as “Analog Analytics”) on the World Wide
		Web of the Internet (the &quot;Web&quot;), consisting of information
		services, content and transaction capabilities provided by Analog Analytics,
		affiliates of Analog Analytics, customers of Analog Analytics and other
		third parties. <br></p>
		
		<p><b>2. General.</b></p>
		<p>This Agreement sets forth the
		terms and conditions that apply to the use of this Site by the End User.
		By using this Site (other than to read this Agreement for the first
		time), End User agrees to comply with all of the terms and conditions
		hereof. The right to use this Site is personal to End-User and is not
		transferable to any other person or entity. End User shall be responsible
		for protecting the confidentiality of End User&#39;s password(s), if any.
		End User acknowledges that, although the Internet is often a secure
		environment, sometimes there are interruptions in service or events
		that are beyond the control of Analog Analytics, and Analog Analytics
		shall not be responsible for any data lost while transmitting information
		on the Internet. While it is Analog Analytics’ objective is to make
		the Site accessible 24 hours per day, 7 days per week, the Site may
		be unavailable from time to time for any reason including, without limitation,
		routine maintenance. You understand and acknowledge that due to circumstances
		both within and outside of the control of Analog Analytics, access to
		the Site may be interrupted, suspended or terminated from time to time. <br>
		</p>
		<p>Analog Analytics shall have
		the right at any time to change or discontinue any aspect or feature
		of Analog Analytics, including, but not limited to, content, hours of
		availability and equipment needed for access or use. Further, Analog
		Analytics may discontinue disseminating any portion of information or
		category of information, may change or eliminate any transmission method
		and may change transmission speeds or other signal characteristics. <br>
		</p>
		<p><b>3. Modified Terms.</b></p>
		<p>Analog Analytics reserves the
		right at all times to discontinue or modify any of our Terms of Use
		and/or our Privacy Policy as we deem necessary or desirable without
		prior notification to you. Such changes may include, among other things,
		the adding of certain fees or charges. We suggest to you, therefore,
		that you re-read this important notice containing our Terms of Use and
		Privacy Policy from time to time in order that you stay informed as
		to any such changes. If we make changes to our Terms of Use and Privacy
		Policy and you continue to use our Site, you are impliedly agreeing
		to the Terms of Use and Privacy Policy expressed herein. Any such deletions
		or modifications shall be effective immediately upon Analog Analytics&#39;s
		posting thereof. Any use of Analog Analytics by End User after such
		notice shall be deemed to constitute acceptance by End User of such
		modifications. <br></p>
		
		<p><b>4. Equipment.</b></p>
		<p>End User shall be responsible
		for obtaining and maintaining all telephone, computer hardware and other
		equipment needed for access to and use of this Site and all charges
		related thereto. Analog Analytics shall not be liable for any damages
		to the End User&#39;s equipment resulting from the use of this Site. <br>
		</p>
		<p><b>5. End User Conduct.</b></p>
		<p>This Site and any individual
		sites, publisher sites, advertiser sites or merchant-specific, city-specific,
		or state-specific sites now or hereinafter contained within or otherwise
		available through external hyperlinks with our Site (the &quot;Third
		Party Sites&quot;) are private property. All interactions on this Site
		and/or the Third Party Sites must comply with these Terms of Use. Although
		we welcome and encourage user interaction on our Site, we do insist
		and require that all end users restrict any and all activity in connection
		with the use of this Site and the Third Party Sites to that which involves
		lawful purposes only. End User shall not post or transmit through this
		Site any material which violates or infringes in any way upon the rights
		of others, or any material which is unlawful, threatening, abusive,
		defamatory, invasive of privacy or publicity rights, vulgar, obscene,
		profane or otherwise objectionable, which encourages conduct that would
		constitute a criminal offense, give rise to civil liability or otherwise
		violate any law, or which, without Analog Analytics&#39;s express prior,
		written approval, contains advertising or any solicitation with respect
		to products or services. Any conduct by an End User that in Analog Analytics&#39;
		exclusive discretion restricts or inhibits any other End User from using
		or enjoying this Site and/or any of the Third Party Sites is strictly
		prohibited. End User shall not use this Site or any of the Third Party
		Sites to advertise or perform any commercial, religious, political or
		non-commercial solicitation, including, but not limited to, the solicitation
		of users of this Site and/or the Third Party Sites to become users of
		other on- or offline services directly or indirectly competitive or
		potentially competitive with Analog Analytics. <br></p>
		
		<p>The foregoing provisions of
		this Section 5 apply equally to and are for the benefit of Analog Analytics,
		its subsidiaries, affiliates and its third party content providers and
		licensors, and each shall have the right to assert and enforce such
		provisions directly or on its own behalf. <br> <br>
		</p>
		<p><b>6. Copyright and Trademarks.</b></p>
		<p>Everything located on or in
		this Site, including the Third Party Sites, is the exclusive property
		of Analog Analytics Inc. or used with express permission of the copyright
		and/or trademark owner. ANY COPYING, DISTRIBUTING, TRANSMITTING, POSTING,
		LINKING, DEEP LINKING, OR OTHERWISE MODIFYING OF THIS SITE OR ANY OF
		THE THIRD PARTY SITES WITHOUT THE EXPRESS WRITTEN PERMISSION OF ANALOG
		ANALYTICS, INC. IS STRICTLY PROHIBITED. Any violation of this policy
		may result in a copyright, trademark or other intellectual property
		right infringement that may subject End User to civil and / or criminal
		penalties. <br></p>
		<p>This Site contains copyrighted
		material, trademarks and other proprietary information, including, but
		not limited to, text, software, photos, video, graphics, music, sound,
		and the entire contents of Analog Analytics protected by copyright as
		a collective work under the United States copyright laws. Analog Analytics
		owns a copyright in the selection, coordination, arrangement and enhancement
		of such content, as well as in the content original to it. End User
		may not modify, publish, transmit, participate in the transfer or sale,
		create derivative works, or in any way exploit, any of the content,
		in whole or in part. End User may download / print / save copyrighted
		material for End User&#39;s personal use only. Except as otherwise expressly
		stated under copyright law, no copying, redistribution, retransmission,
		publication or commercial exploitation of downloaded material without
		the express permission of Analog Analytics and the copyright owner is
		permitted. If copying, redistribution or publication of copyrighted
		material is permitted, no changes in or deletion of author attribution,
		trademark legend or copyright notice shall be made. End User acknowledges
		that he/she/it does not acquire any ownership rights by downloading
		copyrighted material. Trademarks that are located within or on the Site
		or a Web site otherwise owned or operated in conjunction with Analog
		Analytics shall not be deemed to be in the public domain but rather
		the exclusive property of Analog Analytics, unless such site is under
		license from the Trademark owner thereof in which case such license
		is for the exclusive benefit and use of Analog Analytics, unless otherwise
		stated. <br></p>
		<p>End User shall not upload,
		post or otherwise make available on this Site any material protected
		by copyright, trademark or other proprietary right without the express
		permission of the owner of the copyright, trademark or other proprietary
		right. Analog Analytics does not have any express burden or responsibility
		to provide End User with indications, markings or anything else that
		may aid End User in determining whether the material in question is
		copyrighted or trademarked. End User shall be solely liable for any
		damage resulting from any infringement of copyrights, trademarks, proprietary
		rights or any other harm resulting from such a submission. By submitting
		material to any public area of this Site, End User warrants that the
		owner of such material has expressly granted Analog Analytics the royalty-free,
		perpetual, irrevocable, non-exclusive right and license to use, reproduce,
		modify, adapt, publish, translate and distribute such material (in whole
		or in part) worldwide and/or to incorporate it in other works in any
		form, media or technology now known or hereafter developed for the full
		term of any copyright that may exist in such material. End User also
		permits any other end user to access, view, store or reproduce the material
		for that end user&#39;s personal use. End User hereby grants Analog Analytics
		the right to edit, copy, publish and distribute any material made available
		on this Site by End User. <br></p>
		
		<p>The foregoing provisions of
		Section 6 apply equally to and are for the benefit of Analog Analytics,
		its subsidiaries, affiliates and its third party content providers and
		licensors and each shall have the right to assert and enforce such provisions
		directly or on its own behalf. <br></p>
		<p><b>7. Disclaimer of Warranty;
		Limitation of Liability.</b></p>
		<p>END USER EXPRESSLY AGREES THAT
		USE OF THIS SITE AND THE THIRD PARTY SITES IS AT END USER&#39;S SOLE RISK.
		NEITHER ANALOG ANALYTICS, ITS AFFILIATES NOR ANY OF THEIR RESPECTIVE
		EMPLOYEES, AGENTS, THIRD PARTY CONTENT PROVIDERS OR LICENSORS WARRANT
		THAT USE OF THE SITE WILL BE UNINTERRUPTED OR ERROR FREE; NOR DO THEY
		MAKE ANY WARRANTY AS TO (I) THE RESULTS THAT MAY BE OBTAINED FROM USE
		OF THIS SITE, OR (II) THE ACCURACY, RELIABILITY OR CONTENT OF ANY INFORMATION,
		SERVICE OR MERCHANDISE PROVIDED THROUGH THIS SITE OR THE THIRD PARTY
		SITES.</p>
		<p>THIS SITE AND THE THIRD PARTY
		SITES ARE MADE ACCESSIBLE ON AN &quot;AS IS&quot; BASIS WITHOUT WARRANTIES
		OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO,
		WARRANTIES OF TITLE OR IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS
		FOR A PARTICULAR PURPOSE, OTHER THAN THOSE WARRANTIES WHICH ARE IMPLIED
		BY AND INCAPABLE OF EXCLUSION, RESTRICTION OR MODIFICATION UNDER THE
		LAWS APPLICABLE TO THIS AGREEMENT. <br></p>
		<p>THIS DISCLAIMER OF LIABILITY
		APPLIES TO ANY DAMAGES OR INJURY CAUSED BY ANY FAILURE OF PERFORMANCE,
		ERROR, OMISSION, INTERRUPTION, DELETION, DEFECT, DELAY IN OPERATION
		OR TRANSMISSION, COMPUTER VIRUS, COMMUNICATION LINE FAILURE, THEFT OR
		DESTRUCTION OR UNAUTHORIZED ACCESS TO, ALTERATION OF, OR USE OF RECORD,
		WHETHER FOR BREACH OF CONTRACT, TORTIOUS BEHAVIOR, NEGLIGENCE, OR UNDER
		ANY OTHER CAUSE OF ACTION. END USER SPECIFICALLY ACKNOWLEDGES THAT ANALOG
		ANALYTICS IS NOT LIABLE FOR THE DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT
		OF OTHER USERS OR THIRD-PARTIES AND THAT THE RISK OF INJURY FROM THE
		FOREGOING RESTS ENTIRELY WITH END USER. <br></p>
		
		<p>IN NO EVENT SHALL ANALOG ANALYTICS,
		OR ANY PERSON OR ENTITY INVOLVED IN CREATING, PRODUCING OR DISTRIBUTING
		THIS SITE OR THE CONTENTS HEREOF, INCLUDING THE THIRD PARTY SITES AND
		ANY SOFTWARE, BE LIABLE FOR ANY DAMAGES, INCLUDING, WITHOUT LIMITATION,
		DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES
		ARISING OUT OF THE USE OF OR INABILITY TO USE THIS SITE. END USER HEREBY
		ACKNOWLEDGES THAT THE PROVISIONS OF THIS SECTION SHALL APPLY TO ALL
		CONTENT ON THIS SITE AND THE THIRD PARTY SITES. <br></p>
		<p>IN ADDITION TO THE TERMS SET
		FORTH ABOVE, NEITHER ANALOG ANALYTICS, NOR ITS AFFILIATES, INFORMATION
		PROVIDERS OR CONTENT PARTNERS SHALL BE LIABLE REGARDLESS OF THE CAUSE
		OR DURATION, FOR ANY ERRORS, INACCURACIES, OMISSIONS, OR OTHER DEFECTS
		IN, OR UNTIMELINESS OR UNAUTHENTICITY OF, THE INFORMATION CONTAINED
		WITHIN THIS SITE OR ANY OF THE THIRD PARTY SITES, OR FOR ANY DELAY OR
		INTERRUPTION IN THE TRANSMISSION THEREOF TO THE END USER, OR FOR ANY
		CLAIMS OR LOSSES ARISING THEREFROM OR OCCASIONED THEREBY. NONE OF THE
		FOREGOING PARTIES SHALL BE LIABLE FOR ANY THIRD-PARTY CLAIMS OR LOSSES
		OF ANY NATURE, INCLUDING WITHOUT LIMITATION LOST PROFITS, PUNITIVE OR
		CONSEQUENTIAL DAMAGES. <br></p>
		<p>ANALOG ANALYTICS IS NOT RESPONSIBLE
		FOR ANY CONTENT THAT A USER, SUBSCRIBER, OR AN UNAUTHORIZED USER MAY
		POST ON THIS SITE OR ANY OF THE THIRD PARTY SITES. ANY CONTENT THAT
		IS POSTED OR UPLOADED THAT IS OR MAY BE DEEMED UNSUITABLE CAN AND MAY
		BE TAKEN DOWN BY ANALOG ANALYTICS. MOREOVER, ANALOG ANALYTICS RESERVES
		THE RIGHT TO EDIT, CHANGE, ALTER, DELETE AND PROHIBIT ANY AND ALL CONTENT
		THAT IT, ANALOG ANALYTICS, DEEMS UNSUITABLE.  <br></p>
		<p><b>8. Monitoring.</b></p>
		<p>Analog Analytics shall have
		the right, but not the obligation, to monitor the content of the Site
		at all times, including any chat rooms and forums that may hereinafter
		be included as part of the Site, to determine compliance with this Agreement
		and any operating rules established by Analog Analytics, as well as
		to satisfy any applicable law, regulation or authorized government request.
		Without limiting the foregoing, Analog Analytics shall have the right
		to remove any material that Analog Analytics, in its sole discretion,
		finds to be in violation of the provisions hereof or otherwise objectionable.  <br>
		</p>
		<p><b>9. Privacy.</b></p>
		
		<p>End User acknowledges that
		all discussion for ratings, comments, bulletin board service, chat rooms
		and/or other message or communication facilities (collectively &quot;Communities&quot;)
		are public and not private communications, and that, therefore, others
		may read End User&#39;s communications without End User&#39;s knowledge. Analog
		Analytics does not control or endorse the content, messages or information
		found in any Community, and, therefore, Analog Analytics specifically
		disclaims any liability concerning the Communities and any actions resulting
		from End Users participation in any Community, including any objectionable
		content. Generally, any communication which End User posts to Analog
		Analytics (whether in chat rooms, discussion groups, message boards
		or otherwise) is considered to be non-confidential. If particular web
		pages permit the submission of communications that will be treated by
		Analog Analytics as confidential, that fact will be stated on those
		pages. By posting comments, messages or other information on the Site,
		End User grants Analog Analytics the right to use such comments, messages
		or information for promotions, advertising, market research or any other
		lawful purpose. For more information see Analog Analytics’ Privacy
		Policy. <br></p>
		<p><b>10. License Grant.</b></p>
		<p>By posting communications on
		or through this Site, End User shall be deemed to have granted to Analog
		Analytics a royalty-free, perpetual, irrevocable, non-exclusive license
		to use, reproduce, modify, publish, edit, translate, distribute, perform,
		and display the communication alone or as part of other works in any
		form, media, or technology whether now known or hereafter developed,
		and to sublicense such rights through multiple tiers of sublicensees.</p>
		<p><b>11. Indemnification.</b></p>
		<p>End User agrees to defend,
		indemnify and hold harmless Analog Analytics, its affiliates and their
		respective directors, officers, employees and agents from and against
		all claims and expenses, including attorneys&#39; fees, arising out of the
		use of this Site and/or the Third Party Sites by End User. <br>
		
		</p>
		<p><b>12. Termination.</b></p>
		<p>Analog Analytics may terminate
		this Agreement at any time. Without limiting the foregoing, Analog Analytics
		shall have the right to immediately terminate any passwords or accounts
		of End User in the event of any conduct by End User which Analog Analytics,
		in its sole discretion, considers to be unacceptable, or in the event
		of any breach by End User of this Agreement. The provisions of Sections
		3, 5, 6, 7, 10, 11, 12 will survive termination of this Agreement. <br>
		</p>
		<p><b>13. Trademarks.</b></p>
		<p>Analog Analytics and Bigger
		Better Deal are trademarks of Analog Analytics, Inc. All rights in respect
		of this trademark are hereby expressly reserved. Unless otherwise indicated,
		all other trademarks appearing on Analog Analytics are the property
		of their respective owners. <br></p>
		<p><b>14. Third Party Content.</b></p>
		<p>Analog Analytics, similar to
		an Internet Service Provider, is a distributor (and not a publisher)
		of content supplied by third parties and End Users. Accordingly, Analog
		Analytics has no more editorial control over such content than does
		a public library, bookstore or newsstand. Any opinions, advice, statements,
		services, offers, or other information or content expressed or made
		available by third parties, including information providers, or any
		other end users are those of the respective author(s) or distributors)
		and not of Analog Analytics. Neither Analog Analytics nor any third-party
		provider of information guarantees the accuracy, completeness, or usefulness
		of any content, nor its merchantability or fitness for any particular
		purpose. (Refer to Section 6 above for the complete provisions governing
		limitation of liabilities and disclaimers of warranty.) <br>
		
		</p>
		<p>In many instances, the content
		available through this Site represents the opinions and judgments of
		the respective information provider, end user, or other user not under
		contract with Analog Analytics. Analog Analytics neither endorses nor
		is responsible for the accuracy or reliability of any opinion, advice,
		or statement made on Analog Analytics by anyone other than authorized
		Analog Analytics employee spokespersons while acting in official capacities.
		Under no circumstances will Analog Analytics be liable for any loss
		or damage caused by an end user&#39;s reliance on information obtained through
		Analog Analytics. It is the responsibility of End User to evaluate the
		accuracy, completeness, or usefulness of any information, opinion, advice,
		etc., or other content available through Analog Analytics. <br>
		</p>
		<p>Analog Analytics contains links
		to third party Web sites maintained by other content providers. These
		links are provided solely as a convenience to you and not as an endorsement
		by Analog Analytics of the contents on such third-party sites and Analog
		Analytics hereby expressly disclaims any representations regarding the
		content or accuracy of materials on such third-party Web sites. If End
		User decides to access linked third-party Web sites, End User does so
		at its own risk. Unless you have executed a written agreement with Analog
		Analytics expressly permitting you to do so, you may not provide a hyperlink
		to the Site from any other website. Analog Analytics reserves the right
		to revoke its consent to any link at any time in its sole discretion. <br>
		</p>
		<p><b>15. Miscellaneous.</b></p>
		<p>This Agreement and any operating
		rules for vouchers established by Analog Analytics constitute the entire
		agreement of the parties with respect to the subject matter hereof.
		No waiver by either party of any breach or default hereunder is a waiver
		of any preceding or subsequent breach or default. The section headings
		used herein are for convenience only and shall be of no legal force
		or effect. If any provision of this Agreement is held invalid by a court
		of competent jurisdiction, such invalidity shall not affect the enforceability
		of any other provisions contained in this Agreement and the remaining
		portions of this Agreement shall continue in full force and effect.
		The failure of either party to exercise any of its rights under this
		Agreement shall not be deemed a waiver or forfeiture of such rights
		or any other rights provided hereunder. <br></p>
		<p>Analog Analytics&#39;s headquarters
		are in San Diego, California. Legal issues arising out of, but not exclusive
		to the use of, this Site or the Third Party Sites (unless otherwise
		specifically stated) are governed by and in accordance with the laws
		of the State of California (exclusive of its rules regarding conflicts
		of laws). By using this Site, End User agrees that any dispute or claim
		arising out of or in connection with this Agreement or the performance,
		breach or termination thereof, or the Site or any Third Party Site,
		shall be finally settled by arbitration in San Diego, California under
		the rules of arbitration of the American Arbitration Association. <br>
		
		</p>
		<p>For Florida residents purchasing
		vouchers where the Merchant is a healthcare provider: The patient and
		any other person responsible for payment has a right to refuse to pay,
		cancel payment or be reimbursed for payment for any service, examination
		or treatment that is performed as a result of and within 72 hours of
		responding to the advertisement for the free, discounted fee or reduced
		fee service, examination or treatment. In most states, businesses not
		exclusively owned by physicians are prohibited from practicing medicine. <br>
		</p>
		<p> <br></p>
		<p><b>
		II. TERMS OF SALE</b></p>
		<p>By placing an Order, you make
		an offer to Analog Analytics or any of our publishers, advertisers or
		other third party customers and vendors to purchase the vouchers you
		have selected on the terms and conditions stated below. For more information,
		please view our privacy policy.  <br></p>
		<p>You are required to create
		an account in order to purchase any product. This is required so we
		can provide you with easy access to print your orders, view your past
		purchases, modify your preferences, and to ensure permissible use of
		the product.  <br></p>
		<p>Vouchers you purchase are redeemable
		for goods or services by the seller of such goods and services, hereinafter
		defined as &quot;Merchant.&quot; The Merchant, not Analog Analytics
		nor any of our publishers, advertisers or other third party customers
		and vendors, is the seller of the goods and services and is solely responsible
		for redeeming any Analog Analytics voucher that you purchase. Analog
		Analytics, through our publishers, advertisers or other third party
		customers and vendors, sells a voucher that can be redeemed in connection
		with your purchase of the goods or services from Merchant. <br>
		
		</p>
		<p><b>1. Terms and Conditions
		for Restaurant-Specific Vouchers</b></p>
		<p>For this section, Restaurant
		shall be defined as a merchant who offers food and beverage for sale
		in its regular business operations, and is making such food and beverages
		available to purchasers of Analog Analytics vouchers.  <br>
		</p>
		<ul type="DISC">
		  <li>Redemption frequency
		  is determined by restaurants, and shall be contained in the voucher
		  offer. </li>
		  <li>Use of Restaurant-Specific
		  Vouchers for alcoholic beverages is at the sole discretion of the restaurant.
		  Restaurant agrees to comply with all state laws pertaining to the same. </li>
		  <li>It is at the discretion
		  of the restaurant to determine whether Analog Analytics vouchers can
		  be combined with any other restaurant vouchers, third party certificates,
		  coupons, or promotions. </li>
		
		  <li>Restaurant-Specific
		  Vouchers cannot be used for taxes, tips or prior balances, unless permitted
		  by the Restaurant. </li>
		  <li>Valid for dine in
		  only unless otherwise stated. </li>
		  <li>The issuing of restaurant
		  credit is at the sole discretion of the restaurant unless otherwise
		  required by law. </li>
		  <li>Neither the seller
		  nor the restaurant is responsible for lost or stolen vouchers or restaurant
		  voucher reference numbers. </li>
		  <li>Reproduction, sale
		  or trade of this Restaurant-Specific Voucher is prohibited unless done
		  so in compliance with the law. </li>
		  <li>Any attempted redemption
		  not consistent with these terms &amp; conditions will render the Restaurant-Specific
		  Voucher void. </li>
		
		  <li>Void to the extent
		  prohibited by law.</li>
		  <li>The Analog Analytics
		  offer (including, but not limited to, any discounts) expires on the
		  date specified on the Analog Analytics voucher, except that the Merchant
		  may continue to redeem the unused cash value you paid for the Analog
		  Analytics (which is usually less than the original face value of the
		  Analog Analytics) to the extent required by applicable law. See Section
		  3 below for a more detailed explanation. </li>
		  <li>If you redeem the
		  voucher for less than its face value, you will not be entitled to a
		  credit, cash or new voucher equal to the difference between the face
		  value and the amount you redeemed, unless otherwise required by law.
		  You will only be entitled to a continuing redemption value as noted
		  above if the amount that you paid for the voucher exceeds the amount
		  you redeemed. For example, if you paid $20 for a voucher which entitles
		  you to purchase $50 of product by June 30, 2010 and you make a purchase
		  for $40 on June 1, 2010, you will not be entitled to a credit or cash
		  equal to the difference between the $50 face value and the amount you
		  redeemed. You will not have any redemption value either because the
		  amount you redeemed is more than what you paid for the Analog Analytics. </li>
		  <li>All purchases of
		  vouchers for Restaurants may have statutory limitations on the amount
		  of the voucher value that can be redeemed for alcoholic beverages. For
		  example, for customers purchasing vouchers for Restaurants in Ohio,
		  the redemption of the Analog Analytics voucher may be subject to the
		  limitations imposed by the Ohio Revised Code Title [43] XLIII, Section
		  4301.01, which imposes a limitation of redeeming vouchers at restaurants
		  that serve both food and alcoholic and intoxicating liquor beverages,
		  such that the redemption of such voucher can only be applied to alcoholic
		  and intoxicating liquor beverages for up to 30% of the value of the
		  voucher. Compliance with state statutes or codes (for example, the Ohio
		  Revised Code) is the responsibility of the Merchant. Analog Analytics’s
		  sole role in the transaction is as a marketing agent for the Merchant
		  voucher, and the applicability and compliance with any relevant statute
		  or code is solely determined and consummated by the Merchant, and Analog
		  Analytics has no role in such determination or action on the part of
		  the Merchant.</li>
		</ul>
		 <br>
		<p><b>2. Terms and Conditions
		for Non-Restaurant Merchant Vouchers</b></p>
		
		<ul type="DISC">
		  <li>Merchant Voucher
		  may be applied only to merchandise sold by merchant, and may not be
		  applied to shipping or handling charges. </li>
		  <li>Limit one (1) voucher
		  per redemption. Only one voucher can be used per order unless otherwise
		  specified by merchant. </li>
		  <li>The issuing of credit
		  is at the sole discretion of the merchant unless otherwise required
		  by law.</li>
		  <li>Neither the seller
		  nor the merchant is responsible for lost or stolen voucher or voucher&#39;s
		  reference number. </li>
		  <li>Voucher cannot be
		  combined with any other vouchers, third party certificates, coupons,
		  or promotions, unless otherwise specified by merchant. </li>
		
		  <li>Reproduction, sale
		  or trade of this voucher is prohibited unless done so in compliance
		  with the law. </li>
		  <li>Any attempted redemption
		  not consistent with these terms and conditions will render the voucher
		  null and void. </li>
		  <li>Void to the extent
		  prohibited by law. </li>
		  <li>The Analog Analytics
		  voucher offer (including, but not limited to, any discounts) expires
		  on the date specified on the Analog Analytics voucher, except that the
		  Merchant may continue to redeem the unused cash amount you paid for
		  the Analog Analytics (which is usually less than the original face value
		  of the Analog Analytics) to the extent required by applicable law. See
		  section 3 for a more detailed explanation.</li>
		  <li>If you redeem the
		  Analog Analytics for less than its face value, you will not be entitled
		  to a credit, cash or a new Analog Analytics equal to the difference
		  between the face value and the amount you redeemed, unless otherwise
		  required by law. You will only be entitled to a continuing redemption
		  value as noted above if the amount that you paid for the Analog Analytics
		  voucher exceeds the amount you redeemed. For example, if you paid $20
		  for Analog Analytics voucher which entitles you to purchase $50 of product
		  by June 30, 2010 and you make a purchase for $40 on June 1, 2010, you
		  will not be entitled to a credit or cash equal to the difference between
		  the $50 face value and the amount you redeemed. You will not have any
		  redemption value either because the amount you redeemed is more than
		  what you paid for the Analog Analytics.</li>
		</ul>
		
		 <br>
		<p><b>3. Additional Terms and
		Conditions for All Analog Analytics Products</b></p>
		<p>All vouchers printed from the
		Analog Analytics website or any website associated with Analog Analytics,
		including any of our publishers, advertisers or other third party customers
		and vendors,  are promotional vouchers that are offered to customers
		below their face value and shall be subject to the terms and conditions
		of Analog Analytics and the participating Restaurant or merchant. The
		Merchant is the seller of the goods or services which you are purchasing.</p>
		<p>The holder and issuer of a
		Restaurant-Specific Voucher is the restaurant. The holder and issuer
		of a Merchant Voucher is the merchant. As a holder and issuer of the
		Voucher, the restaurant or merchant shall be fully responsible for any
		and all injuries, illnesses, damages, claims, liabilities and costs
		suffered by or in respect of a customer, caused in whole or in part
		by the restaurant or the merchant, as well as for any unclaimed property
		liability arising from unredeemed Vouchers. Restaurant-Specific Vouchers
		and Merchant Vouchers are redeemable in their entirety only and may
		not be redeemed incrementally.  According to the laws of the respective
		states in which you purchased your Analog Analytics’ voucher, and
		in which you wish to redeem your Analog Analytics’ voucher at the
		Merchant, the Merchant is responsible for allowing you to redeem your
		Analog Analytics’ voucher for the cash value based on the money you
		actually paid for your Analog Analytics’ voucher (i.e. if you paid
		$20 for a Analog Analytics’ voucher which gives you $50 of value to
		the Merchant, the cash value that you paid is $20, not $50), for a period
		of time that may extend beyond the expiration date on the voucher. While
		the expiration date on the Analog Analytics’ voucher dictates the
		last date that you can use your voucher at Merchant for the promotional
		offer which is stated on the Analog Analytics’ voucher, state laws
		(which vary state-by-state, and which are generally made available by
		each State on the web) may provide that the Merchant is responsible
		for honoring the cash value that you paid for your Analog Analytics’
		voucher for a period of time beyond the expiration date stated on the
		voucher. If applicable, this is a statutory provision which applies
		to the Merchant, and it is the sole responsibility of the Merchant (and
		in no way the responsibility of Analog Analytics or any third party
		publisher, as Analog Analytics and the third party publisher is not
		the Merchant, has no obligations of the Merchant, and is merely selling
		the promotional voucher on behalf of the Merchant) to comply with such
		applicable laws and statutes which may govern the Merchant.</p>

		</div>
	</div>
</div>
