<div>
  <a href="http://www.sportsradio1250.com/" target="_blank"><img src="/themes/<%= @publisher.label %>/images/stations/1250.png" alt="WSSP 1250"></a>
  <a href="http://www.1037kissfm.com/" target="_blank"><img src="/themes/<%= @publisher.label %>/images/stations/kiss.png" alt="103.7 KISS FM"></a>
  <a href="http://www.99wmyx.com/" target="_blank"><img src="/themes/<%= @publisher.label %>/images/stations/myx.png" alt="99.1 The Mix"></a>         
</div>