<div id="summary_links">
  <%= nav_link page, :loyalty_eligible, "Eligible Purchases",
        loyalty_eligible_reports_path %>

  &nbsp;&brvbar;&nbsp;

  <%= nav_link page, :loyalty_analytics, "Referrals",
        loyalty_analytics_reports_path %>
</div>
