<div class="page_row">
  <div class="page_column_12 first rounded_corners">
    <h1 class="content">Your Booking Is Being Processed</h1>
    <p>
      You will receive a confirmation email shortly with further details on the
      status of your booking.
    </p>
  </div>
</div>
