<h1>Frequently Asked Questions</h1>
<h2 class="faq">What is the Deal of the Day?</h2>
<p>Each day one incredible deal is featured as the Deal of the Day for one of your local newspapers. The offer is only available for a limited time, so check back frequently so you don't miss out! And don't forget to share your favorite deals on Twitter, Facebook, and through email.</p>
<h2 class="faq">How do I buy today's Deal of the Day?</h2>
<p>Click on the "Buy Now" button before midnight on the day the offer expires. If you like a deal tweet it, Facebook it, or text it to everyone you think might be interested.</h2>
<h2 class="faq">What happens after I buy a daily or monthly Deal of the Day?</h2>
<p>After you make a purchase, you'll receive the Deal of the Day voucher to print via email.</p>
<p>Take the Deal of the Day to the store or merchant (before the expiration date!) and enjoy!</p>
<h2 class="faq">What if I want to use part of the Deal of the Day voucher and save the rest for later?</h2>
<p>No. The merchant does not have your account information. That is held by Analog Analytics, the software company that processes the transaction for the publisher.</p>
<h2 class="faq">Is the transaction safe for me to use?</h2>
<p>Absolutely. The transaction uses SSL and other industry standard security features to ensure that no one else has access to your PayPal or credit card information. Your satisfaction is our priority.</p>
<h2 class="faq">When I gift the Deal of the Day to a friend, will they have access to my account information?</h2>
<p>No. The Deal of the Day voucher carries a record of the transaction, the purchaser's name, the giftee's name, and a unique 8-digit code. The payment information is secure on a site that no consumer has access to.</p>
<h2 class="faq">Can I combine the Deal of the Day with other offers the merchant might have presented previously?</h2>
<p>No. Each Deal of the Day has its own terms.</p>
<h2 class="faq">What if the merchant does not honor the offer?</h2>
<p>We go out of our way to vet each advertiser and make sure they meet our high standards. We often provide recent reviews and testimonials to help you get a better feel for what you are buying. On the rare occurrence that something happens and you're not satisfied, we (through Analog Analytics) will refund the offer, no problem.</p>
<h2 class="faq">What if I miss the expiration date?</h2>
<p>If you miss the expiration date on your deal, take heart — all is not lost! While the additional discounts are no longer available, you are still entitled to goods and services equal to the paid value of the voucher.</p>
<p>For example, if you spend $25 to buy a $50 voucher for your new favorite restaurant, but are unable to get there before the expiration date, you will still be entitled to $25 of food, drink and good times. It's a no-loss situation!</p>
<h2 class="faq">What if I have more questions?</h2>
<p>Feel free to email <a href="mailto:bbdsupport@analoganalytics.com">bbdsupport@analoganalytics.com</a> or call (877) 538-4617. The publisher and Analog Analytics teams will be more than happy to answer any additional questions you have.</p>