<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><head><script type="text/javascript">var NREUMQ=NREUMQ||[];NREUMQ.push(["mark","firstbyte",new Date().getTime()]);</script>
	<title>Restaurant Deals, Colorado Springs, Coupons, Discounts, Gift Certificates, Daily Deals</title> 
	<meta name="description" content="Colorado coupons, discounts, gift certificates for restaurants, getaways, hotels and more"> 
	<meta name="keywords" content="Colorado Springs,Pueblo,Canon City, Colorado, daily deals, coupon, coupons,gift certificate,gift certificates,discount,discounts,restaurant,restaurants"> 
	<meta name="google-site-verification" content="f6dDR03maSb8tXzl90vd8Sd67qG_gs7OV0fMrAGu8Yk">
	<meta name="author" content="Max Web Profiling - www.Max-Websites.com">
	<meta name="Robots" content="INDEX, FOLLOW">
 	<meta name="Distribution" content="shopping">
	<script language="JavaScript" type="text/JavaScript"></script>
	<link rel="stylesheet" type="text/css" href="css/webshop.css">
	<link rel="shortcut icon" href="favicon.ico">
<script language="JavaScript" type="text/javascript">
	if(document.images) {
		pics = new Array(); 
		pics[1] = new Image();
		pics[1].src = "shop/daily.png"; 
		pics[2] = new Image();
		pics[2].src = "shop/daily_on.png";
		pics[3] = new Image();
		pics[3].src = "shop/gifts.png"; 
		pics[4] = new Image();
		pics[4].src = "shop/gifts_on.png";
		pics[5] = new Image();
		pics[5].src = "shop/coupons.png"; 
		pics[6] = new Image();
		pics[6].src = "shop/coupons_on.png";
		}
	function imgswap(from,to) {
		if(document.images) {
		document.images[from].src = pics[to].src;
		}
	}
</script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-9909023-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>
<body>
<div id="aboutcontainer">
	<div id="heading">
		<a target="_blank" href="http://www.facebook.com/rubberdollar"><img class="follow" src="shop/facebook.png" title="Click to follow us on Facebook"></a>
		<a target="_blank" href="https://twitter.com/RubberDollar"><img class="follow" src="shop/twitter.png" title="Click to follow us on Twitter"></a>
		<a target="_blank" href="http://www.youtube.com/user/RubberDollarMan"><img class="follow" src="shop/youtube.png" title="Click to follow us on YouTube"></a>
		<a href="mailto:Support@RubberDollar.com?subject=Inquiry from website"><img class="follow" src="shop/email.png" style="margin-right:500px;" title="Click to email us"/></a>
		<a target="_blank" href="http://koaa.com"><img class="koaa" src="images/koaa.png" title="Click to visit KOAA.com"></a>
		<table border="0" cellspacing="0" cellpadding="2" style="float:left;border:0;margin: 10px 0px 0px 0px;padding:0px;width:280px;background:transparent;">
			<tr>
			<td align="center" style="font-weight: bold; font-family:Arial; font-size:10px; letter-spacing: 0px; color:#FFFFFF;text-transform:uppercase"">
			Don't Miss Out On Future Deals, Sign up Today!</td>
			</tr> 	
			<tr>
			<td align="center" style="border-top:0px solid #000000">
			<form name="ccoptin" action="http://visitor.r20.constantcontact.com/d.jsp" target="_blank" method="post" style="margin-bottom:0;">
			<input type="hidden" name="llr" value="bca7sqeab">
			<input type="hidden" name="m" value="1104363257921">
				<input type="hidden" name="p" value="oi"> 
			<font style="font-weight: bold; font-family:Arial; font-size:12px; color:#FFFFFF;">Email </font> <input type="text" name="ea" size="25" value="" style="font-size:10pt; border:1px solid #333333;">
			<input type="submit" name="go" value="Go" class="submit" style="font-family:Arial; font-size:10pt;">
			</form>
			</td>
			</tr>
		</table>
	</div>
	<div id="topmenu">
		<li><a href="http://www.rubberdollar.com/">Home</a></li>
		<li><a href="about.html">About Us</a></li>
		<li><a href="advertise.html">Advertise with Us</a></li>
		<li><a href="reviews.html">Reviews</a></li>
		<li><a href="franchise.html">Employment</a></li>
		<li><a href="faq.html">F.A.Q.</a></li>
		<li><a href="contact.html">Contact Us</a></li>
	</div>
	<div id="selectmenu">
		<a class="left" onMouseOver="imgswap('img1',2)" onMouseOut="imgswap('img1',1)" href="daily.html" style="margin-left:21px;">
		<img name="img1" border="0" vspace="0" hspace="0" src="shop/daily.png" alt="Daily Indulgence" title="Click to go to Daily Indulgence">
		</a>
		<a class="left" onMouseOver="imgswap('img3',4)" onMouseOut="imgswap('img3',3)" href="gifts.html">
		<img name="img3" border="0" vspace="0" hspace="0" src="shop/gifts.png" alt="Gift Certificates" title="Click to go to Gift Certificates">
		</a>
		<a class="left" onMouseOver="imgswap('img5',6)" onMouseOut="imgswap('img5',5)" href="coupons.html">
		<img name="img5" border="0" vspace="0" hspace="0" src="shop/coupons.png" alt="Coupons & Deals" title="Click to go to Coupons & Deals">
		</a>
	</div>
	<div id="content">
	<p>Daily Indulgence is valid until 
	<input class="dateend" name="DATE" id="DATE" size="26" value="Jan. 24, 2012, 12:00 A.M." type="text">
	or until
	<input class="dealend" name="MAXDEALS" id="MAXDEALS" size="3" value="500" type="text">
	deals sold</p>	
		<div id="dailydeal">
			<p1>Today's Daily Indulgence: 
			<input class="todaysdeal" name="TODAYSDEAL" id="TODAYSDEAL" size="15" value="92% Savings" type="text">
			</p1>
			<input class="savings" name="VALUE" id="VALUE" size="5" value="$11" type="text">
			<input class="savings" name="PRICE" id="PRICE" size="5" value="$1" type="text">
			<input class="savings" name="SAVINGS" id="SAVINGS" size="5" value="$10" type="text">
			<input class="savingstext" name="VALUE_text" id="VALUE_text" size="5" value="VALUE" type="text">
			<input class="savingstext" name="PRICE_text" id="PRICE_text" size="5" value="Today's Deal" type="text">
			<input class="savingstext" name="SAVINGS_text" id="SAVINGS_text" size="5" value="You Save" type="text">
			<img class="standard" src="shop/standard.png"/>	
			<p2>
			Today's Deal of the Day
			</p2>
			<p3>
			Large 1-Topping Pizza for only $1
			</p3>
		</div>
		<div id="dealcount">
			<p1>
			Share it:
			<a href="mailto:?body=Check out this deal at http://dailyindulgence.rubberdollar.net/publishers/my719deals/daily_deals/57531&subject=Rubber Dollar Deal of the Day Large 1-Topping Pizza for only $1"><img class="share" src="shop/email_sm.png" title="Click to share today's Daily Indulgence"/></a>
			<a target="blank" href="http://dailyindulgence.rubberdollar.net/daily_deals/57531/twitter"><img class="share" src="shop/twitter_sm.png" title="Click to share today's Daily Indulgence"/></a>
			<a target="blank" href="http://dailyindulgence.rubberdollar.net/daily_deals/57531/facebook"><img class="share" src="shop/facebook_sm.png" title="Click to share today's Daily Indulgence"/></a>
			</p1>
			<input class="dealssold" name="DEALSOLD" id="DEALSOLD" size="5" value="258" type="text">
			<input class="dealssoldtext" name="DEALSOLD_text" id="DEALSOLD_text" size="5" value="DEALS SOLD" type="text">
			<img class="clock" src="shop/watch.png" alt="Time Left on Today's Deal"/>
			<input class="timeleft" name="TIMELEFT" id="TIMELEFT" size="5" value="12:36:33" type="text">
			<input class="timelefttext" name="TIMELEFT_text" id="TIMELEFT_text" size="5" value="time left to buy" type="text">
			<a target="paypal" href="http://paypal.com"><img class="buy" src="shop/cart.png"/></a>
		</div>
		<div id="contactinfo">
			<p1>
			Map & Contact Information
			</p1>
			<a target="google" href="http://maps.google.com/maps?li=d&hl=en&f=d&iwstate1=dir:to&daddr=4815+Barnes+Rd.%2C+Colorado+Springs%2C+CO+80917+%28Louie%27s+Pizza+%285+Locations%29%29">
			<img class="directions" src="shop/directions.png"/></a>
			<input class="address" name="COMPANY" id="COMPANY" size="30" value="Louie's Pizza (5 Locations)" type="text">
			<input class="address" name="ADDRESS" id="ADDRESS" size="30" value="4815 Barnes Rd." type="text">
			<input class="address" name="CITY_STATE" id="CITY_STATE" size="30" value="Colorado Springs, CO 80917" type="text">
			<input class="phone" name="PHONE" id="PHONE" size="30" value="(719) 591-5241" type="text">
			<a target="_blank" href="http://louies-pizza.com/">
			<img class="website" src="shop/website.png"/></a>
		</div>
		<div id="description">
			<p1>Description</p1>
			<p2>
			<a target="_blank" href="http://louies-pizza.com/" title="click to visit website"><img class="logo" src="shop/logo.png"/></a>
			<input class="company" name="COMPANY" id="COMPANY" size="30" value="Louie's Pizza (5 Locations)" type="text">
			<br/><br/>
			4815 Barnes Rd.<br/>
			Colorado Springs, CO 80917
			<br/><br/>
			<b>(719) 591-5241</b>
			<br/><br/>
			Win a New TV for the Big Game! Louie’s Pizza has teamed up with RubberDollar.com to give you the ultimate
			prize for the upcoming BIG GAME!!
			<br/><br/>
			The more you eat, the more you can win. Vist any Louie’s location between now and February 3rd and enter.
			<br/><br/>
			And to kick off this promotion – enjoy a $1 Pizza!<br/>
			What can you get for a dollar? In this economy, nothing. You can’t even get a Canadian Dollar for $1. That’s
			right - get a large one-topping pizza at Louie’s for just $1 Enjoy a delicious pie from any one of Louie’s five
			locations in and around Colorado Springs, and all for only $1.
			<br/><br/>
			As usual, at Louie’s you’ll find classic pies made from only the finest ingredients and with the same time-honored
			recipes that have made them a Colorado Springs favorite for the last 25 years. All five of their locations offer
			pick-up, delivery, and dine-in, making it easy for you to enjoy a great pizza no matter what your dining needs.
			With their selection of classic and specialty pizzas, pasta, calzones, subs, and more, you can’t beat Louie’s for
			a satisfying bite to eat.
			<br/><br/>
			Hurry – this is a limited offer and only a set number of customers will be able to purchase this deal. Don’t miss
			out, buy your $1 Pizza now!
			</p2>
			<p3> &nbsp; </p3>
		</div>
		<div id="highlights">
			<p1>Highlights</p1>
			<p2>
			$1 pizza!, Flavored crusts available, Dino Hot Wings, 5 locations, Salads, subs and more!
			</p2>
		</div>
 		<div id="facebook">
 			<p1>RubberDollar on Facebook</p1>
          		<iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Frubberdollar&amp;width=214&amp;colorscheme=light&amp;connections=9&amp;stream=false&amp;header=true&amp;height=287" scrolling="no" frameborder="0" style="border: 0; overflow:hidden; width:214px; height:287px;float:right;margin: 10px 15px 0px 0px;padding:0;" allowTransparency="true"></iframe>
		</div>
		<div id="fineprint">
			<p1>The Fine Print</p1>
			<p2>
			Valid towards a large, 1-topping pizza. Limit 1 per customer. Not valid with other offers. Valid Monday-Thursday only. Not valid with deliveries. Buyer agrees to receive future email communications from Louie’s Pizza. Gratuity not included. Certificate valid starting 1/30/12. Expires 4/30/12
			</p2>
		</div>
	</div>
	<div id="footing">
		<p>
		<a href="contact.html">Contact Us</a>
		 | © 2010 RubberDollar.com
		 | Design by <a target="_blank" href="http://Max-Websites.com">Max Web Profiling</a>
		 | Today is: 
					<SCRIPT LANGUAGE="JavaScript1.2">
					<!-- Begin
					var days=new Array(8);
					days[1]="Sunday";
					days[2]="Monday";
					days[3]="Tuesday";
					days[4]="Wednesday";
					days[5]="Thursday";
					days[6]="Friday";
					days[7]="Saturday";
					var months=new Array(13);
					months[1]="January";
					months[2]="February";
					months[3]="March";
					months[4]="April";
					months[5]="May";
					months[6]="June";
					months[7]="July";
					months[8]="August";
					months[9]="September";
					months[10]="October";
					months[11]="November";
					months[12]="December";
					var time=new Date();
					var lday=days[time.getDay() + 1];
					var lmonth=months[time.getMonth() + 1];
					var date=time.getDate();
					var year=time.getYear();
					if (year < 2000)    // Y2K Fix, Isaac Powell
					year = year + 1900; // http://onyx.idbsu.edu/~ipowell
					document.write(lday + " - ");
					document.write(lmonth + " ");
					document.write(date + ", " + year);
					// End -->
					</SCRIPT>
		</p>
	</div>
</div>


<script type="text/javascript">if (!NREUMQ.f) { NREUMQ.f=function() {
NREUMQ.push(["load",new Date().getTime()]);
var e=document.createElement("script");
e.type="text/javascript";e.async=true;e.src="https://d1ros97qkrwjf5.cloudfront.net/30/eum/rum.js";
document.body.appendChild(e);
if(NREUMQ.a)NREUMQ.a();
};
NREUMQ.a=window.onload;window.onload=NREUMQ.f;
};
NREUMQ.push(["nrfj","beacon-1.newrelic.com","d523ffa813",1669,"dl0IEhZXCVwHQUlYEVwdFAMXVxBCAVZJXQ5CXAoJBVw=",0,225,new Date().getTime(),"","cfe6ddd79466b73d","","",""])</script></body></html>