<p id="new_england" style="margin: 0; padding: 8px;">
  <a href="http://www.waaf.com/" target="_blank" style="color: #ffffff;"><img border="0" src="http://{{ publisher.daily_deal_host }}/themes/entercom-newengland/images/stations/waaf.png" height="50" alt="WAAF" /></a>&nbsp;
  <a href="http://www.weei.com/" target="_blank"><img border="0" src="http://{{ publisher.daily_deal_host }}/themes/entercom-newengland/images/stations/weei.png" height="50" alt="WEEI" /></a>&nbsp;
  <a href="http://www.wrko.com/" target="_blank" style="color: #ffffff;"><img border="0" src="http://{{ publisher.daily_deal_host }}/themes/entercom-newengland/images/stations/wrko.png" height="50" alt="WRKO" /></a>&nbsp;
</p>