<div id="new_england">
  <a href="http://www.waaf.com/" target="_blank"><img src="/themes/entercom-newengland/images/stations/waaf.png" height="60" alt="WAAF" /></a>
  <a href="http://www.weei.com/" target="_blank"><img src="/themes/entercom-newengland/images/stations/weei.png" height="60" alt="WEEI" /></a>
  <a href="http://www.wrko.com/" target="_blank"><img src="/themes/entercom-newengland/images/stations/wrko.png" height="60" alt="WRKO" /></a>
</div>
