<div id="pub_header">
	<section>
		<div class="toplinks">
			<small>
				<ul>
					<li><strong>HELP:</strong></li>
					<li><a class="toplinks" href="http://www.chieftain.com/users/login/">Log in</a></li>
					<li><a class="toplinks" href="http://www.chieftain.com/users/signup/">Register</a></li>
					<li><a class="toplinks" href="http://www.chieftain.com/site/contact/">Contact</a></li>
					<li><a class="toplinks" href="http://www.chieftain.com/search/">Search</a></li>
					<li><a class="toplinks" href="http://www.chieftain.com/digital/">Digital Edition</a></li>
					<li><a class="toplinks" href="http://www.chieftain.com/apps/">Mobile apps</a></li>
					<li><a class="toplinks" href="http://www.chieftain.com/subscribe/">Subscribe</a></li>
					<li><a class="toplinks" href="http://www.chieftain.com/app/pdf/2012rates.pdf/">Advertise</a></li>
				</ul>
			</small>
		</div>
	</section>

	<hr width="962" style="clear: both;">

	<script type='text/javascript' src='http://stats.townnews.com/shared-content/stats/common/tracker.js'></script>
	<script type='text/javascript'>
	<!--
	 if (typeof(TNStats_Tracker) !== 'undefined' && typeof(TNTracker) === 'undefined') { TNTracker = new TNStats_Tracker('chieftain.com'); TNTracker.setTrackerDomain('stats.townnews.com'); TNTracker.trackPageView(); }
	// -->
	</script>
	<div class="table" style="width:962px;">
	    <div class="row head">
		    <div style="float:left; width:230px; height=90px; overflow:hidden; border-radius: 0px">
				<a href="http://www.chieftain.com"><img src="http://chieftain.com/app/content/html5/test/232x90.png" border="0" alt="Home"></a>
		    </div>
			<div class="cell last" id="tncms-region-ads-leaderboard-middle1" class="tncms-region-ads"><!-- Global TNCMS Ad Manager javascript files -->
				<script type='text/javascript' src='http://www.chieftain.com/shared-content/tncms-ad-manager/ads.js'></script>
				<script type='text/javascript' src='http://www.chieftain.com/shared-content/swfobject/swfobject.js'></script>
				<!-- Ad Manager javascript code for position leaderboard-middle1 -->
				<script type='text/javascript' src='http://www.chieftain.com/content/tncms/ads/tncms-ad-limits.js'></script>
				<script type='text/javascript' src='http://www.chieftain.com/content/tncms/ads/leaderboard-middle/leaderboard-middle1.js'></script>
				<!-- Ad Manager call to display ads for position leaderboard-middle1 -->
				<script language='javascript'>oTNCMS_Ad.show('advertising');</script>
		 	</div>
	  	</div>
	    <div class="main">
			<ul>
				<li><a class="nav" href="http://www.chieftain.com/news">News</a></li>
				<li><a class="nav" href="http://www.chieftain.com/sports">Sports</a></li>
				<li><a class="nav" href="http://www.chieftain.com/business">Business</a></li>
				<li><a class="nav" href="http://www.chieftain.com/life">Life</a></li>
				<li><a class="nav" href="http://www.chieftain.com/entertainment">Entertainment</a></li>
				<li><a class="nav" href="http://www.chieftain.com/opinion">Opinion</a></li>
				<li><a class="nav" href="http://www.chieftain.com/weather">Weather</a></li>
				<li><a class="nav" href="http://www.chieftain.com/obituaries">Obituaries</a></li>
				<li><a class="nav" href="http://www.chieftain.com/classifieds">Classifieds</a></li>
				<li><a class="nav" href="http://pueblo.autochooser.net">Autos</a></li>
			</ul>
		</div>
	</div>
</div>