<%= render :partial => with_theme('shared/subscribe') %>
<header class="main">
	<div class="header_content">
		<a href="<%= public_deal_of_day_path(@publisher.label) %>"><h1 id="logo">Zingin Dealz and Analog Applied</h1></a>
		<div class="clear"></div>
	</div>
</header>