<div class="<%= @publisher.theme %>" id="offers">
  <%= render :partial => "offers/panels/sdcitybeat/offer", :collection => @offers %>
  <% if @offers.empty? -%>
    Sorry, no coupons found
  <%- end -%>
</div>