<% unless publisher.facebook_page_url.blank? %>

	<div class="content_box facebook_likebox">
		<div id="facebook_likebox_cont">
			<iframe id="facebook_likebox" src="http://www.facebook.com/plugins/likebox.php?href=<%= publisher.facebook_page_url %>&amp;width=210&amp;border_color=white&amp;colorscheme=light&amp;show_faces=true&amp;stream=false&amp;header=false&amp;height=260" scrolling="no" frameborder="0" style="border:none; overflow:hidden;height:260px; width: 210px;" allowTransparency="true" ></iframe>
		</div>
	</div><!-- /facebook like box -->

<% end %>