<!-- div only required for valid XHTML -->
<div id="navbar">
  <%= link_to image_tag("logo.png", :class => "logo"), "http://www.analoganalytics.com/" %>
  <%= render :partial => 'layouts/navbar_links' %>
  <%= image_tag "rules/gray_top.png", :class => "rule" %>
  <%= image_tag "rules/gray_bottom.png", :class => "rule" %>
</div>
