<div id="footer">
	<div id="footer_content">
		<div id="footer_nav">

		</div><!-- /footer_nav -->
		
		<div class="clear"></div>
		<ul id="legal_nav">
			<li><a href="{{ publisher.privacy_path }}">Privacy Policy</a></li>
      <li class="last"><a href="{{ publisher.terms_path }}">Terms and Conditions</a></li>
		</ul><!-- /legal_nav -->
	</div>
</div>

