</div>
</div>
				</div>
								</div>
			</div>
					</div>
					<div id="right_column">

				</div>
			</div>
			</div>
			<div id="footer">
			<div class="region_content">
				<div id="block-block-1" class="clear-block block block-block">
  <h2 class="block_title">
  <a href="http://www.ledgertranscript.com/node/3">  About our site  </a>  </h2>
  <div class="content">Our site is updated daily, Monday through Friday. You will also find searchable classified listing and an events calendar, as well as community photo galleries. 
<br/>
<a href="http://www.ledgertranscript.com/about-us">Read more</a></div>
</div>
<div id="block-block-2" class="clear-block block block-block">
  <h2 class="block_title">
  <a href="http://www.ledgertranscript.com/node/3">  About our paper  </a>  </h2>
  <div class="content">We cover 16 towns in the Monadnock region, and we publish our print and electronic editions each Tuesday and Thursday.
<br/>
<a href="http://www.ledgertranscript.com/about-us">Read more</a></div>
</div>
<div id="block-block-3" class="clear-block block block-block">
  <h2 class="block_title">
  <a href="https://www.shopnewhampshire.com/ledgertranscript/subscribe/">  Subscribe  </a>  </h2>
  <div class="content">Print subscriptions within our coverage area include home delivery on Tuesdays and Thursdays. We also offer an electronic edition and newsstand sales.
<br/>
<a href="https://www.shopnewhampshire.com/ledgertranscript/subscribe/">Read more</a></div>
</div>
<div id="block-block-4" class="clear-block block block-block">
  <h2 class="block_title">
  <a href="http://www.ledgertranscript.com/staff-list">  Contact us  </a>  </h2>
  <div class="content"><strong>Phone:</strong> 603-924-7172<br/>
<strong>Fax:</strong> 603-924-3681<br/>
<strong>Mail:</strong> <em>P.O. Box 36,</em> <br/>
<em>Peterborough NH 03458</em><br/>
<strong>E-Mail:</strong> <a href="mailto:news@ledgertranscript.com">News</a>, <a href="mailto:classifieds@ledgertranscript.com">Classifieds</a>, <a href="mailto:ads@ledgertranscript.com">Advertising</a>, <a href="mailto:circ@ledgertranscript.com">Circulation</a></div>
</div>
<div id="block-block-5" class="clear-block block block-block">
  <h2 class="block_title">
  <a href="http://www.ledgertranscript.com/node/24">  Classifieds  </a>  </h2>
  <div class="content">Check out our searchable listing of job openings, cars for sale, yard sales, household goods, services and more. 
<br/>
<a href="http://www.ledgertranscript.com/classifieds">Search</a></div>
</div>
			</div>
		</div>
		<div id="footer_moneybar">
		<div class="region_content">
			
			<div class="left">
				COPYRIGHT MONADNOCK LEDGER-TRANSCRIPT, 2011
			</div>
			<div class="right">
			<ul>
				<li><a href="http://profiles.ledgertranscript.com" target="_blank">BUSINESS PROFILES</a></li>
				<li><a href="http://www.ledgertranscript.com/about-us">ABOUT US</a></li>
				<li><a href="http://www.ledgertranscript.com/staff-list">STAFF LIST</a></li>
			</ul>
			</div>
		</div>
	</div>
  </div>
  </div>