<div id="wrapper">
  <div id="wrapper_inner">
		<div id="top">
		<div class="region_content">
<div id="block-block-14" class="clear-block block block-block">
  <div class="content">
  
  
  <!--/* Leaderboard Spot */-->
<script type='text/javascript'><!--//<![CDATA[
   var m3_u = (location.protocol=='https:'?'https://cmas.concordmonitor.com/www/delivery/ajs.php':'http://cmas.concordmonitor.com/www/delivery/ajs.php');
   var m3_r = Math.floor(Math.random()*99999999999);
   if (!document.MAX_used) document.MAX_used = ',';
   document.write ("<scr"+"ipt type='text/javascript' src='"+m3_u);
   document.write ("?zoneid=66&amp;source=frontpage");
   document.write ('&amp;cb=' + m3_r);
   if (document.MAX_used != ',') document.write ("&amp;exclude=" + document.MAX_used);
   document.write (document.charset ? '&amp;charset='+document.charset : (document.characterSet ? '&amp;charset='+document.characterSet : ''));
   document.write ("&amp;loc=" + escape(window.location));
   if (document.referrer) document.write ("&amp;referer=" + escape(document.referrer));
   if (document.context) document.write ("&context=" + escape(document.context));
   if (document.mmm_fo) document.write ("&amp;mmm_fo=1");
   document.write ("'><\/scr"+"ipt>");
//]]>--></script>

<!--/* Control Tag Leaderboard Spot */-->
<script type='text/javascript'><!--//<![CDATA[
   var m3_u = (location.protocol=='https:'?'https://cmas.concordmonitor.com/www/delivery/ajs.php':'http://cmas.concordmonitor.com/www/delivery/ajs.php');
   var m3_r = Math.floor(Math.random()*99999999999);
   if (!document.MAX_used) document.MAX_used = ',';
   document.write ("<scr"+"ipt type='text/javascript' src='"+m3_u);
   document.write ("?zoneid=59&amp;source=frontpage");
   document.write ('&amp;cb=' + m3_r);
   if (document.MAX_used != ',') document.write ("&amp;exclude=" + document.MAX_used);
   document.write (document.charset ? '&amp;charset='+document.charset : (document.characterSet ? '&amp;charset='+document.characterSet : ''));
   document.write ("&amp;loc=" + escape(window.location));
   if (document.referrer) document.write ("&amp;referer=" + escape(document.referrer));
   if (document.context) document.write ("&context=" + escape(document.context));
   if (document.mmm_fo) document.write ("&amp;mmm_fo=1");
   document.write ("'><\/scr"+"ipt>");
//]]>--></script>

  
</div>
</div>
<div id="block-block-32" class="clear-block block block-block">

  <div class="content"><div class="search_links">
<h2><a href="http://www.ledgertranscript.com/node/24"><img src="https://www.shopnewhampshire.com/ledgertranscript/subscribe/images/c_button_small.png" align="absbottom" border="0"> Classified Ads</a></h2>
<h2><a href="http://monadnockledger.nh.newsmemory.com/" target="_blank"><img src="https://www.shopnewhampshire.com/ledgertranscript/subscribe/images/e_button_small.png" align="absbottom" border="0"> Electronic Edition</a></h2>
</div>
<div id="search_box"><form action="http://www.ledgertranscript.com/search" accept-charset="UTF-8" method="post" id="nne-mledger-solr-integration-searchbox-form">
<div><div class="form-item" id="edit-keywords-wrapper">
 <input maxlength="128" name="keywords" id="edit-keywords" size="60" value="" class="form-text" type="text">
</div>
<input name="op" id="edit-submit" value="Search" class="form-submit" type="submit">
<input name="form_build_id" id="form-dd350ec37f19052b49502ab53829b2de" value="form-dd350ec37f19052b49502ab53829b2de" type="hidden">
<input name="form_id" id="edit-nne-mledger-solr-integration-searchbox-form" value="nne_mledger_solr_integration_searchbox_form" type="hidden">
</div></form>
</div></div>
</div>
		</div>
	</div>
		<div id="moneybar">
		<div class="region_content">
			<div class="left">
				MONADNOCK LEDGER-TRANSCRIPT
			</div>
			<div class="right">
				<ul>
					<li><strong>PHONE:</strong> 603-924-7172</li>
					<li><strong>OFFICE:</strong> 20 Grove St. Peterborough, NH</li>
					<li><a href="http://www.ledgertranscript.com/about-us">ABOUT US</a></li>
					<li><a href="http://www.ledgertranscript.com/staff-list">STAFF LIST</a></li>
				</ul>
			</div>
		</div>
	</div>
    <div id="mast">
		<div class="region_content">
			<div class="logo">
				<a href="http://www.ledgertranscript.com/"><img src="/themes/ledgertranscript/images/publisher/spacer.gif" border="0px" width="480" height="95"/></a>
			</div>
			<div class="main_nav">
			
<div id="tertiary-menu-wrapper" class="clearfix">
									<div id="tertiary-menu">
						<ul class="menu"><li class="leaf last"><a href="https://www.shopnewhampshire.com/ledgertranscript/subscribe/" title="">Subscribe</a></li>

</ul>					</div>
							</div>	


			<div id="primary-menu-wrapper" class="clearfix">
									<div id="primary-menu">
						<ul class="menu"><li class="leaf first"><a href="http://www.ledgertranscript.com/" title="">Home</a></li>
<li class="leaf"><a href="http://www.ledgertranscript.com/news" title="">News</a></li>
<li class="leaf"><a href="http://www.ledgertranscript.com/blogs" title="">Blogs</a></li>
<li class="leaf"><a href="http://www.ledgertranscript.com/events-calendar" title="">Calendar</a></li>
<li class="expanded"><a href="http://www.ledgertranscript.com/submit-news" title="">Submit news</a><ul class="menu"><li class="leaf first"><a href="http://www.ledgertranscript.com/form/letter-to-the-editor" title="">Letter to the editor</a></li>
<li class="leaf"><a href="http://www.ledgertranscript.com/form/press-release" title="">Press Release</a></li>
<li class="leaf"><a href="http://www.ledgertranscript.com/form/photos" title="">Photos</a></li>
<li class="leaf"><a href="http://www.ledgertranscript.com/form/engagement-announcement" title="">Engagement</a></li>
<li class="leaf"><a href="http://www.ledgertranscript.com/form/wedding-announcement" title="">Wedding</a></li>
<li class="leaf last"><a href="http://www.ledgertranscript.com/submit-event" title="">Calendar</a></li>
</ul></li>
<li class="leaf last"><a href="http://www.ledgertranscript.com/communities" title="">Communities</a></li>
</ul>					</div>
							</div>	
			<div id="secondary-menu-wrapper" class="clearfix">
									<div id="secondary-menu">
						<ul class="menu"><li class="leaf first"><a href="http://www.ledgertranscript.com/obituaries" title="">Obituaries</a></li>
<li class="leaf"><a href="http://ledgertranscript.mycapture.com/mycapture/index.asp" title="">Photos</a></li>
<li class="leaf"><a href="http://www.ledgertranscript.com/classifieds" title="">Classifieds</a></li>
<li class="expanded"><a href="http://www.ledgertranscript.com/advertising" title="">Advertising</a><ul class="menu"><li class="leaf first"><a href="http://www.ledgertranscript.com/classified-advertising" title="">Classified rates</a></li>
<li class="leaf"><a href="http://www.ledgertranscript.com/display-advertising" title="">Display rates</a></li>
<li class="leaf last"><a href="http://www.ledgertranscript.com/production-specifications" title="">Production specs</a></li>
</ul></li>
<li class="expanded last"><a href="http://www.ledgertranscript.com/reader-services" title="">Reader services</a><ul class="menu"><li class="leaf first"><a href="http://www.ledgertranscript.com/electronic-edition" title="">Electronic Edition</a></li>
<li class="leaf"><a href="https://www.shopnewhampshire.com/ledgertranscript/subscribe/" title="">Print Subscriptions</a></li>
<li class="leaf"><a href="http://www.ledgertranscript.com/form/change-of-address" title="">Change of Address</a></li>
<li class="leaf last"><a href="http://www.ledgertranscript.com/reader-services#where_to_buy" title="">Where to Buy</a></li>
</ul></li>
</ul>					</div>
							</div>
			</div>
		</div>
	</div>
	<div id="column_container">
		<div id="left_center_columns_container">
															<div id="center_column_full">
				<div class="region_content">
																																								<div class="clear-block">
					<div id="node-273" class="node">
    <div class="content clear-block">