<div class="show-mobile" style="overflow:hidden;height:auto;">
    <div id="new_branding">
    <a target="_top" id="mobile_logo" href="http://www.ocregister.com/">OC Register</a>
    </div>
    <div style="clear:both;"></div>	
</div>					
<div id="PageWrap" class="hide-mobile">
	
			<div id="PreHead">
		<div id="PreNav">
			<ul>
				<li class="firstItem header_realestate"><a tooltiptext="http://www.ocregister.com/homes/" title="http://www.ocregister.com/homes/" style=""  target="_top" href="http://www.ocregister.com/homes/"><b>REAL ESTATE</b></a></li>
				<li class="header_jobs"><a tooltiptext="http://www.ocjobfinder.com/monster/" title="http://www.ocjobfinder.com/monster/" style=""  target="_top" href="http://www.ocjobfinder.com/monster/"><b>JOBS</b></a></li>
				<li class="header_cars"><a tooltiptext="http://www.ocregister.com/cars/" title="http://www.ocregister.com/cars/" style=""  target="_top" href="http://www.ocregister.com/cars/"><b>CARS</b></a></li>
				<li class="header_deals"><a tooltiptext="http://www.ocregister.com/deals/" title="http://www.ocregister.com/deals/" style=""  target="_top" href="http://www.ocregister.com/deals/"><b>DEALS</b></a></li>
				<li class="header_classifieds"><a tooltiptext="http://www.ocregister.com/classifieds/" title="http://www.ocregister.com/classifieds/" style=""  target="_top" href="http://www.ocregister.com/classifieds/">CLASSIFIEDS</a></li>
				<li class="lastItem header_placead"><a tooltiptext="http://www.ocregister.com/selfservice/" title="http://www.ocregister.com/selfservice/" style=""  target="_top" href="http://www.ocregister.com/selfservice/">PLACE AN AD</a></li>
			</ul>
		</div>
		<div id="UserLinks">
			<ul>
								<li class="firstItem header_subscribe"><a tooltiptext="http://www.ocregister.com/subscribe/" title="http://www.ocregister.com/subscribe/" style=""  target="_top" href="http://www.ocregister.com/subscribe/">SUBSCRIBE</a></li>
				<li class="header_eregister"><a tooltiptext="http://eregister.ocregister.com/" title="http://eregister.ocregister.com/" style=""  target="_top" href="http://eregister.ocregister.com/">E-REGISTER</a></li>
				<li class="header_customerservice"><a tooltiptext="http://www.ocregister.com/help/" title="http://www.ocregister.com/help/" style=""  target="_top" href="http://www.ocregister.com/help/">CUSTOMER SERVICE</a></li>
				<li class="lastItem header_todayspaper"><a tooltiptext="http://www.ocregister.com/sections/headlines/" title="http://www.ocregister.com/sections/headlines/" style=""  target="_top" href="http://www.ocregister.com/sections/headlines/">TODAY'S PAPER</a></li>
			</ul>
		</div>
	</div>

	<div id="Header">
		<div id="HeaderBanner">
			<div id="HeaderLogo">
				<div class="pngImg"><a tooltiptext="http://www.ocregister.com/" title="http://www.ocregister.com/" target="_top" href="http://www.ocregister.com/" alt="Orange County Register">Orange County Register</a></div></div>
			<div id="HeaderSectionTitle"><h2></h2></div>
			<div id="HeaderSearch">
				
			</div>
			<div id="HeaderWeather">
			</div>
		</div>
		
	</div>

	<ul id="HeaderNavList">
<li class="home firstItem"><a tooltiptext="http://www.ocregister.com/" title="http://www.ocregister.com/" style=""  target="_top" class="title" href="http://www.ocregister.com/">HOME</a></li>
<li class="news"><a tooltiptext="http://www.ocregister.com/sections/news/" title="http://www.ocregister.com/sections/news/" style=""  target="_top" class="title" href="http://www.ocregister.com/sections/news/">NEWS</a></li>
<li class="sports"><a tooltiptext="http://www.ocregister.com/sections/sports/" title="http://www.ocregister.com/sections/sports/" style=""  target="_top" class="title" href="http://www.ocregister.com/sections/sports/">SPORTS</a></li>
<li class="business"><a tooltiptext="http://www.ocregister.com/sections/business/" title="http://www.ocregister.com/sections/business/" style=""  target="_top" class="title" href="http://www.ocregister.com/sections/business/">BUSINESS</a></li>
<li class="entertainment"><a tooltiptext="http://www.ocregister.com/sections/entertainment/" title="http://www.ocregister.com/sections/entertainment/" style=""  target="_top" class="title" href="http://www.ocregister.com/sections/entertainment/">ENTERTAINMENT</a></li>
<li class="life"><a tooltiptext="http://www.ocregister.com/sections/life/" title="http://www.ocregister.com/sections/life/" style=""  target="_top" class="title" href="http://www.ocregister.com/sections/life/">LIFE</a></li>
<li class="travel"><a tooltiptext="http://www.ocregister.com/sections/travel/" title="http://www.ocregister.com/sections/travel/" style=""  target="_top" class="title" href="http://www.ocregister.com/sections/travel/">TRAVEL</a></li>
<li class="opinion"><a tooltiptext="http://www.ocregister.com/sections/opinion/" title="http://www.ocregister.com/sections/opinion/" style=""  target="_top" class="title" href="http://www.ocregister.com/sections/opinion/">OPINION</a></li>
</ul>
<script type="text/javascript">if(navLoad)navLoad();</script>
<div id="MobileSharing">
	<ul>
	<li class="firstItem"><a tooltiptext="http://www.ocregister.com/sections/newsletter/" title="http://www.ocregister.com/sections/newsletter/" style=""  target="_top" href="http://www.ocregister.com/sections/newsletter/" class="emailIcon">Newsletter</a></li>
				<li><a tooltiptext="http://www.ocregister.com/sections/rss/" title="http://www.ocregister.com/sections/rss/" style=""  target="_top" href="http://www.ocregister.com/sections/rss/" class="rssIcon">RSS</a></li>
			<li><a tooltiptext="http://www.ocregister.com/mobile/" title="http://www.ocregister.com/mobile/" style=""  target="_top" href="http://www.ocregister.com/mobile/" class="mobileIcon">Mobile</a></li>
	<li><a tooltiptext="http://www.ocregister.com/articles/register-212141-myspace-facebook.html" title="http://www.ocregister.com/articles/register-212141-myspace-facebook.html" style=""  target="_top" href="http://www.ocregister.com/articles/register-212141-myspace-facebook.html" class="facebookIcon">Facebook</a></li>
	<li class="lastItem"><a tooltiptext="http://www.ocregister.com/articles/register-212141-myspace-facebook.html" title="http://www.ocregister.com/articles/register-212141-myspace-facebook.html" style=""  target="_top" href="http://www.ocregister.com/articles/register-212141-myspace-facebook.html" class="twitterIcon">Twitter</a></li>
</ul>
</div>
<div style="clear: both;"></div>
</div>
