<div id="PageWrap" class="hide-mobile">
    <div id="ContentWrap" class="roundedBox SectionPage">
	    <div class="corner topLeft"></div>

	    <div class="corner topRight"></div>
	    <div class="corner bottomLeft"></div>
	    <div class="corner bottomRight"></div>

		
		<div id="BotAd">
	<script type='text/javascript'>freedom.iframe({position: 'Top3'});</script>
</div>
<div id="ContentFooter" class="roundedBox">
	<div id="footerTopLinks">
		<span><a target='_top' href="#">Return to Top</a></span>

		<ul id="footerTopLinksList">
			<li class="home"><a target='_top' class="title" href="http://www.ocregister.com/">home</a></li>
			<li class="news"><a target='_top' class="title" href="http://www.ocregister.com/sections/news/">news</a></li>
			<li class="sports"><a target='_top' class="title" href="http://www.ocregister.com/sections/sports/">sports</a></li>
			<li class="business"><a target='_top' class="title" href="http://www.ocregister.com/sections/business/">business</a></li>
			<li class="entertainment"><a target='_top' class="title" href="http://www.ocregister.com/sections/entertainment/">entertainment</a></li>

			<li class="life"><a target='_top' class="title" href="http://www.ocregister.com/sections/life/">life</a></li>
			<li class="travel"><a target='_top' class="title" href="http://www.ocregister.com/sections/travel/">travel</a></li>
			<li class="opinion"><a target='_top' class="title" href="http://www.ocregister.com/sections/opinion/">opinion</a></li>
			<li><a target='_top' href="http://www.ocregister.com/homes">Real estate</a></li>
			<li><a target='_top' href="http://www.ocregister.com/jobs">Jobs</a></li>
			<li><a target='_top' href="http://www.ocregister.com/cars">Cars</a></li>

			<li><a target='_top' href="http://www.ocregister.com/deals">Deals</a></li>
			<li><a target='_top' href="http://www.ocregister.com/classifieds">Classifieds</a></li>
			<li><a target='_top' href="http://www.ocregister.com/selfservice">Place an Ad</a></li>
		</ul><script type="text/javascript">if(navLoad)navLoad();</script>
	</div>
	
	<div id="footerMidContent">
		<div class="fi_footer3">

			<ul>
				<li class="footerSection"><h4>ADVERTISE OPTIONS</h4>
					<ul>
						<li><a target='_top' href="http://www.ocregister.com/selfservice/">Self Service</a></li>
						<li><a target='_top' href="http://www.ocregister.com/onlinead/">Place an Online Ad</a></li>
						<li><a target='_top' href="http://www.ocregister.com/printad/">Place a Print Ad</a></li>
						<li><a target='_top' href="http://www.ocregister.com/classified/">Place a Classified Ad</a></li>

						<li><a target='_top' href="http://www.ocregister.com/advertise/">Media Kit</a></li>
						<li><a target='_top' href="http://www.ocregister.com/contactus/">Advertising Contact Info</a></li>
                                               
                                                
					</ul>
				</li>
				<li class="footerSection"><h4>CONTACT OCREGISTER</h4>
					<ul>
						<li><a target='_top' href="http://www.ocregister.com/sections/about/">About Us</a></li>

						<li><a target='_top' href="http://www.ocregister.com/careers/">Careers</a></li>
						<li><a target='_top' href="http://www.ocregister.com/contactus/">Contact Us</a></li>
						<li><a target='_top' href="http://www.ocregister.com/sections/corrections/">Corrections</a></li>
						<li><a target='_top' href="http://www.ocregister.com/help/">Customer Service</a></li>
						<li><a target='_top' href="http://www.ocregister.com/subscribe/">Subscribe Today</a></li>
						<li><a target='_top' href="http://www.ocregister.com/subscriberservice/">Subscriber Services</a></li>

						<li><a target='_top' href="http://www.ocregister.com/help/">Site Help</a></li>
						<li><a target='_top' rel="nofollow" href="http://www2.ocregister.com/mktgpromos/newsite_contactus/">Site Feedback</a></li>
					</ul>
				</li>
				<li class="footerSection"><h4>OCR SERVICES</h4>
					<ul>
						<li><a target='_top' href="http://www.ocregister.com/archives/">Archives</a></li>

						<li><a target='_top' href="http://ocregister.mycapture.com/mycapture/photoRequestForm.asp">Buy Our Photos</a></li>
						<li><a target='_top' rel="nofollow" href="http://www.ocregister.com/lottery/">California Lottery</a></li>
						<li><a target='_top' href="http://www.ocregister.com/deals/">Deals</a></li>
						<li><a target='_top' href="http://www.ocregisterfanshop.com/">OCRegister Fanshop</a></li>
						<li><a target='_top' href="http://ca.ocregister.com/">Orange County Businesses</a></li>
						<li><a target='_top' href="http://www.registerinsider.com/">Register Insider</a></li>

						<li><a target='_top' href="http://www.ocregister.com/rie/">Register in Education</a></li>
						<li><a target='_top' href="http://obits.ocregister.com/obituaries/orangecounty/">Obituaries</a></li>
                                                <li><a target='_top' href="http://www.ocregister.com/articles/commenting-320181-facebook-faqs.html">Facebook comments FAQs</a></li>
					</ul>
				</li>
				<li class="footerSection"><h4>NEWS YOUR WAY</h4>
					<ul>

						<li><a target='_top' href="http://www.ocregister.com/blogs/">Blogs</a></li>
						<li><a target='_top' href="http://www.ocregister.com/sections/newsletter/">E-Mail Newsletters</a></li>
						<li><a target='_top' href="http://www.ocregister.com/eregisteraccess/">E-Register</a></li>
						<li><a target='_top' href="http://www.ocregister.com/mobile/">Mobile</a></li>
						<li><a target='_top' href="http://www.ocregister.com/sections/rss/">RSS</a></li>
						<li><a target='_top' href="http://www.ocregister.com/sections/articles-map/">Article Map</a></li>

						<li><a target='_top' href="http://www.ocregister.com/sections/sitemap/">Site Map</a></li>
						<li><a target='_top' href="http://www.ocregister.com/video/">Video</a></li>
					</ul>
				</li>
				<li class="footerSection"><h4>ADVERTISING</h4>
					<ul>
						<li><a target='_top' href="http://www.ocregister.com/classified/">Classifieds</a></li>

						<li><a target='_top' href="http://www.ocregister.com/cars/">Cars</a></li>
						<li><a target='_top' href="http://www.ocregister.com/deals/">Deals</a></li>
						<li><a target='_top' href="http://www.ocregister.com/jobs/">Jobs</a></li>
						<li><a target='_top' href="http://www.ocregister.com/realestate/">Real Estate</a></li>
						<li><a target='_top' href="http://www.ocregister.com/classified/">Place a Classified Ad</a></li>
						<li><a target='_top' href="http://www.ocregister.com/advertise/">View our Media Kit</a></li>

                                                 <li><a target='_top' href="http://www.ocregister.com/interactive/">Interactive</a></li>
					</ul>
				</li>
				<li class="footerSection"><h4>PARTNERS</h4>
					<ul>
						<li><a target='_top' href="http://www.kdoctv.net/">KDOC-TV</a></li>
						<li><a target='_top' href="http://www.msnbc.msn.com/id/3083837/">MSNBC</a></li>

						<li><a target='_top' href="http://www.ocexcelsior.com/">OC Excelsior</a></li>
						<li><a target='_top' href="http://www.coastmagazine.com/">Coast Magazine</a></li>
						<li><a target='_top' href="http://www.preferreddestinationsmagazine.com/">Preferred Destination </a></li>
						<li><a target='_top' href="http://www.orangecounty.com/">OrangeCounty.com</a></li>
						<li><a target='_top' href="http://www.freedompolitics.com/">FreedomPolitics.com</a></li>
					</ul>

				</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	<div id="footerBottom">
		<a target='_top' href="http://www.ocregister.com/"><img src="/themes/ocregister/images/logo-footer.gif" class="ocrLogo" alt="Orange County Register Communications" width="255" height="55" border="0" /></a>
		<div id="footerCopyright">
		<script type="text/javascript"> tDate=new Date(); update=tDate.getFullYear(); document.write("Copyright &#169; "+ update + " Orange County Register Communications. All Rights Reserved."); </script>

			<br />
			<a target='_top' href="http://www.ocregister.com/privacy/">Privacy Policy</a> | <a target='_top' href="http://www.ocregister.com/help/">Site Help</a> | <a target='_top' href="http://www.ocregister.com/eula/">User Agreement</a> | <a target='_top' href="http://www.ocregister.com/sections/sitemap/">Site Map</a>
		</div>
	</div>

	

</div>

<div id="bottomad">
	<script type='text/javascript'>
freedom.ad({position: 'x02'});
</script>
</div>

<script type="text/javascript" language="JavaScript">var tcdacmd="dt";</script>
<script type="text/javascript" src="/themes/ocregister/javascripts/slf.js" language="JavaScript"></script>
<script type="text/javascript" language="javascript" src="/themes/ocregister/javascripts/dmhotlinks.js"></script> 		
	</div>
</div>
