<div class="content_box" id="contact_info">
	<h2>Contact us now:</h2>
	<ul>
		<li id="contact_office">
			<h3>Office:</h3>
			<p>800 669 3325</p>
		</li>
		<li id="contact_support">
			<h3>Support:</h3>
			<p>877 898 4114</p>
		</li>
		<li id="contact_sales">
			<h3>Sales:</h3>
			<p>800 669 3325</p>
		</li>
	</ul>
	<a href="http://ae.moxdeals.com/base/contact">Send Us a Message</a>
</div>