<div id="dd_footer">
	<div id="a_a">
		<a href="http://analoganalytics.com/"><img src="/images/powered_by_analog_analytics.png" width="169" height="20" border="0" alt="Powered by Analog Analytics" /></a>
	</div>
	<div class="clear"></div>
		<p>Copyright &copy; 2011 by Mox Telecom America Inc.. All Rights Reserved. Mox Telecom America Inc.</p>
</div>