</div>
        <div id="subfoot" class="ca"></div>
      </div>
    </div>
    <div id="foot">
      <div class="w12">
        <div class="parent chrome6 single1">
          <div class="child c1 first">
            <div class="msnfoot1 cf">
              <ul class="primary">
                <li class="first"><a href="http://go.microsoft.com/fwlink/?LinkId=74170">Προστασία προσωπικών δεδομένων</a></li>
                <li><a href="http://g.msn.gr/0TO_/elgr">Νομικά</a></li>
                <li class="last"><a href="http://partner.gr.msn.com/advertising">Διαφήμιση</a></li>
              </ul>
              <ul class="secondary">
                <li class="first"><a href="http://go.microsoft.com/fwlink/?LinkId=117951">Αντιμετώπιση ανεπιθύμητων e-mail</a></li>
                <li class="last"><a href="http://g.msn.com/AIPRIV/el">Σχετικά με τις διαφημίσεις μας</a></li>
              </ul>
              <div class="copyright">
                <span>© 2011 Microsoft</span><span class="msftlogo"><a class="footerlogo" href="http://www.microsoft.com/el/gr/" title="Microsoft"><img src="/themes/<%= @publisher.label %>/publisher/images/msft.gif" alt="Microsoft" title="Microsoft" /></a></span>
                </div>
              </div>
			  <script type="text/javascript">/*<![CDATA[*/$.targetWindowFunction('new_window');//]]></script>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="tptrck"></div>
	<script type="text/javascript"></script>
	<script type="text/javascript">function customThirdPartyCall (){$.getScript("/themes/<%= @publisher.label %>/publisher/javascripts/gr_tracking.js", function(){});};$(document).ready(function(){customThirdPartyCall();});</script>
    <!--[if lt IE 7]><script type="text/javascript" src="/themes/<%= @publisher.label %>/publisher/javascripts/ieminwidth.js"></script><![endif]-->