<% set_daily_deal_page_title_slug t(:faq) %>

<div class="page_row">  
  <div class="page_column_12 first rounded_corners">
    
<h1 class="content"><%= @h1 || "ΣΥΧΝΕΣ ΕΡΩΤΗΣΕΙΣ" %></h1>

<h4>Τι είναι η προσφορά της ημέρας;</h4>
<p>Κάθε μέρα μια μοναδική προσφορά παρουσιάζεται ως η Προσφορά της Ημέρας. Η προσφορά είναι διαθέσιμη για περιορισμένο χρονικό διάστημα, γι’ αυτό θα πρέπει να τις παρακολουθείτε τακτικά για να μην την χάσετε! Και μην ξεχνάτε να κοινοποιείτε  τις αγαπημένες σας προσφορές στο Twitter, Facebook αλλά και μέσω της ηλεκτρονικής σας διεύθυνση / email.</p>

<h4>Πως αποκτώ την Προσφορά της Ημέρας;</h4>
<p>Πατώντας την επιλογή "Αγοράστε" πριν την λήξη της προθεσμίας της κάθε προσφοράς. Αν σας αρέσει η προσφορά, στείλτε την στους φίλους σας μέσω  Facebook, Twitter ή email.</p>

<h4>Τι γίνεται αφού επιλέξω την Προσφορά της Ημέρας;</h4>
<p>Αφού πραγματοποιηθεί η αγορά, θα σταλθεί στην ηλεκτρονική σας διεύθυνση το αντίστοιχο εκπτωτικό κουπόνι. Πήγαινετε στο κατάστημα ή στον προμηθευτή με το κουπόνι και καλή απόλαυση.</p>

<h4>Μπορώ να χρησιμοποιήσω μόνο ένα μέρος του κουπονιού και να το κρατήσω το υπόλοιπο για άλλη φορά;</h4>
<p>Δυστυχώς δεν είναι εφικτό. Θα πρέπει να αξιοποιήσετε το κουπόνι σε μία επίσκεψη ή αγορά. Κατόπιν συνεννοήσεως, κάποιοι προμηθευτές είναι πρόθυμοι να εξυπηρετήσουν και να σας διευκολύνουν.</p>

<h4>Αν το όνομά μου είναι στο κουπόνι της Προσφοράς της Ημέρας, μπορεί ο προμηθευτής να χρεώσει τον λογαριαμό μου;</h4>
<p>Οχι. Οι προμηθευτές δεν έχουν πρόσβαση στο λογαριασμό σας. Τα στοιχεία του λογαριασμού σας χειρίζονται εξ’ ολοκλήρου και αποκλειστικά από την DealRoom, την εταιρεία λογισμικού που επεξεργάζεται την συναλλαγή για τον εκδότη.</p>

<h4>Είναι η συναλλαγή ασφαλής για εμένα;</h4>
<p>Είναι απόλυτα ασφαλής. Η συναλλαγή χρησιμοποιεί SSL και άλλα πιστοποιημένα πρότυπα ασφαλείας, με σκοπό να διασφαλίσει ότι τα στοιχεία της πιστωτικής σας κάρτας δεν είναι προσβάσιμα σε τρίτους. Η ασφάλειά σας είναι για μας προτεραιότητα.</p>

<h4>Όταν αγοράζω την Προσφορά της Ημέρας για έναν φίλο/η μου, έχει πρόσβαση στα στοιχεία του λογαριασμού μου;</h4>
<p>Όχι. Το κουπόνι της Προσφοράς αποτελείται από τον αριθμό της συναλλαγής, το όνομα του αγοραστή, το όνομα του αποδέκτη, καθώς και έναν οχταψήφιο κωδικό. Οι πληροφορίες της αγοράς παραμένουν με ασφάλεια στην ιστοσελίδα όπου κανείς καταναλωτής δεν έχει πρόσβαση.</p>

<h4>Μπορώ να συνδυάσω την Προσφορά της Ημέρας με κάποια από τις προηγούμενες προσφορές του προμηθευτή;</h4>
<p>Αυτό δεν είναι εφικτό. Κάθε προσφορά έχει τους δικούς της όρους χρήσης.</p>

<h4>Τι συμβαίνει αν ο προμηθευτής δεν τηρήσει τους όρους της Προσφοράς;</h4>
<p>Πριν από κάθε Προσφορά ελέγχουμε τους διαφημιζόμενους ώστε να βεβαιωθούμε ότι πληρούν τις υψηλές προδιαγραφές μας. Συχνά παρέχουμε τα τελευταία σχόλια και μαρτυρίες προηγούμενων αγοραστων ώστε σας προσφέρουμε την καλύτερη δυνατή εικόνα του τι αγοράζετε. Στην σπάνια περίπτωση που συμβεί κάτι και δεν μείνετε ικανοποιημένοι, τότε μέσω της DealRoom σας επιστρέφουμε το ποσό της προσφοράς.</p>

<h4>Αν έχω περισσότερες απορίες;</h4>
<p>Αν έχετε περισσότερες απορίες για κάποιο θέμα παρακαλούμε στείλτε μας email στη διεύθυνση dealroom@forestview.eu. Θα είναι χαρά μας να σας εξυπηρετήσουμε.</p>

  </div>
</div>
