<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><meta name="keywords" content="el paso times elpaso texas coupons"/><title>Coupons - El Paso Times</title><meta name="verify-v1" content="OPWrXBIyYGbOiAfdRgvjLBlcW68lY9CpAZ6nL8SP+T0=" />
<meta name="msvalidate.01" content="9DAB14005AD5A9FFA4CA0EF58CC794BA" />

 <META name="y_key" content="353467f70a9861aa" />

<!-- Casale Media: Pop Under -->
<script type="text/javascript"><!--
var casaleD=new Date();var casaleR=(casaleD.getTime()%8673806982)+Math.random();
var casaleU=escape(window.location.href);
var casaleHost=' type="text/javascript" src="http://as.casalemedia.com/s?s=';
document.write('<scr'+'ipt'+casaleHost+'110211&amp;u=');
document.write(casaleU+'&amp;f=1&amp;id='+casaleR+'"><\/scr'+'ipt>');
//--></script>
<!-- DO NOT MODIFY -->

<!-- get profile info --><!--  user not logged in (javascript) --><script language="JavaScript" type="text/javascript">
				MNGiRegistrationLoginStatus = "out";
				MNGiRegistrationUserName = "";
				MNGiRegistrationEmail = "";
			</script><!-- end get profile info --><script language="JavaScript" type="text/javascript">
	MNGiRegistrationLoginUrl = "https://secure.passport.mnginteractive.com/mngi/servletDispatch/ErightsPassportServlet.dyn";
	MNGiRegistrationUrl = "https://secure.www.elpasotimes.com";
	MNGiIDCookieName = "MNGID";
</script><script language="JavaScript" type="text/javascript" src="http://extras.mnginteractive.com/live/js/mngiads/AdsInclude.js"></script><script language="JavaScript" type="text/javascript" src="http://extras.mnginteractive.com/live/js/otherinc/pop-window.js"></script><link type="text/css" rel="stylesheet" href='http://extras.mnginteractive.com/live/css/MNGiDefaultStyles.css'><link type="text/css" rel="stylesheet" href='http://extras.mnginteractive.com/live/css/1024_-_2_Column_Multi-Region.css'><!--YAHOO ADS--><script type="text/javascript" language="JavaScript">
														//General Information
														yld_mgr = {};
														yld_mgr.slots = {};
														yld_mgr.pub_id="21158132606";
														yld_mgr.site_name=fixSubDomain("www.elpasotimes.com");
														yld_mgr.container_type="js";
														yld_mgr.request_type="ac";	
														yld_mgr.clk_dest="_blank";
														yld_mgr.ad_output_encoding="utf-8";
														yld_mgr.max_count=3;	
														yld_mgr.content_lang="en-US";
														yld_mgr.disable_content_send="0";
														yld_mgr.cstm_sctn_list=["section"];
								                		yld_mgr.content_topic_id_list=["20201501"];					      
														
								                		
														var sectionKeywords = [""];
														
														
														var content_type_list = ["fn_news"];	
														var reporting_tag_list = ["Business"];
														
														//Reg details
														if(typeof(reg_data) != 'undefined'){	
														   yld_mgr.user_city=reg_data.user_city;
														   yld_mgr.user_dma=reg_data.user_dma;
														   yld_mgr.user_state=reg_data.user_state;
														   yld_mgr.user_zip=reg_data.user_zip;
														   yld_mgr.user_country=reg_data.user_country;	
														   yld_mgr.user_age=reg_data.user_age;
														   yld_mgr.user_gender=reg_data.user_gender;
														   yld_mgr.user_income=reg_data.user_income;
														} 
														
														//Ad slot configs          		
								                		
																					yld_mgr.slots.adPos13={};
																					yld_mgr.slots.adPos13.ad_size_list=["336x280"];
																					yld_mgr.slots.adPos13.ad_delivery_mode="ipbtf";
																					yld_mgr.slots.adPos13.ad_format_list=["Standard Graphical","Rich Media"];
																					yld_mgr.slots.adPos13.cstm_content_cat_list=sectionKeywords;
																					yld_mgr.slots.adPos13.content_type_list=content_type_list;
																					yld_mgr.slots.adPos13.reporting_tag_list=reporting_tag_list;
																					
																					yld_mgr.slots.adPos9={};
																					yld_mgr.slots.adPos9.ad_size_list=["300x250"];
																					yld_mgr.slots.adPos9.ad_delivery_mode="ipatf";
																					yld_mgr.slots.adPos9.ad_format_list=["Standard Graphical","Rich Media"];
																					yld_mgr.slots.adPos9.cstm_content_cat_list=sectionKeywords;
																					yld_mgr.slots.adPos9.content_type_list=content_type_list;
																					yld_mgr.slots.adPos9.reporting_tag_list=reporting_tag_list;
																					
																					yld_mgr.slots.adPos10={};
																					yld_mgr.slots.adPos10.ad_size_list=["160x600"];
																					yld_mgr.slots.adPos10.ad_delivery_mode="ipatf";
																					yld_mgr.slots.adPos10.ad_format_list=["Standard Graphical","Rich Media"];
																					yld_mgr.slots.adPos10.cstm_content_cat_list=sectionKeywords;
																					yld_mgr.slots.adPos10.content_type_list=content_type_list;
																					yld_mgr.slots.adPos10.reporting_tag_list=reporting_tag_list;
																					<!--Ad Position 14 disabled-->
																					yld_mgr.slots.adPos0={};
																					yld_mgr.slots.adPos0.ad_size_list=["728x90"];
																					yld_mgr.slots.adPos0.ad_delivery_mode="ipatf";
																					yld_mgr.slots.adPos0.ad_format_list=["Standard Graphical","Rich Media"];
																					yld_mgr.slots.adPos0.cstm_content_cat_list=sectionKeywords;
																					yld_mgr.slots.adPos0.content_type_list=content_type_list;
																					yld_mgr.slots.adPos0.reporting_tag_list=reporting_tag_list;
																						
												yld_mgr.slots.adPosBox={};
												yld_mgr.slots.adPosBox.ad_size_list=["300x250"];
												yld_mgr.slots.adPosBox.ad_delivery_mode="ipbtf";
												yld_mgr.slots.adPosBox.ad_format_list=["Standard Graphical","Rich Media"];
												yld_mgr.slots.adPosBox.cstm_content_cat_list=sectionKeywords;
												yld_mgr.slots.adPosBox.content_type_list=content_type_list;
												yld_mgr.slots.adPosBox.reporting_tag_list=reporting_tag_list;		
		                        		</script>
                                <script type="text/javascript">
                                yld_mgr = {};
                                yld_mgr.slots = {};
                                yld_mgr.container_type="js";
                                yld_mgr.request_type="ac";
                                yld_mgr.pub_id="21158132606";
                                yld_mgr.site_name="www.elpasotimes.com";
                                yld_mgr.content_topic_id_list=["20347501"];
                                </script>
                                <script type="text/javascript">
                                yld_mgr.slots.slot0 = {};
                                yld_mgr.slots.slot0.ad_delivery_mode="ipatf";
                                yld_mgr.slots.slot0.ad_size_list=["728x90"];
                                yld_mgr.slots.slot0.cstm_content_cat_list=["coupons"];
                                </script>
                                <script type="text/javascript" src="http://e.yieldmanager.net/script.js"></script>
                                <script type="text/javascript">
                                yld_mgr.place_ad_here("slot0");
                                </script>		                        		
		                        		
		                        		<script type="text/javascript" language="JavaScript" src="http://e.yieldmanager.net/script.js"></script><!-- Site CSS = http://extras.mnginteractive.com/live/css/site525/RDS-site.css --><style type="text/css"><!--
                            #bodyMain  { z-index:10; position: absolute; top: 0px;  left: 0px; width: 100%;  visibility: visible }
                            #headerSub { z-index:100; position: absolute; top: 84px; left:10px; width: 250px; visibility:hidden}
                            --></style>
    <%= render :partial => 'layouts/offers/standard/stylesheets_and_javascript' %>
    <%= render :partial => 'layouts/offers/standard/facebook_metadata' %>
    <%= raw render :partial => "/shared/tracking_offers" %>
  </head>
  
  <body class="bodyStyle"><span id='RDS-site'><link type='text/css' rel='stylesheet' href='http://extras.mnginteractive.com/live/css/site525/RDS-site.css'><div class="contentStyle"><div id="wait" style="position: absolute; top: 200; left: 200; visibility:hidden; font-size: 1pt; color: white;"><!-- SiteCatalyst code version: H.1.

  Copyright 1997-2005 Omniture, Inc. More info available at

  http://www.omniture.com -->

  <script language="JavaScript"><!--//

              /* Specify the Report Suite ID(s) to track here */

              var s_account="gpaper124";

              //--></script>

  <script language="JavaScript" src="http://extras.mnginteractive.com/live/js/omniture/SiteCatalystCode_H_1.js"></script>

  <script language="JavaScript"><!--

  /* You may give each page an identifying name, server, and channel on

  the next lines. */

  s.pageName=""
  s.server=""
  s.channel="Advertising"
  s.pageType=""
  s.prop1="advertising coupons"
  s.prop2=""
  s.prop3=""	
  s.prop4=""
  s.prop5=""
  s.prop6=""
  s.prop7=""
  s.prop8=""
  s.prop9=""
  s.prop10=""
  s.prop11=""
  s.prop12=""
  s.prop13=""
  s.prop14=""
  s.prop15=""
  s.prop16=""
  s.prop17=""
  s.prop18=""
  s.prop19=""
  s.prop20=""
  s.prop21=""
  s.prop22=""
  s.prop23=""
  s.prop24=""
  s.prop25=""
  s.prop26="elpasotimes.com"	//3rd Party Vendor domain
  s.prop27="" 
  s.prop28="" 
  s.prop29="" 
  s.prop30="" 
  /* E-commerce Variables */
  s.campaign=""
  s.state=""
  s.zip=""
  s.events=""
  s.products=""
  s.purchaseID=""
  s.eVar1=""
  s.eVar2=""
  s.eVar3=""
  s.eVar4=""
  s.eVar5=""

  /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/

  var s_code=s.t();if(s_code)document.write(s_code)//--></script>

  <script language="JavaScript"><!--

  if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')

  //--></script><noscript><img

  src="http://gpaper124.112.2O7.net/b/ss/gpaper124/1/H.1--NS/0"

  height="1" width="1" border="0" alt="" /></noscript><!--/DO NOT REMOVE/-->

  <!-- End SiteCatalyst code version: H.1. --></div></td></tr></table></td></tr></table><table  class="regionParent" cellspacing="0" cellpadding="0" border="0"><tr><td valign="top" align="left" class="headerRegion"><table border="0" width="100%" cellpadding="0" cellspacing="0"><tr><td valign="top"><!-- BEGIN FREEFORM RENDER, ID 6021513 --><script type="text/javascript" src="http://extras.mnginteractive.com/live/js/mngiMenu/mngiMenu.js"></script>
	<script src="http://extras.mnginteractive.com/live/js/weather/custom_weather_access.js"></script>
	

<div class="topNav">

	<ul class="loginNav">
		<li><a href="http://m.elpasotimes.com/cb/452/subscribe.html">Mobile Alerts</a></li>
        <li><a href="http://www.elpasotimes.com/e-edition">E-Edition</a></li>
		<li><a href="http://click1.newsletters.insideelpaso.com/subscribe/">Newsletters</a></li>
		<li class="subscribe"><a href="http://www.elpasotimes.com/formcirculation">Subscribe</a></li>
	</ul>

	<ul class="weather"><span id="weather_box_horizontal"></span>
        <script>loadWeatherBoxHorizontal('weather_box_horizontal','79901','www.elpasotimes.com','/weather');</script>                    
	</ul>

</div>


<div id="masthead_home" class="clearfix">
<a href="http://www.elpasotimes.com/" id="logoLink"><img src="http://extras.mnginteractive.com/live/media/site559/2008/1015/20081015_040802_logolink.gif"></a>

	<div id="searchbar">
<form action="/circare/html/sca_template.jsp" method="get">
			<input name="query" class="searchbox" type="text"/>
			<input name="searchbutton" value="Search" class="button" src="http://extras.mnginteractive.com/live/media/site525/2007/0723/btn_search.gif" type="image" align="absmiddle"/>
			<ul id="searchoptions">
				<li><input name="view" type="radio" class="radio" value="entiresitesppublished" checked="checked" />This Site</li>
				<li class="end"><input name="view" type="radio" class="radio" value="yahoowebsearch" />Web Search powered by <span class="yahooText">YAHOO!</span> <span>search</span></li>

			</ul>
		</form>

	</div>
</div>
<!--  end #masthead_home  -->


<!-- MAIN NAV -->
<table width="1000" height="5" border="0" cellpadding="0" cellspacing="0">
<tr>
	<td width="420" align="left">

	</td>
	<td width="580" align="right">


	</td>
</tr>
</table>
	

<!-- Begin main menu --> 
<div id="navWrap">
	<div id="nav" class="subHasBorder"> <!--  NOTE: the class should be removed if subnav doesn't have a border -->
		
		<iframe src="about:blank" frameborder="0" id="shimmer" style="display:none;"></iframe>

		
		<span class="nosub">
		<div id="maindiv0" onMouseOver="fixMouseIn(this, event, 'mouseIn(\'0\')')" onMouseOut="fixMouseOut(this, event, 'mouseOut(\'0\')')" class="first">
			<a href="http://www.elpasotimes.com/"><span>Home</span></a>
			<div id="navdetails0" class="subdiv"></div>
		</div>
		</span>

		<div id="maindiv1" onMouseOver="fixMouseIn(this, event, 'mouseIn(\'1\')')" onMouseOut="fixMouseOut(this, event, 'mouseOut(\'1\')')">
			<a href="http://www.elpasotimes.com/news"><span>News</span></a>

			<div id="navdetails1" class="subdiv">
				<div><a href="http://www.elpasotimes.com/newupdated">New & Updated</a></div>
				<div><a href="http://www.elpasotimes.com/weather">Weather</a></div>
				<div><a href="http://www.elpasotimes.com/traffic">Traffic</a></div>
				<div><a href="http://www.elpasotimes.com/politics">Politics</a></div>
				<div><a href="http://www.elpasotimes.com/nationworld">Nation / World</a></div>
				<div><a href="http://www.elpasotimes.com/weird">Weird News</a></div>
				<div><a href="http://www.elpasotimes.com/spanish">Espa&ntilde;ol</a></div>
				<div><a href="http://www.elpasotimes.com/juarez">Juarez</a></div>
				<div><a href="http://www.elpasotimes.com/publiccorruption">Public Corruption</a></div>
				<div><a href="http://www.elpasotimes.com/webcasts">Video</a></div>
				<div><a href="http://elpasotimes.mycapture.com/mycapture/index.asp">Photo Galleries</a></div>
				<div><a href="http://www.elpasotimes.com/upload">Upload your Photos</a></div>
			</div>
		</div>

		<div id="maindiv2" onMouseOver="fixMouseIn(this, event, 'mouseIn(\'2\')')" onMouseOut="fixMouseOut(this, event, 'mouseOut(\'2\')')">
			<a href="http://www.elpasotimes.com/opinion"><span>Opinion</span></a>
			<div id="navdetails2" class="subdiv">
				<div><a href="http://www.elpasotimes.com/columnists">Columnists</a></div>
				<div><a href="http://www.elpasotimes.com/letters">Letters to the Editor</a></div>
				<div><a href="http://www.elpasotimes.com/blogs">Blogs</a></div>
				<div><a href="http://www.topix.net/forum/source/el-paso-times">Forums</a></div>
				<div><a href="http://elpasotimes.mycapture.com/mycapture/folder.asp?event=465184&CategoryID=37205&ListSubAlbums=0">Nachotoons</a></div>
				<div><a href="http://www.elpasotimes.com/newsmaker">Notable Quotes</a></div>
			</div>
		</div>
		
		<div id="maindiv3" onMouseOver="fixMouseIn(this, event, 'mouseIn(\'3\')')" onMouseOut="fixMouseOut(this, event, 'mouseOut(\'3\')')">
			<a href="http://www.elpasotimes.com/sports"><span>Sports</span></a>
			<div id="navdetails3" class="subdiv">
				<div><a href="http://www.elpasotimes.com/highschoolmania">Prep Sports</a></div>
				<div><a href="http://www.elpasotimes.com/minersmania">UTEP Miners</a></div>
				<div><a href="http://www.elpasotimes.com/cowboys">Dallas Cowboys</a></div>
				<div><a href="http://www.elpasotimes.com/soccermania">Soccer</a></div>
				<div><a href="http://www.elpasotimes.com/sportsextra">Sports Extra</a></div>
				<div><a href="http://www.elpasotimes.com/signups">Sign-ups</a></div>
				<div><a href="http://www.elpasotimes.com/sunbowlmania">Sun Bowl</a></div>
			</div>
		</div>

		<div id="maindiv4" onMouseOver="fixMouseIn(this, event, 'mouseIn(\'4\')')" onMouseOut="fixMouseOut(this, event, 'mouseOut(\'4\')')">

			<a href="http://www.elpasotimes.com/business"><span>Business</span></a>
			<div id="navdetails4" class="subdiv">
				<div><a href="http://www.elpasotimes.com/gas">Gas Prices</a></div>
				<div><a href="http://www.elpasotimes.com/he">Hispanic Entrepreneurs </a></div>
				<div><a href="http://studio-5.financialcontent.com/mng-elpaso?Account=elpasotimes&Page=Calc">Financial Calculators</a></div>
				<div><a href="http://cnrp.marketwire.com/client/elpasotimes/headlines.jsp">Marketwire</a></div>
				<div><a href="http://www.businesswire.com/portal/site/elpasotimes/">Business Wire</a></div>
				<div><a href="http://www.prnewswire.com/medmicro/elpaso/index.html">PR News Wire</a></div>
				<div><a href="http://yellowpages.elpasotimes.com/">Yellowpages</a></div>
			</div>
		</div>

		<div id="maindiv5" onMouseOver="fixMouseIn(this, event, 'mouseIn(\'5\')')" onMouseOut="fixMouseOut(this, event, 'mouseOut(\'5\')')">
			<a href="http://www.elpasotimes.com/entertainment"><span>Entertainment</span></a>
			<div id="navdetails5" class="subdiv">
				<div><a href="http://affiliate.zap2it.com/movies/mventertainment.do?aid=elpaso">TV & Movies</a></div>
				<div><a href="http://www.uclick.com/client/elp/gpa/">Puzzles & Games</a></div>
				<div><a href="http://www.elpasotimes.com/tiempo">Tiempo</a></div>
				<div><a href="http://www.elpasotimes.com/dining">Restaurants & Dining</a></div>
				<div><a href="http://calendar.elpasotimes.com/">Events Calendar</a></div>
				<div><a href="http://www.uclick.com/client/elp/cpa/">Comics</a></div>
				<div><a href="http://elpasotimes.hollywoodpreviews.com/">Movie Trailers</a></div>
				<div><a href="http://www.elpasotimes.com/horoscopes">Horoscopes</a></div>
				<div><a href="http://www.elpasotimes.com/lottery">Lottery</a></div>
				<div><a href="http://tickets.elpasotimes.com/">Buy Tickets</a></div>
			</div>
		</div>

		<div id="maindiv6" onMouseOver="fixMouseIn(this, event, 'mouseIn(\'6\')')" onMouseOut="fixMouseOut(this, event, 'mouseOut(\'6\')')">
			<a href="http://www.elpasotimes.com/communities"><span>Communities</span></a>
			<div id="navdetails6" class="subdiv">
				<div><a href="http://www.elpasotimes.com/west">West Side</a></div>
				<div><a href="http://www.elpasotimes.com/east">East Side</a></div>
				<div><a href="http://www.elpasotimes.com/ne-central">Northeast / Central</a></div>
				<div><a href="http://www.elpasotimes.com/military">Fort Bliss & Military</a></div>
				<div><a href="http://www.elpasotimes.com/lowervalley">Lower Valley</a></div>
				<div><a href="http://www.elpasotimes.com/texas">Texas</a></div>
				<div><a href="http://www.elpasotimes.com/newmexico">New Mexico</a></div>
				<div><a href="http://www.elpasotimes.com/education">Education</a></div>
				<div><a href="http://www.elpasotimes.com/nie">NIE</a></div>
			</div>
		</div>

		<div id="maindiv7" onMouseOver="fixMouseIn(this, event, 'mouseIn(\'7\')')" onMouseOut="fixMouseOut(this, event, 'mouseOut(\'7\')')">
			<a href="http://www.elpasotimes.com/living"><span>Living</span></a>
			<div id="navdetails7" class="subdiv">
				<div><a href="http://www.elpasotimes.com/athlete">Everyday Athlete</a></div>
				<div><a href="http://www.elpasotimes.com/celebrations">Celebrations</a></div>
				<div><a href="http://www.elpasotimes.com/travel">Travel</a></div>
				<div><a href="http://www.elpasotimes.com/homegarden">Home & Garden</a></div>
				<div><a href="http://www.elpasotimes.com/health">Health</a></div>
				<div><a href="http://www.elpasotimes.com/outdoors">Outdoors</a></div>
			</div>
		</div>
		
		<div id="maindiv8" onMouseOver="fixMouseIn(this, event, 'mouseIn(\'8\')')" onMouseOut="fixMouseOut(this, event, 'mouseOut(\'8\')')">
			<a href="http://www.legacy.com/obituaries/elpasotimes/"><span>Obits</span></a>
			<div id="navdetails8" class="subdiv">
				<div><a href="http://memorialwebsites.legacy.com/">Memorials</a></div>
				<div><a href="http://www.elpasotimes.com/formclassifiedorder">Submit Obituary Ad</a></div>
			</div>
		</div>
		
<!-- BEGIN classified nav -->

	<div id="rightNav">
		
		<div id="maindiv9" onMouseOver="fixMouseIn(this, event, 'mouseIn(\'9\')')" onMouseOut="fixMouseOut(this, event, 'mouseOut(\'9\')')">
			<a href="http://www.elpasotimes.com/customerservice"><span>Customer Service</span></a>
			<div id="navdetails9" class="subdiv">
			<div><a href="http://www.elpasotimes.com/formcirculation">Subscription Assistance</a></div>
			<div><a href="http://www.elpasotimes.com/formnewsroom">Newsroom</a></div>
			<div><a href="http://www.elpasotimes.com/formsports">Sports</a></div>
			<div><a href="http://www.elpasotimes.com/formonline">Online</a></div>
			<div><a href="http://www.elpasotimes.com/formclassified">Classifieds</a></div>
			<div><a href="http://www.elpasotimes.com/formretail">Retail</a></div>
			<div><a href="http://www.elpasotimes.com/formarchives">Archives</a></div>
			</div>
		</div>

		<div id="maindiv10" onMouseOver="fixMouseIn(this, event, 'mouseIn(\'10\')')" onMouseOut="fixMouseOut(this, event, 'mouseOut(\'10\')')">
			<a href="http://www.elpasotimesrealestate.com/"><span>Real Estate</span></a>
			<div id="navdetails10" class="subdiv">
				<div><a href="http://www.elpasotimesrealestate.com/">Find a Home</a></div>
				<div><a href="http://extras.elpasotimes.com/verticals/apartments/">Apartments</a></div>
			</div>
		</div>

		<div id="maindiv11" onMouseOver="fixMouseIn(this, event, 'mouseIn(\'11\')')" onMouseOut="fixMouseOut(this, event, 'mouseOut(\'11\')')">
			<a href="http://www.cars.com/go/index.jsp?aff=elpaso"><span>Cars</span></a>
			<div id="navdetails11" class="subdiv">
			<div><a href="http://www.cars.com/go/buyIndex.jsp?aff=elpaso">Buy a Car</a></div>
			<div><a href="http://siy.cars.com/siy/index.jsp?aff=elpaso&referer=hdr_top">Sell a Car</a></div>
			<div><a href="http://www.cars.com/go/crp/index.jsp?aff=elpaso">Research</a></div>	
			</div>
		</div>
		
	    <div id="maindiv12" onMouseOver="fixMouseIn(this, event, 'mouseIn(\'12\')')" onMouseOut="fixMouseOut(this, event, 'mouseOut(\'12\')')" class="left">
			<a href="http://elpasotimes.gannettonline.com/careerbuilder/index.html"><span>Jobs</span></a>
			<div id="navdetails12" class="subdiv">
				<div><a href="http://www.careerbuilder.com/pli/r/advsearch.htm?ch=al&st=a&lr=cbga_elp&siteid=gaelp1002">Find a Job</a></div>
				<div><a href="http://elpasotimes.gannettonline.com/careerbuilder/employers04/recruitmentMS.html">Post a Job</a></div>
				<div><a href="http://elpasotimes.gannettonline.com/careerbuilder/career_resources04/tools/index.html">Tools and Advice</a></div>
			</div>
		</div>
		<div id="maindiv13" onMouseOver="fixMouseIn(this, event, 'mouseIn(\'13\')')" onMouseOut="fixMouseOut(this, event, 'mouseOut(\'13\')')">
			<a href="http://www.elpasotimes.com/advertising"><span>Advertising</span></a>
			<div id="navdetails13" class="subdiv">
			<div><a href="http://extras.elpasotimes.com/verticals/classified/">Classifieds</a></div>
			<div><a href="http://www.elpasotimes.com/advertising/tiempo">Tiempo</a></div>
			<div><a href="http://www.elpasotimes.com/advertising/realestate">Real Estate Press</a></div>
			<div><a href="http://www.elpasotimes.com/advertising/carstrucks">Cars & Trucks</a></div>
			<div><a href="http://www.elpasotimes.com/advertising/bargainfinder">Bargain Finder</a></div>
			<div><a href="http://www.elpasotimes.com/advertising/chamber">Chamber Newsletter</a></div>
			<div><a href="http://www.elpasotimes.com/advertising/elpasoymas">El Paso y Mas</a></div>
			</div>
		</div>
		
		</div>

		<!-- END #rightNav --> 

	</div><!--END #nav -->
</div><!-- END #navWrap --><!-- END FREEFORM RENDER, ID 6021513 --></td></tr></table></td></tr></table><table  class="regionParent" cellspacing="0" cellpadding="0" border="0"><tr><td valign="top" align="left" class="postHeaderRegion"></td></tr></table><table class="regionParent" cellspacing="0" cellpadding="0" border="0"><tr><td valign="top" align="left" class="postHeaderRegion1"><table border="0" width="100%" cellpadding="0" cellspacing="0"><tr><td valign="top"><!-- BEGIN FREEFORM RENDER, ID 6282836 --><link type="text/css" rel="stylesheet" href='http://extras.elpasotimes.com/css/RDS_business-mainheader.css'><!-- END FREEFORM RENDER, ID 6282836 --></td><td valign="top"><!-- BEGIN FREEFORM RENDER, ID 6177099 --><span class="sectionDivname">
<table border="0" cellpadding="0" cellspacing="0" class="sectionTablename">
<tr>
<td class="sectionTDname">&nbsp;
</td>
</tr>
</table>
</span><!-- END FREEFORM RENDER, ID 6177099 --></td></tr></table></td></tr></table><table class="regionParent" cellspacing="0" cellpadding="0" border="0"><tr><td valign="top" align="left" class="region1"></td></tr></table><table class="regionParent" cellspacing="0"  cellpadding="0" border="0"><tr><td valign="top" align="left"><table  cellspacing="0" cellpadding="0" border="0"><tr><td colspan="3" valign="top" align="left">

  <div id="analog_analytics_content">
  <%= yield %>
  </div>
  </td>
  </tr>
  </table>
               				
              				<table class="regionParent" cellspacing="0" cellpadding="0" border="0" align="center"><tr><td valign="top" align="center" class="yahooContentMatch"><script type="text/javascript">
	    	//Required
	    	ctxt_ad_interface = 'http://cm.npc-medianews.overture.com/js_1_0/';
	    	ctxt_ad_config = '2554942840';
	    	ctxt_ad_width = 728;								//Determined per layout
	    	ctxt_ad_height = 90;								//Determined per layout
	    	ctxt_ad_source = 'npc_mng_elpasotimes_t1_ctxt';				//Determined per site/category tier/test?
		
	    	//Query Context
	    	ctxt_ad_id = 'business';											//Context ID (t1/t2 category name)
	    	ctxt_ad_url = window.location.href;										//Page URL 
		
	    	//Reporting
	    	ctxt_ad_type = 'business';										//Used in business reporting
	    	</script><script type="text/javascript" src="http://cm.npc-medianews.overture.com/partner/js/ypn.js"></script>
	    	</td>
	    	</tr>
	    	</table>
	    	<table class="regionParent" cellspacing="0" cellpadding="0" border="0" ><tr><td valign="top" class="footerRegion">
	    	  <table border="0" width="100%" cellpadding="0" cellspacing="0">
	    	  <tr>
	    	    <td valign="top"></td>
	    	    </tr>
	    	    <tr>
	    	      <td valign="top"><!-- BEGIN FREEFORM RENDER, ID 6043242 -->	<!-- FOOTER -->
<table width="1000" border="0" cellpadding="0" cellspacing="1">

<!---- YAHOO CONTEXTUAL ADS GO HERE --->

<tr >
	<td align="center" class="listingarticleblurb">
<!-- Copyright -->
Copyright &copy; <script type="text/javascript">
<!--
var currentTime = new Date()
var year = currentTime.getFullYear()
document.write(year)
//-->
</script> by the El Paso Times and MediaNews Group and/or wire services and suppliers.<br>None of the content on this site may be republished or reused in any way without the written permission of the copyright holder.
	</td>
</tr>
<tr>
	<td align="center">
	
<!-- PARTNERS -->
<table border="0" cellpadding="2" cellspacing="2">
<tr>
	<td align="center">
<A class="promolinks" href="http://www.elpasotimes.com/formretail">Advertise with Us</a>
<span class="EPT-partner"> | </span>
<A class="promolinks" href="http://www.elpasotimes.com/customerservice">Customer Service</a>
<span class="EPT-partner"> | </span>
<A class="promolinks" href="http://www.elpasotimes.com/e-edition">e-Edition</a>
<span class="EPT-partner"> | </span>
<A class="promolinks" href="http://www.facebook.com/home.php?#/profile.php?id=650304244&ref=ts" target="_blank">Facebook</a>
<span class="EPT-partner"> | </span>
<A class="promolinks" href="http://m.elpasotimes.com/" target="_blank">Mobile</a>
<span class="EPT-partner"> | </span>
<A class="promolinks" href="http://add.my.yahoo.com/content?.intl=us&url=http://feeds.elpasotimes.com/mngi/rss/CustomRssServlet/525/200229.xml" target="_blank">My Yahoo</a>
<span class="EPT-partner"> | </span>
<A class="promolinks" href="http://click1.newsletters.insideelpaso.com/manage.htm" target="_blank">Newsletters</a>
<span class="EPT-partner"> | </span>
<A class="promolinks" href="http://feeds.elpasotimes.com/mngi/rss/CustomRssServlet/525/200816.xml" target="_blank">RSS</a>
<span class="EPT-partner"> | </span>
<A class="promolinks" href="http://www.elpasotimes.com/sitemap">Site Map</a>
<span class="EPT-partner"> | </span>
<A class="promolinks" href="http://twitter.com/elpasotimes" target="_blank">Twitter</a>
<span class="EPT-partner"> | </span>
<A class="promolinks" href="http://www.youtube.com/user/ElPasoTimes" target="_blank">YouTube</a>
</td>
</tr>
</table>

<table border="0" cellpadding="2" cellspacing="2">
<tr>
	<td><a href="http://www.univision26.com" target="_blank"><img hspace="3" src="http://extras.mnginteractive.com/live/media/site525/2007/0530/20070530__RDS_partners_26.gif" width="79" height="31" border="0"></a></td>
	<td><a href="http://www.ktsm.com/" target="_blank"><img hspace="3" src="http://extras.mnginteractive.com/live/media/site525/2009/0630/20090630_092017_NC9_HDx31.gif" height="31" border="0"></a></td>
	<td><a href="http://www.elpaso.org/" target="_blank"><img hspace="3" src="http://extras.mnginteractive.com/live/media/site525/2009/0807/20090807_023101_chamberrevised.gif" height="31" border="0"></a></td>
	<td><a href="http://www.krod.com/" target="_blank"><img hspace="3" src="http://extras.mnginteractive.com/live/media/site525/2007/0530/20070530__RDS_partners_krod.gif" width="79" height="31" border="0"></a></td>
</tr>
</table>

	</td>
</tr>
<tr>
	<td align="center"><span class="listingarticleblurb"><B>News Partners</B>:</span>&nbsp;&nbsp;
<A class="promolinks" href="http://alamogordonews.com/" target="_blank">Alamogordo Daily News</a>
<span class="EPT-partner"> | </span>
<A class="promolinks" href="http://www.currentargus.com/" target="_blank">Carlsbad Current-Argus</a>
<span class="EPT-partner"> | </span>
<A class="promolinks" href="http://www.demingheadlight.com/" target="_blank">Deming Headlight</a>
<span class="EPT-partner"> | </span>
<A class="promolinks" href="http://www.daily-times.com/" target="_blank">Farmington Daily Times</a>
<span class="EPT-partner"> | </span>
<A class="promolinks" href="http://www.lcsun-news.com/" target="_blank">Las Cruces Sun-News</a>
<span class="EPT-partner"> | </span>
<A class="promolinks" href="http://www.ruidosonews.com/" target="_blank">Ruidoso News</a>
<span class="EPT-partner"> | </span>
<A class="promolinks" href="http://www.scsun-news.com/" target="_blank">Silver City Sun-News</a>
</td>
</tr>
</table>


<!-- Start Quantcast tag -->
<!-- Online Editor: This QuantCast tracking tag provides site and visitor information used by the MNG sales team. Please do not remove this tag! -->
<script type="text/javascript">
_qoptions={
qacct:"p-4ctCQwtnNBNs2",
labels:"ElPasoRegional"
};
</script>
<script type="text/javascript" src="http://edge.quantserve.com/quant.js"></script>
<noscript>
<img src="http://pixel.quantserve.com/pixel/p-4ctCQwtnNBNs2.gif?labels=ElPasoRegional" style="display: none;" border="0" height="1" width="1" alt="Quantcast"/>
</noscript>
<!-- End Quantcast tag --><!-- END FREEFORM RENDER, ID 6043242 --></td></tr><tr><td valign="top"><!-- BEGIN FREEFORM RENDER, ID 10836491 --><!-- FREEFORM WAS NOT VALID.... --><!-- END FREEFORM RENDER, ID 10836491 --></td></tr></table><br><div class="textLinksRegion"></div><div class="layoutFooterLinks"><a class="privacyPolicyLink" href="http://www.elpasotimes.com/portlet/layout/html/privacypolicy/privacypolicy.jsp?siteId=525" target="privacypolicy">Privacy Policy</a><a class="footerLinkSeparator">&nbsp;&nbsp;|&nbsp;&nbsp;</a><a class="mngSitemapLink" href="http://www.elpasotimes.com/portlet/layout/html/sitemap/mng_sitemap.jsp" target="sitemap">MNG Corporate Site Map</a><a class="footerLinkSeparator">&nbsp;&nbsp;|&nbsp;&nbsp;</a><a class="copyrightLink" href="http://www.elpasotimes.com/portlet/layout/html/copyright/copyright.jsp?siteId=525" target="copyright">Copyright</a><script type="text/javascript">
if (typeof(MNGiCustomWeather) == "undefined"){
	var MNGiCustomWeather = false;
}

if (MNGiCustomWeather){
    
	document.write("<br><a href='http://www.customweather.com' target='_new' class='customWeatherCopyrightLink'>Weather data Copyright 2007 CustomWeather, Inc.</a>");
}

</script>
</div>
</td>
</tr>
</table>
</td>
</tr>
</table>
</div>
</span>
</body>
</html>