<div id="share">
  <p class="share">
    Share
  </p><a href="http://facebook.com/share.php?u={{ publisher.presignup_daily_deal_subscribers_url }}" class="facebook icon" id="facebook_link" title="Share this on Facebook" name="facebook_link"><img alt="Facebook" src="/themes/queenscourier/images/icons/facebook.png" /></a> <a href="http://twitter.com?status=I just signed up for the Queens Courier Daily Deal! {{ publisher.presignup_daily_deal_subscribers_url }}" class="twitter icon" id="twitter_link" title="Share this on Twitter" target="_blank" name="twitter_link"><img alt="Twitter" src="/themes/queenscourier/images/icons/twitter.png" /></a> <a href="mailto:?subject=The Queens Courier Daily Deal&body={{ publisher.presignup_daily_deal_subscribers_url }}" class="icon"><img alt="Email" src="/themes/queenscourier/images/icons/email.png" /></a>
</div>