<% set_daily_deal_page_title_slug "California Privacy Policy" %>

<div class="page_row">  
  <div class="page_column_12 first rounded_corners">

    <h1>PRIVACY POLICY</h1>

    <p>California Civil Code Section 1798.83, also known as S.B. 27, allows our California customers to request certain information regarding our disclosures in the prior calendar year, if any, of personally identifiable information to third parties for their own direct marketing purposes. To make such a request, please contact us. We will attempt to provide you with the requested information within thirty days of receipt. </p>

  </div>
</div>
