<% set_daily_deal_page_title_slug t(:how_it_works) %>

<div class="page_row how_it_works">
  <div class="page_column_12 first rounded_corners">
    <h1 class="content"><%= t(:how_it_works) %></h1>
        <h4>Επιλογή και Αγορά</h4>
        <p>Καθημερινά θα ανακοινώνουμε μια καινούργια Προσφορά Ημερας για εστιατόρια, spa, εκδηλώσεις αλλά και για πολλές άλλες τοπικές ευκαιρίες με εκπτώσεις από 50% έως και 90%. Για να ενεργοποιηθεί η κάθε προσφορά θα πρέπει να συμπληρωθεί ένας ελάχιστος αριθμός αγορών. Αν συμπληρωθεί ο απαιτούμενος αριθμός μέχρι την λήξη της προθεσμίας, τότε η προσφορά είναι ενεργή.</p>

        <h4>Κοινοποίηση</h4>
        <p>Όταν βρείτε τη προσφορά που σας αρέσει, κοινοποιείστε την στους φίλους σας μέσω Facebook, Twitter ή e-mail. Όσους περισσότερους προσκαλείτε τόσο μεγαλύτερη πιθανότητα έχετε να ενεργοποιηθεί η προσφορά.</p>

        <h4>Εκτύπωση</h4>
        <p>Αφού ολοκληρώσετε την αγορά, θα λάβετε το κουπόνι με την Προσφορά της Ημέρας
		μέσω e-mail για να το εκτυπώσετε. Παραδώστε το κουπόνι στον προμηθευτή κατα την αφιξή σας και απολαύστε την Προσφορά.
		</p>
    
    <div class="sign_up">
      <p>Μην χάνετε ευκαιρία! Κάνετε <a href="<%= daily_deal_login_path(@publisher) %>">Εγγραφή</a> για να λαμβάνετε το ενημερωτικό e-mail κάθε φορά που βρίσκουμε μια νέα προσφορά.</p>
    </div>
    
    <p class="questions">Περισσότερες απορίες; Ελέγξτε την σελίδα <a href="<%= faqs_publisher_daily_deals_path(@publisher) %>">Συχνές Ερωτήσεις</a></p>
  </div>
</div>
