<div id="preopt-header">
	<img id="preopt-header-logo" src="/themes/kowabunga/images/presignup/header-kowabunga-deals-logo.png" alt="Sign Up for Kowabunga Deals!"/>
	<img id="preopt-paddle-in-logo" src="/themes/kowabunga/images/presignup/header-paddle-in-logo.png" alt="Kowabunga paddle on in logo"/>
</div><!--  end preopt-header -->
