<div id="preopt-footer">
	<div id="preopt-footer-inner">
		<div id="kowabunga-footer-logo">
			<img src="/themes/kowabunga/images/presignup/kowabunga-footer-logo.png" alt="Sign Up for Kowabunga Deals!"/>
			<p> &copy; 2011 <a href="http://inuvo.com/" target="_blank">Inuvo &reg;</p></a>
		</div><!--  end #kowabunga-footer-logo -->
		
		<div id="footer-company-info-block">
			<div id="connect">
				<h4>SHARE</h4>
				<div id="sharethis-widget">
					<span  class='st_facebook_large' ></span>
					<span  class='st_twitter_large' ></span>
					<span  class='st_sharethis_large' ></span>
				</div><!--  end #sharethis-widget	 -->
			</div><!--  end #connect -->
			
			<div id="information">
				<h4>INFORMATION</h4>
				<ul class="footer-ul">
					<li><a href="{{ publisher.about_us_path }}" class="{% if_page_name == 'daily_deals#about_us'%}current_page{%endif_page_name%}">About</a></li>
					<li><a href="{{ publisher.contact_path }}" class="last-a {% if_page_name == 'daily_deals#contact'%}current_page{%endif_page_name%}">Contact</a></li>
				</ul><!--  end .footer-ul -->
			</div><!--  end #information -->
			<div class="clear"></div>

			
		</div><!-- end #footer-company-info-block -->
	</div><!--  end preopt-footer-inner -->
</div><!--  end preopt-footer -->