<p id="providence" style="margin: 0; padding: 8px;">
                  <a style="color: #ffffff;" href="http://www.waaf.com/" target="_blank"><img border="0" src="http://{{ publisher.daily_deal_host }}/themes/entercom-newengland/images/stations/waaf.png" height="50" alt="WAAF" /></a>&nbsp;
                  <a style="color: #ffffff;" href="http://www.weei.com/weei/shows-schedules/weei-1037fm-providence" target="_blank"><img border="0" src="http://{{ publisher.daily_deal_host }}/themes/entercom-providence/images/stations/weei-providence.png" height="50" alt="WEEI" /></a>&nbsp;
                  <a style="color: #ffffff;" href="http://www.wrko.com/" target="_blank"><img border="0" src="http://{{ publisher.daily_deal_host }}/themes/entercom-newengland/images/stations/wrko.png" height="50" alt="WRKO" /></a>
</p>