<div id="providence">
  <a href="http://www.waaf.com/" target="_blank"><img src="/themes/entercom-newengland/images/stations/waaf.png" height="60" alt="WAAF" /></a>
  <a href="http://www.weei.com/weei/shows-schedules/weei-1037fm-providence" target="_blank"><img src="/themes/entercom-providence/images/stations/weei-providence.png" height="60" alt="WEEI" /></a>
  <a href="http://www.wrko.com/" target="_blank"><img src="/themes/entercom-newengland/images/stations/wrko.png" height="60" alt="WRKO" /></a>
</div>
