<!-- facebook like box -->
<div class="box facebook_likebox">

<div id="fb-root"></div>
<script>(function(d){
  var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
  js = d.createElement('script'); js.id = id; js.async = true;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  d.getElementsByTagName('head')[0].appendChild(js);
}(document));</script>
<div class="fb-like-box" data-href="http://www.facebook.com/pages/Best-Deals-Spokane-and-Beyond/207463255956460" data-width="310" data-height="274" data-show-faces="true" data-border-color="#ffffff" data-stream="false" data-header="false"></div>

</div>
<!-- /facebook like box -->