<div class="box sponsors"><!--SPONSORS BOX-->
	<h4>DEALS BROUGHT TO YOU BY</h4>
	<div id="sponsorlogos">
		<ul>
			<li><a href="http://www.kxly.com"><img src="/themes/morganmurphymediaspokane/images/sponsors/kxly.jpg" alt="KXLY"/></a></li>
			<li><a href="http://www.kxly.com"><img src="/themes/morganmurphymediaspokane/images/sponsors/kxlycom.png" alt="KXLY"/></a></li>
		</ul>
	</div>
</div><!--/SPONSORS BOX-->