 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US"> 
<head profile="http://gmpg.org/xfn/11"> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> 
<meta name="google-site-verification" content="DNIToeseM2boHjB00TgcbqGGYH3PjkiNz6-soBf86-E" /> 
<title>Easy Reader News: Home</title> 
 
<script type="text/javascript" src="http://www.easyreadernews.com/wp-content/themes/ER2010/script.js"></script> 
<link rel="stylesheet" href="http://www.easyreadernews.com/wp-content/themes/ER2010/style.css" type="text/css" media="screen" /> 
<!--[if IE 6]><link rel="stylesheet" href="http://www.easyreadernews.com/wp-content/themes/ER2010/style.ie6.css" type="text/css" media="screen" /><![endif]--> 
<!--[if IE 7]><link rel="stylesheet" href="http://www.easyreadernews.com/wp-content/themes/ER2010/style.ie7.css" type="text/css" media="screen" /><![endif]--> 
<link rel="alternate" type="application/rss+xml" title="Easy Reader News RSS Feed" href="http://www.easyreadernews.com/feed" /> 
<link rel="alternate" type="application/atom+xml" title="Easy Reader News Atom Feed" href="http://www.easyreadernews.com/feed/atom" /> 
<link rel="pingback" href="http://www.easyreadernews.com/xmlrpc.php" /> 
<link rel="alternate" type="application/rss+xml" title="Easy Reader News &raquo; Home Comments Feed" href="http://www.easyreadernews.com/feed" /> 
<link rel='stylesheet' id='login-with-ajax-css-css'  href='http://www.easyreadernews.com/wp-content/plugins/login-with-ajax/widget/widget.css?ver=2.9.1' type='text/css' media='' /> 
<link rel='stylesheet' id='sociable-front-css-css'  href='http://www.easyreadernews.com/wp-content/plugins/sociable/sociable.css?ver=2.9.1' type='text/css' media='' /> 
<script type='text/javascript' src='http://www.easyreadernews.com/wp-includes/js/jquery/jquery.js?ver=1.3.2'></script> 
<script type='text/javascript' src='http://www.easyreadernews.com/wp-content/plugins/login-with-ajax/login-with-ajax.js?ver=2.9.1'></script> 
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.easyreadernews.com/xmlrpc.php?rsd" /> 
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.easyreadernews.com/wp-includes/wlwmanifest.xml" /> 
<link rel='index' title='Easy Reader News' href='http://www.easyreadernews.com' /> 
<meta name="generator" content="WordPress 2.9.1" /> 
<link rel='canonical' href='http://www.easyreadernews.com' /> 
<link rel="stylesheet" type="text/css" href="http://www.easyreadernews.com/wp-content/plugins/wp-recaptcha/recaptcha.css" /><!-- PUT THIS TAG IN THE head SECTION --> 
<script type="text/javascript" src="http://partner.googleadservices.com/gampad/google_service.js"> 
</script> 
<script type="text/javascript"> 
  GS_googleAddAdSenseService("ca-pub-3125665997243634");
  GS_googleEnableAllServices();
</script> 
<script type="text/javascript"> 
  GA_googleAddSlot("ca-pub-3125665997243634", "ERNews_HP_LeaderBoard");
  GA_googleAddSlot("ca-pub-3125665997243634", "ERNews_HP_Right_Slot1");
  GA_googleAddSlot("ca-pub-3125665997243634", "ERNews_HP_Right_Slot2");
  GA_googleAddSlot("ca-pub-3125665997243634", "ERNews_HP_Right_Slot3");
  GA_googleAddSlot("ca-pub-3125665997243634", "ERNews_HP_Right_Slot4");
  GA_googleAddSlot("ca-pub-3125665997243634", "ERNews_HP_Right_Slot5");
  GA_googleAddSlot("ca-pub-3125665997243634", "ERNews_HP_Top_Left");
  GA_googleAddSlot("ca-pub-3125665997243634", "ERNews_HP_Top_Right");
  GA_googleAddSlot("ca-pub-3125665997243634", "ERNews_SC_Right_Slot1");
  GA_googleAddSlot("ca-pub-3125665997243634", "ERNews_SC_Right_Slot2");
  GA_googleAddSlot("ca-pub-3125665997243634", "ERNews_SC_Right_Slot3");
  GA_googleAddSlot("ca-pub-3125665997243634", "ERNews_SC_Right_Slot4");
  GA_googleAddSlot("ca-pub-3125665997243634", "ERNews_SC_Right_Slot5");
  GA_googleAddSlot("ca-pub-3125665997243634", "ERNews_SC_Sub_Right_Slot1");
  GA_googleAddSlot("ca-pub-3125665997243634", "ERNews_SC_Sub_Right_Slot2");
  GA_googleAddSlot("ca-pub-3125665997243634", "ERNews_SC_Sub_Right_Slot3");
  GA_googleAddSlot("ca-pub-3125665997243634", "ERNews_SC_Sub_Right_Slot4");
  GA_googleAddSlot("ca-pub-3125665997243634", "ERNews_SC_Sub_Right_Slot5");
</script> 
<script type="text/javascript"> 
  GA_googleFetchAds();
</script> 
<!-- END OF TAG FOR head SECTION -->  

<%= render :partial => 'layouts/offers/sdcitybeat/stylesheets_and_javascript' %>
<%= render :partial => 'layouts/offers/standard/facebook_metadata' %>
<%= raw render :partial => "/shared/tracking_offers" %>
</head> 
<body> 
<!-- <div id="art-page-background-simple-gradient">
</div> --> 
<div id="art-main"> 
<!--  --> 
<div class="art-Sheet"> 
    <div class="art-Sheet-body"> 
		<div style="padding: 14px 18px; background-color: #0F3658; height: 92px;"> 
			<div style="float: left; text-align: left; font-size:14px; background-color: #0F3658; width: 728px; height:90px;"> 
			<script type="text/javascript"> 
			  GA_googleFillSlot("ERNews_HP_LeaderBoard");
			</script> 
			</div> 
			<div style="float: right; background-color: #0F3658; width:240px; height:90px;"> 
			<script type="text/javascript"> 
			  GA_googleFillSlot("ERNews_HP_Top_Right");
			</script> 
			</div> 
		</div> 
		<div style="height: 126px"> 
		    <div class="art-Header-jpeg" style="float:left"></div> 
			   <div style="float:right; width:475px; margin-top:8px; margin-right: 0px"> 
 
				<!-- Begin Block --> 
				<div class="art-Block2" style="float:right; width:100%; margin: 0 0 0 0"> 
				    <div class="art-Block-body"> 
					<div class="art-BlockHeader"> 
					    <div class="l"></div> 
					    <div class="r"></div> 
					    <div class="art-header-tag-icon"  style="margin-left:165px"> 
					        <div class="t" style="padding: 0 0 0 6px;">cal</div> 
							<div class="t2" style="padding: 0 6px 0 0px; float:left; position:relative">endar</div> 
					    </div> 
					</div> 
					<div class="art-BlockContent" style="height:84px"> 
				    <div class="art-BlockContent-tl"></div> 
				    <div class="art-BlockContent-tr"></div> 
				    <!-- <div class="art-BlockContent-bl"></div>
				    <div class="art-BlockContent-br"></div> --> 
				    <div class="art-BlockContent-tc2"></div> 
				    <div class="art-BlockContent-bc2"></div> 
				    <div class="art-BlockContent-cl2"></div> 
				    <div class="art-BlockContent-cr2"></div> 
				    <div class="art-BlockContent-cc"></div> 
				    <div class="art-BlockContent-body" style="padding:0 0 0 1px"> 
<% unless facebook_request? %><div style="float:left"><a href="http://www.easyreadernews.com/home-2/calendar"><img src="http://www.easyreadernews.com/wp-content/uploads/calendar.png" alt="" border="0" style="margin-left:0; height:83px"></a></div><div style="float:right; padding-top:2px; margin-right:70px;"><a href="http://www.easyreadernews.com/home-2/calendar"><img src="http://www.easyreadernews.com/wp-content/themes/ER2010/images/CalText.png" alt="" border="0" style="height:70px"></a></div><% end -%>
 
				    </div> 
				</div> 
				</div> 
				</div> 
				<!-- End Block --> 
</div> 
 
		</div> 
 
	</div> 
</div> 
 
<!--  --> 
<div class="art-Sheet"> 
    <div class="art-Sheet-tl"></div> 
    <div class="art-Sheet-tr"></div> 
    <div class="art-Sheet-bl"></div> 
    <div class="art-Sheet-br"></div> 
    <div class="art-Sheet-tc"></div> 
    <div class="art-Sheet-bc"></div> 
    <div class="art-Sheet-cl"></div> 
    <div class="art-Sheet-cr"></div> 
    <div class="art-Sheet-cc"></div> 
    <div class="art-Sheet-body"> 
		<div class="art-nav"> 
			<div class="l"></div> 
			<div class="r"></div> 
			<ul class="art-menu"> 
				<li class="page_item page-item-323"><a href="http://www.easyreadernews.com" title="Home"><span class="l"></span><span class="r"></span><span class="t">Home</span></a></li> 
<li class="page_item page-item-12"><a href="http://www.easyreadernews.com/news" title="News"><span class="l"></span><span class="r"></span><span class="t">News</span></a> 
<ul> 
	<li class="page_item page-item-3340"><a href="http://www.easyreadernews.com/news/best-of-the-beach" title="Best of the Beach">Best of the Beach</a></li> 
	<li class="page_item page-item-52"><a href="http://www.easyreadernews.com/news/letters-to-the-editor" title="Letters to the Editor">Letters to the Editor</a></li> 
	<li class="page_item page-item-27"><a href="http://www.easyreadernews.com/news/hermosa-beach" title="Hermosa Beach">Hermosa Beach</a></li> 
	<li class="page_item page-item-29"><a href="http://www.easyreadernews.com/news/manhattan-beach" title="Manhattan Beach">Manhattan Beach</a></li> 
	<li class="page_item page-item-32"><a href="http://www.easyreadernews.com/news/redondo-beach" title="Redondo Beach">Redondo Beach</a></li> 
	<li class="page_item page-item-123"><a href="http://www.easyreadernews.com/news/palos-verdes" title="Palos Verdes">Palos Verdes</a></li> 
	<li class="page_item page-item-127"><a href="http://www.easyreadernews.com/news/south-bay" title="South Bay">South Bay</a></li> 
</ul> 
</li> 
<li class="page_item page-item-22"><a href="http://www.easyreadernews.com/restaurants" title="Restaurants"><span class="l"></span><span class="r"></span><span class="t">Restaurants</span></a> 
<ul> 
	<li class="page_item page-item-394"><a href="http://www.easyreadernews.com/restaurants/review" title="Reviews">Reviews</a></li> 
</ul> 
</li> 
<li class="page_item page-item-14"><a href="http://www.easyreadernews.com/arts-and-nightlife" title="Arts &amp; Nightlife"><span class="l"></span><span class="r"></span><span class="t">Arts &#038; Nightlife</span></a> 
<ul> 
	<li class="page_item page-item-42"><a href="http://www.easyreadernews.com/arts-and-nightlife/music" title="Music">Music</a></li> 
	<li class="page_item page-item-44"><a href="http://www.easyreadernews.com/arts-and-nightlife/theater" title="Theater">Theater</a></li> 
	<li class="page_item page-item-6004"><a href="http://www.easyreadernews.com/arts-and-nightlife/art-2" title="Art">Art</a></li> 
	<li class="page_item page-item-2660"><a href="http://www.easyreadernews.com/arts-and-nightlife/music-videos" title="Music Videos">Music Videos</a></li> 
	<li class="page_item page-item-6000"><a href="http://www.easyreadernews.com/arts-and-nightlife/dirty-hippie" title="Dirty Hippie">Dirty Hippie</a></li> 
	<li class="page_item page-item-6006"><a href="http://www.easyreadernews.com/arts-and-nightlife/comedy-corner" title="Comedy Corner">Comedy Corner</a></li> 
	<li class="page_item page-item-6008"><a href="http://www.easyreadernews.com/arts-and-nightlife/beach-fashion" title="Beach Fashion">Beach Fashion</a></li> 
</ul> 
</li> 
<li class="page_item page-item-156"><a href="http://www.easyreadernews.com/sports" title="Sports"><span class="l"></span><span class="r"></span><span class="t">Sports</span></a> 
<ul> 
	<li class="page_item page-item-158"><a href="http://www.easyreadernews.com/sports/prep-sports" title="Prep Sports">Prep Sports</a></li> 
	<li class="page_item page-item-160"><a href="http://www.easyreadernews.com/sports/surfing" title="Surfing">Surfing</a></li> 
	<li class="page_item page-item-162"><a href="http://www.easyreadernews.com/sports/beach-volleyball" title="Beach Volleyball">Beach Volleyball</a></li> 
	<li class="page_item page-item-2681"><a href="http://www.easyreadernews.com/sports/sports-videos" title="Sports Videos">Sports Videos</a></li> 
</ul> 
</li> 
<li class="page_item page-item-17"><a href="http://www.easyreadernews.com/columns" title="Columns"><span class="l"></span><span class="r"></span><span class="t">Columns</span></a> 
<ul> 
	<li class="page_item page-item-54"><a href="http://www.easyreadernews.com/columns/on-local-government" title="On Local Government">On Local Government</a></li> 
	<li class="page_item page-item-48"><a href="http://www.easyreadernews.com/columns/barfly" title="Barfly">Barfly</a></li> 
	<li class="page_item page-item-56"><a href="http://www.easyreadernews.com/columns/from-south-bronx-to-south-bay" title="South Bronx to South Bay">South Bronx to South Bay</a></li> 
	<li class="page_item page-item-50"><a href="http://www.easyreadernews.com/columns/harbor-lights" title="Harbor Lights">Harbor Lights</a></li> 
	<li class="page_item page-item-4350"><a href="http://www.easyreadernews.com/columns/statuesque" title="Statuesque">Statuesque</a></li> 
	<li class="page_item page-item-4354"><a href="http://www.easyreadernews.com/columns/making-it" title="Making it">Making it</a></li> 
	<li class="page_item page-item-4356"><a href="http://www.easyreadernews.com/columns/wuerker" title="Wuerker">Wuerker</a></li> 
</ul> 
</li> 
<li class="page_item page-item-25"><a href="http://www.easyreadernews.com/water-life" title="Water Life"><span class="l"></span><span class="r"></span><span class="t">Water Life</span></a> 
<ul> 
	<li class="page_item page-item-400"><a href="http://www.easyreadernews.com/water-life/surf-pipeline" title="Surf Pipeline">Surf Pipeline</a></li> 
	<li class="page_item page-item-402"><a href="http://www.easyreadernews.com/water-life/wild-things" title="Wild Things">Wild Things</a></li> 
	<li class="page_item page-item-404"><a href="http://www.easyreadernews.com/water-life/water-sports" title="Water Sports">Water Sports</a></li> 
</ul> 
</li> 
<li class="page_item page-item-174"><a href="http://www.easyreadernews.com/people" title="People"><span class="l"></span><span class="r"></span><span class="t">People</span></a> 
<ul> 
	<li class="page_item page-item-176"><a href="http://www.easyreadernews.com/people/recent-profiles" title="Recent Profiles">Recent Profiles</a></li> 
	<li class="page_item page-item-178"><a href="http://www.easyreadernews.com/people/archives" title="Archives">Archives</a></li> 
</ul> 
</li> 
			</ul> 
		</div> 
 
<div class="art-contentLayout"> 

  <div id="analog_analytics_content">
    <%= yield %>
  </div>
 
</div> 
<div class="cleared"></div> 
 
<div class="art-Footer"> 
    <div class="art-Footer-inner"> 
                <a href="http://www.easyreadernews.com/feed" class="art-rss-tag-icon" title="RSS"></a> 
                <div class="art-Footer-text"> 
<p> 
Copyright &copy; 2010 Easy Reader News. All Rights Reserved.<br> 
Website Design Concept by Graciela Huerta, Developed by <a href="http://corecode.com" target="new">corecode technologies</a></p> 
</div> 
    </div> 
    <div class="art-Footer-background"> 
    </div> 
</div> 
 
    </div> 
</div> 
<!-- 68 queries. 0.570 seconds. --> 
<div></div> 
<!-- Start Google Anlytics --> 
<script type="text/javascript"> 
 
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-11532860-1']);
  _gaq.push(['_trackPageview']);
 
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
 
</script> 
<!-- End Google Anlytics --> 
<!-- Start Compete Anlytics --> 
<script type="text/javascript"> 
    __compete_code = '689ce2620fd12a7368bf7acf73b3e475';
    (function () {
        var s = document.createElement('script'),
            d = document.getElementsByTagName('head')[0] ||
                document.getElementsByTagName('body')[0],
            t = 'https:' == document.location.protocol ?
                'https://c.compete.com/bootstrap/' :
                'http://c.compete.com/bootstrap/';
        s.src = t + __compete_code + '/bootstrap.js';
        s.type = 'text/javascript';
        s.async = 'async';
        if (d) { d.appendChild(s); }
    }());
</script> 
<!-- End Compete Anlytics --> 
<!-- Start Quantcast tag --> 
<script type="text/javascript"> 
_qoptions={
qacct:"p-b8Jzofc61X2lo"
};
</script> 
<script type="text/javascript" src="http://edge.quantserve.com/quant.js"></script> 
<noscript> 
<img src="http://pixel.quantserve.com/pixel/p-b8Jzofc61X2lo.gif" style="display: none;" border="0" height="1" width="1" alt="Quantcast"http://www.easyreadernews.com/> 
</noscript> 
<!-- End Quantcast tag --> 
</body> 
</html> 
 
<!-- Dynamic page generated in 0.561 seconds. --> 
<!-- Cached page generated by WP-Super-Cache on 2010-07-06 11:23:53 -->