<!--
<div id="headerBranding" class="show-mobile" style="width:100%;"> 
<a target='_top' id="logoLink" href="http://www.cbs6albany.com/">CBS 6 Albany Home</a> 
</div> 
<div style="clear:both"></div>
-->

<div id="fi_wrapper" class="hide-mobile">

	
<div id="headerBranding"> 
<a target='_top' id="logoLink" href="http://www.cbs6albany.com/">CBS 6 Albany Home</a> 
    <div id="headerLinks"> 
        <ul> 
            <li><a target='_top' href="http://www.cbs6albany.com/sections/sp-alerts">Get Email &amp; Mobile Alerts</a> <span
                    class="dontMissPipe">|</span></li> 
            <li><a target='_top' href="http://cbs6albany.oodle.com/">Classifieds</a><span
                    class="dontMissPipe"></span></li> 
        </ul> 
    </div> 
            
        </div> 
    
    <div id="navcontainer"> 
    <div class="fi_menu"><ul id="fi_nav_ul"> 
<li> 
<a target='_top' class="title" href="http://www.cbs6albany.com/sections/local-news/">News</a><ul class="sub"> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/local-news/">All Local News</a></li> 
<li> 
<a target='_top' href="#">News by County</a><ul class="sub"> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/local-news/albany-county/">Albany</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/local-news/berkshire-county/">Berkshire</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/local-news/columbia-county/">Columbia</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/local-news/fulton-county/">Fulton</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/local-news/greene-county/">Greene</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/local-news/montgomery-county/">Montgomery</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/local-news/rensselaer-county/">Rensselaer</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/local-news/saratoga-county/">Saratoga</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/local-news/schenectady-county/">Schenectady</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/local-news/schoharie-county/">Schoharie</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/local-news/warren-county/">Warren</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/local-news/washington-county/">Washington</a></li> 
</ul> 
</li> 
<li> 
<a target='_top' href="#">News by City</a><ul class="sub"> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/local-news/albany/">Albany</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/local-news/saratoga-springs/">Saratoga Springs</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/local-news/schenectady/">Schenectady</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/local-news/troy/">Troy</a></li> 
</ul> 
</li> 
<li> 
<a target='_top' href="#">News by Region</a><ul class="sub"> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/local-news/adirondacks/">Adirondacks</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/local-news/southwestern-vermont/">Southwestern Vermont</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/local-news/central-new-york/">Central New York</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/local-news/downstate-new-york/">Downstate New York</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/local-news/western-new-york/">Western New York</a></li> 
</ul> 
</li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/new-york-state-politics/">NYS Politics</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/uspolitics/">National Politics</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/courts/">Legal News</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/gas-prices/">Gas Gauge</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/pets/">Pets</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/mrfood/">Mr. Food</a></li> 
<li> 
<a target='_top' href="http://www.cbs6albany.com/sections/answers-team/">Answers Team</a><ul class="sub"> 
<li><a target='_top' href="mailto:news@cbs6albany.com">Ask A Question</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/answers-team/">Meet The Team</a></li> 
</ul> 
</li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/wrgb/history">WRGB History</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/lottery/">Lottery</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/nation-news/">Nation/World</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/entertainment-news/">Entertainment</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/travel-news/">Travel</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/wrgb-talent/">Meet the Staff</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/livefeed/">Live Feed</a></li> 
</ul> 
</li> 
<li> 
<a target='_top' class="title" href="http://www.cbs6albany.com/video">Video</a><ul class="sub"> 
<li><a target='_top' href="http://www.cbs6albany.com/video/p/1143371293/local-news">News</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/video/p/1143371794/sports">Sports</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/video/p/1137697650/your-videos">Viewer Submissions</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/video/p/46927404001/nys-politics">NYS Politics</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/video/p/1338935460/ed's-head">Ed's Head</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/video/p/89392245001/cbs-6-liveweb">LIVEWeb Recaps</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/video/p/1519719648/you-paid-for-it">You Paid For It</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/video/p/15258492001/money-and-finance">Money and Finance</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/video/p/59419219001/retro-rachael-ray">Retro Rachael Ray</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/video/p/1173350596/take-a-break">Take a Break</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/video/p/42876656001/not-for-air">Not For Air / Web Extras</a></li> 
</ul> 
</li> 
<li> 
<a target='_top' class="title" href="http://www.cbs6albany.com/sections/weather/7day/">Weather</a><ul class="sub"> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/weather/7day/">7-Day Forecast</a></li> 
<li> 
<a target='_top' href="http://www.cbs6albany.com/sections/doppler-status-alerts/">Live Instant Doppler</a><ul class="sub"> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/doppler-status-alerts/">Doppler Weather Still</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/weather/doppler/loop.shtml">Doppler Weather Loop</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/weather/doppler/aboutdoppler">About Instant Doppler 6</a></li> 
</ul> 
</li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/weather/radar/">Weather Maps</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/weather/weatheralerts/">Severe Weather</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/weather/almanac/">Daily Almanac</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/weather/sunrisesunset/">Sunrise Sunset</a></li> 
<li> 
<a target='_top' href="http://www.cbs6albany.com/sections/weather/historical/daily">Historical Data</a><ul class="sub"> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/weather/historical/daily/">Daily Weather Since 1988</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/weather/historical/paststorms/">Past Notable Storms</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/weather/historical/top10/">Albany Top 10 Lists</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/weather/historical/preciprecords/">Albany Temp / Precip Records</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/weather/historical/precipnormals/">Albany Temp / Precip Normals</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/weather/historical/snowfall/">Albany Snowfall Data</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/weather/historical/degree/">Albany 90 Degree Days</a></li> 
</ul> 
</li> 
<li><a target='_top' href="http://weathernet6.wrgb.com/">Weathernet6</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/weather/lifestyle/">Allergy / Air Quality</a></li> 
<li> 
<a target='_top' href="http://www.cbs6albany.com/sections/weather/research/topics/">Student Research Aid</a><ul class="sub"> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/weather/research/topics/">Weather Topics</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/weather/research/glossary/">Weather Glossary</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/weather/research/links/">Educational Links</a></li> 
</ul> 
</li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/weather/nwslinks/">National Weather Service Links</a></li> 
</ul> 
</li> 
<li><a target='_top' class="title" href="http://www.cbs6albany.com/sections/traffic/">Traffic</a></li> 
<li> 
<a target='_top' class="title" href="http://www.cbs6albany.com/sections/local-sports/">Sports</a><ul class="sub"> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/local-sports/">Local</a></li> 
<li><a target='_top' href="http://hosted.ap.org/dynamic/fronts/SPORTS?SITE=WRGBTV&amp;SECTION=SPORTS">National</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/nascar-news/">NASCAR</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/against-the-odds/">Against The Odds</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/sports/prohighlights/">Sports Highlights</a></li> 
</ul> 
</li> 
<li> 
<a target='_top' class="title" href="http://www.cbs6albany.com/blogs">Blogs</a><ul class="sub"> 
<li> 
<a target='_top' href="#">Pets and Animals</a><ul class="sub"> 
<li><a target='_top' href="http://ridingright.freedomblogging.com/">Riding Right</a></li> 
<li><a target='_top' href="http://thoughtsunleashed.freedomblogging.com/">Thoughts Unleashed</a></li> 
<li><a target='_top' href="http://petanswers.freedomblogging.com/">Ask the Vet</a></li> 
</ul> 
</li> 
<li> 
<a target='_top' href="#">Health and Wellness</a><ul class="sub"><li><a target='_top' href="http://adjustingthroughlife.freedomblogging.com/">Adjusting Through Life</a></li></ul> 
</li> 
<li> 
<a target='_top' href="#">Food and Drink</a><ul class="sub"><li><a target='_top' href="http://wine.freedomblogging.com/">Capital Region Wine</a></li></ul> 
</li> 
<li> 
<a target='_top' href="#">Entertainment</a><ul class="sub"><li><a target='_top' href="http://soundsnoteworthy.freedomblogging.com/">Sounds NoteWorthy</a></li></ul> 
</li> 
<li> 
<a target='_top' href="#">News and Politics</a><ul class="sub"> 
<li><a target='_top' href="http://asktheattorney.freedomblogging.com/">Ask The Attorney</a></li> 
<li><a target='_top' href="http://politicswithpaul.freedomblogging.com/">Politics with Paul</a></li> 
<li><a target='_top' href="http://vent.freedomblogging.com/">Vent!</a></li> 
</ul> 
</li> 
<li> 
<a target='_top' href="#">Community</a><ul class="sub"><li><a target='_top' href="http://siena.freedomblogging.com/">Siena College Blog</a></li></ul> 
</li> 
<li> 
<a target='_top' href="#">Student Blogs</a><ul class="sub"> 
<li><a target='_top' href="http://katelynsnewscorner.freedomblogging.com">Katelyn's News Corner</a></li> 
<li><a target='_top' href="http://shakersoundoff.freedomblogging.com/">Shaker Sound Off</a></li> 
</ul> 
</li> 
<li> 
<a target='_top' href="#">Behind the Scenes</a><ul class="sub"> 
<li><a target='_top' href="http://behindthelens.freedomblogging.com/">Behind the Lens</a></li> 
<li><a target='_top' href="http://teresa.freedomblogging.com/">Talk Back with Teresa</a></li> 
</ul> 
</li> 
</ul> 
</li> 
<li> 
<a target='_top' class="title" href="http://www.cbs6albany.com/sections/web-links/">Interact</a><ul class="sub"> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/web-links/">Web Links</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/contactus/newstips/">News Tips</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/contactus/">Contact Us</a></li> 
<li><a target='_top' href="mailto:news@cbs6albany.com">Submit Photos</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/video/submit/">Submit Video</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/slideshows/">Photo Galleries</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/blogs/">Blogs</a></li> 
<li> 
<a target='_top' href="#">Twitter Feeds</a><ul class="sub"> 
<li><a target='_top' href="http://twitter.com/CBS6albany" target="_blank">CBS 6 News Feed</a></li> 
<li><a target='_top' href="http://twitter.com/cbs6_lizb" target="_blank">Liz's Feed</a></li> 
<li><a target='_top' href="http://twitter.com/CBS6_JerryG" target="_blank">Jerry's Feed</a></li> 
<li><a target='_top' href="http://www.twitter.com/cbs6_teresa" target="_blank">Teresa's Feed</a></li> 
</ul> 
</li> 
<li> 
<a target='_top' href="#">On Facebook</a><ul class="sub"> 
<li><a target='_top' href="http://www.facebook.com/pages/WRGB-CBS-6-Albany/51577668476" target="_blank">CBS 6 Facebook</a></li> 
<li><a target='_top' href="http://www.facebook.com/profile.php?id=855419171">Liz's Facebook</a></li> 
<li><a target='_top' href="http://www.facebook.com/jerry.gretzinger.newsman?_fb_noscript=1" target="_blank">Jerry's Facebook</a></li> 
<li><a target='_top' href="http://www.facebook.com/Steve.LaPointe.CBS6?ref=name" target="_blank">Steve LaPointe's Facebook</a></li> 
<li><a target='_top' href="http://www.facebook.com/CBS6Greg">Greg's Facebook</a></li> 
<li><a target='_top' href="http://www.facebook.com/profile.php?id=100000446238259">Teresa's Facebook</a></li> 
<li><a target='_top' href="http://www.facebook.com/profile.php?id=1428716895&amp;ref=profile" target="_blank">Marci's Facebook</a></li> 
</ul> 
</li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/sp-alerts/">Text &amp; E-mail Alerts</a></li> 
</ul> 
</li> 
<li><a target='_top' class="title" href="http://www.cbs6albany.com/sections/web-links/">Links</a></li> 
<li> 
<a target='_top' class="title" href="http://www.cbs6albany.com/sections/schoolwatch/">School Watch</a><ul class="sub"> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/schoolwatch/">Latest Closings/Delays</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/schoolclosures/">Mobile School Watch</a></li> 
</ul> 
</li> 
<li> 
<a target='_top' class="title" href="http://www.cbs6albany.com/albany-tv-programming/">Programming</a><ul class="sub"> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/tvlistings/">TV Schedules</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/cbsvideo/">CBS Video Player</a></li> 
<li><a target='_top' href="http://www.cwalbany.com" target="_blank">CW 15</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/dtv/">DTV Questions</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/sales/">Advertise With Us</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/contactus/">Contact Us</a></li> 
</ul> 
</li> 
<li> 
<a target='_top' class="title" href="http://www.cbs6albany.com/sections/covering-your-community/">Community</a><ul class="sub"> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/covering-your-community/">Covering Your Community</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/contests/">Contests</a></li> 
<li><a target='_top' href="http://events.cbs6albany.com">Things To Do</a></li> 
<li><a target='_top' href="http://directory.cbs6albany.com/pages/results_businesses?widget=search_bar&amp;custom_klass=Restaurant&amp;reset_search=1">Capital Region Restaurant Guide</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/consumer-price-index/">Consumer Index</a></li> 
<li><a target='_top' href="http://directory.cbs6albany.com/">Business Directory</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/road-to-recovery/">Road To Recovery</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/slideshows/" target="_blank">Photo Galleries</a></li> 
<li><a target='_top' href="http://sixonseniors.freedomblogging.com/">Six on Seniors Blog</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/slideshow/?id=1484500">Hometown Heroes</a></li> 
<li><a target='_top' href="http://www.facebook.com/pages/Baptist-Health-Nursing-and-Rehabilitation-Center/167445690394">Baptist Health on Facebook</a></li> 
<li><a target='_top' href="http://www.cbs6albany.com/sections/melodies/">Melodies of Christmas</a></li> 
</ul> 
</li> 
<li> 
<a target='_top' class="title" href="#">Entertainment</a><ul class="sub"> 
<li><a target='_top' href="http://events.cbs6albany.com/">Things To Do</a></li> 
<li><a target='_top' href="http://events.cbs6albany.com/albany-ny/movies">Movies</a></li> 
<li><a target='_top' href="http://directory.cbs6albany.com/pages/results_businesses?widget=search_bar&amp;custom_klass=Restaurant&amp;reset_search=1">Capital Region Restaurants</a></li> 
</ul> 
</li> 
</ul></div><script type="text/javascript">if(navLoad)navLoad();</script> 
        </div> 
<div id="navDontMiss"> 
    <ul> 
        <li class="dontMissLabel">Don't Miss:</li> 
        <li id="active"> 
    <a target='_top' href="http://albany.upickem.net/engine/Welcome.aspx?contestid=39627" target="_self" class="current">The Big E</a> <span class="dontMissPipe">|</span> 
</li><li id="active"> 
    <a target='_top' href="http://american.redcross.org/site/SPageServer?pagename=ntld_corpmicrosite&s_company=trustco-pub" target="_self" class="current">Irene Fund</a> <span class="dontMissPipe">|</span> 
</li><li id="active"> 
    <a target='_top' href="http://www.cbs6albany.com/sections/september-11th-anniversary/" target="_self" class="current">9/11</a> <span class="dontMissPipe">|</span> 
</li><li id="active"> 
    <a target='_top' href="http://www.cbs6albany.com/sections/lost-and-found-pets/" target="_self" class="current">Lost Pets</a> <span class="dontMissPipe">|</span> 
</li><li id="active"> 
    <a target='_top' href="http://albany.upickem.net/engine/Welcome.aspx?contestid=38603" target="_self" class="current">Lark Fest CDTA VIP...</a> <span class="dontMissPipe">|</span> 
</li>        <li class="navShare"><a target='_top' href="http://www.cbs6albany.com/sections/rss"><img src="/themes/cbs6albany/images/share_feed.png" alt="feed" /></a></li> 
        <li class="navShare"><a target='_top' href="http://twitter.com/#!/CBS6albany" target="_blank"><img src="/themes/cbs6albany/images/share_twitter.png" alt="twitter" /></a></li> 
        <li class="navShare"><a target='_top' href="http://www.facebook.com/CBS6Albany" target="_blank"><img src="/themes/cbs6albany/images/share_fb.png" alt="facebook" /></a></li> 
    </ul> 
</div> 


</div>
