<div id="fi_wrapper" class="hide-mobile">

	<div class="footer">

			    <div class="fi_wide clear marginMidTop">

			<div class="fi_wide_top"></div>

			<div class="fi_adsense">

				
			</div>

			<div class="fi_wide_bottom clear"></div>

		</div>

	    		<div class="fi_wide marginMidTop">

			<div class="fi_wide_top"></div>

			<div class="fi_adsense">

							<div id="google_contentb"> 
 
					<form target='_top' name="fisearch2" action="http://www.cbs6albany.com/search/" method="get" target="_top"> 
				<div id="google_centerSection"> 
					<div class="google_padderb"> 
						
						<div id="google_poweredByb">powered by<br /><img src="/themes/kfdm/images/searchBox_google_small.gif" width="47" height="14" alt="google" /></div> 
						<div id="google_buttonb"><a target='_top' href="javascript:;" onclick="javascript:document.fisearch2.submit()"><img src="/themes/cbs6albany/images/btn_google_search.gif" border="0" alt="Search"></a></div> 
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Search:</span> 
 
						<input name="q" type="text" class="google_inputTextb" value="" /> 
						<input name="fistype" type="radio" value="web" /> 
						Web						&nbsp;&nbsp;
						<input name="fistype" type="radio" value="site" checked="checked" /> 
						Site					</div> 
				</div> 
				</form> 
			</div>				</div>

			<div class="fi_wide_bottom clear"></div>

		</div>

		<div class="fi_wide">

					<div class="fi_wide_top"></div> 
		<div class="fi_footer2"> 
			<ul > 
				<li><a target='_top' href="http://www.cbs6albany.com/common/archives/">Archives</a></li> 
				<li><a target='_top' href="http://www.cbs6albany.com/common/archives/?cat=Local+News">News Archives</a></li> 
				<li><a target='_top' href="http://www.cbs6albany.com/common/archives/?cat=Sports+News">Sports Archives</a></li> 
				<li><a target='_top' href="http://www.cbs6albany.com/common/archives/?cat=Movie+Reviews&db=fbi&template=movie.html">Movie Review Archives</a></li> 
			</ul> 
			<ul> 
				<li>Broadcast Services</li> 
				<li><a target='_top' href="http://www.cbs6albany.com/sections/tvlistings/">TV Listings</a></li> 
				<li><a target='_top' href="http://www.cbs6albany.com/pdf/dtvreport.pdf">DTV Report</a></li> 
				<li><a target='_top' href="http://www.cbs6albany.com/sections/closedcaptioning">Closed Captioning</a></li> 
			</ul> 
			<ul> 
				<li>Online Services</li> 
				<li><a target='_top' href="http://www.cbs6albany.com/sections/rss/">RSS Feeds</a> <a target='_top' href="http://www.cbs6albany.com/sections/rss/"><img align="absmiddle" src="/themes/cbs6albany/images/xml.gif" width="36" height="14" border="0"></a></li> 
				<li><a target='_top' href="http://www.cbs6albany.com/sections/sp-alerts/">Mobile Alerts</a> <a target='_top' href="http://www.cbs6albany.com/sections/sp-alerts/"></a></li> 
				<li><a target='_top' href="http://www.cbs6albany.com/sections/schoolclosures/">School Closures Alerts</a> <a target='_top' href="http://www.cbs6albany.com/sections/schoolclosures/"></a></li> 
				<li><a target='_top' href="http://www.cbs6albany.com/sections/articles-map/">Article Map</a></li> 
			</ul> 
			<ul> 
				<li>Related Sites</li> 
				<li><a target='_top' href="http://www.cbs.com" onclick="window.open('http://www.cbs.com');return false">CBS.com</a></li> 
				<li><a target='_top' href="http://www.dailygazette.com" onclick="window.open('http://www.dailygazette.com');return false">Daily Gazette</a></li> 
				<li><a target='_top' href="http://www.berkshireeagle.com/" onclick="window.open('http://www.berkshireeagle.com');return false">Berkshire Eagle</a></li> 
				<li><a target='_top' href="http://spotlightnews.com/" target="_blank">Spotlight Newspapers</a></li> 
			</ul> 
		<ul> 
			<li><a target='_top' href="http://www.cbs6albany.com/sections/contactus/">Contact Us</a></li> 
		   <li><a target='_top' href="http://www.cbs6albany.com/sections/contactus/newstips/">News Tips</a></li> 
   		   <li><a target='_top' href="http://www.cbs6albany.com/sections/wrgb-talent/">Meet the Staff</a></li> 
		   <li><a target='_top' href="http://www.cbs6albany.com/sections/sales/">Sales & Advertising</a></li> 
                   
		   <li><a target='_top' href="http://www.cbs6albany.com/sections/videocopies/">Video Copies</a></li> 
		   <li><a target='_top' href="http://www.cbs6albany.com/sections/production-department/">Production Department</a></li> 
   		   <li><a target='_top' href="http://www.cbs6albany.com/sections/satellitewaivers/">Satellite Waivers</a></li> 
		   <li><a target='_top' href="http://www.cbs6albany.com/sections/publicfile/">Public File</a></li> 
   		   <li><a target='_top' href="http://www.cbs6albany.com/sections/jobsonline/">WRGB Jobs Online</a></li> 
                   <li><a target='_top' href="http://www.cbs6albany.com/interactive/">Interactive</a></li> 
	  </ul> 
		</div> 
		<div class="fi_footer"> 
			<p> 
			<script type="text/javascript"> tDate=new Date(); update=tDate.getFullYear(); document.write("Copyright &#169; "+ update + " Freedom Communications"); </script> 
			</p> 
			<p><a target='_top' href="http://www.cbs6albany.com/">Home</a> | 
			<a target='_top' href="http://www.cbs6albany.com/sections/contactus/newstips/">Contact Us</a> | 
			<a target='_top' href="http://www.cbs6albany.com/sections/sitemap/">Site Map</a> | 
			<a target='_top' href="http://www.cbs6albany.com/sections/employmentopportunities/">Careers</a> 
			</p> 
			<p><a target='_top' href="http://www.freedom.com/privacy.html" onclick="window.open('http://www.freedom.com/privacy.html');return false">Privacy Policy</a> | <a target='_top' href="http://www.freedom.com/eula.html" onclick="window.open('http://www.freedom.com/eula.html');return false">User Agreement</a> | <a target='_top' href="http://directory.cbs6albany.com" onclick="window.open('http://directory.cbs6albany.com');return false" title="albany new york businesses">Albany Directory</a> 
            </p> 
			<img src="/themes/freedom/images/freedominc.jpg" alt="Freedom Communications, Inc" width="50" height="49" /> 
      		<p><a target='_top' href="http://www.freedom.com" target="_blank">Freedom Communications, Inc.</a></p> 
		</div> 
		<div class="fi_wide_bottom "></div> 
 
 
		</div>

	</div>

</div>
