{% if false %}
<!-- Start of StatCounter Code -->
<script type="text/javascript">
//<![CDATA[

var sc_project=6140242;
var sc_invisible=1;
var sc_security="fcdf4de0";
//]]>
</script>
<script type="text/javascript" src="/themes/cbs6albany/javascripts/counter.js"></script>
<noscript>
<div class="statcounter">
<a title="vBulletin stats" href="http://www.statcounter.com/vbulletin/" target="_blank"><img class="statcounter" src="http://c.statcounter.com/6140242/0/fcdf4de0/1/" alt="vBulletin stats" ></a>
</div>
</noscript>
<!-- End of StatCounter Code -->
{% endif %}
<script language="JavaScript">
//<![CDATA[
var tcdacmd="dt";
//]]>
</script>

{% include "themes/freedom/shared/tracking_publisher" %}

{% analytics_tag sale %}
<!-- Google Code for Offer Purchase Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 964759628;
var google_conversion_language = "en";
var google_conversion_format = "2";
var google_conversion_color = "ffffff";
var google_conversion_label = "Cut0CIyC6QIQzKCEzAM";
var google_conversion_value = {% analytics_tag_data value %};
/* ]]> */
</script>
{% endanalytics_tag %}
