<div class="content_box page"><!-- deal info top row -->
		
		<h1 class="heading">Feature Your Business</h1>
		
		<p>NY DEAL OF THE DAY is a simple and powerful tool that can be used for any marketing purpose. We bring your products and services to new customers with viral marketing. Our affordable marketing tools will allow you to leverage your existing contact lists for maximum impact. Create a sense of urgency and excitement with your marketing plans by offering your customers and their friends a chance to buy your products for super low prices.</p>
    <p>NY DEAL OF THE DAY gives everyone a chance to try your business on for size. These deals go viral, bring in new customers, create traffic and build excitement.</p>

    <h2>Brand Awareness and Desirable Customers</h2>
    <p>Your promotion will reach thousands of local consumers with unbeatable demographics.</p>
    
    <h2>Word of Mouth Buzz</h2>
    <p>Our audience is BIG and extremely social online. Thousands of users will share your promotion with hundreds of friends.</p>
    
    <h2>Track Results</h2>
    <p>You'll know exactly how many customers to expect and how your business is benefiting from our partnership.</p>
    
    <h2>Advertise for FREE</h2>
    <p>There is no upfront cost. Delivering customers is the only way we get paid.</p>
    
    <h2>Build a Loyal Clientele</h2>
    <p>Dazzle new customers with your products and services, and presto: You'll have happy, repeat customers!</p>
    <p>Are you interested in NY Deal of the Day for your business? <br />
	<a href="mailto:nydealoftheday@nydailynews.com"><strong>Click here to contact our sales manager.</strong></a></p>
    
    
    
		
		
	</div><!-- /deal info top row -->
	
	