<div class="content_box page"><!-- deal info top row -->
		
		<h1 class="heading">How It Works</h1>
		
		<h2>Step 1: Intro</h2>
		<p>Each day one incredible deal is featured in the NY Daily News as the NY Deal of the Day. We have negotiated deals with the best merchants New York City has to offer, with savings up to 90% OFF! Join our free email subscriber list to ensure you never miss a deal!</p>
	
		<h2>Step 2: Buy</h2>
		<p>To purchase the deal just click on the "Buy Now" button before the offer expires. Next, fill out your credit card information and check your email inbox for a confirmation that will direct you to your next step.</p>
	
		<h2>Step 3: Share</h2>
		<p>Share the deal with your friends by sending the deal through Twitter, Facebook, or email.</p>
	
		<h2>Step 4: Post Purchase</h2>
		<p>Your credit card will be charged, and you will receive a printable voucher by email. Print the NY Deal of the Day voucher and redeem it any time before the expiration date to enjoy your deal! You can only redeem your deal by having your voucher in hand, which includes its own unique 8-digit code. </p>
		
		<h2>Universal Fine Print</h2>
		<ul>
			<li>Not valid for cash back.</li>
			<li>Cannot be combined with other promotions.</li>
			<li>Must be used in one visit.</li>
			<li>Does not cover tax or gratuity.</li>
		</ul>
    
		
		
	</div><!-- /deal info top row -->
	
	