  <div id="details">
  <h2>Feature Your Business</h2>
  <ul>
  	<li>Promote Your Business</li>
  	<li>Create a Buzz</li>
  	<li>Attract New Customers</li>
  	<li>Build Brand Awareness</li>
  	<li>Increase Traffic to Your Website</li>
  	<li>Promote Your Brand Through a Trusted News Source</li>
  	<li>Track Results</li>
  </ul>
  <h3 id="contact_kristi">For advertising information, please email <a href="mailto:{{ publisher.sales_email_address }}">{{ publisher.sales_email_address }}</a> or call {{ publisher.formatted_phone_number }}</h3>
  </div>
