<div id="sweepstakes_thanks" class="sweepstakes_tab optimized">
<div id="left_column_wide">
	<img id="thankyou_for_entering" src="/themes/rr/images/graphics/thank_you_for_entering.png" alt="Thank you for entering!" />
	
<!-- 	view more sweepstakes and daily deal module removed -->
		<a href="{{ publisher.sweepstakes_path }}" class="view_more_sweeps">View more chances to win!</a>

</div><!-- /left_column_wide -->

<div id="right_column">
     {% include with_theme "shared/counter" %}
</div><!--right_column-->

</div><!-- /sweepstakes_thanks -->