<div>
  <a target="_blank" href="http://www.610sports.com/"><img src="/themes/entercom-kansascity/images/stations/610.png" alt="610 Sports Radio"></a>
  <a target="_blank" href="http://www.965thebuzz.com/"><img src="/themes/entercom-kansascity/images/stations/buzz.png" alt="96.5 The Buzz"></a>
  <a target="_blank" href="http://www.kmbz.com/"><img src="/themes/entercom-kansascity/images/stations/kmbz.png" alt="KMBZ 980"></a>
  <a target="_blank" href="http://www.989therock.com/"><img src="/themes/entercom-kansascity/images/stations/rock.png" alt="The Rock 98.9"></a>
  <a target="_blank" href="http://www.wdaf.com/"><img src="/themes/entercom-kansascity/images/stations/wolf.png" alt="106.5 The Wolf"></a>  
  <a target="_blank" href="http://www.997point.com/"><img src="/themes/entercom-kansascity/images/stations/point.png" alt="99.7 The Point"></a>           
  <a target="_blank" href="http://www.kmbz.com//12570834"><img src="/themes/entercom-kansascity/images/stations/kmbzbusiness.png" alt="KMBZ"></a>
</div>