<div class="facebook_likebox">

 <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FNorthJerseyDealscom%2F208971735782905&amp;width=240&amp;colorscheme=light&amp;show_faces=true&amp;stream=false&amp;header=false&amp;height=270" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:240px;height:270px;" allowTransparency="true"></iframe>

</div><!-- /facebook like box -->