 <div id="footerjump" class="bottomNav" style="margin-left:40px;"> 
            <div id="footercollapsible">			
            	<div class="njdcBottomNav">   
                	<div class="bottomNavCol"> 
                    	<div class="bottomNavGroup"> 
                        	<div class="bottomNavHead"><a href="http://www.northjersey.com">News</a></div>
				<a href="http://www.northjersey.com/news/bergen">Bergen</a><br />
				<a href="http://www.northjersey.com/news/passaic_morris">Passaic</a><br />
				<a href="http://www.northjersey.com/news/morris">Morris</a><br />

				<a href="http://www.northjersey.com/news/hudson">Hudson</a><br />
				<a href="http://www.northjersey.com/towns/VernonTownship.html">Sussex</a><br />
				<a href="http://www.northjersey.com/news/state">State</a><br />
				<a href="http://www.northjersey.com/news/ny_metro">NY Metro News</a><br />
				<a href="http://www.northjersey.com/news/national">National</a><br />
				<a href="http://www.northjersey.com/news/international">International</a><br />

				<a href="http://www.northjersey.com/news/business">Business &amp; Tech</a><br />
				<a href="http://www.northjersey.com/news/crime_courts">Crime &amp; Courts</a><br />
				<a href="http://www.northjersey.com/news/education">Education</a><br />
				<a href="http://www.northjersey.com/news/environment">Environment &amp; Energy</a><br />

				<a href="http://www.northjersey.com/news/immigration">Immigration</a><br />
				<a href="http://www.northjersey.com/news/non-profit">Non-Profit</a><br />
				<a href="http://www.northjersey.com/news/opinions">Opinion &amp; Letters</a><br />
				<a href="http://www.northjersey.com/news/politics">Politics</a><br />
				<a href="http://www.northjersey.com/news/transportation">Transportation</a><br />

				<a href="http://www.northjersey.com/templates/traffic">Traffic</a><br />
                        </div>
			<div class="bottomNavGroup">
                        	<div class="bottomNavHead"><a href="http://www.legacy.com/obituaries/northjersey">Obituaries</a></div>
						</div>
						<div class="bottomNavGroup">
                        	<div class="bottomNavHead"><a href="http://www.northjersey.com/realestate/">Real Estate</a></div>

							<a href="http://www.northjersey.com/realestate">News</a><br />
							<a href="http://www.northjerseyresales.com/">Sales &amp; Taxes</a><br />
							<a href="http://realestate.northjersey.com/sales/nj-usa/list-view">Residential For Sale</a><br />
							<a href="http://realestate.northjersey.com/rentals/nj-usa/list-view">Residential For Rent</a><br />
							<a href="http://realestate.northjersey.com/sales/nj-usa/list-view/commercial-type">Commercial For Sale</a><br />

							<a href="http://realestate.northjersey.com/rentals/nj-usa/list-view/commercial-type">Commercial For Rent</a><br />
			<a href="http://realestate.northjersey.com/associates/usa/">Find an Agent</a><br />
							
							<a href="http://www.northjerseyhomes.com/">North Jersey Homes</a>
							
                        </div>	
						<div class="bottomNavGroup">
                        	<div class="bottomNavHead">Special Reports</div>
							<a href="http://www.northjersey.com/specialreports/remembering1969.html">Remembering 1969</a><br />

							<a href="http://www.northjersey.com/specialreports/targetcorruption.html">Target: Corruption</a><br />
							<a href="http://www.northjersey.com/specialreports/xanadu.html">Xanadu</a><br />
							<a href="http://www.northjersey.com/specialreports/toxiclegacy.html">Toxic Legacy</a><br />
							<a href="http://www.northjersey.com/specialreports/encap.html">EnCap</a><br />
			</div>	
						<div class="bottomNavGroup">				
						<a href="http://www.state.nj.us/lottery/home.shtml">Lottery</a><br/>

                        			<a href="http://www.northjersey.com/specialreports/paradegames.html" target="_blank">Games and More</a><br/>
						<a href="http://www.uclick.com/client/bro/el/" target="_blank">Daily Horoscopes</a>
						</div>
					<div class="bottomNavGroup">
                        	<div class="bottomNavHead"><a href="http://www.northjersey.com/multimedia/photogalleries/">Photo Galleries</a></div>
                        </div>	
					<div class="bottomNavGroup">
                        	<div class="bottomNavHead"><a href="http://www.northjersey.com/multimedia/video/">Videos</a></div>	
			</div>

		    		    	<div class="bottomNavGroup">
                        	<div class="bottomNavHead"><a href="http://myweather.northjersey.com/hw3.php">Weather</a></div>	
			</div>
			
				
                    </div>
					<div class="bottomNavCol">
                    	<div class="bottomNavGroup">
              
                        	<div class="bottomNavHead"><a href="http://www.northjersey.com/sports">Sports</a></div>
							<a href="http://www.northjersey.com/sports/pro_sports/baseball/klapisch">Bob Klapisch</a><br />

							<a href="http://www.northjersey.com/sports/pro_sports/other_sports/sullivan/">Tara Sullivan</a><br />
           
             
							<a href="http://www.northjersey.com/sports/pro_sports">Pro Sports</a><br />
							<a href="http://www.northjersey.com/sports/pro_sports/football">NFL</a><br />
							<a href="http://www.northjersey.com/sports/pro_sports/baseball">MLB</a><br />
							<a href="http://www.northjersey.com/sports/pro_sports/hockey">NHL</a><br />
							<a href="http://www.northjersey.com/sports/pro_sports/basketball">NBA</a><br />

							<a href="http://www.northjersey.com/sports/pro_sports/other_sports">Golf</a><br />
							<a href="http://www.northjersey.com/sports/golf">Other Pro</a><br />
							<a href="http://www.northjersey.com/sports/college_sports">College Sports</a><br />
							<a href="http://www.northjersey.com/sports/hs_sports">High School Sports</a><br />
							<a href="http://www.northjersey.com/sportsdb/">High School Stat Central</a><br />
							<a href="http://www.northjersey.com/sports/amateur_adult_sports">Amateur / Adult Sports</a><br />

							<a href="http://www.northjersey.com/sports/rec_travel_sports">Rec &amp; Travel Sports</a>
                        </div>
						<div class="bottomNavGroup">
                        	<div class="bottomNavHead"><a href="http://www.northjersey.com/food_dining">Food &amp; Dining</a></div>
							<a href="http://www.northjersey.com/food_dining/food_news">Food News</a><br />

							<a href="http://dining.northjersey.com/">Dining Guide</a><br />
							<a href="http://www.northjersey.com/food_dining/dining_news">Dining News</a><br />
							<a href="http://www.northjersey.com/food_dining/recipes">Recipes</a><br />
							<a href="http://www.northjersey.com/food_dining/vegetarian_recipes">Vegetarian Recipes</a><br />
							<a href="http://www.northjersey.com/food_dining/record_reviews">Recent Record Reviews</a><br />
							<a href="http://www.northjersey.com/food_dining/ung_reviews">The Record's Elisa Ung</a><br />

							<a href="http://www.northjersey.com/food_dining/wine_beer_spirits">Wine, Beer & Spirits</a><br />
							<a href="http://www.northjersey.com/food_dining/marketplace">Marketplace / Food Shopping</a><br />
							<a href="http://www.northjersey.com/food_dining/restaurant_profiles">Restaurant Profiles</a><br />
							<a href="http://www.northjersey.com/food_dining/health_violations">Health Violations</a><br />
							<a href="http://www.northjersey.com/food_dining/events">Events</a><br />
							<a href="http://www.northjersey.com/food_dining/announcements">Announcements</a><br />

							<a href="http://www.northjersey.com/offers/">Grocery Coupons</a>
                        </div>	
						<div class="bottomNavGroup">
                        	<div class="bottomNavHead"><a href="http://www.northjersey.com/shopping/">Shopping</a></div>
							<a href="http://www.northjersey.com/shopping/chains_malls">Chains &amp; Malls</a><br />
							<a href="http://www.northjersey.com/shopping/downtown">Downtown Shopping</a><br />

							<a href="http://www.northjersey.com/shopping/fashion">Fashion</a><br />
							<a href="http://www.northjersey.com/shopping/gadgets_gizmos">Gadgets, Gizmos &amp; More</a><br />
							<a href="http://www.northjersey.com/shopping/new_products">New Products</a><br />
						
						        <a href="http://www.northjersey.com/news/business/moneys_worth/">Your Money's Worth / Kevin DeMarrais</a><br />
							<a href="http://www.northjersey.com/shopping/online_shopping">Online Shopping</a><br />

							<a href="http://www.northjersey.com/shopping/other_shopping_news">Other Shopping News</a><br />
							<a href="http://www.northjersey.com/shopping/announcements">Announcements</a><br />
							<a href="http://www.northjersey.com/shopping/events">Events</a><br />
							<a href="http://www.northjersey.com/offers/">Grocery Coupons</a>
                        </div>	
                    </div>
					<div class="bottomNavCol">

					   <div class="bottomNavGroup">
                        	<div class="bottomNavHead"><a href="http://www.northjersey.com/community">Community</a></div>
							<a href="http://www.northjersey.com/community/announcements">Announcements</a><br />
							<a href="http://www.northjersey.com/community/at_the_library">At the Library</a><br />
							<a href="http://www.northjersey.com/community/clubs">Clubs / Service Orgs</a><br />
							<a href="http://www.northjersey.com/community/family">Family</a><br />

							<a href="http://www.northjersey.com/recreation">Recreation</a><br />
							<a href="http://www.northjersey.com/community/history" >History</a><br />
							<a href="http://www.northjersey.com/community/house_gardening">House &amp; Gardening</a><br />
							<a href="http://www.northjersey.com/community/kids">Kids</a><br />
							<a href="http://www.northjersey.com/community/pets">Pets</a><br />

							<a href="http://www.northjersey.com/community/religion">Religion</a><br />
							<a href="http://www.northjersey.com/community/seniors">Seniors</a><br />
							<a href="http://www.northjersey.com/community/teens">Teens</a><br />
							<a href="http://www.northjersey.com/community/wedding_celebrations/">Weddings / Celebrations / Socials</a>
                        </div>
						<div class="bottomNavGroup">
                        	<div class="bottomNavHead"><a href="http://www.northjersey.com/travel">Travel</a></div>

							<a href="http://www.northjersey.com/travel/deals">Deals</a><br />
							<a href="http://www.northjersey.com/travel/schensul">Jill Schensul</a><br />
							<a href="http://www.northjersey.com/travel/destinations_us">Destinations US</a><br />
							<a href="http://www.northjersey.com/travel/destinations_international">Destinations International</a><br />
							<a href="http://www.northjersey.com/travel/destinations_cruise">Destinations Cruise</a><br />
							<a href="http://www.northjersey.com/travel/family_travel">Family Travel</a><br />

							<a href="http://www.northjersey.com/travel/quick_getaways">Quick Getaways</a><br />
							<a href="http://www.northjersey.com/travel/readers_on_the_road">Record Readers on the Road</a><br />
							<a href="http://www.northjersey.com/travel/announcements">Announcements</a>
                        </div>		
						<div class="bottomNavGroup">
                        	<div class="bottomNavHead">Follow us on Twitter</div>
                        				<a href="http://www.twitter.com/northjerseybrk/">NorthJersey.com Breaking News</a><br />

                        				<a href="http://twitter.com/TheRecordSports/">Sports tweets from The Record </a><br/>
                        				<a href="http://www.twitter.com/varsityaces/">High School Sports live game scores</a><br />
                        				<a href="http://www.twitter.com/bobklap">Bob Klapisch on Sports</a><br />
                        	
                        				<a href="http://www.twitter.com/tgfireandice/">Tom Gulitti on the NJ Devils</a><br />
                        				<a href="http://www.twitter.com/northjerseyfood/">North Jersey Dining Scene</a><br />
                        				<a href="http://www.twitter.com/TRTheBigDeal">The Big Deal</a><br />

                        				<a href="http://twitter.com/SuburbanTrends">Suburban Trends</a><br />
                        				<a href="http://twitter.com/aimnewspapers">AIM Newspapers</a>
             		</div>
             		<div class="bottomNavGroup">
                        	<div class="bottomNavHead"><a href="http://traffic.northjersey.com/potholes.php">See It. Fix It.</a></div>
                        </div>	

                     </div>
					<div class="bottomNavCol">

					<div class="bottomNavGroup">
						<div class="bottomNavHead"><a href="http://www.northjersey.com/news/health">Health &amp; Healthcare</a></div>
						<a href="http://www.northjersey.com/news/health/hospitals">Hospitals</a><br />
						<a href="http://www.northjersey.com/news/health/insurance">Insurance & HMOs</a><br />
						<a href="http://www.northjersey.com/news/health/adolescent">Adolescent Health</a><br />

						<a href="http://www.northjersey.com/news/health/ask_pediatrican">Ask a Pediatrician</a><br />
						<a href="http://www.northjersey.com/news/health/special_needs">Autism / Special Needs</a><br />
						<a href="http://www.northjersey.com/news/health/fitness">Fitness</a><br />
						<a href="http://www.northjersey.com/news/health/nutrition">Diet / Nutrition</a><br />
						<a href="http://www.northjersey.com/news/health/addiction">Addiction</a><br />
						<a href="http://www.northjersey.com/news/health/medication">Medication / Therapies</a><br />

						<a href="http://www.northjersey.com/news/health/research">Research</a><br />
						<a href="http://www.northjersey.com/news/health/other_health">Other Health News</a>
					</div>
					   <div class="bottomNavGroup">
                        	<div class="bottomNavHead"><a href="http://www.northjersey.com/arts_entertainment">Arts &amp; Entertainment</a></div>
							<a href="http://calendar.northjersey.com/">Calendar</a><br />

							<a href="http://www.northjersey.com/arts_entertainment/ervolino">Bill Ervolino</a><br />
							<a href="http://www.northjersey.com/arts_entertainment/music/">Music</a><br />
							<a href="http://www.northjersey.com/arts_entertainment/movies">Movies</a><br />
							<a href="http://www.northjersey.com/arts_entertainment/television">Television</a><br />
							<a href="http://www.northjersey.com/recreation/things_to_do">5 Things to Do</a><br />
							<a href="http://www.northjersey.com/arts_entertainment/theater">Theater</a><br />

							<a href="http://www.northjersey.com/arts_entertainment/comedy">Comedy</a><br />
							<a href="http://www.northjersey.com/arts_entertainment/news">Entertainment News</a><br />
							<a href="http://www.northjersey.com/arts_entertainment/art">Art</a><br />
							<a href="http://www.northjersey.com/arts_entertainment/books">Books</a><br />
							<a href="http://www.northjersey.com/arts_entertainment/radio">Radio</a><br />
							<a href="http://www.northjersey.com/arts_entertainment/atlantic_city_gaming">Atlantic City &amp; Gaming</a><br />

							<a href="http://www.northjersey.com/arts_entertainment/celebrities/">Celebrities</a><br />
							<a href="http://www.northjersey.com/arts_entertainment/announcements">Announcements</a><br />
							<a href="http://calendar.northjersey.com/">Events</a><br />
							<a href="http://www.northjersey.com/arts_entertainment/concerts">Concerts / Live Performances</a><br />
							<a href="http://www.northjersey.com/arts_entertainment/auditions">Auditions</a><br />
							<a href="http://www.northjersey.com/arts_entertainment/at_the_library">At the Library</a>

                        </div>	
					<div class="bottomNavGroup">
                        	<div class="bottomNavHead">Find us on Facebook</div>
                        				<a href="http://www.facebook.com/pages/The-Record/140044501797?ref=ts">The Record</a><br />
                        				<a href="http://www.facebook.com/pages/Woodland-Park-NJ/NorthJerseycom/117907407522">NorthJersey.com</a><br />
                        				<a href="http://www.facebook.com/pages/Varsity-Aces/132779306963">Varsity Aces</a><br />
                        				<a href="http://www.facebook.com/pages/Ridgewood-NJ/201-Magazine/136737914809">201.net</a><br />	
                        </div>	
				<div class="bottomNavGroup">

                        	<div class="bottomNavHead"><a href="http://www.northjersey.com/columnists/columnists.html">Columnists</a></div>
                        </div>	
                        		                        				</div>
					<div class="bottomNavCol">
					   <div class="bottomNavGroup">
                        	<div class="bottomNavHead">Sports Blogs</div>
							<a href="http://blogs.northjersey.com/blogs/amazinstories/">Amazin' Stories</a><br />
                                                        <a href="http://blogs.northjersey.com/blogs/benchwarmer">Bench Warmer</a><br /> 
							<a href="http://blogs.northjersey.com/blogs/chipshots">Chip Shots</a><br />

							<a href="http://blogs.northjersey.com/blogs/fireice/">Fire &amp; Ice</a><br />
							<a href="http://blogs.northjersey.com/blogs/greenmachine/">Green Machine</a><br />
							<a href="http://blogs.northjersey.com/blogs/inthezzone/">In the 'Zzone</a><br />
							<a href="http://blogs.northjersey.com/blogs/knickknacks">Knick Knacks</a><br />
							<a href="http://blogs.northjersey.com/blogs/pinstripeposts/">Pinstripe Posts</a><br />

							<a href="http://blogs.northjersey.com/blogs/rangerrants/">Ranger Rants</a><br />
							<a href="http://blogs.northjersey.com/blogs/trueblue/">True Blue</a><br />
							<a href="http://blogs.northjersey.com/blogs/varsityaces/">Varsity Aces</a><br />
							<a href="http://blogs.northjersey.com/blogs/ringposts">Ring Posts</a><br />
							<a href="http://blogs.northjersey.com/blogs/camporeale">Northern Valley Ice</a><br />
							<a href="http://blogs.northjersey.com/blogs/Pangilinan">The GroVer</a><br />

							<a href="http://blogs.northjersey.com/blogs/stape/">Stape's Scene</a>
                        </div>				
                        
						<div class="bottomNavGroup">
                        	<div class="bottomNavHead">More Blogs</div>
                                                        <a href="http://blogs.northjersey.com/blogs/bergenbeat/">Bergen Beat</a><br />
							<a href="http://blogs.northjersey.com/blogs/capitalgames/">Capital Games</a><br />
							<a href="http://blogs.northjersey.com/blogs/compostings">Compostings</a><br />

							<a href="http://blogs.northjersey.com/blogs/ervolino/">Ervolino</a><br />
							<a href="http://blogs.northjersey.com/blogs/freshjersey">Fresh Jersey</a><br />
							<a href="http://blogs.northjersey.com/blogs/muti">In The Arena</a><br />
							<a href="http://blogs.northjersey.com/blogs/openroad/">Open Road</a><br />
							<a href="http://blogs.northjersey.com/blogs/secondhelpings/">Second Helpings</a><br />
							<a href="http://blogs.northjersey.com/blogs/shoptalk">ShopTalk</a><br />

							<a href="http://blogs.northjersey.com/blogs/balaban">The Way I See It</a><br />
							<a href="http://blogs.northjersey.com/blogs/yourmoneysworth">Your Money's Worth</a><br />
							<a href="http://blogs.northjersey.com/blogs/grabas">Common Sense</a><br />
							<a href="http://blogs.northjersey.com/blogs/korotkin">The Gadfly</a><br />
							<a href="http://blogs.northjersey.com/blogs/zwain">Heather on Style</a><br />
							<a href="http://blogs.northjersey.com/blogs/thiscorner">In This Corner</a><br />

                                                        <a href="http://blogs.northjersey.com/blogs/humphreys">Independent Investor</a><br />
							<a href="http://blogs.northjersey.com/blogs/fremer">Can I Have My Money Back?</a><br />
							<a href="http://blogs.northjersey.com/blogs/readerrewards">Reader Rewards</a><br />
							<a href="http://blogs.northjersey.com/blogs/meadowlandsmatters">Meadowlands Matters</a><br />
							<a href="http://blogs.northjersey.com/blogs/roadwarrior">Road Warrior</a><br />
							<a href="http://blogs.northjersey.com/blogs/sportsbiz">SportsBiz</a>			
                        </div>	
					    <div class="bottomNavGroup">

                        	<!--<div class="bottomNavHead"><a href="http://201health.net/">(201)Health Doctor Blogs</a></div>
							<a href="http://blogs.northjersey.com/blogs/201health/C14/">Barasch: Sleep</a><br />
							<a href="http://blogs.northjersey.com/blogs/201health/C12/">Germinario: Internal</a><br />
							<a href="http://blogs.northjersey.com/blogs/201health/C13/">Hersh: Sports Medicine</a><br />
							<a href="http://blogs.northjersey.com/blogs/201health/C15/">Kelly: Orthopaedic</a><br />
							<a href="http://blogs.northjersey.com/blogs/201health/C16/">Korst: Thoracic</a><br />
							<a href="http://blogs.northjersey.com/blogs/201health/C11/">Zapolanski: Cardiac</a>
			</div>-->			
						
		    			
					</div>
                    <div class="clear"></div>
                </div>
                <div class="njmgBottomNav" style="float:left;width:140px;">
                	<div class="bottomNavCol">
                    	<div class="bottomNavGroup">
                        	<div class="bottomNavHead">NorthJersey.com</div>
                            <a href="http://www.northjersey.com/aboutus/tagline.html">About</a><br />

                         	<a href="http://www.northjersey.com/aboutus/contact.html">Contact Us</a><br/>
                          	<a href="http://www.northjersey.com/aboutus/contact_newsroom.html">Contact the Newsroom</a><br/>
                          	<a href="http://www.northjersey.com/aboutus/advertise.html">To Advertise</a><br/>
                                <a href="http://www.northjersey.com/aboutus/12562291.html">Privacy Policy</a><br/>
                                <a href="http://www.northjersey.com/aboutus/11975046.html">Terms of Service</a><br/>
                          	<a href="http://www.northjersey.com/sitemap/">Sitemap</a>

                          	
                       </div>

                                            <div class="bottomNavGroup">
                        	<div class="bottomNavHead">Products & Services</div>
                              <a href="http://www.northjersey.com/aboutus/njmg_books.html">Buy Books</a><br/>
                              <a href="http://www.NorthJerseyImages.com">North Jersey Images</a><br/>
                              <a href="http://nl.newsbank.com/sites/njmnp/">Archives</a><br/>

                              <a href="http://www.northjersey.com/aboutus/custom_publishing.html">Custom Publishing</a><br/>
                              <a href="http://blogs.northjersey.com/blogs/readerrewards">Promotions</a>
                   
                    	
                        </div>
						<div class="bottomNavGroup">
                            <div class="bottomNavHead">Newspapers</div>
                            <!--<a href="http://www.northjersey.com/aboutus/Newspaper_Services.html">Contact Customer Care/Subscriptions</a><br/>-->
                            <a href="http://www.northjersey.com/aboutus/The_Record_customer_care.html">The Record</a><br/>

                            <a href="http://www.northjersey.com/e-edition">The Record e-Edition</a><br/>
                            <a href="http://www.northjersey.com/aboutus/Herald_News_customer_care.html">Herald News</a><br/>
                            <a href="http://www.northjersey.com/aboutus/Newspaper_Services.html">Community Newspapers</a><br/>
                            <a href="http://www.northjersey.com/aboutus/contact_newsroom.html">Contact the Newsroom</a><br/>
                            <a href="http://www.northjersey.com/aboutus/advertise.html">To Advertise</a>

                      
                        </div>

						<div class="bottomNavGroup">
                            <div class="bottomNavHead">Magazines</div>
				<a href="http://www.201.net">(201) Magazine</a><br />
                            <a href="http://www.ParentPaper.com/">Parent Paper</a><br/>
                            <a href="http://www.millburnmagazine.com/">Millburn-Short Hills Magazine</a><br/>
                            <a href="http://www.montclairmagazine.com/">Montclair Magazine</a><br/>

                            <a href="http://www.waynemag.com/">Wayne Magazine</a><br/>		
			
			</div>		
						<div class="bottomNavGroup">
                        	<div class="bottomNavHead">Corporate Information</div>
                            <a href="http://www.northjersey.com/aboutus/corporate.html">About North Jersey Media Group</a><br/>
                            <a href="http://www.northjersey.com/aboutus/corporate.html">Locations</a><br/>
                            <a href="http://www.njmgf.org/">Foundation</a><br/>

                            <a href="http://www.northjersey.com/aboutus/greenstatement.html">Green Statement</a><br/>
                            <a href="http://www.northjersey.com/aboutus/reprints.html">Reprints &amp; Permissions</a>
                          </div>		
						<div class="bottomNavGroup">
                        	<div class="bottomNavHead"><a href="http://jobs.northjersey.com/Jobs/SearchResults.aspx?eid=17214078">EMPLOYMENT OPPORTUNITIES</a></div>
                           </div>
                        </div>

                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
		</div><!-- End Content -->
	</div><!-- End Container -->
	
    <div class="footer">
    	<div class="footerContent">

            <div class="partners"><span style="color: #797979;">Our Partners:</span>
                <a href="http://www.northjerseyimages.com" target="_blank" class="partnerlink" target="_blank">NorthJersey Images</a> |
                <a href="http://www.bergen.com" target="_blank" class="partnerlink">Bergen.com</a> |
                <a href="http://www.fios1news.com" target="_blank" class="partnerlink">FiOS1 News</a> |
                <a href="http://www.201.net" target="_blank" class="partnerlink">(201)</a> |
                <a href="http://www.parade.com" target="_blank" class="partnerlink">Parade</a> |
                <a href="http://www.1010wins.com/" target="_blank" class="partnerlink">1010 WINS</a> |
                <a href="http://myfoxny.com/" target="_blank" class="partnerlink">MyFoxNY</a> |
                <a href="http://www.my9tv.com/" target="_blank" class="partnerlink">My9</a>

            </div>
            <div class="copyright" style="float:right;margin-left:7px;width:200px;"><a href="http://www.northjersey.com/aboutus/11975081.html" class="copylink">&copy; 2011 North Jersey Media Group</a></div>
  
    <!--Popunder start-->	 
<!-- Javascript tag  -->
<!-- begin ZEDO for channel:  North Jersey , publisher: North Jersey , Ad Dimension: Pixel/Popup - 1 x 1 -->
<script language="JavaScript">
var zflag_nid="305"; var zflag_cid="167/1"; var zflag_sid="103"; var zflag_width="1"; var zflag_height="1"; var zflag_sz="15"; 
</script>
<script language="JavaScript" src="http://c5.zedo.com/jsc/c5/fo.js"></script>

<!-- end ZEDO for channel:  North Jersey , publisher: North Jersey , Ad Dimension: Pixel/Popup - 1 x 1 -->	
<!--popunder end-->   

<script type="text/javascript">

if(typeof(commentToggle) != 'undefined') {
    commentToggle();
    loadPage(false);
}



</script>







<script type="text/javascript"> 

function reloadAlliFrames() {

if (document.getElementById("difRegIframe")){
document.getElementById("difRegIframe").src = "http://ipost.northjersey.com/misc.php?do=page&template=njmg_login";
}

if (document.getElementById("difCustTowns")){
var CXTdom = "http://www.northjersey.com/templates/mylocalnews?towns="+ readCCookie('njmg_localtown')+"&asdcd=ascdsd";
document.getElementById("difCustTowns").src = CXTdom;
}

if (document.getElementById("topadframe")){
	document.getElementById("topadframe").src = "http://ipost.northjersey.com/test/thanksgiving_ad/iframe.html";
}

if (document.getElementById("difWeather")){
	document.getElementById("difWeather").src = "http://myweather.northjersey.com/newWeather/hw3.php?alt=widget&forecast=metar&zipcode=07601";
}
if (document.getElementById("difRSFrame")){
document.getElementById("difRSFrame").src = "http://ipost.northjersey.com/apps/real_estate/v1/?rc_town=$rscalTown&rc_county=";
}
if (document.getElementById("difCHRSFrame")){ 
document.getElementById("difCHRSFrame").src = "http://ipost.northjersey.com/apps/real_estate/v1/index_rc_oh_only.php?rc_town=$rscalTown&rc_county=";
}
if (document.getElementById("difCalRame")){ 
document.getElementById("difCalRame").src = "http://calendar.northjersey.com/eawidget.aspx?market=$calTown&page=5&days=300";
} 
if (document.getElementById("difCalRameOld")){
document.getElementById("difCalRameOld").src = "http://calendar.northjersey.com/swidget.aspx?market=$calTown&days=10";
}

if (document.getElementById("realSearchIframe")){
document.getElementById("realSearchIframe").src = "http://realestate.northjersey.com/sales/search/widget-combo";
}

if (document.getElementById("difRPEFrame")){ 
document.getElementById("difRPEFrame").src = "http://ipost.northjersey.com/apps/record_ad/";
}

if (document.getElementById("difTweeterFrame")){
document.getElementById("difTweeterFrame").src = "http://www.northjersey.com/templates/tweeter_iframe";
}


if (document.getElementById("siteVMenus")){

var mysiteVMenus = document.getElementById("siteVMenus");
mysiteVMenus.style.visibility = "visible";
}

}


window.onbeforeunload = function () {
   // This fucntion does nothing.  It won't spawn a confirmation dialog
   // But it will ensure that the page is not cached by the browser.
}
window.onload = reloadAlliFrames(); 
</script>

<script type="text/javascript" >
if (document.getElementById("pagesv2shown")){ 
	var mydiv = document.getElementById("pagesv2shown");
	mydiv.style.visibility = "visible";
}
</script>
