<div class="container">
<!--Skyscraper code start-->
<!--Skyscraper code end-->

<!--New header starts-->

    	<div class="topMenu">



<div class="clear"></div>

        
                			
<div style="margin:0px 0 0 20px;">
      <div class="weatherwidget">
<iframe id="difWeather" name="difWeather" scrolling="no" frameborder="0" style="border: 0px #000 solid; padding: 0px; margin: 0 10px 0 0; width: 87px; height: 77px;"></iframe>
		</div>
</div>

		            	<div style="margin:0 0 0 9px;"><a href="http://www.northjersey.com"><img src="/themes/northjerseymediagroup/cached/images/NorthJerseyLogo.jpg" /></a></div>

<div style="position:absolute;top: 5px; left: 620px;">
                  
                  
                  
                  
                  
                  <form name="searchform" onSubmit="return dosearch();">

<div style="float:left;">

<div id="customradio1" onClick="this.style.backgroundImage ='url(/themes/northjerseymediagroup/cached/images/search_site_sel.gif)';document.getElementById('customradio2').style.backgroundImage ='url(/themes/northjerseymediagroup/cached/images/search_web.gif)';selectRadio(0);"></div>
</div>
<div style="float:left;">
<div id="customradio2" onClick="this.style.backgroundImage ='url(/themes/northjerseymediagroup/cached/images/search_web_sel.gif)';document.getElementById('customradio1').style.backgroundImage ='url(/themes/northjerseymediagroup/cached/images/search_site.gif)';selectRadio(1);"></div>
</div>
<div class="yahoologo"></div>
<div style="clear:both;"></div>

<div class="myform">
<div style="float:left;margin:5px 0 0 6px;">
<input type="text" name="searchterms" class="searchterm" value="Search" onfocus="if(this.value == 'Search') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search';}" />
</div>
<div style="float:right;margin:1px 1px 0 0;">
<input type="submit" value="" name="SearchSubmit" class="formbutton" />
</div>

<div style="clear:both;"></div>
<input name="sengines" class="radio" id="searchts" type="radio" value="http://findit.northjersey.com/search?client=default_frontend&output=xml_no_dtd&proxystylesheet=default_frontend&proxyreload=1&sort=date%3AD%3AL%3Ad1&entqr=3&oe=UTF-8&ie=UTF-8&ud=1&q=" checked />

<input name="sengines" class="radio" id="searchweb" type="radio" value="http://websearch.northjersey.com/?keywords=">
</div>
</form>

</div>


               </div>

                <div class="clear"></div>
<!-- top dropdown menu start -->				
       <div style="z-index:9999;">

        <ul class="topnav">

		
		<!--News start-->
		
            <li>

                <a href="http://www.northjersey.com/">News</a>

        

            </li>
			
			<!--News end-->

			
	<!--Towns start-->
	<li><a href="http://www.northjersey.com/towns/">Towns</a></li>
	<!--Towns end-->		
	
	
	<!--Obituaries start-->
	<li><a href="http://www.legacy.com/obituaries/northjersey">Obituaries</a></li>
	<!--Obituaries end-->

			
	<!--Sports start-->
            <li>

                <a href="http://www.northjersey.com/sports/">Sports</a>
            
            </li>
			<!--Sports end-->

			
			
			<!--Health start-->
			<li>

                <a href="http://www.northjersey.com/news/health/">Health</a>
              
            </li>
		<!--Health end-->
			
			
		<!--Real Estate start-->
			<li>
                <a href="http://www.northjersey.com/realestate/">Real Estate</a>

               
            </li>

			
		<!--Real Estate start-->
		
		
		
		<!-- Arts & Entertainment start-->
		
            <li>

                <a href="http://www.northjersey.com/arts_entertainment/">Arts &amp; Entertainment</a>

                

            </li>
			
		<!-- Arts & Entertainment end-->
		
		
	    <!--Food and Dining start-->
			<li>
                <a href="http://www.northjersey.com/food_dining/">Food &amp; Dining</a>

                <ul class="subnav" style="width:341px;">
				
				
				
				<div style="float:left; width:158px;">

				
					<li><a href="http://www.northjersey.com/food_dining/events/">Events</a></li>
                    <li><a href="http://www.northjersey.com/food_dining/food_news/">Food News</a></li>
                    <li><a href="http://www.northjersey.com/food_dining/dining_news/">Dining News</a></li>
					<li><a href="http://www.northjersey.com/food_dining/record_reviews/">Recent Record Reviews</a></li>

                    <li><a href="http://www.northjersey.com/food_dining/recipes/">Recipes</a></li>
                    <li><a href="http://www.northjersey.com/food_dining/vegetarian_recipes/">Vegetarian Recipes</a></li>

                    
				</div>

				
				<div style="float:left; width:183px;">
				    <li><a href="http://www.northjersey.com/food_dining/ung_reviews/">The Record's Elisa Ung</a></li>
					<li><a href="http://www.northjersey.com/food_dining/wine_beer_spirits/">Wine, Beer &amp; Spirits</a></li>

                    <li><a href="http://www.northjersey.com/food_dining/marketplace/">Marketplace / Food Shopping</a></li>
                    <li><a href="http://www.northjersey.com/food_dining/restaurant_profiles/">Restaurant Profiles</a></li>

					<li><a href="http://dining.northjersey.com">Dining Guide</a></li>
					<li><a href="http://www.northjersey.com/shopping/redplum.html">Grocery Coupons</a></li>
				</div>
		
				<div style="clear:all;"></div>

                </ul>
            </li>
		<!--Food and Dining end-->

		
	   <!--Community start-->
			<li>
                <a href="http://www.northjersey.com/community/">Community</a>
              
            </li>
		<!--Community end-->

		<!--Events start-->
            <li><a href="http://calendar.northjersey.com/">Events</a></li>

		<!--Events end-->	
		
		
		
			   <!--Shopping start-->
			<li>

                <a href="http://www.northjersey.com/shopping/">Shopping</a>
               
            </li>
		<!--Shopping end-->

		
		
		
		  <!--Travel start-->
			<li>

                <a href="http://www.northjersey.com/travel/">Travel</a>
                
            </li>

		<!--Travel end-->
		
		
		<!--More start-->
			<li>
                <a href="#">More</a>
                
            </li>
		<!--More end-->
		
		<!--Traffic start-->
            <li><a href="http://www.northjersey.com/templates/traffic">Traffic</a></li>

		<!--Traffic end-->	
		
		
        </ul>

    </div>

<!-- top dropdown menu end -->			
				
				

        <div class="clear"></div> 
        
<div class='topshadow' style="z-index:2;"></div>