  <span class="facebook_connect"><a href="{{ publisher.facebook_connect_path }}" title="Log in with your facebook account"><img alt="Facebook Connect" src="/images/buttons/facebook_connect.png" /></a></span>
