<div id="station_logos">  
  <a href="http://www.wthitv.com/" target="_blank"><img src="/themes/<%= @publisher.label %>/images/stations/wthi.png" height="60" alt="http://www.wthitv.com/" /></a>
  <a href="http://www.myfox10tv.com/" target="_blank"><img src="/themes/<%= @publisher.label %>/images/stations/myfox10.png" height="60" alt="http://www.myfox10tv.com/" /></a>
</div>
