<h1 class="thanks">Thank you for entering!</h1>
<h2>We will be drawing the winner on or about April 12th and notifying via email.</h2>
<p class="thank_you_2">In the next few days we will also send you amazing deals from local businesses.</p>
<p class="thank_you_2">Like the deal? Buy it before it goes away! Our deals are only live for 1-3 days.</p>
<p class="thank_you_2">Share the deals with your friends!</p>
<p class="thank_you_2">Each friend that signs up gets a $5 deal credit, and you get a $5 deal credit after your friend's first purchase.</p>
<p class="thank_you_2 share_link"><a href="mailto:?subject=Get free daily deal alerts&body=Check https://dailydeal.seattlepi.com/publishers/369/consumers/presignup where you can sign up for Free Daily Deal alerts">Email this link to your friends!</a></p>


<div class="clear"></div>

<div id="a_a"><a href="http://analoganalytics.com/"><img src="/images/powered_by_analog_analytics.png" width="169" height="20" alt="Powered by Analog Analytics" /></a></div>