<div class="page_column_4 last rounded_corners">
  <h2>What happens after I buy?</h2>
  <p>After you make a purchase, you'll receive the <span class="fun">fun</span><span class="do">do</span><span class="go">go</span> voucher to print out via email. Follow the instructions on the voucher to redeem your purchase any time before the expiration date to enjoy the fruits of your labor.</p>
  <br/>
  <h2>Will my information be safe?</h2>
  <p>Yes. We use encryption and other industry-standard security features to ensure that no one else has access to your information.  We do not store your credit card information after completing the transaction.</p>
</div>
