<p style="margin: 0; padding: 8px;">
<a href="http://www.wkrz.com/" target="_blank" style="color: #ffffff;"><img border="0" height="50" src="http://{{ publisher.daily_deal_host }}/themes/entercom-wilkesbarre/images/stations/krz.png" alt="98.5 KRZ"></a>
  <a href="http://www.froggy101.com/" target="_blank" style="color: #ffffff;"><img border="0" height="50" src="http://{{ publisher.daily_deal_host }}/themes/entercom-wilkesbarre/images/stations/froggy.png" alt="Froggy 101"></a>
  <a href="http://www.wilknetwork.com/" target="_blank" style="color: #ffffff;"><img border="0" height="50" src="http://{{ publisher.daily_deal_host }}/themes/entercom-wilkesbarre/images/stations/wilk.png" alt="WILK 103.1"></a>
  <a href="http://www.102themountain.com/" target="_blank" style="color: #ffffff;"><img border="0" height="50" src="http://{{ publisher.daily_deal_host }}/themes/entercom-wilkesbarre/images/stations/mountain.png" alt="The Mountain 102.3"></a>
</p>