		</div>
			</div>
			</div>
				
		</div>
  
	</div>						
	
	<div id="footernav" class="container_25">
		
		<ul class="menu"><div class="column"><li class="expanded first"><a href="http://www.concordmonitor.com/live-online" title="">Only online <span class="raquo">&raquo;</span></a><ul class="menu"><li class="first"><a href="http://www.concordmonitor.com/live-online">Live Online</a></li>

<li><a href="http://www.concordmonitor.com/our-blogs">Our blogs</a></li>
<li><a href="http://www.concordmonitor.com/webcams">Web Cams</a></li>
<li><a href="http://www.concordmonitor.com/page/twitter-and-facebook" title="Follow Monitor posts on Twitter and Facebook.">Twitter / Facebook etc.</a></li>
<li><a href="http://www.concordmonitor.com/poll">Online polls</a></li>
<li><a href="http://www.concordmonitor.com/page/podcasts">Podcasts</a></li>
<li class="last"><a href="http://www.concordmonitor.com/page/rss-feeds">RSS feeds</a></li>
</ul></li>
<li class="expanded"><a href="http://www.concordmonitor.com/news" title="">News <span class="raquo">&raquo;</span></a><ul class="menu"><li class="first"><a href="http://www.concordmonitor.com/local-headlines">Local &amp; state</a></li>

<li><a href="http://www.concordmonitor.com/politics">Politics</a></li>
<li><a href="http://www.concordmonitor.com/nation-world">Nation &amp; world</a></li>
<li><a href="http://www.concordmonitor.com/work-business">Work &amp; business</a></li>
<li><a href="http://www.concordmonitor.com/cops-courts-fires">Cops, courts &amp; fires</a></li>
<li><a href="http://www.concordmonitor.com/newsblog">News blog</a></li>
<li><a href="http://hosted.ap.org/dynamic/fronts/HOME?SITE=NHCON&amp;SECTION=HOME">Associated Press</a></li>

<li><a href="http://www.concordmonitor.com/news-topics">News topics</a></li>
<li><a href="http://www.concordmonitor.com/page/archive-search" title="Archive search">Archives</a></li>
<li class="last"><a href="http://www.concordmonitor.com/in_print">In print</a></li>
</ul></li>
</div><div class="column"><li class="expanded"><a href="http://www.legacy.com/obituaries/concordmonitor/" title="">Obituaries <span class="raquo">&raquo;</span></a><ul class="menu"><li class="first"><a href="http://www.concordmonitor.com/form/submit-obituary">Submit Obituaries</a></li>
<li><a href="http://www.legacy.com/obituaries/concordmonitor/">Read Obituaries</a></li>
<li class="last"><a href="http://www.concordmonitor.com/obituary-archives">Obituary archives</a></li>
</ul></li>
<li class="expanded active-trail"><a href="http://www.concordmonitor.com/sports" title="" class="active">Sports <span class="raquo">&raquo;</span></a><ul class="menu"><li class="first"><a href="http://www.concordmonitor.com/high-school-sports">High schools</a></li>

<li><a href="http://www.concordmonitor.com/professional-sports">Professional</a></li>
<li><a href="http://www.concordmonitor.com/college-sports">College</a></li>
<li><a href="http://www.concordmonitor.com/by-sport">By sport</a></li>
<li><a href="http://www.concordmonitor.com/sportsblog">Sports blog</a></li>
<li class="last"><a href="http://www.concordmonitor.com/submit-to-sports">Submit to Sports</a></li>
</ul></li>
<li class="expanded"><a href="http://www.concordmonitor.com/opinion" title="">Opinion <span class="raquo">&raquo;</span></a><ul class="menu"><li class="first"><a href="http://www.concordmonitor.com/editorials">Editorials</a></li>
<li><a href="http://www.concordmonitor.com/letters">Letters</a></li>
<li><a href="http://www.concordmonitor.com/opinion-columns">Columns</a></li>

<li><a href="http://www.blogsnh.com">BlogsNH</a></li>
<li class="last"><a href="http://www.concordmonitor.com/form/submit-letter-to-the-editor" title="Form for letter submissions">Submit your letter</a></li>
</ul></li>
</div><div class="column"><li class="expanded"><a href="http://www.concordmonitor.com/town-by-town" title="">Community <span class="raquo">&raquo;</span></a><ul class="menu"><li class="first"><a href="http://www.concordmonitor.com/town-by-town">Town-by-town</a></li>
<li><a href="http://www.concordmonitor.com/local-headlines">Local headlines</a></li>
<li><a href="http://www.concordmonitor.com/couples">Couples</a></li>
<li class="last"><a href="http://www.theconcordinsider.com" title="It&#039;s all about Concord! Publishes weekly.">The Concord Insider</a></li>
</ul></li>
<li class="expanded"><a href="http://www.concordmonitor.com/arts-entertainment" title="">Arts &amp; entertainment <span class="raquo">&raquo;</span></a><ul class="menu"><li class="first"><a href="http://www.concordmonitor.com/calendar">Calendar</a></li>

<li><a href="http://movies.zap2it.com/movies/mvhome.do?aid=concord04n">Movies</a></li>
<li><a href="http://www.concordmonitor.com/travel-tourism">Travel &amp; tourism</a></li>
<li class="last"><a href="http://tvlistings.zap2it.com/tvlistings/ZCGrid.do?aid=concord04n">TV Grid</a></li>
</ul></li>
<li class="expanded"><a href="http://www.concordmonitor.com/living" title="">Living <span class="raquo">&raquo;</span></a><ul class="menu"><li class="first"><a href="http://www.concordmonitor.com/food">Food</a></li>
<li><a href="http://www.concordmonitor.com/health">Health</a></li>
<li><a href="http://www.concordmonitor.com/books">Books</a></li>
<li><a href="http://www.concordmonitor.com/pets">Pets</a></li>

<li><a href="http://www.concordmonitor.com/travel-tourism">Travel &amp; tourism</a></li>
<li class="last"><a href="http://www.concordmonitor.com/sectionfront_node/publications">Special Publications</a></li>
</ul></li>
</div><div class="column"><li class="expanded"><a href="http://www.concordmonitor.com/photos" title="">Photos <span class="raquo">&raquo;</span></a><ul class="menu"><li class="first"><a href="http://www.concordmonitor.com/photoextra" title="Browse and buy reprints of photos and full pages from the Monitor.">PhotoExtra (reprints)</a></li>
<li><a href="http://www.concordmonitor.com/photo-columns">Photo columns</a></li>
<li><a href="http://www.concordmonitor.com/photoblog" title="A selection of great Monitor photography.">Photo Blog</a></li>
<li><a href="http://www.concordmonitor.com/multimedia">Multimedia</a></li>
<li><a href="http://www.concordmonitor.com/section/webcams" title="View our Main Street cam and a selection of cams from around the state.">Web Cams</a></li>

<li class="last"><a href="http://www.concordmonitor.com/rememberme" title="See the work that won the Monitor and Preston Gannaway the 2008 Pulitzer Prize for Feature Photography.">Pulitzer</a></li>
</ul></li>
<li class="expanded"><a href="http://www.concordmonitor.com/marketplace" title="">Marketplace <span class="raquo">&raquo;</span></a><ul class="menu"><li class="first"><a href="http://www.concordmonitor.info/classifieds/" title="The region&#039;s top marketplace for general merchandise. Free listings available!">Classifieds</a></li>
<li><a href="http://www.concordmonitor.info/classifieds/taxonomy/term/1909">Corner Cupboard</a></li>
<li><a href="http://search.concordmonitor.com/sp?skin=100&amp;aff=1109&amp;keywords=" title="Enhanced local business listings, maps, reviews and more.">Yellow pages</a></li>
<li><a href="https://store.concordmonitor.com/coupons" title="Save 30 percent on your next meal!">Dining deals</a></li>
<li><a href="https://store.concordmonitor.com/books" title="Books of local interest, from Monitor Publishing.">Local books</a></li>
<li><a href="http://www.concordmonitor.com/photoextra" title="Great Monitor photography for browsing and buying. Prints, mugs, T-shirts and much more. Page reprints also are available.">Photo reprints</a></li>
<li><a href="http://www.allcarsnh.com" title="Buy and sell cars. Features dealer inventory and private sales.">Cars</a></li>

<li><a href="http://www.concordmonitor.info/classifieds/Classifieds/3/1775" title="Homes and land available in central New Hampshire.">Houses</a></li>
<li><a href="http://jobs.concordmonitor.com" title="The region&#039;s go-to job board.">Jobs</a></li>
<li><a href="https://www.shopnewhampshire.com/monitor/placead" title="Secure, convenient online tool for placing classified ads. Free listings available.">Place an ad</a></li>
<li><a href="https://www.shopnewhampshire.com/monitor/subscribecirc/subscribe_snh.html">Subscribe</a></li>
<li class="last"><a href="http://www.concordmonitor.info/classifieds/Classifieds/3/980/1003">Public Notices</a></li>
</ul></li>
</div><div class="column"><li class="expanded"><a href="http://www.concordmonitor.com/advertise" title="">Advertise <span class="raquo">&raquo;</span></a><ul class="menu"><li class="first"><a href="http://www.concordmonitor.com/page/classified-advertising">Classified Advertising</a></li>
<li><a href="http://www.concordmonitor.com/page/display-advertising">Display Advertising</a></li>
<li><a href="http://www.concordmonitor.com/page/help-wanted">Help Wanted</a></li>

<li><a href="http://www.concordmonitor.com/page/real-estate-advertising">Real Estate</a></li>
<li><a href="http://www.concordmonitor.com/page/online-advertising">Online Advertising</a></li>
<li><a href="http://www.concordmonitor.com/page/preprint-insert-advertising">Preprints/Inserts</a></li>
<li><a href="http://www.concordmonitor.com/adspec">Rates &amp; specifications</a></li>
<li><a href="http://www.concordmonitor.com/page/advertising-specifications">Print ad specifications</a></li>
<li class="last"><a href="http://www.concordmonitor.com/page/special-pages-and-publications">Special sections and publications</a></li>
</ul></li>
<li class="expanded"><a href="http://www.concordmonitor.com/page/commercial-printing" title="">Services <span class="raquo">&raquo;</span></a><ul class="menu"><li class="first"><a href="http://www.concordmonitor.com/page/commercial-printing">Commercial printing</a></li>

<li class="last"><a href="http://www.conmon.com/nie/index.htm">Newspapers in Education</a></li>
</ul></li>
<li class="expanded last"><a href="http://www.concordmonitor.com/you-tell-us" title="">You tell us <span class="raquo">&raquo;</span></a><ul class="menu"><li class="first"><a href="http://www.concordmonitor.com/form/submit-news">Submit News</a></li>
<li><a href="http://www.concordmonitor.com/form/submit-event">Submit Events</a></li>
<li><a href="http://www.concordmonitor.com/form/wedding-announcement">Submit Wedding Announcement</a></li>
<li><a href="http://www.concordmonitor.com/form/birth-announcement">Birth announcements</a></li>
<li><a href="http://www.concordmonitor.com/form/submit-letter-to-the-editor" title="Submit a letter to the editor">Letter to the editor</a></li>
<li class="last"><a href="http://www.concordmonitor.com/page/contact-us">Contact us</a></li>
</ul></li>

</div></ul>		
	</div>
	
	<div id="csnav" class="container_25">
		
		<span class="menu_title">Customer service:</span>
		<ul class="menu"><li class="first"><a href="http://www.concordmonitor.com/customer-service">For readers</a></li>
<li><a href="http://www.concordmonitor.com/advertise">For advertisers</a></li>
<li><a href="http://www.concordmonitor.com/page/monitor-market-power">Market Power</a></li>
<li><a href="http://www.concordmonitor.com/page/help">Help and information</a></li>
<li><a href="http://www.concordmonitor.com/page/directions-to-the-concord-monitor">Get directions</a></li>

<li><a href="http://www.concordmonitor.com/page/contact-us">Contact us</a></li>
<li><a href="https://ads.concordmonitor.com">Place an ad</a></li>
<li><a href="http://www.conmon.com/nie/index.htm">Newspapers in Education</a></li>
<li><a href="http://www.concordmonitor.com/page/copyright">Copyright policy</a></li>
<li class="last"><a href="http://www.concordmonitor.com/privacy">Privacy policies</a></li>
</ul>		
	</div>
	
	<div id="copyright" class="container_25">
		<div class="grid_25 grid_block">
			<div class="grid_content">

				Copyright 1997-2011<br/>
				Concord Monitor and New Hampshire Patriot<br/>
				P.O. Box 1177, Concord NH 03302<br/>
				603-224-5301<br/>
				<a href="http://profiles.concordmonitor.com" target="_blank">Advertiser profiles</a>
			</div>

		</div>
	</div>
	
	<div class="clearfix"></div>
	
	</div>