<div id="wrapper">
	
	<div id="mast">		
				
		<div class="left"></div>
		<div class="logo">
			<a href="http://www.concordmonitor.com/">
				<img src="/themes/concordmonitor/images/publisher/logo_24.png" alt="Concord Monitor Online" width="451" height="73"/>
			</a>

		</div>
		<div class="right">
		<div class="mast_links">Search ConcordMonitor.com:</div>
			<div id="search_box"><form action="http://www.concordmonitor.com/search"  accept-charset="UTF-8" method="post" id="nne-cmonitor-solr-integration-searchbox-form" onSubmit="pageTracker._linkByPost(this,true);">
			<div><div class="form-item" id="edit-keywords-wrapper">
			 <input type="text" maxlength="128" name="keywords" id="edit-keywords" size="60" value="" class="form-text" />
			</div>
			<input type="submit" name="op" id="edit-submit" value="Search"  class="form-submit" />
			<input type="hidden" name="form_id" id="edit-nne-cmonitor-solr-integration-searchbox-form" value="nne_cmonitor_solr_integration_searchbox_form"  />
			</div></form>
			</div>	
			<div class="advanced_search_link">
				<a onclick="pageTracker._link(this.href); return false;" href="http://www.concordmonitor.com/node/173803">Advanced search</a>
			</div>

		</div>
		
	</div>
	

<div id="topnav">
					<div id="primary_links">
				<ul class="nice-menu nice-menu-down" id="nice-menu-0"><li class=" first menu-6872"><a href="http://www.concordmonitor.com/" class="menu-6872">Home</a></li><li class="menu-114 menuparent"><a href="http://www.concordmonitor.com/live-online" class="menu-114">Only online</a><ul><li class=" first "><a href="http://www.concordmonitor.com/live-online">Live Online</a></li>
<li><a href="http://concordmonitor.nh.newsmemory.com/">E-Edition</a></li>
<li><a href="http://www.concordmonitor.com/our-blogs">Our blogs</a></li>
<li><a href="http://www.concordmonitor.com/webcams">Web Cams</a></li>

<li><a href="http://www.concordmonitor.com/page/twitter-and-facebook" title="Follow Monitor posts on Twitter and Facebook.">Twitter / Facebook</a></li>
<li><a href="http://www.concordmonitor.com/poll">Online polls</a></li>
<li><a href="http://www.concordmonitor.com/page/podcasts">Podcasts</a></li>
<li class="last"><a href="http://www.concordmonitor.com/page/rss-feeds">RSS feeds</a></li>
</ul>
</li>
<li class="menu-116 menuparent "><a href="http://www.concordmonitor.com/news" class="menu-116">News</a><ul><li class=" first "><a href="http://www.concordmonitor.com/local-headlines">Local &amp; state</a></li>
<li><a href="http://www.concordmonitor.com/politics">Politics</a></li>

<li><a href="http://www.concordmonitor.com/nation-world">Nation &amp; world</a></li>
<li><a href="http://www.concordmonitor.com/work-business">Work &amp; business</a></li>
<li><a href="http://www.concordmonitor.com/cops-courts-fires">Cops, courts &amp; fires</a></li>
<li><a href="http://www.concordmonitor.com/newsblog">News blog</a></li>
<li><a href="http://hosted.ap.org/dynamic/fronts/HOME?SITE=NHCON&amp;SECTION=HOME" onclick="pageTracker._link(this.href); return false;">Associated Press</a></li>
<li><a href="http://www.concordmonitor.com/news-topics">News topics</a></li>

<li><a href="http://www.concordmonitor.com/page/archive-search" title="Archive search">Archives</a></li>
<li class="last"><a href="http://www.concordmonitor.com/in_print">In print</a></li>
</ul>
</li>
<li class="menu-1259 menuparent "><a href="http://www.legacy.com/obituaries/concordmonitor/" onclick="pageTracker._link(this.href); return false;" class="menu-1259">Obituaries</a><ul><li class=" first "><a href="http://www.concordmonitor.com/form/submit-obituary">Submit Obituaries</a></li>
<li><a href="http://www.legacy.com/obituaries/concordmonitor/" onclick="pageTracker._link(this.href); return false;">Read Obituaries</a></li>
<li class=" last "><a href="http://www.concordmonitor.com/obituary-archives">Obituary archives</a></li>
</ul>
</li>
<li class="menu-1228 menuparent "><a href="http://www.concordmonitor.com/sports" class="menu-1228">Sports</a><ul><li class=" first "><a href="http://www.concordmonitor.com/high-school-sports">High schools</a></li>

<li><a href="http://www.concordmonitor.com/professional-sports">Professional</a></li>
<li><a href="http://www.concordmonitor.com/college-sports">College</a></li>
<li><a href="http://www.concordmonitor.com/by-sport">By sport</a></li>
<li><a href="http://www.concordmonitor.com/sportsblog">Sports blog</a></li>
<li class="last"><a href="http://www.concordmonitor.com/submit-to-sports">Submit to Sports</a></li>
</ul>
</li>
<li class="menu-118 menuparent "><a href="http://www.concordmonitor.com/opinion" class="menu-118">Opinion</a><ul><li class=" first "><a href="http://www.concordmonitor.com/editorials">Editorials</a></li>
<li><a href="http://www.concordmonitor.com/letters">Letters</a></li>

<li><a href="http://www.concordmonitor.com/opinion-columns">Columns</a></li>
<li><a href="http://www.blogsnh.com" onclick="pageTracker._link(this.href); return false;">BlogsNH</a></li>
<li class="last"><a href="http://www.concordmonitor.com/form/submit-letter-to-the-editor" title="Form for letter submissions">Submit your letter</a></li>
</ul>
</li>
<li class="menu-115 menuparent "><a href="http://www.concordmonitor.com/section/community-news" class="menu-115">Community</a><ul><li class=" first "><a href="http://www.concordmonitor.com/town-by-town">Town-by-town</a></li>
<li><a href="http://www.concordmonitor.com/local-headlines">Local headlines</a></li>
<li><a href="http://www.concordmonitor.com/couples">Couples</a></li>
<li><a href="http://www.concordmonitor.com/births">Births</a></li>

<li class="last"><a href="http://www.theconcordinsider.com" title="It&#039;s all about Concord! Publishes weekly." onclick="pageTracker._link(this.href); return false;">The Concord Insider</a></li>
</ul>
</li>
<li class="menu-1297 menuparent "><a href="http://www.concordmonitor.com/arts-entertainment" class="menu-1297">Arts &amp; entertainment</a><ul><li class=" first "><a href="http://www.concordmonitor.com/books">Books</a></li>
<li><a href="http://www.concordmonitor.com/calendar">Calendar</a></li>
<li><a href="http://movies.zap2it.com/movies/mvhome.do?aid=concord04n" onclick="pageTracker._link(this.href); return false;">Movies</a></li>
<li><a href="http://www.concordmonitor.com/travel-tourism">Travel &amp; tourism</a></li>

<li class="last"><a href="http://tvlistings.zap2it.com/tvlistings/ZCGrid.do?aid=concord04n" onclick="pageTracker._link(this.href); return false;">TV listings</a></li>
</ul>
</li>
<li class="menu-119 menuparent "><a href="http://www.concordmonitor.com/living" class="menu-119">Living</a><ul><li class=" first "><a href="http://www.concordmonitor.com/food">Food</a></li>
<li><a href="http://www.concordmonitor.com/health">Health</a></li>
<li><a href="http://www.concordmonitor.com/books">Books</a></li>
<li><a href="http://www.concordmonitor.com/pets">Pets</a></li>
<li><a href="http://www.concordmonitor.com/travel-tourism">Travel &amp; tourism</a></li>

<li class="last"><a href="http://www.concordmonitor.com/sectionfront_node/publications">Special Publications</a></li>
</ul>
</li>
<li class="menu-1462 menuparent "><a href="http://www.concordmonitor.com/photos" class="menu-1462">Photos</a><ul><li class=" first "><a href="http://www.concordmonitor.com/photoextra" title="Browse and buy reprints of photos and full pages from the Monitor.">PhotoExtra (reprints)</a></li>
<li><a href="http://www.concordmonitor.com/photo-columns">Photo columns</a></li>
<li><a href="http://www.concordmonitor.com/photoblog" title="A selection of great Monitor photography.">Photo Blog</a></li>
<li><a href="http://www.concordmonitor.com/multimedia">Multimedia</a></li>
<li><a href="http://www.concordmonitor.com/section/webcams" title="View our Main Street cam and a selection of cams from around the state.">Web Cams</a></li>
<li class="last"><a href="http://www.concordmonitor.com/rememberme" title="See the work that won the Monitor and Preston Gannaway the 2008 Pulitzer Prize for Feature Photography.">Pulitzer</a></li>

</ul>
</li>
<li class="menu-121 menuparent "><a href="http://www.concordmonitor.com/marketplace" class="menu-121">Marketplace</a><ul><li class=" first "><a href="http://www.concordmonitor.info/classifieds/" title="The region&#039;s top marketplace for general merchandise. Free listings available!" onclick="pageTracker._link(this.href); return false;">Classifieds</a></li>
<li><a href="http://www.concordmonitor.info/classifieds/taxonomy/term/1909" onclick="pageTracker._link(this.href); return false;">Corner Cupboard</a></li>
<li><a href="http://search.concordmonitor.com/sp?skin=100&amp;aff=1109&amp;keywords=" title="Enhanced local business listings, maps, reviews and more." onclick="pageTracker._link(this.href); return false;">Yellow pages</a></li>
<li><a href="https://store.concordmonitor.com/coupons" title="Save 30 percent on your next meal!" onclick="pageTracker._link(this.href); return false;">Dining deals</a></li>
<li><a href="https://store.concordmonitor.com/books" title="Books of local interest, from Monitor Publishing." onclick="pageTracker._link(this.href); return false;">Local books</a></li>
<li><a href="http://www.concordmonitor.com/photoextra" title="Great Monitor photography for browsing and buying. Prints, mugs, T-shirts and much more. Page reprints also are available.">Photo reprints</a></li>
<li><a href="http://www.allcarsnh.com" title="Buy and sell cars. Features dealer inventory and private sales." onclick="pageTracker._link(this.href); return false;">Cars</a></li>

<li><a href="http://www.concordmonitor.com/real-estate" title="Homes and land available in central New Hampshire.">Real Estate</a></li>
<li><a href="http://jobs.concordmonitor.com" title="The region&#039;s go-to job board." onclick="pageTracker._link(this.href); return false;">Jobs</a></li>
<li><a href="https://www.shopnewhampshire.com/monitor/placead" title="Secure, convenient online tool for placing classified ads. Free listings available.">Place an ad</a></li>
<li><a href="https://home.concordmonitor.com">Subscribe</a></li>
<li class=" last "><a href="http://www.concordmonitor.info/classifieds/Classifieds/3/980/1003" onclick="pageTracker._link(this.href); return false;">Public Notices</a></li>
</ul>
</li>
<li class="menu-1169 menuparent  last "><a href="http://www.concordmonitor.com/you-tell-us" class="menu-1169">You tell us</a><ul><li class=" first "><a href="http://www.concordmonitor.com/form/submit-news">Submit News</a></li>
<li><a href="http://www.concordmonitor.com/form/submit-event">Submit Events</a></li>

<li><a href="http://www.concordmonitor.com/form/wedding-announcement">Submit Wedding Announcement</a></li>
<li><a href="http://www.concordmonitor.com/form/birth-announcement">Birth announcements</a></li>
<li><a href="http://www.concordmonitor.com/form/submit-letter-to-the-editor" title="Submit a letter to the editor">Letter to the editor</a></li>
<li class="last"><a href="http://www.concordmonitor.com/page/contact-us">Contact us</a></li>
</ul>
</li>
</ul>
			</div>
</div>

	
		
	<div id="left">
		
		<div class="container_25">
			
			<div class="grid_25 grid_block" style="width: 985px;">
			<div class="grid_content">
			<div class="content">