
<p style="margin:0;padding-top:0;padding-right:12px;padding-bottom:12px;">
<% if false %>
	<a href="<%= facebook_daily_deal_path(@daily_deal) %>">
		<img border="0" src="http://<%= @publisher.daily_deal_host %>/themes/bcbsa/images/email/buttons/facebook.png" width="20" height="20" alt="Facebook" />
	</a>&nbsp;&nbsp;
		<a href="<%= twitter_daily_deal_path(@daily_deal) %>">
			<img border="0" src="http://<%= @publisher.daily_deal_host %>/themes/bcbsa/images/email/buttons/twitter.png" width="20" height="20" alt="Twitter" />
	</a>&nbsp;&nbsp;
<% end %>
</p>