<% set_daily_deal_page_title_slug "Contact Us - Thank You" %>
<div class="page_row">
	<div class="page_column_12 first rounded_corners">
		<div id="dd_nav" style="margin-left:-10px;margin-right:-10px;margin-bottom:15px;">
			<%= raw render :partial => with_theme("shared/dd_nav")%>
		</div><!-- END #dd_nav -->
		<h1 class="content"><%= t(:contact_us) %></h1>
		<div id="contact_content">
			<p>Thank you for submitting your support inquiry. A customer support representative will be in touch with you.</p>
		</div><!-- END #contact_content -->
	</div><!-- END .page_column_12 -->
</div><!-- END .page_row -->