<div class="box-container">
  <div class="box-br">
    <div class="box-tl">
      <div class="box-tr">
        <div class="box-content">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</div>