<% set_page_title "Opted In" %>
<% @navbar_active_item_tag = :r3 %>

<% row1 do %>
  <% box2 do %>
    <div class="padding" style="text-align:justify">

      <h2>Email Opt-in Completed</h2>
      <br/><br/>
      Thank you for completing the email opt-in process. You can begin forwarding coupons to your email now.
      <br/><br/>
      <%= link_to_function "Close this window", "self.close()" %>
    </div>
  <% end -%>
<% end -%>

