<!--
<div id="PageWrap" class="show-mobile">
 <div class="logo">
          <a target='_top' href=
          "http://www.gastonchamberdeals.com/"><img src="/themes/gastonchamberdeals/images/logo.gif" alt=""
          border="0" height="62" width="316" /></a>
  </div>        
</div>
-->

  <div id="fi_wrapper" class="hide-mobile">  
    <div id="fi_header">
      <div class="headrow2">
           <div class="logo">
          <a target='_top' href=
          "http://www.gastonchamberdeals.com/"><img src="/themes/gastonchamberdeals/images/gaston-chamber-deals.gif" alt=""
          border="0" height="62" width="316" /></a>
        </div>
                <div class="fi_search_head">
          <form name="fisearch" action=
          "http://www.gastonchamberdeals.com/search/" method="get"
          target="_top">
            <div class="searchtop">
              <span class="title_search">Search:</span> <input id=
              "googlesearch" name="q" class="inputText" value=""
              type="text" /> <input name="fistype" value="site"
              checked="checked" type="radio" />
              Site&nbsp;&nbsp;<input name="fistype" value="web"
              type="radio" /> Web <input src="/themes/gastonchamberdeals/images/btn_search.gif"
              alt="Search powered by Google" type="image" align=
              "absmiddle" height="26" width="74" /> <input src="/themes/freedom/images/logo_google.gif"
            </div>
          </form>
        </div><!-- end fi_search_head -->
      </div><!-- headrow2 -->
    </div><!-- fi_header -->



    <div id="fi_innerWrapper">
      <div class="fi_nav_utility">
        
        
        
        <div id="fi_nav">
          <div class="fi_menu">
            <ul id="fi_nav_ul">
              <li><a target='_top' class="title" href=
              "http://www.gastonchamberdeals.com/">Home</a></li>

              <li>
                <a target='_top' class="title" href=
                "http://www.gastonchamberdeals.com/">Sections</a>

                <ul class="sub">
                  <li>
                    <a target='_top' href="#">News &gt;&gt;</a>

                    <ul class="sub">
                      <li><a target='_top' href=
                      "http://www.gastonchamberdeals.com/sections/local-news/">
                      Local Headlines</a></li>

                      <li><a target='_top' href=
                      "http://www.gastonchamberdeals.com/sections/nation-news/">
                      Nation &amp; World</a></li>
                    </ul>
                  </li>

                  <li>
                    <a target='_top' href=
                    "http://www.gastonchamberdeals.com/sections/debate/">
                    Opinion &gt;&gt;</a>

                    <ul class="sub">
                      <li><a target='_top' href=
                      "http://www.gastonchamberdeals.com/sections/debate/">
                      Debate</a></li>

                      <li><a href="http://www.freedompolitics.com"
                      target="_blank">Freedom Politics</a></li>

                      <li><a target='_top' href=
                      "http://www.gastonchamberdeals.com/sections/tibor-machan/">
                      Tibor Machan</a></li>
                    </ul>
                  </li>

                  <li>
                    <a target='_top' href=
                    "http://www.gastonchamberdeals.com/sections/sports/">
                    Sports &gt;&gt;</a>

                    <ul class="sub">
                      <li><a target='_top' href=
                      "http://www.gastonchamberdeals.com/sections/sports/">
                      Local Sports</a></li>

                      <li><a target='_top' href=
                      "http://www.gastonchamberdeals.com/sections/sports/belmont-abbey/">
                      Belmont Abbey</a></li>

                      <li><a target='_top' href=
                      "http://www.varsitync.com">High
                      School/Preps</a></li>

                      <li><a target='_top' href=
                      "http://www.carolinagrowl.com">Carolina
                      Panthers</a></li>

                      <li><a target='_top' href=
                      "http://www.gastonchamberdeals.com/sections/sports/bobcats">
                      Charlotte Bobcats</a></li>

                      <li><a target='_top' href=
                      "http://www.gastonchamberdeals.com/sections/sports/college">
                      Colleges</a></li>

                      <li><a target='_top' href=
                      "http://www.gastonchamberdeals.com/sections/sports/grizzlies">
                      Gastonia Grizzlies</a></li>

                      <li><a target='_top' href=
                      "http://www.gastonchamberdeals.com/sections/nascar-news">
                      NASCAR News</a></li>
                    </ul>
                  </li>

                  <li>
                    <a target='_top' href=
                    "http://www.gastonchamberdeals.com/sections/local-business/">
                    Business &gt;&gt;</a>

                    <ul class="sub">
                      <li><a target='_top' href=
                      "http://www.gastonchamberdeals.com/sections/local-business">
                      Local Business</a></li>

                      <li><a target='_top' href=
                      "http://www.gastonchamberdeals.com/sections/business-news">
                      Nation &amp; World</a></li>
                    </ul>
                  </li>

                  <li>
                    <a target='_top' href=
                    "http://www.gastonchamberdeals.com/sections/life/">Lifestyles
                    &gt;&gt;</a>

                    <ul class="sub">
                      <li><a target='_top' href=
                      "http://www.gastonchamberdeals.com/sections/anniversaries/">
                      Anniversaries</a></li>

                      <li><a target='_top' href=
                      "http://www.gastonchamberdeals.com/sections/community-spotlight/">
                      Community Spotlight</a></li>

                      <li><a target='_top' href=
                      "http://www.gastonchamberdeals.com/sections/engagements/">
                      Engagements</a></li>

                      <li><a target='_top' href=
                      "http://events.gastonchamberdeals.com/">Events
                      Calendar</a></li>

                      <li><a target='_top' href=
                      "http://www.gastonchamberdeals.com/sections/health-news/">
                      Health</a></li>

                      <li><a target='_top' href=
                      "http://www.gastonchamberdeals.com/sections/recipes/">
                      Recipes</a></li>

                      <li><a target='_top' href=
                      "http://www.gastonchamberdeals.com/sections/school-menus/">
                      School Menus</a></li>

                      <li><a target='_top' href=
                      "http://share.enctoday.com/restaurants/gaston/">
                      Restaurant Sanitation Grades</a></li>

                      <li><a target='_top' href=
                      "http://www.gastonchamberdeals.com/sections/travel-news/">
                      Travel</a></li>

                      <li><a target='_top' href=
                      "http://www.gastonchamberdeals.com/sections/weddings/">
                      Weddings</a></li>
                    </ul>
                  </li>

                  <li><a target='_top' href=
                  "http://www.gastonchamberdeals.com/common/archives/index.php?nocss=1">
                  Archives</a></li>
                </ul>
              </li>

              <li><a target='_top' class="title" href=
              "http://www.gastonchamberdeals.com/sections/blogs/">Blogs</a></li>

              <li><a target='_top' class="title" href=
              "http://www.legacy.com/gastonchamberdeals/Obituaries.asp">Obituaries</a></li>

              <li>
                <a target='_top' class="title" href=
                "http://www.gastonchamberdeals.com/sections/infocenter/">
                Info Center</a>

                <ul class="sub">
                  <li><a target='_top' href=
                  "http://www.mypublicnotices.com/gastonchamberdeals/PublicNotice.asp">
                  Public Notices</a></li>

                  <li><a target='_top' href=
                  "http://local.gastonchamberdeals.com/caspio/births/">Births</a></li>

                  <li><a target='_top' href=
                  "http://local.gastonchamberdeals.com/caspio/building_permits/">
                  Building Permits</a></li>

                  <li><a target='_top' href=
                  "http://local.gastonchamberdeals.com/lockup/">Gaston
                  County Lockup</a></li>

                  <li><a target='_top' href=
                  "http://www.gastonchamberdeals.com/sections/infocenter/restaurant-listing/">
                  Local Restaurant Directory</a></li>

                  <li><a target='_top' href=
                  "http://share.enctoday.com/sexoffenders/gaston/">Sexual
                  Offenders in North Carolina</a></li>

                  <li><a target='_top' href=
                  "http://local.gastonchamberdeals.com/caspio/salaries/">
                  Gaston Area Salaries</a></li>

                  <li><a target='_top' href=
                  "http://local.gastonchamberdeals.com/lotto/">Lottery
                  Numbers</a></li>

                  <li><a target='_top' href=
                  "http://local.gastonchamberdeals.com/caspio/">Other
                  Databases</a></li>
                </ul>
              </li>

              <li><a target='_top' class="title" href=
              "http://local.gastonchamberdeals.com/special_features/">Special
              Features</a></li>

              <li><a target='_top' class="title" href=
              "http://local.gastonchamberdeals.com/events/">Events</a></li>

              <li><a target='_top' class="title" href=
              "http://local.gastonchamberdeals.com/contests/">Contests</a></li>

              <li>
                <a target='_top' class="title" href=
                "#">Services</a>

                <ul class="sub">
                  <li>
                    <a target='_top' href="#">Advertising
                    &gt;&gt;</a>

                    <ul class="sub">
                      <li><a target='_top' href=
                      "http://www.mypublicnotices.com/gastonchamberdeals/PublicNotice.asp">
                      Legals</a></li>

                      <li>
                        <a target='_top' href=
                        "http://listings.gastonchamberdeals.com/">Local
                        Business Listings</a>

                        <ul class="sub">
                          <li><a target='_top' href=
                          "https://subscriber.freedom.com/cgi-bin/cmownc_cmownc.sh/custservice/web/login.html?siteid=GSG">
                          Manage Your Subscription</a></li>
                        </ul>
                      </li>

                      <li><a target='_top' href=
                      "http://www.verican.us/cod6/saleitem.do?catalog=gastonchamberdeals">
                      Place A Classified Ad</a></li>

                      <li><a target='_top' href=
                      "http://www.gastonchamberdeals.com/sections/mediakit/">
                      Rates</a></li>

                      <li><a href=
                      "http://local.gastonchamberdeals.com/microsite/"
                      target="_blank">Special Sections</a></li>

                      <li><a target='_top' href=
                      "http://epaper.gastonchamberdeals.com/ADL/ADLauncher.asp?Skin=GastoniaAL&amp;Enter=true">
                      Today's Ads Online</a></li>
                    </ul>
                  </li>

                  <li>
                    <a target='_top' href="#">For Readers
                    &gt;&gt;</a>

                    <ul class="sub">
                      <li><a target='_top' href=
                      "https://freedom.dticloud.com/cgi-bin/cmownc_cmownc.sh/custservice/web/login?SiteId=GSG">
                      Manage Your Subscription</a></li>

                      <li><a target='_top' href=
                      "http://www.gastonchamberdeals.com/sections/rack-locations/">
                      Where to Get A Paper</a></li>

                      <li><a target='_top' href=
                      "http://local.gastonchamberdeals.com/nie/order_form.php">
                      Newspapers in Education</a></li>
                    </ul>
                  </li>

                  <li><a target='_top' href=
                  "http://www.gastonchamberdeals.com/sections/contactus/">
                  Contact Us</a></li>

                  <li><a target='_top' href=
                  "http://local.gastonchamberdeals.com/ads/coupons/">Coupon
                  Center</a></li>

                  <li><a target='_top' href=
                  "http://www.gastonchamberdeals.com/pdfs/GazetteApplication.pdf">
                  Employment Application</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- end fi_menu -->
        </div><!-- end fi_nav -->
        
        
        
        

        <div id="funnel" class="fi_funnel">
          <script type="text/javascript" src="/themes/gastonchamberdeals/javascripts/load2.js"></script>
          <div id="class-menu">
            <ul>
              <li><a target='_top' class="class-tabOff" id=
              "classtabOne" onmouseover=
              "classtabber.click(this),changeFrame('frameOne', 'http://www.gastonchamberdeals.com/common/ad/createAdIframeOneAd.php?adName=Featured Jobs&amp;sponsoredName=Featured Employer&amp;lListTitles=Search Jobs,View Job Videos,Career Events,Looking to Hire&amp;lListLinks=http://www.ncpiedmontjobs.com/monster/,http://www.ncpiedmontjobs.com/monster/,http://www.ncpiedmontjobs.com/monster/,http://www.ncpiedmontjobs.com/monster/&amp;spTitle=Feature your job in these listings. Call our Ad-Visors at 704-869-1750 or Click HERE&amp;spLink=http://www.verican.us/cod6/saleitem.do?catalog=gastonchamberdeals&amp;domain=gastonchamberdeals.com&amp;cat=widget/jobs');"
              href="http://www.ncpiedmontjobs.com/monster/" title=
              "Jobs">Jobs</a></li>

              <li><a target='_top' class="class-tabOff" id=
              "classtabTwo" onmouseover=
              "classtabber.click(this),changeFrame('frameOne', 'http://www.gastonchamberdeals.com/common/ad/createAdIframeOneAd.php?adName=Featured Cars&amp;sponsoredName=Featured Dealer&amp;lListTitles=Search Online Inventory,Sell Your Vehicle,Search Auto Classifieds,Research&amp;lListLinks=http://www.nccarmall.com/,http://www.nccarmall.com/,http://www.nccarmall.com/,http://www.nccarmall.com/&amp;spTitle=Feature your car or truck in these listings. Call our Ad-Visors at 704-869-1750 or Click HERE&amp;spLink=http://www.verican.us/cod6/saleitem.do?catalog=gastonchamberdeals&amp;domain=gastonchamberdeals.com&amp;cat=widget/cars');"
              href="http://www.nccarmall.com/" title=
              "Autos">Autos</a></li>

              <li><a target='_top' class="class-tabOff" id=
              "classtabThree" onmouseover=
              "classtabber.click(this),changeFrame('frameOne', 'http://www.gastonchamberdeals.com/common/ad/createAdIframeOneAd.php?adName=Featured Homes&amp;sponsoredName=Featured Realtor&amp;lListTitles=Search for Homes,Recent Home Listings,Rentals,Mortgage Calculator&amp;lListLinks=http://gastonhomes.gastonchamberdeals.com/,http://gastonhomes.gastonchamberdeals.com/,http://www.verican.us/cod6/adlisting.do?catalog=gastonchamberdeals;list=true;category=os6,http://gastonhomes.gastonchamberdeals.com/&amp;spTitle=Feature your home for sale in these listings. Call our Ad-Visors at 704-869-1750 or Click HERE&amp;spLink=http://www.verican.us/cod6/saleitem.do?catalog=gastonchamberdeals&amp;domain=gastonchamberdeals.com&amp;cat=widget/homes');"
              href="http://gastonhomes.gastonchamberdeals.com/" title=
              "Real Estate">Real Estate</a></li>

              <li><a target='_top' class="class-tabOff" id=
              "classtabFour" onmouseover=
              "classtabber.click(this),changeFrame('frameOne', 'http://www.gastonchamberdeals.com/common/ad/createAdIframeOneAd.php?adName=Featured Classified&amp;sponsoredName=Featured Advertiser&amp;lListTitles=Buy Stuff,Sell Stuff,Announcements,Browse Ads&amp;lListLinks=http://www.gastonchamberdeals.com/sections/classifieds/,http://www.gastonchamberdeals.com/sections/classifieds/,http://www.gastonchamberdeals.com/sections/classifieds/,http://www.gastonchamberdeals.com/sections/classifieds/&amp;spTitle=Feature your classified ad in these listings. Call our Ad-Visors at 704-869-1750 or Click HERE&amp;spLink=http://www.verican.us/cod6/saleitem.do?catalog=gastonchamberdeals&amp;domain=gastonchamberdeals.com&amp;cat=widget/classified');"
              href=
              "http://www.gastonchamberdeals.com/sections/classifieds/"
              title="Classifieds">Classifieds</a></li>
            </ul>
          </div><!-- end class-menu -->
        </div><!-- end funnel -->
  </div><!-- end fi_nav_utility -->
</div><!-- end fi_innerWrapper -->
</div><!-- end fi_wrapper -->
