
	<div id="banner">
	<img id="logo" src="/themes/sportdeals/images/graphics/sport-deals.png" alt="SPORT DEALS" />
		<div id="content">
			<%= raw render :partial => with_theme("shared/account_nav") %>
			<div class="clear"></div>
			<%= raw render :partial => with_theme("shared/subscribe_form") %>
		</div>
	</div><!--banner-->   

