<!-- 

<div class="side_box entercom_banner">
	<a href="<%= publisher_support_contact_requests_path(@publisher) %>"><img src="/themes/entercomnew/images/ads/suggest-short.jpg" alt="Suggest A Deal" title="Suggest A Deal" /></a>
</div>	

 -->