<div class="box sponsors"><!--SPONSORS BOX-->
	<h4>DEALS BROUGHT TO YOU BY</h4>
	<div id="sponsorlogos">
		<a href="http://www.wkbt.com/"><img src="/themes/morganmurphymedialacrosse/images/sponsors/wktb8.jpg" alt="WKTB 8" /></a>
	</div>
</div><!--/SPONSORS BOX-->