<div id="analog_analytics_content">
  <div id="coupon_thumbnail">
    <h2>Popular Coupons</h2>
    <%= render :partial => "offers/panels/#{@publisher.theme}/offer", :collection => @offers %>
  </div>
</div>

