        <div id="mainFoot" style="height: 280px;">
            <div class="footWrap">
                <h4>
                    More about <a href="/" class="homeLink">local.com</a> Features</h4>
                <div class="dartAd491 mR5 fl" style="position: relative">
					<!-- begin ad tag -->
					<script type="text/javascript">
					//<![CDATA[
					ord=Math.random()*10000000000000000;
					document.write('<script type="text/javascript" src="https://ad.doubleclick.net/adj/locm.hp/_default;sz=491x223;ord=' + ord + '?"><\/script>');
					//]]>
					</script>
					<noscript><a href="https://ad.doubleclick.net/jump/locm.hp/_default;sz=491x223;ord=123456789?" target="_blank" ><img src="https://ad.doubleclick.net/ad/locm.hp/_default;sz=491x223;ord=123456789?" border="0" alt="" /></a></noscript>
					<!-- end ad tag -->
                 </div>
                <div class="newsletter" style="position: relative">
                    <div class="roundDLgreyTL">
                    </div>
                    <div class="roundDLgreyTR">
                    </div>
                    <div class="title">
                        <h5>
                            Newsletter Sign Up</h5>
                    </div>
                    <p>
                        Stay connected and up-to-date in your world. Tap into new events, deals and special
                        opportunities only for Local.com members.</p>
                    <div class="subscribe">
                        <input class="email" id="newsletterEmailAddress" name="emailaddress" type="text"
                            value="Enter Email Address" />
                        <input class="green" name="subscribe" type="submit" value="Subscribe" />
                        <div id="newsletterErrorMsg" style="display: none; color: #f00; font-weight: normal;">
                        </div>
                    </div>
                    <div class="clear">
                    </div>
                    <div class="roundDLgreyBL">
                    </div>
                    <div class="roundDLgreyBR">
                    </div>
                </div>
                <div class="socialize" style="position: relative">
                    <div class="roundDLgreyTL">
                    </div>
                    <div class="roundDLgreyTR">
                    </div>
                    <div class="title">
                        <h5>
                            Socialize With Us</h5>
                    </div>
                    <p class="fl bold mT5">
                        Connect with us on Facebook</p>
                    <div class="facebook">
                        <a href="http://www.facebook.com/local.com/" target="_blank" alt="Recommend Local.com on Facebook"
                            title="Recommend Local.com on Facebook" class="fBookButton"></a>
                    </div>
                    <div class="clear">
                    </div>
                    <div class="roundDLgreyBL">
                    </div>
                    <div class="roundDLgreyBR">
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>
        </div>
        <div id="bottomFoot">
            <p>
                &copy; 2011 Local.com Corporation - US Patent 7,231,405<br />
                Some data provided by Acxiom. Questions and Comments? <a id="feedbacklink" href="javascript:void(0);"
                    rel="nofollow" class="blueLink">Send us your feedback!</a></p>
            {% include "shared/a_a_alt" %}

        </div>
    </div>
</div> <!--shadow_wrapper --> 
