<div class="page_row feature_your_business">  
  <div class="page_column_12 first rounded_corners">
	<h2>Contact Us</h2>

  <p><strong>Customer Service &amp; Technical Support</strong></p>
 	  <p>Please email <a href="mailto:dailydeals.support@redplum.com">dailydeals.support@redplum.com</a> or call {{ publisher.formatted_phone_number }}.</p>

  <p><strong>Feature Your Business</strong></p>
	<p>To get your business featured contact us at <a href="mailto:dailydeals.sales@redplum.com">dailydeals.sales@redplum.com.</a></p>
	</div>
</div><!-- end page_row -->
