	<div id="banner">
	
	{% include with_theme "shared/header" %}

			{% include with_theme "shared/account_nav" %}

			{% include with_theme "shared/subscribe_form" %}
			<div class="clear"></div>
	</div><!--banner-->   
