			<div id="wrapper">
				<div id="textLinks">
					<p><a href="http://www.altoonamirror.com/page/category.detail/nav/756/News.html">NEWS</a> | <a href="http://www.altoonamirror.com/page/category.detail/nav/784/Opinion.html">OPINION</a> | <a href="http://altoonamirror.com/page/blogs.list/">BLOGS</a> | <a href="http://www.altoonamirror.com/page/category.detail/nav/765/Sports.html">SPORTS</a> | <a href="http://www.altoonamirror.com/page/category.detail/nav/746/PSU.html">PSU</a> | <a href="http://www.altoonamirror.com/page/category.detail/nav/768/Life.html">LIFE</a> | <a href="http://www.altoonamirror.com/page/category.detail/nav/1/Sections.html">SECTIONS</a> | <a href="http://www.altoonamirror.com/page/category.detail/nav/5005/Extras.html">EXTRAS</a> | <a href="http://cu.altoonamirror.com/">CU</a> | <a href="http://www.altoonamirror.com/page/mboard.home/forums.html">FORUMS</a> | <a href="http://www.altoonamirror.com/page/category.detail/nav/5020/Real-Estate.html">REAL ESTATE</a> | <a href="http://www.altoonamirror.com/page/category.detail/nav/5179/Ads.html">ADS</a> | <a href="http://jobs.altoonamirror.com">JOBS</a> | <a href="http://www.hot-ads.com/browse/index.cfm?SID=PA&RGID=00000100000&CID=26">CLASSIFIED</a></p>
					<div class="logo">
						<img src="/themes/altoonamirror/cached/AMlogo.png" alt="" title="" width="203" height="73" />
					</div>
					<div class="style1">THE ALTOONA MIRROR</div>
					<div class="style2">301 CAYUGA AVE. , ALTOONA, PA 16602 | 814-946-7411</div>
					<div class="style3">&copy; 2011. ALL RIGHTS RESERVED.</div>
					<div class="style4">TERMS OF SERVICE AND PRIVACY POLICY</div>
				</div>
			</div>
