<div id="main_nav">
						<div id="home">
						<a href="http://www.altoonamirror.com"><img id="homeImage" name="homeImage" src="/themes/altoonamirror/cached/Home.png" onMouseOver="swapImage(this.name,'/themes/altoonamirror/cached/HomeOver.png');" onMouseOut="swapImage(this.name,'/themes/altoonamirror/cached/Home.png');" border="0"/></a>
					</div>
									
					<div id="mirror">
						<a href="http://www.mirrormoms.com"><img id="mirrorImage" name="mirrorImage" src="/themes/altoonamirror/cached/MirrorMoms.png" onMouseOver="swapImage(this.name,'/themes/altoonamirror/cached/MirrorMomsOver.png');" onMouseOut="swapImage(this.name,'/themes/altoonamirror/cached/MirrorMoms.png');" border="0"/></a>
					</div>
									
					<div id="ads">
						<a href="http://www.altoonamirror.com/page/printAds.list/"><img id="adsImage" name="adsImage" src="/themes/altoonamirror/cached/NewsAds.png" onMouseOver="swapImage(this.name,'/themes/altoonamirror/cached/NewsAdsOver.png');" onMouseOut="swapImage(this.name,'/themes/altoonamirror/cached/NewsAds.png');" border="0"/></a>
					</div>
								
					<div id="coupons">
						<a href="http://www.coupons.com/couponweb/Offers.aspx?pid=14592&zid=ax58&nid=10&bid=alk1013051046ab8d7b27421013"><img id="couponsImage" name="couponsImage" src="/themes/altoonamirror/cached/Coupons.png" onMouseOver="swapImage(this.name,'/themes/altoonamirror/cached/CouponsOver.png');" onMouseOut="swapImage(this.name,'/themes/altoonamirror/cached/Coupons.png');" border="0"/></a>
					</div>
									
					<div id="deals">
						<a href="http://www.deals.altoonamirror.com"><img id="dealsImage" name="dealsImage" src="/themes/altoonamirror/cached/Deals.png" onMouseOver="swapImage(this.name,'/themes/altoonamirror/cached/DealsOver.png');" onMouseOut="swapImage(this.name,'/themes/altoonamirror/cached/Deals.png');" border="0"/></a>
					</div>	
				</div>					
				<!-- END NAV AREA -->
				
		
			<div class="logo">
				<img src="/themes/altoonamirror/cached/logo.png" alt="Daily Deals" title="Daily Deals" width="582" title="112" />
			</div>
