<div id="sidebar">
{% include with_theme "shared/side_bar_share" %}
{% include with_theme "shared/side_bar_refer_friend" %}
{% include with_theme "shared/side_bar_deal" %}	
{% include with_theme "shared/side_bar_facebook" %}		
	
</div><!-- /sidebar -->