{% set_daily_deal_page_title_slug FAQs %}

<div class="page_row">  
  <div class="page_column_12 first rounded_corners">

    <h1 class="content">FAQ</h1>
    
    <h2>What are the Universal Terms?</h2>
    <ul>
      <li>Not valid for cash back.</li>
      <li>Cannot be combined with other promotions.</li>
      <li>Must be used in one visit.</li>
      <li>Does not cover tax or gratuity.</li>
      <li>Deal vouchers can be used starting 24 hours after the deal ends.</li>
    </ul>
    
    <h2>What is the Reader Real Deal?</h2>
    <p>Each day one incredible deal is featured as the Reader Real Deal. The offer is only available for a limited amount of time, so make sure to check back frequently so you don’t miss out!</p>
    
    <h2>How do I buy today’s Reader Real Deal?</h2>
    <p>Click on the "Buy Now" button before the offer expires. Send the deal to your friends through Twitter, Facebook, or e-mail.</p>
    
    <h2>What happens after I buy a deal on the Reader Real Deal?</h2>
    <p>You will be sent an email with a voucher to use to redeem the deal, and your credit card account will be charged. Print the Reader Real Deal voucher and redeem it anytime before the expiration date to enjoy your deal. You can only redeem your deal by having your voucher in hand with its unique 8-digit code.</p>
    
    
    <h2>What if I want to use just part of the Reader Real Deal voucher and save the rest for later?</h2>
    <p>Sorry, you’re going to have to use the deal in just one visit. However, some merchants may be willing to work with you if this situation arises.</p>
    
    <h2>If my name is on the Reader Real Deal voucher, can the merchant charge my credit card account?</h2>
    <p>No. The merchant does not have your credit card information. That is held by Analog Analytics, the software company that processes the transaction for the Reader Real Deal.</p>
    
    <h2>Is the transaction safe for me to use?</h2>
    <p>Yes. The transaction uses SSL and other industry standard security features to ensure that no one else has access to your credit card information.</p>
    
    <h2>When I gift the Reader Real Deal voucher to a friend, will they have access to my credit card account information?</h2>    
    <p>No, on the voucher, there is a record of the transaction, the purchaser’s name and the gifted consumer’s name, along with a unique 8-digit code. The payment information is secure on a site that no consumer has access to.</p>
    
    <h2>What if the merchant does not honor the offer?</h2>
    <p>We go out of our way to inspect each advertiser and make sure they live up to our high standards. We will also provide recent reviews or testimonials to help you get a better feel for what you are buying. On the rare occurrence that something happens and you’re not satisfied, we will refund the amount you paid to purchase the deal if you return your unused voucher, with an explanation of the problem to us at: <a href="mailto:RealDealSuport@chicagoreader.com">RealDealSuport@chicagoreader.com</a></p>
    


  </div>
</div>
