{% set_daily_deal_page_title_slug Feature Your Business %}

<div class="page_row">
  <div class="page_column_12 first rounded_corners">
    <h1 class="content">Feature Your Business</h1>
    <p>The Chicago Reader has been a trusted partner for local business for nearly 40 years. The <strong>Reader Real Deal</strong> is a spectacular daily digital special offer at <a href="http://chicagoreader.com/RealDeal">chicagoreader.com/RealDeal</a> for local business products and services our readers will love at a savings of 50-80% off.</p>
    
    <p><strong>Would you like to have your new or existing business considered for an upcoming Reader Real Deal at no upfront cost to you?</strong></p>
    
    <h2>Benefits</h2>
    <ul>
      <li>It costs you nothing to be featured</li>
      <li>You only pay us a partial share of the total revenue when customers pay for the deal</li>
      <li>You can attract new customers who may never have found you otherwise</li>
      <li>There is never more than one Reader Real Deal per day, a guarantee your deal has marketing prominence on the site</li>
    </ul>
    
    <h2>What Makes Us Different From Others in the Market?</h2>
    <ul>
      <li>Flexibility--no minimum or maximum requirements</li>
      <li>Consumers trust our relationships with local business partners</li>
      <li>Deals can run for as little as 24 hours or as many as 96 hours on our site</li>
      <li>We can incorporate your deal as part of an overall advertising and marketing strategy</li>
      <li>Unique event partnerships can be part of your deal package</li>
    </ul>
    
    <p>For more information, please e-mail the Display Department at <a href="mailto:displayads@chicagoreader.com">displayads@chicagoreader.com</a>, or call 312-828-0350 for more information.</p>
    
  </div>
</div>