{% set_daily_deal_page_title_slug How It Works %}

<div class="page_row how_it_works">  
  <div class="page_column_12 first">
    <h1 class="content">How It Works</h1>
    <h2>Step 1: Intro</h2>
    <p>Each day one spectacular deal is featured at <a href="http://chicagoreader.com/RealDeal">chicagoreader.com/RealDeal</a> as the Reader Real Deal. We have negotiated deals with the best local merchants Chicago has to offer, with savings up to 80% OFF. Join our free email subscriber list to ensure you never miss a deal!</p>
    
    <h2>Step 2: Buy</h2>
    <p>To purchase the deal just click on the "Buy Now" button before the offer expires. Next, fill out your credit card information and check your email inbox for a confirmation that will direct you to your next step.</p>
    
    <h2>Step 3: Share</h2>
    <p>Share the deal with your friends by sending the deal through Twitter, Facebook, or email.</p>
    
    <h2>Step 4: Post Purchase</h2>
    <p>You will receive a printable voucher by email. Print the Reader Real Deal voucher and redeem it any time before the expiration date to enjoy your deal! You can only redeem your deal by having your voucher in hand, which includes its own unique 8-digit code.</p>

    <h2>Universal Fine Print</h2>
    <ul>
      <li>Not valid for cash back.</li>
      <li>Cannot be combined with other promotions.</li>
      <li>Must be used in one visit.</li>
      <li>Does not cover tax or gratuity.</li>
      <li>Deal vouchers can be used starting 24 hours after the deal ends.</li>
    </ul>
    
  </div>
</div>
