<div id="camm_learn_more">
<div id="left_column_wide">
	<h1 class="community_title">Connect a Million Minds. The future depends on it.</h1>
	<div id="camm" class="rounded_box">
		<div id="camm_info">
			<p><strong>Eighty percent of jobs created in the U.S. </strong>over the next decade will require <strong>science and math skills.</strong> But test scores from U.S. students in these subjects fall well short of what's needed to compete in the world economy.</p>
			<h2>Support students in your community through ClickedIn&trade; <br />and Connect a Million Minds&trade;.</h2>
			<p><strong>Connect a Million Minds&trade;</strong> is Time Warner Cable's five-year, $100 million philanthropic initiative to address America's declining proficiency in <strong>science, technology, engineering, and math (STEM).</strong></p>
		</div><!-- /camm_info -->
		<img id="camm_photo" src="/themes/rr/images/graphics/camm.jpg" height="323" width="393" alt="Connect a Million Minds." />
	</div><!-- /camm -->
	<h1 class="community_title">See the power of Connect A Million Minds in action:</h1>
	<div id="camm_in_action" class="rounded_box box_gradient">
		<div class="camm_actions">
			<img src="/themes/rr/images/graphics/camm_connection_stories.jpg" height="115" width="116" alt="Connection Stories" />
			<h3 class="info_headline">Connection Stories</h3>
			<p>Time Warner Cable employees share volunteer stories in this video campaign</p>
			<a class="watch_now img_button" href="http://www.connectamillionminds.com/videos.php" target="_blank"><span>Learn More</span></a>			
		</div>
		<div class="camm_actions right_column">
			<img src="/themes/rr/images/graphics/camm_fulfillment_wall.jpg" height="115" width="116" alt="The Fullfillment Wall" />
			<h3 class="info_headline">The Fulfillment Wall</h3>
			<p>Browse photos and stories submitted by the Connect a Million Minds online community</p>
			<a class="learn_more_alt3 img_button" href="http://www.connectamillionminds.com/discuss.php" target="_blank"><span>Learn More</span></a>			
		</div>
		<div class="camm_actions">
			<img src="/themes/rr/images/graphics/camm_connectory.png" height="115" width="116" alt="The Connectory" />
			<h3 class="info_headline">The Connectory</h3>
			<p>Find kid-friendly science and technology opportunities in your area</p>
			<a class="learn_more_alt3 img_button" href="http://www.connectamillionminds.com/connectory.php" target="_blank"><span>Learn More</span></a>			
		</div>
		<div class="camm_actions right_column">
			<img src="/themes/rr/images/graphics/camm_partners.png" height="115" width="116" alt="Our Partners" />
			<h3 class="info_headline">Our Partners</h3>
			<p>Learn about our national partners and the hands-on learning opportunities they provide</p>
			<a class="learn_more_alt3 img_button" href="http://www.connectamillionminds.com/partners.php" target="_blank"><span>Learn More</span></a>			
		</div>	
		<div class="clear"></div>
	</div><!-- /camm_actions -->
			
</div><!-- /left_column -->

<div id="right_column">
	<h4 class="sidebar_heading">Join <strong>The Initiative</strong></h4>
	<div id="initiative" class="sidebar_box box_gradient">
		<img src="/themes/rr/images/graphics/camm_initiative.png" height="151" width="167" alt="CAMM Initiative" />
		<p><strong>Inspire</strong> today's youth. Join the initiative.</p>
		<a class="take_the_pledge img_button" href="http://www.connectamillionminds.com/pledge.php" target="_blank"><span>Take The Pledge</span></a>			
	</div>
	
	<h4 class="sidebar_heading">Minds <strong>Connected</strong></h4>
	<div class="sidebar_box box_gradient">
		<p class="minds_connected_number">Over 350,000</p>
		<p class="minds_connected"><strong>and counting</strong></p>
	</div>
</div><!-- /right_column -->
</div><!-- /camm -->
