<div id="about_datediscounts" class="content_box">
	<h1 stlye="margin-top: 0;">Welcome to DateDiscounts - We Have Been Waiting For You.</h1>
	
	<h2>About Us</h2>

	<p>DateDiscounts offers handpicked deals to experience a city in ways you have never imagined, but  always hoped for.  You do not have to worry about deciding where to go for Sushi, which place has the best burger, or where to find a great comedy show.  At DateDiscounts, we have created unique experiences allowing you to explore the amazing dining, drinks, and entertainment a city has to offer.  We don't just want to sell a deal, but create a new loyal customer while partnering with local merchants to create custom experiences that show off what makes them special.  We've been driving value for local merchants for over 10 years creating thousands of special packages and promotions for local merchants in the hospitality and entertainment industries across the United States.</p>

	<h2>How We Help Businesses</h2>

	<p>DateDiscounts provides a guaranteed marketing program that is 100% pay for performance. We don't make money unless our partner makes money.  We put together special packages for each partner ensuring memorable experiences that drive revenue, create loyalty, and increase awareness. At DateDiscounts, we recognize that daily deal advertising must be about more than just providing a discount to drive traffic. To create long term partnerships with each merchant, our programs are specifically designed to focus on creating the right brand message for each merchant featuring aspects of their menu, event or atmosphere that are core to attracting and retaining the right target customer - at the right price.</p>

	<p>Want to find out more about becoming an DateDiscounts partner? Of course you do!! <a href="<%= feature_your_business_publisher_daily_deals_path(@publisher) %>">Contact Us &raquo;</a></p>

	<h2>How We Help Customers</h2>

	<p>Picture it.  Someone who loves to explore the city and yearns to do more with their time and money.  They dream of truly experiencing all that the city has to offer, but don't have the time to plan or the money to get out as often as they would like.  They trust locations that provide them with an enjoyable experience - and tell people about it afterwards. Sound familiar?</p>

	<p>If so, you're in luck.  DateDiscounts does the work for you.  We plan amazing experiences and make it affordable so that you can do more and find out about great places to visit.  We are creating packages right now to discover amazing food, the best martinis, hilarious comedy shows, and rocking local concerts.  Want to decide what amazing deal experience  we create next?    Find us on Facebook and vote for your favorite (or give us a new suggestion) and we'll let you know when it is ready. We want to know what YOU want to do!</p>

	<h2>How We Can Help Your Career</h2>

	<p>Have you ever dreamed about making a six figure salary without working 100 hours a week?  Well with DateDiscounts, you can.  We create great programs that reward you handsomely for your work.  Are you a go-getter, great at sales, and want to work from your home on your own schedule?  If so, great.   Contact Us now to see if you have what it takes to be an DateDiscounts representative.</p>
</div>
