<div class="page_row">  
	<div class="page_column_12 first rounded_corners">
		<h1 class="content">FREQUENTLY ASKED QUESTIONS</h1>

		<h4>What is the Deal of the Day?</h4>
		<p>Each day one incredible deal is featured as the Deal of the Day. The offer is only available for a limited amount of time, so make sure to check back frequently so you don't miss out!</p>

		<h4>How do I buy today's Deal of the Day?</h4>
		Click on the "Buy Now" button before midnight on the day the offer expires or before the deal sells out. 

		<h4>What happens after I buy a Deal of the Day?</h4>
		<p>After you make a purchase, you'll receive the Deal of the Day voucher to print out via email. Take the Deal of the Day to the store or merchant any time before the expiration date to enjoy the fruits of your labor.</p>

		<h4>What if I want to use just part of the Deal of the Day voucher and save the rest for later?</h4>
		<p>Sorry, you're going to have to use that sweet deal in just one visit. However, some merchants may be willing to work with you if this situation arises</p>

		<h4>If my name is on the Deal of the Day voucher, can the merchant charge my account?</h4>
		<p>No. The merchant does not have your account information. That is held by Analog Analytics, the software company that processes the transaction for the publisher.</p>

		<h4>Is the transaction safe for me to use?</h4>
		<p>Yes. The transaction uses SSL and other industry standard security features to ensure that no one else has access to your credit card information.</p>

		<h4>When I gift the Deal of the Day to a friend, will they have access to my account information?</h4>
		<p>No, on the Deal of the Day voucher, there is a record of the transaction, the purchaser's name and the gifted consumer's name, along with a unique 8-digit code. The payment information is secure on a site that no consumer has access to.</p>

		<h4>Can I combine the Deal of the Day with other offers the merchant might have presented previously?</h4>
		<p>No, each Deal of the Day has its own terms.</p>

		<h4>What if the merchant does not honor the offer?</h4>
		<p>We go out of our way to vet each advertiser and make sure they live up to our high standards. We will also provide recent reviews or testimonials to help you get a better feel for what you are buying. On the rare occurrence that something happens and you're not satisfied, we will refund the offer.</p>

		<h4>What if I miss the expiration date?</h4>
		<p>If you miss the expiration date on your deal, take heart, all is not lost! While the additional discounts are no longer available, you are still entitled to goods and services equal to the paid value of the voucher.
		For example, if you spend $25.00 to buy a $50.00 voucher for your new favorite restaurant, but are unable to get there before the expiration date, you will still be entitled to $25.00 of food, drink and good times.</p>

		<h4>What if I have more questions?</h4>
		<p>Feel free to email <a href="mailto:&#099;&#117;&#115;&#116;&#111;&#109;&#101;&#114;&#115;&#117;&#112;&#112;&#111;&#114;&#116;&#064;&#083;&#105;&#120;&#083;&#101;&#097;&#116;&#115;&#046;&#099;&#111;&#109;">&#099;&#117;&#115;&#116;&#111;&#109;&#101;&#114;&#115;&#117;&#112;&#112;&#111;&#114;&#116;&#064;&#083;&#105;&#120;&#083;&#101;&#097;&#116;&#115;&#046;&#099;&#111;&#109;</a> or call (877) 538-4617. The DateDiscounts Daily Deal and Analog Analytics teams will be more than happy to answer any additional questions you may have.</p>

		<h4>How much sales and use tax should be charged when a deal is redeemed?</h4>
		<p>States and cities often have complicated sales and use tax laws that may be confusing to you. Factors such as where you live, where you redeem your deal and for what goods or services you redeem it may affect how the deal is treated for purposes of taxation. It is every merchant’s responsibility to collect and remit tax as required by applicable law.</p>

		<h4>What if I change my mind and no longer want my Deal?</h4>
		<p>Good news! You can cancel or edit your own purchase up until midnight on the day you bought it! If you can no longer edit your own purchase, simply contact us at <a href="mailto:&#115;&#117;&#112;&#112;&#111;&#114;&#116;&#064;&#083;&#105;&#120;&#083;&#101;&#097;&#116;&#115;&#046;&#099;&#111;&#109;">&#115;&#117;&#112;&#112;&#111;&#114;&#116;&#064;&#083;&#105;&#120;&#083;&#101;&#097;&#116;&#115;&#046;&#099;&#111;&#109;</a> . Refund requests are handled on a case-by-case basis.</p>

		<h4>What if the business for my Deal closes down?</h4>
		<p>If anything happens that makes it impossible for you to redeem your Deal, we'll make sure you get your money back.</p>

		<h4>What happens if my Deal’s promotional value expires?</h4>
		<p>All is not lost! If your Deal's promotional value expires, you can always redeem it for the amount paid. For more information about expiration dates and voucher values, read our Terms of Sale</p>

		<h4>How will tickets be distributed and how will my seat be assigned?</h4>
		It depends. Read the offer’s Fine Print and other applicable terms carefully before you buy tickets. Tickets are usually distributed on a first-come, first-served basis at ticket pick up. Seating may be assigned on a first-purchased, first-served basis.

		<h4>How can I get my business on DateDiscounts?</h4>
		<p>Check out &quot;<a href="<%= feature_your_business_publisher_daily_deals_path(@publisher) %>">Feature Your Business</a>&quot; for more information.</p>

		<h4>I just sent a referral to my friend - now what?</h4>
		<p>If your friend makes their first deal purchase within 72 hours from the time they click on the referral link you send them, you'll see that we've put $10 credit in your account.</p>

		<h4>Can I refer as many people as I want?</h4>
		<p><a href="<%= refer_a_friend_publisher_consumers_path(@publisher) %>">Yes!</a></p>

		<h4>I received referral links from three people - do they all get rewarded?</h4>
		<p>No, only the last link you click on before making your first purchase will generate a reward for the person who sent it to you. </p>

		<h4>When will DateDiscounts be in my city?</h4>
		<p>Hopefully soon - we're growing fast. If you'd like to help us launch DateDiscounts in your city, feel free to <a href="<%= contact_publisher_daily_deals_path(@publisher) %>">Contact Us</a></p>

		<h4>Where is DateDiscounts based?</h4>
		<p>DateDiscounts is headquartered in Philadelphia. We also have employees in cities across the U.S.</p>
	</div>
</div>
