<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
<title>The Martha's Vineyard Times : Everything Martha's Vineyard, Click By Click : Martha's Vineyard Times</title> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="Martha's Vineyard, Martha's Vineyard, news, community, classifieds, real estate" /> 
 
<script type="text/javascript" src="http://mvtimes.com/marthas-vineyard/includes/js/google1.js"></script> 
<script type="text/javascript" src="http://mvtimes.com/marthas-vineyard/includes/js/google2.js"></script> 
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script> 
<script type="text/javascript" src="http://mvtimes.com/marthas-vineyard/includes/js/lightbox/jquery.lightbox-0.5.js"></script> 
<script type="text/javascript"> 
// $(document).ready(function() {
//  $('a.zoom').lightBox({fixedNavigation:true});
// });
</script> 
 
<script type="text/javascript" src="http://mvtimes.com/marthas-vineyard/includes/js/ddlevelsmenu.js"> 
/***********************************************
* All Levels Navigational Menu- (c) Dynamic Drive DHTML code library (http://www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
***********************************************/
</script><link href="http://mvtimes.com/marthas-vineyard/styles/common/common-09.css" rel="stylesheet" type="text/css" /> 
<link href="http://mvtimes.com/marthas-vineyard/styles/common/ddlevelsmenu-base.css" rel="stylesheet" type="text/css" /> 
<link rel="stylesheet" type="text/css" href="http://mvtimes.com/marthas-vineyard/styles/jquery.lightbox-0.5.css" media="screen" /> 
 
<link href="http://mvtimes.com/marthas-vineyard/styles/common/safari.css" rel="stylesheet" type="text/css" /> 
<script type="text/javascript" src="http://mvtimes.com/marthas-vineyard/includes/js/ddlevelsmenu.js"> 
/***********************************************
* All Levels Navigational Menu- (c) Dynamic Drive DHTML code library (http://www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
***********************************************/
</script> 
<script type="text/javascript" src="http://mvtimes.com/marthas-vineyard/includes/js/jquery.accessible-news-slider.js"></script> 
<script type="text/javascript"> 
  // $(function() {
  //  $( "#moreHeadlines" ).accessNews({
  //         headline : "More Martha's Vineyard News Headlines",
  //         speed : "slow",
  //    slideBy : 5
  //     });
  //  
  // }); 
</script> 
<link href="http://mvtimes.com/marthas-vineyard/styles/common/common-09.css" rel="stylesheet" type="text/css" /> 
<link href="http://mvtimes.com/marthas-vineyard/styles/home-page/home-20100325.css" rel="stylesheet" type="text/css" /> 
<link href="http://mvtimes.com/marthas-vineyard/styles/common/ddlevelsmenu-base.css" rel="stylesheet" type="text/css" /> 
<link href="http://mvtimes.com/marthas-vineyard/styles/home-page/news-slider.css" rel="stylesheet" type="text/css" media="screen" /> 

<%= render :partial => 'layouts/offers/sdcitybeat/stylesheets_and_javascript' %>
<%= render :partial => 'layouts/offers/standard/facebook_metadata' %>
<%= raw render :partial => "/shared/tracking_offers" %>
</head> 
<body> 
<div id="wrap1"> 
  <div id="wrap2"> 
    <div id="header"><a href="http://mvtimes.com/"><img src="http://mvtimes.com/marthas-vineyard/images/masthead/marthas-vineyard-times.png" alt="Martha's Vineyard Times" width="272" height="85" /></a> 
  <div id="headerOnline"><img src="http://mvtimes.com/marthas-vineyard/images/masthead/online.png" alt="Martha's Vineyard Times" /></div> 
  <div id="search"> 
    <form action="http://www.mvtimes.com/marthas-vineyard/search/" id="cse-search-box" onsubmit="checkSearch(this); return false;"> 
      <div> 
        <input type="text" name="q" value="Search mvtimes.com" onfocus="focusSearch(this)" onblur="blurSearch(this)" /><input type="image" name="sa" src="http://mvtimes.com/marthas-vineyard/images/misc/sb-2.png" /> 
        <input type="hidden" name="cx" value="partner-pub-5597875046540809:5vt8pe-i0jg" /> 
        <input type="hidden" name="cof" value="FORID:11" /> 
        <input type="hidden" name="ie" value="UTF-8" /> 
      </div> 
    </form> 
    <div id="headerDate">Wednesday, March 31, 2010</div> 
  </div> 
  <div id="weatherSticker"><a href="http://www.wunderground.com/US/MA/Martha's_Vineyard.html?bannertypeclick=miniWeather2"><img src="http://weathersticker.wunderground.com/weathersticker/miniWeather2_cond/language/www/US/MA/Martha's_Vineyard.gif" alt="Martha's Vineyard Weather Forecast" height="50" width="150" /></a></div> 
<div id="headerNav"><a href="http://mvtimes.com/archives/">Archives</a> | <a href="http://mvtimes.mycapture.com/mycapture/index.asp">Buy Photos</a> | <a href="http://mvtimes.com/store/">Store</a> | <a href="http://mvtimes.com/store/subscriptions.php">Subscriptions</a> | <a href="http://mvtimes.com/submissions/">Submissions</a> | <a href="http://mvtimes.com/marthas-vineyard/advertising/">Advertise</a> | <a href="http://mvtimes.com/contact-us.php">Contact</a></div> 
</div> 
    <div id="navBar" class="mainNav"> 
  <ul> 
    <li><a href="http://mvtimes.com/" rel="newsSub">News</a></li> 
    <li><a href="#" rel="opinionSub">Opinion</a></li> 
    <li><a href="#" rel="commSub">On Island</a></li> 
    <li><a href="http://mvtimes.com/marthas-vineyard/classifieds/">Classified</a></li> 
    <li><a href="http://mvtimes.com/marthas-vineyard/real-estate/" rel="reSub">Real Estate</a></li> 
    <li><a href="http://mvtimes.com/marthas-vineyard/directory/find-it-on-marthas-vineyard.php" rel="theCalSub">The Calendar</a></li> 
    <li><a href="http://mvtimes.com/marthas-vineyard/directory/?a=2" rel="activitySub">Activities</a></li> 
    <li><a href="http://mvtimes.com/marthas-vineyard/directory/?a=1" rel="eatAndDrinkSub">Eat &amp; Drink</a></li> 
    <li><a href="http://mvtimes.com/marthas-vineyard/directory/?a=3" rel="comeAndStaySub">Come &amp; Stay</a></li> 
    <li><a href="http://mvtimes.com/marthas-vineyard/directory/?a=4" rel="shoppingSub">Shopping</a></li> 
    <li><a href="http://mvtimes.com/marthas-vineyard/directory/?a=5" rel="servicesSub">Services</a></li> 
    <li><a href="http://mvtimes.com/marthas-vineyard/directory/?a=8" rel="hAndGSub">Home &amp; Garden</a></li> 
    <li><a href="http://mvtimes.com/marthas-vineyard/directory/?a=9" rel="weddingsSub">Weddings</a></li> 
  </ul> 
</div> 
<script type="text/javascript"> 
  	<!--
    ddlevelsmenu.setup("navBar", "topbar");
	//-->
  </script> 
    <div id="analog_analytics_content">
      <%= yield %>
    </div>
    <div id="footer"> 
  <ul> 
    <li class="one"><a href="http://mvtimes.com/">News</a></li> 
    <li><a href="#">Opinion</a></li> 
    <li><a href="#">On Island</a></li> 
    <li><a href="http://mvtimes.com/marthas-vineyard/classifieds/index.php">Classifieds</a></li> 
    <li><a href="http://mvtimes.com/marthas-vineyard/real-estate/index.php">Real Estate</a></li> 
    <li><a href="http://mvtimes.com/marthas-vineyard/directory/?a=7">The Calendar</a></li> 
    <li><a href="http://mvtimes.com/marthas-vineyard/directory/?a=2">Activities</a></li> 
    <li><a href="http://mvtimes.com/marthas-vineyard/directory/?a=1">Eat &amp; Drink</a></li> 
    <li><a href="http://mvtimes.com/marthas-vineyard/directory/?a=3">Come &amp; Stay</a></li> 
    <li><a href="http://mvtimes.com/marthas-vineyard/directory/?a=4">Shopping</a></li> 
    <li><a href="http://mvtimes.com/marthas-vineyard/directory/?a=5">Services</a></li> 
    <li><a href="http://mvtimes.com/marthas-vineyard/directory/?a=8">Home &amp; Garden</a></li> 
    <li><a href="http://mvtimes.com/marthas-vineyard/directory/?a=9">Weddings</a></li> 
  </ul> 
  <ul> 
    <li class="one"><a href="http://mvtimes.com/about-us.php">About Us</a></li> 
    <li><a href="http://mvtimes.com/fine-print/privacy.php">Privacy Policy</a></li> 
    <li><a href="http://mvtimes.com/fine-print/user-agreement.php">User Agreement</a></li> 
    <li><a href="http://mvtimes.com/fine-print/copyright.php">Copyright</a></li> 
    <li><a href="http://mvtimes.com/archives/">Archives</a></li> 
    <li><a href="http://mvtimes.mycapture.com/mycapture/index.asp">Buy Photos</a></li> 
    <li><a href="http://mvtimes.com/store/">Store</a></li> 
    <li><a href="http://mvtimes.com/store/subscriptions.php">Subscriptions</a></li> 
    <li><a href="http://mvtimes.com/submissions/">Submissions</a></li> 
    <li><a href="http://mvtimes.com/marthas-vineyard/advertising/">Advertise</a></li> 
    <li><a href="http://mvtimes.com/contact-us.php">Contact</a></li> 
  </ul> 
  <p>mvtimes.com : The Martha's Vineyard Times is a weekly newspaper published on Martha's Vineyard</p> 
</div> 
<script type="text/javascript" src="http://mvtimes.com/marthas-vineyard/includes/js/common.js"></script> 
<script type="text/javascript"> 
<!--
var captcha = "ky63xd";
//-->
</script> 
  </div> 
</div> 
 
<ul id="newsSub" class="ddsubmenustyle"> 
  <!-- Other news start --> 
  <li><a href="http://mvtimes.com/marthas-vineyard/news/2010/03/25/news-briefs.php">News Briefs</a></li> 
  <li><a href="http://mvtimes.com/marthas-vineyard/news/2010/03/25/district-court-report.php">Court Report</a></li> 
  <li><a href="http://mvtimes.com/marthas-vineyard/news/2010/03/25/sports.php">Sports</a></li> 
  <!-- Other news end --> 
  <li><a href="#">Town Columns</a> 
    <ul> 
      <li><a href="http://mvtimes.com/marthas-vineyard/news/2010/03/25/aquinnah.php">Aquinnah</a></li> 
      <li><a href="http://mvtimes.com/marthas-vineyard/news/2010/03/25/chilmark.php">Chilmark</a></li> 
            <li><a href="http://mvtimes.com/marthas-vineyard/news/2010/03/25/oak-bluffs.php">Oak Bluffs</a></li> 
      <li><a href="http://mvtimes.com/marthas-vineyard/news/2010/03/25/tisbury.php">Tisbury</a></li> 
      <li><a href="http://mvtimes.com/marthas-vineyard/news/2010/03/25/west-tisbury.php">West Tisbury</a></li> 
    </ul> 
  </li> 
  <li><a href="http://mvtimes.com/marthas-vineyard/obituaries/">Obituaries</a></li> 
  <li><a href="http://mvtimes.com/webcam/">Webcams</a></li> 
  <li><a href="http://mvtimes.com/marthas-vineyard/news/2010/03/25/announcements.php">Announcements</a></li> 
</ul> 
<ul id="opinionSub" class="ddsubmenustyle"> 
  <!-- Opinion start --> 
  <li><a href="http://mvtimes.com/marthas-vineyard/news/2010/03/25/letters-to-the-editor.php">Letters to the Editor</a></li> 
  <li><a href="http://mvtimes.com/marthas-vineyard/news/2010/03/25/editorial.php">Editorial</a></li> 
  <li><a href="http://mvtimes.com/marthas-vineyard/news/2010/03/25/at-large.php">At Large</a></li> 
    
          <!-- Opinion end --> 
</ul> 
<ul id="commSub" class="ddsubmenustyle"> 
  <li><a href="http://mvtimes.com/marthas-vineyard/video/marthas-vineyard-videos.php">Martha's Vineyard Videos</a></li> 
  <li><a href="#">As You See It</a> 
    <ul> 
      <li><a href="http://mvtimes.com/marthas-vineyard/as-you-see-it/">Latest</a></li> 
      <li><a href="http://mvtimes.com/marthas-vineyard/as-you-see-it/?cat=15">Ag Fair Photo/Video Contest 2008</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/as-you-see-it/?cat=17">Ag Fair Photo/Video Contest 2009</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/as-you-see-it/?cat=4">Animals</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/as-you-see-it/?cat=8">Beaches</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/as-you-see-it/?cat=5">Boats &amp; Ships</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/as-you-see-it/?cat=9">Events</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/as-you-see-it/?cat=11">Fishing</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/as-you-see-it/?cat=16">Graduation 2009</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/as-you-see-it/?cat=3">Islanders Read</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/as-you-see-it/?cat=13">Nature</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/as-you-see-it/?cat=10">Other</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/as-you-see-it/?cat=2">People</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/as-you-see-it/?cat=1">Scenics</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/as-you-see-it/?cat=12">Sunrises / Sunsets</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/as-you-see-it/?cat=6">Weather</a></li> 
    </ul> 
  </li> 
  <li><a href="http://mvtimes.com/marthas-vineyard/information-directory/info.php?id=5">Classes &amp; Instruction</a></li> 
  <li><a href="http://mvtimes.com/marthas-vineyard/information-directory/info.php?id=8">Libraries</a></li> 
  <li><a href="http://mvtimes.com/marthas-vineyard/information-directory/info.php?id=6">Groups</a></li> 
  <li><a href="http://mvtimes.com/marthas-vineyard/information-directory/info.php?id=7">Clubs</a></li> 
  <li><a href="http://mvtimes.com/marthas-vineyard/information-directory/info.php?id=10">Important Numbers</a></li> 
  <li><a href="http://mvtimes.com/marthas-vineyard/information-directory/info.php?id=12">Religious Services</a></li> 
  <li><a href="http://mvtimes.com/marthas-vineyard/information-directory/info.php?id=11">12-Step Programs</a></li> 
  <li><a href="http://mvtimes.com/marthas-vineyard/information-directory/info.php?id=2">Museums &amp; Tours</a></li> 
  <li><a href="http://mvtimes.com/marthas-vineyard/information-directory/info.php?id=4">School Lunch</a></li> 
  <li><a href="http://mvtimes.com/marthas-vineyard/community-works">Community Works</a></li> 
  <li><a href="http://mvtimes.com/marthas-vineyard/information-directory/tide-chart.php">Tide Chart</a></li> 
  <li><a href="http://mvtimes.com/marthas-vineyard/pdfs/55-plus/2010/03/25/55-plus-20100325.pdf">55 Plus</a></li> 
  <li><a href="http://mvtimes.com/marthas-vineyard/pdfs/marthas-vineyard-regional-high-school/2010/03/25/hs-view-20100325.pdf">High School View</a></li> 
</ul> 
<ul id="theCalSub" class="ddsubmenustyle"> 
  <li><a href="http://mvtimes.com/marthas-vineyard/movies/">Movies</a></li> 
  <li><a href="http://mvtimes.com/marthas-vineyard/information-directory/info.php?id=1">Happenings</a></li> 
  <li><a href="http://mvtimes.com/marthas-vineyard/information-directory/info.php?id=3">Ongoing Events</a></li> 
  <li><a href="http://mvtimes.com/marthas-vineyard/directory/thismonth.php">Events this Month</a></li> 
  <li><a href="http://mvtimes.com/marthas-vineyard/directory/calcategory.php?c=83">Music &amp; Dance</a></li> 
  <li><a href="http://mvtimes.com/marthas-vineyard/directory/calcategory.php?c=82">Arts &amp; Galleries</a></li> 
  <li><a href="http://mvtimes.com/marthas-vineyard/directory/calcategory.php?c=127">Books</a></li> 
</ul> 
<ul id="reSub" class="ddsubmenustyle"> 
  <li><a href="http://mvtimes.com/marthas-vineyard/real-estate/2010/03/25/marthas-vineyard-real-estate-transactions.php">Real Estate Transactions</a></li> 
  <li><a href="http://mvtimes.com/marthas-vineyard/real-estate/property-values.php">2009 Property Values</a></li> 
  <li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=76">Sales Agencies</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=78">Buyers Agencies</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=77">Rental Agencies</a></li> 
  <li><a href="http://mvtimes.com/marthas-vineyard/real-estate/marthas-vineyard-real-estate-classifieds.php">Real Estate Classifieds</a></li> 
</ul> 
<ul id="activitySub" class="ddsubmenustyle"> 
  <li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=23">Bikes &amp; Mopeds</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=90">Animals &amp; Farms</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=24">Camps</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=25">Dance &amp; Yoga</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=26">Equestrian</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=27">Fishing Charters</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=80">Golf &amp; Tennis</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=91">Gyms &amp; Fitness</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=30">Sailing</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=33">Watersports</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=151">Promoters &amp; Venues</a></li> 
</ul> 
<ul id="eatAndDrinkSub" class="ddsubmenustyle"> 
  <li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=1">Restaurants</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=8">Bars &amp; Clubs</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=36">Coffee &amp; Sweets</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=6">Markets</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=4">Take-Out</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=37">Wine &amp; Liquor</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=5">Catering &amp; Chefs</a></li> 
</ul> 
<ul id="comeAndStaySub" class="ddsubmenustyle"> 
  <li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=38">Hotels &amp; Inns</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=39">B&amp;Bs</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=77">Rental Agencies</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=42">Ferries</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=43">Air Travel</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=32">Tours</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=45">Taxis/Limos/Car Rental</a></li> 
</ul> 
<ul id="shoppingSub" class="ddsubmenustyle"> 
  <li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=46">Accessories &amp; Shoes</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=50">Art Galleries</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=53">Books/ Music/Video</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=47">Clothes</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=93">Computer/Office Supplies</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=49">Cosmetics</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=94">Drug Stores</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=140">Fishing &amp; Tackle</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=141">Flowers</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=51">Gifts &amp; Souvenirs</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=48">Jewelry</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=57">Marine Supplies</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=58">Sport &amp; Fitness</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=52">Toys</a></li> 
</ul> 
<ul id="servicesSub" class="ddsubmenustyle"> 
  <li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=97">Attorneys</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=59">Auto/Gas</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=81">Business Services</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=99">Child Care/Preschools</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=101">Concierge/Personal</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=64">Financial Services</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=103">Insurance</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=105">Marine/Boat</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=65">Massage &amp; Holistic</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=104">Medical &amp; Dental</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=70">Moving/Hauling</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=106">Musicians &amp; DJ's</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=72">Pets</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=107">Photography &amp; Video</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=73">Rubbish Removal</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=31">Salons/Spas</a></li> 
</ul> 
<ul id="hAndGSub" class="ddsubmenustyle"> 
  <li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=108">Alternative Energy</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=143">Appliances/Electronics</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=79">Architects</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=60">Building/Renovation</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=61">Caretaking</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=62">Cleaning</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=109">Designers/Decorators</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=63">Electricians/Plumbers</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=145">Flooring/Carpets/Rugs</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=142">Furniture &amp; Antiques</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=130">Rental Equipment</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=146">Kitchen/Bath/Lighting</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=56">Nurseries/Garden Supplies</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=110">Hardware &amp; Paint</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=66">Heating &amp; Cooling</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=111">Home Maintenance</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=54">Home Accessories</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=112">Home Services</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=67">Landscapers</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=135">Masonry</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=131">Moving/Hauling/Storage</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=71">Painting</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=133">Water Treatment</a></li> 
</ul> 
<ul id="weddingsSub" class="ddsubmenustyle"> 
  <li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=5">Catering &amp; Chefs</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=113">Wedding Cakes</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=141">Flowers</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=106">Musicians &amp; DJs</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=119">Wedding Officiants</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=31">Salons &amp; Spas</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=107">Photography &amp; Video</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=121">Event Planners</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=45">Taxi/Limo/Rental Car</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=124">Wedding &amp; Party Venues</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=122">Tents, Rentals &amp; Supplies</a></li> 
<li><a href="http://mvtimes.com/marthas-vineyard/directory/category.php?c=37">Wine/Liquor</a></li> 
</ul> 
</body> 
</html>