
<div class="page_row">  
  <div class="page_column_12 first rounded_corners">
    
<h1 class="content">Frequently Asked Questions</h1>

<h4>What is the Daily Deal?</h4>
<p>Each day one incredible deal is featured as the Daily Deal. The offer is only available for a limited amount of time, so make sure to register so you don't miss out!</p>

<h4>How do I buy today's deal?</h4>
<p>Click on the "Buy Now" button before the deal expires and pay online. Remember to share the deal to your friends via Twitter, Facebook or email.</p>

<h4>What happens after I buy the Daily Deal?</h4>
<p>After you make a purchase, you'll receive the Daily Deal voucher to print out via email. Contact the Merchant directly to arrange your booking – do this at your earliest opportunity to make sure you get your preferred date!</p>

<h4>Will the merchant have access to my card details?</h4>
<p>No. The merchant does not have your card details. That is held by Analog Analytics, the software company that processes the transaction for the STV.</p>

<h4>Is the transaction safe for me to use?</h4>
<p>Yes. The transaction uses SSL and other industry standard security features to ensure that no one else has access to your credit card information.</p>

<h4>When I gift the Daily Deal to a friend, will they have access to my card details?</h4>
<p>No, on the Daily Deal voucher, there is a record of the transaction, the recipient's, along with a unique 8-digit code. The payment information is secure on a site that no consumer has access to.</p>

<h4>Can I combine the Daily Deal with other offers the merchant might have presented previously?</h4>
<p>No, each Daily Deal has its own terms.</p>

<h4>What if the merchant does not honour the offer?</h4>
<p>We go out of our way to check each advertiser and make sure they live up to our high standards. We will also provide recent reviews, testimonials or a link to their site to help you get a better idea of what you are buying. On the rare occurrence that something happens and you're not satisfied, get in touch and we will do our best to resolve the matter.</p>

<h4>What if I miss the expiration date??</h4>
<p>If you miss the expiration date on your deal you wont lose the money you have paid. While the additional discounts are no longer available, you are still entitled to goods and services equal to the paid value of the voucher.</p>
<p>For example, if you spend £25 to buy a £50 voucher for a restaurant, but are unable to get there before the expiration date, you will still be entitled to £25 of food and drink at the same venue (see Terms & Conditions for full details)</p>

<h4>What if I have more questions?</h4>
<p>Feel free to email dealsupport@stv.tv. The STV and Analog Analytics teams will be more than happy to answer any additional questions you may have.</p>

  </div>
</div>
