<% set_daily_deal_page_title_slug "Feature Your Business" %>

<div class="page_row">
  <div class="page_column_12 first rounded_corners">
    <h1 class="content">Feature your Business</h1>
	
	<h4>How it works</h4>
	<p>STV's Daily Deals is a cashless, multi-media marketing platform, which costs
you nothing.  Through our unique combination of TV, email marketing, social media and more.
</p>
	<p>STV's Daily Deals delivers new customers and in turn, increases revenue streams
to your business.  Users buy on the spot online, pre pay and can share your deal with their friends via social media. You can control when vouchers are redeemed – use your deal to channel footfall during quieter periods!
</p>
	<p>On the day your deal goes live, thousands of STV users will receive an email
detailing your offer. Our knowledgeable team of account managers will work
closely with you to ensure maximum return from your deal.
</p>
	<p>STV's Daily Deals is entirely RISK FREE – there are no upfront costs to running
a deal. Plus, we send you your share of the revenue every 4 weeks.
</p>


	<h4>Why use STV's Daily Deals?</h4>
	
	<ul>
		<li>Get your business in front of STV's 2.5m users (unique browsers - Nedstat  	May 2011).</li>
		<li>Benefit from a brand association with Scotland's largest media company to promote your business.</li>
		<li>Build a loyal clientele of new customers more effectively than by using traditional advertising.</li>
	</ul>
	
	<h4>STV's Online Audience</h4>
	<p>STV.TV reaches 46% of Scotland's online population.</p>
	<p>56% female 44% male<br />
	31% under 34 32% 50 – 64<br />
	28% 35-49 7% 65+<br />
	</p>
	<p>66% ABC1 34% C2DE</p>
	<p>22% under £20k<br />
	41% £20k - £50k<br />
	24% - £50k plus<br />
	</p>
	<p>40% of our target audiences are regular Facebook visitors, 10.5% visit Twitter regularly.<br />
	59.2% have a Facebook profile,<br />
	13.5% have a Twitter account.<br />
	</p>
	<p>16% use Facebook several times a day…49% use the site at least once per week or more.</p>
	<p>3% use Twitter several times a day…9% use the site once per week or more.</p>
	
	<p>* Source: stv.tv online user survey April 2011.<br />
	* Source: CCS Consumer Study 2010.</p>
    
	
	
	
	<h1>FAQ</h1>
	
	
	<h4>WHAT IF THE DEAL WORKS TOO WELL AND I'M INUNDATED?</h4>
	<p>Don't worry; we will agree the maximum number of deals you are willing to offer and once achieved no more will be sold.</p>
	
	<h4>CAN I CHOOSE WHEN MY DEAL IS FEATURED?</h4>
	<p>Yes! Subject to availability that is. We will work with you to schedule the deal as to when it will best perform. Remember, the deal needs to work for you for it to wor  for us so it's in our interest to work closely with you to ensure maximum take up.</p>
	
	<h4>HOW LONG WILL MY OFFER RUN?</h4>
	<p>Your deal is set up to run for a minimum 24 hours, however, we will continue to promote your deal as a "Side Deal" if the agreed quota is not met within the original time frame.</p>
	
	<h4>HOW MUCH WILL IT COST ME?</h4>
	<p>Featuring your business on STV's Daily Deals will cost you absolutely nothing. And remember, whilst we generate footfall for you, your own team can focus on up-selling items & services not included in the deal – and once you have blown them away with a great experience, they will be back for more at FULL price.</p>
	
	<h4>WHEN DO I GET PAID?</h4>
	<p>We will pay you 4 weeks after the deal closes – by bank transfer or cheque.</p>
	
	<h4>DO I GET PAID FOR VOUCHERS THAT ARE NOT REDEEMED?</h4>
	<p>Even if a voucher is not redeemed by a customer you will still be paid your share (even though you haven't parted with the goods or service).</p>
	
	<p>Want to know more? <br />
Please get in touch.</p>

	<p>Call - 0844 561 1300 <br />
Email - <a href="mailto:dailydeals@stv.tv">dailydeals@stv.tv</a></p>



	<p><a href="http://www.stv.tv/terms-daily-deals/" target="_blank">Merchant Terms and Conditions</a></p>
	
  </div>
</div>