<div class="page_row how_it_works"> 
  <div class="page_column_12 first rounded_corners"> 
	  <h1 class="content">How It Works</h1> 
		
		<h4>1/ Click and Buy</h4> 
		<p>Every day we'll announce a new Daily Deal with a 40-90% discount at delicious restaurants, relaxing spa and beauty treatments, energetic outdoor activities and much, much more.</p> 
		
		<h4>2/ Share with your friends</h4> 
		<p>When you find an offer you like, share it with your friends using our Facebook, Twitter or email links.</p> 
	
		<h4>3/ Reserve your place</h4> 
		<p>After you make your purchase, you'll receive the Daily Deal voucher via email. Once you have your voucher, contact the Merchant directly to arrange your booking – do this at your earliest opportunity to make sure you get your preferred date!</p> 
		<p>Please make sure you read the Fine Print on the voucher before you buy – certain conditions may apply</p>
		
		<h4>4/ Enjoy your Deal</h4> 
		<p>Please remember to take your voucher as proof of purchase and enjoy your discounted Daily Deal!</p> 
		
		<p>Don't miss out! <a href="{{ publisher.new_consumer_path }}">Sign up</a> to receive an email every time we post a new deal.
				
		<p>Still have questions? <a href="{{ publisher.faq_path }}">Check out our FAQ page</a></p> 

  </div>
</div>