<% set_daily_deal_page_title_slug "Privacy Policy" %>

<div class="page_row">  
  <div class="page_column_12 first rounded_corners">

<h1>Privacy Policy</h1>

<p>STV Daily Deals is provided by stv.tv Limited (<strong>&ldquo;STV&rdquo;</strong>, <strong>&ldquo;we&rdquo;</strong> or <strong>&ldquo;us&rdquo;</strong>) </p>
<p>We<strong> </strong>are committed to protecting your privacy. <strong>&nbsp;Please read this privacy policy (&ldquo;Privacy Policy&rdquo;) to understand how we use and protect the information that you provide to us.</strong><strong><u></u></strong></p>
<p><strong>CONTENTS</strong></p>
<ol>
  <li><strong><u><a href="#one">Our Commitment to Data Security</a></u></strong></li>

  <li><strong><u><a href="#two">The Information STV Collects</a></u></strong></li>
  <li><strong><u><a href="#three">The Way STV Uses Your Personal Information</a></u></strong></li>
  <li><strong><u><a href="#four">How STV Manages Your Personal Information </a></u></strong></li>
  <li><strong><u><a href="#five">Cookies</a></u></strong></li>
  <li><strong><u><a href="#six">Third Party Websites</a></u></strong></li>
  <li><strong><u><a href="#seven">Consent </a></u></strong></li>
  <li><strong><u><a href="#eight">Your Consent to this Privacy Policy</a></u></strong></li>
  <li><strong><u><a href="#nine">Managing Your Own Information (Opting Out)</a></u></strong></li>
  <li><strong><u><a href="#ten">Access to Your Information</a></u></strong></li>
  <li><strong><u><a href="#eleven">Changes&nbsp; to our Privacy Policy</a></u></strong></li>
  <li><strong><u><a href="#twelve">How to contact us</a></u></strong></li>
</ol>

<ol>
<li>
	<a name="one"></a>
    <p><strong> Our Commitment to Data Security</strong></p>

	<p>We strive to protect the quality and integrity of your personal information. </p>
	<p>We have implemented technologies and security policies to protect the stored personal data of our users from unauthorised access, improper use, alteration, unlawful or accidental destruction and accidental loss.&nbsp; We will continue to enhance our security procedures as new technology becomes available. </p>
	<p>STV employees and processors who have access to personal data are obliged to respect the privacy of our users and the confidentiality of their personal information. </p>
	<p><strong><em>Your personal information will not be supplied to any other persons without first obtaining your consent unless we are obliged by law to disclose it.<u></u></em></strong></p>
</li>
<li>
	<a name="two"></a>
	<p><strong>The Information STV Collects</strong><strong> </strong></p>
    <p>We collect information about you: </p>
    <ul>
      <li>when you register with us;</li>
      <li>when you access the STV Daily Deals website (the <strong>&ldquo;Website</strong>&rdquo;); </li>
      <li>when you purchase a Voucher on the Website; </li>
      <li>when you e-mail or otherwise contact us;</li>
      <li>when you otherwise provide us with your personal information by using or posting information on the Website; and</li>
      <li>from third parties in circumstances where you have consented.</li>
    </ul>
    <p><em>Personal Data</em><br />
      The type of personal information collected on the Website may include your name, company name, address (including postcode), email address, user name and password, lifestyle information and any other personal information provided by you.</p>
    <p><em>Surveys</em><br />
      Sometimes, we may conduct surveys and ask questions about our own and third parties products and services.&nbsp; Where the survey is anonymous, you will not be personally identifiable from your response although we may post responses on the Website.&nbsp;&nbsp; We will let you know in advance when such responses are posted onto the website.&nbsp; In all other instances, you should assume that we track any information you provide on a personally identifiable basis.</p>
    <p><em>Under 16&rsquo;s<strong><u></u></strong></em><br />
      Persons under 16 should not disclose any personal information to us without first getting the permission of a parent or a guardian.<strong><u></u></strong></p>
</li>
<li>
	<a name="three"></a>
	<p><strong>The Way STV Uses Your Personal Information</strong></p>
	<p>We shall use your information in the following ways:</p>
    <ul>
      <li>to send you emails containing the latest deals (Daily Deal);</li>
      <li>to send you emails about STV and third party products and services that may be of interest to you;</li>
      <li>to analyse the information we collect so that we can administer, support, improve and develop the business and tailor the services we offer to you;</li>
      <li>to provide you with access to certain parts of the Website;</li>
      <li>to contact you for your views on our products and services;<strong><u></u></strong></li>
      <li>to contact you to ask you to participate in surveys conducted by STV;</li>
      <li>to contact you for your views on third party products and services;</li>
      <li>to personalise repeat visits to our Website;</li>
      <li>to send you unsolicited marketing; and</li>
      <li>for all other purposes consistent with the proper performance of our operations and business.</li>
    </ul>
</li>
<li>
	<a name="four"></a>
	<p><strong>How STV Manages Your Personal Information</strong></p>
	<p> We will hold your personal information on our systems for as long as you use the service that you have requested and for a reasonable amount of time thereafter. </p>
	<p>We will suppress your personal information when the service that you have requested is finished or on request by you.&nbsp; This means that no further information will be sent to you without your further consent.</p>
	<p>We will ensure that all of the personal information that you supply is held securely and otherwise in accordance with Data Protection legislation.</p>
	<p>If our business is sold to or merged with another business entity, your personal information may be disclosed to our new business partners or owners.</p>
	<p><strong><em>By using the Website, you consent to the collection and use of this personal information by us in the manner described above.</em></strong></p>
</li>
<li>
	<a name="five"></a>
	<p><strong>Cookies</strong></p>
	<p>A &ldquo;cookie&rdquo; is a text file that attaches to the hard drive of your computer and remembers information about the configuration of your computer.</p>
	<p>We may use cookies for the purposes listed below.&nbsp; <strong>None of these cookies can identify you as an individual:- &nbsp;</strong></p>
    <ul>
      	<li><strong>Analytics. </strong>We use cookies to track your use of the Website in order to better develop the Website (for example, working out which parts of the website are more popular and developing our content accordingly). </li>
  		<li><strong>STV Advertising.</strong> We use cookies to better target our advertising on the Website and to ensure our advertising is as relevant to you as possible. &nbsp; For example, we may use cookies to serve advertising to you about Coronation Street if you have recently visited the Coronation Street pages of the Website.&nbsp; We may also use cookies to ensure that we do not serve you the same advert too many time. </li>
		<li><strong>Third Party Advertising.&nbsp; </strong>We work with third party advertising networks who may use their own anonymous cookie to monitor how many people have seen an advert on the Website.&nbsp; They may serve advertising based on what content a user may be interested in based on visiting the Website and other sites.</li>
		<li><strong>Registration</strong>.&nbsp; If you have registered with the Website, we will use cookies to identify you when you sign in to the Website, allowing you to see a customised version of the Website and removing the need for you to re-enter your log-in details. </li>
	</ul>
	<p><em>Further information and opting out of cookies</em><br />
  You can opt out of STV collecting non-essential information through cookies at any time by configuring your browser accordingly.&nbsp; For information on how to manage or disable cookies, please go to <a href="http://www.aboutcookies.org">http://www.aboutcookies.org</a>. </p>
	<p>The Network Advertising initiative provide further information on cookies used in online advertising and also allows users to opt out of participating networks – you can visit their website here: <a href="http://www.networkadvertising.org/" title="http://www.networkadvertising.org/">http://www.networkadvertising.org/</a>. Another useful resource to manage cookies is <a href="http://www.youronlinechoices.co.uk/" title="http://www.youronlinechoices.co.uk/">www.youronlinechoices.co.uk</a>. </p>
	<p>You should bear in mind that if you opt out of receiving cookies, you may be unable to use some of our online services.</p>
</li>
<li>
	<a name="six"></a>
	<p><strong>Third Party Websites</strong><strong> </strong></p>
	<p>Because we want your experience of the Website to be as informative and useful as possible, we provide a number of links to third party websites. </p>
	<p>Please note that STV does not control such third party websites who may send their own cookies to users, or otherwise collect data or solicit personal information. </p>
	<p>STV assumes no responsibility for the information gathering practices of websites that you are able to access through the Website, and we encourage you to review each website's privacy policy before disclosing any personally identifiable information.</p>
</li>
<li>
	<a name="seven"></a>
  	<p><strong>Consent</strong></p>
	<p>When you provide us with your personal data (such as your name, e-mail address etc) for example, by registering with STV or by posting information on the Website, you consent to the collection, storage, use and transfer of your personal information under the terms of this Privacy Policy.</p>
</li>
<li>
	<a name="eight"></a>
	<p><strong>Your Consent to this Privacy Policy</strong></p>
	<p>By using the Website, you are accepting this Privacy Policy. If you do not agree with any term in this Privacy Policy, please do not use the Website or submit any personal information to us.</p>
</li>
<li>
	<a name="nine"></a>
	<p><strong>Managing Your Own Information (Opting Out)</strong></p>
	<p>When you register with STV Daily Deals, you consent to receiving the Daily Deal from STV and also emails about STV products and services that may be of interest to you. &nbsp;When you purchase a Voucher on the Website, you also consent to receiving information from STV about similar third party products and services that may be of interest to you.</p>
	<p>You can easily modify your subscription settings by logging in to your account and updating your preferences. You can also unsubscribe by following the link contained at the bottom of each email you receive from STV.</p>
</li>
<li>
	<a name="ten"></a>
	<p><strong>Access to Your Information</strong></p>
	<p>You can ask us whether STV holds personal data about you, and you can also request to receive a copy of that personal data. </p>
	<p>Such a request must be requested in writing.&nbsp; Before sending you any personal data, we will ask you to provide proof of your identity together with a £10 administration fee. </p>
	<p>If you are not able to provide proof of your identity, we reserve the right to refuse to send you the personal data.</p>
</li>
<li>
	<a name="eleven"></a>
	<p><strong>Changes&nbsp; to our Privacy Policy</strong></p>
	<p>We reserve the right to change or remove this Privacy Policy at our discretion. </p>
	<p>If we decide to change our Privacy Policy, we will post those changes on the Website.&nbsp; We encourage you to visit this area frequently so as to stay informed. </p>
	<p>If there is any material change in the type of personal information we collect, we will obtain your permission before we collect the additional information. </p>
	<p>We will not make any changes that allow STV to give personal information to any other person without obtaining permission from you first.</p>
</li>
<li>
	<a name="twelve"></a>
	<p><strong>How to Contact Us</strong></p>
	<p>Should you have any questions or concerns about this Privacy Policy or the use of information, please e-mail us at <a href="mailto:dealsupport@stv.tv">dealsupport@stv.tv</a> or write to us at STV Daily Deals, Pacific Quay, Glasgow G51 1PQ.</p>
	<p>STV is located in Scotland in the UK.&nbsp; If you are located outside the UK and you contact us please note that any information you provide will be transferred to the UK and by submitting the information you authorise this transfer.</p>
	<p>Please note: The laws and regulations in different countries impose different (and even conflicting) requirements on the Internet and data protection. </p>
	<p>Scots law governs all matters relating to this site.</p>
</li>
</ol>

<p>Version: August 2011</p>

  </div>
</div>
