<% set_daily_deal_page_title_slug "Terms" %>

<div class="page_row">
  <div class="page_column_12 first rounded_corners">
  
<h1>STV DAILY DEALS TERMS AND CONDITIONS</h1>  


<p><strong>Terms and Conditions </strong></p>
<p>This website (the <strong>&ldquo;Website&rdquo;</strong>) is provided by STV.TV Limited and its associated companies (collectively <strong>&ldquo;we&rdquo;</strong> or <strong>&ldquo;us&rdquo;</strong>).&nbsp; These terms and conditions (the <strong>&ldquo;Terms and Conditions&rdquo;</strong>) govern your use of this website and any purchase of a Voucher (as defined below). </p>
<p>By using the Website, you are deemed to have accepted these Terms and Conditions. &nbsp;These Terms and Conditions ought to be read in conjunction with the terms and conditions contained in the <a href="http://jobs.stv.tv/staticpages/40/privacy-policy/">Privacy Policy</a>, where appropriate.&nbsp; </p>
<p>We reserve the right to change these Terms and Conditions at any time and we shall post any changes or updated Terms on the Website. &nbsp;It is your responsibility to check this Website regularly to ensure that you agree to any such changes. If you do not agree to any changes that we have made, you should stop accessing the Website immediately. </p>
<p><strong>Definitions</strong></p>
<p>&ldquo;<strong>Daily Deal</strong>&rdquo; means a daily email containing a Deal and sent by STV to you once a day following registration on the Website.<strong></strong><br />
  &ldquo;<strong>Deal</strong>&rdquo; means the offer, discount or other unique terms provided by STV in relation to a product or service provided by a Merchant and advertised on the Website.<br />
  &ldquo;<strong>Merchant</strong>&rdquo; means a third party seller or service provider from whom a Voucher can be redeemed.<br />
  &ldquo;<strong>Voucher</strong>&rdquo; means the voucher we send to you by email following a purchase of a Deal on the Website that can be redeemed with a Merchant.<br />
  &ldquo;<strong>Website</strong>&rdquo; means this website at <a href="file://localhost/C/Documents%20and%20Settings/CraigSmith/Local%20Settings/Temporary%20Internet%20Files/OLKB4/www.deals.stv.tv">www.deals.stv.tv</a>.</p>
<p><strong>Registration </strong> <br />
  You must register with the Website in order to purchase a Voucher or receive the Daily Deal.&nbsp; If you choose to register with the Website, you will be asked to provide your email address and password.&nbsp; You are responsible for maintaining the confidentiality of these log-in details and must not allow anyone else to use them. You must not do anything which would assist anyone who is not a registered user of the Website to gain access to those parts accessible only to registered users. <br />
  You must not maliciously create additional accounts for the purpose of abusing the functionality of the Website, or other users nor pass yourself off as another user. You must immediately inform us of any unauthorised use of your log-in details. This can be done by contacting us at <a href="file://localhost/C/Documents%20and%20Settings/CraigSmith/Local%20Settings/Temporary%20Internet%20Files/OLKB4/dealsupport@stv.tv">dealsupport@stv.tv</a> or write to<strong> </strong>STV Daily Deals, Pacific Quay, Glasgow, G51 1PQ. </p>
<p>Once you have registered as a member of STV Daily Deals, you can purchase Vouchers on the Website and will you automatically be registered to receive the Daily Deal by email once a day. &nbsp;In addition to the Daily Deal, we may also send you administrative emails from time to time.</p>
<p>You can unsubscribe from receiving the Daily Deal at any time by logging in to the Website and updating your subscription settings.</p>
<p><strong>Purchase of Vouchers and Daily Deal</strong></p>
<p>In order to complete a purchase through the Website, you must provide your debit/credit card details.&nbsp; By making a purchase of a Voucher, you are doing so on these Terms and Conditions.&nbsp; The transaction shall only be complete once we send out a confirmation email confirming that the payment has been received from you.</p>
<p>Once you have purchased a Voucher on the Website, you are entitled to redeem the Voucher through the Merchant specified on the Voucher.&nbsp; The Voucher will contain the contact details of the Merchant to which the Deal relates.</p>
<p>Please note that each Voucher contains its own unique terms of redemption (including any time restriction on redemption).&nbsp; It is up to you to read these terms prior to purchase.&nbsp;&nbsp; If you do not adhere to these additional terms, you will not be entitled to redeem the Voucher.</p>
<p>Please note that the Merchant, and not STV is responsible for:</p>
<ul>
  <li>redeeming the Voucher;</li>
  <li>providing the products/services set out in the Deal;</li>
  <li>resolving any disputes with regard to the level of the service or quality of the product provided by the Merchant.</li>
</ul>
<p>Merchants will have their own terms of service/purchase.&nbsp; By redeeming the Voucher, you are agreeing to those terms.</p>
<p>You are not entitled to re-sell, trade, exchange, copy or reproduce the Voucher in any way.&nbsp; One purchase entitles you to one Voucher, which can only be redeemed with the Merchant specified in the Voucher only.</p>
<p>The purchase of Vouchers on the Website is inclusive of VAT (where applicable).</p>
<p><strong>Refunds</strong></p>
<p>In the event that you have adhered to these Terms and Conditions and those of the Merchant and the Merchant refuses or fails to redeem the Voucher upon presentation by you, then you will be entitled to a refund of the purchase price paid for the Voucher.&nbsp; We reserve the right to refuse to provide a refund in the event you have not adhered to these terms and Conditions (at our sole discretion, acting reasonably).&nbsp; </p>
<p>In all other circumstances we are not obliged to provide a refund unless the goods and/services to which the Voucher relates are subject to the Distance Selling Regulations, in which case you shall have seven (7) days from the date of purchasing the Voucher in which to request a refund.</p>
<p>To request a refund, please email <a href="file://localhost/C/Documents%20and%20Settings/CraigSmith/Local%20Settings/Temporary%20Internet%20Files/OLKB4/dealsupport@stv.tv">dealsupport@stv.tv</a> with the request together with the reason for the refund.</p>
<p>In the event that the expiry date of the Voucher has passed, you may not redeem the Voucher for the Deal advertised.&nbsp; However if you present the Voucher after the expiry date, but within 12 months of purchase, then you shall be entitled to a reduction of the price of comparatively priced goods/services to the value of the purchase price of the Voucher.&nbsp; Proof of purchase of the Voucher may be required by the Merchant.</p>
<p><strong>Standards of Service and Website Access</strong></p>
<p>We warrant that (i) we will exercise reasonable skill and care in exercising our obligations under these Terms and Conditions; (ii) we have the right to sell Voucher through the Website; and (iii) that Vouchers are fit for purpose.</p>
<p>While we endeavour to ensure that the Website is normally available 24 hours a day, we shall not be liable if for any reason the Website is unavailable at any time or for any period. </p>
<p>Access to the Website may be suspended temporarily and without notice in the case of system failure, maintenance or repair or for reasons beyond our control. </p>
<p><strong>Disclaimer </strong></p>
<p>The Website is provided to you on an &quot;as is&quot; and &quot;as available&quot; basis without any representation, endorsement or warranty of any kind, express or implied (by law or otherwise). Accordingly, to the maximum extent permitted by law, we exclude all representations, warranties, conditions and other terms. Specifically, we do not warrant: (1) that any functions on the Website will be uninterrupted or error free; (2) that the information on the website is correct, accurate and complete; or (3) that the Website or the server that makes it available, are free from bugs, defects or viruses. </p>
<p>We can give no assurances or warranties regarding the accuracy, currency or applicability of any of the content of the Website. </p>
<p>If you would like to make contact us about anything on the Website or to correct errors on the Website please email us at <a href="file://localhost/C/Documents%20and%20Settings/CraigSmith/Local%20Settings/Temporary%20Internet%20Files/OLKB4/dealsupport@stv.tv">dealsupport@stv.tv</a>. We will try to correct any errors or inaccuracies on the Website as soon as possible after being notified.</p>
<p>We reserve the right to change, modify, withdraw or extend any Deal contained on the Website at our sole discretion.</p>
<p><strong>Liability and Indemnity </strong></p>
<p>This clausesets out our entire financial liability (including any liability for the acts or omissions of our employees, agents, consultants and subcontractors) to you in respect of<a name="a253582" id="a253582"></a> (i) any breach of these Terms and Conditions however arising; <a name="a409757" id="a409757"></a>(ii) any use made by you of a Voucher; and <a name="a206812" id="a206812"></a>(iii) any representation, statement or tortious act or omission (including negligence) arising under or in connection with these terms and conditions.</p>
<p><a name="a815647" id="a815647"></a>Nothing in these Terms and Conditions shall exclude or limit our liability for death or personal injury caused by negligence or for any liability which cannot be excluded or limited under applicable law or for any damage or liability incurred by you as a result of fraud or fraudulent misrepresentation.</p>
<p>Subject to the preceding paragraph, <a name="a640701" id="a640701"></a>we shall not under any circumstances whatever be liable for <a name="a779558" id="a779558"></a>(i) loss of profits;<a name="a362987" id="a362987"></a> (ii) loss of business;<a name="a612702" id="a612702"></a> (iii) depletion of goodwill and/or similar losses; <a name="a784926" id="a784926"></a>(iv) loss of anticipated savings; <a name="a94685" id="a94685"></a>(v) loss of goods; <a name="a165410" id="a165410"></a>(vi) loss of contract; or<a name="a218816" id="a218816"></a> (vii) loss of use; or<a name="a1058595" id="a1058595"></a> (viii) loss of corruption of data or information; or<a name="a539256" id="a539256"></a> (ix) any special, indirect, consequential or pure economic loss, costs, damages, charges or expenses.</p>
<p>All warranties, conditions and other terms implied by statute or common law are, to the fullest extent permitted by law, excluded.<a name="a989139" id="a989139"></a></p>
<p><a name="a831697" id="a831697"></a>Subject to the terms of this clause, our total liability in contract, tort (including negligence or breach of statutory duty), misrepresentation, restitution or otherwise arising in connection with the performance or contemplated performance of obligations contained in these Terms and Conditions shall in all circumstances be limited to three times the price paid for the Voucher.</p>
<p>You will indemnify and defend us against all claims, liability, damages, costs and expenses, including legal fees, arising out of a breach of these Terms and Conditions or any use of the Website or your use of a Voucher.</p>
<p><strong>Intellectual Property Rights </strong></p>
<p>Unless otherwise stated, the copyright and other intellectual property rights in all Deals, Vouchers and other material on the Website and provided to you (including without limitation photographs, graphical images on the Website and contained in Vouchers) are owned by us or by our licensors. </p>
<p>You may view or download any part of the Website for private purposes, but you are not permitted, without our permission, to: </p>
<ul>
  <li>store the Website, or any part of the Website, for any other purpose; </li>
  <li>print copies of the Website, or any part of the Website, for any other purpose; </li>
  <li>reproduce copy or transmit the Website, or any part of the Website, in any way, for any other purpose or in, and/or, to any other medium. </li>
</ul>
<p>&nbsp;</p>
<p>All other rights which are not specifically granted are reserved. </p>
<p><strong>Breach of Terms and Conditions</strong></p>
<p>If we consider (in our sole discretion, that you have breached these Terms and Conditions, &nbsp;then we may take such action as we deem appropriate which may include all, or any, of the following actions: </p>
<ul>
  <li>Immediate, temporary or permanent withdrawal of your right to use our Website. </li>
  <li>Issue of a warning to you. </li>
  <li>Legal proceedings against you for reimbursement of all costs on an indemnity basis (including, but not limited to, reasonable administrative and legal costs) resulting from the breach. </li>
  <li>Further legal action against you. </li>
  <li>Disclosure of such information to law enforcement authorities as we reasonably feel is necessary. </li>
  <li>Rejection of any refund of a Voucher.</li>
</ul>
<p>&nbsp;</p>
<p>We exclude liability for actions taken by us in response to any breach of these Terms and Conditions. The responses described in these Terms and Conditions are not limited, and we may take any other action we reasonably deem appropriate. &nbsp;</p>
<p><strong>Links to Third Party Website </strong></p>
<p>The Website contains links (the <strong>&ldquo;Links&rdquo;</strong>) to websites operated by parties other than us (<strong>&ldquo;Third Party Websites&rdquo;</strong>).&nbsp; We do not control Third Party Websites, and are not responsible for their content.&nbsp; The inclusion of the Links does not imply any endorsement of any products, information, materials or services offered or provided on Third Party Websites, or any association with their operators.&nbsp; You are solely responsible for evaluating the integrity of the operators of any Third Party Websites; the accuracy and completeness of any information contained on them, and the value and authenticity of any goods or services offered through them.&nbsp; Note that when you follow a Link to a Third Party Website you are leaving our Website and we give no guarantee that the Third Party Website will be available or is free from bugs, defects or viruses. </p>
<p>We accept no liability with respect to any of the products, information, material or services offered or provided by any persons or other organisations listed on, or linked to, the Website. Should you decide to contract with any such person or organisation, the contract will be directly between you and that other party. We will have no contractual involvement, and will not be liable to you in contract or otherwise for any losses or damages that you suffer in relation to and as a result of products, information, materials or services provided to you by any of these organisations. </p>
<p><strong>General terms</strong></p>
<p>If and in so far as any part or provision of the Terms and Conditions is or becomes void or unenforceable it shall be deemed not to be or never to have been or formed a part of the Terms and Conditions and the remaining provisions of the Terms and Conditions shall continue in full force and effect. </p>
<p>Privacy.<strong>&nbsp; </strong>If we gather any information about you then such information will be gathered and used by us in accordance with our <u>Privacy Policy</u>. </p>
<p>Force Majeure.&nbsp; We shall not be liable to pay any compensation where the performance or prompt performance of our contractual obligations is prevented by &lsquo;force majeure&rsquo;. In these Terms and Conditions &lsquo;force majeure&rsquo; means any event which we could not foresee, even with due care.&nbsp; Such events may include, but are not limited to, war, threat of war, riots or civil commotion, hostilities, strikes or other industrial disputes, natural disasters, fire, acts of God, terrorist activities, epidemics, adverse&nbsp; weather conditions, government action, political unrest or other events outside our reasonable control.</p>
<p>Waiver.&nbsp; No waiver by us of any breach by you of any of these Terms and Conditions shall constitute a waiver of any other breach, and no failure to exercise or partial exercise by us of any remedy shall constitute a waiver of the right subsequently to exercise that or any other remedy in part or in full. </p>
<p>Law and Jurisdiction.&nbsp; These Terms and Conditions shall be governed by and construed in accordance with the laws of England and Wales.&nbsp; You hereby agree that the English Courts and the courts in the relevant part of the United Kingdom in which you live (but no other courts) shall have jurisdiction to hear disputes.</p>
<p>STV.TV Limited is company incorporated in Scotland with Company Number SC185265 and with VAT registration number GB612439558</p>
<p><strong>If you have any queries about these Terms and Conditions, you may contact us at <a href="mailto:dealsupport@stv.tv">dealsupport@stv.tv</a> or, write to STV Daily Deals, Pacific Quay, Glasgow, G51 1PQ.</strong></p>
<p><strong><em>Version: August 2011</em></strong></p>

  </div>
</div>
