<div id="footer">
    <div id="site_map">
<h4>Site Map</h4>


 
  
  <dl>
<dt>NEWS</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://americustimesrecorder.com/local" title="Local News">Local News</a>
        </li>
        <li>
        •
          <a href="http://americustimesrecorder.com/sports" title="Local Sports">Local Sports</a>
        </li>
        <li>
        •
          <a href="http://americustimesrecorder.com/columns" title="Local Columnists">Local Columnists</a>
        </li>
        <li>
        •
          <a href="http://americustimesrecorder.com/obituaries" title="Obituaries">Obituaries</a>
        </li>
        <li>
        •
          <a href="http://americustimesrecorder.com/education" title="Area Beat">Area Beat</a>
        </li>
        <li>
        •
          <a href="http://americustimesrecorder.com/opinion" title="Opinions">Opinions</a>
        </li>
        <li>
        •
          <a href="http://americustimesrecorder.com/yourcommunity" title="Your Community FYI">Your Community FYI</a>
        </li>
        <li>
        •
          <a href="http://americustimesrecorder.com/oncampus" title="On Campus">On Campus</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>MORE</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://valdosta.sgaonline.com/celebrations-americus/" title="Celebrations">Celebrations</a>
        </li>
        <li>
        •
          <a href="https://americustimesrecorder.classifieds.cnhi.zope.net/" title="Buy a classified">Buy a classified</a>
        </li>
        <li>
        •
          <a href="http://www.print2webcorp.com/mkt/sgnf/americus/Classified.aspx" title="Classifieds">Classifieds</a>
        </li>
        <li>
        •
          <a href="http://print.coupons.com/alink.asp?go=13629nl4510" title="Free Coupons and Recipes">Free Coupons and Recipes</a>
        </li>
        <li>
        •
          <a href="http://z4m.cnhi.zope.net/debug/americustimesrecorder/localprintadvertising" title="Local Print Advertising Online">Local Print Advertising Online</a>
        </li>
        <li>
        •
          <a href="https://secure.sgaonline.com/store/atrveterans/index.php" title="A Tribute to Our Troops">A Tribute to Our Troops</a>
        </li>
        <li>
        •
          <a href="http://www.epageflip.net/title/6009" title="Local TV Listings">Local TV Listings</a>
        </li>
        <li>
        •
          <a href="http://americustimesrecorder.com/real-estate-transactions" title="Real estate transactions">Real estate transactions</a>
        </li>
        <li>
        •
          <a href="http://americustimesrecorder.com/marriages-divorces" title="Marriages / Divorces">Marriages / Divorces</a>
        </li>
        <li>
        •
          <a href="http://americustimesrecorder.com/steppin-out" title="Steppin’ Out">Steppin’ Out</a>
        </li>
        <li>
        •
          <a href="http://americustimesrecorder.com/church-briefs" title="Church Briefs">Church Briefs</a>
        </li>
        <li>
        •
          <a href="http://americustimesrecorder.com/special-sections" title="Special Sections">Special Sections</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>SUBMIT</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://americustimesrecorder.com/lettertotheeditor" title="Letter to the editor">Letter to the editor</a>
        </li>
        <li>
        •
          <a href="https://americustimesrecorder.classifieds.cnhi.zope.net/" title="Classified">Classified</a>
        </li>
        <li>
        •
          <a href="http://sgaonline.sgaonline.com/obit/" title="Obituary">Obituary</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>SUBSCRIBE</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="https://secure.sgaonline.com/subscribe/americustimesrecorder/index.php" title="Subscribe Today">Subscribe Today</a>
        </li>
        <li>
        •
          <a href="http://americustimesrecorder.newspaperdirect.com/epaper/viewer.aspx" title="Digital Edition">Digital Edition</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>OTHER PUBLICATIONS</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://cordeledispatch.com/" title="Cordele Dispatch">Cordele Dispatch</a>
        </li>
        <li>
        •
          <a href="http://moultrieobserver.com/" title="The Moultrie Observer">The Moultrie Observer</a>
        </li>
        <li>
        •
          <a href="http://suwanneedemocrat.com/" title="Suwannee Democrat">Suwannee Democrat</a>
        </li>
        <li>
        •
          <a href="http://timesenterprise.com/" title="Thomasville Times Enterprise">Thomasville Times Enterprise</a>
        </li>
        <li>
        •
          <a href="http://tiftongazette.com/" title="Tifton Gazette">Tifton Gazette</a>
        </li>
        <li>
        •
          <a href="http://valdostadailytimes.com/" title="The Valdosta Daily Times">The Valdosta Daily Times</a>
        </li>
      </ul>
</dd>
  
</dl>
</div>
    <div id="contact_us">
<h4>
<a href="http://americustimesrecorder.com/contactus">Contact Us</a>
</h4>
<dl>
<dt>


 General

</dt>
<dd>
(229) 924-2751      
</dd>
</dl>
<dl>
<dt>


 Publisher

</dt>
<dd>
(229) 924-2751 ext.1516      
</dd>
</dl>
<dl>
<dt>


 Ad Supervisor

</dt>
<dd>
(229) 924-2751 ext.1518      
</dd>
</dl>
<dl>
<dt>


 Classified

</dt>
<dd>
(229) 924-2751 ext.1510      
</dd>
</dl>
<dl>
<dt>


 Circulation Director

</dt>
<dd>
(229) 924-2751 ext.1515      
</dd>
</dl>
<dl>
<dt>


 Web Developer

</dt>
<dd>
(229) 269-4012      
</dd>
</dl>
</div>
    <div id="footer_bottom">
      <div class="footer_block">
        <div id="footer_ad" class="noprint">
          <a href="http://www.rtjgolf.com" title="RTJ Golf">
            <img alt="" src="http://static.cnhi.zope.net/cwible//images/golf.jpg"></a>
        </div>
        <div id="copyright">
    

    <p>
      <a href="http://www.cnhi.com/newspapers/">© 2011 Community Newspaper Holdings, Inc.</a> · 
      <a href="http://www.cnhi-can.com">CNHI Classified Advertising Network</a> · 
      <a href="http://cnhins.com">CNHI News Service</a>
      <br>
      Associated Press content © 2011. All rights reserved. AP content may not be published, 
      broadcast, rewritten or redistributed.
      <br>
      Our site is powered by <a href="http://zope.com">Zope</a>. Some parts of our site may require 
      you to <a href="http://www.macromedia.com/go/getflashplayer">download the Flash Player Plugin</a>.
      <br><a href="http://americustimesrecorder.com/privacy">Privacy Policy</a> |
      <a href="http://www.apnewsregistry.com/privacycenter/servicepolicy.aspx" title="AP News Registry">AP News Registry privacy policy</a><br><a target="_blank" href="http://adindex.neighborsink.com/sites/americustimesrecorder.html">Advertiser Index</a>
    </p>
</div>
      </div>
      <div id="evie_bigad" class="footer_block">
        <script type="text/javascript">GA_googleFillSlot('eviesays_widget_americustimesrecorder_300x250');</script>
</div>
      <div id="eviesays_thirty_day" class="footer_block">
        <script type="text/javascript">
          /* <![CDATA[ */
          eviesays.widget.baseURL = 'http://americustimesrecorder.eviesays.com';
          eviesays.includeCSS(eviesays.widget.settings.base_url + '/version/cnhi/style/widget_v1.0.css');
          eviesays.widget.settings.setPartnerCode('cnhi');
          eviesays.widget.settings.where = 'Americus,GA';
          eviesays.widget.settings.restaurants_url = 'http://local.americustimesrecorder.com/search.pg?q=restaurant&z=Americus%2C';
          /* ]]> */</script><div class="evie_widget_content">
                  <script type="text/javascript">
                    /* <![CDATA[ */
                        eviesays.widget.module.thirty_day();
                    /* ]]> */
                  </script><script type="text/javascript">
                    /* <![CDATA[ */
                    eviesays.widget.module.tab_links(null,{'more_events':1,'movies':1,'restaurants':eviesays.widget.settings.restaurants_url ? eviesays.widget.settings.restaurants_url : 1,'tickets':1});
                    /* ]]> */
                  </script><div class="evie_powered">
                      <script type="text/javascript">
                        /* <![CDATA[ */
                        document.write("<" + "a href=\""+eviesays.widget.settings.base_url+"/submit.html\" class=\"evie_add\">+Add Event<" + "/a>");
                        /* ]]> */
                      </script><a href="http://www.eviesays.com" class="evie_powered">Events by <span>evie</span>says.com</a>
          </div>
        </div>
      </div>
    </div>
    <a href="#body" title="Back to top" class="top_link noprint">Back to top</a>
    <p class="address">
      Americus Times-Recorder, Americus, Georgia
      P.O. BOX 1247
      Americus GA 
      31709
    </p>
  </div>
