<div id="footer">
    <div id="site_map">
<h4>Site Map</h4>


 
  
  <dl>
<dt>News</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://www.andovertownsman.com/local" title="Local News">Local News</a>
        </li>
        <li>
        •
          <a href="http://www.andovertownsman.com/sports" title="Sports">Sports</a>
        </li>
        <li>
        •
          <a href="http://www.andovertownsman.com/arts" title="Arts/Entertainment">Arts/Entertainment</a>
        </li>
        <li>
        •
          <a href="http://www.andovertownsman.com/education" title="Education">Education</a>
        </li>
        <li>
        •
          <a href="http://www.andovertownsman.com/obituaries" title="Obituaries">Obituaries</a>
        </li>
        <li>
        •
          <a href="http://www.andovertownsman.com/opinion" title="Opinion">Opinion</a>
        </li>
        <li>
        •
          <a href="http://www.andovertownsman.com/sports" title="Sports">Sports</a>
        </li>
        <li>
        •
          <a href="http://www.andovertownsman.com/townspeople" title="Townspeople">Townspeople</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>About us</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://www.andovertownsman.com/aboutus" title="About us">About us</a>
        </li>
        <li>
        •
          <a href="http://www.andovertownsman.com/contactus" title="Contact Our Staff">Contact Our Staff</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Advertise with Us</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://addesk.eagletribune.com" title="Submit an Ad">Submit an Ad</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>FAQ</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://www.andovertownsman.com/faq" title="FAQ">FAQ</a>
        </li>
        <li>
        •
          <a href="http://www.andovertownsman.com/pressreleases" title="Press Releases">Press Releases</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Links</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://archive.andovertownsman.com/news/archive.html" title="Archives before March 29, 2007">Archives before March 29, 2007</a>
        </li>
        <li>
        •
          <a href="http://www.andovertownsman.com/andovermunicipalinfo" title="Andover Municipal Information">Andover Municipal Information</a>
        </li>
        <li>
        •
          <a href="http://www.andovertownsman.com/communitylinks" title="Community Links">Community Links</a>
        </li>
        <li>
        •
          <a href="http://andovertownsman.com/q" title="Qpon powerful deals">Qpon powerful deals</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Classifieds</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="https://youradyourway.classifiedsnorth.com/northandover/" title="Place an Ad">Place an Ad</a>
        </li>
        <li>
        •
          <a href="http://andovertownsman.autoconx.com" title="Automotive">Automotive</a>
        </li>
        <li>
        •
          <a href="http://andovertownsman.com/zillow" title="Real Estate">Real Estate</a>
        </li>
        <li>
        •
          <a href="http://www.andovertownsman.com/monster" title="Jobs">Jobs</a>
        </li>
        <li>
        •
          <a href="http://www.andovertownsman.com/classifieds" title="Classifieds">Classifieds</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Subscriber Services</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://www.andovertownsman.com/subscribe" title="Home Delivery">Home Delivery</a>
        </li>
        <li>
        •
          <a href="http://www.andovertownsman.com/wheretobuypaper" title="Where To Buy The Paper">Where To Buy The Paper</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Our Publications</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://www.theandoversmagazine.com" title="The Andovers Magazine">The Andovers Magazine</a>
        </li>
        <li>
        •
          <a href="http://www.eagletribune.com" title="The Eagle-Tribune">The Eagle-Tribune</a>
        </li>
        <li>
        •
          <a href="http://www.salemnews.com" title="Salem News">Salem News</a>
        </li>
        <li>
        •
          <a href="http://www.newburyportnews.com" title="Daily News of Newburyport ">Daily News of Newburyport </a>
        </li>
        <li>
        •
          <a href="http://www.gloucestertimes.com" title="Gloucester Daily Times">Gloucester Daily Times</a>
        </li>
        <li>
        •
          <a href="http://www.carriagetownenews.com" title="Carriage Towne News">Carriage Towne News</a>
        </li>
        <li>
        •
          <a href="http://www.derrynews.com" title="Derry News">Derry News</a>
        </li>
        <li>
        •
          <a href="http://www.hgazette.com" title="Haverhill Gazette">Haverhill Gazette</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Blogs</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://blogs.eagletribune.com" title="Blogs">Blogs</a>
        </li>
      </ul>
</dd>
  
</dl>
</div>
    <div id="contact_us">
<h4>
<a href="http://www.andovertownsman.com/contactus">Contact Us</a>
</h4>
<dl>
<dt>


 Main Number

</dt>
<dd>
978-475-7000      
</dd>
</dl>
<dl>
<dt>


 Editor Neil Fater

</dt>
<dd>
Ext. 8733      
</dd>
</dl>
<dl>
<dt>


 Advertising

</dt>
<dd>
978-475-7000      
</dd>
</dl>
<dl>
<dt>

<a href="mailto:obits@andovertownsman.com">Obituaries</a>


</dt>
<dd>
800-681-6248      
</dd>
</dl>
</div>
    <div id="footer_bottom">
      <div class="footer_block">
        <div id="footer_ad" class="noprint">
          <a href="http://www.rtjgolf.com" title="RTJ Golf">
            <img alt="" src="http://static.cnhi.zope.net/cwible//images/golf.jpg"></a>
        </div>
        <div id="copyright">
    

    <p>
      <a href="http://www.cnhi.com/newspapers/">© 2011 Community Newspaper Holdings, Inc.</a> · 
      <a href="http://www.cnhi-can.com">CNHI Classified Advertising Network</a> · 
      <a href="http://cnhins.com">CNHI News Service</a>
      <br>
      Associated Press content © 2011. All rights reserved. AP content may not be published, 
      broadcast, rewritten or redistributed.
      <br>
      Our site is powered by <a href="http://zope.com">Zope</a>. Some parts of our site may require 
      you to <a href="http://www.macromedia.com/go/getflashplayer">download the Flash Player Plugin</a>.
      <br><a href="http://www.andovertownsman.com/privacy">Privacy Policy</a> |
      <a href="http://www.apnewsregistry.com/privacycenter/servicepolicy.aspx" title="AP News Registry">AP News Registry privacy policy</a><br><a target="_blank" href="http://adindex.neighborsink.com/sites/andovertownsman.html">Advertiser Index</a>
    </p>
</div>
      </div>
      <if><div id="evie_bigad" class="footer_block">
        <script type="text/javascript">GA_googleFillSlot('zope-300x250-footer-middle');</script>
</div>
      <div id="eviesays_thirty_day" class="footer_block">
        <script type="text/javascript">GA_googleFillSlot('zope-300x250-footer-left');</script>
</div>
      </if>
</div>
    <a href="#body" title="Back to top" class="top_link noprint">Back to top</a>
    <p class="address">
      Andover Townsman, Andover, MA
      33 Chestnut St.
      Andover, MA
      01810
    </p>
  </div>
