<div id="footer">
    <div id="site_map">
<h4>Site Map</h4>


 
  
  <dl>
<dt>Local News</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://coopercrier.com/localnews" title="Local News">Local News</a>
        </li>
        <li>
        •
          <a href="http://coopercrier.com/obituaries" title="Obituaries">Obituaries</a>
        </li>
        <li>
        •
          <a href="http://coopercrier.com/whatshappening" title="What's Happening">What's Happening</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Local Sports</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://coopercrier.com/localsports" title="Local Sports">Local Sports</a>
        </li>
        <li>
        •
          <a href="http://coopercrier.com/cooperstownhawkeyes" title="Cooperstown Hawkeyes">Cooperstown Hawkeyes</a>
        </li>
        <li>
        •
          <a href="http://coopercrier.com/baseballhalloffame" title="Hall of Fame">Hall of Fame</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Opinion</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://coopercrier.com/youropinion" title="Your Opinion">Your Opinion</a>
        </li>
        <li>
        •
          <a href="http://coopercrier.com/ouropinion" title="Our Opinion">Our Opinion</a>
        </li>
        <li>
        •
          <a href="http://www.thedailystaronline.com/forums" title="Forums">Forums</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Columns</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://coopercrier.com/fromflycreek" title="From Fly Creek">From Fly Creek</a>
        </li>
        <li>
        •
          <a href="http://coopercrier.com/otsegohills" title="In These Otsego Hills">In These Otsego Hills</a>
        </li>
        <li>
        •
          <a href="http://coopercrier.com/thiswonderfullife" title="This Wonderful Life">This Wonderful Life</a>
        </li>
        <li>
        •
          <a href="http://coopercrier.com/weatherwatch" title="Weather Watch">Weather Watch</a>
        </li>
        <li>
        •
          <a href="http://coopercrier.com/hawthornhill" title="Hawthorn Hill">Hawthorn Hill</a>
        </li>
        <li>
        •
          <a href="http://coopercrier.com/otsegoherald" title="Otsego Herald">Otsego Herald</a>
        </li>
        <li>
        •
          <a href="http://coopercrier.com/homenotes" title="Home Notes">Home Notes</a>
        </li>
        <li>
        •
          <a href="http://coopercrier.com/booknotes" title="Book Notes">Book Notes</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Multimedia</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://coopercrier.com/photos" title="Photos">Photos</a>
        </li>
        <li>
        •
          <a href="http://coopercrier.com/video" title="Video">Video</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Other Sections</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://coopercrier.com/webextras" title="Web Extras">Web Extras</a>
        </li>
        <li>
        •
          <a href="http://coopercrier.com/specialsections" title="Special Sections">Special Sections</a>
        </li>
        <li>
        •
          <a href="http://www.epageflip.net/title/5812" title="TV Listings">TV Listings</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Social Networks</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://www.facebook.com/pages/coopercriercom/125447427912" title="Facebook">Facebook</a>
        </li>
        <li>
        •
          <a href="http://www.twitter.com/coopercrier" title="Twitter">Twitter</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Subscriber Services</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://cnhionline.com/readercare/subscribe.php?page=subscribe&amp;location_id=cooperstowncrier" title="Subscribe">Subscribe</a>
        </li>
        <li>
        •
          <a href="http://cnhionline.com/readercare/vacation.php?page=vacation&amp;location_id=cooperstowncrier" title="Vacation Stop">Vacation Stop</a>
        </li>
        <li>
        •
          <a href="http://cnhionline.com/readercare/address_change.php?page=address_change&amp;location_id=cooperstowncrier" title="Address Change">Address Change</a>
        </li>
        <li>
        •
          <a href="http://cnhionline.com/readercare/feedback.php?page=feedback&amp;location_id=cooperstowncrier" title="Delivery Feedback">Delivery Feedback</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Submission Forms</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://coopercrier.com/submit_photo" title="Submit a Photo">Submit a Photo</a>
        </li>
        <li>
        •
          <a href="http://coopercrier.com/newstips" title="Submit News Tips">Submit News Tips</a>
        </li>
        <li>
        •
          <a href="http://coopercrier.com/submit_letter" title="Submit Letters to the Editor">Submit Letters to the Editor</a>
        </li>
        <li>
        •
          <a href="http://coopercrier.com/submit_pressrelease" title="Submit a Press Release">Submit a Press Release</a>
        </li>
        <li>
        •
          <a href="http://coopercrier.com/report_websiteproblem" title="Report a Website Problem">Report a Website Problem</a>
        </li>
      </ul>
</dd>
  
</dl>
</div>
    <div id="contact_us">
<h4>
<a href="http://coopercrier.com/contactus">Contact Us</a>
</h4>
<dl>
<dt>


 Main Switchboard

</dt>
<dd>
607-547-9493      
</dd>
</dl>
<dl>
<dt>


 News Tips and Press Releases

</dt>
<dd>
607-547-9493      
</dd>
</dl>
<dl>
<dt>


 Publisher

</dt>
<dd>
607-432-1000 x214      
</dd>
</dl>
<dl>
<dt>


 Webmaster

</dt>
<dd>
607-432-1000 x239      
</dd>
</dl>
</div>
    <div id="footer_bottom">
      <div class="footer_block">
        <div id="footer_ad" class="noprint">
          <a href="http://www.rtjgolf.com" title="RTJ Golf">
            <img alt="" src="http://static.cnhi.zope.net/cwible//images/golf.jpg"></a>
        </div>
        <div id="copyright">
    

    <p>
      <a href="http://www.cnhi.com/newspapers/">© 2011 Community Newspaper Holdings, Inc.</a> · 
      <a href="http://www.cnhi-can.com">CNHI Classified Advertising Network</a> · 
      <a href="http://cnhins.com">CNHI News Service</a>
      <br>
      Associated Press content © 2011. All rights reserved. AP content may not be published, 
      broadcast, rewritten or redistributed.
      <br>
      Our site is powered by <a href="http://zope.com">Zope</a>. Some parts of our site may require 
      you to <a href="http://www.macromedia.com/go/getflashplayer">download the Flash Player Plugin</a>.
      <br><a href="http://coopercrier.com/privacy">Privacy Policy</a> |
      <a href="http://www.apnewsregistry.com/privacycenter/servicepolicy.aspx" title="AP News Registry">AP News Registry privacy policy</a><br><a target="_blank" href="http://adindex.neighborsink.com/sites/cooperstowncrier.html">Advertiser Index</a>
    </p>
</div>
      </div>
      
      
    </div>
    <a href="#body" title="Back to top" class="top_link noprint">Back to top</a>
    <p class="address">
      Cooperstown Crier - Your Source for Hometown News - Cooperstown, Baseball Hall of Fame
      PO Box 1046 
      Cooperstown, NY
      13326
    </p>
  </div>
