<div id="footer">
    <div id="site_map">
<h4>Site Map</h4>


 
  
  <dl>
<dt>NEWS</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://cordeledispatch.com/local" title="Local news">Local news</a>
        </li>
        <li>
        •
          <a href="http://cordeledispatch.com/sports" title="Local Sports">Local Sports</a>
        </li>
        <li>
        •
          <a href="http://cordeledispatch.com/opinion" title="Opinion">Opinion</a>
        </li>
        <li>
        •
          <a href="http://cordeledispatch.com/obituaries" title="Obituaries">Obituaries</a>
        </li>
        <li>
        •
          <a href="http://cordeledispatch.com/onlineextras" title="Online Extras">Online Extras</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>MORE</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://cordeledispatch.com/special-sections" title="Special Sections">Special Sections</a>
        </li>
        <li>
        •
          <a href="http://valdosta.sgaonline.com/celebrations-cordele/" title="Celebrations">Celebrations</a>
        </li>
        <li>
        •
          <a href="http://cordeledispatch.com/entertainment" title="Entertainment">Entertainment</a>
        </li>
        <li>
        •
          <a href="http://cordeledispatch.com/onlineextras" title="Online Extras">Online Extras</a>
        </li>
        <li>
        •
          <a href="http://www.epageflip.net/title/6009" title="Local TV Listings">Local TV Listings</a>
        </li>
        <li>
        •
          <a href="https://cordeledispatch.classifieds.cnhi.zope.net/" title="Buy Classified">Buy Classified</a>
        </li>
        <li>
        •
          <a href="http://www.print2webcorp.com/mkt/sgnf/cordele/Classified.aspx" title="Classifieds">Classifieds</a>
        </li>
        <li>
        •
          <a href="http://print.coupons.com/alink.asp?go=13647sc9510" title="Coupons">Coupons</a>
        </li>
        <li>
        •
          <a href="http://cordeledispatch.com/home-decor-by-me" title="Home Décor by Me">Home Décor by Me</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>SUBMIT</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="https://cordeledispatch.classifieds.cnhi.zope.net/" title="Classified">Classified</a>
        </li>
        <li>
        •
          <a href="http://cordeledispatch.com/lettertotheeditor" title="Letter to the editor">Letter to the editor</a>
        </li>
        <li>
        •
          <a href="http://sgaonline.sgaonline.com/obit/" title="Obit">Obit</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>SUBSCRIBE</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="https://secure.sgaonline.com/subscribe/cordeledispatch/index.php" title="Subscribe Today">Subscribe Today</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>OTHER PUBLICATIONS</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://americustimesrecorder.com/" title="Americus Times Recorder">Americus Times Recorder</a>
        </li>
        <li>
        •
          <a href="http://moultrieobserver.com/" title="The Moultrie Observer">The Moultrie Observer</a>
        </li>
        <li>
        •
          <a href="http://suwanneedemocrat.com/" title="Suwannee Democrat">Suwannee Democrat</a>
        </li>
        <li>
        •
          <a href="http://timesenterprise.com/" title="Thomasville Times Enterprise">Thomasville Times Enterprise</a>
        </li>
        <li>
        •
          <a href="http://tiftongazette.com/" title="Tifton Gazette">Tifton Gazette</a>
        </li>
        <li>
        •
          <a href="http://valdostadailytimes.com/" title="The Valdosta Daily Times">The Valdosta Daily Times</a>
        </li>
      </ul>
</dd>
  
</dl>
</div>
    <div id="contact_us">
<h4>
<a href="http://cordeledispatch.com/contactus">Contact Us</a>
</h4>
<dl>
<dt>


 General

</dt>
<dd>
229-273-2277      
</dd>
</dl>
<dl>
<dt>


 Publisher

</dt>
<dd>
229-273-2277 ext.201      
</dd>
</dl>
<dl>
<dt>


 Advertising Manager

</dt>
<dd>
229-273-2277 ext.203      
</dd>
</dl>
<dl>
<dt>


 News Editor

</dt>
<dd>
229-273-2277 ext.201      
</dd>
</dl>
<dl>
<dt>


 Web Developer

</dt>
<dd>
229-269-4012      
</dd>
</dl>
</div>
    <div id="footer_bottom">
      <div class="footer_block">
        <div id="footer_ad" class="noprint">
          <a href="http://www.rtjgolf.com" title="RTJ Golf">
            <img alt="" src="http://static.cnhi.zope.net/cwible//images/golf.jpg"></a>
        </div>
        <div id="copyright">
    

    <p>
      <a href="http://www.cnhi.com/newspapers/">© 2011 Community Newspaper Holdings, Inc.</a> · 
      <a href="http://www.cnhi-can.com">CNHI Classified Advertising Network</a> · 
      <a href="http://cnhins.com">CNHI News Service</a>
      <br>
      Associated Press content © 2011. All rights reserved. AP content may not be published, 
      broadcast, rewritten or redistributed.
      <br>
      Our site is powered by <a href="http://zope.com">Zope</a>. Some parts of our site may require 
      you to <a href="http://www.macromedia.com/go/getflashplayer">download the Flash Player Plugin</a>.
      <br><a href="http://cordeledispatch.com/privacy">Privacy Policy</a> |
      <a href="http://www.apnewsregistry.com/privacycenter/servicepolicy.aspx" title="AP News Registry">AP News Registry privacy policy</a><br><a target="_blank" href="http://adindex.neighborsink.com/sites/cordeledispatch.html">Advertiser Index</a>
    </p>
</div>
      </div>
      <div id="evie_bigad" class="footer_block">
        <script type="text/javascript">GA_googleFillSlot('eviesays_widget_cordeledispatch_300x250');</script>
</div>
      <div id="eviesays_thirty_day" class="footer_block">
        <script type="text/javascript">
          /* <![CDATA[ */
          eviesays.widget.baseURL = 'http://cordeledispatch.eviesays.com';
          eviesays.includeCSS(eviesays.widget.settings.base_url + '/version/cnhi/style/widget_v1.0.css');
          eviesays.widget.settings.setPartnerCode('cnhi');
          eviesays.widget.settings.where = 'Cordele,GA';
          eviesays.widget.settings.restaurants_url = 'http://local.cordeledispatch.com/search.pg?q=restaurant&z=Cordele%2C';
          /* ]]> */</script><div class="evie_widget_content">
                  <script type="text/javascript">
                    /* <![CDATA[ */
                        eviesays.widget.module.thirty_day();
                    /* ]]> */
                  </script><script type="text/javascript">
                    /* <![CDATA[ */
                    eviesays.widget.module.tab_links(null,{'more_events':1,'movies':1,'restaurants':eviesays.widget.settings.restaurants_url ? eviesays.widget.settings.restaurants_url : 1,'tickets':1});
                    /* ]]> */
                  </script><div class="evie_powered">
                      <script type="text/javascript">
                        /* <![CDATA[ */
                        document.write("<" + "a href=\""+eviesays.widget.settings.base_url+"/submit.html\" class=\"evie_add\">+Add Event<" + "/a>");
                        /* ]]> */
                      </script><a href="http://www.eviesays.com" class="evie_powered">Events by <span>evie</span>says.com</a>
          </div>
        </div>
      </div>
    </div>
    <a href="#body" title="Back to top" class="top_link noprint">Back to top</a>
    <p class="address">
      Cordele Dispatch, Cordele, GA
      306 13th Avenue West
      Cordele, GA
      31015
    </p>
  </div>
