<div id="footer">
    <div id="site_map">
<h4>Site Map</h4>


 
  
  <dl>
<dt>News</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://crossville-chronicle.com/local" title="Area News">Area News</a>
        </li>
        <li>
        •
          <a href="http://crossville-chronicle.com/opinion" title="Opinion">Opinion</a>
        </li>
        <li>
        •
          <a href="http://crossville-chronicle.com/gladesun" title="Glade Sun">Glade Sun</a>
        </li>
        <li>
        •
          <a href="http://crossville-chronicle.com/laketansi" title="Tansi Smoke Signals">Tansi Smoke Signals</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Sports</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://crossville-chronicle.com/localsports" title="Area Sports">Area Sports</a>
        </li>
        <li>
        •
          <a href="http://crossville-chronicle.com/sportscolumns" title="Sports Columns">Sports Columns</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Obituaries</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://crossville-chronicle.com/obituaries" title="Current obituaries">Current obituaries</a>
        </li>
        <li>
        •
          <a href="http://crossville-chronicle.com/funeralnotices" title="Funeral notices">Funeral notices</a>
        </li>
        <li>
        •
          <a href="http://crossville-chronicle.com/obituaryarchives" title="Obituary archives">Obituary archives</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Features</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://crossville-chronicle.com/features" title="Lifestyles">Lifestyles</a>
        </li>
        <li>
        •
          <a href="http://crossville-chronicle.com/celebrations" title="Celebrations">Celebrations</a>
        </li>
        <li>
        •
          <a href="http://crossville-chronicle.com/things2do" title="Things To Do">Things To Do</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Education</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://crossville-chronicle.com/schools" title="School News">School News</a>
        </li>
        <li>
        •
          <a href="http://crossville-chronicle.com/schoollunchmenus" title="School lunch menus">School lunch menus</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Classifieds</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://crossvillechronicle.classifieds.neighborsink.com/" title="Search classifieds">Search classifieds</a>
        </li>
        <li>
        •
          <a href="https://crossville-chronicle.classifieds.cnhi.zope.net/" title="Buy a classified">Buy a classified</a>
        </li>
        <li>
        •
          <a href="http://www.tnpublicnotice.com/" title="TN State Public Notices">TN State Public Notices</a>
        </li>
      </ul>
</dd>
  
</dl>
</div>
    <div id="contact_us">
<h4>
<a href="http://crossville-chronicle.com/contactus">Contact Us</a>
</h4>
<dl>
<dt>


 Chronicle office

</dt>
<dd>
931-484-5145      
</dd>
</dl>
<dl>
<dt>


 Circulation Department

</dt>
<dd>
931-484-5145 ext. 103      
</dd>
</dl>
<dl>
<dt>


 Fax number

</dt>
<dd>
931-456-7683      
</dd>
</dl>
</div>
    <div id="footer_bottom">
      <div class="footer_block">
        <div id="footer_ad" class="noprint">
          <a href="http://www.rtjgolf.com" title="RTJ Golf">
            <img alt="" src="http://static.cnhi.zope.net/cwible//images/golf.jpg"></a>
        </div>
        <div id="copyright">
    

    <p>
      <a href="http://www.cnhi.com/newspapers/">© 2011 Community Newspaper Holdings, Inc.</a> · 
      <a href="http://www.cnhi-can.com">CNHI Classified Advertising Network</a> · 
      <a href="http://cnhins.com">CNHI News Service</a>
      <br>
      Associated Press content © 2011. All rights reserved. AP content may not be published, 
      broadcast, rewritten or redistributed.
      <br>
      Our site is powered by <a href="http://zope.com">Zope</a>. Some parts of our site may require 
      you to <a href="http://www.macromedia.com/go/getflashplayer">download the Flash Player Plugin</a>.
      <br><a href="http://crossville-chronicle.com/privacy">Privacy Policy</a> |
      <a href="http://www.apnewsregistry.com/privacycenter/servicepolicy.aspx" title="AP News Registry">AP News Registry privacy policy</a><br><a target="_blank" href="http://adindex.neighborsink.com/sites/crossvillechronicle.html">Advertiser Index</a>
    </p>
</div>
      </div>
      <div id="evie_bigad" class="footer_block">
        <script type="text/javascript">GA_googleFillSlot('eviesays_widget_crossvillechronicle_300x250');</script>
</div>
      <div id="eviesays_thirty_day" class="footer_block">
        <script type="text/javascript">
          /* <![CDATA[ */
          eviesays.widget.baseURL = 'http://crossvillechronicle.eviesays.com';
          eviesays.includeCSS(eviesays.widget.settings.base_url + '/version/cnhi/style/widget_v1.0.css');
          eviesays.widget.settings.setPartnerCode('cnhi');
          eviesays.widget.settings.where = 'Crossville,TN';
          eviesays.widget.settings.restaurants_url = 'http://local.crossvillechronicle.com/search.pg?q=restaurant&z=%2C';
          /* ]]> */</script><div class="evie_widget_content">
                  <script type="text/javascript">
                    /* <![CDATA[ */
                        eviesays.widget.module.thirty_day();
                    /* ]]> */
                  </script><script type="text/javascript">
                    /* <![CDATA[ */
                    eviesays.widget.module.tab_links(null,{'more_events':1,'movies':1,'restaurants':eviesays.widget.settings.restaurants_url ? eviesays.widget.settings.restaurants_url : 1,'tickets':1});
                    /* ]]> */
                  </script><div class="evie_powered">
                      <script type="text/javascript">
                        /* <![CDATA[ */
                        document.write("<" + "a href=\""+eviesays.widget.settings.base_url+"/submit.html\" class=\"evie_add\">+Add Event<" + "/a>");
                        /* ]]> */
                      </script><a href="http://www.eviesays.com" class="evie_powered">Events by <span>evie</span>says.com</a>
          </div>
        </div>
      </div>
    </div>
    <a href="#body" title="Back to top" class="top_link noprint">Back to top</a>
    <p class="address">
      Crossville Chronicle, Crossville, TN
      125 West Ave.
      Crossville, TN
      38555
    </p>
  </div>
