<div id="footer">
    <div id="site_map">
<h4>Site Map</h4>


 
  
  <dl>
<dt>News</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://www.cullmantimes.com/local" title="Top News">Top News</a>
        </li>
        <li>
        •
          <a href="http://www.cullmantimes.com/obituaries" title="Obituaries">Obituaries</a>
        </li>
        <li>
        •
          <a href="http://www.cullmantimes.com/opinion" title="Opinion">Opinion</a>
        </li>
        <li>
        •
          <a href="http://www.cullmantimes.com/localsports" title="Local Sports">Local Sports</a>
        </li>
        <li>
        •
          <a href="http://www.cullmantimes.com/specialsections" title="Special Sections">Special Sections</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Archived Local Sports</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://www.cullmantimes.com/localsports" title="Local Sports">Local Sports</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Classifieds</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://cullmantimes.classifieds.neighborsink.com/" title="Classified Ads">Classified Ads</a>
        </li>
        <li>
        •
          <a href="https://cullmantimes.classifieds.cnhi.zope.net/" title="Buy a Classified">Buy a Classified</a>
        </li>
        <li>
        •
          <a href="http://classifieds.cnhi.com/categoryadlist?publishername=cullmantimes&amp;adnumkey=495&amp;categoryname=HOMES%20FOR%20SALE" title="Homes">Homes</a>
        </li>
        <li>
        •
          <a href="http://cullmantimes.autoconx.com/" title="Wheels">Wheels</a>
        </li>
        <li>
        •
          <a href="http://www.alabamalegals.com/" title="Legals">Legals</a>
        </li>
        <li>
        •
          <a href="http://www.cullmantimes.com/monster" title="Monster Jobs">Monster Jobs</a>
        </li>
        <li>
        •
          <a href="http://www.cullmantimes.com/zillow" title="Zillow Real Estate">Zillow Real Estate</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Extras</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://print.coupons.com/couponweb/Offers.aspx?pid=13703&amp;zid=bk89&amp;nid=10&amp;bid=alk0921210924ac7940b498213" title="Free Coupons">Free Coupons</a>
        </li>
      </ul>
</dd>
  
</dl>
</div>
    <div id="contact_us">
<h4>
<a href="http://www.cullmantimes.com/contactus">Contact Us</a>
</h4>
<dl>
<dt>


 Main Number

</dt>
<dd>
(256) 734-2131      
</dd>
</dl>
<dl>
<dt>

<a href="mailto:smazzara@cullmantimes.com">Circulation Department</a>


</dt>
<dd>
256-734-2131, ext. 285      
</dd>
</dl>
<dl>
<dt>


 Front Desk Fax

</dt>
<dd>
(256) 737-1006      
</dd>
</dl>
<dl>
<dt>


 Newsroom Fax

</dt>
<dd>
(256) 736-2972      
</dd>
</dl>
<dl>
<dt>


 Ad Design Fax

</dt>
<dd>
(256) 737-1012      
</dd>
</dl>
</div>
    <div id="footer_bottom">
      <div class="footer_block">
        <div id="footer_ad" class="noprint">
          <a href="http://www.rtjgolf.com" title="RTJ Golf">
            <img alt="" src="http://static.cnhi.zope.net/cwible//images/golf.jpg"></a>
        </div>
        <div id="copyright">
    

    <p>
      <a href="http://www.cnhi.com/newspapers/">© 2011 Community Newspaper Holdings, Inc.</a> · 
      <a href="http://www.cnhi-can.com">CNHI Classified Advertising Network</a> · 
      <a href="http://cnhins.com">CNHI News Service</a>
      <br>
      Associated Press content © 2011. All rights reserved. AP content may not be published, 
      broadcast, rewritten or redistributed.
      <br>
      Our site is powered by <a href="http://zope.com">Zope</a>. Some parts of our site may require 
      you to <a href="http://www.macromedia.com/go/getflashplayer">download the Flash Player Plugin</a>.
      <br><a href="http://www.cullmantimes.com/privacy">Privacy Policy</a> |
      <a href="http://www.apnewsregistry.com/privacycenter/servicepolicy.aspx" title="AP News Registry">AP News Registry privacy policy</a><br><a target="_blank" href="http://adindex.neighborsink.com/sites/cullmantimes.html">Advertiser Index</a>
    </p>
</div>
      </div>
      <div id="evie_bigad" class="footer_block">
        <script type="text/javascript">GA_googleFillSlot('eviesays_widget_cullmantimes_300x250');</script>
</div>
      <div id="eviesays_thirty_day" class="footer_block">
        <script type="text/javascript">
          /* <![CDATA[ */
          eviesays.widget.baseURL = 'http://cullmantimes.eviesays.com';
          eviesays.includeCSS(eviesays.widget.settings.base_url + '/version/cnhi/style/widget_v1.0.css');
          eviesays.widget.settings.setPartnerCode('cnhi');
          eviesays.widget.settings.where = 'Cullman,AL';
          eviesays.widget.settings.restaurants_url = 'http://local.cullmantimes.com/search.pg?q=restaurant&z=Cullman%2CAL';
          /* ]]> */</script><div class="evie_widget_content">
                  <script type="text/javascript">
                    /* <![CDATA[ */
                        eviesays.widget.module.thirty_day();
                    /* ]]> */
                  </script><script type="text/javascript">
                    /* <![CDATA[ */
                    eviesays.widget.module.tab_links(null,{'more_events':1,'movies':1,'restaurants':eviesays.widget.settings.restaurants_url ? eviesays.widget.settings.restaurants_url : 1,'tickets':1});
                    /* ]]> */
                  </script><div class="evie_powered">
                      <script type="text/javascript">
                        /* <![CDATA[ */
                        document.write("<" + "a href=\""+eviesays.widget.settings.base_url+"/submit.html\" class=\"evie_add\">+Add Event<" + "/a>");
                        /* ]]> */
                      </script><a href="http://www.eviesays.com" class="evie_powered">Events by <span>evie</span>says.com</a>
          </div>
        </div>
      </div>
    </div>
    <a href="#body" title="Back to top" class="top_link noprint">Back to top</a>
    <p class="address">
      CullmanTimes.com - Cullman, Alabama
      300 4th Ave. SE
      Cullman, AL
      35055
    </p>
  </div>
