<div id="footer">
    <div id="site_map">
<h4>Site Map</h4>


 
  
  <dl>
<dt>Submit Your News</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://static.cnhi.zope.net/flashpromo/derrynews/files/births.pdf" title="Birth Announcement">Birth Announcement</a>
        </li>
        <li>
        •
          <a href="http://static.cnhi.zope.net/flashpromo/derrynews/files/anniversary.pdf" title="Anniversary">Anniversary</a>
        </li>
        <li>
        •
          <a href="http://static.cnhi.zope.net/flashpromo/derrynews/files/engagements.pdf" title="Engagement">Engagement</a>
        </li>
        <li>
        •
          <a href="http://static.cnhi.zope.net/flashpromo/derrynews/files/wedding.pdf" title="Wedding">Wedding</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Advertising</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://addesk.eagletribune.com/AdDesk/Htmlfiles/Home.jsp%20%20" title="Submit an Ad">Submit an Ad</a>
        </li>
        <li>
        •
          <a href="http://static.cnhi.zope.net/derrynews/files/advertisemap.gif?v2" title="Distribution Area">Distribution Area</a>
        </li>
        <li>
        •
          <a href="http://addesk.eagletribune.com/AdDesk/CustomerService/Deadlines.jsp" title="Deadlines">Deadlines</a>
        </li>
        <li>
        •
          <a href="http://nobmg.com/media/pdfs/NOBMG_Rate_Card.pdf" title="Costs">Costs</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Links</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://www.derrynews.com/links" title="Links of local interest">Links of local interest</a>
        </li>
        <li>
        •
          <a href="http://derrynews.com/q" title="Qpon powerful deals">Qpon powerful deals</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Classifieds</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="https://youradyourway.classifiedsnorth.com/northandover" title="Place an Ad">Place an Ad</a>
        </li>
        <li>
        •
          <a href="http://derrynews.autoconx.com/" title="Auto">Auto</a>
        </li>
        <li>
        •
          <a href="http://northofboston.com/monster" title="Jobs">Jobs</a>
        </li>
        <li>
        •
          <a href="http://derrynews.com/zillow" title="Real Estate">Real Estate</a>
        </li>
        <li>
        •
          <a href="http://www.classifiedsnorth.com/cgi-bin/classifiedconnection/class_home.pl" title="Classified Connection">Classified Connection</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Get the Paper</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://www.derrynews.com/subscribe" title="Subscriber Services">Subscriber Services</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Contact Us</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://www.derrynews.com/contactus" title="Call or stop by">Call or stop by</a>
        </li>
        <li>
        •
          <a href="http://www.derrynews.com/aboutus" title="About Us">About Us</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Our Publications</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://www.eagletribune.com" title="The Eagle-Tribune">The Eagle-Tribune</a>
        </li>
        <li>
        •
          <a href="http://www.salemnews.com/" title="Salem News">Salem News</a>
        </li>
        <li>
        •
          <a href="http://www.newburyportnews.com/" title="Daily News of Newburyport">Daily News of Newburyport</a>
        </li>
        <li>
        •
          <a href="http://www.gloucestertimes.com/" title="Gloucester Daily Times">Gloucester Daily Times</a>
        </li>
        <li>
        •
          <a href="http://www.andovertownsman.com/" title="Andover Townsman">Andover Townsman</a>
        </li>
        <li>
        •
          <a href="http://www.carriagetownenews.com/" title="Carriage Towne News">Carriage Towne News</a>
        </li>
        <li>
        •
          <a href="http://www.hgazette.com/" title="The Haverhill Gazette">The Haverhill Gazette</a>
        </li>
      </ul>
</dd>
  
</dl>
</div>
    <div id="contact_us">
<h4>
<a href="http://www.derrynews.com/contactus">Contact Us</a>
</h4>
<dl>
<dt>


 Main Number

</dt>
<dd>
603-437-7000      
</dd>
</dl>
<dl>
<dt>


 Fax

</dt>
<dd>
603-432-4510      
</dd>
</dl>
<dl>
<dt>


 Publisher

</dt>
<dd>
Al Getler, 978-946-2110      
</dd>
</dl>
<dl>
<dt>


 Editor

</dt>
<dd>
Jo-Anne MacKenzie, 603-421-3875      
</dd>
</dl>
<dl>
<dt>


 Office Manager

</dt>
<dd>
Catherine DiCampo, 603-421-3812      
</dd>
</dl>
<dl>
<dt>


 Circulation

</dt>
<dd>
Bruce Slichko, 603-421-3835      
</dd>
</dl>
<dl>
<dt>

<a href="mailto:cgiannoccaro@derrynews.com">Advertising Manager</a>


</dt>
<dd>
Cathy Giannoccaro, 603-421-3820      
</dd>
</dl>
<dl>
<dt>

<a href="mailto:obits@derrynews.com">Obituaries</a>


</dt>
<dd>
800-681-6248      
</dd>
</dl>
</div>
    <div id="footer_bottom">
      <div class="footer_block">
        <div id="footer_ad" class="noprint">
          <a href="http://www.rtjgolf.com" title="RTJ Golf">
            <img alt="" src="http://static.cnhi.zope.net/cwible//images/golf.jpg"></a>
        </div>
        <div id="copyright">
    

    <p>
      <a href="http://www.cnhi.com/newspapers/">© 2011 Community Newspaper Holdings, Inc.</a> · 
      <a href="http://www.cnhi-can.com">CNHI Classified Advertising Network</a> · 
      <a href="http://cnhins.com">CNHI News Service</a>
      <br>
      Associated Press content © 2011. All rights reserved. AP content may not be published, 
      broadcast, rewritten or redistributed.
      <br>
      Our site is powered by <a href="http://zope.com">Zope</a>. Some parts of our site may require 
      you to <a href="http://www.macromedia.com/go/getflashplayer">download the Flash Player Plugin</a>.
      <br><a href="http://www.derrynews.com/privacy">Privacy Policy</a> |
      <a href="http://www.apnewsregistry.com/privacycenter/servicepolicy.aspx" title="AP News Registry">AP News Registry privacy policy</a><br><a target="_blank" href="http://adindex.neighborsink.com/sites/derrynews.html">Advertiser Index</a>
    </p>
</div>
      </div>
      <if><div id="evie_bigad" class="footer_block">
        <script type="text/javascript">GA_googleFillSlot('zope-300x250-footer-middle');</script>
</div>
      <div id="eviesays_thirty_day" class="footer_block">
        <script type="text/javascript">GA_googleFillSlot('zope-300x250-footer-left');</script>
</div>
      </if>
</div>
    <a href="#body" title="Back to top" class="top_link noprint">Back to top</a>
    <p class="address">
      DerryNews.com, Derry, New Hampshire
      PO Box 307
      Derry, NH
      03038
    </p>
  </div>
