<div id="footer">
    <div id="site_map">
<h4>Site Map</h4>


 
  
  <dl>
<dt>News</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://www.eagletribune.com/local" title="Merrimack Valley">Merrimack Valley</a>
        </li>
        <li>
        •
          <a href="http://www.eagletribune.com/newhampshire" title="New Hampshire">New Hampshire</a>
        </li>
        <li>
        •
          <a href="http://www.eagletribune.com/haverhill" title="Haverhill">Haverhill</a>
        </li>
        <li>
        •
          <a href="http://www.eagletribune.com/worldnational" title="World/Nation">World/Nation</a>
        </li>
        <li>
        •
          <a href="http://www.eagletribune.com/boston" title="Boston and Beyond">Boston and Beyond</a>
        </li>
        <li>
        •
          <a href="http://www.eagletribune.com/business" title="Business">Business</a>
        </li>
        <li>
        •
          <a href="http://www.eagletribune.com/communitynews" title="Community News">Community News</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Sections</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://www.eagletribune.com/opinion" title="Opinion">Opinion</a>
        </li>
        <li>
        •
          <a href="http://www.eagletribune.com/sports" title="Sports">Sports</a>
        </li>
        <li>
        •
          <a href="http://www.eagletribune.com/lifestyle" title="Lifestyle">Lifestyle</a>
        </li>
        <li>
        •
          <a href="http://www.eagletribune.com/obituaries" title="Obituaries">Obituaries</a>
        </li>
        <li>
        •
          <a href="http://blogs.eagletribune.com/home" title="Blogs">Blogs</a>
        </li>
        <li>
        •
          <a href="http://www.eagletribune.com/business" title="Business">Business</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Other Publications</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://www.andovertownsman.com" title="Andover Townsman">Andover Townsman</a>
        </li>
        <li>
        •
          <a href="http://www.haverhillgazette.com" title="Haverhill Gazette">Haverhill Gazette</a>
        </li>
        <li>
        •
          <a href="http://www.carriagetownenews.com" title="Carriage Towne News">Carriage Towne News</a>
        </li>
        <li>
        •
          <a href="http://www.theandoversmagazine.com" title="The Andovers">The Andovers</a>
        </li>
        <li>
        •
          <a href="http://www.derrynews.com" title="Derry News">Derry News</a>
        </li>
        <li>
        •
          <a href="http://www.salemnews.com" title="The Salem News">The Salem News</a>
        </li>
        <li>
        •
          <a href="http://www.gloucestertimes.com" title="Gloucester Times">Gloucester Times</a>
        </li>
        <li>
        •
          <a href="http://www.newburyportnews.com" title="Daily News of Newburyport">Daily News of Newburyport</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Subscriber Services</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://www.classifiedsnorth.com/cgi-bin/classifiedconnection/class_home.pl" title="Classifieds">Classifieds</a>
        </li>
        <li>
        •
          <a href="http://photos.northofboston.com/Newspapers/The-Eagle-Tribune" title="Buy Photos">Buy Photos</a>
        </li>
        <li>
        •
          <a href="http://my.textcaster.com/ServePopup.aspx?id=1556" title="Text Alerts">Text Alerts</a>
        </li>
        <li>
        •
          <a href="http://www.eagletribune.com/contactus#circulation" title="Contact Us">Contact Us</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Resources</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://ma.mypublicnotices.com/PublicNotice.asp?Page=SearchResults&amp;Newspaper=1668" title="Legal Notices">Legal Notices</a>
        </li>
        <li>
        •
          <a href="http://www.masslottery.com/" title="Mass Lottery">Mass Lottery</a>
        </li>
        <li>
        •
          <a href="http://www.nhlottery.org/WinningNumbers.aspx" title="NH Lottery">NH Lottery</a>
        </li>
        <li>
        •
          <a href="http://finance.yahoo.com/" title="Stocks">Stocks</a>
        </li>
        <li>
        •
          <a href="http://www.eagletribune.com/mobile" title="Mobile Site">Mobile Site</a>
        </li>
        <li>
        •
          <a href="http://eagletribune.com/q" title="Qpon powerful deals">Qpon powerful deals</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Advertising</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://addesk.eagletribune.com/AdDesk/Htmlfiles/Home.jsp" title="Submit an Ad">Submit an Ad</a>
        </li>
        <li>
        •
          <a href="http://www.eagletribune.com/advertise" title="Advertise with us">Advertise with us</a>
        </li>
        <li>
        •
          <a href="http://ads.eagletribune.com/webads101/%20" title="Web Ads 101">Web Ads 101</a>
        </li>
      </ul>
</dd>
  
</dl>
</div>
    <div id="contact_us">
<h4>
<a href="http://www.eagletribune.com/contactus">Contact Us</a>
</h4>
<dl>
<dt>

<a href="http://z4m.cnhi.zope.net/debug/eagletribune/contactus">Newsroom</a>


</dt>
<dd>
978-946-2000      
</dd>
</dl>
<dl>
<dt>

<a href="http://www.eagletribune.com/advertise">Advertising</a>


</dt>
<dd>
978-946-2000      
</dd>
</dl>
<dl>
<dt>

<a href="http://www.eagletribune.com/contactus#Circulation">Circulation</a>


</dt>
<dd>
800-836-7800      
</dd>
</dl>
<dl>
<dt>

<a href="https://youradyourway.classifiedsnorth.com">Classified</a>


</dt>
<dd>
978-946-2300      
</dd>
</dl>
<dl>
<dt>

<a href="mailto:obits@eagletribune.com">Obituaries</a>


</dt>
<dd>
800-681-6248      
</dd>
</dl>
<dl>
<dt>

<a href="mailto:celebrations@eagletribune.com">Celebrations</a>


</dt>
<dd>
877-246-1000      
</dd>
</dl>
</div>
    <div id="footer_bottom">
      <div class="footer_block">
        <div id="footer_ad" class="noprint">
          <a href="http://www.rtjgolf.com" title="RTJ Golf">
            <img alt="" src="http://static.cnhi.zope.net/cwible//images/golf.jpg"></a>
        </div>
        <div id="copyright">
    

    <p>
      <a href="http://www.cnhi.com/newspapers/">© 2011 Community Newspaper Holdings, Inc.</a> · 
      <a href="http://www.cnhi-can.com">CNHI Classified Advertising Network</a> · 
      <a href="http://cnhins.com">CNHI News Service</a>
      <br>
      Associated Press content © 2011. All rights reserved. AP content may not be published, 
      broadcast, rewritten or redistributed.
      <br>
      Our site is powered by <a href="http://zope.com">Zope</a>. Some parts of our site may require 
      you to <a href="http://www.macromedia.com/go/getflashplayer">download the Flash Player Plugin</a>.
      <br><a href="http://www.eagletribune.com/privacy">Privacy Policy</a> |
      <a href="http://www.apnewsregistry.com/privacycenter/servicepolicy.aspx" title="AP News Registry">AP News Registry privacy policy</a><br><a target="_blank" href="http://adindex.neighborsink.com/sites/eagletribune.html">Advertiser Index</a>
    </p>
</div>
      </div>
      <if><div id="evie_bigad" class="footer_block">
        <script type="text/javascript">GA_googleFillSlot('zope-300x250-footer-middle');</script>
</div>
      <div id="eviesays_thirty_day" class="footer_block">
        <script type="text/javascript">GA_googleFillSlot('zope-300x250-footer-left');</script>
</div>
      </if>
</div>
    <a href="#body" title="Back to top" class="top_link noprint">Back to top</a>
    <p class="address">
      EagleTribune.com, North Andover, MA
      100 Turnpike St.
      North Andover, MA
      01845
    </p>
  </div>
