<div id="footer">
    <div id="site_map">
<h4>Site Map</h4>


 
  
  <dl>
<dt>2011 Reader's Choice</dt>
  
</dl>
<dl>
<dt>Local news</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://enidnews.com/bullying" title="Bullying: See It, Stop It">Bullying: See It, Stop It</a>
        </li>
        <li>
        •
          <a href="http://enidnews.com/election2010" title="Election 2010">Election 2010</a>
        </li>
        <li>
        •
          <a href="http://enidnews.com/state" title="State, national, world">State, national, world</a>
        </li>
        <li>
        •
          <a href="http://enidnews.com/dailyrecord" title="Daily record">Daily record</a>
        </li>
        <li>
        •
          <a href="http://enidnews.com/crimereport" title="Crime Reports">Crime Reports</a>
        </li>
        <li>
        •
          <a href="http://enidnews.com/education" title="Education">Education</a>
        </li>
        <li>
        •
          <a href="http://enidnews.com/enidnewstv" title="enidnews tv">enidnews tv</a>
        </li>
        <li>
        •
          <a href="http://enidnews.com/pollinformation" title="Poll data">Poll data</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Homepage</dt>
  
</dl>
<dl>
<dt>Sports</dt>
  
</dl>
<dl>
<dt>NJCAA Division II World Series</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://davidallenballpark.com/" title="David Allen Ballpark">David Allen Ballpark</a>
        </li>
        <li>
        •
          <a href="http://www.njcaa.org/" title="NJCAA official site">NJCAA official site</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Features</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://enidnews.com/agnews" title="Ag">Ag</a>
        </li>
        <li>
        •
          <a href="http://enidnews.com/church" title="Church">Church</a>
        </li>
        <li>
        •
          <a href="http://enidnews.com/business" title="Business">Business</a>
        </li>
        <li>
        •
          <a href="http://enidnews.com/food" title="Food">Food</a>
        </li>
        <li>
        •
          <a href="http://enidnews.com/homefeatures" title="Home features">Home features</a>
        </li>
        <li>
        •
          <a href="http://enidnews.com/anniversaries" title="Anniversaries">Anniversaries</a>
        </li>
        <li>
        •
          <a href="http://enidnews.com/birthday" title="Birthday Announcements">Birthday Announcements</a>
        </li>
        <li>
        •
          <a href="http://enidnews.com/births" title="Births">Births</a>
        </li>
        <li>
        •
          <a href="http://enidnews.com/engagements" title="Engagements">Engagements</a>
        </li>
        <li>
        •
          <a href="http://enidnews.com/weddings" title="Weddings">Weddings</a>
        </li>
        <li>
        •
          <a href="http://enidnews.com/entertainment" title="Entertainment">Entertainment</a>
        </li>
        <li>
        •
          <a href="http://enidnews.com/boyscouts" title="Boy Scouts ">Boy Scouts </a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Opinion</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://enidnews.com/cindyblog" title="Blog - Cindy's Corner">Blog - Cindy's Corner</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Blogs</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://enidnews.com/cindyblog" title="Cindy's Corner">Cindy's Corner</a>
        </li>
        <li>
        •
          <a href="http://enidnews.com/toomuchtolose" title="Too Much To Lose">Too Much To Lose</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Forums</dt>
  
</dl>
<dl>
<dt>Obituaries</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://enidnews.com/deathnotices" title="Obituary Archives">Obituary Archives</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Progress 2011</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://enidnews.com/commserv2011" title="Community Service 2011">Community Service 2011</a>
        </li>
        <li>
        •
          <a href="http://enidnews.com/faith2011" title="Faith 2011">Faith 2011</a>
        </li>
        <li>
        •
          <a href="http://enidnews.com/family2011" title="Family 2011">Family 2011</a>
        </li>
        <li>
        •
          <a href="http://enidnews.com/agoil2011" title="Agriculture and Energy 2011">Agriculture and Energy 2011</a>
        </li>
        <li>
        •
          <a href="http://enidnews.com/garfco2011" title="Garfield County 2011">Garfield County 2011</a>
        </li>
        <li>
        •
          <a href="http://enidnews.com/nwok22011" title="Northwest Oklahoma 2 2011">Northwest Oklahoma 2 2011</a>
        </li>
        <li>
        •
          <a href="http://enidnews.com/nwok1" title="Northwest Oklahoma 1 2011 ">Northwest Oklahoma 1 2011 </a>
        </li>
        <li>
        •
          <a href="http://enidnews.com/education2011" title="Education 2011">Education 2011</a>
        </li>
        <li>
        •
          <a href="http://enidnews.com/healthwellness2011" title="Health and Wellness 2011">Health and Wellness 2011</a>
        </li>
        <li>
        •
          <a href="http://enidnews.com/progress2011ed" title="Economic Development 2011">Economic Development 2011</a>
        </li>
        <li>
        •
          <a href="http://enidnews.com/nwok1" title="Northwest Oklahoma 1 2011 ">Northwest Oklahoma 1 2011 </a>
        </li>
        <li>
        •
          <a href="http://enidnews.com/nwok1" title="Northwest Oklahoma 1 2011 ">Northwest Oklahoma 1 2011 </a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Advertising</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://www.oklahomanotices.com/" title="Public notices">Public notices</a>
        </li>
        <li>
        •
          <a href="http://www.zip2save.com/" title="Coupons">Coupons</a>
        </li>
        <li>
        •
          <a href="http://enidnews.com/seasonalcontent" title="Seasonal Content">Seasonal Content</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Enid Real Estate Magazine</dt>
  
</dl>
<dl>
<dt>Classifieds</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://enidnews.com/monster" title="Jobs">Jobs</a>
        </li>
        <li>
        •
          <a href="http://enidnews.com/zillow" title="Zillow Real Estate">Zillow Real Estate</a>
        </li>
        <li>
        •
          <a href="http://enidnews.autoconx.com" title="Automotive">Automotive</a>
        </li>
        <li>
        •
          <a href="http://classiccars.com/Classifieds/Search.aspx?siteid=enidnews" title="Classic Cars">Classic Cars</a>
        </li>
        <li>
        •
          <a href="https://enidnews.classifieds.cnhi.zope.net/" title="Buy a Classified Ad">Buy a Classified Ad</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>External sites</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://thescooponline.net/" title="The Scoop">The Scoop</a>
        </li>
        <li>
        •
          <a href="http://enidnews.com/everythingenid" title="Everything Enid">Everything Enid</a>
        </li>
        <li>
        •
          <a href="http://enidnews.com/links" title="Everything Else">Everything Else</a>
        </li>
        <li>
        •
          <a href="http://enidnews.com/socialmedia" title="Social Media">Social Media</a>
        </li>
        <li>
        •
          <a href="http://athlonsports.com/" title="Athlon Sports">Athlon Sports</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Reader Services</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://enidnews.com/aboutus" title="About us">About us</a>
        </li>
        <li>
        •
          <a href="http://enidnews.com/contactus" title="Contact Us">Contact Us</a>
        </li>
        <li>
        •
          <a href="http://z4m.cnhi.zope.net/debug/enidnews/contactus/x1523228145/Get-daily-headlines-in-your-email" title="Headlines in email">Headlines in email</a>
        </li>
        <li>
        •
          <a href="https://oklahoma.arcasearch.com/us/ok/?paper=ene" title="Digital ENE">Digital ENE</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Photo reprints</dt>
  
</dl>
<dl>
<dt>Local gas</dt>
  
</dl>
<dl>
<dt>E Lose It</dt>
  
</dl>
<dl>
<dt>TV listings</dt>
  
</dl>
<dl>
<dt>Arcade</dt>
  
</dl>
<dl>
<dt>E-town Magazine</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="https://www.cnhimedia.com/readercare/enidnews/" title="Subscribe Here">Subscribe Here</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Local Business Directory</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://blinc.enidnews.com" title="blinc - Enid Business Link">blinc - Enid Business Link</a>
        </li>
      </ul>
</dd>
  
</dl>
</div>
    <div id="contact_us">
<h4>
<a href="http://enidnews.com/contactus">Contact Us</a>
</h4>
<dl>
<dt>

<a href="https://www.cnhimedia.com/readercare/enidnews/">Subscriptions</a>


</dt>
<dd>
580 233-6600      
</dd>
</dl>
<dl>
<dt>


 Story Ideas

</dt>
<dd>
580 548-8163      
</dd>
</dl>
<dl>
<dt>

<a href="http://classifieds.cnhi.com/classifieds/categories?publishername=enidnews&amp;test=5678">Classified</a>


</dt>
<dd>
580 548-8122      
</dd>
</dl>
<dl>
<dt>


 Ad sales

</dt>
<dd>
580 233-6600      
</dd>
</dl>
</div>
    <div id="footer_bottom">
      <div class="footer_block">
        <div id="footer_ad" class="noprint">
          <a href="http://www.rtjgolf.com" title="RTJ Golf">
            <img alt="" src="http://static.cnhi.zope.net/cwible/images/golf.jpg"></a>
        </div>
        <div id="copyright">
    

    <p>
      <a href="http://www.cnhi.com/newspapers/">© 2011 Community Newspaper Holdings, Inc.</a> · 
      <a href="http://www.cnhi-can.com">CNHI Classified Advertising Network</a> · 
      <a href="http://cnhins.com">CNHI News Service</a>
      <br>
      Associated Press content © 2011. All rights reserved. AP content may not be published, 
      broadcast, rewritten or redistributed.
      <br>
      Our site is powered by <a href="http://zope.com">Zope</a>. Some parts of our site may require 
      you to <a href="http://www.macromedia.com/go/getflashplayer">download the Flash Player Plugin</a>.
      <br><a href="http://enidnews.com/privacy">Privacy Policy</a> |
      <a href="http://www.apnewsregistry.com/privacycenter/servicepolicy.aspx" title="AP News Registry">AP News Registry privacy policy</a><br><a target="_blank" href="http://adindex.neighborsink.com/sites/enidnews.html">Advertiser Index</a>
    </p>
</div>
      </div>
      <div id="evie_bigad" class="footer_block">
        <script type="text/javascript">GA_googleFillSlot('eviesays_widget_enidnews_300x250');</script>
</div>
      <div id="eviesays_thirty_day" class="footer_block">
        <script type="text/javascript">
          /* <![CDATA[ */
          eviesays.widget.baseURL = 'http://enidnews.eviesays.com';
          eviesays.includeCSS(eviesays.widget.settings.base_url + '/version/cnhi/style/widget_v1.0.css');
          eviesays.widget.settings.setPartnerCode('cnhi');
          eviesays.widget.settings.where = 'Enid,OK';
          eviesays.widget.settings.restaurants_url = 'http://local.enidnews.com/search.pg?q=restaurant&z=%2C';
          /* ]]> */</script><div class="evie_widget_content">
                  <script type="text/javascript">
                    /* <![CDATA[ */
                        eviesays.widget.module.thirty_day();
                    /* ]]> */
                  </script><script type="text/javascript">
                    /* <![CDATA[ */
                    eviesays.widget.module.tab_links(null,{'more_events':1,'movies':1,'restaurants':eviesays.widget.settings.restaurants_url ? eviesays.widget.settings.restaurants_url : 1,'tickets':1});
                    /* ]]> */
                  </script><div class="evie_powered">
                      <script type="text/javascript">
                        /* <![CDATA[ */
                        document.write("<" + "a href=\""+eviesays.widget.settings.base_url+"/submit.html\" class=\"evie_add\">+Add Event<" + "/a>");
                        /* ]]> */
                      </script><a href="http://www.eviesays.com" class="evie_powered">Events by <span>evie</span>says.com</a>
          </div>
        </div>
      </div>
    </div>
    <a href="#body" title="Back to top" class="top_link noprint">Back to top</a>
    <p class="address">
      The Enid News and Eagle, Enid, OK
      227 W. Broadway
      Enid, OK
      73701
    </p>
  </div>
