<div id="footer">
    <div id="site_map">
<h4>Site Map</h4>


 
  
  <dl>
<dt>Reader Services</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://www.gloucestertimes.com/photos" title="Buy Photos">Buy Photos</a>
        </li>
        <li>
        •
          <a href="http://www.gloucestertimes.com/text" title="Get Text Alerts">Get Text Alerts</a>
        </li>
        <li>
        •
          <a href="http://www.gloucestertimes.com/mobile" title="Mobile Site">Mobile Site</a>
        </li>
        <li>
        •
          <a href="http://www.gloucestertimes.com/classifieds" title="Classifieds">Classifieds</a>
        </li>
        <li>
        •
          <a href="http://www.gloucestertimes.com/contactus/x794087234/Subscribe-to-the-print-edition-of-the-Gloucester-Daily-Times" title="Subscribe">Subscribe</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Advertiser Services</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://addesk.eagletribune.com/AdDesk/Htmlfiles/Home.jsp" title="Submit an ad">Submit an ad</a>
        </li>
        <li>
        •
          <a href="http://www.gloucestertimes.com/contactus#Advertising" title="Contact ad department">Contact ad department</a>
        </li>
        <li>
        •
          <a href="http://adindex.neighborsink.com/sites/gloucestertimes.html" title="Advertiser Index">Advertiser Index</a>
        </li>
        <li>
        •
          <a href="http://blinc.gloucestertimes.com/" title="Blinc">Blinc</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Newsroom Submissions</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://www.gloucestertimes.com/contactus/local_story_015154354.html" title="News Tips">News Tips</a>
        </li>
        <li>
        •
          <a href="http://www.gloucestertimes.com/contactus/local_story_015132144.html" title="Letter to Editor">Letter to Editor</a>
        </li>
        <li>
        •
          <a href="http://www.gloucestertimes.com/contactus/x645298058/Submit-a-Press-Release" title="Press Release">Press Release</a>
        </li>
        <li>
        •
          <a href="http://www.gloucestertimes.com/contactus/local_story_015130249.html" title="Community Calendar">Community Calendar</a>
        </li>
        <li>
        •
          <a href="http://www.gloucestertimes.com/contactus/etpccontactus_story_172105550.html" title="Anniversaries">Anniversaries</a>
        </li>
        <li>
        •
          <a href="http://www.gloucestertimes.com/contactus/local_story_015125348.html" title="Births">Births</a>
        </li>
        <li>
        •
          <a href="http://www.gloucestertimes.com/contactus/etpccontactus_story_173105100.html" title="Weddings">Weddings</a>
        </li>
        <li>
        •
          <a href="http://www.gloucestertimes.com/contactus/local_story_015160744.html" title="Reunions">Reunions</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Resources</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://blinc.gloucestertimes.com/" title="Business Directory">Business Directory</a>
        </li>
        <li>
        •
          <a href="http://ma.mypublicnotices.com/PublicNotice.asp?Page=SearchResults&amp;Newspaper=2075" title="Legal Notices">Legal Notices</a>
        </li>
        <li>
        •
          <a href="http://www.masslottery.com/" title="MA Lottery">MA Lottery</a>
        </li>
        <li>
        •
          <a href="http://www.gloucestertimes.com/skireport" title="Ski Report">Ski Report</a>
        </li>
        <li>
        •
          <a href="http://www.gloucestertimes.com/gas" title="Gas Prices">Gas Prices</a>
        </li>
        <li>
        •
          <a href="http://gloucestertimes.com/q" title="Qpon powerful deals">Qpon powerful deals</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Other CNHI Publications</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://www.eagletribune.com" title="The Eagle-Tribune">The Eagle-Tribune</a>
        </li>
        <li>
        •
          <a href="http://www.salemnews.com" title="The Salem News">The Salem News</a>
        </li>
        <li>
        •
          <a href="http://www.newburyportnews.com" title="The Daily News of Newburyport">The Daily News of Newburyport</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>RSS Feeds</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://www.gloucestertimes.com/local/atom" title="News">News</a>
        </li>
        <li>
        •
          <a href="http://www.gloucestertimes.com/sports/atom" title="Sports">Sports</a>
        </li>
        <li>
        •
          <a href="http://www.gloucestertimes.com/lifestyle/atom" title="Lifestyle">Lifestyle</a>
        </li>
        <li>
        •
          <a href="http://www.gloucestertimes.com/opinion/atom" title="Opinion">Opinion</a>
        </li>
        <li>
        •
          <a href="http://www.gloucestertimes.com/business/atom" title="Business">Business</a>
        </li>
        <li>
        •
          <a href="http://www.gloucestertimes.com/community/atom" title="Community">Community</a>
        </li>
        <li>
        •
          <a href="http://www.gloucestertimes.com/fishing/atom" title="Fishing">Fishing</a>
        </li>
        <li>
        •
          <a href="http://blogs.gloucestertimes.com/home/feed" title="Blogs">Blogs</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Interact</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://www.gloucestertimes.com/contactus" title="Contact Us">Contact Us</a>
        </li>
        <li>
        •
          <a href="http://blogs.gloucestertimes.com/home" title="Blogs">Blogs</a>
        </li>
        <li>
        •
          <a href="http://www.gloucestertimes.com/contactus/etpccontactus_story_198162524.html" title="Work for us">Work for us</a>
        </li>
      </ul>
</dd>
  
</dl>
</div>
    <div id="contact_us">
<h4>
<a href="http://www.gloucestertimes.com/contactus">Contact Us</a>
</h4>
<dl>
<dt>


 Newsroom

</dt>
<dd>
978.283.7000      
</dd>
</dl>
<dl>
<dt>


 Photo Desk

</dt>
<dd>
978.283.7000 x3448      
</dd>
</dl>
<dl>
<dt>


 Advertising

</dt>
<dd>
978.283.7000 x3446      
</dd>
</dl>
<dl>
<dt>


 Classified

</dt>
<dd>
800.927.9200      
</dd>
</dl>
<dl>
<dt>


 Circulation

</dt>
<dd>
978.283.7000 x3453      
</dd>
</dl>
<dl>
<dt>


 Fax

</dt>
<dd>
978.282.4397      
</dd>
</dl>
</div>
    <div id="footer_bottom">
      <div class="footer_block">
        <div id="footer_ad" class="noprint">
          <a href="http://www.rtjgolf.com" title="RTJ Golf">
            <img alt="" src="http://static.cnhi.zope.net/cwible//images/golf.jpg"></a>
        </div>
        <div id="copyright">
    

    <p>
      <a href="http://www.cnhi.com/newspapers/">© 2011 Community Newspaper Holdings, Inc.</a> · 
      <a href="http://www.cnhi-can.com">CNHI Classified Advertising Network</a> · 
      <a href="http://cnhins.com">CNHI News Service</a>
      <br>
      Associated Press content © 2011. All rights reserved. AP content may not be published, 
      broadcast, rewritten or redistributed.
      <br>
      Our site is powered by <a href="http://zope.com">Zope</a>. Some parts of our site may require 
      you to <a href="http://www.macromedia.com/go/getflashplayer">download the Flash Player Plugin</a>.
      <br><a href="http://www.gloucestertimes.com/privacy">Privacy Policy</a> |
      <a href="http://www.apnewsregistry.com/privacycenter/servicepolicy.aspx" title="AP News Registry">AP News Registry privacy policy</a><br><a target="_blank" href="http://adindex.neighborsink.com/sites/gloucestertimes.html">Advertiser Index</a>
    </p>
</div>
      </div>
      <if><div id="evie_bigad" class="footer_block">
        <script type="text/javascript">GA_googleFillSlot('zope-300x250-footer-middle');</script>
</div>
      <div id="eviesays_thirty_day" class="footer_block">
        <script type="text/javascript">GA_googleFillSlot('zope-300x250-footer-left');</script>
</div>
      </if>
</div>
    <a href="#body" title="Back to top" class="top_link noprint">Back to top</a>
    <p class="address">
      GloucesterTimes.com, Gloucester, MA
      36 Whittemore St.
      Gloucester, MA
      01930
    </p>
  </div>
