<div id="footer">
    <div id="site_map">
<h4>Site Map</h4>


 
  
  <dl>
<dt>Kokomo Tribune information</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://static.cnhi.zope.net/flashpromo/kokomotribune/flashpromo/support/Directions.html" title="Directions to Kokomo Tribune">Directions to Kokomo Tribune</a>
        </li>
        <li>
        •
          <a href="http://kokomo.newspaperarchive.com/" title="Digital Archives">Digital Archives</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Subscriber Services</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://readercare.cnhionline.com/subscribe_pp.php?page=subscribe&amp;location_id=kokomotribunelocation_id=kokomotribune" title="Renew/Subscribe">Renew/Subscribe</a>
        </li>
        <li>
        •
          <a href="http://readercare.cnhionline.com/vacation.php?page=vacation&amp;location_id=kokomotribune" title="Vacation Stop">Vacation Stop</a>
        </li>
        <li>
        •
          <a href="http://readercare.cnhionline.com/address_change.php?page=address_change&amp;location_id=kokomotribune" title="Address Change">Address Change</a>
        </li>
        <li>
        •
          <a href="http://readercare.cnhionline.com/feedback.php?page=feedback&amp;location_id=kokomotribune" title="Delivery Feedback">Delivery Feedback</a>
        </li>
        <li>
        •
          <a href="http://kokomotribune.newspaperdirect.com/" title="eEdition">eEdition</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Photos</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://www.dotphoto.com/go.asp?l=kokomotribune" title="Photo Reprints">Photo Reprints</a>
        </li>
        <li>
        •
          <a href="http://kokomotribune.com/readerphotos" title="Reader Photos">Reader Photos</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>ktbizlinc.com</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://ktbizlinc.kokomotribune.com/" title="ktbizlinc">ktbizlinc</a>
        </li>
      </ul>
</dd>
  
</dl>
</div>
    <div id="contact_us">
<h4>
<a href="http://kokomotribune.com/contactus">Contact Us</a>
</h4>
<dl>
<dt>


 Main Switchboard

</dt>
<dd>
765-459-3121      
</dd>
</dl>
<dl>
<dt>


 Retail Advertising

</dt>
<dd>
765-854-6720      
</dd>
</dl>
<dl>
<dt>

<a href="http://www.kokomotribune.com/buyaclassified">Classified Advertising</a>


</dt>
<dd>
765-456-3811      
</dd>
</dl>
<dl>
<dt>

<a href="http://readercare.cnhionline.com/index.php?location_id=kokomotribune">Home Delivery</a>


</dt>
<dd>
765-456-3821      
</dd>
</dl>
<dl>
<dt>


 Editorial

</dt>
<dd>
765-454-8578      
</dd>
</dl>
<dl>
<dt>

<a href="http://pharospress.com/">Pharos Press</a>


</dt>
<dd>
574-735-0137      
</dd>
</dl>
</div>
    <div id="footer_bottom">
      <div class="footer_block">
        <div id="footer_ad" class="noprint">
          <a href="http://www.rtjgolf.com" title="RTJ Golf">
            <img alt="" src="http://static.cnhi.zope.net/cwible//images/golf.jpg"></a>
        </div>
        <div id="copyright">
    

    <p>
      <a href="http://www.cnhi.com/newspapers/">© 2011 Community Newspaper Holdings, Inc.</a> · 
      <a href="http://www.cnhi-can.com">CNHI Classified Advertising Network</a> · 
      <a href="http://cnhins.com">CNHI News Service</a>
      <br>
      Associated Press content © 2011. All rights reserved. AP content may not be published, 
      broadcast, rewritten or redistributed.
      <br>
      Our site is powered by <a href="http://zope.com">Zope</a>. Some parts of our site may require 
      you to <a href="http://www.macromedia.com/go/getflashplayer">download the Flash Player Plugin</a>.
      <br><a href="http://kokomotribune.com/privacy">Privacy Policy</a> |
      <a href="http://www.apnewsregistry.com/privacycenter/servicepolicy.aspx" title="AP News Registry">AP News Registry privacy policy</a><br><a target="_blank" href="http://adindex.neighborsink.com/sites/kokomotribune.html">Advertiser Index</a>
    </p>
</div>
      </div>
      <div id="evie_bigad" class="footer_block">
        <script type="text/javascript">GA_googleFillSlot('eviesays_widget_kokomotribune_300x250');</script>
</div>
      <div id="eviesays_thirty_day" class="footer_block">
        <script type="text/javascript">
          /* <![CDATA[ */
          eviesays.widget.baseURL = 'http://kokomotribune.eviesays.com';
          eviesays.includeCSS(eviesays.widget.settings.base_url + '/version/cnhi/style/widget_v1.0.css');
          eviesays.widget.settings.setPartnerCode('cnhi');
          eviesays.widget.settings.where = 'Kokomo,IN';
          eviesays.widget.settings.restaurants_url = 'http://local.kokomotribune.com/search.pg?q=restaurant&z=Kokomo%2CIndiana';
          /* ]]> */</script><div class="evie_widget_content">
                  <script type="text/javascript">
                    /* <![CDATA[ */
                        eviesays.widget.module.thirty_day();
                    /* ]]> */
                  </script><script type="text/javascript">
                    /* <![CDATA[ */
                    eviesays.widget.module.tab_links(null,{'more_events':1,'movies':1,'restaurants':eviesays.widget.settings.restaurants_url ? eviesays.widget.settings.restaurants_url : 1,'tickets':1});
                    /* ]]> */
                  </script><div class="evie_powered">
                      <script type="text/javascript">
                        /* <![CDATA[ */
                        document.write("<" + "a href=\""+eviesays.widget.settings.base_url+"/submit.html\" class=\"evie_add\">+Add Event<" + "/a>");
                        /* ]]> */
                      </script><a href="http://www.eviesays.com" class="evie_powered">Events by <span>evie</span>says.com</a>
          </div>
        </div>
      </div>
    </div>
    <a href="#body" title="Back to top" class="top_link noprint">Back to top</a>
    <p class="address">
      Kokomo Tribune; Kokomo, Indiana
      P.O. Box 9014
      Kokomo, IN
      46904
    </p>
  </div>
