<div id="footer">
    <div id="site_map">
<h4>Site Map</h4>


 
  
  <dl>
<dt>Basic Services</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://usweb06v.newsmemory.com/ee/mankatofreepress/default.php" title="Electronic Edition ">Electronic Edition </a>
        </li>
        <li>
        •
          <a href="http://cnhionline.com/readercare/subscribe.php?page=subscribe&amp;location_id=mankatofreepress%20" title="Home Delivery ">Home Delivery </a>
        </li>
        <li>
        •
          <a href="http://partners.matchbin.com/listings/11124429/The-Free-Press-Media-in-Mankato-MN?preview=true=" title="Reader Care ">Reader Care </a>
        </li>
        <li>
        •
          <a href="http://www.mankatofreepress.com/aboutus/local_story_130164753.html" title="History of The Free Press ">History of The Free Press </a>
        </li>
        <li>
        •
          <a href="http://www.mankatofreepress.com/aboutus/local_story_130170015.html" title="Hours of Operation">Hours of Operation</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Marketing</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://www.mankatofreepress.com/contactus/local_story_326095745.html" title="Advertising Rates 2010 ">Advertising Rates 2010 </a>
        </li>
        <li>
        •
          <a href="http://www.mankatofreepress.com/contactus/local_story_336130921.html" title="Modular Ad Pricing ">Modular Ad Pricing </a>
        </li>
        <li>
        •
          <a href="http://mankatofreepress.com/newspaperineducation" title="NIE">NIE</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Submissions</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://mankatofreepress.com/contactus/x1237942614/Letter-to-the-Editor" title="Send Letter to Editor ">Send Letter to Editor </a>
        </li>
        <li>
        •
          <a href="http://mankatofreepress.com/contactus/x1897238616/Ask-Us-Form" title="Submit 'Ask Us' question ">Submit 'Ask Us' question </a>
        </li>
        <li>
        •
          <a href="http://www.mankatofreepress.com/contactus/local_story_100111524.html" title="Submit Entertainment item">Submit Entertainment item</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Forms</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://www.mankatofreepress.com/contactus/local_story_061150009.html" title="Wedding Announcements ">Wedding Announcements </a>
        </li>
        <li>
        •
          <a href="http://www.mankatofreepress.com/contactus/local_story_061162043.html" title="Anniversary Announcements ">Anniversary Announcements </a>
        </li>
        <li>
        •
          <a href="http://www.mankatofreepress.com/contactus/local_story_061113506.html" title="Engagement Announcements ">Engagement Announcements </a>
        </li>
        <li>
        •
          <a href="http://www.mankatofreepress.com/contactus/local_story_082121834.html" title="Birthday/Card Shower">Birthday/Card Shower</a>
        </li>
        <li>
        •
          <a href="http://mankatofreepress.com/contactus/x1174307842/Birth-announcement-form" title="Birth Announcements">Birth Announcements</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Find Mankato Businesses</dt>
  
</dl>
</div>
    <div id="contact_us">
<h4>
<a href="http://mankatofreepress.com/contactus">Contact Us</a>
</h4>
<dl>
<dt>

<a href="http://mankatofreepress.com/contactus/x1523229034/Contact-Free-Press-Staff">Newsroom</a>


</dt>
<dd>
507-344-6397      
</dd>
</dl>
<dl>
<dt>

<a href="http://mankatofreepress.com/contactus/x1523229034/Contact-Free-Press-Staff">Retail Advertising</a>


</dt>
<dd>
507-344-6364      
</dd>
</dl>
<dl>
<dt>

<a href="http://mankatofreepress.com/contactus/x1523229034/Contact-Free-Press-Staff">Classified Ads</a>


</dt>
<dd>
507-344-6395      
</dd>
</dl>
<dl>
<dt>

<a href="http://mankatofreepress.com/contactus/x1523229034/Contact-Free-Press-Staff">Reader Services</a>


</dt>
<dd>
507-625-4451      
</dd>
</dl>
</div>
    <div id="footer_bottom">
      <div class="footer_block">
        <div id="footer_ad" class="noprint">
          <a href="http://www.rtjgolf.com" title="RTJ Golf">
            <img alt="" src="http://static.cnhi.zope.net/cwible//images/golf.jpg"></a>
        </div>
        <div id="copyright">
    

    <p>
      <a href="http://www.cnhi.com/newspapers/">© 2011 Community Newspaper Holdings, Inc.</a> · 
      <a href="http://www.cnhi-can.com">CNHI Classified Advertising Network</a> · 
      <a href="http://cnhins.com">CNHI News Service</a>
      <br>
      Associated Press content © 2011. All rights reserved. AP content may not be published, 
      broadcast, rewritten or redistributed.
      <br>
      Our site is powered by <a href="http://zope.com">Zope</a>. Some parts of our site may require 
      you to <a href="http://www.macromedia.com/go/getflashplayer">download the Flash Player Plugin</a>.
      <br><a href="http://mankatofreepress.com/privacy">Privacy Policy</a> |
      <a href="http://www.apnewsregistry.com/privacycenter/servicepolicy.aspx" title="AP News Registry">AP News Registry privacy policy</a><br><a target="_blank" href="http://adindex.neighborsink.com/sites/mankatofreepress.html">Advertiser Index</a>
    </p>
</div>
      </div>
      
      
    </div>
    <a href="#body" title="Back to top" class="top_link noprint">Back to top</a>
    <p class="address">
      The Free Press, Mankato, MN
      418 South Second Street
      Mankato, MN
      56001
    </p>
  </div>
