<div id="footer">
    <div id="site_map">
<h4>Site Map</h4>


 
  
  <dl>
<dt>Contact us</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://newsandtribune.com/aboutus" title="   About Us">   About Us</a>
        </li>
        <li>
        •
          <a href="http://newsandtribune.com/contactus" title="Contact Info">Contact Info</a>
        </li>
        <li>
        •
          <a href="http://newsandtribune.com/forms" title="Submit Your News">Submit Your News</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Southern Indiana News</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://newsandtribune.com/clarkcounty" title="   Clark County Stories">   Clark County Stories</a>
        </li>
        <li>
        •
          <a href="http://newsandtribune.com/floydcounty" title="Floyd County Stories">Floyd County Stories</a>
        </li>
        <li>
        •
          <a href="http://newsandtribune.com/business" title="Business/Money">Business/Money</a>
        </li>
        <li>
        •
          <a href="http://newsandtribune.com/schools" title="Education/Schools">Education/Schools</a>
        </li>
        <li>
        •
          <a href="http://newsandtribune.com/obituaries" title="Obituaries">Obituaries</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Southern Indiana Sports</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://newsandtribune.com/clarksports" title="   Clark County Sports">   Clark County Sports</a>
        </li>
        <li>
        •
          <a href="http://newsandtribune.com/floydsports" title="Floyd County Sports">Floyd County Sports</a>
        </li>
        <li>
        •
          <a href="http://newsandtribune.com/highschoolsports" title="High School Sports">High School Sports</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Classified Ads</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://classifieds.cnhi.com/categoryadlist?test=1&amp;publishername=newstribune&amp;adnumkey=000&amp;categoryname=Legals" title="   Ads by Category">   Ads by Category</a>
        </li>
        <li>
        •
          <a href="http://classifieds.cnhi.com/categoryadlist?test=1&amp;publishername=newstribune&amp;adnumkey=000&amp;categoryname=Legals" title="Legals">Legals</a>
        </li>
        <li>
        •
          <a href="https://newsandtribune.classifieds.cnhi.zope.net/" title="Place a Classified Ad">Place a Classified Ad</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Social Media</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://www.facebook.com/pages/New-Albany-Jeffersonville-IN/The-Evening-News-and-The-Tribune/59125561135" title="   Facebook">   Facebook</a>
        </li>
        <li>
        •
          <a href="http://twitter.com/newsandtribune" title="Twitter Headlines">Twitter Headlines</a>
        </li>
        <li>
        •
          <a href="http://twitter.com/newstribscores" title="Twitter Scores">Twitter Scores</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Blogs</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://kickitblog.wordpress.com/" title="  Kick It Southern Indiana Soccer">  Kick It Southern Indiana Soccer</a>
        </li>
        <li>
        •
          <a href="http://planetterry.wordpress.com/" title="Welcome to Planet Terry">Welcome to Planet Terry</a>
        </li>
        <li>
        •
          <a href="http://sceneandheardblog.wordpress.com/" title="Scene and Heard Photo Blog">Scene and Heard Photo Blog</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>E-MAIL ALERTS</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://news-tribune.net/local/x1048527909/E-MAIL-Subscribe-to-our-daily-headlines-digest" title="Sign up for Daily Headlines">Sign up for Daily Headlines</a>
        </li>
      </ul>
</dd>
  
</dl>
</div>
    <div id="contact_us">
<h4>
<a href="http://newsandtribune.com/contactus">Contact Us</a>
</h4>
<dl>
<dt>

<a href="mailto:jo.kerr@newsandtribune.com">ADVERTISING DISPLAY (Jeff)</a>


</dt>
<dd>
812-206-2128      
</dd>
</dl>
<dl>
<dt>

<a href="mailto:mary.tuttle@newsandtribune.com">ADVERTISING DISPLAY (New Albany)</a>


</dt>
<dd>
812-206-2133      
</dd>
</dl>
<dl>
<dt>

<a href="mailto:classifieds@newsandtribune.com">ADVERTISING CLASSIFIEDS</a>


</dt>
<dd>
812-206-2188      
</dd>
</dl>
<dl>
<dt>

<a href="http://cnhionline.com/readercare/feedback.php?page=feedback&amp;location_id=jeffersonville_enews">DELIVERY ISSUE (Jeff)</a>


</dt>
<dd>
812-206-2192      
</dd>
</dl>
<dl>
<dt>

<a href="http://cnhionline.com/readercare/feedback.php?page=feedback&amp;location_id=newstribune">DELIVERY ISSUE (New Albany)</a>


</dt>
<dd>
812-206-2192      
</dd>
</dl>
<dl>
<dt>

<a href="mailto:newsroom@newsandtribune.com">NEWSROOM (Jeff)</a>


</dt>
<dd>
812-206-2111      
</dd>
</dl>
<dl>
<dt>

<a href="mailto:newsroom@newsandtribune.com">NEWSROOM (New Albany)</a>


</dt>
<dd>
812-206-6397      
</dd>
</dl>
<dl>
<dt>

<a href="http://newsandtribune.dotphoto.com/CPListAlbums.asp">ORDER REPRINTS</a>


</dt>
<dd>
812-206-6397      
</dd>
</dl>
<dl>
<dt>

<a href="http://www.newsandtribune.com/forms">SUBMIT NEWS/TIPS</a>


</dt>
<dd>
812-206-6397      
</dd>
</dl>
<dl>
<dt>

<a href="mailto:barbara.reed@newsandtribune.com">SUBSCRIBE</a>


</dt>
<dd>
812-206-2192      
</dd>
</dl>
<dl>
<dt>

<a href="mailto:webmaster@newsandtribune.com">WEBMASTER</a>


</dt>
<dd>
812-206-6397      
</dd>
</dl>
</div>
    <div id="footer_bottom">
      <div class="footer_block">
        <div id="footer_ad" class="noprint">
          <a href="http://www.rtjgolf.com" title="RTJ Golf">
            <img alt="" src="http://static.cnhi.zope.net/cwible//images/golf.jpg"></a>
        </div>
        <div id="copyright">
    

    <p>
      <a href="http://www.cnhi.com/newspapers/">© 2011 Community Newspaper Holdings, Inc.</a> · 
      <a href="http://www.cnhi-can.com">CNHI Classified Advertising Network</a> · 
      <a href="http://cnhins.com">CNHI News Service</a>
      <br>
      Associated Press content © 2011. All rights reserved. AP content may not be published, 
      broadcast, rewritten or redistributed.
      <br>
      Our site is powered by <a href="http://zope.com">Zope</a>. Some parts of our site may require 
      you to <a href="http://www.macromedia.com/go/getflashplayer">download the Flash Player Plugin</a>.
      <br><a href="http://newsandtribune.com/privacy">Privacy Policy</a> |
      <a href="http://www.apnewsregistry.com/privacycenter/servicepolicy.aspx" title="AP News Registry">AP News Registry privacy policy</a><br><a target="_blank" href="http://adindex.neighborsink.com/sites/newstribune.html">Advertiser Index</a>
    </p>
</div>
      </div>
      <div id="evie_bigad" class="footer_block">
        <script type="text/javascript">GA_googleFillSlot('eviesays_widget_newstribune_300x250');</script>
</div>
      <div id="eviesays_thirty_day" class="footer_block">
        <script type="text/javascript">
          /* <![CDATA[ */
          eviesays.widget.baseURL = 'http://newstribune.eviesays.com';
          eviesays.includeCSS(eviesays.widget.settings.base_url + '/version/cnhi/style/widget_v1.0.css');
          eviesays.widget.settings.setPartnerCode('cnhi');
          eviesays.widget.settings.where = 'Jeffersonville,IN';
          eviesays.widget.settings.restaurants_url = 'http://local.newstribune.com/search.pg?q=restaurant&z=%2CIndiana';
          /* ]]> */</script><div class="evie_widget_content">
                  <script type="text/javascript">
                    /* <![CDATA[ */
                        eviesays.widget.module.thirty_day();
                    /* ]]> */
                  </script><script type="text/javascript">
                    /* <![CDATA[ */
                    eviesays.widget.module.tab_links(null,{'more_events':1,'movies':1,'restaurants':eviesays.widget.settings.restaurants_url ? eviesays.widget.settings.restaurants_url : 1,'tickets':1});
                    /* ]]> */
                  </script><div class="evie_powered">
                      <script type="text/javascript">
                        /* <![CDATA[ */
                        document.write("<" + "a href=\""+eviesays.widget.settings.base_url+"/submit.html\" class=\"evie_add\">+Add Event<" + "/a>");
                        /* ]]> */
                      </script><a href="http://www.eviesays.com" class="evie_powered">Events by <span>evie</span>says.com</a>
          </div>
        </div>
      </div>
    </div>
    <a href="#body" title="Back to top" class="top_link noprint">Back to top</a>
    <p class="address">
      News and Tribune
      221 Spring St.
      Jeffersonville, IN
      47130
    </p>
  </div>
