<div id="footer">
    <div id="site_map">
<h4>Site Map</h4>


 
  
  <dl>
<dt>Reader Services</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://portpics.smugmug.com/" title="Buy Photos">Buy Photos</a>
        </li>
        <li>
        •
          <a href="http://www.classifiedsnorth.com/cgi-bin/classifiedconnection/class_home.pl" title="Classifieds">Classifieds</a>
        </li>
        <li>
        •
          <a href="http://www.newburyportnews.com/contactus#Circulation" title="Subscriber Services">Subscriber Services</a>
        </li>
        <li>
        •
          <a href="http://www.newburyportnews.com/mobile#_newburyportnews" title="Mobile Site">Mobile Site</a>
        </li>
        <li>
        •
          <a href="http://www.newburyportnews.com/contactus/x794090359/Subscribe-to-the-print-edition-of-The-Daily-News-of-Newburyport" title="Subscribe">Subscribe</a>
        </li>
        <li>
        •
          <a href="http://www.newburyportnews.com/contactus/x845835241/Submit-a-Story-Idea" title="Submit a Story">Submit a Story</a>
        </li>
        <li>
        •
          <a href="http://www.newburyportnews.com/contactus/x1907083778/Receive-daily-headline-e-mails" title="Subscribe to Daily Headlines E-mail">Subscribe to Daily Headlines E-mail</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Daily News Publications</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://www.newburyportmagazine.com/" title="Newburyport Magazine">Newburyport Magazine</a>
        </li>
        <li>
        •
          <a href="http://bizfinder.newburyportnews.com/" title="BizFinder">BizFinder</a>
        </li>
        <li>
        •
          <a href="http://dailydeals.newburyportnews.com/" title="Daily Deals">Daily Deals</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Other CNHI Publications</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://www.salemnews.com/" title="The Salem News">The Salem News</a>
        </li>
        <li>
        •
          <a href="http://gloucestertimes.com/" title="  Gloucester Daily Times">  Gloucester Daily Times</a>
        </li>
        <li>
        •
          <a href="http://eagletribune.com/" title="  The Eagle-Tribune">  The Eagle-Tribune</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Advertiser services</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://www.newburyportnews.com/contactus#Advertising" title="Contact Our Ad Department">Contact Our Ad Department</a>
        </li>
        <li>
        •
          <a href="http://adindex.neighborsink.com/sites/newburyportnews.html" title="Advertising Index">Advertising Index</a>
        </li>
        <li>
        •
          <a href="http://plus.eagletribune.com/content/DealDay/dealdayNT.html" title="Deal of the Day">Deal of the Day</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Interact</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://www.newburyportnews.com/contactus" title="Contact Us">Contact Us</a>
        </li>
        <li>
        •
          <a href="http://twitter.com/newburyportnews" title="Twitter">Twitter</a>
        </li>
        <li>
        •
          <a href="http://www.facebook.com/pages/Newburyport-MA/Daily-News-of-Newburyport/380708820375?ref=ts" title="Facebook">Facebook</a>
        </li>
        <li>
        •
          <a href="http://blogs.newburyportnews.com/home/" title="Blogs">Blogs</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Resoures</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://www.masslottery.com/" title="Mass Lottery">Mass Lottery</a>
        </li>
        <li>
        •
          <a href="http://www.nhlottery.org/WinningNumbers.aspx" title="NH Lottery">NH Lottery</a>
        </li>
        <li>
        •
          <a href="http://www.newburyportnews.com/pubizstocks" title="Stocks">Stocks</a>
        </li>
        <li>
        •
          <a href="http://www.newburyportnews.com/skireport" title="Ski Report">Ski Report</a>
        </li>
        <li>
        •
          <a href="http://ma.mypublicnotices.com/PublicNotice.asp?Page=SearchResults&amp;Newspaper=2074" title="Legal Notices">Legal Notices</a>
        </li>
        <li>
        •
          <a href="http://www.fandango.com/TheaterListings.aspx" title="Movie Listings">Movie Listings</a>
        </li>
        <li>
        •
          <a href="http://newburyportnews.com/q" title="Qpon powerful deals">Qpon powerful deals</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Ad Submission</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://addesk.eagletribune.com/AdDesk/Htmlfiles/Home.jsp" title="Submit an Ad">Submit an Ad</a>
        </li>
      </ul>
</dd>
  
</dl>
</div>
    <div id="contact_us">
<h4>
<a href="http://www.newburyportnews.com/contactus">Contact Us</a>
</h4>
<dl>
<dt>


 Main

</dt>
<dd>
978-462-6666      
</dd>
</dl>
<dl>
<dt>


 Classified Advertising

</dt>
<dd>
800-927-9200      
</dd>
</dl>
<dl>
<dt>


 Circulation

</dt>
<dd>
800-836-7800      
</dd>
</dl>
<dl>
<dt>


 Fax

</dt>
<dd>
978-465-8505      
</dd>
</dl>
<dl>
<dt>


 Advertising Fax

</dt>
<dd>
978-463-9612      
</dd>
</dl>
<dl>
<dt>


 Advertising

</dt>
<dd>
978-462-6666 x3242      
</dd>
</dl>
</div>
    <div id="footer_bottom">
      <div class="footer_block">
        <div id="footer_ad" class="noprint">
          <a href="http://www.rtjgolf.com" title="RTJ Golf">
            <img alt="" src="http://static.cnhi.zope.net/cwible//images/golf.jpg"></a>
        </div>
        <div id="copyright">
    

    <p>
      <a href="http://www.cnhi.com/newspapers/">© 2011 Community Newspaper Holdings, Inc.</a> · 
      <a href="http://www.cnhi-can.com">CNHI Classified Advertising Network</a> · 
      <a href="http://cnhins.com">CNHI News Service</a>
      <br>
      Associated Press content © 2011. All rights reserved. AP content may not be published, 
      broadcast, rewritten or redistributed.
      <br>
      Our site is powered by <a href="http://zope.com">Zope</a>. Some parts of our site may require 
      you to <a href="http://www.macromedia.com/go/getflashplayer">download the Flash Player Plugin</a>.
      <br><a href="http://www.newburyportnews.com/privacy">Privacy Policy</a> |
      <a href="http://www.apnewsregistry.com/privacycenter/servicepolicy.aspx" title="AP News Registry">AP News Registry privacy policy</a><br><a target="_blank" href="http://adindex.neighborsink.com/sites/newburyportnews.html">Advertiser Index</a>
    </p>
</div>
      </div>
      <if><div id="evie_bigad" class="footer_block">
        <script type="text/javascript">GA_googleFillSlot('zope-300x250-footer-middle');</script>
</div>
      <div id="eviesays_thirty_day" class="footer_block">
        <script type="text/javascript">GA_googleFillSlot('zope-300x250-footer-left');</script>
</div>
      </if>
</div>
    <a href="#body" title="Back to top" class="top_link noprint">Back to top</a>
    <p class="address">
      NewburyportNews.com, Newburyport, MA
      23 Liberty St.
      Newburyport, MA
      01950
    </p>
  </div>
