<div id="footer">
    <div id="site_map">
<h4>Site Map</h4>


 
</div>
    <div id="contact_us">
<h4>
<a href="http://orangeleader.com/contactus">Contact Us</a>
</h4>
</div>
    <div id="footer_bottom">
      <div class="footer_block">
        <div id="footer_ad" class="noprint">
          <a href="http://www.rtjgolf.com" title="RTJ Golf">
            <img alt="" src="http://static.cnhi.zope.net/cwible//images/golf.jpg"></a>
        </div>
        <div id="copyright">
    

    <p>
      <a href="http://www.cnhi.com/newspapers/">© 2011 Community Newspaper Holdings, Inc.</a> · 
      <a href="http://www.cnhi-can.com">CNHI Classified Advertising Network</a> · 
      <a href="http://cnhins.com">CNHI News Service</a>
      <br>
      Associated Press content © 2011. All rights reserved. AP content may not be published, 
      broadcast, rewritten or redistributed.
      <br>
      Our site is powered by <a href="http://zope.com">Zope</a>. Some parts of our site may require 
      you to <a href="http://www.macromedia.com/go/getflashplayer">download the Flash Player Plugin</a>.
      <br><a href="http://orangeleader.com/privacy">Privacy Policy</a> |
      <a href="http://www.apnewsregistry.com/privacycenter/servicepolicy.aspx" title="AP News Registry">AP News Registry privacy policy</a><br><a target="_blank" href="http://adindex.neighborsink.com/sites/orangeleader.html">Advertiser Index</a>
    </p>
</div>
      </div>
      <div id="evie_bigad" class="footer_block">
        <script type="text/javascript">GA_googleFillSlot('eviesays_widget_orangeleader_300x250');</script>
</div>
      <div id="eviesays_thirty_day" class="footer_block">
        <script type="text/javascript">
          /* <![CDATA[ */
          eviesays.widget.baseURL = 'http://orangeleader.eviesays.com';
          eviesays.includeCSS(eviesays.widget.settings.base_url + '/version/cnhi/style/widget_v1.0.css');
          eviesays.widget.settings.setPartnerCode('cnhi');
          eviesays.widget.settings.where = 'Orange,TX';
          eviesays.widget.settings.restaurants_url = 'http://local.orangeleader.com/search.pg?q=restaurant&z=%2C';
          /* ]]> */</script><div class="evie_widget_content">
                  <script type="text/javascript">
                    /* <![CDATA[ */
                        eviesays.widget.module.thirty_day();
                    /* ]]> */
                  </script><script type="text/javascript">
                    /* <![CDATA[ */
                    eviesays.widget.module.tab_links(null,{'more_events':1,'movies':1,'restaurants':eviesays.widget.settings.restaurants_url ? eviesays.widget.settings.restaurants_url : 1,'tickets':1});
                    /* ]]> */
                  </script><div class="evie_powered">
                      <script type="text/javascript">
                        /* <![CDATA[ */
                        document.write("<" + "a href=\""+eviesays.widget.settings.base_url+"/submit.html\" class=\"evie_add\">+Add Event<" + "/a>");
                        /* ]]> */
                      </script><a href="http://www.eviesays.com" class="evie_powered">Events by <span>evie</span>says.com</a>
          </div>
        </div>
      </div>
    </div>
    <a href="#body" title="Back to top" class="top_link noprint">Back to top</a>
    <p class="address">
      orangeleader.com (Orange, Texas)
      841B Dal Sasso Drive
      Orange, TX
      77630
    </p>
  </div>
