<div id="footer">
    <div id="site_map">
<h4>Site Map</h4>


 
  
  <dl>
<dt>Local News Section</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://pressrepublican.com/0100_news" title="Local News">Local News</a>
        </li>
        <li>
        •
          <a href="http://pressrepublican.com/0121_logs" title="Police, Fire, Courts">Police, Fire, Courts</a>
        </li>
        <li>
        •
          <a href="http://pressrepublican.com/0113_business" title="Business">Business</a>
        </li>
        <li>
        •
          <a href="http://pressrepublican.com/0101_education" title="Education">Education</a>
        </li>
        <li>
        •
          <a href="http://pressrepublican.com/0111_environment" title="Environment">Environment</a>
        </li>
        <li>
        •
          <a href="http://pressrepublican.com/0105_outdoor_perspective" title="Outdoor Perspective">Outdoor Perspective</a>
        </li>
        <li>
        •
          <a href="http://pressrepublican.com/0127_politics_and_elections" title="Politics &amp; Elections">Politics &amp; Elections</a>
        </li>
        <li>
        •
          <a href="http://pressrepublican.com/weather_news" title="Weather News">Weather News</a>
        </li>
        <li>
        •
          <a href="http://pressrepublican.com/0706_lookback" title="Lookback">Lookback</a>
        </li>
        <li>
        •
          <a href="http://pressrepublican.com/0508_day_away" title="Day Away">Day Away</a>
        </li>
        <li>
        •
          <a href="http://pressrepublican.com/forms/x282173547/Submit-a-News-Story" title="Submit a News Story">Submit a News Story</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Local Sports Section</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://pressrepublican.com/0300_sports" title="Local Sports">Local Sports</a>
        </li>
        <li>
        •
          <a href="http://pressrepublican.com/0302_college" title="College Sports">College Sports</a>
        </li>
        <li>
        •
          <a href="http://pressrepublican.com/0340_psu" title="PSU Sports">PSU Sports</a>
        </li>
        <li>
        •
          <a href="http://pressrepublican.com/0305_high_school_sports" title="High School Sports">High School Sports</a>
        </li>
        <li>
        •
          <a href="http://pressrepublican.com/adult_youth_sports" title="Adult/Youth Sports">Adult/Youth Sports</a>
        </li>
        <li>
        •
          <a href="http://pressrepublican.com/0105_outdoor_perspective" title="Outdoors">Outdoors</a>
        </li>
        <li>
        •
          <a href="http://pressrepublican.com/0328_flashback" title="Flashback">Flashback</a>
        </li>
        <li>
        •
          <a href="http://pressrepublican.com/0301_sports_shorts" title="Sports Shorts">Sports Shorts</a>
        </li>
        <li>
        •
          <a href="http://pressrepublican.com/0326_schedule" title="Today's Sports">Today's Sports</a>
        </li>
        <li>
        •
          <a href="http://pressrepublican.com/forms/x1338261754/Submit-a-Sports-Story" title="Submit a Sports Story">Submit a Sports Story</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Opinion</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://pressrepublican.com/0201_editorials" title="Editorial">Editorial</a>
        </li>
        <li>
        •
          <a href="http://pressrepublican.com/0202_cheers_and_jeers" title="Cheers &amp; Jeers">Cheers &amp; Jeers</a>
        </li>
        <li>
        •
          <a href="http://pressrepublican.com/0203_letters_to_the_editor" title="Letters To The Editor">Letters To The Editor</a>
        </li>
        <li>
        •
          <a href="http://pressrepublican.com/0204_in_my_opinion" title="In My Opinion">In My Opinion</a>
        </li>
        <li>
        •
          <a href="http://pressrepublican.com/0240_speakout" title="Speakout">Speakout</a>
        </li>
        <li>
        •
          <a href="http://pressrepublican.com/0205_columns" title="Columns">Columns</a>
        </li>
        <li>
        •
          <a href="http://pressrepublican.com/0201_blogs" title="Blogs">Blogs</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Arts and Entertainment</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://pressrepublican.com/0500_what_to_do" title="Arts &amp; Entertainment">Arts &amp; Entertainment</a>
        </li>
        <li>
        •
          <a href="http://pressrepublican.com/0516_movie_review" title="Movie Reviews">Movie Reviews</a>
        </li>
        <li>
        •
          <a href="http://static.pressrepublican.com/entertainment/lottery_results.htm" title="Lottery Results">Lottery Results</a>
        </li>
        <li>
        •
          <a href="http://static.pressrepublican.com/entertainment/horoscope.htm" title="Horoscopes">Horoscopes</a>
        </li>
        <li>
        •
          <a href="http://www.uclick.com/client/pre/fcx/" title="Crossword Puzzles">Crossword Puzzles</a>
        </li>
        <li>
        •
          <a href="http://static.pressrepublican.com/entertainment/ent_news.htm" title="Celebrity News &amp; Photos">Celebrity News &amp; Photos</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Lifestyles</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://pressrepublican.com/0811_home_and_garden" title="Home &amp; Garden">Home &amp; Garden</a>
        </li>
        <li>
        •
          <a href="http://pressrepublican.com/coop_ext" title="Cornell Cooperative Extension">Cornell Cooperative Extension</a>
        </li>
        <li>
        •
          <a href="http://pressrepublican.com/0808_health" title="Health News">Health News</a>
        </li>
        <li>
        •
          <a href="http://pressrepublican.com/health_advice" title="Health Advice">Health Advice</a>
        </li>
        <li>
        •
          <a href="http://static.cnhi.zope.net/birmingham/metro/pressrepublican/health-mind-body/" title="Health, Mind &amp; Body">Health, Mind &amp; Body</a>
        </li>
        <li>
        •
          <a href="http://pressrepublican.com/0801_seniors" title="Seniors">Seniors</a>
        </li>
        <li>
        •
          <a href="http://pressrepublican.com/0804_faith_and_spirituality" title="Faith &amp; Spirituality">Faith &amp; Spirituality</a>
        </li>
        <li>
        •
          <a href="http://pressrepublican.com/0116_births" title="Births">Births</a>
        </li>
        <li>
        •
          <a href="http://pressrepublican.com/0117_engagements" title="Engagements">Engagements</a>
        </li>
        <li>
        •
          <a href="http://pressrepublican.com/0119_weddings" title="Weddings">Weddings</a>
        </li>
        <li>
        •
          <a href="http://pressrepublican.com/0118_anniversaries" title="Anniversaries">Anniversaries</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Obituaries</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://pressrepublican.com/obituaries_archive_url" title="Obituaries">Obituaries</a>
        </li>
      </ul>
</dd>
  
</dl>
</div>
    <div id="contact_us">
<h4>
<a href="http://pressrepublican.com/contactus">Contact Us</a>
</h4>
<dl>
<dt>


 Main Office

</dt>
<dd>
518-561-2300      
</dd>
</dl>
<dl>
<dt>


 Circulation

</dt>
<dd>
518-565-4110      
</dd>
</dl>
<dl>
<dt>


 Classifieds

</dt>
<dd>
518-565-4105      
</dd>
</dl>
<dl>
<dt>


 Newsroom

</dt>
<dd>
518-565-4131      
</dd>
</dl>
<dl>
<dt>


 Sports

</dt>
<dd>
518-565-4124      
</dd>
</dl>
</div>
    <div id="footer_bottom">
      <div class="footer_block">
        <div id="footer_ad" class="noprint">
          <a href="http://www.rtjgolf.com" title="RTJ Golf">
            <img alt="" src="http://static.cnhi.zope.net/cwible//images/golf.jpg"></a>
        </div>
        <div id="copyright">
    

    <p>
      <a href="http://www.cnhi.com/newspapers/">© 2011 Community Newspaper Holdings, Inc.</a> · 
      <a href="http://www.cnhi-can.com">CNHI Classified Advertising Network</a> · 
      <a href="http://cnhins.com">CNHI News Service</a>
      <br>
      Associated Press content © 2011. All rights reserved. AP content may not be published, 
      broadcast, rewritten or redistributed.
      <br>
      Our site is powered by <a href="http://zope.com">Zope</a>. Some parts of our site may require 
      you to <a href="http://www.macromedia.com/go/getflashplayer">download the Flash Player Plugin</a>.
      <br><a href="http://pressrepublican.com/privacy">Privacy Policy</a> |
      <a href="http://www.apnewsregistry.com/privacycenter/servicepolicy.aspx" title="AP News Registry">AP News Registry privacy policy</a><br><a target="_blank" href="http://adindex.neighborsink.com/sites/pressrepublican.html">Advertiser Index</a>
    </p>
</div>
      </div>
      
      
    </div>
    <a href="#body" title="Back to top" class="top_link noprint">Back to top</a>
    <p class="address">
      Press-Republican
      P.O. Box 459, 170 Margaret St.
      Plattsburgh, NY
      12901
    </p>
  </div>
