<div id="footer">
    <div id="site_map">
<h4>Site Map</h4>


 
  
  <dl>
<dt>News</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://record-eagle.com/local" title="Region">Region</a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/statenews" title="Michigan">Michigan</a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/business" title="Business ">Business </a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/national" title="Nation &amp; World">Nation &amp; World</a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/video" title="Video">Video</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Opinion</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://record-eagle.com/ourview" title="Editorials">Editorials</a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/otherview" title="Other Views">Other Views</a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/poll" title="Opinion Poll">Opinion Poll</a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/letters" title="Letters">Letters</a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/forums" title="Forums">Forums</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Sports</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://record-eagle.com/sports" title="Local">Local</a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/prepsports" title="Prep">Prep</a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/2010top10sports" title="Top 10">Top 10</a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/beachbums" title="Beach Bums">Beach Bums</a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/northstars" title="North Stars">North Stars</a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/wolves" title="Wolves">Wolves</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Life</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://record-eagle.com/features" title="Latest">Latest</a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/entertainment" title="Arts &amp; Entertainment">Arts &amp; Entertainment</a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/bodysoul" title="Body &amp; Soul">Body &amp; Soul</a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/herald" title="Community">Community</a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/food" title="Food">Food</a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/genwhy" title="Generation Why">Generation Why</a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/northernliving" title="Northern Living">Northern Living</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Obituaries</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://record-eagle.com/obituaries" title="Latest Obits">Latest Obits</a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/archivedobituaries" title="Archived Obits">Archived Obits</a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/deathnotices" title="Death Notices">Death Notices</a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/deathsinregion" title="Deaths in the Region">Deaths in the Region</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Columns</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://record-eagle.com/columns" title="All">All</a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/oped" title="Opinion">Opinion</a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/sportscolumns" title="Sports">Sports</a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/featurecolumns" title="Features">Features</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Celebrations</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://record-eagle.com/anniversaries" title="Anniversaries">Anniversaries</a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/births" title="Births">Births</a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/weddings" title="Weddings">Weddings</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Photography</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://photos.record-eagle.com" title="Galleries">Galleries</a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/readerphotos" title="Reader-Submitted Photos">Reader-Submitted Photos</a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/reprints" title="Reprints">Reprints</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Classifieds</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://recordeagle.classifieds.neighborsink.com/" title="(231) 946-2653">(231) 946-2653</a>
        </li>
        <li>
        •
          <a href="http://recordeagle.autoconx.com/" title="Autos">Autos</a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/monster" title="Jobs">Jobs</a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/zillow" title="Real Estate">Real Estate</a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/classifieds#real_estate_-_rentals" title="Rentals">Rentals</a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/classifieds" title="More">More</a>
        </li>
        <li>
        •
          <a href="https://classadz.vdata.com/TraverseCity/UserType.aspx" title="Place Ad">Place Ad</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Archives</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://record-eagle.com/sunday" title="Sunday">Sunday</a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/monday" title="Monday">Monday</a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/tuesday" title="Tuesday">Tuesday</a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/wednesday" title="Wednesday">Wednesday</a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/thursday" title="Thursday">Thursday</a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/friday" title="Friday">Friday</a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/saturday" title="Saturday">Saturday</a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/oldarchives" title="Older">Older</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Subscriber Services</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://readercare.cnhionline.com/index.php?location_id=recordeagle" title="(231) 946-2187">(231) 946-2187</a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/subscribe" title="Subscribe">Subscribe</a>
        </li>
        <li>
        •
          <a href="http://readercare.cnhionline.com/vacation.php?page=vacation&amp;location_id=recordeagle" title="Vacation Stop">Vacation Stop</a>
        </li>
        <li>
        •
          <a href="http://readercare.cnhionline.com/address_change.php?page=address_change&amp;location_id=recordeagle" title="Address Change">Address Change</a>
        </li>
        <li>
        •
          <a href="http://readercare.cnhionline.com/feedback.php?page=feedback&amp;location_id=recordeagle" title="Delivery Feedback">Delivery Feedback</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Other</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://record-eagle.com/hotdeal" title="Hot Deal">Hot Deal</a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/gas" title="Gas Prices">Gas Prices</a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/roads" title="Pothole Report">Pothole Report</a>
        </li>
        <li>
        •
          <a href="http://blogs.record-eagle.com" title="Blogs">Blogs</a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/history" title="History">History</a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/reflections" title="Reflections">Reflections</a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/specialsections" title="Special Sections">Special Sections</a>
        </li>
        <li>
        •
          <a href="http://traversecity.zip2save.com/" title="Coupons &amp; Circulars">Coupons &amp; Circulars</a>
        </li>
        <li>
        •
          <a href="http://affiliate.zap2it.com/tvlistings/ZCTVHome.do?aid=selecttcr" title="TV Listings">TV Listings</a>
        </li>
        <li>
        •
          <a href="http://weather.cnhionline.com/hw3.php?usr=recordeagle&amp;config=&amp;forecast=zandh&amp;place=TRAVERSE%20CITY&amp;state=MI" title="Weather">Weather</a>
        </li>
        <li>
        •
          <a href="http://calendar.record-eagle.com" title="Calendar of Events">Calendar of Events</a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/webcam" title="West Bay Webcam">West Bay Webcam</a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/bizfinder" title="Biz Finder">Biz Finder</a>
        </li>
        <li>
        •
          <a href="enewsletters" title="eNewsletters">eNewsletters</a>
        </li>
        <li>
        •
          <a href="http://www.facebook.com/pages/Traverse-City-MI/Traverse-City-Record-Eagle/190514546927" title="Facebook">Facebook</a>
        </li>
        <li>
        •
          <a href="http://twitter.com/recordeagle" title="Twitter">Twitter</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>RSS</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://record-eagle.com/local/atom" title="Region ">Region </a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/statenews/atom" title="Michigan">Michigan</a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/opinion/atom" title="Opinion">Opinion</a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/poll/atom" title="Opinion Poll">Opinion Poll</a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/sports/atom" title="Sports">Sports</a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/business/atom" title="Business">Business</a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/features/atom" title="Life">Life</a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/obituaries/atom" title="Obituaries">Obituaries</a>
        </li>
        <li>
        •
          <a href="http://record-eagle.com/columns/atom" title="Columns">Columns</a>
        </li>
        <li>
        •
          <a href="http://blogs.record-eagle.com/?feed=rss2" title="Blogs">Blogs</a>
        </li>
      </ul>
</dd>
  
</dl>
</div>
    <div id="contact_us">
<h4>
<a href="http://record-eagle.com/contactus">Contact Us</a>
</h4>
<dl>
<dt>


 Main No.

</dt>
<dd>
231-946-2000      
</dd>
</dl>
<dl>
<dt>


 Classifieds

</dt>
<dd>
231-946-2653      
</dd>
</dl>
<dl>
<dt>


 Internet

</dt>
<dd>
231-933-1469      
</dd>
</dl>
<dl>
<dt>


 Advertising

</dt>
<dd>
231-933-1413      
</dd>
</dl>
<dl>
<dt>


 Subscriptions

</dt>
<dd>
231-946-2187      
</dd>
</dl>
<dl>
<dt>


 Commercial printing

</dt>
<dd>
231-933-1492      
</dd>
</dl>
<dl>
<dt>


 News Questions

</dt>
<dd>
231-933-1472      
</dd>
</dl>
<dl>
<dt>


 Exec. Editor

</dt>
<dd>
231-933-1467      
</dd>
</dl>
<dl>
<dt>


 News Editor

</dt>
<dd>
231-933-1472      
</dd>
</dl>
<dl>
<dt>


 Opinion Editor

</dt>
<dd>
231-933-1441      
</dd>
</dl>
<dl>
<dt>


 Features Editor

</dt>
<dd>
231-933-1511      
</dd>
</dl>
<dl>
<dt>


 Community Editor

</dt>
<dd>
231-933-1416      
</dd>
</dl>
<dl>
<dt>


 Obituaries

</dt>
<dd>
231-933-1470      
</dd>
</dl>
<dl>
<dt>


 Sports Desk

</dt>
<dd>
231-933-1410      
</dd>
</dl>
<dl>
<dt>


 Business Office

</dt>
<dd>
231-933-1498      
</dd>
</dl>
<dl>
<dt>


 Photo Dept.

</dt>
<dd>
231-933-1444      
</dd>
</dl>
<dl>
<dt>


 Ad Services

</dt>
<dd>
231-933-1445      
</dd>
</dl>
</div>
    <div id="footer_bottom">
      <div class="footer_block">
        <div id="footer_ad" class="noprint">
          <a href="http://www.rtjgolf.com" title="RTJ Golf">
            <img alt="" src="http://static.cnhi.zope.net/cwible//images/golf.jpg"></a>
        </div>
        <div id="copyright">
    

    <p>
      <a href="http://www.cnhi.com/newspapers/">© 2011 Community Newspaper Holdings, Inc.</a> · 
      <a href="http://www.cnhi-can.com">CNHI Classified Advertising Network</a> · 
      <a href="http://cnhins.com">CNHI News Service</a>
      <br>
      Associated Press content © 2011. All rights reserved. AP content may not be published, 
      broadcast, rewritten or redistributed.
      <br>
      Our site is powered by <a href="http://zope.com">Zope</a>. Some parts of our site may require 
      you to <a href="http://www.macromedia.com/go/getflashplayer">download the Flash Player Plugin</a>.
      <br><a href="http://record-eagle.com/privacy">Privacy Policy</a> |
      <a href="http://www.apnewsregistry.com/privacycenter/servicepolicy.aspx" title="AP News Registry">AP News Registry privacy policy</a><br><a target="_blank" href="http://adindex.neighborsink.com/sites/recordeagle.html">Advertiser Index</a>
    </p>
</div>
      </div>
      
      
    </div>
    <a href="#body" title="Back to top" class="top_link noprint">Back to top</a>
    <p class="address">
      Traverse City Record-Eagle
      120 W. Front Street
      Traverse City, MI
      49684
    </p>
  </div>
