<div id="footer">
    <div id="site_map">
<h4>Site Map</h4>


 
  
  <dl>
<dt>Reader Services</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://salemnews.smugmug.com/" title="Buy Photos">Buy Photos</a>
        </li>
        <li>
        •
          <a href="http://www.classifiedsnorth.com/cgi-bin/classifiedconnection/class_home.pl" title="  Classifieds">  Classifieds</a>
        </li>
        <li>
        •
          <a href="http://www.salemnews.com/contactus#Circulation" title="  Subscriber Services">  Subscriber Services</a>
        </li>
        <li>
        •
          <a href="http://www.salemnews.com/mobile#_salemnews" title="Mobile Site">Mobile Site</a>
        </li>
        <li>
        •
          <a href="http://www.salemnews.com/contactus/x383297034/Daily-headline-e-mails" title="Subscribe to Daily Headlines E-mail">Subscribe to Daily Headlines E-mail</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Resources</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://www.salemnews.com/q" title="Qpon Powerful Deals">Qpon Powerful Deals</a>
        </li>
        <li>
        •
          <a href="http://www.salemnews.com/rollcall" title="Roll Call">Roll Call</a>
        </li>
        <li>
        •
          <a href="http://www.salemnews.com/officials" title="Contact Public Officials">Contact Public Officials</a>
        </li>
        <li>
        •
          <a href="http://www.salemnews.com/gas" title="Gas Watch">Gas Watch</a>
        </li>
        <li>
        •
          <a href="http://www.masslottery.com/" title="MASS Lottery">MASS Lottery</a>
        </li>
        <li>
        •
          <a href="http://www.nhlottery.org/WinningNumbers.aspx" title="NH Lottery">NH Lottery</a>
        </li>
        <li>
        •
          <a href="http://www.salemnews.com/pubizstocks" title="Stocks">Stocks</a>
        </li>
        <li>
        •
          <a href="http://www.salemnews.com/skireport" title="Ski Report">Ski Report</a>
        </li>
        <li>
        •
          <a href="http://ma.mypublicnotices.com/PublicNotice.asp?Page=SearchResults&amp;Newspaper=2073" title="Legal Notices">Legal Notices</a>
        </li>
        <li>
        •
          <a href="http://mbta.com/" title="MBTA">MBTA</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Blogs</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://blogs.salemnews.com/fullnelson/" title="The Full Nelson">The Full Nelson</a>
        </li>
        <li>
        •
          <a href="http://blogs.salemnews.com/nssports/" title="High School Sports">High School Sports</a>
        </li>
        <li>
        •
          <a href="http://blogs.salemnews.com/northshorepolitics/" title="North Shore Politics">North Shore Politics</a>
        </li>
        <li>
        •
          <a href="http://blogs.salemnews.com/beverly/" title="Heard in Beverly">Heard in Beverly</a>
        </li>
        <li>
        •
          <a href="http://blogs.salemnews.com/ashorething/" title="A Shore Thing">A Shore Thing</a>
        </li>
        <li>
        •
          <a href="http://blogs.salemnews.com/inthenews/" title="In the News">In the News</a>
        </li>
        <li>
        •
          <a href="http://blogs.salemnews.com/fantasyforecast/" title="Fantasy Forecast">Fantasy Forecast</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Interact</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://www.salemnews.com/contactus" title="Contact Us">Contact Us</a>
        </li>
        <li>
        •
          <a href="http://twitter.com/salemnews" title="Twitter">Twitter</a>
        </li>
        <li>
        •
          <a href="http://www.facebook.com/pages/The-Salem-News/133426745678?ref=ts&amp;v=wall" title="Facebook">Facebook</a>
        </li>
        <li>
        •
          <a href="http://blogs.salemnews.com/home/" title="Blogs">Blogs</a>
        </li>
        <li>
        •
          <a href="http://www.salemnews.com/readerseye" title="Reader's Eye">Reader's Eye</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>RSS Feeds</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="feed://www.salemnews.com/local/atom" title="Local">Local</a>
        </li>
        <li>
        •
          <a href="feed://www.salemnews.com/opinion/atom" title="Opinion">Opinion</a>
        </li>
        <li>
        •
          <a href="feed://www.salemnews.com/sports/atom" title="Sports">Sports</a>
        </li>
        <li>
        •
          <a href="feed://www.salemnews.com/business/atom" title="Business">Business</a>
        </li>
        <li>
        •
          <a href="feed://www.salemnews.com/lifestyle/atom" title="Lifestyles">Lifestyles</a>
        </li>
        <li>
        •
          <a href="feed://blogs.salemnews.com/home/feed/" title="Blogs">Blogs</a>
        </li>
        <li>
        •
          <a href="feed://feeds.feedburner.com/SalemnewsRecentVideos" title="Salem News Videos">Salem News Videos</a>
        </li>
        <li>
        •
          <a href="http://feeds.feedburner.com/SalemNewsHomepageFeeds" title="All-in-one">All-in-one</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Advertiser Services</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://addesk.eagletribune.com/AdDesk/Htmlfiles/Home.jsp" title="Submit an Ad">Submit an Ad</a>
        </li>
        <li>
        •
          <a href="http://adindex.neighborsink.com/sites/salemnews.html" title="Advertiser Index">Advertiser Index</a>
        </li>
        <li>
        •
          <a href="http://www.salemnews.com/contactus#Advertising" title="Contact Our Ad Department">Contact Our Ad Department</a>
        </li>
        <li>
        •
          <a href="http://ads.eagletribune.com/webads101/" title="Web Ads 101">Web Ads 101</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Salem News Publications</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://www.marbleheadhomeandstyle.com/" title="Marblehead Home and Style Magazine">Marblehead Home and Style Magazine</a>
        </li>
        <li>
        •
          <a href="http://bizfinder.salemnews.com/" title="Biz Finder">Biz Finder</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Other CNHI Publications</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://www.newburyportnews.com" title="Daily News of Newburyport">Daily News of Newburyport</a>
        </li>
        <li>
        •
          <a href="http://gloucestertimes.com/" title="  Gloucester Daily Times">  Gloucester Daily Times</a>
        </li>
        <li>
        •
          <a href="http://eagletribune.com/" title="  The Eagle-Tribune">  The Eagle-Tribune</a>
        </li>
      </ul>
</dd>
  
</dl>
</div>
    <div id="contact_us">
<h4>
<a href="http://www.salemnews.com/contactus">Reader Access</a>
</h4>
<dl>
<dt>


 Main 

</dt>
<dd>
978-922-1234      
</dd>
</dl>
<dl>
<dt>


 Home delivery

</dt>
<dd>
978-338-2632      
</dd>
</dl>
<dl>
<dt>


 Classified advertising

</dt>
<dd>
800-927-9200      
</dd>
</dl>
<dl>
<dt>


 Retail advertising

</dt>
<dd>
978-338-2640      
</dd>
</dl>
<dl>
<dt>


 Newsroom

</dt>
<dd>
978-338-2687      
</dd>
</dl>
<dl>
<dt>

<a href="mailto:wbroaddus@salemnews.com">Calendar and community news</a>


</dt>
<dd>
978-338-2687      
</dd>
</dl>
<dl>
<dt>

<a href="mailto:nbenton@salemnews.com">Letters to the Editor</a>


</dt>
<dd>
Fax 978-927-4524      
</dd>
</dl>
<dl>
<dt>

<a href="mailto:obits@salemnews.com">Obituaries</a>


</dt>
<dd>
1-800-681-6248      
</dd>
</dl>
<dl>
<dt>

<a href="http://www.salemnews.com/celebrations">Celebrations</a>


</dt>
<dd>
1-877-246-1000      
</dd>
</dl>
</div>
    <div id="footer_bottom">
      <div class="footer_block">
        <div id="footer_ad" class="noprint">
          <a href="http://www.rtjgolf.com" title="RTJ Golf">
            <img alt="" src="http://static.cnhi.zope.net/cwible//images/golf.jpg"></a>
        </div>
        <div id="copyright">
    

    <p>
      <a href="http://www.cnhi.com/newspapers/">© 2011 Community Newspaper Holdings, Inc.</a> · 
      <a href="http://www.cnhi-can.com">CNHI Classified Advertising Network</a> · 
      <a href="http://cnhins.com">CNHI News Service</a>
      <br>
      Associated Press content © 2011. All rights reserved. AP content may not be published, 
      broadcast, rewritten or redistributed.
      <br>
      Our site is powered by <a href="http://zope.com">Zope</a>. Some parts of our site may require 
      you to <a href="http://www.macromedia.com/go/getflashplayer">download the Flash Player Plugin</a>.
      <br><a href="http://www.salemnews.com/privacy">Privacy Policy</a> |
      <a href="http://www.apnewsregistry.com/privacycenter/servicepolicy.aspx" title="AP News Registry">AP News Registry privacy policy</a><br><a target="_blank" href="http://adindex.neighborsink.com/sites/salemnews.html">Advertiser Index</a>
    </p>
</div>
      </div>
      <if><div id="evie_bigad" class="footer_block">
        <script type="text/javascript">GA_googleFillSlot('zope-300x250-footer-middle');</script>
</div>
      <div id="eviesays_thirty_day" class="footer_block">
        <script type="text/javascript">GA_googleFillSlot('zope-300x250-footer-left');</script>
</div>
      </if>
</div>
    <a href="#body" title="Back to top" class="top_link noprint">Back to top</a>
    <p class="address">
      SalemNews.com, Salem, MA
      32 Dunham Road
      Beverly, MA 
      01915
    </p>
  </div>
