<div id="footer">
    <div id="site_map">
<h4>Site Map</h4>


 
  
  <dl>
<dt>Circulation</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://www2.sharonherald.com/forms/" title="Services">Services</a>
        </li>
        <li>
        •
          <a href="http://pdf.sharonherald.com" title="/ Digital Edition">/ Digital Edition</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Newsroom</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://www2.sharonherald.com/advertising/index.php?option=com_aicontactsafe&amp;view=message&amp;layout=message&amp;pf=5&amp;Itemid=25" title="Submit Letter to Editor">Submit Letter to Editor</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Classified</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://classifieds.cnhi.com/categories?publishername=sharonherald" title="Read Classifieds">Read Classifieds</a>
        </li>
        <li>
        •
          <a href="https://sharonherald.classifieds.cnhi.zope.net/" title="/ Order Classified Ad">/ Order Classified Ad</a>
        </li>
      </ul>
</dd>
  
</dl>
</div>
    <div id="contact_us">
<h4>
<a href="http://sharonherald.com/contactus">Contact Us</a>
</h4>
<dl>
<dt>

<a href="http://www2.sharonherald.com/herald/herald.html">To Contact The Herald</a>


</dt>
<dd>
Phone 724-981-6100      
</dd>
</dl>
<dl>
<dt>

<a href="http://www2.sharonherald.com/aliforms/contactus.html">To Contact Allied News</a>


</dt>
<dd>
Phone 724-458-5010      
</dd>
</dl>
</div>
    <div id="footer_bottom">
      <div class="footer_block">
        <div id="footer_ad" class="noprint">
          <a href="http://www.rtjgolf.com" title="RTJ Golf">
            <img alt="" src="http://static.cnhi.zope.net/cwible//images/golf.jpg"></a>
        </div>
        <div id="copyright">
    

    <p>
      <a href="http://www.cnhi.com/newspapers/">© 2011 Community Newspaper Holdings, Inc.</a> · 
      <a href="http://www.cnhi-can.com">CNHI Classified Advertising Network</a> · 
      <a href="http://cnhins.com">CNHI News Service</a>
      <br>
      Associated Press content © 2011. All rights reserved. AP content may not be published, 
      broadcast, rewritten or redistributed.
      <br>
      Our site is powered by <a href="http://zope.com">Zope</a>. Some parts of our site may require 
      you to <a href="http://www.macromedia.com/go/getflashplayer">download the Flash Player Plugin</a>.
      <br><a href="http://sharonherald.com/privacy">Privacy Policy</a> |
      <a href="http://www.apnewsregistry.com/privacycenter/servicepolicy.aspx" title="AP News Registry">AP News Registry privacy policy</a><br><a target="_blank" href="http://adindex.neighborsink.com/sites/sharonherald.html">Advertiser Index</a>
    </p>
</div>
      </div>
      <div id="evie_bigad" class="footer_block">
        <script type="text/javascript">GA_googleFillSlot('eviesays_widget_sharonherald_300x250');</script>
</div>
      <div id="eviesays_thirty_day" class="footer_block">
        <script type="text/javascript">
          /* <![CDATA[ */
          eviesays.widget.baseURL = 'http://sharonherald.eviesays.com';
          eviesays.includeCSS(eviesays.widget.settings.base_url + '/version/cnhi/style/widget_v1.0.css');
          eviesays.widget.settings.setPartnerCode('cnhi');
          eviesays.widget.settings.where = 'Sharon,PA';
          eviesays.widget.settings.restaurants_url = 'http://local.sharonherald.com/search.pg?q=restaurant&z=%2CPennsylvania';
          /* ]]> */</script><div class="evie_widget_content">
                  <script type="text/javascript">
                    /* <![CDATA[ */
                        eviesays.widget.module.thirty_day();
                    /* ]]> */
                  </script><script type="text/javascript">
                    /* <![CDATA[ */
                    eviesays.widget.module.tab_links(null,{'more_events':1,'movies':1,'restaurants':eviesays.widget.settings.restaurants_url ? eviesays.widget.settings.restaurants_url : 1,'tickets':1});
                    /* ]]> */
                  </script><div class="evie_powered">
                      <script type="text/javascript">
                        /* <![CDATA[ */
                        document.write("<" + "a href=\""+eviesays.widget.settings.base_url+"/submit.html\" class=\"evie_add\">+Add Event<" + "/a>");
                        /* ]]> */
                      </script><a href="http://www.eviesays.com" class="evie_powered">Events by <span>evie</span>says.com</a>
          </div>
        </div>
      </div>
    </div>
    <a href="#body" title="Back to top" class="top_link noprint">Back to top</a>
    <p class="address">
      The Herald, Sharon, Pa.
      52 South Dock Street
      Sharon, Pa.
      16146
    </p>
  </div>
