<div id="footer">
    <div id="site_map">
<h4>Site Map</h4>


 
  
  <dl>
<dt>NEWS</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://suwanneedemocrat.com/suwannee" title="Suwannee Democrat">Suwannee Democrat</a>
        </li>
        <li>
        •
          <a href="http://suwanneedemocrat.com/suwanneeliving" title="Suwannee Living">Suwannee Living</a>
        </li>
        <li>
        •
          <a href="http://suwanneedemocrat.com/suwanneeobits" title="Suwannee Obits">Suwannee Obits</a>
        </li>
        <li>
        •
          <a href="http://suwanneedemocrat.com/suwanneesports" title="Suwannee Sports">Suwannee Sports</a>
        </li>
        <li>
        •
          <a href="http://suwanneedemocrat.com/jasper" title="Jasper News">Jasper News</a>
        </li>
        <li>
        •
          <a href="http://suwanneedemocrat.com/jasperobits" title="Jasper Obits">Jasper Obits</a>
        </li>
        <li>
        •
          <a href="http://suwanneedemocrat.com/jaspersports" title="Jasper Sports">Jasper Sports</a>
        </li>
        <li>
        •
          <a href="http://suwanneedemocrat.com/mayoobits" title="Mayo Obits">Mayo Obits</a>
        </li>
        <li>
        •
          <a href="http://suwanneedemocrat.com/mayosports" title="Mayo Sports">Mayo Sports</a>
        </li>
        <li>
        •
          <a href="http://suwanneedemocrat.com/branford" title="Branford News">Branford News</a>
        </li>
        <li>
        •
          <a href="http://suwanneedemocrat.com/letterstoeditor" title="Letters to the Editor">Letters to the Editor</a>
        </li>
        <li>
        •
          <a href="http://suwanneedemocrat.com/rantandrave" title="Rant &amp; Rave">Rant &amp; Rave</a>
        </li>
        <li>
        •
          <a href="http://suwanneedemocrat.com/specialfeatures" title="Features">Features</a>
        </li>
        <li>
        •
          <a href="http://suwanneedemocrat.com/meetings" title="Meetings">Meetings</a>
        </li>
        <li>
        •
          <a href="http://suwanneedemocrat.com/opinion" title="Opinion">Opinion</a>
        </li>
        <li>
        •
          <a href="http://suwanneedemocrat.com/suwannee-scribbler" title="The Suwannee Scribbler">The Suwannee Scribbler</a>
        </li>
        <li>
        •
          <a href="http://suwanneedemocrat.com/rantandrave" title="Rant &amp; Rave">Rant &amp; Rave</a>
        </li>
        <li>
        •
          <a href="http://suwanneedemocrat.com/letterstoeditor" title="Letters to the Editor">Letters to the Editor</a>
        </li>
        <li>
        •
          <a href="http://suwanneedemocrat.com/video" title="VIDEO">VIDEO</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>MORE</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://www.print2webcorp.com/mkt/sgnf/liveoak/Classified.aspx" title="Classifieds">Classifieds</a>
        </li>
        <li>
        •
          <a href="http://www.floridapublicnotices.com/" title="Florida Public Notices">Florida Public Notices</a>
        </li>
        <li>
        •
          <a href="http://www.historicliveoak.com/" title="Historic Live Oak">Historic Live Oak</a>
        </li>
        <li>
        •
          <a href="http://suwanneedemocrat.smugmug.com/" title="Photo Gallery">Photo Gallery</a>
        </li>
        <li>
        •
          <a href="http://suwanneedemocrat.com/mobile#_suwanneedemocrat" title="Mobile">Mobile</a>
        </li>
        <li>
        •
          <a href="http://suwanneedemocrat.com/religion-columns" title="Religion columns">Religion columns</a>
        </li>
        <li>
        •
          <a href="http://suwanneedemocrat.com/community-calendar" title="Community Calendar">Community Calendar</a>
        </li>
        <li>
        •
          <a href="http://suwanneedemocrat.com/fyi" title="FYI ">FYI </a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>CELEBRATIONS</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://valdosta.sgaonline.com/celebrations-liveoak/?cat=1" title="Engagements">Engagements</a>
        </li>
        <li>
        •
          <a href="http://valdosta.sgaonline.com/celebrations-liveoak/?cat=3" title="Weddings">Weddings</a>
        </li>
        <li>
        •
          <a href="http://valdosta.sgaonline.com/celebrations-liveoak/?cat=4" title="Anniversaries">Anniversaries</a>
        </li>
        <li>
        •
          <a href="http://valdosta.sgaonline.com/celebrations-liveoak/?cat=5" title="Births">Births</a>
        </li>
        <li>
        •
          <a href="http://valdosta.sgaonline.com/celebrations-liveoak/?cat=6" title="Birthdays">Birthdays</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>SUBMIT</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="https://suwanneedemocrat.classifieds.cnhi.zope.net/" title="Classifieds">Classifieds</a>
        </li>
        <li>
        •
          <a href="http://sgaonline.sgaonline.com/obit/registration.php" title="Obit">Obit</a>
        </li>
        <li>
        •
          <a href="http://ftp-static.sgaonline.com/suwanneedemocrat/submit/engagement.PDF" title="Engagement">Engagement</a>
        </li>
        <li>
        •
          <a href="http://ftp-static.sgaonline.com/suwanneedemocrat/submit/Wedding.PDF" title="Wedding">Wedding</a>
        </li>
        <li>
        •
          <a href="http://ftp-static.sgaonline.com/suwanneedemocrat/submit/anniversary.PDF" title="Anniversary">Anniversary</a>
        </li>
        <li>
        •
          <a href="http://suwanneedemocrat.com/letter-to-the-editor" title="Letter to the editor">Letter to the editor</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>SUBSCRIBE</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="https://secure.sgaonline.com/subscribe/suwanneedemocrat/suwanneedemocrat.php" title="Suwannee Democrat">Suwannee Democrat</a>
        </li>
        <li>
        •
          <a href="https://secure.sgaonline.com/subscribe/suwanneedemocrat/mayofreepress.php" title="Mayo Free Press">Mayo Free Press</a>
        </li>
        <li>
        •
          <a href="https://secure.sgaonline.com/subscribe/suwanneedemocrat/jaspernews.php" title="Jasper News">Jasper News</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>OTHER PUBLICATIONS</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://americustimesrecorder.com/" title="Americus Times Recorder">Americus Times Recorder</a>
        </li>
        <li>
        •
          <a href="http://cordeledispatch.com/" title="Cordele Dispatch">Cordele Dispatch</a>
        </li>
        <li>
        •
          <a href="http://moultrieobserver.com/" title="Moultrie Observer">Moultrie Observer</a>
        </li>
        <li>
        •
          <a href="http://timesenterprise.com/" title="Thomasville Times Enterprise">Thomasville Times Enterprise</a>
        </li>
        <li>
        •
          <a href="http://tiftongazette.com/" title="Tifton Gazette">Tifton Gazette</a>
        </li>
        <li>
        •
          <a href="http://valdostadailytimes.com/" title="The Valdosta Daily Times">The Valdosta Daily Times</a>
        </li>
      </ul>
</dd>
  
</dl>
</div>
    <div id="contact_us">
<h4>
<a href="http://suwanneedemocrat.com/contactus">Contact Us</a>
</h4>
<dl>
<dt>


 Classifieds/Legal Advertising

</dt>
<dd>
800-525-4182      
</dd>
</dl>
<dl>
<dt>


 Group Publisher

</dt>
<dd>
386-362-1734 x122      
</dd>
</dl>
<dl>
<dt>


 Advertising

</dt>
<dd>
800 525 4182      
</dd>
</dl>
<dl>
<dt>


 Circulation

</dt>
<dd>
386-362-1734 x152      
</dd>
</dl>
<dl>
<dt>


 Mayo Free Press/manager

</dt>
<dd>
386 362 1734 x150      
</dd>
</dl>
<dl>
<dt>


 Jasper News

</dt>
<dd>
386-792-2487      
</dd>
</dl>
</div>
    <div id="footer_bottom">
      <div class="footer_block">
        <div id="footer_ad" class="noprint">
          <a href="http://www.rtjgolf.com" title="RTJ Golf">
            <img alt="" src="http://static.cnhi.zope.net/cwible//images/golf.jpg"></a>
        </div>
        <div id="copyright">
    

    <p>
      <a href="http://www.cnhi.com/newspapers/">© 2011 Community Newspaper Holdings, Inc.</a> · 
      <a href="http://www.cnhi-can.com">CNHI Classified Advertising Network</a> · 
      <a href="http://cnhins.com">CNHI News Service</a>
      <br>
      Associated Press content © 2011. All rights reserved. AP content may not be published, 
      broadcast, rewritten or redistributed.
      <br>
      Our site is powered by <a href="http://zope.com">Zope</a>. Some parts of our site may require 
      you to <a href="http://www.macromedia.com/go/getflashplayer">download the Flash Player Plugin</a>.
      <br><a href="http://suwanneedemocrat.com/privacy">Privacy Policy</a> |
      <a href="http://www.apnewsregistry.com/privacycenter/servicepolicy.aspx" title="AP News Registry">AP News Registry privacy policy</a><br><a target="_blank" href="http://adindex.neighborsink.com/sites/suwanneedemocrat.html">Advertiser Index</a>
    </p>
</div>
      </div>
      <div id="evie_bigad" class="footer_block">
        <script type="text/javascript">GA_googleFillSlot('eviesays_widget_suwanneedemocrat_300x250');</script>
</div>
      <div id="eviesays_thirty_day" class="footer_block">
        <script type="text/javascript">
          /* <![CDATA[ */
          eviesays.widget.baseURL = 'http://suwanneedemocrat.eviesays.com';
          eviesays.includeCSS(eviesays.widget.settings.base_url + '/version/cnhi/style/widget_v1.0.css');
          eviesays.widget.settings.setPartnerCode('cnhi');
          eviesays.widget.settings.where = 'Live Oak,FL';
          eviesays.widget.settings.restaurants_url = 'http://local.suwanneedemocrat.com/search.pg?q=restaurant&z=Live Oak%2C';
          /* ]]> */</script><div class="evie_widget_content">
                  <script type="text/javascript">
                    /* <![CDATA[ */
                        eviesays.widget.module.thirty_day();
                    /* ]]> */
                  </script><script type="text/javascript">
                    /* <![CDATA[ */
                    eviesays.widget.module.tab_links(null,{'more_events':1,'movies':1,'restaurants':eviesays.widget.settings.restaurants_url ? eviesays.widget.settings.restaurants_url : 1,'tickets':1});
                    /* ]]> */
                  </script><div class="evie_powered">
                      <script type="text/javascript">
                        /* <![CDATA[ */
                        document.write("<" + "a href=\""+eviesays.widget.settings.base_url+"/submit.html\" class=\"evie_add\">+Add Event<" + "/a>");
                        /* ]]> */
                      </script><a href="http://www.eviesays.com" class="evie_powered">Events by <span>evie</span>says.com</a>
          </div>
        </div>
      </div>
    </div>
    <a href="#body" title="Back to top" class="top_link noprint">Back to top</a>
    <p class="address">
      Suwannee Democrat
      211 Howard Street East
      Live Oak, FL
      32064
    </p>
  </div>
