  <div id="footer"> 
    <a href="#body" title="Back to top" class="top_link noprint">Back to top</a>
    <p class="address">
      Home Magazine,
      1400 Madison Ave., Suite 610
      Mankato, MN
      56001
    </p>
<!-- #footer -->