<div id="footer">
    <div id="site_map">
<h4>Site Map</h4>


 
  
  <dl>
<dt>News</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://www.theleedsnews.net/local" title="Local News">Local News</a>
        </li>
        <li>
        •
          <a href="http://www.theleedsnews.net/sports" title="Sports">Sports</a>
        </li>
        <li>
        •
          <a href="http://www.theleedsnews.net/obituaries" title="Obituaries">Obituaries</a>
        </li>
        <li>
        •
          <a href="http://www.theleedsnews.net/features" title="Features">Features</a>
        </li>
        <li>
        •
          <a href="http://www.theleedsnews.net/family" title="Weddings and Anniversaries">Weddings and Anniversaries</a>
        </li>
        <li>
        •
          <a href="http://www.theleedsnews.net/births" title="Births">Births</a>
        </li>
        <li>
        •
          <a href="http://www.theleedsnews.net/education" title="Education">Education</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Local Links</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://www.leedsk12.org/" title="Leeds City Schools">Leeds City Schools</a>
        </li>
        <li>
        •
          <a href="http://www.stclaircountyschools.net/" title="St. Clair County Schools">St. Clair County Schools</a>
        </li>
        <li>
        •
          <a href="http://www.leedsareachamber.com/" title="Leeds Area Chamber of Commerce">Leeds Area Chamber of Commerce</a>
        </li>
        <li>
        •
          <a href="http://www.moodyalchamber.com/" title="Moody Area Chamber of Commerce">Moody Area Chamber of Commerce</a>
        </li>
        <li>
        •
          <a href="http://www.leedsalabama.gov/" title="City of Leeds">City of Leeds</a>
        </li>
        <li>
        •
          <a href="http://www.moodyalabama.gov/" title="City of Moody">City of Moody</a>
        </li>
        <li>
        •
          <a href="http://www.leedslibrary.com/" title="Leeds Jane Culbreth Library">Leeds Jane Culbreth Library</a>
        </li>
        <li>
        •
          <a href="http://leedsscenicbyway.org/" title="Alabama Scenic Byway">Alabama Scenic Byway</a>
        </li>
        <li>
        •
          <a href="http://www.leedshistoricalsociety.org" title="Leeds Historical Society">Leeds Historical Society</a>
        </li>
        <li>
        •
          <a href="http://www.leedsartscouncil.org/" title="Leeds Arts Council">Leeds Arts Council</a>
        </li>
        <li>
        •
          <a href="http://www.eteamz.com/leedsbaseballsoftball/index.cfm?" title="Leeds Youth Baseball/Softball">Leeds Youth Baseball/Softball</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Social Interests</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://www.facebook.com/pages/The-Leeds-News/91189973686" title="The Leeds News on Facebook">The Leeds News on Facebook</a>
        </li>
        <li>
        •
          <a href="http://www.facebook.com/pages/Leeds-Youth-Baseball-Softball/251214746909" title="Leeds Youth Sports">Leeds Youth Sports</a>
        </li>
        <li>
        •
          <a href="http://www.facebook.com/pages/Relay-for-Life-LeedsMoody/164785019130" title="Leeds/Moody Relay for Life">Leeds/Moody Relay for Life</a>
        </li>
      </ul>
</dd>
  
</dl>
</div>
    <div id="contact_us">
<h4>
<a href="http://www.theleedsnews.net/contactus">Contact Us</a>
</h4>
<dl>
<dt>


 The Leeds News

</dt>
<dd>
(205) 699-2214      
</dd>
</dl>
</div>
    <div id="footer_bottom">
      <div class="footer_block">
        <div id="footer_ad" class="noprint">
          <a href="http://www.rtjgolf.com" title="RTJ Golf">
            <img alt="" src="http://static.cnhi.zope.net/cwible//images/golf.jpg"></a>
        </div>
        <div id="copyright">
    

    <p>
      <a href="http://www.cnhi.com/newspapers/">© 2011 Community Newspaper Holdings, Inc.</a> · 
      <a href="http://www.cnhi-can.com">CNHI Classified Advertising Network</a> · 
      <a href="http://cnhins.com">CNHI News Service</a>
      <br>
      Associated Press content © 2011. All rights reserved. AP content may not be published, 
      broadcast, rewritten or redistributed.
      <br>
      Our site is powered by <a href="http://zope.com">Zope</a>. Some parts of our site may require 
      you to <a href="http://www.macromedia.com/go/getflashplayer">download the Flash Player Plugin</a>.
      <br><a href="http://www.theleedsnews.net/privacy">Privacy Policy</a> |
      <a href="http://www.apnewsregistry.com/privacycenter/servicepolicy.aspx" title="AP News Registry">AP News Registry privacy policy</a><br><a target="_blank" href="http://adindex.neighborsink.com/sites/theleedsnews.html">Advertiser Index</a>
    </p>
</div>
      </div>
      <div id="evie_bigad" class="footer_block">
        <script type="text/javascript">GA_googleFillSlot('eviesays_widget_theleedsnews_300x250');</script>
</div>
      <div id="eviesays_thirty_day" class="footer_block">
        <script type="text/javascript">
          /* <![CDATA[ */
          eviesays.widget.baseURL = 'http://theleedsnews.eviesays.com';
          eviesays.includeCSS(eviesays.widget.settings.base_url + '/version/cnhi/style/widget_v1.0.css');
          eviesays.widget.settings.setPartnerCode('cnhi');
          eviesays.widget.settings.where = 'Leeds,AL';
          eviesays.widget.settings.restaurants_url = 'http://local.theleedsnews.com/search.pg?q=restaurant&z=%2C';
          /* ]]> */</script><div class="evie_widget_content">
                  <script type="text/javascript">
                    /* <![CDATA[ */
                        eviesays.widget.module.thirty_day();
                    /* ]]> */
                  </script><script type="text/javascript">
                    /* <![CDATA[ */
                    eviesays.widget.module.tab_links(null,{'more_events':1,'movies':1,'restaurants':eviesays.widget.settings.restaurants_url ? eviesays.widget.settings.restaurants_url : 1,'tickets':1});
                    /* ]]> */
                  </script><div class="evie_powered">
                      <script type="text/javascript">
                        /* <![CDATA[ */
                        document.write("<" + "a href=\""+eviesays.widget.settings.base_url+"/submit.html\" class=\"evie_add\">+Add Event<" + "/a>");
                        /* ]]> */
                      </script><a href="http://www.eviesays.com" class="evie_powered">Events by <span>evie</span>says.com</a>
          </div>
        </div>
      </div>
    </div>
    <a href="#body" title="Back to top" class="top_link noprint">Back to top</a>
    <p class="address">
      The Leeds News (Leeds, AL)
      8024 Parkway Drive
      Leeds, AL
      35094
    </p>
  </div>
