<div id="footer">
    <div id="site_map">
<h4>Site Map</h4>


 
  
  <dl>
<dt>News and Sports</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://thedailystar.com/localnews" title="Local News">Local News</a>
        </li>
        <li>
        •
          <a href="http://thedailystar.com/localsports" title="    Local Sports">    Local Sports</a>
        </li>
        <li>
        •
          <a href="http://thedailystar.com/businessnews" title="Business">Business</a>
        </li>
        <li>
        •
          <a href="http://thedailystar.com/businessbeat" title="Business Beat">Business Beat</a>
        </li>
        <li>
        •
          <a href="http://thedailystar.com/nystallions" title="NY Stallions">NY Stallions</a>
        </li>
        <li>
        •
          <a href="http://thedailystar.com/oneontaoutlaws" title="Oneonta Outlaws">Oneonta Outlaws</a>
        </li>
        <li>
        •
          <a href="http://thedailystar.com/policeblotter" title="Police Blotter">Police Blotter</a>
        </li>
        <li>
        •
          <a href="http://thedailystar.com/obituaries" title="Obituaries">Obituaries</a>
        </li>
        <li>
        •
          <a href="http://thedailystar.com/artsentertainment" title="Arts and Entertainment">Arts and Entertainment</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Community</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://thedailystar.com/anniversaries" title="Anniversaries">Anniversaries</a>
        </li>
        <li>
        •
          <a href="http://thedailystar.com/births" title="Births">Births</a>
        </li>
        <li>
        •
          <a href="http://thedailystar.com/communitycalendar" title="Community Calendar">Community Calendar</a>
        </li>
        <li>
        •
          <a href="http://thedailystar.com/communitynews" title="Community News">Community News</a>
        </li>
        <li>
        •
          <a href="http://thedailystar.com/librarycorner" title="Library Corner">Library Corner</a>
        </li>
        <li>
        •
          <a href="http://thedailystar.com/seniorcal" title="Senior Activities">Senior Activities</a>
        </li>
        <li>
        •
          <a href="http://thedailystar.com/seniormenu" title="Senior Menu">Senior Menu</a>
        </li>
        <li>
        •
          <a href="http://thedailystar.com/seniors" title="Seniors">Seniors</a>
        </li>
        <li>
        •
          <a href="http://thedailystar.com/stepbackintime" title="Step Back In Time">Step Back In Time</a>
        </li>
        <li>
        •
          <a href="http://thedailystar.com/supportgroups" title="Support Groups">Support Groups</a>
        </li>
        <li>
        •
          <a href="http://thedailystar.com/weddings" title="Weddings &amp; Engagements">Weddings &amp; Engagements</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Opinion</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://thedailystar.com/editorials" title="Editorials">Editorials</a>
        </li>
        <li>
        •
          <a href="http://thedailystar.com/letters" title="Letters to the Editor">Letters to the Editor</a>
        </li>
        <li>
        •
          <a href="http://thedailystar.com/streettalk" title="Street Talk">Street Talk</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Columns</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://thedailystar.com/bigchuck" title="Big Chuck">Big Chuck</a>
        </li>
        <li>
        •
          <a href="http://thedailystar.com/carybrunswick" title="Cary Brunswick">Cary Brunswick</a>
        </li>
        <li>
        •
          <a href="http://thedailystar.com/chuckpinkey" title="Chuck Pinkey">Chuck Pinkey</a>
        </li>
        <li>
        •
          <a href="http://thedailystar.com/tv2.0" title="Emily Popek">Emily Popek</a>
        </li>
        <li>
        •
          <a href="http://thedailystar.com/guestcolumn" title="Guest Column">Guest Column</a>
        </li>
        <li>
        •
          <a href="http://thedailystar.com/lisamiller" title="Lisa Miller">Lisa Miller</a>
        </li>
        <li>
        •
          <a href="http://thedailystar.com/marksimonson" title="Mark Simonson">Mark Simonson</a>
        </li>
        <li>
        •
          <a href="http://thedailystar.com/religioncolumn" title="Religion Column">Religion Column</a>
        </li>
        <li>
        •
          <a href="http://thedailystar.com/rickbrockway" title="Rick Brockway">Rick Brockway</a>
        </li>
        <li>
        •
          <a href="http://thedailystar.com/sampollak" title="Sam Pollak">Sam Pollak</a>
        </li>
        <li>
        •
          <a href="http://thedailystar.com/tomgrace" title="Tom Grace">Tom Grace</a>
        </li>
        <li>
        •
          <a href="http://thedailystar.com/tomsears" title="Tom Sears">Tom Sears</a>
        </li>
        <li>
        •
          <a href="http://thedailystar.com/myturn" title="My Turn">My Turn</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Lifestyles</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://thedailystar.com/lifestylesmain" title="Lifestyles.">Lifestyles.</a>
        </li>
        <li>
        •
          <a href="http://thedailystar.com/aroundthearts" title="Around The Arts">Around The Arts</a>
        </li>
        <li>
        •
          <a href="http://thedailystar.com/language" title="Let's Look At The Language">Let's Look At The Language</a>
        </li>
        <li>
        •
          <a href="http://thedailystar.com/musicbeat" title="Music Beat">Music Beat</a>
        </li>
        <li>
        •
          <a href="http://thedailystar.com/parentingimperfect" title="Parenting Imperfect">Parenting Imperfect</a>
        </li>
        <li>
        •
          <a href="http://thedailystar.com/seniorscene" title="Senior scene">Senior scene</a>
        </li>
        <li>
        •
          <a href="http://thedailystar.com/techgp" title="Tech, GP">Tech, GP</a>
        </li>
        <li>
        •
          <a href="http://thedailystar.com/teentalk" title="Teen Talk">Teen Talk</a>
        </li>
        <li>
        •
          <a href="http://thedailystar.com/disability" title="disABILITY">disABILITY</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Other Publications</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://thedailystar.com/thresholds" title="Thresholds">Thresholds</a>
        </li>
        <li>
        •
          <a href="http://thedailystar.com/employmentopportunities" title="Employment Opportunities">Employment Opportunities</a>
        </li>
        <li>
        •
          <a href="http://www.coopercrier.com" title="Cooperstown Crier">Cooperstown Crier</a>
        </li>
        <li>
        •
          <a href="http://www.otownscene.com" title="O-Town Scene">O-Town Scene</a>
        </li>
        <li>
        •
          <a href="http://thedailystar.com/specialsections" title="Special Sections">Special Sections</a>
        </li>
        <li>
        •
          <a href="http://www.epageflip.net/title/5812" title="Stay Tuned - TV Guide">Stay Tuned - TV Guide</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Submissions</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://thedailystar.com/submit_wedding" title="Submit Wedding Announcements">Submit Wedding Announcements</a>
        </li>
        <li>
        •
          <a href="http://thedailystar.com/submit_engagement" title="Submit Engagement Announcements">Submit Engagement Announcements</a>
        </li>
        <li>
        •
          <a href="http://thedailystar.com/submitbirth" title="Submit a Birth Announcement">Submit a Birth Announcement</a>
        </li>
        <li>
        •
          <a href="http://thedailystar.com/submit_letter" title="Submit Letters to the Editor">Submit Letters to the Editor</a>
        </li>
        <li>
        •
          <a href="http://thedailystar.com/submit_birth" title="Submit Birth Announcement">Submit Birth Announcement</a>
        </li>
        <li>
        •
          <a href="http://thedailystar.com/newstips" title="Submit News Tips">Submit News Tips</a>
        </li>
      </ul>
</dd>
  
</dl>
</div>
    <div id="contact_us">
<h4>
<a href="http://thedailystar.com/contactus">Contact Us</a>
</h4>
<dl>
<dt>


 Main Switchboard

</dt>
<dd>
607-432-1000      
</dd>
</dl>
<dl>
<dt>


 Main Fax

</dt>
<dd>
607-432-5847      
</dd>
</dl>
<dl>
<dt>


 News Tips and Press Releases

</dt>
<dd>
607-432-1000 x217      
</dd>
</dl>
<dl>
<dt>


 Publisher

</dt>
<dd>
607-432-1000 x214      
</dd>
</dl>
<dl>
<dt>


 Editor

</dt>
<dd>
607-432-1000 x208      
</dd>
</dl>
<dl>
<dt>


 Webmaster

</dt>
<dd>
607-432-1000 x239      
</dd>
</dl>
</div>
    <div id="footer_bottom">
      <div class="footer_block">
        <div id="footer_ad" class="noprint">
          <a href="http://www.rtjgolf.com" title="RTJ Golf">
            <img alt="" src="http://static.cnhi.zope.net/cwible//images/golf.jpg"></a>
        </div>
        <div id="copyright">
    

    <p>
      <a href="http://www.cnhi.com/newspapers/">© 2011 Community Newspaper Holdings, Inc.</a> · 
      <a href="http://www.cnhi-can.com">CNHI Classified Advertising Network</a> · 
      <a href="http://cnhins.com">CNHI News Service</a>
      <br>
      Associated Press content © 2011. All rights reserved. AP content may not be published, 
      broadcast, rewritten or redistributed.
      <br>
      Our site is powered by <a href="http://zope.com">Zope</a>. Some parts of our site may require 
      you to <a href="http://www.macromedia.com/go/getflashplayer">download the Flash Player Plugin</a>.
      <br><a href="http://thedailystar.com/privacy">Privacy Policy</a> |
      <a href="http://www.apnewsregistry.com/privacycenter/servicepolicy.aspx" title="AP News Registry">AP News Registry privacy policy</a><br><a target="_blank" href="http://adindex.neighborsink.com/sites/thedailystar.html">Advertiser Index</a>
    </p>
</div>
      </div>
      <div id="evie_bigad" class="footer_block">
        <script type="text/javascript">GA_googleFillSlot('eviesays_widget_thedailystar_300x250');</script>
</div>
      <div id="eviesays_thirty_day" class="footer_block">
        <script type="text/javascript">
          /* <![CDATA[ */
          eviesays.widget.baseURL = 'http://thedailystar.eviesays.com';
          eviesays.includeCSS(eviesays.widget.settings.base_url + '/version/cnhi/style/widget_v1.0.css');
          eviesays.widget.settings.setPartnerCode('cnhi');
          eviesays.widget.settings.where = 'Oneonta,NY';
          eviesays.widget.settings.restaurants_url = 'http://local.thedailystar.com/search.pg?q=restaurant&z=%2C';
          /* ]]> */</script><div class="evie_widget_content">
                  <script type="text/javascript">
                    /* <![CDATA[ */
                        eviesays.widget.module.thirty_day();
                    /* ]]> */
                  </script><script type="text/javascript">
                    /* <![CDATA[ */
                    eviesays.widget.module.tab_links(null,{'more_events':1,'movies':1,'restaurants':eviesays.widget.settings.restaurants_url ? eviesays.widget.settings.restaurants_url : 1,'tickets':1});
                    /* ]]> */
                  </script><div class="evie_powered">
                      <script type="text/javascript">
                        /* <![CDATA[ */
                        document.write("<" + "a href=\""+eviesays.widget.settings.base_url+"/submit.html\" class=\"evie_add\">+Add Event<" + "/a>");
                        /* ]]> */
                      </script><a href="http://www.eviesays.com" class="evie_powered">Events by <span>evie</span>says.com</a>
          </div>
        </div>
      </div>
    </div>
    <a href="#body" title="Back to top" class="top_link noprint">Back to top</a>
    <p class="address">
      The Daily Star, Oneonta, NY - otsego county news, delaware county news, oneonta news, oneonta sports
      102 Chestnut Street
      Oneonta, NY
      13820
    </p>
  </div>
