<div id="footer">
    <div id="site_map">
<h4>Site Map</h4>


 
  
  <dl>
<dt>News</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://normantranscript.com/local" title="Local">Local</a>
        </li>
        <li>
        •
          <a href="http://normantranscript.com/statenews" title="State/Region">State/Region</a>
        </li>
        <li>
        •
          <a href="http://normantranscript.com/nation" title="Nation/World">Nation/World</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Beats</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://normantranscript.com/newsfeatures-beat" title="News Features">News Features</a>
        </li>
        <li>
        •
          <a href="http://normantranscript.com/business-beat" title="Business">Business</a>
        </li>
        <li>
        •
          <a href="http://normantranscript.com/crime-beat" title="Crime/Courts">Crime/Courts</a>
        </li>
        <li>
        •
          <a href="http://normantranscript.com/education-beat" title="Education">Education</a>
        </li>
        <li>
        •
          <a href="http://normantranscript.com/government-beat" title="Government">Government</a>
        </li>
        <li>
        •
          <a href="http://normantranscript.com/university-beat" title="University">University</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Sports</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://normantranscript.com/sports" title="All Sports">All Sports</a>
        </li>
        <li>
        •
          <a href="http://normantranscript.com/ousports" title="OU Sports">OU Sports</a>
        </li>
        <li>
        •
          <a href="http://normantranscript.com/sports-community" title="Community Sports">Community Sports</a>
        </li>
        <li>
        •
          <a href="http://normantranscript.com/sports-national" title="National Sports">National Sports</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Community Living</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://normantranscript.com/features" title="Community">Community</a>
        </li>
        <li>
        •
          <a href="http://normantranscript.com/entertainment" title="Entertainment">Entertainment</a>
        </li>
        <li>
        •
          <a href="http://normantranscript.com/religion" title="Religion">Religion</a>
        </li>
        <li>
        •
          <a href="http://normantranscript.com/living-records" title="Public Records">Public Records</a>
        </li>
        <li>
        •
          <a href="http://normantranscript.com/milestones" title="Milestones">Milestones</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Opinion</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://normantranscript.com/editorials" title="Editorials">Editorials</a>
        </li>
        <li>
        •
          <a href="http://normantranscript.com/columns" title="Columns">Columns</a>
        </li>
        <li>
        •
          <a href="http://normantranscript.com/letters" title="Letters">Letters</a>
        </li>
        <li>
        •
          <a href="http://normantranscript.net/connected" title="Blogs">Blogs</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Products</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://normantranscript.com/realestate" title="Norman Homes">Norman Homes</a>
        </li>
        <li>
        •
          <a href="http://normantranscript.com/pop" title="pop Online">pop Online</a>
        </li>
        <li>
        •
          <a href="http://normantranscript.com/special" title="Special Sections">Special Sections</a>
        </li>
      </ul>
</dd>
  
</dl>
</div>
    <div id="contact_us">
<h4>
<a href="http://normantranscript.com/contactus">Contact Us</a>
</h4>
<dl>
<dt>


 Main Number

</dt>
<dd>
(405) 321-1800      
</dd>
</dl>
<dl>
<dt>


 Classifieds

</dt>
<dd>
(405) 366-3500      
</dd>
</dl>
<dl>
<dt>


 Circulation

</dt>
<dd>
(405) 366-3573      
</dd>
</dl>
<dl>
<dt>


 Advertising

</dt>
<dd>
(405) 366-3587      
</dd>
</dl>
<dl>
<dt>


 Newsroom

</dt>
<dd>
(405) 366-3542      
</dd>
</dl>
<dl>
<dt>


 Sports

</dt>
<dd>
(405) 366-3535      
</dd>
</dl>
<dl>
<dt>


 Fax

</dt>
<dd>
(405) 366-3516      
</dd>
</dl>
</div>
    <div id="footer_bottom">
      <div class="footer_block">
        <div id="footer_ad" class="noprint">
          <a href="http://www.rtjgolf.com" title="RTJ Golf">
            <img alt="" src="http://static.cnhi.zope.net/cwible//images/golf.jpg"></a>
        </div>
        <div id="copyright">
    

    <p>
      <a href="http://www.cnhi.com/newspapers/">© 2011 Community Newspaper Holdings, Inc.</a> · 
      <a href="http://www.cnhi-can.com">CNHI Classified Advertising Network</a> · 
      <a href="http://cnhins.com">CNHI News Service</a>
      <br>
      Associated Press content © 2011. All rights reserved. AP content may not be published, 
      broadcast, rewritten or redistributed.
      <br>
      Our site is powered by <a href="http://zope.com">Zope</a>. Some parts of our site may require 
      you to <a href="http://www.macromedia.com/go/getflashplayer">download the Flash Player Plugin</a>.
      <br><a href="http://normantranscript.com/privacy">Privacy Policy</a> |
      <a href="http://www.apnewsregistry.com/privacycenter/servicepolicy.aspx" title="AP News Registry">AP News Registry privacy policy</a><br><a target="_blank" href="http://adindex.neighborsink.com/sites/thenormantranscript.html">Advertiser Index</a>
    </p>
</div>
      </div>
      <div id="evie_bigad" class="footer_block">
        <script type="text/javascript">GA_googleFillSlot('eviesays_widget_thenormantranscript_300x250');</script>
</div>
      <div id="eviesays_thirty_day" class="footer_block">
        <script type="text/javascript">
          /* <![CDATA[ */
          eviesays.widget.baseURL = 'http://thenormantranscript.eviesays.com';
          eviesays.includeCSS(eviesays.widget.settings.base_url + '/version/cnhi/style/widget_v1.0.css');
          eviesays.widget.settings.setPartnerCode('cnhi');
          eviesays.widget.settings.where = 'Norman,OK';
          eviesays.widget.settings.restaurants_url = 'http://local.thenormantranscript.com/search.pg?q=restaurant&z=%2C';
          /* ]]> */</script><div class="evie_widget_content">
                  <script type="text/javascript">
                    /* <![CDATA[ */
                        eviesays.widget.module.thirty_day();
                    /* ]]> */
                  </script><script type="text/javascript">
                    /* <![CDATA[ */
                    eviesays.widget.module.tab_links(null,{'more_events':1,'movies':1,'restaurants':eviesays.widget.settings.restaurants_url ? eviesays.widget.settings.restaurants_url : 1,'tickets':1});
                    /* ]]> */
                  </script><div class="evie_powered">
                      <script type="text/javascript">
                        /* <![CDATA[ */
                        document.write("<" + "a href=\""+eviesays.widget.settings.base_url+"/submit.html\" class=\"evie_add\">+Add Event<" + "/a>");
                        /* ]]> */
                      </script><a href="http://www.eviesays.com" class="evie_powered">Events by <span>evie</span>says.com</a>
          </div>
        </div>
      </div>
    </div>
    <a href="#body" title="Back to top" class="top_link noprint">Back to top</a>
    <p class="address">
      The Norman Transcript
      215 E. Comanche St.
      Norman, OK
      73069
    </p>
  </div>
