<div id="footer">
    <div id="site_map">
<h4>Site Map</h4>


 
  
  <dl>
<dt>NEWS</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://tiftongazette.com/local" title="Local News">Local News</a>
        </li>
        <li>
        •
          <a href="http://tiftongazette.com/sports" title="Local Sports">Local Sports</a>
        </li>
        <li>
        •
          <a href="http://tiftongazette.com/obituaries" title="Obituaries">Obituaries</a>
        </li>
        <li>
        •
          <a href="http://tiftongazette.com/opinion" title="Opinion">Opinion</a>
        </li>
        <li>
        •
          <a href="http://tiftongazette.com/policereports" title="Police Reports">Police Reports</a>
        </li>
        <li>
        •
          <a href="http://tiftongazette.com/business" title="Business">Business</a>
        </li>
        <li>
        •
          <a href="http://tiftongazette.com/foodscores" title="Food Scores">Food Scores</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>MORE</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://tiftongazette.com/specialsections" title="Special Sections">Special Sections</a>
        </li>
        <li>
        •
          <a href="http://www.print2webcorp.com/mkt/sgnf/tifton/Classified.aspx" title="Classifieds">Classifieds</a>
        </li>
        <li>
        •
          <a href="https://tiftongazette.classifieds.cnhi.zope.net/" title="Buy a classified">Buy a classified</a>
        </li>
        <li>
        •
          <a href="http://tiftongazette.com/entertainment" title="Explore">Explore</a>
        </li>
        <li>
        •
          <a href="http://tiftongazette.com/youragenda" title="Your Agenda">Your Agenda</a>
        </li>
        <li>
        •
          <a href="http://valdosta.sgaonline.com/promo/athletetifton/" title="Athlete Spotlight">Athlete Spotlight</a>
        </li>
        <li>
        •
          <a href="http://print.coupons.com/couponweb/Offers.aspx?pid=13637&amp;zid=nu26&amp;nid=10&amp;bid=alk0426090432c80361ef116411" title="Free Coupons &amp; Recipes">Free Coupons &amp; Recipes</a>
        </li>
        <li>
        •
          <a href="http://ftp-static.sgaonline.com/tiftongazette/businessdirectory.html" title="Business Directory">Business Directory</a>
        </li>
        <li>
        •
          <a href="http://ftp-static.sgaonline.com/tiftongazette/specialsections/dap.pdf" title="Design an ad">Design an ad</a>
        </li>
        <li>
        •
          <a href="http://www.branchsmith.com/ebook/cnhi/28702_CNHI/index.html" title="Tifton Scene">Tifton Scene</a>
        </li>
        <li>
        •
          <a href="http://ftp-static.sgaonline.com/tiftongazette/specialsections/gazetteextra/gazetteextra.pdf" title="Gazette Extra">Gazette Extra</a>
        </li>
        <li>
        •
          <a href="http://valdosta.sgaonline.com/promo/tifton-blogs.html" title="Blogs">Blogs</a>
        </li>
        <li>
        •
          <a href="http://www.epageflip.net/title/5815" title="Local TV Listings">Local TV Listings</a>
        </li>
        <li>
        •
          <a href="http://valdosta.sgaonline.com/celebrations-tifton/" title="Celebrations">Celebrations</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>SUBMIT</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="https://tiftongazette.classifieds.cnhi.zope.net/" title="Classified">Classified</a>
        </li>
        <li>
        •
          <a href="http://sgaonline.sgaonline.com/obit/" title="Obituary">Obituary</a>
        </li>
        <li>
        •
          <a href="http://tiftongazette.com/rantandrave" title="Rant &amp; Rave">Rant &amp; Rave</a>
        </li>
        <li>
        •
          <a href="http://tiftongazette.com/lettertotheeditor" title="Letter to the editor">Letter to the editor</a>
        </li>
        <li>
        •
          <a href="http://ftp-static.sgaonline.com/tiftongazette/contactus/engagementform.php" title="Engagement Announcement">Engagement Announcement</a>
        </li>
        <li>
        •
          <a href="http://ftp-static.sgaonline.com/tiftongazette/contactus/weddingform.php" title="Wedding Announcement">Wedding Announcement</a>
        </li>
        <li>
        •
          <a href="http://ftp-static.sgaonline.com/tiftongazette/contactus/birth_announcement.pdf" title="Birth Announcement">Birth Announcement</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>SUBSCRIBE</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="https://secure.sgaonline.com/subscribe/tiftongazette/" title="Print Edition">Print Edition</a>
        </li>
        <li>
        •
          <a href="http://tiftongazette.newspaperdirect.com/epaper/viewer.aspx" title="The Digital Edition">The Digital Edition</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>OTHER PUBLICATIONS</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://americustimesrecorder.com/" title="Americus Times Recorder">Americus Times Recorder</a>
        </li>
        <li>
        •
          <a href="http://cordeledispatch.com/" title="Cordele Dispatch">Cordele Dispatch</a>
        </li>
        <li>
        •
          <a href="http://moultrieobserver.com/" title="Moultrie Observer">Moultrie Observer</a>
        </li>
        <li>
        •
          <a href="http://suwanneedemocrat.com/" title="Suwannee Democrat">Suwannee Democrat</a>
        </li>
        <li>
        •
          <a href="http://timesenterprise.com/" title="Thomasville Times Enterprise">Thomasville Times Enterprise</a>
        </li>
        <li>
        •
          <a href="http://valdostadailytimes.com/" title="The Valdosta Daily Times">The Valdosta Daily Times</a>
        </li>
      </ul>
</dd>
  
</dl>
</div>
    <div id="contact_us">
<h4>
<a href="http://tiftongazette.com/contactus">Contact Us</a>
</h4>
<dl>
<dt>


 General

</dt>
<dd>
229.382.4321      
</dd>
</dl>
<dl>
<dt>


 Fax

</dt>
<dd>
229.387.7322      
</dd>
</dl>
<dl>
<dt>


 Publisher

</dt>
<dd>
229.382.4321 ext.1901      
</dd>
</dl>
<dl>
<dt>


 Advertising Director

</dt>
<dd>
229.382.4321 ext.1925      
</dd>
</dl>
<dl>
<dt>


 Managing Editor

</dt>
<dd>
229.382.4321 ext.1903      
</dd>
</dl>
<dl>
<dt>


 Web Developer

</dt>
<dd>
229.269.4012      
</dd>
</dl>
</div>
    <div id="footer_bottom">
      <div class="footer_block">
        <div id="footer_ad" class="noprint">
          <a href="http://www.rtjgolf.com" title="RTJ Golf">
            <img alt="" src="http://static.cnhi.zope.net/cwible//images/golf.jpg"></a>
        </div>
        <div id="copyright">
    

    <p>
      <a href="http://www.cnhi.com/newspapers/">© 2011 Community Newspaper Holdings, Inc.</a> · 
      <a href="http://www.cnhi-can.com">CNHI Classified Advertising Network</a> · 
      <a href="http://cnhins.com">CNHI News Service</a>
      <br>
      Associated Press content © 2011. All rights reserved. AP content may not be published, 
      broadcast, rewritten or redistributed.
      <br>
      Our site is powered by <a href="http://zope.com">Zope</a>. Some parts of our site may require 
      you to <a href="http://www.macromedia.com/go/getflashplayer">download the Flash Player Plugin</a>.
      <br><a href="http://tiftongazette.com/privacy">Privacy Policy</a> |
      <a href="http://www.apnewsregistry.com/privacycenter/servicepolicy.aspx" title="AP News Registry">AP News Registry privacy policy</a><br><a target="_blank" href="http://adindex.neighborsink.com/sites/tiftongazette.html">Advertiser Index</a>
    </p>
</div>
      </div>
      <div id="evie_bigad" class="footer_block">
        <script type="text/javascript">GA_googleFillSlot('eviesays_widget_tiftongazette_300x250');</script>
</div>
      <div id="eviesays_thirty_day" class="footer_block">
        <script type="text/javascript">
          /* <![CDATA[ */
          eviesays.widget.baseURL = 'http://tiftongazette.eviesays.com';
          eviesays.includeCSS(eviesays.widget.settings.base_url + '/version/cnhi/style/widget_v1.0.css');
          eviesays.widget.settings.setPartnerCode('cnhi');
          eviesays.widget.settings.where = 'Tifton,GA';
          eviesays.widget.settings.restaurants_url = 'http://local.tiftongazette.com/search.pg?q=restaurant&z=Tifton%2C';
          /* ]]> */</script><div class="evie_widget_content">
                  <script type="text/javascript">
                    /* <![CDATA[ */
                        eviesays.widget.module.thirty_day();
                    /* ]]> */
                  </script><script type="text/javascript">
                    /* <![CDATA[ */
                    eviesays.widget.module.tab_links(null,{'more_events':1,'movies':1,'restaurants':eviesays.widget.settings.restaurants_url ? eviesays.widget.settings.restaurants_url : 1,'tickets':1});
                    /* ]]> */
                  </script><div class="evie_powered">
                      <script type="text/javascript">
                        /* <![CDATA[ */
                        document.write("<" + "a href=\""+eviesays.widget.settings.base_url+"/submit.html\" class=\"evie_add\">+Add Event<" + "/a>");
                        /* ]]> */
                      </script><a href="http://www.eviesays.com" class="evie_powered">Events by <span>evie</span>says.com</a>
          </div>
        </div>
      </div>
    </div>
    <a href="#body" title="Back to top" class="top_link noprint">Back to top</a>
    <p class="address">
      Tifton Gazette
      P.O. Box 708
      Tifton, GA
      31793
    </p>
  </div>
