<div id="footer">
    <div id="site_map">
<h4>Site Map</h4>


 
  
  <dl>
<dt>News Sections</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://tribstar.com/news" title="News">News</a>
        </li>
        <li>
        •
          <a href="http://tribstar.com/local" title="Local &amp; Bistate">Local &amp; Bistate</a>
        </li>
        <li>
        •
          <a href="http://tribstar.com/news_columns" title="News Columns">News Columns</a>
        </li>
        <li>
        •
          <a href="http://tribstar.com/vitalstats" title="Vital Stats">Vital Stats</a>
        </li>
        <li>
        •
          <a href="http://tribstar.com/business" title="Business">Business</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Sports Sections</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://tribstar.com/sports" title="Sports">Sports</a>
        </li>
        <li>
        •
          <a href="http://tribstar.com/local_interest" title="Local Interest">Local Interest</a>
        </li>
        <li>
        •
          <a href="http://tribstar.com/highschoolsports" title="High School">High School</a>
        </li>
        <li>
        •
          <a href="http://tribstar.com/collegesports" title="College">College</a>
        </li>
        <li>
        •
          <a href="http://tribstar.com/sports_columns" title="Sports Columns">Sports Columns</a>
        </li>
        <li>
        •
          <a href="http://tribstar.com/prosports" title="Pro Sports">Pro Sports</a>
        </li>
        <li>
        •
          <a href="http://tribstar.com/colts" title="Colts">Colts</a>
        </li>
        <li>
        •
          <a href="http://tribstar.com/autoracing" title="Auto Racing">Auto Racing</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Opinion Section</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://tribstar.com/opinion" title="Opinions">Opinions</a>
        </li>
        <li>
        •
          <a href="http://tribstar.com/letters" title="Letters">Letters</a>
        </li>
        <li>
        •
          <a href="http://tribstar.com/editorials" title="Editorials">Editorials</a>
        </li>
        <li>
        •
          <a href="http://tribstar.com/opinion_columns" title="Opinion Columns">Opinion Columns</a>
        </li>
        <li>
        •
          <a href="http://tribstar.com/flashpoint" title="Flashpoint">Flashpoint</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Features Sections</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://tribstar.com/features" title="Features">Features</a>
        </li>
        <li>
        •
          <a href="http://tribstar.com/valley_life" title="Valley Life">Valley Life</a>
        </li>
        <li>
        •
          <a href="http://tribstar.com/schools" title="Schools">Schools</a>
        </li>
        <li>
        •
          <a href="http://tribstar.com/entertainment" title="Entertainment">Entertainment</a>
        </li>
        <li>
        •
          <a href="http://tribstar.com/arts" title="Arts">Arts</a>
        </li>
        <li>
        •
          <a href="http://tribstar.com/food" title="Food">Food</a>
        </li>
        <li>
        •
          <a href="http://tribstar.com/healthfitness" title="Health &amp; Fitness">Health &amp; Fitness</a>
        </li>
        <li>
        •
          <a href="http://tribstar.com/religion" title="Religion">Religion</a>
        </li>
        <li>
        •
          <a href="http://tribstar.com/history" title="History">History</a>
        </li>
        <li>
        •
          <a href="http://www.epageflip.net/title/4495" title="TribStar TV">TribStar TV</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>Obituary Sections</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://tribstar.com/obituaries" title="Obituaries">Obituaries</a>
        </li>
        <li>
        •
          <a href="http://tribstar.com/deathnotices" title="Death Notices">Death Notices</a>
        </li>
      </ul>
</dd>
  
</dl>
</div>
    <div id="contact_us">
<h4>
<a href="http://tribstar.com/contactus">Contact Us</a>
</h4>
<dl>
<dt>

<a href="http://www.tribstar.com">Main Switchboard</a>


</dt>
<dd>
812-231-4200      
</dd>
</dl>
<dl>
<dt>

<a href="http://www.tribstar.com">Classified Advertising</a>


</dt>
<dd>
812-231-4237      
</dd>
</dl>
<dl>
<dt>

<a href="http://www.tribstar.com">Home Delivery</a>


</dt>
<dd>
812-231-4274      
</dd>
</dl>
<dl>
<dt>

<a href="mailto:bjriley@tribstar.com">BJ Riley, Publisher</a>


</dt>
<dd>
812-231-4297      
</dd>
</dl>
<dl>
<dt>

<a href="mailto:max.jones@tribstar.com">Max Jones, Editor</a>


</dt>
<dd>
812-231-4336      
</dd>
</dl>
<dl>
<dt>

<a href="mailto:tina.stclair@tribstar.com">Tina St. Clair, Advertising Director</a>


</dt>
<dd>
812-231-4228      
</dd>
</dl>
<dl>
<dt>

<a href="mailto:josh.harmon@tribstar.com">Josh Harmon, Circulation Director</a>


</dt>
<dd>
812-231-4339      
</dd>
</dl>
</div>
    <div id="footer_bottom">
      <div class="footer_block">
        <div id="footer_ad" class="noprint">
          <a href="http://www.rtjgolf.com" title="RTJ Golf">
            <img alt="" src="http://static.cnhi.zope.net/cwible//images/golf.jpg"></a>
        </div>
        <div id="copyright">
    

    <p>
      <a href="http://www.cnhi.com/newspapers/">© 2011 Community Newspaper Holdings, Inc.</a> · 
      <a href="http://www.cnhi-can.com">CNHI Classified Advertising Network</a> · 
      <a href="http://cnhins.com">CNHI News Service</a>
      <br>
      Associated Press content © 2011. All rights reserved. AP content may not be published, 
      broadcast, rewritten or redistributed.
      <br>
      Our site is powered by <a href="http://zope.com">Zope</a>. Some parts of our site may require 
      you to <a href="http://www.macromedia.com/go/getflashplayer">download the Flash Player Plugin</a>.
      <br><a href="http://tribstar.com/privacy">Privacy Policy</a> |
      <a href="http://www.apnewsregistry.com/privacycenter/servicepolicy.aspx" title="AP News Registry">AP News Registry privacy policy</a><br><a target="_blank" href="http://adindex.neighborsink.com/sites/tribstar.html">Advertiser Index</a>
    </p>
</div>
      </div>
      <div id="evie_bigad" class="footer_block">
        <script type="text/javascript">GA_googleFillSlot('eviesays_widget_tribstar_300x250');</script>
</div>
      <div id="eviesays_thirty_day" class="footer_block">
        <script type="text/javascript">
          /* <![CDATA[ */
          eviesays.widget.baseURL = 'http://tribstar.eviesays.com';
          eviesays.includeCSS(eviesays.widget.settings.base_url + '/version/cnhi/style/widget_v1.0.css');
          eviesays.widget.settings.setPartnerCode('cnhi');
          eviesays.widget.settings.where = 'Terre Haute,IN';
          eviesays.widget.settings.restaurants_url = 'http://local.tribstar.com/search.pg?q=restaurant&z=%2C';
          /* ]]> */</script><div class="evie_widget_content">
                  <script type="text/javascript">
                    /* <![CDATA[ */
                        eviesays.widget.module.thirty_day();
                    /* ]]> */
                  </script><script type="text/javascript">
                    /* <![CDATA[ */
                    eviesays.widget.module.tab_links(null,{'more_events':1,'movies':1,'restaurants':eviesays.widget.settings.restaurants_url ? eviesays.widget.settings.restaurants_url : 1,'tickets':1});
                    /* ]]> */
                  </script><div class="evie_powered">
                      <script type="text/javascript">
                        /* <![CDATA[ */
                        document.write("<" + "a href=\""+eviesays.widget.settings.base_url+"/submit.html\" class=\"evie_add\">+Add Event<" + "/a>");
                        /* ]]> */
                      </script><a href="http://www.eviesays.com" class="evie_powered">Events by <span>evie</span>says.com</a>
          </div>
        </div>
      </div>
    </div>
    <a href="#body" title="Back to top" class="top_link noprint">Back to top</a>
    <p class="address">
      News From Terre Haute, Indiana
      222 S 7th St
      Terre Haute, IN 47807
       
    </p>
  </div>
