<div id="footer">
    <div id="site_map">
<h4>Site Map</h4>


 
  
  <dl>
<dt>NEWS</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://valdostadailytimes.com/local" title="Local News">Local News</a>
        </li>
        <li>
        •
          <a href="http://valdostadailytimes.com/sports" title="Local Sports">Local Sports</a>
        </li>
        <li>
        •
          <a href="http://www.vdtvarsity.com" title="VDT Varsity">VDT Varsity</a>
        </li>
        <li>
        •
          <a href="http://valdostadailytimes.com/statecapitol" title="Local Report from State Capitol">Local Report from State Capitol</a>
        </li>
        <li>
        •
          <a href="http://valdostadailytimes.com/statenews" title="State News">State News</a>
        </li>
        <li>
        •
          <a href="http://valdostadailytimes.com/business" title="Business">Business</a>
        </li>
        <li>
        •
          <a href="http://valdostadailytimes.com/features" title="Features">Features</a>
        </li>
        <li>
        •
          <a href="http://valdostadailytimes.com/rantrave" title="Rant &amp; Raves">Rant &amp; Raves</a>
        </li>
        <li>
        •
          <a href="http://valdostadailytimes.com/obituaries" title="Obituaries">Obituaries</a>
        </li>
        <li>
        •
          <a href="http://valdostadailytimes.com/national-international" title="National, International News">National, International News</a>
        </li>
        <li>
        •
          <a href="http://www.inkbarreltv.com/inkbarrelCMS/system/networks/ga_valdosta_daily/index.php?console=vod" title="Local News VIDEO">Local News VIDEO</a>
        </li>
        <li>
        •
          <a href="http://www.inkbarreltv.com/inkbarrelCMS/system/networks/ga_valdosta_daily/index.php?console=live_sports" title="Live Game VIDEO">Live Game VIDEO</a>
        </li>
        <li>
        •
          <a href="http://www.inkbarreltv.com/inkbarrelCMS/system/networks/ga_valdosta_daily/index.php?console=sturgis" title="Sturgis VIDEO">Sturgis VIDEO</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>MORE</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://bizfinder.valdostadailytimes.com/" title="BIZfinder">BIZfinder</a>
        </li>
        <li>
        •
          <a href="http://valdostadailytimes.com/video" title="News VIDEOS">News VIDEOS</a>
        </li>
        <li>
        •
          <a href="http://inkbarreltv.com/inkbarrelCMS/system/networks/ga_valdosta_daily/index.php?console=sports" title="Sports VIDEOS">Sports VIDEOS</a>
        </li>
        <li>
        •
          <a href="http://valdostadailytimes.com/opinion" title="What We Think">What We Think</a>
        </li>
        <li>
        •
          <a href="http://www.sgaonline.com/public_notices/" title="Public Notices">Public Notices</a>
        </li>
        <li>
        •
          <a href="http://valdostadailytimes.smugmug.com/" title="Photo Gallery">Photo Gallery</a>
        </li>
        <li>
        •
          <a href="http://affiliate.zap2it.com/movies/mventertainment.do?aid=dailytix0h" title="What's on TV">What's on TV</a>
        </li>
        <li>
        •
          <a href="http://valdostadailytimes.meetsingleslocal.com/" title="Personals">Personals</a>
        </li>
        <li>
        •
          <a href="http://twitter.com/TheVDT" title="VDT Twitter">VDT Twitter</a>
        </li>
        <li>
        •
          <a href="http://valdostadailytimes.com/games" title="GAMES">GAMES</a>
        </li>
        <li>
        •
          <a href="http://www.parade.com/" title="Parade">Parade</a>
        </li>
        <li>
        •
          <a href="http://valdosta.kids.kwnews.com/" title="Kid Scoop">Kid Scoop</a>
        </li>
        <li>
        •
          <a href="https://secure.sgasavings.com/cert/index" title="SGA Savings">SGA Savings</a>
        </li>
        <li>
        •
          <a href="http://valdostadailytimes.com/v" title="NDN Video">NDN Video</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>ENTERTAINMENT</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://valdostadailytimes.com/comics" title="Comics">Comics</a>
        </li>
        <li>
        •
          <a href="http://valdostadailytimes.com/puzzles" title="Puzzles">Puzzles</a>
        </li>
        <li>
        •
          <a href="http://valdostadailytimes.com/horoscopes" title="Horoscopes">Horoscopes</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>CELEBRATIONS</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://valdosta.sgaonline.com/celebrations/?cat=1" title="Engagements">Engagements</a>
        </li>
        <li>
        •
          <a href="http://valdosta.sgaonline.com/celebrations/?cat=14" title="Weddings">Weddings</a>
        </li>
        <li>
        •
          <a href="http://valdosta.sgaonline.com/celebrations/?cat=15" title="Anniversaries">Anniversaries</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>COUPONS</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="https://secure.sgasavings.com/cert/index" title="SGA Savings">SGA Savings</a>
        </li>
        <li>
        •
          <a href="http://print.coupons.com/Couponweb/Offers.aspx?pid=13492&amp;zid=ro91&amp;nid=10" title="Free Coupons and Recipes">Free Coupons and Recipes</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>SUBMIT</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://sgaonline.sgaonline.com/obit/" title="Obituary">Obituary</a>
        </li>
        <li>
        •
          <a href="http://valdosta.sgaonline.com/vdt-pages/rantandrave/" title="Rant and Rave">Rant and Rave</a>
        </li>
        <li>
        •
          <a href="http://valdosta.sgaonline.com/vdt-pages/lettertotheeditor/" title="Letter to the editor">Letter to the editor</a>
        </li>
        <li>
        •
          <a href="https://secure.sgaonline.com/announcements/valdostadailytimes/index.php" title="Celebration">Celebration</a>
        </li>
        <li>
        •
          <a href="https://valdostadailytimes.classifieds.cnhi.zope.net/" title="Classified">Classified</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>SUBSCRIBE</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://valdosta.sgaonline.com/vdt-pages/newsletter-subscribe/" title="Daily Email Newsletter">Daily Email Newsletter</a>
        </li>
        <li>
        •
          <a href="http://valdostadailytimes.newspaperdirect.com/epaper/viewer.aspx" title="Digital Edition">Digital Edition</a>
        </li>
        <li>
        •
          <a href="https://secure.sgaonline.com/subscribe/valdostadailytimes/index.php" title="Subscriber Services">Subscriber Services</a>
        </li>
      </ul>
</dd>
  
</dl>
<dl>
<dt>OTHER PUBLICATIONS</dt>
  
    <dd>
      <ul>
<li>
        
          <a href="http://americustimesrecorder.com/" title="Americus Times Recorder">Americus Times Recorder</a>
        </li>
        <li>
        •
          <a href="http://cordeledispatch.com/" title="Cordele Dispatch">Cordele Dispatch</a>
        </li>
        <li>
        •
          <a href="http://moultrieobserver.com/" title="Moultrie Observer">Moultrie Observer</a>
        </li>
        <li>
        •
          <a href="http://suwanneedemocrat.com/" title="Suwannee Democrat">Suwannee Democrat</a>
        </li>
        <li>
        •
          <a href="http://timesenterprise.com/" title="Times Enterprise">Times Enterprise</a>
        </li>
        <li>
        •
          <a href="http://tiftongazette.com/" title="Tifton Gazette">Tifton Gazette</a>
        </li>
      </ul>
</dd>
  
</dl>
</div>
    <div id="contact_us">
<h4>
<a href="http://valdostadailytimes.com/contactus">Contact VDT</a>
</h4>
<dl>
<dt>


 General

</dt>
<dd>
229-244-1880      
</dd>
</dl>
<dl>
<dt>


 Publisher

</dt>
<dd>
229-244-3400 ext 1206      
</dd>
</dl>
<dl>
<dt>


 Advertising Director

</dt>
<dd>
229-269-4222      
</dd>
</dl>
<dl>
<dt>


 Managing Editor

</dt>
<dd>
229-269-4218      
</dd>
</dl>
<dl>
<dt>


 Circulation Director

</dt>
<dd>
229-269-4343      
</dd>
</dl>
<dl>
<dt>


 Web Developer

</dt>
<dd>
229-269-4012      
</dd>
</dl>
</div>
    <div id="footer_bottom">
      <div class="footer_block">
        <div id="footer_ad" class="noprint">
          <a href="http://www.rtjgolf.com" title="RTJ Golf">
            <img alt="" src="http://static.cnhi.zope.net/cwible//images/golf.jpg"></a>
        </div>
        <div id="copyright">
    

    <p>
      <a href="http://www.cnhi.com/newspapers/">© 2011 Community Newspaper Holdings, Inc.</a> · 
      <a href="http://www.cnhi-can.com">CNHI Classified Advertising Network</a> · 
      <a href="http://cnhins.com">CNHI News Service</a>
      <br>
      Associated Press content © 2011. All rights reserved. AP content may not be published, 
      broadcast, rewritten or redistributed.
      <br>
      Our site is powered by <a href="http://zope.com">Zope</a>. Some parts of our site may require 
      you to <a href="http://www.macromedia.com/go/getflashplayer">download the Flash Player Plugin</a>.
      <br><a href="http://valdostadailytimes.com/privacy">Privacy Policy</a> |
      <a href="http://www.apnewsregistry.com/privacycenter/servicepolicy.aspx" title="AP News Registry">AP News Registry privacy policy</a><br><a target="_blank" href="http://adindex.neighborsink.com/sites/valdostadailytimes.html">Advertiser Index</a>
    </p>
</div>
      </div>
      <div id="evie_bigad" class="footer_block">
        <script type="text/javascript">GA_googleFillSlot('eviesays_widget_valdostadailytimes_300x250');</script>
</div>
      <div id="eviesays_thirty_day" class="footer_block">
        <script type="text/javascript">
          /* <![CDATA[ */
          eviesays.widget.baseURL = 'http://valdostadailytimes.eviesays.com';
          eviesays.includeCSS(eviesays.widget.settings.base_url + '/version/cnhi/style/widget_v1.0.css');
          eviesays.widget.settings.setPartnerCode('cnhi');
          eviesays.widget.settings.where = 'Valdosta,GA';
          eviesays.widget.settings.restaurants_url = 'http://local.valdostadailytimes.com/search.pg?q=restaurant&z=Valdosta%2C';
          /* ]]> */</script><div class="evie_widget_content">
                  <script type="text/javascript">
                    /* <![CDATA[ */
                        eviesays.widget.module.thirty_day();
                    /* ]]> */
                  </script><script type="text/javascript">
                    /* <![CDATA[ */
                    eviesays.widget.module.tab_links(null,{'more_events':1,'movies':1,'restaurants':eviesays.widget.settings.restaurants_url ? eviesays.widget.settings.restaurants_url : 1,'tickets':1});
                    /* ]]> */
                  </script><div class="evie_powered">
                      <script type="text/javascript">
                        /* <![CDATA[ */
                        document.write("<" + "a href=\""+eviesays.widget.settings.base_url+"/submit.html\" class=\"evie_add\">+Add Event<" + "/a>");
                        /* ]]> */
                      </script><a href="http://www.eviesays.com" class="evie_powered">Events by <span>evie</span>says.com</a>
          </div>
        </div>
      </div>
    </div>
    <a href="#body" title="Back to top" class="top_link noprint">Back to top</a>
    <p class="address">
      Valdosta Daily Times
      201 North Troup Street
      Valdosta, GA
      31601
    </p>
  </div>
