<% set_daily_deal_page_title_slug "FAQs" %>

<div class="page_row">  
  <div class="page_column_12 first rounded_corners">
    
<h1 class="content"><%= @h1 || "FREQUENTLY ASKED QUESTIONS" %></h1>

<h4>What is the <%= @publisher.daily_deal_name %>?</h4>
<p>Each day one incredible deal is featured 
as the <%= @publisher.daily_deal_name %>. The offer is only available for a limited amount 
of time, so make sure to check back frequently so you don't miss out!</p>

<h4>What happens after I buy a Deal of the Day?</h4>
<p>You will receive a confirmation e-mail. Redemption instructions may vary by deal. Please review the "Fine Print" on the main page for a given deal.</p>

<h4>If my CoolDeal provides a voucher, can I use part of it now and save the rest for later? </h4>
<p>Sorry, all vouchers must be redeemed in just one visit.</p>

<h4>Will my payment be safe?</h4>
<p>Yes. The credit card transaction uses secured encryption to ensure that no one else has access to your information. We do not store your credit card information after completing the transaction. The name associated with this charge on your credit card will be “ANA Deal of the Day”.</p>

<h4>When I gift the Deal of the Day to a friend, will they have access to my account information?</h4>
<p>No. Rest assured, your account information will not be shared with anyone under any circumstances.</p>

<h4>Can I combine the Deal of the Day with other offers the merchant might have presented previously?</h4>
<p>No. Each Deal of the Day has its own terms.</p>

<h4>Additional Questions?</h4>
<p>Feel free to email <a href="mailto:customersupport@coolsavings.com?subject=Question About CoolSavings Deals">customersupport@coolsavings.com</a> or call (877) 538-4617. We will be more than happy to answer any additional questions you may have.</p>

  </div>
</div>
