<!--Greenville stations-->
<div>
  <a href="http://www.b937online.com/" target="_blank"><img src="/themes/entercom-greenville/images/stations/b93.png" alt="B-93.7"></a>
  <a href="http://www.newrock933.com/" target="_blank"><img src="/themes/entercom-greenville/images/stations/planet.png" alt="New Rock 93.3"></a>
  <a href="http://www.magic989online.com/" target="_blank"><img src="/themes/entercom-greenville/images/stations/magic.png" alt="Magic 98.9"></a>
  <a href="http://www.wroq.com/" target="_blank"><img src="/themes/entercom-greenville/images/stations/rock101.png" alt="Rock 101"></a>   
  <a href="http://www.newsradioword.com/" target="_blank"><img src="/themes/entercom-greenville/images/stations/word.png" alt="106.3 WORD"></a>
</div>