<div id="banner">
	<div id="deal_logo">
		<img src="/themes/zoo/images/graphics/zoo-deals.png" height="95" width="176" alt="Zoo.gr Deals" />
		<%= render :partial => with_theme("shared/account_nav") %>
	</div>
	<div class="topbar gradient"></div>
	<%= render :partial => with_theme("shared/dd_nav") %>
</div>