<!--
<div class="show-mobile" style="overflow:hidden;height:auto;">
    <div id="new_branding">
    <a target="_top" id="mobile_logo" href="#riograndvalley">Rio Grande Valley</a>
    </div>
</div>
-->
<div class="header-rgv hide-mobile">
	<div id="leftlinks">
		<a class="monitor" href="http://www.themonitor.com/" target="_blank"></a>
		<a class="herald" href="http://www.brownsvilleherald.com/" target="_blank"></a>
		<a class="star" href="http://www.valleymorningstar.com/" target="_blank"></a>
	</div>
</div>