 <div id="fi_wrapper" class="hide-mobile">
    <div class="fi_wide">
      <div class="fi_wide_top"></div>

      <div class="fi_footer2">
        <ul class="small">
          <li><a href=
          "https://subscriber.freedom.com/cgi-bin/cmownc_cmownc.sh/custservice/web/login.html?siteid=SHS"
          target="_blank">Subscribe Info</a></li>

          <li><a target='_top' href=
          "#">Today's
          Ads</a></li>

          <li><a href=
          "#"
          target="_blank">Ad Policies</a></li>

          <li><a href=
          "#"
          target="_blank">Ad Rates</a></li>

          <li><a target='_top' href=
          "#">
          National Ad Rates</a></li>

          <li><a target='_top' href=
          "#">
          Demographics</a></li>

          <li><a target='_top' href=
          "#">Archived
          Stories</a></li>

          <li><a target='_top' href=
          "#">Directory</a></li>
        </ul>

        <ul class="small">
          <li><a target='_top' href=
          "#">E-Newsletters</a></li>

          <li><a target='_top' href=
          "#">Newspapers in
          Education</a></li>

          <li><a target='_top' href=
          "#">RSS Feeds</a>
          <a target='_top' href=
          "#"><img align=
          "absmiddle" title="RSS Feeds" src="/themes/freedom/images/rss.gif" width=
          "36" height="14" border="0" /></a></li>

          <li><a target='_top' href=
          "#">Article
          Map</a></li>

          <li><a href="#" target=
          "_blank">Local Business Listings</a></li>

          <li><a href=
          "http://www.nccarmall.com/autos/main.asp?Region=NC"
          target="_blank">Cars &amp; Autos</a></li>

          <li><a target='_top' href=
          "#">Special
          Reports</a></li>

          <li><a href="#" target=
          "_blank">Carolina Panthers</a></li>

          <li><a href="#" target=
          "_blank">VarsityNC</a></li>

          <li><a target='_top' href=
          "http://www.freedompolitics.com/">Freedom
          Politics</a></li>
        </ul>

        <ul class="small">
          <li><a target='_top' href=
          "#">Classifieds</a></li>

          <li><a href="#"
          target="_blank">About Us</a></li>

          <li><a href=
          "http://www.shelbystar.com/sections/contactus/" target=
          "_blank">Talk Back</a></li>

          <li><a href="#"
          target="_blank">Site Map</a></li>

          <li><a href="http://www.gastongazette.com/" target=
          "_blank">Gaston Gazette</a></li>

          <li><a href="http://www.thetimesnews.com/" target=
          "_blank">Burlington Times News</a></li>

          <li><a target='_top' href=
          "#">Community
          Links</a></li>

          <li><a target='_top' href=
          "#">Lifestyles</a></li>

          <li><a target='_top' href=
          "#">Obituaries</a></li>

          <li><a target='_top' href=
          "#">
          Weddings/Engagements</a></li>
        </ul>
      </div>

      <div class="fi_footer">
        <p><script type="text/javascript">
//<![CDATA[
        tDate=new Date(); update=tDate.getFullYear(); document.write("Copyright &#169; "+ update + " Freedom Communications"); 
        //]]>
        </script></p>


        <p><a target='_top' href=
        "http://www.freedom.com/privacy.html" onclick=
        "window.open('http://www.freedom.com/privacy.html');return false">
        Privacy Policy</a> | <a target='_top' href=
        "http://www.freedom.com/eula.html" onclick=
        "window.open('http://www.freedom.com/eula.html');return false">
        User Agreement</a> | <a target='_top' href=
        "#">Site Map</a>
        | <a href="http://listings.shelbystar.com/" target="_blank"
        title="shelby north carolina businesses">Local Business
        Listings</a></p>

        <p><a target='_top' href=
        "http://www.ncpiedmontjobs.com/monster/">Jobs</a> |
        <a target='_top' href=
        "http://www.nccarmall.com/autos/main.asp?Region=NC">Autos</a>
        | <a target='_top' href=
        "#">Homes</a> | <a target=
        '_top' href=
        "#">Classifieds</a></p>

        <p><img src="/themes/freedom/images/freedominc.jpg"
        alt="Freedom Communications, Inc" width="50" height=
        "49" /></p>

        <p><a href="http://www.freedom.com" target="_blank">Freedom
        Communications, Inc.</a></p>
      </div>

      <div class="fi_wide_bottom"></div>
    </div>
  </div>
  </div>
