<li class="content_box all_deal_wrap future_deals other_deal_tracking">    
    <h3><img src="/themes/fundogo/images/graphics/coming_soon_flag.png" height="28" width="116" alt="coming_soon" /></h3>
    <div class="side_deal_thumb"><img src="<%= future_deal.photo.url(:thumbnail) %>" alt="<%= future_deal.advertiser.name %>" /></div>
    <div class="more_deal_info info_overlay">
	   <p class="side_deal_value_prop"><%= future_deal.value_proposition %></p>     
    </div><!-- /side_deal_info -->
	<div class="clear"></div>
</li><!-- /future_deals -->