<div id="about_us" class="content_box text_page">
	<h1>About Us</h1>
	<p>At Groucher, we have three rules that we live by:</p>
	</br>
	<ul><strong>
		<li>Bring AWESOME deals to our subscribers</li>
		<li>Feature local businesses that have great products/services and are AWESOME</li>
		<li>Give back to the AWESOME communities that we all live in</li></strong>
	</ul>
	</br>		
	<p>The idea of Groucher.com came in the midst of a recession where consumers are strapped for cash, businesses are seeking new, innovative ways to survive and thrive, and communities have been impacted by the severe downturn in the economy. We believe our idea/concept benefits our loyal followers (YOU), our businesses, and the community. At the end of the day, this is about creating value and giving back to the community that has provided so much for us.</p>
	</br>
	<p>We're just a small group of local residents, just like you, looking to make a positive impact on others lives and we look forward to bring you MORE AWESOME DAILY DEALS in 2012!</p>
	</br>
	<p>Let the penny pinching begin!</p>
</div>