{% set_daily_deal_page_title_slug "FAQs" %}

<div class="page_row faqs">  
  <div class="page_column_12 first rounded_corners">

	<h1 class="content">FREQUENTLY ASKED QUESTIONS</h1>
	
	<h3>What is DEALSFORSCHOOLS?</h3>
	<p>Each day one incredible deal is featured as the DEALSFORSCHOOLS deal. The offer is only available for a limited amount of time, so make sure to check back frequently so you don’t miss out!</p>
	
	<h3>How do I buy today’s DEALSFORSCHOOLS Deal?</h3>
	<p>Click on the “Buy Now” button before midnight on the day the offer expires.</p>
	
	<h3>What happens after I buy a DEALSFORSCHOOLS Deal?</h3>
	
	<p>After you make a purchase, you’ll receive a DEALSFORSCHOOLS voucher to print out via email.</p>
	<p>Take the DEALSFORSCHOOLS voucher to the store or merchant any time before the expiration date to enjoy the fruits of your labor.</p> 
	
	<h3>What if I want to use just part of the DEALSFORSCHOOLS voucher and save the rest for later? </h3>
	<p>Sorry, you’re going to have to use that sweet deal in just one visit. However, some merchants may be willing to work with you if this situation arises.</p>
	
	<h3>If my name is on the DEALSFORSCHOOLS voucher, can the merchant charge my account?</h3>
	<p>No. The merchant does not have your account information. That is held by Analog Analytics, the software company that processes the transaction for the publisher.</p>
	
	<h3>Is the transaction safe for me to use?</h3>
	
	<p>Yes. The transaction uses SSL and other industry standard security features to ensure that no one else has access to your credit card information.</p>
	
	<h3>When I gift the DEALSFORSCHOOLS Deal to a friend, will they have access to my account information?</h3>
	<p>No, on the DEALSFORSCHOOLS voucher, there is a record of the transaction, the purchaser’s name and the gifted consumer’s name, along with a unique 8-digit code. The payment information is secure on a site that no consumer has access to.</p>
	
	<h3>Can I combine the DEALSFORSCHOOLS voucher with other offers the merchant might have presented previously? </h3>
	<p>No, each DEALSFORSCHOOLS deal has its own terms.</p>
	
	<h3>What if the merchant does not honor the offer?</h3>
	<p>We go out of our way to vet each advertiser and make sure they live up to our high standards. We will also provide recent reviews or testimonials to help you get a better feel for what you are buying. On the rare occurrence that something happens and you’re not satisfied, we (through Analog Analytics) will refund the offer.</p>
	
	<h3>What if I miss the expiration date?</h3>
	<p>If you miss the expiration date on your deal, take heart, all is not lost! While the additional discounts are no longer available, you are still entitled to goods and services equal to the paid value of the voucher.</p>
	<p>For example, if you spend $25 to buy a $50 voucher for your new favorite restaurant, but are unable to get there before the expiration date, you will still be entitled to $25 of food, drink and good times.</p>
	
	<h3>What if I have more questions?</h3>
	<p>Feel free to email <a href="mailto:support@dealsforschools.com">support@dealsforschools.com</a> or call (877) 538-4617 and the Analog Analytics teams will be more than happy to answer any additional questions you may have.</p>
	
	</div><!--end rounded corners-->
</div><!-- end page row -->


