<p style="margin: 0; padding: 8px;">
<a href="http://www.my1079online.com/" target="_blank" style="color: #ffffff;"><img border="0" height="50" src="http://{{ publisher.daily_deal_host }}/themes/entercom-indianapolis/images/stations/my107.png" alt="my 107.9"></a>  
  <a href="http://www.wzpl.com/" target="_blank" style="color: #ffffff;"><img border="0" height="50" src="http://{{ publisher.daily_deal_host }}/themes/entercom-indianapolis/images/stations/z995.png" alt="Z 99.5"></a> 
  <a href="http://www.newstalk1430.com/" target="_blank" style="color: #ffffff;"><img border="0" height="50" src="http://{{ publisher.daily_deal_host }}/themes/entercom-indianapolis/images/stations/wxnt.png" alt="1430 WXNT"></a> 
</p>