<!--Indianapolis stations-->
<div>
  <a href="http://www.my1079online.com/" target="_blank"><img src="/themes/entercom-indianapolis/images/stations/my107.png" alt="my 107.9"></a>
  <a href="http://www.wzpl.com/" target="_blank"><img src="/themes/entercom-indianapolis/images/stations/z995.png" alt="Z 99.5"></a>
  <a href="http://www.newstalk1430.com/" target="_blank"><img src="/themes/entercom-indianapolis/images/stations/wxnt.png" alt="1430 WXNT"></a>        
</div>