<div id="faq" class="content_box text_page">
	<h1>Frequently Asked Questions</h1>
    <h4>What are the Universal Terms?</h4>
    <ul>
        <li>Not valid for cash back.</li>
        <li>Cannot be combined with other promotions.</li>
        <li>Must be used in one visit.</li>
        <li>Does not cover tax or gratuity.</li>
    </ul>
    <h4>What is FunDoGo?</h4>
    <p>Each day one incredible deal is featured as a FunDoGo. The offer is only available for a limited amount of time, so make sure to check back frequently so you don't miss out!</p>
    <h4>How do I buy today's FunDoGo?</h4>
    <p>Click on the "Buy Now" button before the offer expires. Send the deal to your friends through Twitter, Facebook, or e-mail.</p>
    <h4>What happens after I buy a deal on FunDoGo?</h4>
    <p>You will be sent an email with a voucher to use to redeem the deal, and your credit card account will be charged. Print the FunDoGo voucher and redeem it anytime before the expiration date to enjoy your deal! You can only redeem your deal by having your voucher in hand with its unique 8-digit code.</p>
    <h4>What if I want to use just part of the FunDoGo voucher and save the rest for later?</h4>
    <p>Sorry, you're going to have to use the deal in just one visit. However, some merchants may be willing to work with you if this situation arises.</p>
    <h4>If my name is on the FunDoGo voucher, can the merchant charge my credit card account?</h4>
    <p>No. The merchant does not have your credit card information. That is held by Analog Analytics, the software company that processes the transaction for FunDoGo.</p>
    <h4>Is the transaction safe for me to use?</h4>
    <p>Yes. The transaction uses SSL and other industry standard security features to ensure that no one else has access to your credit card information.</p>
    <h4>When I gift the FunDoGo voucher to a friend, will they have access to my credit card account information?</h4>
    <p>No, on the voucher, there is a record of the transaction, the purchaser's name and the gifted consumer's name, along with a unique 8-digit code. The payment information is secure on a site that no consumer has access to.</p>
    <h4>What if the merchant does not honor the offer?</h4>
    <p>We go out of our way to inspect each advertiser and make sure they live up to our high standards. We will also provide recent reviews or testimonials to help you get a better feel for what you are buying. On the rare occurrence that something happens and you're not satisfied, we will refund the amount you paid to purchase the deal if you return your unused voucher, with an explanation of the problem to us at: dealsupport@fundogo.com</p>
    <h4>What if I miss the expiration date?</h4>
    <p>If you miss the expiration date on your deal, take heart, all is not lost! While the additional discounts are no longer available, you are still entitled to goods and services equal to the paid value of the voucher. For example, if you spend $25 to buy a $50 voucher for your new favorite restaurant, but are unable to get there before the expiration date, you will still be entitled to $25 of food, drink and good times.</p>
    <h4>Why does Analog Analytics show up on my credit card statement?</h4>
    <p>This is because Analog Analytics is the platform provider of all technology for the program, including processing payments for deals.</p>
    <h4>I bought the deal and printed the voucher; when can I use it?</h4>
    <p>Anytime, unless restricted through the deal terms. Each deal has different terms (fine print) that apply to the usage of the deal. Check the terms that are printed on your voucher and your purchase confirmation email, as well as on the Deal of the Day site. We work to keep these restrictions limited so that our purchasers not only save big but can also use their vouchers at their convenience!</p>
    <h4>Does it cost anything to sign up for e-mailed subscriber list?</h4>
    <p>No. Signing up for FunDoGo e-mail subscriber list is completely free. So go ahead and sign up so you never miss a deal! <a href="<%= new_publisher_consumer_path(@publisher) %>">Join now</a>
    <h4>What if I have more questions?</h4>
    <p>Feel free to email <a href="mailto:dealsupport@fundogo.com">dealsupport@fundogo.com</a> or call (877) 898-4114. The FunDoGo and Analog Analytics teams will be more than happy to answer any additional questions you may have.</p>
</div>
