<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>The Harvey County Independent</title>
<style type="text/css">
<!--
.style1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}
body {
	background-color: #333333;
}
.style2 {
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
}
-->
</style>

<%= render :partial => 'layouts/offers/sdcitybeat/stylesheets_and_javascript' %>
<%= render :partial => 'layouts/offers/standard/facebook_metadata' %>
<%= raw render :partial => "/shared/tracking_offers" %>
</head>

<body>
<table width="960" border="2" align="center" cellpadding="10" cellspacing="0" bordercolor="#666666" bgcolor="#FFFFFF">
  <tr>
    <td><table width="930" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td colspan="3" valign="middle"><a href="http://www.hcindependent.com"><img src="http://www.hcindependent.com/img/hc2art/halstead.jpg" alt="Harvey County Independent" width="705" height="125" border="0" /></a></td>
      </tr>
      <tr align="center">
        <td colspan="3" align="center" valign="top"><a href="http://www.hcindependent.com"><img src="http://www.hcindependent.com/img/hc2art/hcbthome.gif" alt="The Harvey County Independent" width="42" height="60" border="0" /></a><img src="http://www.hcindependent.com/img/hc2art/hcgrnav.gif" width="17" height="60" alt="" /><a href="isite.dll?1180580690953"><img src="http://www.hcindependent.com/img/hc2art/hcbtnews.gif" alt="" width="39" height="60" border="0" /></a><img src="http://www.hcindependent.com/img/hc2art/hcgrnav.gif" width="17" height="60" alt="" /><a href="isite.dll?1180580685671"><img src="http://www.hcindependent.com/img/hc2art/hcbtspor.gif" alt="" width="46" height="60" border="0" /></a><img src="http://www.hcindependent.com/img/hc2art/hcgrnav.gif" width="17" height="60" alt="" /><a href="isite.dll?1180580681453"><img src="http://www.hcindependent.com/img/hc2art/hcbtobit.gif" alt="" width="72" height="60" border="0" /></a><img src="http://www.hcindependent.com/img/hc2art/hcgrnav.gif" width="17" height="60" alt="" /><a href="isite.dll?1182480120359"><img src="http://www.hcindependent.com/img/hc2art/hcbtphot.gif" alt="" width="50" height="60" border="0" /></a><img src="http://www.hcindependent.com/img/hc2art/hcgrnav.gif" width="17" height="60" alt="" /><a href="isite.dll?1180581656843"><img src="http://www.hcindependent.com/img/hc2art/hcbtsubs.gif" alt="" width="72" height="60" border="0" /></a><img src="http://www.hcindependent.com/img/hc2art/hcgrnav.gif" width="17" height="60" alt="" /><a href="isite.dll?1253157379717"><img src="http://www.hcindependent.com/img/hc2art/hcbtpubl.gif" alt="" width="99" height="60" border="0" /></a><img src="http://www.hcindependent.com/img/hc2art/hcgrnav.gif" width="17" height="60" alt="" /><a href="isite.dll?1180581656640"><img src="http://www.hcindependent.com/img/hc2art/hcbtcont.gif" alt="" width="55" height="60" border="0" /></a><img src="http://www.hcindependent.com/img/hc2art/hcgrnav.gif" width="17" height="60" alt="" /><a href="http://www.hesstonrecord.com"><img src="http://www.hcindependent.com/img/hc2art/hcbthess.gif" alt="" width="111" height="60" border="0" /></a><img src="http://www.hcindependent.com/img/hc2art/hcgrnav.gif" width="17" height="60" alt="" /><a href="http://www.ledgernewspaper.net"><img src="http://www.hcindependent.com/img/hc2art/hcbtledg.gif" alt="" width="79" height="60" border="0" /></a><img src="http://www.hcindependent.com/img/hc2art/hcgrnav.gif" width="17" height="60" alt="" /><a href="isite.dll?1180580689234"><img src="http://www.hcindependent.com/img/hc2art/hcbtarch.gif" alt="" width="63" height="60" border="0" /></a></td>
      </tr>
      <tr align="center">
        <td colspan="3" align="left"></td>
      </tr>
      <tr align="center">
        <td colspan="3"> </td>
      </tr>
      <tr>
        <td width="960" colspan="3" align="left" valign="top">
           <div id="analog_analytics_content">
  	        <%# render :partial => 'layouts/offers/sdcitybeat/hotdeals' %>
  	        <%= yield %>
  	      </div>          
        </td>
      </tr>
      
      
      
      
      <tr>
        <td rowspan="2"> </td>
        <td rowspan="2" align="center" valign="middle"> </td>
      </tr>
      
      <tr>
        <td> </td>
        </tr>
      <tr>
        <td colspan="3" align="center" valign="middle"><span class="style1"><a href="http://www.hcindependent.com">Home</a> | <a href="isite.dll?1180580690953">News</a> | <a href="isite.dll?1180580685671">Sports</a> | <a href="isite.dll?1180580681453">Obituaries</a> | <a href="isite.dll?1182480120359">Photos</a> | <a href="isite.dll?1253157379717">Subscribe</a> | <a href="isite.dll?1180581656921">Public Notices</a> | <a href="isite.dll?1180581656640">Contact</a> | <a href="http://www.hesstonrecord.com">Hesston Record</a> | <a href="http://www.ledgernewspaper.net">The Ledger</a> | <a href="isite.dll?1180580689234">Archives</a></span> </td>
        </tr>
    </table></td>
  </tr>
</table>
</body>
</html>