<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title><%= t(:blue365_deals) %></title>
<style type="text/css">
  p {margin:0px;padding:0; margin-bottom:0px;}
  a {color:#0094d0;}
  ul {margin-top: 0px; padding-left: 0px; padding-bottom: 0px;margin-bottom: 0px;}
</style>
</head>

<body style="background-color:#d4d9dd; margin: 2px; margin-bottom: 2px; alink:#0094d0;vlink:#0094d0;>

<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#d4d9dd">
  <tr>
    <td valign="top">
        <%= render :partial => with_theme('header.html.erb') %>
        <%= render :partial => with_theme('contenttop_purchase_conf.erb') %>
        <%= render :partial => with_theme('footer.html.erb') %> 
    </td>
  </tr>
</table>

</body>
</html>
