<% set_daily_deal_page_title_slug t(:title_slug_privacy_policy) %>

<% unless @publisher.label == 'bcbsa-national' %>
  <!-- breadcrumbs -->
  <div class="breadcrumbs">
    <ul>
      <li>
        <a href="<%= public_deal_of_day_path(@publisher.label) %>">Inicio</a>
      </li>
      <li class="no_underline">></li>
      <li class="no_underline">          
        Política de Privacidad 
      </li>
    </ul>
    </div><!-- /breadcrumbs -->
  <div class="clear"></div>
<% end %>

<% if params[:layout] == "popup" -%>
 <a href="#" class="lbAction" rel="deactivate"><span>Cerrar</span></a>
<% end -%>


<div class="page_row">  
  <div class="page_column_12 first rounded_corners">
  <div id="conditions">

<h1 class="content">Política de Privacidad</h1> 
    
<h2>(Revisada al 01/04/2012)</h2>

<p>Su privacidad es importante para nosotros. Blue Cross and Blue Shield Association (“BCBSA” o “nosotros”) protege su privacidad en este sitio web Blue365deals.com (el “Sitio”). A continuación se indica lo que usted (“Usuario Final” o “usted”) puede esperar cuando visita este Sitio:</p>

<p>RECUERDE que la presente Política de Privacidad abarca únicamente las prácticas de uso y recopilación de datos respecto de este Sitio Blue365deals.com, que es un sitio web oficial de BCBSA. Las políticas de privacidad de BCBSA pueden diferir en otros de sus sitios web (incluyendo, sin carácter taxativo, la política de privacidad separada para MyCommunity, cuya propia política de privacidad prevalece respecto del funcionamiento de MyCommunity en el caso de que exista alguna diferencia con esta política de privacidad) o en las prácticas de recopilación e informe de datos fuera de línea de BCBSA. La información que usted nos proporcione en este sitio web no se encontrará protegida por la Norma de Privacidad HIPAA, según siglas en inglés, 45 CFR, Parte 164. Debe dirigir cualquier pregunta respecto de la política de privacidad de cualquiera de las Compañías Blue Cross y/o Blue Shield locales independientes (cada una, una “Compañía Blue”) directamente a esa Compañía Blue. Su autorización en carácter de miembro para el uso y divulgación de información por parte de BCBSA y la forma de revocar dicha autorización aparecen en forma separada en la página de Registro y las <a href="<%= terms_publisher_daily_deals_path(@publisher.id) %>" target="_blank">Condiciones de Uso</a> del Sitio. </p>

<h4>La información que recopilamos</h4>

<p>Ninguna Compañía Blue usará jamás información que lo pueda identificar personalmente (“Personally Identifiable Information” o “PII”, en inglés), que se haya recopilado en el Sitio, para afectar su cobertura o las primas de su seguro de salud.</p>

<p>Al usar el Sitio, usted puede, entre otras cosas, reunir información, responder a anuncios, recibir cupones y ofertas especiales de terceros, descargar contenido, comprar productos y servicios de terceros proveedores (cada uno, un “Distribuidor”), directamente de dichos Distribuidores o mediante la compra de Vales en este Sitio Blue365deals.com, o consultar el estado de las ofertas que usted pueda haber comprado previamente en el Sitio. Al hacerlo, recopilaremos determinada información sobre usted a fin de asistirlo en el uso del Sitio y las compras, y a los efectos de monitorear y administrar las otras Compañías Blue, como así también terceros contratistas, consultores y Distribuidores que contribuyan en el Sitio y las ofertas ofrecidas en el Sitio, y proveer asistencia a dichas Compañías, terceros contratistas, consultores y Distribuidores. Los servidores web del Sitio capturan en forma automática su nombre de dominio, la dirección IP de la página web desde donde ingresa al Sitio, las páginas que visita en el Sitio y la cantidad de tiempo que permanece en él, así como la cantidad de usuarios finales, y la frecuencia y manera de uso del Sitio. Es posible que también recopilemos información acerca del uso de la red de Distribuidores del Sitio y otras funciones del Sitio, tales como el grado de uso de determinadas funciones, a qué ofertas accede usted y cuáles compra. Parte de esta información consiste en información estadística que refleja el alcance de la base de usuarios finales, las ventas, los patrones de uso e información relacionada. Usamos esta información para comprender mejor cómo se usa el Sitio y a fin de mejorar la experiencia de los usuarios finales. Asimismo, BCBSA y sus terceros Distribuidores y otros terceros recopilan determinada información durante la publicación de anuncios en el Sitio, incluyendo la cantidad de veces que usted vió un anuncio o una oferta. Dicha información se utiliza para facilitar y monitorear la publicación de anuncios y ofertas de productos y servicios de los Distribuidores.</p>

<h4>Uso de la información que este Sitio reúne/registra</h4>

<p>Las siglas PII hacen referencia a la información que nos permite conocer datos específicos sobre quién es usted, y puede usarse para identificarlo, contactarlo o localizarlo, y para gestionar sus compras. La PII se solicita cuando usted se registra en el Sitio, pide un producto o servicio de uno de los terceros Distribuidores que aparecen en el Sitio, recibe un cupón o un vale, completa encuestas, participa en concursos o sorteos, ingresa o participa en algún grupo de discusión o conversación (“chat”), foros u otros grupos o programas, mantiene correspondencia con nosotros u ofrece de otro modo información en forma voluntaria (por ejemplo, mediante el uso de cualquier anuncio, oferta de prueba u oferta de cupones, o cuando nos pide que le enviemos mensajes de correo electrónico para mantenerlo al tanto de nuevas ofertas o para proporcionarle información sobre ofertas que compró o miró previamente). La PII podría incluir, entre otras cosas, su nombre, ubicación, dirección postal, número de teléfono, número de teléfono celular, dirección de correo electrónico, género, año de nacimiento, preferencias de la cuenta, afiliación a una Compañía Blue, información sobre tarjeta de crédito, selecciones de productos o servicios, número de pedido, dirección URL que lo refirió, dirección IP y una contraseña, y otra información de identificación y contacto, así como información similar sobre cualquier persona a quien usted reenvíe o con quien comparta una oferta. Con esta información, podemos ejecutar sus pedidos y solicitudes de servicios y productos, y brindarle servicios personalizados de una mejor manera. Es posible que usted también tenga la opción de importar información a determinados sitios web (incluyendo este Sitio, aunque no limitándose al mismo) desde software de terceros. Esta información podría incluir los tipos de información descritos anteriormente, así como otros tipos de información que usted hubiese ingresado en estos programas de terceros. Dicha información podría usarse para ejecutar sus solicitudes de servicios, comunicarse con usted acerca de su cuenta, brindar asistencia para sus actividades en línea, responder a sus preguntas, personalizar su experiencia, así como personalizar el contenido o las funciones del Sitio y los servicios que allí estén disponibles. Podríamos usar su PII para notificarle cualquier cambio que se haga en el Sitio y/o los servicios, las Condiciones de Uso y/o la presente Política de Privacidad. También podemos usar su PII a fin de personalizar su experiencia interactiva en el Sitio. Por ejemplo, si usted nos otorga su permiso, podríamos usar su información para informarle acerca de otros productos o servicios que usted podría considerar de su interés. Asimismo, podemos usar la PII que usted proporcione para hacer mejoras que satisfagan en mayor medida las necesidades de los usuarios finales y podemos compartir esta PII con terceros que nos asistan en el funcionamiento y la administración del Sitio, y en la ejecución y el monitoreo de sus compras.</p>

<p>Cuando otra persona haga un pedido para que le sea enviado a usted, necesitaremos recopilar PII respecto de ese tercero para ejecutar el pedido. Dicha PII puede incluir el nombre, ubicación, dirección postal, número de teléfono, número de teléfono celular, dirección de correo electrónico, género, año de nacimiento, preferencias de la cuenta, afiliación a una Compañía Blue, información sobre tarjeta de crédito, selecciones de productos o servicios, número de pedido, dirección URL desde la que se accedió, dirección IP y una contraseña, y otra información de identificación y contacto de ese tercero.</p>

<p>Si usted prefiere no recibir información sobre productos y servicios adicionales que consideremos que podrían interesarle, <a href="mailto:support@Blue365deals.com">haga clic aquí</a> para enviar un mensaje de correo electrónico que indique que no desea seguir recibiendo dicha información y proporciónenos su nombre y dirección(es) de correo electrónico en la(s) que recibió tales comunicaciones no deseadas.</p>

<h4>Divulgación de información</h4>

<p>Podemos compartir su PII entre grupos de empresas y divisiones de BCBSA, Compañías Blue y sus afiliadas, consultores y contratistas, así como Distribuidores y otros terceros, incluyendo terceros: que presten servicios para nosotros en la operación y la comercialización de los productos y servicios disponibles en el Sitio (incluyendo, sin carácter taxativo, el monitoreo del comportamiento de los usuarios en el Sitio y el procesamiento de pagos por los productos o servicios); en la medida en que sea necesario para proporcionar información sobre comercialización, datos o demás información relacionada con la PII de los usuarios, a fin de medir información de audiencias que respondan a ofertas y anuncios públicos; situaciones especiales, que incluyen responder a funcionarios y agencias gubernamentales y en respuesta a un procedimiento legal, como una orden o una citación judiciales; a fin de prevenir o combatir el fraude; tal como se requiera bajo ley federal o estadual; la aplicación de las Condiciones de Uso; y en relación con la protección de los derechos, los bienes o la seguridad de BCBSA, una Compañía Blue, los usuarios finales u otros; en relación con una fusión, adquisición o liquidación de BCBSA, sus subsidiarias o afiliadas; y a Compañías Blue.</p>

<h4>Seguridad</h4>

<p>BCBSA se compromete a tomar las medidas apropiadas para proteger su privacidad de divulgaciones no autorizadas. El tercero proveedor de servicios web de BCBSA emplea una variedad de técnicas seguras diseñadas para proteger su información. Si bien se han implementado medidas de resguardo, usted debe saber que la tecnología relacionada con la seguridad en Internet cambia en forma rápida. En tal sentido, no podemos garantizar que las medidas de resguardo que se emplean hoy en día puedan proteger su PII de las amenazas del día de mañana ni que las medidas de seguridad del Sitio sean a prueba de fallas y no puedan ser objeto de elusión o intrusiones no autorizadas. También debe saber que, a pesar de nuestros esfuerzos razonables, factores ajenos a nuestro control podrían dar lugar a que se produjera una divulgación de datos.</p>

<h4>Enlaces de terceros</h4>

<p>Partes de los servicios y de la funcionalidad disponibles en el Sitio podrían contener enlaces a otros sitios web de terceros a los que usted podría ingresar. Estos otros sitios web tienen sus propias políticas de privacidad, y usted debería revisar esas políticas antes de ingresar a dichos enlaces. Nosotros no podemos controlar la información divulgada en estos sitios web de terceros ni el modo en que se usa esa información.</p>

<h4>Niños pequeños</h4>

<p>No recopilamos ni usamos a sabiendas información de niños menores de 18 años sin el consentimiento de un padre o tutor. A fin de proteger de la mejor forma la privacidad de sus hijos, supervise cuidadosamente el acceso de sus hijos a Internet y a las ofertas y el contenido de este Sitio. Para obtener más información sobre cómo proteger la privacidad de sus hijos, puede visitar la página sobre privacidad infantil de la Comisión Federal de Comercio (Federal Trade Commission), a la que puede ingresar a través de <a href="http://www.ftc.gov">www.ftc.gov.</a></p>

<h4>Cambios en la información que nos proporciona</h4>

<p>La información que usted proporcione en forma voluntaria se guardará hasta tanto BCBSA lo considere apropiado para cumplir con el propósito por el cual usted proporcionó la información, el programa Blue365, los fines de este Sitio Blue365deals.com u otros propósitos que estén de acuerdo con esta Política de Privacidad o hasta que usted nos pida que la eliminemos. La PII provista por usted en forma voluntaria podría retenerse de manera indefinida para los fines descritos en esta Política de Privacidad.</p>

<h4>Cookies <em>[archivos de almacenamiento de datos]</em></h4>

<p>Cuando usted visite Blue365deals.com, podremos instalar en su computadora una <em>cookie</em> de “sesión” temporaria o persistente, que nos permitirá personalizar y mejorar su experiencia en el Sitio, o hacer mejoras en él, o efectuar informes sobre la actividad en el Sitio. Las <em>cookies</em> persistentes se almacenan y también se usan para llevar un registro de la actividad de los visitantes a los sitios web de las Compañías Blue, o entre ellos, y para habilitar la funcionalidad de inicio de sesión, así como para identificar la afiliación a una Compañía Blue y la residencia (código postal), con el fin de ofrecer las ofertas nacionales y locales a los miembros pertinentes de Compañías Blue que participen en el programa Blue365. Estas <em>cookies</em> jamás se usarán para llevar un registro de su actividad en ningún sitio web distinto del Sitio Blue365deals.com y de las páginas de salto de marca compartida que presenten las ofertas especiales Blue365 de los Distribuidores en los sitios web propios de tales Distribuidores. Usted puede usar los controles de su navegador para negarse a permitir la instalación de <em>cookies</em> en su computadora. La negativa a que se instalen <em>cookies</em> imposibilita nuestra capacidad de incluir información sobre su visita en el monitoreo regular del tráfico del Sitio, puede afectar la forma en que el Sitio funciona en su computadora, y puede requerir que usted realice todo el proceso de registro en el Sitio cada vez que inicia sesión o compra algún producto o servicio.</p>

<h4>Cambios a esta Política de Privacidad</h4>

<p>El uso del Sitio Blue365deals.com por parte suya constituye su aceptación de las condiciones de esta Política de Privacidad, con las enmiendas o revisiones efectuadas por nosotros. Es posible que actualicemos la presente Política de Privacidad de vez en cuando. Es posible que le avisemos que se han efectuado cambios mediante la publicación de un aviso en este Sitio o de otra forma. La fecha de las últimas revisiones se indicará arriba, al comienzo de esta Política de Privacidad. Consulte este Sitio y la Política de Privacidad en forma regular para saber si se ha realizado algún cambio.</p>

<h4>Aviso para usuarios finales fuera de los Estados Unidos</h4>

<p>Debe saber que los Estados Unidos y otros países no han armonizado sus normas en materia de privacidad. Dado que el Sitio está específicamente destinado a usuarios finales que se encuentren en los Estados Unidos, hemos redactado la presente Política de Privacidad a fin de cumplir con las normas de los Estados Unidos. Al usar el Sitio y los servicios disponibles en este Sitio, usted acepta el nivel de protección de la privacidad establecido en esta Política de Privacidad.</p>

<p>Si tiene alguna pregunta o comentario, o si recibe algún mensaje de correo electrónico no deseado de este Sitio, comuníquese con el administrador del sitio [webmaster] por correo electrónico escribiendo a  <a href="mailto:support@Blue365deals.com">support@Blue365deals.com</a>.</p>

<p>El documento que antecede es una traducción del documento original en idioma inglés. En caso de controversia, el documento original en inglés tendrá precedencia sobre su traducción. Para revisar el documento original en inglés, visite: <a href="<%= privacy_policy_publisher_daily_deals_url(@publisher.id).gsub('/es-MX/publishers', '/publishers') %>">Política de Privacidad de Blue365</a></p>

<p>Copyright © 2012 Blue Cross and Blue Shield Association.  Todos los derechos reservados.</p>
  </div>
  </div>
</div>
</div>
