<% set_daily_deal_page_title_slug "Feature Your Business" %>

<div class="page_row">
  <div class="page_column_12 first rounded_corners">
    <h1 class="content">Feature Your Business</h1>

    <p>CoCoCoupons is an easy and powerful tool that can be used for marketing purposes. Our deal site can give your business a chance to bring in new consumers, create new traffic and build excitement for your products and services.</p>
	<p>It's simple! You can start providing that incentive by offering your customers and their friends a chance to purchase your products and/or services at a discounted price.</p>

    <h2 style="margin-top: 18px;">It's a Win-Win!</h2>
    <p>Advertising is free and there is no upfront cost! Your advertisement will reach thousands of local consumers using our unique branding. Reach thousands more when our consumers share via word of mouth -- social sharing functions are available on our site for users to share with all their friends. You can track your results in real-time on our powerful platform and see how many customers to expect at your business. Continue to provide your customers with your amazing products and services to ensure that you bring in satisfied, repeat consumers!</p>

    <h2 style="margin-top: 18px;">Interested?</h2>
    <p>Email us at <a href="mailto:sales@monthlygrapevine.com">sales@monthlygrapevine.com</a> for more information</p>
  </div>
</div>