<div id="banner">
	<div id="deal_logo"><img src="/themes/prowlingpanther/images/graphics/deal_logo.png" height="169" width="235" alt="Seattle Pi Daily Deal" /></div>
	<%= render :partial => with_theme('shared/market_menu') if @publisher.enable_market_menu %>
	<%= render :partial => with_theme("shared/account_nav") %>
	<%= render :partial => with_theme("shared/dd_nav") %>
</div>