<div id="market_menu_wrapper">
	<ul id="market_menu">
	   <li><a href="#" id="current_market_menu_selection">Deals for: <strong><%= @publisher.market_name_or_city %></strong></a>
	     <%= market_selection_list(@publisher) %>
	   </li>
	</ul>
 </div><!-- /market_menu_wrapper -->