<% set_daily_deal_page_title_slug "Sorry" %>
<div class="page_row signups_thank_you">
  <div class="page_column_12 first">
  <h2>Sorry, that's not a valid link</h2>

  <p>Please email <%= mail_to @publisher.support_email_address %> if you've reached this page in error.</p>
  </div>
</div>
