<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
<title>Student Insider: Inside My Campus &amp; Community</title> 
<link href="http://www.studentinsider.com/uofa/SI.css" rel="stylesheet" type="text/css" /> 
<%= render :partial => 'layouts/offers/sdcitybeat/stylesheets_and_javascript' %>
<%= render :partial => 'layouts/offers/standard/facebook_metadata' %>
<%= raw render :partial => "/shared/tracking_offers" %>
</head> 
 
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0"> 
<table id="Table_01" width="986" border="0" cellpadding="0" cellspacing="0" align="center"> 
<tr> 
		<td colspan="11"> 
			<img src="http://www.studentinsider.com/uofa/images/home/Student-Insider_01.jpg" width="986" height="54" alt=""></td> 
	</tr> 
	<tr> 
		<td colspan="2" rowspan="2"> 
			<img src="http://www.studentinsider.com/uofa/images/home/Student-Insider_02.jpg" width="493" height="181" alt=""></td> 
		<td colspan="3"> 
			<a href="http://studentinsider.com" target="_top"><img src="http://www.studentinsider.com/uofa/images/home/Student-Insider_03.jpg" alt="Link to the Home Page" width="95" height="40" border="0"></a></td> 
		<td colspan="2"> 
			<a href="#" target="_top"><img src="http://www.studentinsider.com/uofa/images/home/Student-Insider_04.jpg" alt="Link to the About Page" width="84" height="40" border="0"></a></td> 
		<td> 
			<a href="#" target="_top"><img src="http://www.studentinsider.com/uofa/images/home/Student-Insider_05.jpg" alt="Link to the Jobs Page" width="70" height="40" border="0"></a></td> 
		<td colspan="2"> 
			<a href="#" target="_top"><img src="http://www.studentinsider.com/uofa/images/home/Student-Insider_06.jpg" alt="Link to the Advertise Page" width="104" height="40" border="0"></a></td> 
		<td> 
			<a href="#" target="_top"><img src="http://www.studentinsider.com/uofa/images/home/Student-Insider_07.jpg" alt="Link to the Contact Page" width="140" height="40" border="0"></a></td> 
	</tr> 
	<tr> 
		<td colspan="9"> 
			<img src="http://www.studentinsider.com/uofa/images/home/Student-Insider_08.jpg" width="493" height="141" alt=""></td> 
	</tr> 

  <tr>
    <td colspan="11">
      <div id="analog_analytics_content">
        <%= yield %>
      </div>
    </td>
  </tr>
 
	<tr> 
		<td colspan="11">
		  <div class="copyrightTXT">Spring 2010 | Arizona Edition | StudentInsider.com<br /> 
      &copy; 2010 The Bernstein Group, Inc. | All Rights Reserved.
      </div>
    </td> 
  </tr> 
</table> 
</body> 
</html>
