<header class="bespoke">
  <div class="branding">
    <a href="/"><img alt="Bespoke_logo" src="/themes/bespoke/images/logo.png" class="logo"></a>
  </div>

  <div id="navbar" class="bespoke">
    <%= render with_theme("layouts/navbar_links") %>
  </div>
</header>
