<div id="landing_container">
	
	<div id="landing_content">
		
		<div id="optinform">
			
			<h2 class="thanks">Watch your Email for Daily Deals in your area.</h2>
			
			
		</div>
		
	</div>
	
	<div id="a_a">
     	<a href="http://analoganalytics.com"><img src="/images/powered_by_analog_analytics.png" width="169" height="20" style="border:0" alt="Powered By Analog Analytics" /></a>
    </div>
</div>