<!-- Tag for Activity Group: Completed Registrations Count, Activity Name: Blue365 Q3 2012 Activation Page Visits (Completed Registrations), Activity ID: 1065467 -->
<!-- Expected URL: https://www.blue365deals.com/publishers/505/consumers -->

<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: Blue365 Q3 2012 Activation Page Visits (Completed Registrations)
URL of the webpage where the tag is expected to be placed: https://www.blue365deals.com/publishers/505/consumers
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 07/16/2012
-->
<script type="text/javascript">
var axel = Math.random() + "";
var a = axel * 10000000000000;
document.write('<iframe src="https://fls.doubleclick.net/activityi;src=3123059;type=compl610;cat=blue3008;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
<iframe src="https://fls.doubleclick.net/activityi;src=3123059;type=compl610;cat=blue3008;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>

<!-- End of DoubleClick Floodlight Tag: Please do not remove -->

<!-- Google Code for B365 Confirmation Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1003502461;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "Qj60CIO1swQQ_fbA3gM";
var google_conversion_value = 0;
/* ]]> */
</script>
<script type="text/javascript"
src="https://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt=""
src="https://www.googleadservices.com/pagead/conversion/1003502461/?value=0&amp;label=Qj60CIO1swQQ_fbA3gM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>