<div class="footer_huston"><div class="footerIncludes">


  <div class="row1" id="siteTools_clickondetroit">
    <div class="icon" style="line-height:40px;"><a rel="nofollow" href="http://www.click2houston.com/emailnewsletters/index.html/"><img src="http://www.edeals.com/partner/click2houston/images/email_icon.gif" alt="Email Alerts">&#160;Email Alerts</a></div>
    <div class="icon" style="line-height:40px;"><a rel="nofollow" href="http://www.click2houston.com/rss/index.html/"><img src="http://www.edeals.com/partner/click2houston/images/rss_icon.gif" alt="RSS News Feeds">&#160;RSS News Feeds</a></div>
    <div class="icon" style="line-height:40px;"><a rel="nofollow" href="http://www.click2houston.com/wirelessnews/index.html/"><img src="http://www.edeals.com/partner/click2houston/images/mobile_icon.gif" alt="Mobile">&#160;Mobile</a></div>

    <div class="icon" style="line-height:40px;"><a rel="nofollow" href="http://www.click2houston.com/video/index.html/"><img src="http://www.edeals.com/partner/click2houston/images/live_icon.gif" alt="Live Streams">&#160;Live Streams</a></div>
    <div class="icon" style="line-height:40px;"><a rel="nofollow" href="http://www.click2houston.com/slideshows/index.html/"><img src="http://www.edeals.com/partner/click2houston/images/slide_icon.gif" alt="Slideshows">&#160;Slideshows</a></div>
    <div class="icon" style="line-height:40px;"><a rel="nofollow" href="http://www.click2houston.com/video/index.html/"><img src="http://www.edeals.com/partner/click2houston/images/video_icon.gif" alt="Video">&#160;Video</a></div>
</div>
<div class="row2">
  <a rel="nofollow" href="http://www.click2houston.com/news/1032852/detail.html/" id="set-as-homepage">Set Click 2 Houston as Homepage</a>&#160;|&#160;<a rel="nofollow" href="#top">Back To Top</a>&#160;|&#160;<a rel="nofollow" href="http://www.click2houston.com/search/index.html/"><img src="http://www.edeals.com/partner/click2houston/images/search_small.gif" width="19" height="19" style="position:relative; top:5px;" alt="Search">Search</a>

</div>
<div class="row3">
  <div class="footerlinks">
  	<a rel="nofollow" href="http://www.click2houston.com/search/index.html/"><img src="http://www.edeals.com/partner/click2houston/images/post-newsweek.png" width="120" height="21" style="line-height:30px; vertical-align:middle;" border="0" alt="Post-Newsweek Stations, Inc."></a>
    <a rel="nofollow" href="http://www.ibsys.com/"><img src="http://www.edeals.com/partner/click2houston/images/ib_logo.png" width="144" height="24" style="line-height:30px; vertical-align:middle;" border="0" alt="Internet Broadcasting"></a>
    &#160; Partners:
    &#160; <a rel="nofollow" href="http://www.cnn.com/"><img height="19" width="36" src="http://www.edeals.com/partner/click2houston/images/cnn_logo.png" style="position:relative; top:4px;" border="0" alt="CNN"></a>
    &#160; <a rel="nofollow" href="http://www.washingtonpost.com">washingtonpost.com</a>

    &#160; <a rel="nofollow" href="http://www.nbc.com">NBC</a>
    &#160; <a rel="nofollow" href="http://www.msnbc.com">MSNBC</a>
  </div>
  <div class="IBCopyrightFooter">&#169;2010, KPRC - Houston</div>
</div>
  </div><div class="footerlinks">
<p><a rel="nofollow" href="http://www.click2houston.com/contact/index.html/">Contact Us</a>
&#160;|&#160;
<a rel="nofollow" href="http://www.click2houston.com/privacy/index.html/" rel="nofollow">Privacy Policy</a>
&#160;|&#160;
<a rel="nofollow" href="http://www.click2houston.com/station/23902862/detail.html/" rel="nofollow">Terms of Use</a>
&#160;|&#160;
<a rel="nofollow" href="http://www.click2houston.com/advertise/index.html/">Advertising</a>

&#160;|&#160;
<a rel="nofollow" href="http://go.microsoft.com/fwlink/?LinkId=21969">Microsoft MapPoint Terms of Use</a>
&#160;|&#160;
<a rel="nofollow" href="http://go.microsoft.com/fwlink/?LinkId=21970">Microsoft Privacy Statement</a>
&#160;|&#160;
<a rel="nofollow" href="http://www.click2houston.com/sitemap/index.html/">Site Map</a></p>
  </div></div>

<script type="text/javascript" src="http://www.edeals.com/click2houston/jscripts/postFoot-min.js"></script>
<script type="text/javascript">

YAHOO.util.Event.onDOMReady(function(){
var navs = YAHOO.util.Dom.getElementsByClassName('yuimenubar', 'div', 'siteNav', function(el) {
var navbar = new YAHOO.widget.MenuBar(el, {autosubmenudisplay:true,constraintoviewport:false,hidedelay:500,submenualignment: ['tl', 'bl']} );
navbar.render();
});
});

</script>
