<div id="banner">
	<img id="publisher_logo" src="/themes/beautyamerica/images/graphics/beauty_america_logo.png" alt="Beauty America" />
		
		<%= render :partial => with_theme("shared/account_nav") %>
		<%= render :partial => with_theme("shared/dd_nav") %>


</div>