<div id="banner">
	<div id="banner_wrap">
		<img id="deal_logo" src="/themes/thinkdigital/images/graphics/deal_logo.png" height="82" width="295" alt="Seattle Pi Daily Deal" />
		
			<%= render :partial => with_theme("shared/account_nav") %>
			<div class="clear"></div>
	</div>
			<%= render :partial => with_theme("shared/dd_nav") %>
</div>