<% set_daily_deal_page_title_slug "Acerca de Blue365" %>

<div class="page_row">  
  <div class="page_column_12 first rounded_corners">
    
  <h1 class="content"><%= @h1 || "Acerca de Blue365" %></h1>

  <div id="faq_content">
    <div id="about_content">
    
      <a class="print_page" href="javascript:window.print()"><img class="print_icon" src="/themes/bcbsa/images/graphics/print_icon.png" />Imprimir esta página</a>
      <div class="clear"></div>
      
      <h4>El Sistema de Blue Cross and Blue Shield</h4>
      <p>El Sistema de Blue Cross and Blue Shield está conformado por 38 Compañías miembro de Blue Cross and Blue Shield que operan en forma independiente, un Programa de Empleados Federales y una Asociación que atiende las necesidades colectivas de 99 millones de estadounidenses que tienen planes de seguro de salud de Blue Cross and Blue Shield. Al brindar soluciones locales que mejoran el acceso a un seguro de salud de calidad y asequible, cada una de las 38 Compañías Blue Cross and Blue Shield independientes que operan a nivel local proporcionan cobertura de seguro de salud a 99 millones de miembros en los 50 estados, el Distrito de Columbia y Puerto Rico. Consulte nuestras <a href="<%= faqs_publisher_daily_deals_path(@publisher) %>">Preguntas frecuentes</a> para obtener más información.</p>
      
      <p>Para encontrar su Compañía Blue Cross and Blue Shield local, solo haga <a href="http://www.bcbs.com/about-the-companies/">clic aquí</a>.</p>
      <a href="http://www.bcbs.com/about-the-companies/">
        <img id="about_map" src="/themes/bcbsa/images/graphics/about_map.png">
      </a>
      
      <h4>El Programa Blue365</h4>
      <p>Blue365 es una excelente forma para que vivir bien sea más asequible. Para los miembros de las Compañías Blue Cross and Blue Shield participantes, Blue365 ofrece descuentos en equipos para acondicionamiento físico, membresías de gimnasios, opciones de alimentos saludables y más. Blue365 ofrece acceso a ahorros en artículos que los miembros compran directamente en el sitio web de Blue365 o en los sitios web de vida saludable del Distribuidor. Estos artículos son diferentes de los cubiertos por las pólizas de Compañías Blue Cross and Blue Shield locales, los contratos de Blue Plan con Medicare o cualquier otro programa federal de seguro de salud aplicable. 
      </p>
      <p>¿Desea comenzar? Blue365 está actualmente disponible en lugares selectos para los miembros de Blue Cross and Blue Shield y en todo el país para las personas que se encuentren en el Programa de Empleados Federales. Para obtener una lista de todas las Compañías Blue participantes, <a href="<%= faqs_publisher_daily_deals_path(@publisher) %>?page=plans">haga clic aquí</a>. Para saber cómo funciona Blue365, aquí puede obtener <a href="<%= how_it_works_publisher_daily_deals_path(@publisher) %>">más información</a>.
      </p>
    </div>
  </div><!-- /faq content -->
  </div>
</div>
