<% if @publisher.label == "BCBSMA" %>

<% set_daily_deal_page_title_slug "Health and Wellness" %>

<div class="page_row">
  <div class="page_column_12 first rounded_corners">
    <h1 class="content">Health and Wellness Programs</h1>
  <div id="health_content">
    
    <div id="left_column">
      <h2>Learn more about exclusive programs Blue Cross and Blue Shield of Massachusets has to offer.</h2>

      <h4>My Programs</h4>
      <h5 class="subcategory">Ready to Quit Smoking?</h5>
      <p>Our <a href="https://www.bluecrossma.com/wps/portal/members/healthier-living/my-programs/living-healthy-smoke-free/!ut/p/" target="_blank">Living Healthy Smoke-free</a><sup>SM</sup> program can help you put down the pack for good.</p>

      <h5 class="subcategory">Need a Plan to Get Healthy?</h5>
      <p>
        Take the Health Assessment at <a href="https://www.mybluehealthma.com/" target="_blank">MyBlueHealth</a> and get a personalized wellness plan and more.
      </p>
      <p><a href="#programs_bottom_nav">More in My Programs</a></p>
      
      <h4>Get Educated</h4>
      <h5 class="subcategory">Gearing up to get in shape?</h5>
      <p>Our <a href="https://www.bluecrossma.com/wps/portal/members/healthier-living/get-educated/fitness-weight-loss/" target="_blank">fitness and weight loss benefit*</a> of up to $150 off qualifying gyms or weight loss programs can help you get moving and reach a healthy weight.</p>

      <h5 class="subcategory">Interested in Learning More About Healthy Living?</h5>
      <p><a href="https://www.ahealthyme.com" target="_blank">AHealthyMe.com</a> offers cool tools, health news, Self Care Centers, a drug information database, and more. This information is also available in <a href="http://www.paramisalud.com/" target="_blank">Spanish</a> and on Mobile devices.</p>
      <p><a href="#programs_bottom_nav">More in Get Educated</a></p>

      <h4>Manage My Health</h4>
      <h5 class="subcategory">Want to Take Charge of Your Health?</h5>
      <p>Not sure which tests and screenings you need? Talk to your doctor and download our <a href="https://www.bluecrossma.com/wps/portal/members/healthier-living/manage-my-health/screening-guidelines-adults/" target="_blank">Screening Guidelines for Adults</a> and <a href="https://www.bluecrossma.com/wps/portal/members/healthier-living/manage-my-health/immunizations-healthy-kids/" target="_blank">Immunizations and Screenings for Healthy Children</a>.</p>

      <h5 class="subcategory">Living with a Chronic Condition?</h5>
      <p>Our comprehensive <a href="https://www.bluecrossma.com/wps/portal/members/healthier-living/manage-my-health/disease-management/" target="_blank">Disease Management</a> and <a href="https://www.bluecrossma.com/wps/portal/members/healthier-living/manage-my-health/case-management" target="_blank">Care Management</a> Blue Care Connection® Programs are designed to help you understand the day-to-day management of your condition, and support your physician’s plan of care. </p>
      <p><a href="#programs_bottom_nav">More in Manage My Health</a></p>

      <h4>Health Resources</h4>
      <h5 class="subcategory">Looking for Health Forums and Expert Advice?</h5>
      <p><a href="https://www.bluecrossma.com/wps/portal/members/healthier-living/health-resources/my-blue-community/" target="_blank">My Blue Community®</a> gives you access to a health and wellness social network for healthy-minded people just like you. </p>
      
      <h5 class="subcategory">Learn How to Eat Healthy </h5>
      <p><a href="http://www.bluecrossma.com/goal-getter/" target="_blank">EatBetter Goal Getter</a> is like having a personal nutritionist to help you get in shape and feel great. </p>
      <p><a href="#programs_bottom_nav">More in Health Resources</a></p>

      <div id="programs_bottom_nav" class="programs_bottom_nav">
        <h5 class="subcategory">My Programs </h5>
        <ul>
          <li><a href="https://www.bluecrossma.com/wps/portal/members/healthier-living/my-programs/overcoming-insomnia/" target="_blank">Overcoming Insomnia</a></li>
          <li><a href="https://www.bluecrossma.com/wps/portal/members/healthier-living/my-programs/go-walking/" target="_blank">Go Walking</a></li>
          <li><a href="http://www.livinghealthybabies.com/" target="_blank">Living Healthy Babies</a></li>
        </ul>

        <h5 class="subcategory">Get Educated</h5>
        <ul>
          <li><a href="https://www.bluecrossma.com/wps/portal/members/healthier-living/get-educated/dental-health/" target="_blank">Dental Health</a></li>
          <li><a href="https://www.bluecrossma.com/wps/portal/members/healthier-living/get-educated/flu-facts/" target="_blank">Flu Facts</a></li>
          <li><a href="https://www.bluecrossma.com/wps/portal/members/healthier-living/get-educated/prevention/" target="_blank">Prevention</a></li>
          <li><a href="https://www.bluecrossma.com/wps/portal/members/healthier-living/get-educated/self-care-resources/" target="_blank">Self-Care Resources</a></li>
          <li><a href="http://www.bluecrossma.com/common/en_US/pdfs/New_SOB/32-190_Qual_init_FS.pdf" target="_blank">Quality Initiatives Fact Sheet</a></li>
        </ul>
      </div>
      <div class="programs_bottom_nav">
        <h5 class="subcategory">Manage My Health</h5>
        <ul>
          <li><a href="https://www.bluecrossma.com/wps/portal/members/healthier-living/manage-my-health/case-management/" target="_blank">Case Management</a></li>
          <li><a href="https://www.bluecrossma.com/wps/portal/members/healthier-living/manage-my-health/disease-management/" target="_blank">Disease Management</a></li>
          <li><a href="https://www.bluecrossma.com/wps/portal/members/healthier-living/manage-my-health/growing-up-healthy/" target="_blank">Growing Up Healthy</a></li>
        </ul>
        <h5 class="subcategory">Health Resources</h5>
        <ul>
          <li><a href="http://www.bluecrossma.com/goal-getter/" target="_blank">EatBetter GoalGetter</a></li>
        </ul>
      </div>

      <div class="clear"></div>
      <p class="bottom_message">*Benefit not available to all members and actual dollar amount will depend on your plan. Log in to your account or call the number on the front of your ID card for details.</p>

    </div> <!-- /left_column -->

    <div class="right_column_2">
      <div class="content">
        <div class="top">
          <h5>More deals are waiting for you.</h5>
          <p>Browse our other deals or let us know if there is a new offer you would like to see.</p>
        </div>
      
        <div class="middle">
            <a href="<%= publisher_daily_deal_categories_path(@publisher) %>">
              <img class="contact_icon" src="/themes/bcbsa/images/graphics/magnifying_glass.png" />
            </a>
            <a href="<%= publisher_daily_deal_categories_path(@publisher) %>">
              <h6>Browse all deals</h6>
              <p>Find the offer that's right for you and start saving.</p>
            </a>
          
          <a href="#">
          <span>
            <a id="wish_list_image"><img class="contact_icon" src="/themes/bcbsa/images/graphics/wishlist_icon_white.png" /></a>
            <h6 id="recommend"><a id="wish_list">Is there a deal you wish was on Blue365?</a></h6>
            <p>Help us find the offers that are best for you and your lifestyle.</p>
          </span>
          </a>
          
        </div>
        <div class="bottom_img"></div>      
      </div>
    </div>
   
    </div>
  </div>
</div>

<% end %>


