<% @booking = @daily_deal_purchase.travelsavers_booking %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head></head>
<body>
<%= render :partial => 'daily_deal_purchases/thank_you/travelsavers/thank_you' %>

<%= render :partial => 'daily_deal_purchases/thank_you/travelsavers/summary' %>

<%= render :partial => 'daily_deal_purchases/thank_you/travelsavers/passengers' %>

<%= render :partial => 'daily_deal_purchases/thank_you/travelsavers/next_steps' %>
</body>
</html>
