 <div id="account_nav_login">
	<h4 class="account">My Account:</h4>
	<a id="fb_connect" href="{{ publisher.facebook_connect_path }}"><img src="/images/buttons/facebook_connect.png" height="28" width="99" alt="facebook Connect" /></a>
	<a id="log_in" class="blue button" href="{{ publisher.login_path }}"><span>Log In</span></a>
 </div>
