		<div id="twc">		    
		    <a href="http://www.timewarnercable.com/" target="_blank"><img src="/themes/rr/images/graphics/powered_by_twc.png" width="155" height="35" alt="Powered by Time Warner Cable" /></a>
		</div>
		<div id="a_a"><a href="http://analoganalytics.com/" target="_blank"><img src="/themes/rr/images/graphics/aa_logo_sm.png" title="" width="110" height="15" alt="" /></a></div>
