<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>
    Certificate
  </title>
  <!--<link href="/themes/doubletake/stylesheets/styles.css" rel="stylesheet" type="text/css">-->
  <style type="text/css">
    @charset "utf-8";
    body {
      font-family: Arial, Helvetica, sans-serif;
      line-height: 0.9em;
    }

    /* CSS Document */

    div.content {
      padding: 10px;
    }

    div.section {
      padding: 10px;
    }

    div.sectionLeftSideOnly {
      padding-left: 10px;
    }

    div.hugeTitle {
      font-size: 32px;
      font-weight: bold;
      margin-top: 12px;
    }

    div.largeTitle {
      font-size: 26px;
      font-weight: bold;
      line-height: 26px;
    }

    div.mediumTitle {
      font-size: 18px;
      font-weight: bold;
    }

    div.normalTitle, span.normalTitle {
      font-size: 14px;
      font-weight: bold;
    }

    div.labelText {
      font-size: 12px;
    }

    .legalText {
      font-size: 10px;
      color: #333;
    }

    .legalTextTiny {
      font-size: 8px;
    }

    .bold {
      font-weight: bold;
    }

    div.grayBack {
      background-color: #E0E0E0;
    }

    div.bottomSep {
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: #666;
      padding-bottom: 10px;
      padding-top: 10px;
    }

    .floatRight {
      float: right;
    }

    .floatLeft {
      float: left;
    }

    .clearFloat {
      clear: both;
    }

    .center {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }

    #steps li {
      font-size: 12px;
      padding: 5px 0;
    }

    #map {
      margin-top: 0px;
    }
    
    #imgBarCode {
      width: 240px;
    }

    .blackBorder {
      border: 2px solid #000;
    }

    .new_page {
      page-break-before: always;
    }

    .qr_code {
      width: 100px;
    }

    #top {
      text-align: center;
    }

    #steps ul li {
      padding: 3px 0;
    }

    #logos {
      margin-top: 50px;
      text-align: center;
    }

  </style>

</head>
<body>

<%= certificate_bodies  %>

</body>
</html>
