<div id="banner">
	<img id="deal_logo" src="/themes/hearst-seattlepi/images/graphics/deal_logo.png" height="169" width="235" alt="Seattle Pi Daily Deal" />
	<a href="http://seattlepi.com" target="_blank"><img id="publisher_logo" src="/themes/hearst-seattlepi/images/graphics/publisher_logo.png" height="165" width="396" alt="Seattle Pi Daily Deal" /></a>
</div>