<!-- END ANALOG ANALYTICS CONTENT -->
<div id="pub_footer_wrap" class="pub"> 
	<div id="pub_footer">

  <div class="pagecontent faux-21">
    <div class="faux-21 clearfix">
      <div style="width: 980px; float: left; margin-left: -9px;">
        <script type="text/javascript" src="/themes/hearst-seattlepi/cached/js/footer.js"></script>
      </div>
    </div>
  </div>
  <!--END BOTTOM INFO-->
</div>
<div class="clear"></div>

</div>
</div><!-- /pub_footer_wrap -->
