<script type="text/javascript" src="/themes/hearst-seattlepi/cached/js/external/js.js"></script>

<div id="pub_header_wrap" class="pub"><!-- added so we can have the presignup page at 100% width -->

	<div class="container">
		<div class="hst-siteheader">
			<div class="clearfix" style="width: 100%; height: 90px; margin-bottom: 8px; float: left;">
				<div style="width: 140px; float: left;">
					<!-- Ad A120 -->
					<script type="text/javascript">                        /*<![CDATA[*/try { yld_mgr.place_ad_here("A120"); } catch (e) { } /*]]>*/</script>
					<!-- /Ad -->
				</div>
				<div style="width: 728px; float: left;">
					<!-- Ad A728 -->
					<script type="text/javascript">                        /*<![CDATA[*/try { yld_mgr.place_ad_here("A728"); } catch (e) { } /*]]>*/</script>
					<!-- /Ad -->
				</div>
			</div>
			<div style="clear: both;"> </div>
			<div class="row2b clearfix" id="row2">
				<!-- .row2b -->
				<div id="usertools1" class="usertools"> </div>
				<script type="text/javascript" src="/themes/hearst-seattlepi/cached/js/sitelinks.js"></script>
				<div class="halfbanner">
					<div class="creative">
					<script type="text/javascript"> /*<![CDATA[*/ try{yld_mgr.place_ad_here("A234");}catch(e){} /*]]>*/ </script>
				</div>
			</div>
			<div class="clearfix"></div>
			<div id="WeatherSeattle"> </div>
			<div class="brand"><a href="http://www.seattlepi.com"><img src="/themes/hearst-seattlepi/cached/i/brand.png" alt="Seattle Post-Intelligencer" class="png"/></a></div>

      <div class="searchtools"> 
      <form  action="http://www.seattlepi.com/?" method="get" target="_top"> 
        <input type="hidden" name="controllerName" value="search" /> 
        <input type="hidden" name="action" value="search" /> 
        <input type="hidden" name="channel" value="" /> 
      <input type="hidden" name="search" value="1" /> 
        <input type="hidden" name="firstRequest" value="1" /> 
   
          <table><tbody><tr> 
            <td class="text"><input name="query" type="text" value=""></td> 
            <td class="submit"><input type="image" value="" src="/themes/hearst-seattlepi/cached/img/modules/siteheader/searchbutton.png"></td> 
            <td class="radio"><input type="radio" value="property" name="searchindex" checked="checked"></td> 
            <td class="label">seattlepi.com</td> 
            <td class="radio"><input type="radio" value="yahoo" name="searchindex"></td> 
            <td class="label">Web Search by <span class="yahoo">YAHOO!</span></td> 
            <td class="radio"><input type="radio" value="businesses" name="searchindex"/></td> 
            <td class="label">Businesses</td> 
          </tr></tbody></table> 
          </form> 
      </div> 

		</div><!-- /hst-siteheader -->
		<!--/.row2b -->
		<!-- /ux/ctpost/templates/hearst/home/header_branding.tpl -->
		<div class="sitenav clearfix" style="overflow:hidden; width:100%; height:30px;">
			<script type="text/javascript" src="/themes/hearst-seattlepi/cached/js/mainNav.js"></script>
		</div>
	</div><!-- /container -->
	<!--/.siteheader -->
</div>

</div><!-- /pub_header_wrap -->
 
<!-- BODY HERE -->

<!-- BEGIN ANALOG ANALYTICS CONTENT -->
