<div id="sweepstakes">
	
	<div id="content" class="entry">
		
		<div id="intro">
			<img src="/themes/entercomnew/images/graphics/holiday_banner.jpg" alt="" />
			<h1>Holidaze Craze!</h1>
			<h2>Thank You!</h2>
			<p>We have received your entry in the Holidaze Craze contest!  Remember, for more chances to win (as long as you are eligible), you can enter once 
per day per email address.  Check in daily at:<a href="http://etm.getmyperks.com/winners">http://etm.getmyperks.com/winners</a> to see if you are a daily winner. Good luck!</p>
		</div>
	
		
	</div>
	

</div>