<%= public_index_notice(@publisher) %>
<div class="header">
  <div class="left_column">&nbsp;</div>
  <div class="right_column">
    <div class="breadcrumb">Businesses with Coupons</div>
    <div class="navigation">
    </div>
  </div>
</div>
<div class="left_column">&nbsp;</div>
<ol id="directory">
  <%= render :partial => "advertisers/business", :collection => @advertisers %>
  <% if @advertisers.empty? -%>
    Sorry, no businesses found
  <%- end -%>
</ol>

<%= render :partial => 'shared/terms_and_conditions' %>