<p style="margin: 0; padding: 8px;">
  <a href="http://www.mix947.com" target="_blank" style="color: #ffffff;"><img border="0" src="http://{{ publisher.daily_deal_host }}/themes/entercom-austin/images/stations/mix947.png" height="50" alt="mix 94.7" style="background: transparent" /></a> &nbsp;
  <a href="http://www.majic.com" target="_blank" style="color: #ffffff;"><img border="0" src="http://{{ publisher.daily_deal_host }}/themes/entercom-austin/images/stations/majic955.png" height="50" alt="Majic 95.5" style="background: transparent" /></a> &nbsp;
  <a href="http://www.talk1370.com" target="_blank" style="color: #ffffff;"><img border="0" src="http://{{ publisher.daily_deal_host }}/themes/entercom-austin/images/stations/talk1370.png" height="50" alt="Talk Radio 1370 AM" style="background: transparent" /></a>
</p>