<div id="banner">
	<a id="todays_deal" href="<%= public_deal_of_day_path(@publisher.label) %>" />Today's Deal</a>
	<div id="right">
		<%= raw render :partial => with_theme("shared/account_nav") %>
		<%= raw render :partial => with_theme("shared/subscribe_form") %>
	</div>
</div><!--banner-->   