<% set_daily_deal_page_title_slug t(:title_slug_sign_up) %>	 
<div id="non_par_thank_you_page">
	
		<div id="preopt_page">
			<div id="preopt_page_content">
				<div id="row_1">
					<h1><%= t(:we_like_saving) %></h1>
					<!-- <h1>Thanks for signing up!</h1> -->
				</div>
				<div id="clear"></div>
			
				<div id="row_2">
					<img src="/themes/bcbsa/images/graphics/watermelon.jpg" alt="">
				</div>
				
				<div id="clear"></div>
				
				<div id="row_3">
					<div id="subscribe_header_thankyou">
						<!-- <h2>We like saving, and it looks like you do, too.</h2> -->
						<p>
							<%= t(:non_par_thank_you_par_1) %>
						</p>
						<p>
							<%= t(:non_par_thank_you_par_2) %>
						</p>
					</div>
				</div>
				<div id="row_4">
					<img src="/themes/bcbsa/images/graphics/blue_team_signature.png" alt="The Blue365 Team">
				</div>
				<div id="clear"></div>
			</div>
		</div>
</div>