<div class="column_wrapper iphone">
<div class="content_box iphone_ad">
	<h4>get <span class="publisher_name"><%= @publisher.market_name_or_city %></span> mobile</h4>
	<img src="/themes/barclaycard/images/graphics/mobile-apps.png" class="iphone" alt="Barclaycard Mobile Apps" height="237" width="200" />
	<p>The <span class="publisher_name"><%= @publisher.market_name_or_city %></span> app makes it easy to check out today's awesome deal and buy it safely and securely from your phone!</p>
	<a href=""><img src="/themes/barclaycard/images/buttons/app-store.png" alt="Available on the iPhone App Store" height="40" width="100" /></a>
	<a href=""><img src="/themes/barclaycard/images/buttons/android_market.png" alt="Available in the Android Market" height="43" width="100" /></a>
</div><!-- /iphone_ad -->
</div><!-- /wrapper -->