<div id="standard-pages-box-inner">
	<h1>Frequently Asked Questions</h1>
	
	<h3>WHAT IS EF BUYS?</h3>
	<p>The "EF" stands for "Entrepreneur Factor".  EF Buys features time sensitive deals on everything you need for your small business, at 50% to 100% off.  To make sure you don't miss out on upcoming offers, sign up for free alerts on the top of the page. </p>
	
	<h3>IS THERE A MEMBERSHIP FEE? WHAT'S THE CATCH?</h3>
	<p>No, there are no memberships, and no hidden fees.  Our goal is to make it easy for businesses to save on business expenses.  When you see a deal you like, at a price you like, buy it.  Simple as that.</p>
	
	<h3>WHAT HAPPENS WHEN THE DEAL EXPIRES?</h3>
	<p>The bad news is that you can no longer buy that deal at such an amazing discount.  The good news is that a new amazing discount on another useful business product or service will become available. </p>
	
	<h3>I JUST PURCHASED A DEAL, HOW DO I REDEEM IT?</h3>
	<p>After you make a purchase, you'll receive an email with an EF Buys voucher. Follow the voucher instructions to redeem your purchase and enjoy the fruits of your labor.  You can also sign in to your EF Buys account and see all your purchased deals on the "My Deals" page.</p>
	
	<h3>DOES THE MERCHANT HAVE MY INFORMATION?</h3>
	<p>No, EF Buys doesn't pass your account information to the merchant.</p>
	
	<h3>IS THE TRANSACTION SAFE FOR ME TO USE?</h3>
	<p>Yes. The transaction uses SSL and other industry standard security features to ensure that no one else has access to your credit card information.</p>
	
	<h3>WHEN I GIFT AN EF BUYS VOUCHER TO A CO-WORKER OR FRIEND, WILL THEY HAVE ACCESS TO MY ACCOUNT INFORMATION?</h3>
	<p>No.</p>
	
	<h3>CAN I COMBINE THIS EF BUYS OFFER WITH OTHER OFFERS THE MERCHANT MIGHT HAVE PRESENTED PREVIOUSLY?</h3>
	<p>No, each EF BUYS voucher has its own terms.</p>
	
	<h3>I BOUGHT A DEAL, NOW I WANT TO RETURN IT, WHAT SHOULD I DO?</h3>
	<p>Our goal is to make you happy.  Please contact our support team, and we'll get you squared away.</p>
	
	<h3>WHAT IF I HAVE MORE QUESTIONS?</h3>
	<p>Feel free to <a href="mailto:support@efbuys.com">email</a> or call (877) 538-4617. We will be more than happy to answer any additional questions you may have.</p>
	</div><!-- end #standard-pages-box-inner -->