<div id="subscription_rate_schedule">
  <p class="large">Please select one of the following payment plans, and <strong>click the button</strong> to pay through PayPal. You can <strong>pay with a credit card</strong> even if you don't have a PayPal account.</p>
  <%= render(subscription_rate_schedule.subscription_rates) %>
</div>
