<!-- begin daily deal content -->

<div id="deal_content">
	<div class="info_box one_column">
		<h3>Contact Us</h3>
		<h4>Mailing Address:</h4>
		<p>
			P.O. Box 30072, <br />
			Alexandria, VA 22310	
		</p>
		<h4>Support:</h4>
		<p><a href="mailto:woofsupport@novadogmagazine.com">woofsupport@novadogmagazine.com</a></p>
		<h4>Sales:</h4>
		<p>Angela Meyers<br /><a href="mailto:ahazuda@yahoo.com">ahazuda@yahoo.com</a></p>
	</div>
</div><!-- /deal_content -->

<div class="clear"></div>

<!-- end daily deal content -->