<!-- begin daily deal content -->

<div id="deal_content">
	<div class="info_box one_column">
			<h3>Frequently Asked Questions</h3>
			
			<h4 class="faq">What is Wooftastic Wednesday?</h4>
			<p>Each Wednesday, one incredible deal is featured. The offer is only available for a limited time, so check back frequently so you don't miss out! And don't forget to share your favorite deals on Twitter, Facebook, and through email.</p>
			<h4 class="faq">How do I buy today's Deal?</h4>
			<p>Click on the "Buy Now" button before midnight on the day the offer expires. If you like a deal tweet it, Facebook it, or text it to people you think might be interested.</p>
			<h4 class="faq">What happens after I buy a Deal?</h4>
			<p>After you make a purchase, you'll receive the Wooftastic Wednesday voucher to print via email.
			<p>Take the voucher to the store or merchant (before the expiration date!) and enjoy!</p>
			<h4 class="faq">What if I want to use part of the voucher and save the rest for later?</h4>
			<p>Sorry, this is not possible. The merchant does not have your account information. That is held by Analog Analytics, the software company that processes the transaction for the publisher.</p>
			<h4 class="faq">Is the transaction safe for me to use?</h4>
			<p>Absolutely. The transaction uses SSL and other industry standard security features to ensure that no one else has access to your PayPal or credit card information. Your satisfaction is our priority.</p>
			<h4 class="faq">When I gift the voucher to a friend, will they have access to my account information?</h4>
			<p>No. The voucher carries a record of the transaction, the purchaser's name, the gift recipient's name, and a unique 8-digit code. The payment information is secure on a site that no consumer has access to.</p>
			<h4 class="faq">Can I combine the voucher with other offers the merchant might have presented previously?</h4>
			<p>No. Each voucher has its own terms.</p>
			<h4 class="faq">What if the merchant does not honor the offer?</h4>
			<p>We go out of our way to vet each advertiser and make sure they meet our high standards. We often provide recent reviews and testimonials to help you get a better feel for what you are buying. On the rare occurrence that something happens and you're not satisfied, we (through Analog Analytics) will refund the offer, no problem.</p>
			<h4 class="faq">What if I miss the expiration date?</h4>
			<p>If you miss the expiration date on your deal, take heart, all is not lost! While the additional discounts are no longer available, you are still entitled to goods and services equal to the paid value of the voucher.</p>
			<p>For example, if you spend $25 to buy a $50 voucher for your new favorite restaurant, but are unable to get there before the expiration date, you will still be entitled to $25 of food, drink and good times. It's a no-loss situation!</p>
			<h4 class="faq">What if I have more questions?</h4>
			<p>Feel free to email bbdsupport@analoganalytics.com or call (877) 538-4617. The publisher and Analog Analytics teams will be more than happy to answer any additional questions you have.</p>
	</div>


</div><!-- /deal_content -->
<div class="clear"></div>

<!-- end daily deal content -->