<!-- begin daily deal content -->

<div id="deal_content">
	<div class="info_box one_column">
		<h3>Feature Your Business</h3>
		<p>Group Buying is one of the top growth marketing trends of 2011--and there is a good reason for that.  Group buying brings awareness about your business to thousands of targeted, motivated buyers and brings new buyers to your place of business.</p>
		<p>In addition, there are no up-front costs to participate in group buying.  Group buying deals make sense for all types of companies who what to reach new clients and grow their business.</p>
		<p>Contact us today to inquire about promoting your business through NOVADog's Wooftastic Wednesday group buying deals.</p>
		<p>To have your business featured, please email:
		<p>Angela Meyers<br /><a href="mailto:ahazuda@yahoo.com">ahazuda@yahoo.com</a></p>
	</div>


</div><!-- /deal_content -->
<div class="clear"></div>

<!-- end daily deal content -->