<div id="siteFooter">
	<div class="footerPadding">

<!--Copyright-->
<div id="copyright">
	Copyright &copy; 2011 Shelby County News <br>
	All Rights Reserved
</div>
<!--End Copyright-->
    </div>
</div>