<div id="header">
<!--Site Logo-->
	
    <a href="http://www.shelbycountynews.net/">
    	<IMG "ALIGN=LEFT" BORDER="0" width="650" height="100" SRC="/themes/{{ publisher.label }}/images/header/SCN_site_header1.png">
	    <IMG "ALIGN=LEFT" BORDER="0" width="140" height="100"SRC="/themes/{{ publisher.label }}/images/header/SCN_site_header2.png">
    	<IMG "ALIGN=LEFT" BORDER="0" width="180" height="100" SRC="/themes/{{ publisher.label }}/images/header/SCN_site_header3.png">
	</a>
	
	<div id="address_list">
		<ul>
			<li id="first_element">Shelby County News</li>
			<li>502A N Cedar St.</li>
			<li>PO Box 211</li>
			<li>Shelbyville, IL 62565</li>
			<li>Off 217-774-1001</li>
			<li>Fax 886-265-2985</li>
		</ul>
	</div>
	<div id="head_spacer"></div>
</div>
<!--End Site Logo-->

