<div class="page_column_4 last rounded_corners">
  <h2 id="what_happens_after_i_buy">¿Qu&eacute; pasa despu&eacute;s de que compre la oferta semanal?</h2>
  <p>Depu&eacute;s de hacer su compra, recibir&aacute; su vale para canjear la oferta semanal en el correo electr&oacute;nico que nos proporcion&oacute;. </p>
  <p>Impr&iacute;ma el vale y ll&eacute;velo a la tienda o negocio de la oferta semanal antes de la fecha de caducidad…¡Y disfrute su descuento!</p>
  <br/>
  <h2 id="will_my_payment_be_safe">¿Mi compra es segura?</h2>
  <p>Sí, su compra ser&aacute; procesada y cifrada a trav&eacute;s de un certificado SSL que asegura que nadie m&aacute;s obtendr&aacute; la informaci&oacute;n personal o de su tarjeta de cr&eacute;dito.  Nosotros no guardamos su informaci&oacute;n en nuestra base de datos.</p>  
</div>
