<div id="banner">
	<%= raw render :partial => with_theme("daily_deals/stations") %>

	<div class="clear"></div>
	<%= raw render :partial => with_theme("shared/account_nav") %>

	<div class="clear"></div>
	<%= raw render :partial => with_theme("shared/subscribe_form") %>
	<div class="clear"></div>
	</div><!--banner-->   
