<div class="consumer_transition">
  <span>We've upgraded!</span> To reset your password, please click <%= link_to("here", consumer_password_reset_path_or_url(@publisher)) %>.<br/> For Customer Service assistant, please click <%= link_to("here", contact_publisher_daily_deals_path(@publisher)) %> and we would be glad to help!
</div>
