<div id="flash">
  <div class="warn" id="flash_warn" style="display: <%= flash[:warn].present? ? "visible" : "none" %>;">
    <%= flash[:warn] %>
  </div>
  <div class="notice" id="flash_notice" style="display: <%= flash[:notice].present? ? "visible" : "none" %>;">
    <%= flash[:notice] %>
  </div>
</div>
