<%= render :partial => with_theme('shared/subscribe') %>
<header class="main">
	<div class="header_content">
		<%= render :partial => with_theme('shared/logo_marketmenu') %>
        <%= render :partial => with_theme('shared/account_nav') %>
		<%= render :partial => with_theme('shared/dd_nav') %>
		<div class="clear"></div>
	</div>
</header>