<div id="deal_info" class="container top wide">
		<div class="rightcol_wide">
			<div class="content">
    		<% set_daily_deal_page_title_slug "Contact" %>

				<h1 id="value_proposition">Thank You</h1>
				<p>
				  Thanks for contacting us. A member of our team will contact you
				  shortly.
				</p>

	  
			</div>
		</div><!--END rightcol-->
	<div class="leftcol">
		<div class="content"></div>
	</div><!--END leftcol-->
</div><!--END deal_info-->