<div id="CommonTopNav">
  <ul class="HorizontalList FloatLeft">
    <li><a href="http://www.kesq.com/cbs/" target="_blank">HOME</a></li>
    <li><a href="http://www.kesq.com/cbs/" target="_blank">NEWS</a></li>
    <li><a href="http://www.kesq.com/cbs-sports/" target="_blank">SPORTS</a></li>
    <li><a href="http://www.kesq.com/cbs-weather/" target="_blank">WEATHER</a></li>
    <li><a href="http://www.kesq.com/cbs-eyeonthedesert/" target="_blank">EYE ON THE DESERT</a></li>
    <li><a href="http://www.kesq.com/cbs-video/" target="_blank">VIDEOS</a></li>
    <li><a href="http://www.kesq.com/cbs/" target="_blank">THIS MORNING</a></li>
    <li><a href="http://www.kesq.com/cbs/" target="_blank">CONTESTS</a></li>
  </ul>
  </div>
  <a href="http://www.kesq.com/cbs/index.html" target="_blank"><img src="/themes/cbslocal2/images/cbslocal2-deal-of-the-day-logo.jpg" alt="Cbs local 2 Deal of the Day"/></a>
  <div style="clear:both"></div>