<div id="sign_up_box">
	<div class="landing_logo">
		<h1>Sign Up for</h1>
	</div>
	<div class="clear"></div>
	<div class="market_not_found">
		<p>Sorry, we hope to be in your area shortly and will email you as soon as we are.  In the meantime, we’ll get you in on our great national deals.</p>
		<p>Traveling plans? Check out deals in some of our most popular cities below.</p>
		<ul>
			<li><a href="/publishers/entertainmentdetroit/deal-of-the-day">Detroit</a></li>
			<li><a href="/publishers/entertainmentphoenixeast/deal-of-the-day">Phoenix</a></li>
			<li class="last"><a href="/publishers/entertainmentcolumbus/deal-of-the-day">Columbus</a></li>
			<li><a href="/publishers/entertainmentlosangelesnorth/deal-of-the-day">Los Angeles</a></li>
			<li><a href="/publishers/entertainmentorlando/deal-of-the-day">Orlando</a></li>
			<li class="last"><a href="/publishers/entertainmentdallas/deal-of-the-day">Dallas</a></li>
		</ul>
	</div>
<div class="clear"></div>
</div>
