<table border="0" cellspacing="0">
  <tr>
    <th>Publisher</th>
    <th>Today's Deals</th>
    <th></th>
  </tr>
  <%= render :partial => "daily_deal_schedules/publisher", :collection => @publishers.sort_by(&:name) %>
</table>
