{% set_daily_deal_page_title_slug "Thank you for signing up!" %}

<div id="deal_content">
	<div class="info_box one_column">
		<div class="thank_you">
		 <p>Thank you for signing up for the deal. It's Coming Soon!</p>
		</div>
	</div>
</div><!-- /deal_content -->

<div class="clear"></div>
<div id="footer" class="preopt">
	<img src="/themes/novadog/images/backgrounds/preopt_contact.png" height="83" width="969" alt="Do you want to feature your business or suggest a deal? Or just have questions? Email wooftastic@novadogmagazine.com" />
	<p class="analog_logo"><a href="http://www.analoganalytics.com/" id="analog_analytics_logo"><img alt="Powered_by_analog_analytics" src="/images/powered_by_analog_analytics.png" /></a></p>
</div><!-- /footer -->
<div class="clear"></div>
