    <!-- footer start -->
    <div id="footer">

      <!-- info section start -->
      <div class="wrap">
        <span class="label"></span>
        <div class="info">
          <div class="col col-toolbar">
            <h4>
            <span>e</span>deals Toolbar
            </h4>
            <img src="http://www.edeals.com/images/site_ico_download.png" alt="#" class="ico" />
            <p>
              Deals &amp; coupon alerts
              <br>
              on your browser
            </p>

            <a href="http://www.edeals.com/toolbars" class="button">Download Now</a>
          </div>
          <div class="col col-alerts">
            <h4>
            <span>e</span>deals Alerts
            </h4>
            <img src="http://www.edeals.com/images/site_ico_lighter.png" alt="#" class="ico" />
            <p>
              Never miss a deals again,
              <br>
              alerts straight to your mail
            </p>

            <a href="http://www.edeals.com" class="button">Signup Now</a>
          </div>
          <div class="col col-socials">
            <h4>
            Keep track of
            <span>e</span>deals on...
            </h4>
            <ul class="socials">
              <li class="first">
                <img src="http://www.edeals.com/images/site_ico_facebook.png" alt="Facebook" />

                <a href="http://www.facebook.com/shopedeals">Facebook</a>
              </li>
              <li>
                <img src="http://www.edeals.com/images/site_ico_blogger.png" alt="Blogger" />
                <a href="http://www.edeals.com/blog/">Blogger</a>
              </li>
            </ul>
            <ul class="socials">

              <li class="first">
                <img src="http://www.edeals.com/images/site_ico_twitter.png" alt="Twitter" />
                <a href="http://www.twitter.com/getedeals">Twitter</a>
              </li>
              <li>
                <img src="http://www.edeals.com/images/site_ico_delicious.png" alt="Delicious" />
                <a href="http://www.delicious.com/save">Delicious</a>
              </li>

            </ul>
          </div>
        </div>
      </div>
      <!-- info section start -->
      <!-- footer_menu start -->
      <div class="footer-menu">
        <div class="copy">
          &copy; 2011 eDeals.com, Inc
        </div>

        <ul>
          <li>
            <a href="http://www.edeals.com/privacy">Privacy Policy</a>
          </li>
          <li>
            <a href="http://www.edeals.com/terms">Terms &amp; Conditions</a>
          </li>
          <li>
            <a href="http://www.edeals.com/site-map">Site Map</a>
          </li>
          <li>
            <a href="http://www.edeals.com/howitworks">Edeals FAQ</a>
          </li>
          <li>
            <a href="http://www.edeals.com/aboutus">About Us</a>
          </li>

          <li>
            <a href="http://www.edeals.com/contactus">Contact Us</a>
          </li>
          <li>
            <a href="http://www.edeals.com/travel">Edeals Travel</a>
          </li>
          <li>
            <a href="http://www.edeals.com/feeds/rssNew-coupons.xml">RSS Feed</a>
            <a href="http://www.edeals.com/feeds/rssNew-coupons.xml" class="rss">
            <img src="http://www.edeals.com/images/icon_rssfeed.png" alt="rss feed"/>
            </a>
          </li>
        </ul>
      </div>
      <!-- footer_menu end -->

    </div>
    <!-- footer end -->
</div>
