      <div id="header">
        <div class="header_top">
          <div class="logo">
            <div id="logo" style="background: url('http://www.edeals.com/images/logo/logo.png') no-repeat;">
              <a href="http://www.edeals.com/">
              <span>Edeals.com</span>
              </a>
            </div>

          </div>
          <div class="menu-count">
            <div class="top_menu">
              <div class="wrapt_left">
              </div>
              <div class="wrapt_center">
                <ul>
                  <li>
                    <a href="http://edeals.pricegrabber.com/">Compare Prices</a>
                  </li>
                  <li>
                    <a href="http://rover.ebay.com/rover/1/711-53200-19255-0/1?icep_ff3=1&pub=5574814968&toolid=10001&campid=5336262135&customid=&ipn=psmain&icep_vectorid=229466&kwid=902099&mtid=824&kw=lg" target="_blank" rel="nofollow">Auctions</a>
                  </li>

                  <li>
                    <a href="http://www.edeals.com/travel/">Travel</a>
                  </li>
                  <li>
                    <a href="http://www.edeals.com/blog/">Blog</a>
                  </li>
                  <li class="last">
                    <a href="javascript:addBookmark('Free Online Coupons & Coupon Codes | Promotional Offers | Printable Coupons | Grocery Coupons | Travel Discounts - Edeals.com', window.location.href)" class="last">Bookmark Us!</a>
                  </li>
                </ul>
              </div>
              <div class="wrapt_right">
              </div>
            </div>

            <div class="clear">
            </div>
            <div class="count count_more">
              
            </div>
          </div>

        </div>

        <!-- -->
        <div class="header_center">
          <div class="wrap">
            <ul class="main-nav">

              <li>
                <a href="http://www.edeals.com/online-coupons" class="coupons-type">
                <span>Online Coupons</span>
                </a>
              </li>
              <li>
                <a href="http://www.edeals.com/product-deals/" class="product-deals">
                <span>Product Deals</span>
                </a>
              </li>
              <li>
                <a href="http://www.edeals.com/local/" class="localcoupons">
                <span>Local Coupons</span>
                </a>
              </li>

              <li>
                <a href="http://www.edeals.com/travel/" class="travel-deals">
                <span>Travel Deals</span>
                </a>
              </li>

              <li class="active">
                <a href="http://www.edeals.com/dailydeals/" class="daily-deals-link">
                <span>Daily Deals</span>
                </a>
              </li>
              <li>
                <a href="http://www.edeals.com/all-stores" class="stores-link">
                <span>Stores</span>
                </a>
              </li>
            </ul>
            <div class="main-search-box">
              <div class="inner">
                <div class="search_wrapt">

                  <form name="search" action="http://www.edeals.com/search/" method="get">
                    <div class="wraptinput">
                      <input type="text" name="q" id="q" class="q text-input" value="Find Coupons, Codes, Deals, and Stores..." onclick="if(this.value=='Find Coupons, Codes, Deals, and Stores...') this.value='';if(this.value!='Find Coupons, Codes, Deals, and Stores...') chenge();" onblur="if(this.value=='') this.value='Find Coupons, Codes, Deals, and Stores...'; if(this.value=='Find Coupons, Codes, Deals, and Stores...') remove();" />
                      <div class="mainsearch">

                      </div>
                    </div>
                    <div class="search_button">

                      <a href="http://www.edeals.com/search/" onclick="if(document.search.q.value != 'Find Coupons, Codes, Deals, and Stores...') document.search.submit();return false;"></a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="breadcrumbs_box">
            <div class="c">

              <div class="breadcrumbs">
                <a class="linkmenu" href="http://www.edeals.com/">Home</a><b></b> <span class="deals">Daily Deals</span> 
              </div>
            </div>
            <div class="b">
            </div>
          </div>
        </div>
      </div>
<!-- header end -->


<div id="analog_analytics">
	<div id="daily_deal">
		
    	{% include "shared/flash" %}
		 
		<div id="page_content">
      		{% include with_theme "layouts/shared/tabs" %}	
      		<div class="clear"></div>	
		</div><!--page_content-->
		
		{% include "shared/a_a_alt" %}
		
	</div><!--daily_deal-->
</div><!--analog_analytics-->
{% include with_theme "layouts/shared/footer" %}
