<div id="about_twc" class="lightbox_popup">

<h1>About Time Warner Cable Inc.</h1>
<p>Time Warner Cable Inc. is the second-largest cable company in the U.S., delivering products and service to over 14 million consumers. We're all about connecting people and businesses with information, entertainment and each other. That's why we bring you the latest innovations for your home - from high-definition television to Enhanced TV features to high-speed data and Digital Phone services. We also believe in the power of community, which we show through our signature education programs, countless hours of volunteerism and by contributing cash and in-kind support to benefit the communities where we operate.</p>
<% if params[:layout] == "popup" -%>
  <a href="#" class="lbAction" rel="deactivate"><span>Close</span></a>
<% end -%>
</div>