<div id="privacy_policy_twc" class="lightbox_popup">

<h3><strong>ClickedIn.com Privacy Policy</strong></h3>
<p>
  <strong>Welcome to Time Warner Cable's ClickedIn Privacy Policy</strong> </p>
<p>
  Thank you for visiting ClickedIn.com, a service of Time Warner Cable Inc.&nbsp; This website allows you to purchase group promotions at discounted prices for redemption at participating merchants near you.&nbsp; We call these promotions &ldquo;Deals.&rdquo;&nbsp; It also may allow you to access coupons that can be used at merchants near you (&ldquo;Coupons&rdquo;), to find out about events you may be interested in at venues near you (&ldquo;Promotions&rdquo;) and to enter sweepstakes and contests.
  We gather information about our users when they interact with www.clickedin.com and its subdomains, including the Deals, Coupons, Promotions, contests and sweepstakes that are located on our website.&nbsp; The information we collect about you is used to administer and improve our website and the Deals, Coupons, Promotions, contests and sweepstakes offered via our website, as further described below.&nbsp; 
</p>
<p><strong>What Does This Privacy Policy Cover?</strong>
</p>
<p>This Privacy Policy (the &quot;Privacy Policy&quot;) applies to your use of the ClickedIn.com website. This Privacy Policy does not govern Time Warner Cable's treatment of information it collects and receives about you otherwise, for example in connection with any other web site or services provided to you by Time Warner Cable. A privacy notice relating to Time Warner Cable&rsquo;s subscription services is located at http://help.twcable.com/html/policies.html.&nbsp; Nor does this Privacy Policy cover information about you that is gathered by the merchants that provide Deals, Coupons or Promotions through ClickedIn, or by the third party web sites that you may be able to link to from our website.&nbsp; If you choose to take advantage of these offerings or links, you should read the privacy policies of those merchants and other third parties (we may share your information with the participating merchant, as further described below).
</p>
<p><strong>What Information Do We Collect About You And How Do We Use It?</strong>
  <strong>Personal Information</strong></p>
<p>
  Visitors to the website or users of ClickedIn that decide to register or login in order to request a more personalized website experience or accept any of the Deals or other offerings may be asked to enter certain types of personally identifiable information that will allow us to provide those offerings to the visitor. The types of personally identifiable information that may be collected include: name, postal address, e-mail address and phone number; short message service or text message address or other wireless device address; instant messaging address; credit card or other payment information; demographic information and/or other information that may identify you as an individual or allow online or offline contact with you as an individual.
  We may use your personally identifiable information for internal purposes related to any Time Warner Cable service or product and to send you notices (for example, in the form of e-mails, text messages, mailings, and the like), and otherwise correspond with you, about products, services, companies and events, sponsored by us and others, that we think might interest you.
</p>
<p><strong>Website Usage Information</strong>
  </p>
<p>We receive and store certain types of website usage information whenever you interact with our website. Here are the types of website usage information we gather and how it is used:
</p>
<p><strong>Usage Data</strong></p>
<p>
  The information learned from ClickedIn&rsquo;s users will help us provide an enhanced experience. We track certain information about users (as further described below), including, but not limited to, the type of browser being used by the visitor (e.g., Firefox, Internet Explorer, etc.), the type of operating system (e.g., Apple Mac OS X, Windows XP, Mobile and Tablet OSs, etc.) in use by the visitor and the domain name of the visitor's Internet service provider (e.g., Road Runner).&nbsp; By having this information, web pages optimized for a particular visitor's preferences are automatically made available to that visitor.&nbsp; Other uses of this information may include reviewing the number of visitors to this website as well other internal and administrative purposes. 
  </p>
<p><strong>Cookies</strong> </p>
<p>
  We may use &quot;cookies&quot; to keep, and sometimes track, information about you. Cookies are small data files that are sent to your browser or related software from a web server and stored on your computer's hard drive. Cookies track where you travel on our website and what you look at and purchase. They may store, for example, the information in your shopping cart, and/or your username and/or password.&nbsp; We use cookies to improve, personalize and analyze use of the website and improve its quality and desirability.&nbsp; Most Web browsers can be set to inform you when a cookie has been sent to you and provide you with the opportunity to refuse that cookie. Additionally, if you have a Flash player installed on your computer, your Flash player can be set to reject or delete Flash cookies (technically known as Flash &quot;local shared objects&quot;). However, refusing a cookie may, in some cases, preclude you from using, or negatively impact the display or function of, the website or certain areas or features of the website.
  </p>
<p><strong>Clear GIFs</strong> </p>
<p>
  We may use &quot;Clear GIFs&quot; (aka &quot;web beacons&quot; or &quot;pixel tags&quot;) or similar technologies, in the website and/or in our communications with you, for example, to enable us to know whether you have visited a web page or received a message. A Clear GIF is typically a one-pixel, transparent image (although it can be a visible image as well), located on a Web page or in an e-mail or other type of message, which is retrieved from a remote site on the Internet enabling the verification of an individual's viewing or receipt of a web page or message.
</p>
<p><strong>IP Address and Clickstream Data</strong> </p>
<p>
  Our server automatically collects data about your server's Internet address when you visit us. This information, known as an Internet Protocol address, or IP Address, is a number that's automatically assigned to your computer by your Internet service provider (i.e., if you are using your Road Runner account, us) whenever you're on the Internet. When you request pages from our website, our servers may log your IP Address and sometimes your domain name. Our server may also record the referring page that linked you to us (e.g., another site or a search engine); the pages you visit on this website; the site you visit after this website; the ads you see and/or click on; other information about the type of web browser, computer, platform, related software and settings you are using; any search terms you have entered on this website or a referral site; and other Web usage activity and data logged by our Web servers. We use this information for internal system administration, to help diagnose problems with our server, to localize the website and to administer our website.&nbsp; Such information may also be used to gather broad demographic information, such as country of origin, general localization and Internet Service Provider.
  Ads and content displayed to you on the site may be customized to your interests and preferences, based on your personal information and website usage information, including (but not limited to) non-personally identifying information, which we may obtain from you or from other sources.
  Any or all of the above activities with regard to website usage information may be performed on our behalf by our services providers.
  </p>
<p><strong>Short Message Service</strong> </p>
<p>
  We may make available a service through which you can receive messages on your wireless device via short message service (&quot;SMS Service&quot;). If you request to receive SMS Services or send us an SMS message, you thereby agree to receive SMS Service messages at the address you provide for such purposes from us.
  Your wireless carrier's standard rates apply to these messages, and you may change your mind at any time by following the instructions on the site or in the message you receive. You represent that you are the owner or authorized user of the wireless device you use to sign up for the SMS Service, and that you are authorized to approve the applicable charges. To use the SMS Service, you must be 18 years of age or older and reside in the United States. You must first register and provide all required personal information, which may include, for example, your name, SMS address, wireless carrier and, if fees are applicable to the SMS Service you subscribe to, billing information (either your credit card information or mobile service carrier information if applicable fees will be billed through your carrier). We may also obtain the date, time and content of your messages in the course of your use of the SMS Service. We will use the information we obtain in connection with our SMS Service in accordance with this Privacy Policy. If fees are charged to your wireless account invoice, we may provide your carrier with your applicable information in connection therewith. Your wireless carrier and other service providers may also collect data about your wireless device usage, and their practices are governed by their own policies.
  You acknowledge and agree that the SMS Service is provided via wireless systems which use radios (and other means) to transmit communications over complex networks. We do not guarantee that your use of the SMS Service will be private or secure, and we are not liable to you for any lack of privacy or security you may experience. You are fully responsible for taking precautions and providing security measures best suited for your situation and intended use of the SMS Service. We may also access the content of your account and/or wireless account with your carrier for the purpose of identifying and resolving technical problems and/or service-related complaints.
  </p>
<p><strong>Third Party Applications</strong> </p>
<p>
  We may make third party applications or tools available for download by you from or through the website.&nbsp; The privacy policies of the third party provider(s) of such applications will apply to your use of such applications. However, these third party providers will not collect any personally identifiable information about you. <strong></strong>
  </p>
<p><strong>Do We Ever Share Information with Other Parties?</strong> </p>
<p>
  Disclosure of Information to Outside Parties:
  We will not disclose information about you to any other party except under the circumstances as described below, or as otherwise provided in this Privacy Policy or required or permitted by law:</p>
<ul type="disc">
  <li>If      you give us your consent, we may share your personally identifiable information      with third parties (such as co-sponsors of our sweepstakes, contests and      other offerings) pursuant to the terms of your consent.</li>
  <li>If      you purchase a Deal, we may share your personally identifiable information      with the merchant that is offering the Deal.&nbsp; </li>
  <li>We      may share your information with our affiliates, service providers and      other third parties that help to operate our business and this website and      deliver the products and services available on or through the website.</li>
  <li>When      you log on to this website or use ClickedIn through FaceBook or other      social media sites or using your password to these sites, information will      be disclosed to the social media company and, potentially, to your network      of friends or to the general public depending on the settings of your      social media company.</li>
  <li>When      you contribute to a &quot;public&quot; area or feature of our website,      such as a chat room, bulletin board, blog or other open forum that we may      make available on or through our website, the information that you submit      will be made available to other users. For this reason, we recommend that      you not submit any sensitive information on these areas of the site,      including your full name, home address, phone number, financial      information, or other information that would enable users to locate you.</li>
  <li>We      provide your information to trusted partners who work on our behalf or      with us under confidentiality agreements. However, these companies do not      have any independent right to share this information.</li>
  <li>When      we believe we should, we will respond to subpoenas, court orders, legal      process, and to establish or exercise our legal rights or defend against      legal claims.</li>
  <li>We      share information in order to investigate, prevent or take action      regarding illegal activities, suspected fraud, situations involving      potential threats to our property or the physical safety of any person,      violations of our terms of use or as otherwise allowed by law.</li>
  <li>In      the event that Time Warner Cable, or any affiliated entity, or      substantially all of its assets related to a particular geographical      region or service, are acquired by one or more third parties as a result      of an acquisition, merger, sale, reorganization, consolidation or      liquidation, user information may be one of the transferred assets.</li>
</ul>
<p><strong>Security</strong> </p>
<p>
  We will take steps to protect the security and integrity of all sensitive information provided to this website. However, due to the inherent nature of the Internet as an open global communications vehicle, we cannot guarantee that information, during transmission through the Internet or while stored on our system or otherwise in our care, will be safe from intrusion by others, such as hackers.
  You are responsible for maintaining the strict confidentiality of your account password, and you shall be responsible for any access to or use of the site by you or any person or entity using your password, whether or not such access or use has been authorized by or on behalf of you.
  In the event that we believe that the security of your personal information in our possession or control may have been compromised, we may seek to notify you of that development. If a notification is appropriate, we would endeavor to do so as promptly as possible under the circumstances, <strong>and, to the extent we have your e-mail address, we may notify you by e-mail</strong>.
  </p>
<p><strong>Changes to This Privacy Policy</strong></p>
<p>
  We will occasionally update this Privacy Policy at our sole discretion. Please check the website frequently to see recent changes. Such changes and/or modifications shall become effective immediately upon posting thereof. Without limiting the foregoing, we may occasionally notify you or request your consent by e-mail about changes to the website and/or this Privacy Policy, or provide notices of such changes by displaying notices or links to notices to you generally on the website.</p>
  <p>
  <strong>Contacting Us</strong> 
  If you have any questions regarding this Privacy Policy, or our privacy practices in connection with this website, you may contact us at <u>TWC.privacy@twcable.com</u>.</p>
<p>JANUARY 2012</p>
<% if params[:layout] == "popup" -%>
  <a href="#" class="lbAction" rel="deactivate"><span>Close</span></a>
<% end -%>
</div>