<div class="content">
	<div id="contact_left">
		<h2 class="first">Contact Us</h2>
		<p class="title">No problem, we’re here to help you!<br />
		Here are three ways to quickly get the help you need:</p>
		<h3>1. Check out our <a href="<%= how_it_works_publisher_daily_deals_path(@publisher) %>#faqs">Frequently Asked Questions.</a></h3>
		<p>We’re sure lots of you have the same types of questions regarding your Entertainment.com&reg; Deals&trade; and we’ve done our best to answer them.</p>
		<h3>2. Email us at <a href="mailto:<%= @publisher.support_email_address %>"><%= @publisher.support_email_address %>.</a></h3>
		<p>We look forward to hearing from you and assisting you in any way we can. Just send us a quick note detailing your question and we’ll get right back to you.</p>
		<h3>3. Call us at 866-499-0660.</a></h3>
		<p>Our Customer Service team is standing by to help. You can reach our team anytime between 9AM to 9PM EST, Monday through Friday.</p>
	</div>	
	<div id="contact_right"></div>
	<div class="clear"></div>
</div>
<div id="large_shadow"></div>
