<div class="content">
	<div id="get_featured">
		<div id="left_col">
			<h2 class="first">Get Featured</h2>
			<h3>What is Entertainment.com&reg; Deals&trade;?</h3>
			<p>It’s an exclusive daily offer promoted online to thousands of people actively looking for new things to do. For one day, the spotlight shines on one single featured business, generating a ton of buzz and new customers.</p>
			<h3>The Opportunity</h3>
			<ul>
				<li>Drive the right customer to your door.</li>
				<li>Get immediate cash flow.</li>
				<li>No upfront investment on your part.</li>
				<li>Know what works - Track the number of people who buy and redeem your offer.</li>
			</ul>	
			<h3>The Idea</h3>
			<ul>
				<li>Create a compelling offer.</li>
				<li>Exclusively promote the offer to customers who sign up to receive them every day.</li>
				<li>Customers must pay upfront to get the deal.</li>
				<li>Customers use social media to share the offer with friends and family</li>
			</ul>
			<h3>How can I get started?</h3>
			<p>Call 866.288.5775 to speak with an Account Representative or email us at <a href="mailto:merchantservices@entertainment.com">merchantservices@entertainment.com.</a></p>
			<p>We look forward to hearing from you!</p>
		</div><!--left_col -->
		<div id="right_col">
			<div id="top">
				<h4>Get Started Today!</h4>
				<h5>Call 866.288.5775</h5>
				<p>to speak with an Account Representative or email us 
				<p><a href="mailto:merchantservices@entertainment.com">merchantservices@entertainment.com.</a></p>
			</div><!--top-->
			<div id="bottom">
				<h6>The Entertainment Advantage&trade;</h6>
				<ul>
					<li><strong>We have experience</strong> – You benefit from our 50-year history of matching highly valued offers to high-value consumers.</li>
					<li><strong>We deliver an upscale family target audience</strong> – You reach an audience where 77% have a mean income above the national average, and 66% live in families with 2+ children.</li>
					<li><strong>We provide the best payment schedule in the industry</strong> – You receive 100% of your share of Entertainment.com&reg; Deal&trade; sales within 30 business days.</li>
					<li><strong>We don’t require a minimum number of sales to activate a deal.</strong> – Anyone who is interested in your deal will get it.</li>
					<li><strong>We give you flexibility in scheduling</strong> – You can have input in defining when your offer is featured.</li>
				</ul>
			</div><!--bottom-->
		</div><!--right_col -->
		<div class="clear"></div>
	</div><!--get_featured -->
	<div id="get_featured_bottom"></div>
</div>
<div id="large_shadow"></div>
