<div class="content">
	<div id="terms">
		<h2>Terms and Conditions</h2>
		
		<h4>Entertainment Publications, LLC (“EP”)<br />
		ACCEPTANCE OF TERMS AND CONDITIONS</h4>

		<p>By using this Website you ("you" or the "End User") agree to the terms and conditions and Entertainment's <%= daily_deals_privacy_link(@publisher) %>, <a href="<%= how_it_works_publisher_daily_deals_path(@publisher) %>#refund_policy">Refund Policy</a> and <a href="<%= legal_publisher_daily_deals_path(@publisher) %>">Legal Notices</a> which are hereby incorporated by reference that govern the Program and Website ("Terms and Conditions"). Please review the following Terms and Conditions carefully. If you do not wish to agree to these Terms and Conditions please refrain from using the Program or Website.</p>

		<p>PROGRAM DESCRIPTION and RULES OF USE</p>
		
		<ol>
			<li><strong>OVERVIEW.</strong> The Entertainment.com&reg; Deals&trade; program ("Program") is offered to consumers as a discount and promotion program. Subject to these Terms and Conditions, you may purchase discount offers ("Deal(s)") from participating third party merchants via <a href="http://deals.entertainment.com">http://deals.entertainment.com</a> ("Website"). The Program and Website may be revised or terminated without notice. If the Program is terminated, you may have a limited period of time from the termination date to print your Deals. All Deals are subject to rules of use, availability and may change without notice or liability. These Terms and Conditions may be continuously updated and are subject to change without notice.</li>

		<li><strong>MY ACCOUNT.</strong> Registration of your account ("Account") and an email address is required. By registering for an Account you consent to provide information creating a customer profile which includes consent to receive emails with information regarding your account and purchase activity. You may opt out of receiving promotional commercial emails. A credit/debit card is not required at registration, but is required for purchase. A record of your activity in the Program, including the Deals obtained and payment information will available. You affirm that you are 18 or older to make a purchase from this site. You consent to be bound by all the Terms and Conditions when using the Program or Website or making a purchase. You further consent to abide by the rules of use for a Deal. While signed in to your Account you are solely responsible for any activity that occurs on your Account including any accidental purchases.</li>
		

		<li><strong>PURCHASE.</strong> You must signify agreement to these Terms and Conditions (as they may be modified from time to time) when you print Deals from the Website. Deals are available for one time use only and are tracked via a unique ID number. Duplication of Deals is prohibited and violators will be pursued to the fullest extent of the law. EP is not responsible for lost or stolen Deals.</li>
		

		<li><strong>EXPIRATION.</strong> Deals have two separate values: (a) the amount paid and (b) the promotional value. The promotional value is the additional value beyond the amount paid.
		  			<ul><li>The promotional value will EXPIRE on the date specified in the offer, unless prohibited by law. The amount paid WILL NOT EXPIRE unless stated by law. Promotional value can’t be combined with other offers</li>
		      	<li>Deals for Events/Tickets are only redeemable with the issuing merchant and/or venue, for the goods, services, and/or event identified on the voucher</li>
		       	<li>Please refer to the Deal Additional Conditions printed on your Deal</ul></li>
						

		<li><strong>DEAL TERMS.</strong> Read the Deal carefully for stated conditions, restrictions and exclusions. All Deals are valid anytime unless stated otherwise. Deals may be restricted to one offer per party. Additional conditions and applicable state laws may supersede other Rules of Use.</li>
		

		<li><strong>DEAL REDEMPTION.</strong> To redeem a purchased Deal, print and present to merchant at the participating location(s) before your order is placed or purchase is made. The merchant will retain your Deal as proof of redemption. Deals may not be used to pay other Merchant balances or charges. No refunds will be provided for any unused portion of the Deal. The value of the Deal is not reloadable. The Deal is not a gift card or credit/debit card and it has no cash value (unless required by law). The Deal is non-transferable. Each Deal may be subject to different rules of use set forth with the promotion.</li>
		

		<li><strong>OFFER.</strong> Deals may only be redeemed once. Free offers or complimentary items, may require the purchase of other goods or services to qualify for the free offer. Deals are subject to availability and may change without notice. Merchant participation may vary by location. Check back frequently as offers can change daily. This Program is for promotional use only; aftermarket sale shall void the Deal completely.</li>
		

		<li><strong>VALIDITY.</strong> THIS Deal IS NOT VALID WHERE PROHIBITED BY LAW.</li>
		

		<li><strong>FRAUD/ABUSE.</strong> All Deal activity is monitored. Accounts showing signs of fraud, abuse or suspicious activity, will be suspended or closed immediately without prior notice. Fraudulent activity may result in legal action, confiscation of related Deals, liability for monetary losses, including litigation costs and damages, and prohibition from future Program participation. If it is determined you have been the victim of a fraud, your Deals will be transferred into a new Account.</li>
		

		<li><strong>CANCELLATION.</strong> Printed Deals cannot be cancelled or changed, and are non-refundable</li>
		

		<li><strong>TIPPING.</strong> Tipping for satisfactory service should be calculated from the total bill before the discount amount is subtracted. In some instances gratuity may automatically be calculated by the merchant as referenced as a Deal Term.</li>
		

		<li><strong>EXCLUSIONS.</strong> Offers may not be used in conjunction with any other discount or awards program/offer. Discounts exclude tax, tip and/or alcohol, and sale items where applicable.</li>
	</div>
</div>
<div id="large_shadow"></div>