<div class="consumer_transition">
  <span>We've upgraded!</span> To reset your password, please click <%= link_to("here", consumer_password_reset_path_or_url(@publisher)) %>.<br/> Please let us know if you need assistance by using <%= link_to("this form", "http://www.myjumponit.com/contact.html") %> and we would be glad to help!
</div>
