<% unless @publisher.facebook_page_url.blank? %>
<!-- ran into an issue with dynamically sizing likebox, so I set the first one to dispay none to get around the issue -->
	<div id="facebook_wrapper" style="display:none;">
		<h4>Find us on Facebook</h4>
		<div class="content_box facebook_likebox">
			<iframe src="http://www.facebook.com/plugins/likebox.php?href=<%= CGI::escape(@publisher.facebook_page_url) %>&amp;width=230&amp;colorscheme=light&amp;show_faces=true&amp;border_color=white&amp; stream=false&amp;header=false&amp;height=270" scrolling="no" frameborder="0" style="border:none;overflow:hidden; width:230px;height:270px;" allowTransparency="true"></iframe>
		</div>
	</div>

<!-- ** this is the real like box html ** -->	
	<div id="facebook_wrapper">
		<h4>Find us on Facebook</h4>
		<div class="content_box facebook_likebox">
			<iframe src="//www.facebook.com/plugins/likebox.php?href=<%= CGI::escape(@publisher.facebook_page_url) %>&amp;width=680&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;border_color=white&amp;stream=false&amp;header=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:98%; height:258px;" allowTransparency="true"></iframe>
		</div><!-- /facebook like box -->
	</div>
<% end %>

