<ul id="nav_small">
	<li><a href="http://www.myjumponit.com">Home</a></li>
         <li><a href="http://myjumponit.com/business.html">Businesses</a></li>
	<li><a href="<%= faqs_publisher_daily_deals_path(@publisher) %>">Faq</a></li>
         <li><a href="http://myjumponit.com/contact.html">Contact</a></li>
	<li><a href="http://www.vermontopia.com">Vermontopia.com</a></li>
</ul>			
