<!--FOOTER-->
<div id="footer">
	<div>
        <ul>
        	<li>Savings</li>
        	<li><a href="http://deal.coolsavings.com/" title="CoolDeals">CoolDeals</a></li>
            <li><a href="http://www.coolsavings.com/deals" title="Deals">Deals</a></li>
            <li><a href="http://www.coolsavings.com/free-stuff" title="Free Stuff">Free Stuff</a></li>
            <li><a href="http://www.coolsavings.com/coupons/grocery-coupons" title="Grocery Coupons">Grocery Coupons</a></li>
            <li><a href="http://www.coolsavings.com/coupons/online-coupons" title="Online Coupons">Online Coupons</a></li>
            <li><a href="http://coolsavings.pricegrabber.com/" title="Compare Prices">Compare Prices</a></li>
            <li><a href="http://groceryguide.com/coolsavings/" title="Recipes">Recipes</a></li>
            <li><a href="http://savingscommunity.coolsavings.com/" title="CoolSavings Community">Community</a></li>
        </ul>
    </div>
    <div>
        <ul>
            <li>Savings Tips</li>
        	<li><a href="http://www.coolsavings.com/green-savings" title="Green Savings">Green Savings</a></li>
            <li><a href="http://www.coolsavings.com/categories/health-beauty-fitness/save-on-prescriptions" title="Save on Prescriptions">Save on Prescriptions</a></li>
            <li><a href="http://www.coolsavings.com/target-best-deals-list" title="Target Best Deals List">Target Best Deals List</a></li>
            <li><a href="http://www.coolsavings.com/categories/travel-leisure/great-gas-saving-tips" title="Great Gas-Saving Tips">Great Gas-Saving Tips</a></li>
        </ul>
    </div>
    <div>
        <ul>
        	<li>Account Info</li>
        	<li><a href="http://www.coolsavings.com/account" title="My Account">My Account</a></li>
            <li><a href="http://www.coolsavings.com/terms" title="Terms and Conditions">Terms and Conditions</a></li>
            <li><a href="http://www.coolsavings.com/update-preferences" title="Email Preferences">Email Preferences</a></li> 
            <li><a href="http://reg.coolsavings.com/info.htm?tp=faq&promo_name=2620name&catalog_id=14078" title="FAQ">FAQ</a></li>
            <li><a href="http://reg.coolsavings.com/info.htm?tp=con&promo_name=&catalog_id=14078" title="Contact CoolSavings">Contact Us</a></li>
        </ul>
    </div>
    <div>
        <ul>
        	<li>About CoolSavings</li>
        	<li><a href="http://www.coolsavings.com/about-us" title="About Us">About Us</a></li>
            <li><span title="http://www.qinteractive.com/news.php" class="targetPopup" title="Q Interactive News">Q Interactive News</span></li>
            <li><a href="http://www.coolsavings.com/privacy-policy" title="Privacy Policy">Privacy Policy</a></li>
            <li><a href="http://www.coolsavings.com/caprivacy" title="Your California Privacy Rights">Your California Privacy Rights</a></li>
            <li><span title="http://www.qinteractive.com/careers.php" class="targetPopup" title="Jobs">Jobs</span></li>
            <li><span title="http://www.qinteractive.com/contact.php" class="targetPopup" title="Advertise or Partner with CoolSavings">Advertise or Partner with CoolSavings</span></li>
            <li><a href="http://www.coolsavings.com/sitemap" title="Site Map">Site Map</a></li>
        </ul>
    </div>
    <div>
        <a href="http://www.coolsavings.com/index" id="footerLogo" title="CoolSavings.com"></a>
        <p><a href="http://www.facebook.com/CoolSavings" title="Like CoolSavings on Facebook!">Find us on Facebook</a> | <a href="http://twitter.com/coolsavings" title="Follow CoolSavings on Twitter!">Twitter</a> | <a href="http://www.youtube.com/user/CoolSavingsChannel" title="Subscribe to the CoolSavings channel on YouTube!">YouTube</a></p>
        <iframe src="http://www.coolsavings.com/business-seals" width="255" height="60" frameborder="0" scrolling="no" style="margin-left:-10px;"></iframe>
    </div>
</div>
<!--/FOOTER-->