<div id="banner">
	<a href="<%= public_deal_of_day_path(@publisher.label) %>"><img class="suburban-deals-logo" src="/themes/suburbandeals/images/backgrounds/suburban-deals-logo.png" alt="Suburban Deals. Get the best daily deals with a new deal every single day!"/></a> 
	<div id="right">
		<%= raw render :partial => with_theme("shared/account_nav") %>
		<%= raw render :partial => with_theme("shared/subscribe_form") %>
	</div>
</div><!--banner-->   