<div class="page_row">

  <div class="page_column_12 first rounded_corners">
    		<% set_daily_deal_page_title_slug t(:feature_your_business) %>

			<h1 id="value_proposition">Thank You</h1>
			<p>
			  Thanks for contacting us. A member of our team will contact you
			  shortly.
			</p>


	</div>
</div><!--END rightcol-->
