<div id="signupbox">
	<div id="content">
		<h3><strong>Congrats… You're in!</h3>
		<p class="center tall">You'll begin receiving <%= @publisher.market_name_or_city %>'s Nightly Deals email alerts soon! </p>
		<div class="clear"></div>
	</div>
</div>