<div class="box sponsors"><!--SPONSORS BOX-->
	<h4>DEALS BROUGHT TO YOU BY</h4>
	<div id="sponsorlogos">
		<ul>
			<li><a href="http://www.channel3000.com/index.html"><img src="/themes/morganmurphymediamadison/images/sponsors/channel3000.png" alt="Channel 3000.com"/></a></li>
			<li><a href="http://www.channel3000.com/wisctv/index.html"><img src="/themes/morganmurphymediamadison/images/sponsors/wisctv3.png" alt="WISC-TV 3"/></a></li>
			<li><a href="http://www.channel3000.com/tvw/index.html"><img src="/themes/morganmurphymediamadison/images/sponsors/tvw.png" alt="TVW"/></a></li>
			<li><a href="http://www.madisonmagazine.com/"><img src="/themes/morganmurphymediamadison/images/sponsors/madisonmagazine.png" alt="Madison Magazine"/></a></li>
		</ul>
	</div>
</div><!--/SPONSORS BOX-->