<div id="station_logos">  
  <a href="http://www.wwlp.com" target="_blank"><img src="/themes/savenow-westernmass/images/stations/MassAppeal.png" height="60" alt="massappeal" /></a>
  <a href="http://www.wwlp.com" target="_blank"><img src="/themes/savenow-westernmass/images/stations/wfy22news.png" height="60" alt="22 NEWS WFY" /></a>
  
</div>
