<div class="page_column_12 first">
<h1>HOW IT WORKS</h1>

<h4>CLICK AND BUY</h4>
<p>We'll announce a new deal weekly that is 50-90% off of regular prices at restaurants, spas, events and more.</p>

<h4>SHARE</h4>
<p>When you find an offer you like, share it with your friends using our Facebook, Twitter or email links.</p>

<h4>PRINT</h4>
<p>After you make a purchase, you'll receive the Deal voucher to print out via email.</p>

<p>Take the Deal to the store or merchant any time before the expiration date to enjoy the fruits of your labor.</p>

<p>Don't miss out! <a href="{{ publisher.presignup_consumers_url }}">Sign up</a> to receive an email every time we post a new deal.</p>

<p>Still have questions? <a href="{{ publisher.faq_path }}">Check out our FAQ page</a></p>

</div>