<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title>
      1010WINS.com - New York News, Weather, and Traffic
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="Keywords" content="New York News , New York Traffic , New York Weather , New Jersey News , Queens , Brooklyn , Manhattan , Westchester , Accuweather , Newsradio ,">
    <meta name="Description" content="New York News, Traffic, Weather, New Jersey News, Connecticut News, Local News, Breaking News">
    <script type="text/javascript" language="javascript">
<!--
    var trackDragDropAllow = '';
    var trackStatsAllow = 0;
    var trackDbStnUrl = "www.1010wins.com";
    var trackStnPageInfomation = "3608580-33-63372";

    var trackDemoGraphInfomation = '';
    var setOnClick = false; 
    var trackItunes = false;
    trackArray = new Array(); //this will build during diff box type
    ajaxArray = new Array();  //for to send multiple ajax request

    // Enable intra-domain cross-frame scripting to allow communication between (i)framed box types.
    try {
    document.domain = 'www.1010wins.com';
    }
    catch (exc) {;}

    -->
    </script>
    <link rel="stylesheet" href="http://www.1010wins.com/pages/wins_alt.css" type="text/css">
    <link rel="icon" href="http://www.1010wins.com/favicon.ico" type="image/x-icon">
    <link rel="SHORTCUT ICON" href="http://www.1010wins.com/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="http://www.1010wins.com/pages/wins_navigation_2962.css">
    <link rel="stylesheet" type="text/css" href="http://www.1010wins.com/pages/css/3608580.css">
    <script type="text/javascript" language="javascript" src="http://www.1010wins.com/javascript/play_window.js">
</script>
  <%= render :partial => 'layouts/offers/standard/stylesheets_and_javascript' %>
  <%= render :partial => 'layouts/offers/standard/facebook_metadata' %>
    <meta http-equiv="Refresh" content="300">
    <style type="text/css">

    <!--

    .Dummy_Style { }

    Font {
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: normal;
    font-size: 8pt;
    color: #333333; 
    text-decoration: none;}


    Td {
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: normal;
    font-size: 8pt;
    color: #333333; 
    text-decoration: none;}


    Td a {
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bold;
    font-size: 8pt;
    color: #0000ff; 
    text-decoration: none;}

    a:hover {
    text-decoration: underline;}

    html>body .nav LI A {
    padding-left:9px;
    padding-right:5px;
    font-size:9pt;
    width:auto; 
    }

    body:nth-of-type(1) .nav LI A {
    padding-left:9px;
    font-size:9pt;}

    #apDiv1 {
    opacity:0.6;
    filter:alpha(opacity=60);
    position:absolute;
    width:1800;
    height:2800;
    z-index:998;
    left: 0;
    top: 0;
    background-color: #000066;
    overflow: visible;}

    #booma {
    position:absolute;
    width:100%;
    height:2800;
    z-index:999;
    left: 0;
    top: 0;
    text-align:center;}



    #zuma {
    text-align: center;
    padding: 10px;
    width:600px;
    height:400px;
    vertical-align: middle;
    margin-left:auto;
    margin-right:auto;
    margin-top: 200px;
    z-index:10001;
    top: 50px;
    background-color: #ffffff;
    border: solid 3px #0000FF;
    overflow: visible;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 14pt; 
    font-weight: bold; 
    color: #000000; 
    text-decoration: none}

    .alert_td {
    text-align: center;
    height:400px;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 12pt; 
    font-weight: bold; 
    color: #333333; 
    text-decoration: none}

    .alert_td font {
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 14pt; 
    font-weight: bold; 
    color: #000099; 
    text-decoration: none}


    -->

    </style>
    <style type="text/css">
<!--
    #wrap {
    height:1200px;
    padding: 0 20px;
    min-width: 500px;
    border: #cccccc; 
    border-style: solid; 
    border-top-width: 0px; 
    border-right-width: 0px; 
    border-bottom-width: 0px; 
    border-left-width: 3px;
    margin-left:2px}

    #right-column {
    padding: 0 0px;
    border: 0px;
    margin-right: -10px;

    }
    -->
    </style>
  <%= raw render :partial => "/shared/tracking_offers" %>
  </head>
  <body>
    <form>
      <input type="hidden" id="trackStnPageId" name="trackStnPageId" value="3608580">
    </form>
    <div class="Main_Tb" style="width: 990px">
      <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <!-- BEGIN COLUMN: #1 (stnPageColumnId #18505466)-->
          <td align="center" valign="top" class="Column_18505466_Td">
            <div id="resizeColumn18505466" style="width:245px;">
              <input type="hidden" id="trackStnPageInfo[]" name="trackStnPageInfo[]" value="18505466_51203181_10"> <!-- BEGIN BOX: HTML Box, stnBoxId #51203181 (boxTypeId #10), Cached: yes -->
              <table cellspacing="0" cellpadding="0" width="100%" border="0">
                <tr>
                  <td>
                    <div id="HTML">
                      <div id="Box_51203181_Outer_Div" class="Box_51203181_Outer_Div">
                        <div id="Box_51203181_Inner_Div" class="Box_51203181_Inner_Div">
                          <script type="text/javascript" language="javascript">
<!--

                          function loadHeadFile(filename, filetype){
                          if (filetype=="js"){ //if filename is a external JavaScript file
                          var fileref=document.createElement('script')
                          fileref.setAttribute("type","text/javascript")
                          fileref.setAttribute("src", filename)
                          }
                          else if (filetype=="css"){ //if filename is an external CSS file
                          var fileref=document.createElement("link")
                          fileref.setAttribute("rel", "stylesheet")
                          fileref.setAttribute("type", "text/css")
                          fileref.setAttribute("href", filename)
                          }
                          else if (filetype == "rss")
                          {
                          var fileref=document.createElement("link")
                          fileref.setAttribute("rel", "alternate")
                          fileref.setAttribute("type", "application/rss+xml")
                          fileref.setAttribute("href", filename)
                          }

                          if (typeof fileref!="undefined")
                          document.getElementsByTagName("head")[0].appendChild(fileref)
                          }

                          loadHeadFile("http://www.1010wins.com/pages/rss/fg-1341.rss", "rss")


                          -->
                          </script> <!-- begin ad tag (tile=1) -->
                          <script type="text/javascript">
//<![CDATA[
                          ord = window.ord || Math.floor(Math.random()*1E16);
                          document.write('<script type="text/javascript" src="http://ad.doubleclick.net/adj/cbsr.winsam/home;tile=1;sz=180x90;ord=' + ord + '?"><\/script>');
                          //]]>
                          </script> <noscript><a href="http://ad.doubleclick.net/jump/cbsr.winsam/home;tile=1;sz=180x90;ord=123456789?" target="_blank"><img src="http://ad.doubleclick.net/ad/cbsr.winsam/home;tile=1;sz=180x90;ord=123456789?" border="0" alt=""></a></noscript> <!-- end ad tag -->
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </table><!-- END BOX: HTML Box, stnBoxId #51203181 (boxTypeId #10), Cached: yes -->
            </div>
          </td><!-- END COLUMN: #1 (stnPageColumnId #18505466)-->
          <!-- BEGIN COLUMN: #2 (stnPageColumnId #18505467)-->
          <td align="center" valign="top" class="Column_18505467_Td">
            <div id="resizeColumn18505467" style="width:500px;">
              <input type="hidden" id="trackStnPageInfo[]" name="trackStnPageInfo[]" value="18505467_61759819_25"> <!-- BEGIN BOX: Image Box, stnBoxId #61759819 (boxTypeId #25), Cached: yes -->
              <table cellspacing="0" cellpadding="0" width="100%" border="0">
                <tr>
                  <td>
                    <div id="ImageBox">
                      <div id="Box_61759819_Outer_Div" class="Box_61759819_Outer_Div">
                        <div id="Box_61759819_Inner_Div" class="Box_61759819_Inner_Div">
                          <a href="http://www.1010wins.com" target="_parent"><img src="http://imgsrv.1010wins.com/image/DbLiteGraphic/201001/5875545.jpg?1263240204" width="487" height="73" border="0" alt=""></a>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </table><!-- END BOX: Image Box, stnBoxId #61759819 (boxTypeId #25), Cached: yes -->
              <input type="hidden" id="trackStnPageInfo[]" name="trackStnPageInfo[]" value="18505467_54410810_10"> <!-- BEGIN BOX: HTML Box, stnBoxId #54410810 (boxTypeId #10), Cached: yes -->
              <table cellspacing="0" cellpadding="0" width="100%" border="0">
                <tr>
                  <td>
                    <div id="HTML">
                      <div id="Box_54410810_Outer_Div" class="Box_54410810_Outer_Div">
                        <div id="Box_54410810_Inner_Div" class="Box_54410810_Inner_Div">
                          <!-- Search My Google Mini -->
                          <form method="get" action="http://67.72.16.133/search">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td align="left">
                                  <input type="text" name="q" size="20" maxlength="255" value="Search" onfocus="if(this.value==this.defaultValue) this.value='';"> <input type="image" src="http://static.intertechmedia.com/default/google_go.gif" align="absmiddle"> <input type="hidden" name="site" value="1010wins"> <input type="hidden" name="client" value="1010wins"> <input type="hidden" name="proxystylesheet" value="1010wins"> <input type="hidden" name="output" value="xml_no_dtd"> <input type="hidden" name="sort" value="date:D:S:d1">
                                </td>
                              </tr>
                            </table>
                          </form><!-- Search My Google Mini -->
                          <!--
<form action="http://www.1010wins.com/pages/5009944.php" id="cse-search-box">
  <div>
    <input type="hidden" name="cx" value="004076725814251621017:td_hfezwaqg" />
    <input type="hidden" name="cof" value="FORID:11" />
    <input type="hidden" name="ie" value="UTF-8" />
    <input type="text" name="q" size="15" />
    <input type="submit" name="sa" value="Search" />
  </div>
</form>

<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">google.load("elements", "1", {packages: "transliteration"});</script>
<script type="text/javascript" src="http://www.google.com/coop/cse/t13n?form=cse-search-box&t13n_langs=en"></script>

<script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse search-box~=en"></script>
-->
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </table><!-- END BOX: HTML Box, stnBoxId #54410810 (boxTypeId #10), Cached: yes -->
              <input type="hidden" id="trackStnPageInfo[]" name="trackStnPageInfo[]" value="18505467_36584684_10"> <!-- BEGIN BOX: HTML Box, stnBoxId #36584684 (boxTypeId #10), Cached: yes -->
              <table cellspacing="0" cellpadding="0" width="100%" border="0">
                <tr>
                  <td>
                    <div id="HTML">
                      <div id="Box_36584684_Outer_Div" class="Box_36584684_Outer_Div">
                        <div id="Box_36584684_Inner_Div" class="Box_36584684_Inner_Div"></div>
                      </div>
                    </div>
                  </td>
                </tr>
              </table><!-- END BOX: HTML Box, stnBoxId #36584684 (boxTypeId #10), Cached: yes -->
            </div>
          </td><!-- END COLUMN: #2 (stnPageColumnId #18505467)-->
          <!-- BEGIN COLUMN: #3 (stnPageColumnId #18505468)-->
          <td align="center" valign="top" class="Column_18505468_Td">
            <div id="resizeColumn18505468" style="width:245px;">
              <input type="hidden" id="trackStnPageInfo[]" name="trackStnPageInfo[]" value="18505468_51203203_10"> <!-- BEGIN BOX: HTML Box, stnBoxId #51203203 (boxTypeId #10), Cached: yes -->
              <table cellspacing="0" cellpadding="0" width="100%" border="0">
                <tr>
                  <td>
                    <div id="HTML">
                      <div id="Box_51203203_Outer_Div" class="Box_51203203_Outer_Div">
                        <div id="Box_51203203_Inner_Div" class="Box_51203203_Inner_Div">
                          <table border="0" cellspacing="0" cellpadding="0" align="right">
                            <tr>
                              <td>
                                <!-- begin ad tag (tile=2) -->
                                <script type="text/javascript">
//<![CDATA[
                                ord = window.ord || Math.floor(Math.random()*1E16);
                                document.write('<script type="text/javascript" src="http://ad.doubleclick.net/adj/cbsr.winsam/home;tile=2;sz=180x90;ord=' + ord + '?"><\/script>');
                                //]]>
                                </script> <noscript><a href="http://ad.doubleclick.net/jump/cbsr.winsam/home;tile=2;sz=180x90;ord=123456789?" target="_blank"><img src="http://ad.doubleclick.net/ad/cbsr.winsam/home;tile=2;sz=180x90;ord=123456789?" border="0" alt=""></a></noscript> <!-- end ad tag -->
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </table><!-- END BOX: HTML Box, stnBoxId #51203203 (boxTypeId #10), Cached: yes -->
            </div>
          </td><!-- END COLUMN: #3 (stnPageColumnId #18505468)-->
        </tr>
      </table>
      <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <!-- BEGIN COLUMN: #1 (stnPageColumnId #18505469)-->
          <td align="center" valign="top" class="Column_18505469_Td">
            <div id="resizeColumn18505469" style="width:990px;">
              <input type="hidden" id="trackStnPageInfo[]" name="trackStnPageInfo[]" value="18505469_36584688_10"> <!-- BEGIN BOX: HTML Box, stnBoxId #36584688 (boxTypeId #10), Cached: yes -->
              <table cellspacing="0" cellpadding="0" width="100%" border="0">
                <tr>
                  <td>
                    <div id="HTML">
                      <div id="Box_36584688_Outer_Div" class="Box_36584688_Outer_Div">
                        <div id="Box_36584688_Inner_Div" class="Box_36584688_Inner_Div">
                          <script type="text/javascript" language="javascript">
function initMenu(menun) {

                          // Get all LI for given menun(UL) element
                          menus = document.getElementById(menun).getElementsByTagName("LI");

                          // 
                          // Loop through menus(LI List) so that we can function on mouseOver and mouseOut event.
                          // 
                          for (var i=0; i< menus.length; i++){
                          // Call show function on mouse over event
                          document.getElementById(menus[i].id).onmouseover=function(){

                          // Call hoverElement function 
                          if(document.all&&document.getElementById)
                          {
                          this.className+=" over";
                          }
                          hoverElement(this.getAttribute("id"),'show');

                          } // END FUNCTION - show function on mouse over


                          // Call show function on mouse out event
                          document.getElementById(menus[i].id).onmouseout=function(){

                          // Call hoverElement function 
                          if(document.all&&document.getElementById)
                          {
                          this.className=this.className.replace(" over", "");
                          }
                          hoverElement(this.getAttribute("id"),'hide');

                          } // END FUNCTION - show function on mouse out

                          } // END FOR - Looping through LI List


                          }// end initMenu function
                          </script>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </table><!-- END BOX: HTML Box, stnBoxId #36584688 (boxTypeId #10), Cached: yes -->
              <input type="hidden" id="trackStnPageInfo[]" name="trackStnPageInfo[]" value="18505469_36584689_20"> <!-- BEGIN BOX: Nav Horizontal, stnBoxId #36584689 (boxTypeId #20), Cached: yes -->
              <table cellspacing="0" cellpadding="0" width="100%" border="0">
                <tr>
                  <td>
                    <div id="NavHorizontal">
                      <div id="Box_36584689_Outer_Div" class="Box_36584689_Outer_Div">
                        <div id="Box_36584689_Inner_Div" class="Box_36584689_Inner_Div">
                          <ul class="clearfix nav Box_36584689_navprimary" id="box-2962-navprimary">
                            <li id="box-2962-navprimary-1">
                              <a href="http://www.1010wins.com/index.php" target="_parent">Home</a>
                            </li>
                            <li id="box-2962-navprimary-2">
                              <a href="http://www.1010wins.com/pages/5619.php?" target="_parent">Tech</a>
                            </li>
                            <li id="box-2962-navprimary-3">
                              <a href="http://www.1010wins.com/Health-Headlines-Sponsored-by-Safety-Shield/3096088">Health</a>
                              <ul id="box-2962-navprimary-3-">
                                <li id="box-2962-navprimary-3-1">
                                  <a href="http://www.1010wins.com/pages/5125976.php?">Swine Flu Resources</a>
                                </li>
                              </ul>
                            </li>
                            <li id="box-2962-navprimary-4">
                              <a href="http://www.1010wins.com/Small-Business-News-and-Resources/2452" target="_parent">Econ</a>
                              <ul id="box-2962-navprimary-4-">
                                <li id="box-2962-navprimary-4-1">
                                  <a href="http://www.1010wins.com/Small-Business-News-and-Resources/2452">Personal Finance Tips</a>
                                </li>
                                <li id="box-2962-navprimary-4-2">
                                  <a href="http://studio-5.financialcontent.com/cbsradio/?Account=wins&amp;Page">Track Your Stocks Here</a>
                                </li>
                              </ul>
                            </li>
                            <li id="box-2962-navprimary-5">
                              <a href="http://1010wins.com" target="_parent">MOBILE</a>
                              <ul id="box-2962-navprimary-5-">
                                <li id="box-2962-navprimary-5-1">
                                  <a href="http://www.1010wins.com/pages/3454861.php?" target="_blank">School Closings</a>
                                </li>
                                <li id="box-2962-navprimary-5-2">
                                  <a href="http://www.1010wins.com/pages/22104.php" target="_blank">Breaking News Text Alerts</a>
                                </li>
                                <li id="box-2962-navprimary-5-3">
                                  <a href="http://www.1010wins.com/topic/listener_club.php?lcPage=register">E-Newsletters</a>
                                </li>
                              </ul>
                            </li>
                            <li id="box-2962-navprimary-6">
                              <a href="http://www.1010wins.com/Show-Off-Your-Pets/4882872">Pets</a>
                            </li>
                            <li id="box-2962-navprimary-7">
                              <a href="http://halfoffny.com/" target="_parent">Half Off NY</a>
                              <ul id="box-2962-navprimary-7-">
                                <li id="box-2962-navprimary-7-1">
                                  <a href="http://www.1010wins.com/pages/4676302.php?">Sign Up: Deal Alerts</a>
                                </li>
                              </ul>
                            </li>
                            <li id="box-2962-navprimary-8">
                              <a href="http://www.1010wins.com/pages/317196.php" target="_parent">Politics</a>
                            </li>
                            <li id="box-2962-navprimary-9">
                              <a href="http://www.1010wins.com/pages/3825970.php" target="_parent">Experts</a>
                              <ul id="box-2962-navprimary-9-">
                                <li id="box-2962-navprimary-9-1">
                                  <a href="http://www.1010wins.com/pages/5274811.php">Orthopedic Spinal Surgeon: Dr. Paul M. Brisson</a>
                                </li>
                                <li id="box-2962-navprimary-9-2">
                                  <a href="http://1010wins.com/EOD---Dr--Bernstein/4049501" target="_blank">Hair Restoration: Dr. Bernstein</a>
                                </li>
                                <li id="box-2962-navprimary-9-3">
                                  <a href="http://www.1010wins.com/pages/3825970.php" target="_blank">Cosmetic Surgery: Dr. Robert Rho</a>
                                </li>
                              </ul>
                            </li>
                            <li id="box-2962-navprimary-10">
                              <a href="http://www.1010wins.com/pages/600293.php" target="_parent">Showbiz</a>
                            </li>
                            <li id="box-2962-navprimary-11">
                              <a href="http://www.1010wins.com/pages/33773.php" target="_parent">Lottery</a>
                              <ul id="box-2962-navprimary-11-">
                                <li id="box-2962-navprimary-11-1">
                                  <a href="http://www.1010wins.com/pages/33773.php" target="_parent">NY Lottery</a>
                                </li>
                                <li id="box-2962-navprimary-11-2">
                                  <a href="http://www.1010wins.com/pages/33776.php" target="_parent">NJ Lottery</a>
                                </li>
                                <li id="box-2962-navprimary-11-3">
                                  <a href="http://www.1010wins.com/pages/33781.php" target="_parent">CT Lottery</a>
                                </li>
                                <li id="box-2962-navprimary-11-4">
                                  <a href="http://www.powerball.com" target="_parent">Powerball</a>
                                </li>
                              </ul>
                            </li>
                            <li id="box-2962-navprimary-12">
                              <a href="http://www.1010wins.com/topic/traffic.php?trafficText=1">Traffic</a>
                              <ul id="box-2962-navprimary-12-">
                                <li id="box-2962-navprimary-12-1">
                                  <a href="http://www.radio.centralparking.com/" target="_blank">Discount NYC Parking</a>
                                </li>
                                <li id="box-2962-navprimary-12-2">
                                  <a href="http://www.1010wins.com/topic/traffic.php">Real Time Traffic</a>
                                </li>
                                <li id="box-2962-navprimary-12-3">
                                  <a href="http://www.1010wins.com/pages/8877.php?">Alternate Side Parking Calendar</a>
                                </li>
                                <li id="box-2962-navprimary-12-4">
                                  <a href="http://www.1010wins.com/topic/traffic.php?trafficText=1">Incidents List</a>
                                </li>
                                <li id="box-2962-navprimary-12-5">
                                  <a href="http://www.hopstop.com/?cb5071">Hop Stop NYC</a>
                                </li>
                                <li id="box-2962-navprimary-12-6">
                                  <a href="http://www.flytecomm.com/cgi-bin/trackflight">Track Your Flight</a>
                                </li>
                              </ul>
                            </li>
                            <li id="box-2962-navprimary-13">
                              <a href="http://www.1010wins.com/pages/4769681.php">Storm Radar</a>
                            </li>
                            <li id="box-2962-navprimary-14">
                              <a href="http://multimedia.1010wins.com/" target="_parent">Multimedia</a>
                              <ul id="box-2962-navprimary-14-">
                                <li id="box-2962-navprimary-14-1">
                                  <a href="http://www.youtube.com/profile?user=allforanimalstv&amp;view=videos" target="_blank">'All for Animals' with Susan Richard</a>
                                </li>
                                <li id="box-2962-navprimary-14-2">
                                  <a href="http://www.1010wins.com/pages/3833550.php?">1010 WINS Photo Galleries</a>
                                </li>
                                <li id="box-2962-navprimary-14-3">
                                  <a href="http://www.1010wins.com/pages/2323796.php" target="_parent">1010 WINS Video</a>
                                </li>
                                <li id="box-2962-navprimary-14-4">
                                  <a href="http://www.1010wins.com/pages/2677.php">News On the Run</a>
                                </li>
                                <li id="box-2962-navprimary-14-5">
                                  <a href="http://www.1010wins.com/topic/cbs_video.php" target="_parent">CBS Video</a>
                                </li>
                                <li id="box-2962-navprimary-14-6">
                                  <a href="http://www.1010wins.com/pages/1190288.php" target="_parent">Truveo Video Search</a>
                                </li>
                              </ul>
                            </li>
                          </ul><script type="text/javascript" language="javascript">
initMenu("box-2962-navprimary"); 
                          </script>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </table><!-- END BOX: Nav Horizontal, stnBoxId #36584689 (boxTypeId #20), Cached: yes -->
              <input type="hidden" id="trackStnPageInfo[]" name="trackStnPageInfo[]" value="18505469_38042283_27"> <!-- BEGIN BOX: Feature Group Horizontal, stnBoxId #38042283 (boxTypeId #27), Cached: yes -->
               <!-- END BOX: Feature Group Horizontal, stnBoxId #38042283 (boxTypeId #27), Cached: yes -->
               <input type="hidden" id="trackStnPageInfo[]" name="trackStnPageInfo[]" value="18505469_36584690_27"> <!-- BEGIN BOX: Feature Group Horizontal, stnBoxId #36584690 (boxTypeId #27), Cached: yes -->
              <table cellspacing="0" cellpadding="0" width="100%" border="0">
                <tr>
                  <td>
                    <div id="FeatureGroupHorizontal">
                      <div id="Box_36584690_Outer_Div" class="Box_36584690_Outer_Div">
                        <div id="Box_36584690_Inner_Div" class="Box_36584690_Inner_Div">
                          <script language="javascript" type="text/javascript">
var newPopupWindow;
                          function popupLinkOption(url,width,height) {
                          newPopupWindow=window.open(url,"name","height="+height+",width="+width+",left=100,top=100,resizable=no,scrollbars=no,toolbar=no,status=no,menubar=no,location=no");
                          }
                          </script>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
              <div id="analog_analytics_content">
                <%= yield %>
              </div>
              </div></td></tr></table>
              <table cellspacing="0" cellpadding="0" width="100%" border="0" class="Box_36584747_76178_Tb">
                <tr>
                  <td>
                    <!-- BEGIN BoxGroup Box: FeatureGroup, bgBoxId #76178 (BoxGroup's stnBoxId #36584747), Cached: yes -->
                    <div class="Box_36584747_76178_Outer_Div">
                      <div class="Box_36584747_76178_Inner_Div">
                        <script language="javascript" type="text/javascript">
var newPopupWindow;
                        function popupLinkOption(url,width,height) {
                        newPopupWindow=window.open(url,"name","height="+height+",width="+width+",left=100,top=100,resizable=no,scrollbars=no,toolbar=no,status=no,menubar=no,location=no");
                        }
                        </script>
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" class="Box_36584747_76178_Tb">
                          <!-- Feature number 2 -->
                          <tr>
                            <td class="Box_36584747_76178_Td" align="left">
                              <font class="Box_36584747_76178_Font"><a target="_blank" href="http://WFAN.com">WFAN.com</a> | <a href="http://www.wcbs880.com/">WCBS880.com</a>&nbsp;| <a href="http://www.wcbsfm.com/">WCBSFM.com</a>&nbsp;| <a href="http://923now.com/">923Now.com</a> | <a href="http://www.krockradio.com/">K-Rock</a> |&nbsp;<a href="http://www.fresh1027.com/">Fresh1027.com</a>&nbsp;| <a href="http://wcbstv.com/">WCBSTV.com</a>&nbsp;|&nbsp; <a target="_blank" href="http://NorthJersey.com">NorthJersey.com</a>&nbsp; | <a href="http://cbsradio.com">CBS Radio.com</a> | <a href="http://www.m2omedia.com/wins/">1010 WINS Rewards</a></font>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div><!-- END BoxGroup Box: FeatureGroup, bgBoxId #76178 (BoxGroup's stnBoxId #36584747), Cached: yes -->
                  </td>
                </tr>
              </table>
              <table cellspacing="0" cellpadding="0" width="100%" border="0" class="Box_36584747_76176_Tb">
                <tr>
                  <td>
                    <!-- BEGIN BoxGroup Box: HTML, bgBoxId #76176 (BoxGroup's stnBoxId #36584747), Cached: yes -->
                    <div class="Box_36584747_76176_Outer_Div">
                      <div class="Box_36584747_76176_Inner_Div">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                          <tr>
                            <td width="40%" align="left" valign="bottom">
                              © MMIX <a href="http://cbsradio.com/" target="_blank">CBS Radio Stations Inc.</a>, All Rights Reserved.<br>
                              Powered by <a href="http://intertechmedia.com" target="_blank" class="Footer_Link">Intertech Media, LLC</a> | <a href="http://www.1010wins.com/pages/2137653.php?" target="_parent">Contact Us</a>
                            </td>
                            <td width="60%" align="right" valign="middle">
                              <a href="http://www.1010wins.com/pages/2098788.php" target="_parent">Advertise</a> | <a href="http://www.1010wins.com/pages/2418.php" target="_parent">Privacy Policy / Your California Privacy Rights</a> | <a href="http://www.1010wins.com/pages/2419.php" target="_parent">Terms Of Use</a> | <a href="http://www.1010wins.com/pages/2420.php" target="_parent">EEO Report</a> | <a href="http://www.1010wins.com/pages/2522.php?" target="_parent">Staff</a> | <a href="http://www.1010wins.com/pages/4621.php?" target="_parent">History</a> | <a href="http://www.1010wins.com/pages/3403.php?" target="_parent">Jobs</a>
                            </td>
                          </tr>
                        </table><!--ONESTAT CODE-->
                        <div id="OneStatTag" name="OneStatTag">
                          <!--ONESTAT SCRIPTCODE START-->
                          <script type="text/javascript">

                          <!--

                          // Account ID : wins.intertechmedia.com

                          // Website URL: http://www.1010wins.com

                          // Copyright (C) 2002-2007 OneStat.com All Rights Reserved

                          function OneStat_Pageview()

                          {

                          var d=document;

                          var sid="wins.intertechmedia.com";

                          var CONTENTSECTION="";

                          var osp_ACTION="";

                          var osp_TRANSACTION="";

                          var osp_AMOUNT="";

                          var osp_PRODUCTCODE="";

                          var osp_PRODUCTGROUP="";

                          var osp_ADCAMPAIGN="";

                          var osp_URL=d.URL;

                          var osp_Title=d.title;

                          var t=new Date();

                          var p="http"+(d.URL.indexOf('https:')==0?'s':'')+"://stat.onestat.com/stat.aspx?tagver=2&sid="+sid;

                          p+="&url="+escape(osp_URL);

                          p+="&ti="+escape(osp_Title);

                          p+="&section="+escape(CONTENTSECTION);

                          p+="&cma="+escape(osp_ACTION);

                          p+="&cmt="+escape(osp_TRANSACTION);

                          p+="&cmm="+escape(osp_AMOUNT);

                          p+="&cmp="+escape(osp_PRODUCTCODE);

                          p+="&cmg="+escape(osp_PRODUCTGROUP);

                          p+="&cmad="+escape(osp_ADCAMPAIGN);

                          p+="&rf="+escape(parent==self?document.referrer:top.document.referrer);

                          p+="&tz="+escape(t.getTimezoneOffset());

                          p+="&ch="+escape(t.getHours());

                          p+="&js=1";

                          p+="&ul="+escape(navigator.appName=="Netscape"?navigator.language:navigator.userLanguage);

                          if(osp_URL!=d.URL) p+="&ol="+escape(d.URL);

                          if(typeof(screen)=="object"){

                          p+="&sr="+screen.width+"x"+screen.height;p+="&cd="+screen.colorDepth;

                          p+="&jo="+(navigator.javaEnabled()?"Yes":"No");

                          }

                          var dd = d.getElementById("OneStatTag");

                          if(dd)dd.innerHTML = '<img id="ONESTAT_TAG" border="0" width="1" height="1" src="'+p+'" >';

                          }



                          setTimeout('OneStat_Pageview()',1);

                          //-->

                          </script> <noscript><a href="http://www.onestat.com"><img border="0" width="1" height="1" src="http://stat.onestat.com/stat.aspx?tagver=2&amp;sid=wins.intertechmedia.com&amp;js=No&amp;" alt="OneStat.com Web Analytics"></a></noscript> <!--ONESTAT SCRIPTCODE END-->
                           <!-- Begin comScore Tag -->
                           <script type="text/javascript">
document.write(unescape("%3Cscript src='" + (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js' %3E%3C/script%3E"));
                          </script> <script type="text/javascript">
COMSCORE.beacon({
                          c1:2,
                          c2:3000023,
                          c3:"",
                          c4:"",
                          c5:"",
                          c6:"",
                          c15:""
                          });
                          </script> <noscript><img src="http://b.scorecardresearch.com/b?c1=2&amp;c2=3000023&amp;c3=&amp;c4=&amp;c5=&amp;c6=&amp;c15=&amp;cv=1.3&amp;cj=1" style="display:none" width="0" height="0" alt=""></noscript> <!-- End comScore Tag -->
                        </div><!-- DW Tracking -->
                        <script type="text/javascript" src="http://dw.com.com/js/dw.js">
</script> <script type="text/javascript">

                        DW.pageParams = {
                        siteId: '255'
                        };

                        DW.clear();
                        DW.trackClicks();

                        </script> <noscript><img src="http://dw.com.com/clear/c.gif?sid=255" border="0" height="1" width="1" alt=""></noscript> <!-- End DW Tracking -->
                         <!-- Start Quantcast tag -->
                         <script type="text/javascript">

                        _qoptions={

                        qacct:"p-51jhoCdjGFIVU",

                        labels:"CBSRadioNetwork.NewYork,CBSRadioNetwork.News"

                        };

                        </script> <script type="text/javascript" src="http://edge.quantserve.com/quant.js">
</script> <noscript><img src="http://pixel.quantserve.com/pixel/p-51jhoCdjGFIVU.gif?labels=CBSRadioNetwork.NewYork,CBSRadioNetwork.News" style="display: none;" border="0" height="1" width="1" alt="Quantcast"></noscript> <!-- End Quantcast tag -->
                         <script type="text/javascript">
var _sf_startpt=(new Date()).getTime()
                        </script> <script type="text/javascript">
var cbjspath = "static.chartbeat.com/js/chartbeat.js?uid=2172&domain=1010wins.com";
                        var cbjsprotocol = (("https:" == document.location.protocol) ? "https://s3.amazonaws.com/" : "http://");
                        document.write(unescape("%3Cscript src='"+cbjsprotocol+cbjspath+"' type='text/javascript'%3E%3C/script%3E"))
                        </script>
                      </div>
                    </div><!-- END BoxGroup Box: HTML, bgBoxId #76176 (BoxGroup's stnBoxId #36584747), Cached: yes -->
                  </td>
                </tr>
              </table><!-- Close BoxGroup Scaffolding after Echoing the Last Box in the BoxGroup -->
    </div><!-- END BOX: Box Group, stnBoxId #36584747 (boxTypeId #52), Cached: no -->
    <form>
      <input type="hidden" id="trackStnPageInfo[]" name="trackStnPageInfo[]" value="18505488_48083228_10"> <!-- BEGIN BOX: HTML Box, stnBoxId #48083228 (boxTypeId #10), Cached: yes -->
    </form>
    <table cellspacing="0" cellpadding="0" width="100%" border="0">
      <tr>
        <td>
          <div id="HTML">
            <div id="Box_48083228_Outer_Div" class="Box_48083228_Outer_Div">
              <div id="Box_48083228_Inner_Div" class="Box_48083228_Inner_Div">
                <!-- begin ad tag -->
                <script type="text/javascript">
//<![CDATA[
                ord = window.ord || Math.floor(Math.random()*1E16);
                document.write('<script type="text/javascript" src="http://ad.doubleclick.net/adj/cbsr.winsam/home;kw=wallpaper;sz=3x3;ord=' + ord + '?"><\/script>');
                //]]>
                </script> <noscript><a href="http://ad.doubleclick.net/jump/cbsr.winsam/home;kw=wallpaper;sz=3x3;ord=123456789?" target="_blank"><img src="http://ad.doubleclick.net/ad/cbsr.winsam/home;kw=wallpaper;sz=3x3;ord=123456789?" border="0" alt=""></a></noscript> <!-- end ad tag -->
              </div>
            </div>
          </div>
        </td>
      </tr>
    </table><!-- END BOX: HTML Box, stnBoxId #48083228 (boxTypeId #10), Cached: yes -->
    <table>
      <!-- END COLUMN: #1 (stnPageColumnId #18505488)-->
    </table>
    <div style="display:none">
      <iframe id="tranFrame" name="tranFrame" width="0" height="0" src="http://www.1010wins.com/tran_frame/blank.html"></iframe>
    </div><script language="javascript" type="text/javascript">
<!--
    /*
    // calling reloadIframeContent for reloading the contents of the Iframes,
    // we call this function because sometimes the content of the Iframes are overwritten
    //
    // by some other Iframes if the iframes are more then one in the page. Added by Dipak
    */
    //  window.onload = reloadIFrameContent;


    function resizeDiv() {

    //
    // Determine page width
    //

    if (document.body.clientWidth) {

      //
      // Set offset
      //

      if (navigator.userAgent.toLowerCase().indexOf("msie") + 1) {

        var offset = 20;

      } else {

        var offset = 10;

      } // END if - set offset

      var pageWidth = document.body.clientWidth - offset;

    } else if (window.innerWidth) {

      var pageWidth = window.innerWidth - 20;

    } // END if - determine page width

    var colWidth = 0;
    var minReached = 0;
    var maxReached = 0;

      colWidth = 245;

      colWidth -= 0;

      getElement("resizeColumn18505466").style.width = colWidth;


                      colWidth = 500;

      colWidth -= 0;

      getElement("resizeColumn18505467").style.width = colWidth;


                      colWidth = 245;

      colWidth -= 0;

      getElement("resizeColumn18505468").style.width = colWidth;


                      colWidth = 990;

      colWidth -= 0;

      getElement("resizeColumn18505469").style.width = colWidth;


                      colWidth = 344;

      colWidth -= 0;


                    } // END function - resizeDiv


            
    setOnClick = true;
    // 
    // to set it blank again because if we are setting this from the feature_group.lib file.
    //
    var trackDbInfoStr = '';
    var trackContentInfoStr = '';
      // -->  
    </script><!--<div id="txtHint"></div>-->
    <!--<script type="text/javascript" src="http://www.1010wins.com/statistics/javascript/stats_tracker.js"></script>-->
    <!-- Served by vmradio17.nyc -->
    <!-- Generated by vmradio10.nyc -->
    <!-- Generated by DB4_NYC -->
    <!-- pgrt 0.111222 -->
    <!-- pgt 12.366849184036 -->
  </body>
</html>
