  <div class="page_column_4 last rounded_corners">
    <h2 id="how_does_it_work">&iquest;Qu&eacute; es esto?</h2>
    <p>Le otorgaremos <%= number_to_currency(publisher.daily_deal_referral_credit_amount, :unit => publisher.currency_symbol) %> de cr&eacute;dito a su cuenta cada vez que invite a un amigo y este haga su primer compra de una oferta semanal.  Usted podr&aacute; usar su cr&eacute;dito para comprar culaquier oferta semanal y su cr&eacute;dito nunca se vence.</p>
    <br/>
    <h2 id="how_do_i_refer">&iquest;C&oacute;mo invito a un amigo?</h2>
    <p>Comparta el link el cual es &uacute;nico a su cuenta por medio de correo electr&oacute;nico, Facebook o Twitter.  When your friends click on that link, we'll know it's your referral and it's you who sent them.</p>
    <br/>
    <h2 id="what_are_the_rules">What are the rules?</h2>
    <p>If someone signs up within 72 hours after clicking your link, we'll automatically add <%= number_to_currency(publisher.daily_deal_referral_credit_amount, :unit => publisher.currency_symbol) %> in Deal Credit to your account when they make their first purchase. You can refer as many people as you like. Check your Deal Credit balance by clicking on <em>My Account</em></p>  
  </div>
