<div>
  <a href="http://www.1051charliefm.com/" target="_blank"><img src="/themes/<%= @publisher.label %>/images/stations/charlie.png" alt="105.1 Charlie FM"></a>
  <a href="http://www.1055triplem.com/" target="_blank"><img src="/themes/<%= @publisher.label %>/images/stations/mmm.png" alt="MMM 105.5"></a>
  <a href="http://www.wolx.com/" target="_blank"><img src="/themes/<%= @publisher.label %>/images/stations/wolx.png" alt="94.9 WOLX"></a>          
</div>