<div id="banner">
  <div id="dd_nav_wrapper">
		
		<%= render :partial => with_theme("shared/dd_nav") %>
		
		<%= render :partial => with_theme('shared/offers_market_menu') %>
	
		<%= render :partial => with_theme('shared/account_nav') %>
        <div class="clear"></div>
		
  </div><!-- /dd_nav_wrapper -->

<div class="clear"></div>
</div>