<footer id="footer">
    <div class="footer-holder">

        <!-- copyright info -->
        <span class="copy">&copy; 2011 AAM All Rights Reserved</span>
        <!-- footer navigation -->
        <nav class="add-nav">

          <ul>
            <li><a href="http://deal.aamedge.com">Grab Deals</a></li>
            <li><a href="http://www.aamedge.com/Services">Find Services</a></li>

            <li><a href="http://www.aamedge.com/Rewards">Give Rewards</a></li>
            <li><a href="http://www.aamedge.com/NewsTips">Get News / Tips</a></li>
            <li><a href="http://www.aamedge.com/OurEdge">Our Edge</a></li>

            <li><a href="http://www.aamedge.com/ContactUs">Contact Us</a></li>
            <li><a href="http://www.aamedge.com/PrivacyPolicy">Privacy Policy</a></li>
          </ul>

        </nav>
      </div>
  </footer>
