 <div id="header">
        <div class="header-holder">
          <!-- header sub navigation -->
          <nav class="sub-nav">

            <ul>

              <li><a href="http://www.aamedge.com/Home">Home</a></li>
              <li>
                <a class="email" href="http://visitor.r20.constantcontact.com/d.jsp?llr=ejo55jiab&p=oi&m=1108436007204">Get Inspiring Emails</a>
                <a href="http://visitor.r20.constantcontact.com/d.jsp?llr=ejo55jiab&p=oi&m=1108436007204" class="btn-sign"><span>Sign Up</span></a>
              </li>
              <li><a href="http://www.aamedge.com/ContactUs">Contact Us</a></li>
            </ul>
          </nav>

        </div>
        <div class="header-frame">

          <!-- logo -->
          <h1 class="logo"><a href="http://www.aamedge.com/Home">AAM edge</a></h1>
          <!-- header info-block -->
          <div class="info-block">
            <span class="resource"><a href="http://www.aamedge.com/OurEdge">Resources<img src="/themes/aamedge/cached/images/book.png" width="59" height="43" alt="Resources"></a></span>

            <!-- header social-networks links -->
            <ul class="social-networks">
              <li><a href="http://www.facebook.com/aamedge" class="facebook" target="_blank">facebook</a></li>

              <li><a href="http://www.twitter.com/aamedge" class="twitter" target="_blank">twitter</a></li>
            </ul>
          </div>
          <!-- main navigation -->

          <div class="navigation">
            <nav id="nav">
              <ul><li class="active"><a href="http://deal.aamedge.com">Grab Deals</a></li><li><a href="http://www.aamedge.com/Services">Find Services</a></li><li><a href="http://www.aamedge.com/Rewards">Give Rewards</a></li><li><a href="http://www.aamedge.com/NewsTips">Get News/Tips</a></li><li><a href="http://www.aamedge.com/OurEdge">Our Edge</a></li></ul>

            </nav>
            <!-- Powered By button -->
            <a href="http://www.associatedasset.com/" class="btn-powered" target="_blank"><span>Powered By<br /> AAM</span></a>

          </div>
        </div>
      </div>
