<div id="sidebar">
	<%= render :partial => with_theme("shared/subscribe") %>
	<%= render :partial => with_theme("shared/sidedeals") %>
	<%= render :partial => with_theme("shared/refer_friend") %>
	<%= render :partial => with_theme("shared/facebook_likebox") %>
</div><!-- /sidebar -->