<div id="banner">
	<div id="toppart">
		<a href="<%= public_deal_of_day_path(@publisher.label) %>"><img border="0" id="deal_logo" src="/themes/jewishjournal-tribedailydeals/images/graphics/deal_logo.png" height="100" width="636" alt="TRIBE Daily Deals" /></a>
		<%= render :partial => with_theme("shared/account_nav") %>
	</div>
	<%= render :partial => with_theme("shared/dd_nav") %>


</div>