<!-- footer -->
<div id="publisher_footer">
    
	<table cellpadding="0" cellspacing="0" border="0" vspace="0" width="960" align="center">
<tr bgcolor="#ffffff"><td colspan="3" width="960" ><div style="margin-left:23px; margin-right:5px;">
<span class="pagefooter"> 
  <div style="float: left; margin-right: 10px; width: 49%;">  
    <h3><font color="maroon">Site Sections</font></h3>
    <ul type='circle'>

        <li><a href="http://www.jewishjournal.com/">Home</a></li>
        <li><a href="http://www.jewishjournal.com/arts/">Arts</a></li>
        <li><a href="http://www.jewishjournal.com/calendar_stories/">Calendar</a></li>
        <li><a href="http://www.jewishjournal.com/education/">Education</a></li>
        <li><a href="http://www.jewishjournal.com/food/">Food</a></li>
        <li><a href="http://www.jewishjournal.com/israel/">Israel</a></li>

      </ul>
    <ul type='circle'>
        <li><a href="http://www.jewishjournal.com/kids_and_teens/">Kids and Teens</a></li>
        <li><a href="http://www.jewishjournal.com/los_angeles/">Los Angeles</a></li>
        <li><a href="http://www.jewishjournal.com/obituaries/">Obituaries</a></li>
        <li><a href="http://www.jewishjournal.com/opinion/">Opinion</a></li>
        <li><a href="http://www.jewishjournal.com/singles/">Singles</a></li>

        <li><a href="http://www.jewishjournal.com/sports/">Sports</a></li>
      </ul>
    <ul type='circle'>
         <li><a href="http://www.everyjew.com">EveryJew.com</a></li>
         <li><a href="http://www.jewishjournal.com/celebrations_simchas/">Simchas</a></li>       
        <li><a href="http://www.jewishjournal.com/torah_portion/">Torah Portion</a></li>
        <li><a href="http://www.jewishjournal.com/united_states/"> U.S.</a></li>

        <li><a href="http://www.jewishjournal.com/world/">World</a></li>
    </ul>
  </div>

 <div style="float: right; width: 49%;">
   <h3><font color="maroon">Newspaper</font> </h3>
    <ul style="float: right; margin-left: 15px;" type='circle'>
        <li><a href="http://www.jewishjournal.com/current_edition/">Current Edition</a></li>

        <li><a href="http://www.jewishjournal.com/archive/">Archive</a></li>
        <li><a href="http://www.jewishjournal.com/newspaper/contact_us/">Contact Us </a></li>
        <li><a href="http://www.jewishjournal.com/newspaper/faq/">FAQ</a></li>
        <li><a href="http://www.jewishjournal.com/newspaper/privacy_policy/">Privacy Policy </a></li>
        <li><a href="http://www.jewishjournal.com/newspaper/terms_of_service/">Terms of Service </a></li>
        <li><a href="http://www.jewishjournal.com/newspaper/site_map/">Site Map</a></li>

        <li><a href="http://www.jewishjournal.com/newspaper/advertise">Advertise</a></li>
       <li><a href="/site_credits/article/website_credits/">Site Credits</a></li>


    </ul>
    <p>Serving a community of 600,000, The Jewish Journal of Greater Los Angeles is the largest Jewish weekly outside New York City. Our award-winning paper reaches over 150,000 educated, involved and affluent readers each week. <a href="http://www.jewishjournal.com/newspaper/subscribe/">Subscribe here.</a>
 </p>
    <p style="font-size: 10px;"> &copy; Copyright 2011  Tribe Media Corp. <br />All rights reserved. JewishJournal.com is hosted by <a href="http://nexcess.net">Nexcess.net</A>. Homepage design by <a href="http://koret.com">Koret Communications.</a><br /> Widgets by <a href="http://mijits.com/">Mijits</a>.  Site construction by <a href="http://www.hopstudios.com/">Hop Studios</a>.</p>

 </div>
</span> <!-- close pagefooter -->
	
	
</div>
<!-- /footer -->
