<!--  <div id="PageWrap" class="show-mobile" style="height:106px;">
	<div id="headerBranding"> 
	<a target='_top' id="logoLink" href="http://www.kfdm.com/">KTVL Home</a> </div>


<div style="clear:both;"></div>			

-->
<div id="fi_wrapper" class="hide-mobile">	
	<div id="headerBranding"> 
	<a target='_top' id="logoLink" href="http://www.kfdm.com/">KTVL Home</a> 
	 
		<div id="headerLinks"> 
			<ul> 
				<li><a target='_top' href="http://www.kfdm.com/sections/sp-alerts">Get Email &amp; Mobile Alerts</a> <span
						class="dontMissPipe">|</span></li> 
				<li><a target='_top' href="http://kfdm.oodle.com/">Marketplace</a><span
						class="dontMissPipe"></span></li> 
			</ul> 
				</div> 
				
			</div> 
	<div id="navcontainer"> 
		<div class="fi_menu"><ul id="fi_nav_ul"> 
	<li><a target='_top' class="title" href="http://www.kfdm.com/">HOME</a></li> 
	<li> 
	<a target='_top' class="title" href="http://www.kfdm.com/sections/top-story/">NEWS</a><ul class="sub"> 
	<li><a target='_top' href="http://www.kfdm.com/sections/local-news/">Local</a></li> 
	<li><a target='_top' href="http://www.kfdm.com/sections/regional-news/">Regional</a></li> 
	<li><a target='_top' href="http://www.kfdm.com/sections/election-news/">Election News</a></li> 
	<li><a target='_top' href="http://www.kfdm.com/sections/entertainment-news/">Entertainment News</a></li> 
	<li><a target='_top' href="http://www.kfdm.com/sections/business-news/">Business News</a></li> 
	<li><a target='_top' href="http://www.kfdm.com/sections/travel-news/">Travel News</a></li> 
	<li><a target='_top' href="http://www.kfdm.com/sections/newslinks/">Newscast Links</a></li> 
	<li><a target='_top' href="http://www.kfdm.com/sections/restaurant-report-card/">Restaurant Report Card</a></li> 
	<li><a target='_top' href="http://www.kfdm.com/sections/lottery/">Texas Lottery</a></li> 
	<li><a target='_top' href="http://www.louisianalottery.com/" target="_blank">Louisiana Lottery</a></li> 
	<li><a target='_top' href="http://www.kfdm.com/sections/infocenter/">Info Center</a></li> 
	<li><a target='_top' href="http://www.kfdm.com/sections/manhunt/">Manhunt Monday</a></li> 
	</ul> 
	</li> 
	<li> 
	<a target='_top' class="title" href="http://www.kfdm.com/sections/weather/5day">WEATHER</a><ul class="sub"> 
	<li><a target='_top' href="http://www.kfdm.com/sections/weather/5day">5-Day Forecast</a></li> 
	<li><a target='_top' href="http://www.kfdm.com/sections/weather/doppler/">Live Doppler Radar</a></li> 
	<li><a target='_top' href="http://www.kfdm.com/sections/interactiveradar/">Interactive Radar</a></li> 
	<li> 
	<a target='_top' href="http://www.kfdm.com/sections/weather/hurricane/">Hurricane 2011        &gt; &gt; &gt;</a><ul class="sub"> 
	<li><a target='_top' href="http://www.kfdm.com/sections/weather/hurricane/information/">Information</a></li> 
	<li><a target='_top' href="http://www.kfdm.com/sections/weather/hurricane/checklist/">Checklist</a></li> 
	<li><a target='_top' href="http://www.kfdm.com/sections/weather/hurricane/phonenumbers/">Phone Numbers</a></li> 
	<li><a target='_top' href="http://www.kfdm.com/sections/weather/hurricane/faq/">FAQ</a></li> 
	<li><a target='_top' href="http://www.kfdm.com/sections/weather/hurricane/evacuation/">Evacuation</a></li> 
	<li><a target='_top' href="http://www.kfdm.com/sections/weather/hurricane/tips/">Tips</a></li> 
	<li><a target='_top' href="http://www.kfdm.com/sections/weather/hurricane/names/">Names</a></li> 
	<li><a target='_top' href="http://www.kfdm.com/sections/weather/hurricane/211/">211 Hotline</a></li> 
	<li><a target='_top' href="http://www.kfdm.com/sections/weather/hurricane/stormsurge/">Storm Surge</a></li> 
	<li><a target='_top' href="http://www.kfdm.com/sections/weather/hurricane/pets/">Pets</a></li> 
	<li><a target='_top' href="http://www.kfdm.com/sections/weather/hurricane/technology/">Technology</a></li> 
	</ul> 
	</li> 
	<li><a target='_top' href="http://www.kfdm.com/video/?lineupId=1155100354&amp;play=now">WeatherCast</a></li> 
	<li><a target='_top' href="http://www.srh.noaa.gov/lch/?n=tides" target="_blank">Tides</a></li> 
	<li><a target='_top' href="http://wwwghcc.msfc.nasa.gov/GOES/" target="_blank">Satellite Imagery</a></li> 
	<li><a target='_top' href="http://www.nco.ncep.noaa.gov/pmb/nwprod/analysis/" target="_blank">Forecast Models</a></li> 
	<li><a target='_top' href="http://www.nhc.noaa.gov/" target="_blank">National Hurricane Center</a></li> 
	<li><a target='_top' href="http://radar.weather.gov/radar.php?rid=HGX&amp;product=NCR&amp;overlay=11101111&amp;loop=yes" target="_blank">NextRad Radar</a></li> 
	<li><a target='_top' href="http://www.srh.noaa.gov/data/LCH/RVDLCH" target="_blank">Rivers/Lakes</a></li> 
	<li><a target='_top' href="http://www.ndbc.noaa.gov/rmd.shtml" target="_blank">Offshore Buoys</a></li> 
	<li><a target='_top' href="http://weather.weatherbug.com/TX/Beaumont-weather/weather-cams/local-cams.html?zcode=z5602&amp;camera_id=CRYST" target="_blank">Texas Marine Weather on the Water</a></li> 
	<li><a target='_top' href="http://ww2.weatherbug.com/download60.asp?v0=1&amp;v1=0&amp;v2=3&amp;v3=6&amp;secid=1&amp;BUGSTARTUP=0&amp;STARTCODE=0&amp;zcode=z4498&amp;dlid=51032" target="_blank">Download Weather Bug</a></li> 
	<li><a target='_top' href="http://www.kfdm.com/sections/weather/weathernet/">Live WeatherNET</a></li> 
	<li><a target='_top' href="http://achieve.weatherbug.com/" target="_blank">WeatherNet Classroom</a></li> 
	<li><a target='_top' href="http://www.kfdm.com/sections/weather/skyview/">Skyview</a></li> 
	</ul> 
	</li> 
	<li> 
	<a target='_top' class="title" href="http://www.kfdm.com/sections/sports/">SPORTS</a><ul class="sub"> 
	<li><a target='_top' href="http://www.kfdm.com/sections/sports/">Local Sports</a></li> 
	<li><a target='_top' href="http://www.kfdm.com/sections/sports/tailgate-party/">Tailgate Party 2011</a></li> 
	<li><a target='_top' href="http://www.kfdm.com/sections/sports/prohighlights/">Pro Highlights</a></li> 
	<li><a target='_top' href="http://www.kfdm.com/sections/teams/">Find Your School</a></li> 
	<li><a target='_top' href="http://www.kfdm.com/sections/slideshows/">Sports Slideshows</a></li> 
	<li><a target='_top' href="http://www.kfdm.com/sections/lamar/">Lamar Cardinals</a></li> 
	<li><a target='_top' href="http://www.kfdm.com/sections/sports/gamereport/">Fish/Game Report</a></li> 
	<li><a target='_top' href="http://www.setxsports.com" target="_blank">SETX Sports</a></li> 
	<li><a target='_top' href="http://www.kfdm.com/sections/kfdm-outdoors/">Outdoors Report</a></li> 
	<li><a target='_top' href="http://www.kfdm.com/sections/little-league-legends/">Little League Legends</a></li> 
	</ul> 
	</li> 
	<li> 
	<a target='_top' class="title" href="http://www.kfdm.com/sections/tvlistings/">PROGRAMMING</a><ul class="sub"> 
	<li><a target='_top' href="http://www.kfdm.com/sections/tvlistings/">TV Listings</a></li> 
	<li><a target='_top' href="http://www.kfdm.com/sections/cbsvideo/">CBS Video Player</a></li> 
	<li><a target='_top' href="http://www.dtvanswers.com" target="_blank">DTV Answers</a></li> 
	<li><a target='_top' href="http://www.kfdm.com/sections/local-hdtv-info/">Local HDTV Info</a></li> 
	</ul> 
	</li> 
	<li> 
	<a target='_top' class="title" href="http://events.kfdm.com">COMMUNITY</a><ul class="sub"> 
	<li><a target='_top' href="http://www.kfdm.com/sections/movie-reviews/">Movie Reviews</a></li> 
	<li><a target='_top' href="http://events.kfdm.com">Event Calendar</a></li> 
	<li><a target='_top' href="http://www.kfdm.com/sections/contests/">Contests</a></li> 
	<li><a target='_top' href="http://www.kfdm.com/share/galleries/">Photo Galleries</a></li> 
	<li><a target='_top' href="http://www.kfdm.com/sections/share/forums/">Forums</a></li> 
	<li><a target='_top' href="http://www.kfdm.com/sections/teams/">High Schools</a></li> 
	<li><a target='_top' href="http://www.kfdm.com/sections/student-news/">SETX Student News</a></li> 
	<li><a target='_top' href="http://www.kfdm.com/sections/slideshows/">KFDM Slideshows</a></li> 
	<li><a target='_top' href="http://www.kfdm.com/sections/coupons/">Coupons</a></li> 
	</ul> 
	</li> 
	<li> 
	<a target='_top' class="title" href="http://www.kfdm.com/sections/contactus/">ABOUT KFDM</a><ul class="sub"> 
	<li><a target='_top' href="http://www.kfdm.com/sections/rss/">RSS Feeds</a></li> 
	<li><a target='_top' href="http://www.kfdm.com/sections/jobopportunities/">Job Openings</a></li> 
	<li><a target='_top' href="http://www.kfdm.com/sections/contactus/">Contact Us</a></li> 
	<li><a target='_top' href="http://www.kfdm.com/pdf/kfdmeeo.pdf" target="_blank">EEO Report</a></li> 
	</ul> 
	</li> 
	<li> 
	<a target='_top' class="title" href="http://kfdm.oodle.com/">CLASSIFIEDS</a><ul class="sub"> 
	<li><a target='_top' href="http://kfdm.oodle.com/vehicle/">Cars</a></li> 
	<li><a target='_top' href="http://kfdm.oodle.com/housing/sale/">Real Estate</a></li> 
	<li><a target='_top' href="http://kfdm.oodle.com/service/">Services</a></li> 
	</ul> 
	</li> 
	</ul></div><script type="text/javascript">if(navLoad)navLoad();</script> 
					</div> 
	<div id="navDontMiss"> 
		<ul> 
			<li class="dontMissLabel">Don't Miss:</li> 
			<li id="active"> 
		<a target='_top' href="http://www.kfdm.com/sections/weather/hurricane/" target="_self" class="current">Hurricane Center</a> <span class="dontMissPipe">|</span> 
	</li><li id="active"> 
		<a target='_top' href="http://www.kfdm.com/video/" target="_self" class="current">All KFDM Videos</a> <span class="dontMissPipe">|</span> 
	</li><li id="active"> 
		<a target='_top' href="http://www.kfdm.com/sections/bandoftheweek/" target="_self" class="current">Band of the Week</a> <span class="dontMissPipe">|</span> 
	</li><li id="active"> 
		<a target='_top' href="http://www.kfdm.com/video/live/" target="_self" class="current">Watch Newscasts Live</a> <span class="dontMissPipe">|</span> 
	</li><li id="active"> 
		<a target='_top' href="http://www.kfdm.com/sections/newslinks/" target="_self" class="current">Daily Links</a> <span class="dontMissPipe">|</span> 
	</li>        <li class="navShare"><a target='_top' href="http://www.kfdm.com/sections/rss"><img src="/themes/kfdm/images/share_feed.png" alt="feed" /></a></li> 
			<li class="navShare"><a target='_top' href="http://twitter.com/kfdmnews" target="_blank"><img src="/themes/kfdm/images/share_twitter.png" alt="twitter" /></a></li> 
			<li class="navShare"><a target='_top' href="http://www.facebook.com/KFDMNews" target="_blank"><img src="/themes/kfdm/images/share_fb.png" alt="facebook" /></a></li> 
		</ul> 
	</div> 
</div>
