<% if deal_state_access? %>
	<%= javascript_include_tag "adminToolbar_dealState.js" %>
	<div class='admin_toolbar_button_states' style="display: none;">
		<div id="buy_now">
			
			<div class="sold_out_state">
				<div id="sold_out" class="dd_button sold_out gradient"><span>Sold Out</span></div>
			</div><!-- END .sold_out_state -->
			
			<div class="over_state">
				<div id="deal_over" class="dd_button deal_over gradient"><span>Deal Over</span></div>
			</div><!-- END .over_state -->
			
			<div class="active_state">
				<a id="buy_now_button" class="dd_button" href="#" name="buy_now_button">Get it!</a>
			</div><!-- END .active_state -->
			
			<div class="active_variation_state">
				<a id="buy_now_button" class="dd_button dd_variations_button" href="<%= new_daily_deal_daily_deal_purchase_path(@daily_deal) %>" name="buy_now_button">Get it!</a>
				<%= render :partial => with_theme("shared/dd_variations_menu") %>
			</div><!-- END .active_variation_state -->
			
			<div class="not_yet_available_state">
				<div id="not_yet" class="dd_button"></div>
			</div><!-- END .not_yet_available_state -->

		</div><!-- /buy_now -->
	</div><!-- END .admin_toolbar_button_states -->
	<script type="text/javascript">
		jQuery('.admin_toolbar_button_states').dealState();
	</script>
<% end %>