<div class="share">
	<p>Share this deal:</p>
	<a href="<%= facebook_daily_deal_path(@daily_deal) %>" class="share_button facebook"  target="_blank" title="Share coupon on Facebook"><span>Facebook</span></a>
	<a href="<%= twitter_daily_deal_path(@daily_deal) %>" class="share_button twitter" target="_blank"><span>Twitter</span></a>
	<a id="share_via_email_link" href="" class="share_button email"><span>Email</span></a>
	<script type="text/javascript" charset="utf-8">
		var mailto = "mailto:"
		mailto += escape("<Insert Recipients Here>") +"?subject=" +escape('<%= "#{@daily_deal.publisher_prefix}: #{@daily_deal.value_proposition}" %>') +"&body=" +escape('Check out this deal at <%= daily_deal_url(@daily_deal) -%>?utm_source=fundogo-share_this_deal&utm_medium=email&utm_campaign=share-this-deal');
		document.getElementById('share_via_email_link').href = mailto;
	</script>
	<!-- Google Plus -->
<!-- 					<g:plusone></g:plusone> -->
	
	<!-- Place this render call where appropriate -->
	<script type="text/javascript">
	(function() {
	var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	po.src = 'https://apis.google.com/js/plusone.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	})();
	</script>				
	<!-- /Google Plus -->
</div><!-- /share -->
