<!-- Side Wrapper -->
<div id="side_wrapper">  		
	
    <%= render :partial => with_theme("shared/follow") %> 
    <%= render :partial => with_theme("shared/refer_friend") %> 
    <%= render :partial => with_theme("shared/sidedeals") %> 
    <%= render :partial => with_theme("shared/facebook_likebox") %>

<!-- /Side Wrapper -->  
<div class="clear"></div>
