<p style="margin: 0; padding: 8px;">
  <a href="http://www.957thewolf.com/" target="_blank" target="_blank" style="color: #ffffff;"><img border="0" height="50" src="http://{{ publisher.daily_deal_host }}/themes/entercom-sanfrancisco/images/stations/wolf.png" alt="95.7 The Wolf"></a>  
  <a href="http://www.koit.com/" target="_blank" target="_blank" style="color: #ffffff;"><img border="0" height="50" src="http://{{ publisher.daily_deal_host }}/themes/entercom-sanfrancisco/images/stations/koit.png" alt="96.5 KOIT"></a> 
  <a href="http://www.kfox.com/" target="_blank" target="_blank" style="color: #ffffff;"><img border="0" height="50" src="http://{{ publisher.daily_deal_host }}/themes/entercom-sanfrancisco/images/stations/kfox.png" alt="KFOX 95.5"></a> 
  <a href="http://www.kblx.com" target="_blank" target="_blank" style="color: #ffffff;"><img border="0" height="50" src="http://{{ publisher.daily_deal_host }}/themes/entercom-sanfrancisco/images/stations/kblx.png" alt="KBLX 102.9"></a>
</p>
 



