<div class="analog_analytics_content">                                                                                                      
  <%= render( :partial => "advertisers/sdcitybeat/panel.html.erb", :locals => {:business => business, :remote => true} ) %>  
</div>