<p>
<%= t(:wishlist_thank_you1) %><span class="blue365_with_space">Blue365!</span> <%= t(:wishlist_thank_you2) %>
</p>

<br />
<p><%= t(:heres_to_your_health) %>
<br /><br />

<img src="/themes/bcbsa/images/graphics/blue_team_signature_white.png" alt="The Blue365 Team">

</p>
