<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Deals Tampa Bay - Helping you find deals, steals, and bargains from across the Tampa Bay Area&#8230;and beyond.</title>
<meta name="description" content="Devoted to finding travel, restaurant, and shopping deals and bargains in the Tampa Bay Area."/>
<meta name="keywords" content="tampa bay, tampa, florida, travel, restaurant, deals, bargains, coupons, clothes, jewelry, shoes, tvs, computers, cameras" />
<meta name="robots" content="noindex"/>
<link rel="stylesheet" type="text/css" href="header_footer.css" />
 </head>
<body>
<div class="wrapper">
<div  id="myfoxtampabay_header">
<div  id="leaderboardwrap">
 <div  id="leaderboardwrap">

  <div  id="leaderboard_ad">

  <script language="JavaScript" type="text/javascript">
    var ord = ord || Math.random()*1000000000000000000; var tile; if(tile){ tile = tile+1;} else{ tile=1;} if(typeof col1row === "undefined"){col1row=1; col2row=1;col3row=1;} if(typeof ads !="object" || !ads){ads = new Array();} var adid; if (adid == undefined) adid=""; var adidSync=(adid!="")?";comp="+adid:"";var ist="";var istCount;if(!(istCount>0)){istCount=1}if(istCount<3 && ("" + location).indexOf("ist=none")==-1){ist=";dcopt=ist"}; if(typeof fname === "undefined"){fname="dealstampabay"};
   </script>
   <script language="JavaScript" type="text/javascript">
     var zone; if (typeof pageZone === "undefined"){zone="dealstampabay/landing"}else{zone=pageZone};  ads[tile] = '<scr' + 'ipt language="JavaScript" src="http://ad.doubleclick.net/adj/tsg.wtvt/' + zone + ';fname=' + fname + ';pos=728x90_top;kw=dealstampabay;tile='+tile+ist+';sz=728x90;ord=' + ord + '' + adidSync + '?rand=' + Math.random()*1000000000000000000 + '" type="text/javascript"></scr' + 'ipt>'; document.write(ads[tile]); istCount++;
   </script>
  <script>var adRefreshTimeout=1000;</script>

  </div>

</div>
 <div id="nav_bar">

<table width="1000" height="25"><tbody><tr><td align="center" width="108px">
&nbsp;&nbsp;
<a rel="nofollow" href='http://myfoxtampabay.edeals.com'>Home</a></td><td align="center" width="115px" height="20px">
<a rel="nofollow" href='http://wtvt.4wmt.com/default.aspx?go=' target='_blank'>Contests</a></td><td align="center" width="115px">
<a rel="nofollow" href='http://www.myfoxyardsale.com/' target='_blank'>Yard Sales</a> </td><td align="center" width="101px">
<a rel="nofollow" href='http://www.myfoxtampabay.com/subindex/weather/' target='_blank'>Tampa Bay Weather</a></td><td align="center" width="112px">
<a rel="nofollow" href='http://www.myfoxtampabay.com/' target='_blank'>Tampa Bay News</a></td><td align="center" width="121px">
<a rel="nofollow" href='http://www.myfoxtampabay.com/subindex/traffic/' target='_blank'>Tampa Bay Traffic</a></td><td align="center" width="181px">
<a rel="nofollow" href='http://www.myfoxtampabay.com/generic/consumer/tampa_bay_gas_prices/' target='_blank'>Tampa Bay's Cheapest Gas Prices</a></td></tr></tbody></table>
</div>
</div>
</div>
<!--  dealstampabay header end -->