<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  
  <link rel="stylesheet" href="/stylesheets/scoped_reset.css" type="text/css" />
  <link rel="stylesheet" href="/themes/viewall/stylesheets/templates.css" type="text/css" />

  <script src="/javascripts/lib/prototype.js" type="text/javascript"></script>
  <script src="/javascripts/effects.js" type="text/javascript"></script>
  <script src="/javascripts/dragdrop.js" type="text/javascript"></script>
  <script src="/javascripts/controls.js" type="text/javascript"></script>
  <script src="/javascripts/application.js" type="text/javascript"></script>
  
<!--[if lte IE 9]>
<link href="/themes/aa-templates/stylesheets/ie.css" media="all" rel="stylesheet" type="text/css" />
<![endif]-->

<!--[if IE 9]>
<link href="/themes/aa-templates/stylesheets/ie9.css" media="all" rel="stylesheet" type="text/css" />
<![endif]-->

  
  <title>Analog Analytics Bigger Better Deal Templates</title>

{% include "shared/tracking_google_analytics" %}
</head>

<body>
	<div id="wrapper">
		<h1>Bigger Better Deal Templates by Analog Analytics</h1>
		<div class="template">
			<h4>Roaring Lion</h4>
			<img class="thumbnail" src="/themes/viewall/images/thumbnails/roaringlion.png" height="346" width="300" alt="Roaring Lion" />
			<p>View Demo: <a href="/publishers/roaringlion/deal-of-the-day">Deal Page</a> | <a href="/publishers/roaringlion/deal-of-the-day-email">Email</a></p>
			<p><a href="/themes/viewall/documentation/aa-roaringlion.pdf" target="_blank">Documentation</a></p>
		</div>
		<div class="template">
			<h4>Prowling Panther</h4>
			<img class="thumbnail" src="/themes/viewall/images/thumbnails/prowlingpanther.png" height="346" width="300" alt="Prowling Panther" />
			<p>View Demo: <a href="/publishers/prowlingpanther/deal-of-the-day">Deal Page</a> | <a href="/publishers/prowlingpanther/deal-of-the-day-email">Email</a></p>
<!-- 			<p><a href="">Documentation</a></p> -->
		</div>
		<div class="template">
			<h4>Howling Wolf</h4>
			<img class="thumbnail" src="/themes/viewall/images/thumbnails/howlingwolf.png" height="346" width="300" alt="Howling Wolf" />
			<p>View Demo: <a href="/publishers/howlingwolf/deal-of-the-day">Deal Page</a> | <a href="/publishers/howlingwolf/deal-of-the-day-email">Email</a></p>
<!-- 			<p><a href="">Documentation</a></p> -->
		</div>
		<div class="template">
			<h4>Clever Betta</h4>
			<img class="thumbnail" src="/themes/viewall/images/thumbnails/cleverbetta.png" height="346" width="300" alt="Clever Betta" />
			<p>View Demo: <a href="/publishers/cleverbetta/deal-of-the-day">Deal Page</a> | <a href="/publishers/cleverbetta/deal-of-the-day-email">Email</a></p>
<!-- 			<p><a href="">Documentation</a></p> -->
		</div>
		<div class="template last">
			<h4>Leaping Gazelle</h4>
			<img class="thumbnail" src="/themes/viewall/images/thumbnails/leapinggazelle.png" height="346" width="300" alt="Leaping Gazelle" />
			<p>View Demo: <a href="/publishers/leapinggazelle/deal-of-the-day">Deal Page</a> | <a href="/publishers/leapinggazelle/deal-of-the-day-email">Email</a></p>
<!-- 			<p><a href="">Documentation</a></p> -->
		</div>
		<div class="clear"></div>
		<div class="a_a"><a href="http://analoganalytics.com/"><img src="/themes/viewall/images/aa_logo.png" height="45" width="301" border="0" alt="Analog Analytics"  /></a></div>
	</div><!-- /wrapper -->
{% include with_theme "shared/tracking_publisher" %}
{% include "daily_deals/javascript" %}
</body>
</html>


