<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>





	
	<title>The New Britain Herald: New Britain, Conn., and surrounding areas (newbritainherald.com)</title> 

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="keywords" content="Connecticut, New Britain, Berlin, Newington, Plainville, Farmington, Hartford County, news, newspaper, sports, local sports, breaking news">
	<meta name="description" content="Hartford County Connecticut daily newspaper covering local, regional, and national news including local sports, video and multimedia coverage, and classified advertising.">
	<meta name="verify-v1" content="ML0w01RHLK1yIFvwKD7rT86U4IUEFU4S0djrDrjuvjg=">
	<meta name="copyright" content="? &lt;? echo date ('Y'); ?&gt; Central Connecticut Communications, Inc., All Rights Reserved">

	<link rel="stylesheet" href="/themes/centralct/cached/wrapper-header-new_britain_files/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="/themes/centralct/cached/wrapper-header-new_britain_files/print.css" type="text/css" media="print">
	<link rel="stylesheet" href="/themes/centralct/cached/wrapper-header-new_britain_files/yp.css" type="text/css">
	<link rel="icon" type="image/png" href="/themes/centralct/cached/wrapper-header-new_britain_files/nbh_favicon.png">
	
	<!-- For dropdown network links (http://www.w3schools.com/js/tryit.asp?filename=tryjs_selectmenu) -->
	<script src="wrapper-header-new_britain_files/ga.js" async="" type="text/javascript"></script><script type="text/javascript">function go() {window.location=document.getElementById("network_menu").value;}</script>

	<!-- For tabbers (http://www.barelyfitz.com/projects/tabber/) -->
	<script type="text/javascript" src="/themes/centralct/cached/wrapper-header-new_britain_files/tabber-minimized.js"></script>
	<script type="text/javascript">document.write('<style type="text/css">.tabber{display:none;}<\/style>');</script><style type="text/css">.tabber{display:none;}</style>
	<script type="text/javascript" src="/themes/centralct/cached/wrapper-header-new_britain_files/zwtabber-min.js"></script>
	<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-17079728-1']);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>
</head>

<body>
 <div id="footer">
		<div class="footer_item clear">
		
		<ul>
			<li class="first"><h3>Sections: </h3></li>
			<li class="first"><a href="http://www.newbritainherald.com/">Home</a></li>
			<li><span>|</span></li>
			<li><a href="http://www.newbritainherald.com/news/">News</a></li>
			<li><span>|</span></li>
			<li><a href="http://www.newbritainherald.com/sports/">Sports</a></li>
			<li><span>|</span></li>
			<li><a href="http://www.newbritainherald.com/obituaries/">Obituaries</a></li>
            <li><span>|</span></li>
			<li><a href="http://www.newbritainherald.com/business/">Business</a></li>
            <li><span>|</span></li>
			<li><a href="http://www.newbritainherald.com/opinion/">Opinion</a></li>
			<li><span>|</span></li>
			<li><a href="http://www.newbritainherald.com/entertainment/">Entertainment</a></li>
			<li><span>|</span></li>
			<li><a href="http://www.newbritainherald.com/life/">Life</a></li>
			<li><span>|</span></li>
			<li><a href="http://www.newbritainherald.com/blogs/">Blogs</a></li>
			<li><span>|</span></li>
			<!-- <li><h3 style="margin:0"><a href="http://marketplace.newbritainherald.com/">Marketplace</a></h3></li>
			<li><span>|</span></li> -->
			<li><a href="http://jobs.newbritainherald.com/">Jobs</a></li>
			<li><span>|</span></li>
			<li><a href="http://www.newbritainherald.com/classifieds/real_estate/">Homes</a></li>
			<li><span>|</span></li>
			<li><a href="http://www.newbritainherald.com/classifieds/transportation/">Autos</a></li>
			<li><span>|</span></li>
			<li><a href="http://www.newbritainherald.com/classifieds/">Classifieds</a></li>
		</ul>
		
		</div>
		
		<div class="footer_item clear" style="text-align:center;">
		<ul>
			
			<!-- <li><span>|</span></li> -->
			<li class="first"><h3>Services: </h3></li>
			<li class="first"><a href="http://www.newbritainherald.com/art/2011-Rate_Card-web-email.pdf">Advertise With Us</a></li>
			<li><span>|</span></li>
			<li><a href="https://secure.townnews.com/newbritainherald.com/subscriber_services/">Subscribe</a></li>
			<li><span>|</span></li>
			<li><a href="https://secure.townnews.com/shared-content/adowl/front-end.php?domain=newbritainherald.com&instance=adowl&ui=peekaboo">Place A Classified Ad</a></li>
			<li><span>|</span></li>
			 <li><a href="http://www.newbritainherald.com/nie/">Newspapers In Education</a></li>
			 <li><span>|</span></li>
		    <!--<li><a href="http://www.newbritainherald.com/">Submit Announcements</a></li>
			<li><span>|</span></li>
			<li><a href="http://www.newbritainherald.com/">E-Paper</a></li>
			<li><span>|</span></li>
	        <li><a href="http://www.newbritainherald.com/help/">Help</a></li>
			<li><span>|</span></li>-->
			<li><a href="http://www.newbritainherald.com/contact/">Contact Us</a></li>
			<li><span>|</span></li>
			<li><a href="http://www.newbritainherald.com/rss/"><img src="http://www.newbritainherald.com/images/rss.png" alt="rss icon" style="margin-bottom: -2px;"http://www.newbritainherald.com/> RSS Feeds</a></li>
		</ul>
		</div>
		
		
		<div class="footer_item clear">
		
		<ul>
						<li class="first"><h3>Network: </h3></li>
<li class="first"><a href="http://www.newbritainherald.com/">New Britain Herald</a></li><li><span>|</span></li>

<li><a href="http://www.bristolpress.com/">Bristol Press</a></li><li><span>|</span></li>

<li><a href="http://www.newingtontowncrier.com/">Newington Town Crier</a></li><li><span>|</span></li>

<li><a href="http://www.wethersfieldpost.com/">Wethersfield Post</a></li>
<li><span>|</span></li>
<li><a href="http://www.rockyhillpost.com/">Rocky Hill Post </a></li>
		</ul>
		</div>
		
		
		
		<p><span class="copyright">&copy; Copyright <? echo date("Y"); ?> The New Britain Herald</span>, a Central Connecticut Communications Property. All rights reserved</p>		
		
	</div><!-- /footer -->
</div> <!--/container-->



<!-- For main dropdown navigation (http://www.htmldog.com/articles/suckerfish/dropdowns/) -->
<script type="text/javascript"><!--//--><![CDATA[//><!--
sfHover = function() {
var sfEls = document.getElementById("nav").getElementsByTagName("LI");
for (var i=0; i<sfEls.length; i++) {
sfEls[i].onmouseover=function() {
this.className+=" sfhover";
}
sfEls[i].onmouseout=function() {
this.className=this.className.replace(new RegExp(" sfhover\\b"), "");
}
}
}
if (window.attachEvent) window.attachEvent("onload", sfHover);
//--><!]]>
</script>


<!-- ad position here -->




</body>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-xxxxxx-x");
pageTracker._trackPageview();
</script>
</html>