
<body>
<script type='text/javascript' src='/themes/centralct/cached/wrapper-header-newington_files/tracker.js'></script>
<script type='text/javascript'>
<!--
 if (typeof(TNStats_Tracker) !== 'undefined' && typeof(TNTracker) === 'undefined') { TNTracker = new TNStats_Tracker('support.townnews.com'); TNTracker.setTrackerDomain('stats.townnews.com'); TNTracker.trackPageView(); }
// -->
</script><div class="zwire"><div class="navg">
<div class="dept">

<table id="ht" cellpadding="0" cellspacing="0">
	
											
										<!-- SiteCatalyst code version: H.8.
Copyright 1997-2006 Omniture, Inc. More info available at
http://www.omniture.com -->
<script language="JavaScript" src="/themes/centralct/cached/wrapper-header-newington_files/s_code.js"></script>
<script language="JavaScript"><!--
/* You may give each page an identifying name, server, and channel on
the next lines. */
s.pageName=""
s.server=""
s.channel=""
s.pageType=""
s.prop1=""
s.prop2=""
s.prop3=""
s.prop4=""
s.prop5=""
/* E-commerce Variables */
s.campaign=""
s.state=""
s.zip=""
s.events=""
s.products=""
s.purchaseID=""
s.eVar1=""
s.eVar2=""
s.eVar3=""
s.eVar4=""
s.eVar5=""
/************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
var s_code=s.t();if(s_code)document.write(s_code)//--></script>
<script language="JavaScript"><!--
if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
//--></script><noscript><a href="http://www.omniture.com" title="Web Analytics"><img
src="/themes/centralct/cached/wrapper-header-newington_files/0"
height="1" width="1" border="0" alt="" /></a></noscript><!--/DO NOT REMOVE/-->

<!-- End SiteCatalyst code version: H.8. -->
									
		
		<tr>
			<td id="row1075">
				<table id="rt_1075" cellpadding="0" cellspacing="0">
					<tr>
						<td id="row1075_obj_1">
							<div class="topbanner">
								<SCRIPT LANGUAGE="JavaScript1.1" SRC="/themes/centralct/cached/wrapper-header-newington_files/bannerad.asp?ADLOCATION=1&PAG=460&BRD=1647&LOCALPCT=100&AREA=410&VERT=475&NAREA=410&RULE=1&AT=JS&barnd=3660"> </script> 
								<script LANGUAGE="JavaScript"> <!-- if (parseFloat(navigator.appVersion) == 0) { document.write('<IFRAME width="" MARGINWIDTH=0 MARGINHEIGHT=0 HSPACE=0 VSPACE=0 FRAMEBORDER=0 SCROLLING=no BORDER="0" BORDERCOLOR="#000000" SRC="http://bannerads.zwire.com/bannerads/bannerad.asp?ADLOCATION=1&PAG=460&BRD=1647&LOCALPCT=100&AREA=410&VERT=475&NAREA=410&RULE=1&AT=IF&barnd=7070"></iframe>'); } //--> </SCRIPT> <noscript> <A HREF="http://bannerads.zwire.com/bannerads/redirect.cfm?ADLOCATION=1&PAG=460&BRD=1647" ><img border=0 alt="Click Here!" SRC="http://bannerads.zwire.com/bannerads/bannerad.asp?ADLOCATION=1&PAG=460&BRD=1647&LOCALPCT=100&AREA=410&VERT=475&NAREA=410&RULE=1&barnd=1756"></a> </noscript></div></td></tr></table></td></tr><tr><td id="row1100"><table id="rt_1100" cellpadding="0" cellspacing="0"><tr><td id="row1100_obj_1"><table id="weathertable"><tr><td id="col101">
									
										<!-- COB above weather -->
									
								<div class="weather"></div>
						</td>
					</tr>
				</table>
			</td>
			<td id="row1100_obj_2"><a id="mastheadlogo" href="http://www.zwire.com/site/news.cfm?brd=1647">
				<img border="0" src="http://images.zwire.com/local/Z/ZWIRE1647/custlogoLG.gif?v=1.001" width="390" height="55" alt=""></a></td><td id="row1100_obj_3"><form name="news_search" class="news_search" method="post" action="news.cfm?brd=1647&amp;pag=628&amp;cat_id=402"><table cellpadding="0" cellspacing="0"><thead><tr><td colspan="2">News Search</td></tr></thead>
								
								
	<tbody>
		<tr><td class="inputs"><input class="searchinput" type="text" name="search"><br><a class="advancedsearch" href="news.cfm?brd=1647&amp;pag=628&amp;cat_id=402">Advanced search</a></td><td class="go"><a href="javascript:document.news_search.submit();">go</a></td></tr>
								</tbody>
								</table></form></td></tr></table></td></tr><tr><td id="row1150"><table id="rt_1150" cellpadding="0" cellspacing="0"><tr><td id="row1150_obj_1"><table class="tabbar" cellpadding="0" cellspacing="0"><tr><td class="tab1"><a href="http://www.zwire.com/site/News.cfm?brd=1647">News</a></td><td class="tab2"><a href="http://www.newbritainherald.com/classifieds/">Classifieds</a></td><td class="tab3"><a href="http://www.zwire.com/site/directory.cfm?brd=1647">Directory</a></td><td class="tab4"><a href="http://www.centralctjobs.com/">Jobs</a></td><td class="tab5"><a href="http://www.newbritainherald.com/classifieds/real_estate/">Real Estate</a></td><td class="tab6"><a href="http://www.newbritainherald.com/classifieds/transportation/">Autos</a></td></tr></table></td></tr></table></td></tr><tr><td id="row1200"><table id="rt_1200" cellpadding="0" cellspacing="0"></table></td></tr></table><tr>
								
	
	</tr>
</table>

	
	<script type="text/javascript">
	<!-- //omniture
		 var pom_brand_cust_name = "Newington Town Crier";
		 var pom_brand_id = "1647";
		 var pom_report_id = "qa_pom_1647";
		 var pom_domain = "www.newingtontowncrier.com";
		 var pom_product_id = "2";
		 var pom_page_type = "Story List";
		 var pom_page_type_id = "17";

		 var adq_natl_cat = "";
		 var adq_natl_subcat = "";
		 var adq_cust_cat = "";
		 var adq_cust_subcat = "";
		 var adq_citystate = "";
		 var adq_zip = "";
		 var adq_radius = "";
		 var adq_keyword_1 = "";
		 var adq_keyword_2 = "";
		 var adq_keyword_3 = "";
		 var adq_keyword_4 = "";
		 var adq_results_page = "";
	
		 var zwire_vertical = "News";
		 var zwire_section_name = "News";
		 var zwire_dept_name = "Top Stories";
		 var zwire_national_section_id = "Top Stories";
		 var zwire_headline = "";
		 var zwire_date_range = "";
		 var zwire_headline_keyword = "";
		 var zwire_article_keyword = "";
		 var zwire_archive_results_page = "";
		 var zwire_reg_complete = "";
		 var zwire_login_complete = "";
	
		 var yp_page_type = "";
		 var yp_type_keyword = "";
		 var yp_name_keyword = "";
		 var yp_region = "";
		 var yp_citystate = "";
		 var yp_category = "";
		 var yp_company_name = "";
		 var yp_proper_name = "";
		 var yp_results_page = "";
	
		 var da_adtype = ""
		 var da_advertiser = "";
		 var da_special_section = "";
	// --> 
	</script>


	
		
	<script type="text/javascript">document.write("<img src='http://www.zwire.com/gen/qc/qualitycontrol.cfm?brd=1647&pId=2&host=www.newingtontowncrier.com&sn=zwire15&uri=%2Fsite%2Fnews%2Ecfm&qs=brd%3D1647&pag=460'  width='1' height='1' />")</script>
	
	
	


 


<SCRIPT LANGUAGE="JavaScript1.1" SRC="http://bannerads.zwire.com/bannerads/bannerad.asp?ADLOCATION=999&PAG=460&BRD=1647&LOCALPCT=&AREA=410&VERT=475&NAREA=410&PC=2&AT=JS&barnd=9537"> </script></div></div></div></body></html>



