<html><!--
		{$skin: 6 $,$revision: 5 $,$modtime: 3/08/02 11:01a $}
	--><head>
<META http-equiv="Content-Type" content="text/html">
<link href="/themes/centralct/cached/wrapper-header-newington_files/baseline.css" type="text/css" rel="stylesheet"><link href="/themes/centralct/cached/wrapper-header-newington_files/skin_5_look.css" type="text/css" rel="stylesheet"><title>Newington Town Crier</title>

<!--  -->
</head><body>
<script type='text/javascript' src='/themes/centralct/cached/wrapper-header-newington_files/tracker.js'></script>
<script type='text/javascript'>
<!--
 if (typeof(TNStats_Tracker) !== 'undefined' && typeof(TNTracker) === 'undefined') { TNTracker = new TNStats_Tracker('support.townnews.com'); TNTracker.setTrackerDomain('stats.townnews.com'); TNTracker.trackPageView(); }
// -->
</script><div class="zwire"><div class="vert_News"><div class="navg"><div class="dept">



<table id="ft" cellpadding="0" cellspacing="0" bgcolor="#ffffff">

	
		<tr><td id="row2010">
<table id="rt_2010" cellpadding="0" cellspacing="0"><tr><td id="row2010_obj_1">
	<div id="footertext">

<TABLE WIDTH="450" BORDER="0" CELLSPACING="0" CELLPADDING="0"> 
		<TR> 
    <TD width="37"><IMG SRC="/themes/centralct/cached/wrapper-header-newington_files/newingtonsm.gif" HEIGHT="37"></TD>

    <TD WIDTH="5"> 
      <DIV ALIGN="left"></DIV>
    </TD>
    
    <TD width="408"><FONT SIZE="1" FACE="Arial, Helvetica, sans-serif">Questions or comments? E-mail the <a href="mailto:dwarren@centralctcommunications.com">editor</a>.<BR>
      <a href="http://www.zwire.com/site/news.cfm?brd=1647&pag=460&dept_ID=485618">Click 
      here</a> for home delivery of the Newington Town Crier. </FONT>
      </TD></TR></TABLE>
<FONT SIZE="1" FACE="Arial, Helvetica, sans-serif"><br></font>
	</div>
	
	</td></tr></table>
	</td></tr>
	<tr>
	<td id="row2020">
<table id="rt_2020" cellpadding="0" cellspacing="0"><tr><td id="row2020_obj_1">
	<div id="copyrighttext">Copyright &copy; 1995 - 2011 <nobr><a href="http://www.newingtontowncrier.com">www.newingtontowncrier.com</a></nobr>  All Rights Reserved.
		</div>
		</td></tr></table>
	</td></tr>
	<tr><td id="row2030"><table id="rt_2030" cellpadding="0" cellspacing="0">
		<tr><td id="row2030_obj_1"><table class="tabbar" cellpadding="0" cellspacing="0">
		<tr><td class="tab1"><a href="http://www.zwire.com/site/News.cfm?brd=1647">News</a></td>
	<td class="tab2"><a href="http://www.newbritainherald.com/classifieds/">Classifieds</a></td>
		<td class="tab3"><a href="http://www.zwire.com/site/directory.cfm?brd=1647">Directory</a></td>
	<td class="tab4"><a href="http://www.centralctjobs.com/">Jobs</a></td>
	<td class="tab5"><a href="http://www.newbritainherald.com/classifieds/real_estate/">Real Estate</a></td>
	<td class="tab6"><a href="http://www.newbritainherald.com/classifieds/transportation/">Autos</a>
		</td></tr></table>
		</td></tr></table>
		</td></tr></table>






	
	<script type="text/javascript">
	<!-- //omniture
		 var pom_brand_cust_name = "Newington Town Crier";
		 var pom_brand_id = "1647";
		 var pom_report_id = "qa_pom_1647";
		 var pom_domain = "www.newingtontowncrier.com";
		 var pom_product_id = "2";
		 var pom_page_type = "Story List";
		 var pom_page_type_id = "17";

		 var adq_natl_cat = "";
		 var adq_natl_subcat = "";
		 var adq_cust_cat = "";
		 var adq_cust_subcat = "";
		 var adq_citystate = "";
		 var adq_zip = "";
		 var adq_radius = "";
		 var adq_keyword_1 = "";
		 var adq_keyword_2 = "";
		 var adq_keyword_3 = "";
		 var adq_keyword_4 = "";
		 var adq_results_page = "";
	
		 var zwire_vertical = "News";
		 var zwire_section_name = "News";
		 var zwire_dept_name = "Top Stories";
		 var zwire_national_section_id = "Top Stories";
		 var zwire_headline = "";
		 var zwire_date_range = "";
		 var zwire_headline_keyword = "";
		 var zwire_article_keyword = "";
		 var zwire_archive_results_page = "";
		 var zwire_reg_complete = "";
		 var zwire_login_complete = "";
	
		 var yp_page_type = "";
		 var yp_type_keyword = "";
		 var yp_name_keyword = "";
		 var yp_region = "";
		 var yp_citystate = "";
		 var yp_category = "";
		 var yp_company_name = "";
		 var yp_proper_name = "";
		 var yp_results_page = "";
	
		 var da_adtype = ""
		 var da_advertiser = "";
		 var da_special_section = "";
	// --> 
	</script>

		
	
	


	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

	
		
	
		
	<script type="text/javascript">document.write("<img src='http://www.zwire.com/gen/qc/qualitycontrol.cfm?brd=1647&pId=2&host=www.newingtontowncrier.com&sn=zwire15&uri=%2Fsite%2Fnews%2Ecfm&qs=brd%3D1647&pag=460'  width='1' height='1' />")</script>
	
	
	


 


<SCRIPT LANGUAGE="JavaScript1.1" SRC="http://bannerads.zwire.com/bannerads/bannerad.asp?ADLOCATION=999&PAG=460&BRD=1647&LOCALPCT=&AREA=410&VERT=475&NAREA=410&PC=2&AT=JS&barnd=9537"> </script></div></div></div></div></body></html>



