<div class="box2">
  <div class="righttall">
    <div class="lefttall">
      <div class="bot_right">
        <div class="bot_left">
          <div class="toptall">
            <div class="top_right">
              <div class="top_left">
<%= body %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
