<div class="box">
  <div class="bot_left">
    <div class="bot_right">
      <div class="top_left">
        <div class="top_right">
          <div class="padding" style="padding:2em;text-align:justify">
<%= body %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
