<% set_page_title "Help and Support" %>
<% @navbar_active_item_tag = :r4 %>

<% row1 do %>
  <% box2 do %>
    <div class="padding" style="text-align:justify">
    <h2>Help and Support</h2>
    <br/>
    <br style="line-height:10px" />
    <table>
      <tr>
        <td style="text-align:right;padding-right:1em;"><a href="#facts">Quick Facts:</a></td><td>An overview of what TXT411 does and how to use it.</td>
      </tr>
      <tr>
        <td style="text-align:right;padding-right:1em;"><a href="#faqs">FAQs:</a></td><td>Frequently Asked Questions about TXT411.</td>
      </tr>
      <tr>
        <td style="text-align:right;padding-right:1em;"><%= link_to("Terms of Service", txt411_terms_path) %>:</td><td>Legal requirements for using TXT411 and this site.</td>
      </tr>
      <tr>
        <td style="text-align:right;padding-right:1em;"><%= link_to("Privacy Policy", txt411_privacy_path) %>:</td><td>We are committed to protecting your privacy</td>
      </tr>
    </table>
  </div>
<% end -%>
<% end -%>
    <!--row2 -->
    <div id="row2">
      <div class="main"><a name="facts"></a>
        <div class="indent">
          <div class="box">
            <div class="bot_left">
              <div class="bot_right">
                <div class="top_left">
                  <div class="top_right">
                    <div class="padding" align="justify">
                      <h4>Quick Facts</h4>
                      <br style="line-height:12px" />
                      <a name="what">WHAT TXT411 DOES:</a>&nbsp;&nbsp;TXT411 is the delivery mechanism for Super Banner Mobile Coupons, which provide a quick and convenient way for you to receive and save special offers about products or services you've seen in online advertisements. A text message containing information about the offer is sent to your mobile phone from TXT411 (898411) when you request a Super Banner Mobile Coupon online.<br />
                      <br style="line-height:12px" />
                      <a name="how">HOW TO USE TXT411:</a>&nbsp;&nbsp;When you encounter an online advertisement that offers Super Banner Mobile Coupons, you can request a coupon by providing your mobile phone number together with any other required information and clicking the submit button. The special offer information you've requested will be sent as a text message from TXT411 to your mobile phone.<br />
                      <br style="line-height:12px" />
                      <a name="how">MESSAGING COSTS:</a>&nbsp;&nbsp;Standard text message rates apply. Messages will be billed for in accordance with the terms of your contract with your mobile telecom provider.<br />
                      <br style="line-height:12px" />
                      <a name="control">YOU'RE IN CONTROL:</a>&nbsp;&nbsp;You will only receive a text message from TXT411 when you have asked us to send it to you by completing a Super Banner Mobile Coupon request form at an advertiser's web site. Nevertheless, should you decide that you do not want us to send any coupons to your mobile phone in the future, you can opt out of receiving text messages from us.<br />
                      <br style="line-height:12px" />
                      <a name="optout">HOW TO OPT OUT:</a>&nbsp;&nbsp;To opt out of receiving any further text messages from TXT411, submit an <a href="/mobile_phones/new">opt-out request</a> online at this site, or send a text message containing the word STOP to 898411 from your mobile phone. Once we've processed your request, which should take no more than a few seconds, you will no longer receive text messages from TXT411.<br />
                      <br style="line-height:13px" />
                      <a name="help">HOW TO GET HELP:</a>&nbsp;&nbsp;You can text HELP to 898411 at any time to get help sent to your mobile phone. You can also consult our <a href="#faqs">FAQs</a> section online, email our help desk at <a href="mailto:support@txt411.com">support@txt411.com</a>, or call our toll-free support line at (877) 898-4114.<br />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main"><a name="faqs"></a>
        <div class="indent">
          <div class="box">
            <div class="bot_left">
              <div class="bot_right">
                <div class="top_left">
                  <div class="top_right">
                    <div class="padding" align="justify">
                      <h4>Frequently Asked Questions</h4>

                      <br style="line-height:12px" />
                      <a name="faq-carriers">Which mobile phone carriers and handsets does the service support?</a>&nbsp;&nbsp;The service supports the text messaging services and compatible equipment of the following carriers in the United States: Alltel, AT&T, Boost Mobile, Cellcom, Cellular South, Cincinnati Bell, Dobson, East Kentucky Network, Immix, nTelos, Sprint/Nextel, Suncom, T-Mobile, US Cellular, Verizon, and Virgin Mobile.<br />
                      
                      <br style="line-height:12px" />
                      <a name="faq-cost">What does the service cost?</a>&nbsp;&nbsp;Standard text message rates apply. Your mobile telecom service provider will bill you for messages you send and receive according to the terms of your service contract. Please contact your service provider for additional details.<br />
                      <br style="line-height:12px" />
                      <a name="faq-optin">How do I opt in to the service?</a>&nbsp;&nbsp;When you see an online ad that offers a Super Banner Mobile Coupon, click on the ad and then fill out the coupon request form that appears. Before submitting the form, ensure that you've read and agree to the advertiser's Terms and Conditions, which are prominently linked from the form. Shortly after submitting the form, you will receive a text message on your mobile phone from TXT411 (898411) containing the coupon you requested.<br />
                      <br style="line-height:12px" />
                      <a name="faq-messages">Will I be sent additional messages after I opt to receive a Super Banner Mobile Coupon?</a>&nbsp;&nbsp;No. Unless you specifically state that you want to opt in to an advertiser's messaging program on an ongoing basis, or you request another coupon, you will not receive further text messages from TXT411.<br/>
                      <br style="line-height:12px" />
                      <a name="faq-optout">How do I opt out of the service?</a>&nbsp;&nbsp;To opt out of receiving any further text messages from TXT411, submit an <a href="/mobile_phones/new">opt-out request</a> online at this site, or send a text message containing the word STOP to 898411 from your mobile phone. Once we've processed your request, which should take no more than a few seconds, you will no longer receive text messages from TXT411.<br />
                      <br style="line-height:12px" />
                      <a name="faq-reopt">I opted out of the service in the past but would like to begin receiving coupons again. How can I do that?</a>&nbsp;&nbsp;To allow the sending of Super Banner Mobile Coupons to your mobile phone after opting out, please send a text message containing the word START to 898411.<br />
                      <br style="line-height:12px" />
                      <a name="faq-contact">Will an advertiser ever contact me directly?</a>&nbsp;&nbsp;It is possible that the advertiser will contact you directly to discuss an offer for which you've opted to receive a Super Banner Mobile Coupon. For example, the advertiser may email you at the address you provided on the Super Banner Mobile Coupon request form or call you at the mobile number you provided. The advertiser's Terms and Conditions describe in detail the uses that the advertiser may make of the information you provide on the form, and a link to these Terms and Conditions is always prominently displayed on the form. You will be asked to confirm explicitly that you have read and agree to the advertiser's Terms and Conditions before submitting the coupon request.<br/>
                      <br style="line-height:12px" />
                      <a name="faq-repeat">What happens if I repeatedly request a particular Super Banner Mobile Coupon?</a>&nbsp;&nbsp;Your standard text message charges will apply to each copy of the coupon that you receive. We may limit the rate of delivery of coupons to your mobile phone and enforce a cap on the total number sent. TXT411 also reserves the right to terminate your access to the service after an unreasonable number of repeat coupon requests.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
