<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  
  <link rel="stylesheet" href="/stylesheets/scoped_reset.css" type="text/css" />
  <link rel="stylesheet" href="/stylesheets/application.css" type="text/css" />
  <link rel="stylesheet" href="/themes/daily_deals/stylesheets/daily_deals.css" type="text/css" />
  <link rel="stylesheet" href="/themes/freedom/stylesheets/daily_deals.css" type="text/css" />
  <link rel="stylesheet" href="/themes/freedom/stylesheets/popup_form.css" media="all"  type="text/css" />
  <link rel="stylesheet" href="/themes/vvdailypress/stylesheets/coupon-offers.css" type="text/css" />	

  <script src="/javascripts/prototype.js" type="text/javascript"></script>
  <script src="/javascripts/effects.js" type="text/javascript"></script>
  <script src="/javascripts/dragdrop.js" type="text/javascript"></script>
  <script src="/javascripts/controls.js" type="text/javascript"></script>
  <script src="/javascripts/application.js" type="text/javascript"></script>
  <script src="/themes/freedom/javascript/cookies.js" type="text/javascript"></script>
  {% include with_theme "shared/share_buttons_js" %}
  
  <link rel="stylesheet" href="/themes/vvdailypress/stylesheets/load.css" media="all"  type="text/css" />
  <link rel="stylesheet" href="/themes/vvdailypress/stylesheets/daily_deals.css" type="text/css" />
  
  

<!--[if IE]>
<link href="/themes/freedom/stylesheets/ie.css" media="all" rel="stylesheet" type="text/css" />
<![endif]-->

<script type="text/javascript">
function slideUpAndRemember(element) {
new Effect.SlideUp(element);
setCookie('slide.'+element, 'up', 1);
}

function slideDownAndForget(element) {
new Effect.SlideDown(element);
setCookie('slide.'+element, 'down', -1);
}
</script>
  
  <title>{% daily_deal_page_title %}</title>
  {% include "shared/tracking_google_analytics" %}

    <script type="text/javascript">
        Event.observe(window, 'load', function() {
            cookieValue = getCookie('slide.banner');
            if (cookieValue == null || cookieValue == "") {
                Effect.SlideDown('banner');
                return false;
            }
        });
    </script>
</head>


<body class="vvdailypress">

<div id="fi_wrapper">
	<!--<div id="vvheader" style="display: block;margin-bottom: 10px;clear: both;overflow:hidden;width:985px;">
		
	</div>-->
	
	<!--Analog_Analytics_Daily_Deal-->
	<div id="analog_analytics">
		<div id="daily_deal">
			{% include with_theme "shared/banner" %}
	
			<div id="dd_content">
				
				{% include with_theme "shared/ddnav" %}
		
			{% include "shared/flash" %}
			{{ content_for_layout }}
		
		</div><!--daily_deal-->
		<div class="clear"></div>
	</div><!--analog_analytics-->
	</div>
	
	<div id="vvfooter" style="margin-top: 10px;">
		{% include with_theme "shared/footer" %}
	</div>
	
</div>
{% include with_theme "shared/tracking_publisher" %}
{% include with_theme "daily_deals/javascript" %}
</body>
</html>
