<% set_page_title "Login failed"%>

<p style="margin: 0 auto 18px; text-align: justify; width: 700px;">We apologize, but your Coupon Admin account has not yet been activated and the page is not available.  Please be advised that once a premium advertiser listing is created, it takes between 24 and 48 hours for the coupon account to be activated in our system.  Should you have any questions, please contact Client Services at 800-203-4367.</p>
