<div id="stv_header">
	<div id="stv_toprail">
		
	</div>
	<div id="stv">
		<a href="http://stv.tv" id="stv_logo"><img src="/themes/stv/images/graphics/stv-lg.png" width="132" height="100" alt="STV" /></a>
		<div id="stv_leaderboard">
			<!------ OAS AD 'Top' begin ------>  
			<SCRIPT LANGUAGE=JavaScript>  
			<!--  
			if( typeof OAS_AD != "undefined" ) {
			  OAS_AD('Top');  
			}
			//-->  
			</SCRIPT>  
			<!------ OAS AD 'Top' end ------>
		</div>
	</div>
	<div id="stv_nav">
		<ul id="global">
			<li><a href="http://www.stv.tv">Home</a></li>
			<li><a href="http://player.stv.tv">STV Player</a></li>
			<li><a href="http://tvguide.stv.tv">TV Guide</a></li>
			<li><a href="http://programmes.stv.tv">TV Shows</a></li>
			<li><a href="http://news.stv.tv">News</a></li>
			<li><a href="http://sport.stv.tv">Sport</a></li>
			<li><a href="http://entertainment.stv.tv">Entertainment</a></li>
			<li><a href="http://living.stv.tv">Living</a></li>
			<li><a href="http://local.stv.tv">Local</a></li>
			<li><a href="http://my.stv.tv">My STV</a></li>
		</ul>
		<ul id="common">
			<li><a href="http://deals.stv.tv/">Deals</a></li>
			<li><a href="http://www.stv.tv/weather/">Weather</a></li>
			<li><a href="http://www.stv.tv/bingo/">Bingo</a></li>
			<li><a href="http://www.stv.tv/competitions/">Competitions</a></li>
		</ul>
	</div>
</div>