<% set_daily_deal_page_title_slug "Claim Your Deal FAQs" %>
<div class="page_row">  
  <div class="interior_page_box">    
		<div id="interior_page_header">
			<h2 class="content">Frequently Asked Questions</h2>
		</div><!--  end #interior_page_header -->
		<div class="interior_page_content_box">
			<h4>What is the Daily Deal?</h4>
			<p>Each day one incredible deal is featured as the Daily Deal. The offer is only available for a limited amount of time, so make sure to check back frequently so you don't miss out!</p>
		</div><!-- end .interior_page_content_box -->
		<div class="interior_page_content_box">
			<h4>How do I buy today's Daily Deal?</h4>
			<p>Click on the "Buy Now" button before midnight on the day the offer expires.</p>
		</div><!-- end .interior_page_content_box -->
		<div class="interior_page_content_box">
			<h4>What happens after I buy a Daily Deal?</h4>
			<p>After you make a purchase, you'll receive the Daily Deal voucher to print out via email. Take the Daily Deal to the store or merchant any time before the expiration date to enjoy the fruits of your labor.</p>
		</div><!-- end .interior_page_content_box -->
		<div class="interior_page_content_box">
			<h4>What if I want to use just part of the Daily Deal voucher and save the rest for later?</h4>
			<p>Sorry, you're going to have to use that sweet deal in just one visit. However, some merchants may be willing to work with you if this situation arises.</p>
		</div><!-- end .interior_page_content_box -->
		<div class="interior_page_content_box">
			<h4>If my name is on the Daily Deal voucher, can the merchant charge my account?</h4>
			<p>No. The merchant does not have your account information. That is held by Analog Analytics, the software company that processes the transaction for the publisher.</p>
		</div><!-- end .interior_page_content_box -->
		<div class="interior_page_content_box">
			<h4>Is the transaction safe for me to use?</h4>
			<p>Yes. The transaction uses SSL and other industry standard security features to ensure that no one else has access to your credit card information.</p>
		</div><!-- end .interior_page_content_box -->
		<div class="interior_page_content_box">
			<h4>When I gift the Daily Deal to a friend, will they have access to my account information?</h4>
			<p>No, on the Daily Deal voucher, there is a record of the transaction, the purchaser's name and the gifted consumer's name, along with a unique 8-digit code. The payment information is secure on a site that no consumer has access to.</p>
		</div><!-- end .interior_page_content_box -->
		<div class="interior_page_content_box">
			<h4>Can I combine the Daily Deal with other offers the merchant might have presented previously?</h4>
			<p>No, each Daily Deal has its own terms.</p>
		</div><!-- end .interior_page_content_box -->
		<div class="interior_page_content_box">
			<h4>What if the merchant does not honor the offer?</h4>
			<p>We go out of our way to vet each advertiser and make sure they live up to our high standards. We will also provide recent reviews or testimonials to help you get a better feel for what you are buying. On the rare occurrence that something happens and you're not satisfied, we (through Analog Analytics) will refund the offer.</p>
		</div><!-- end .interior_page_content_box -->
		<div class="interior_page_content_box">
			<h4>What if I miss the expiration date?</h4>
			<p>If you miss the expiration date on your deal, take heart, all is not lost! While the additional discounts are no longer available, you are still entitled to goods and services equal to the paid value of the voucher.</p>
			<p>For example, if you spend $25.00 to buy a $50.00 voucher for your new favorite restaurant, but are unable to get there before the expiration date, you will still be entitled to $25.00 of food, drink and good times.</p>
		</div><!-- end .interior_page_content_box -->
		<div class="interior_page_content_box">
			<h4>What if I have more questions?</h4>
			<p>Feel free to email <%= mail_to(@publisher.support_email_address, nil, :target => "_blank") %> or call 877-898-4114. The claimyourdeal.com Daily Deal and Analog Analytics teams will be more than happy to answer any additional questions you may have.</p>
		</div><!-- end .interior_page_content_box -->
  </div><!-- end .interior_page_box -->
	<div id="sidebar">
		<%= render :partial => with_theme("shared/subscribe") %>
		<%= render :partial => with_theme("shared/refer_friend") %>
			<%= render :partial => with_theme("shared/facebook_box") %>
	</div><!-- end #sidebar -->
</div><!-- end .page_row -->