<ul id="footer">
	<li class="how_it_works"><a href="<%= how_it_works_publisher_daily_deals_path(@publisher) %>">How It Works</a></li>
	<li class"contact_us"><a href="<%= contact_publisher_daily_deals_path(@publisher) %>">Contact Us</a></li>
</ul>