<% if @publisher.label == "northwestfloridadailynews" %>
	<a id="contest_banner" href="https://www.facebook.com/NWFDNDOTD?sk=app_212077615474453">
<% elsif @publisher.label == "panamacitynewsherald" %>
	<a id="contest_banner" href="http://www.facebook.com/pcdealoftheday/app_212077615474453">
<% elsif @publisher.label == "rgv" %>
	<a id="contest_banner" href="https://www.facebook.com/rgvdealoftheday?sk=app_212077615474453">
<% elsif @publisher.label == "vvdailypress" %>
	<a id="contest_banner" href="https://www.facebook.com/HighDesertDeals?sk=app_212077615474453">
<% elsif @publisher.label == "gazette" %>
	<a id="contest_banner" href="https://www.facebook.com/CSDealoftheDay/app_212077615474453">
<% elsif @publisher.label == "yumasun" %>
	<a id="contest_banner" href="http://yumasun.upickem.net/engine/YourSubmission.aspx?contestid=61150">
<% elsif @publisher.label == "ocregister" %>
	<a id="contest_banner" href="http://apps.facebook.com/sweepstakeshq/contests/231947">			
<% end %>
		<img src="/themes/freedom/images/graphics/facebook_contest_banner.jpg" alt="Facebook Contest">
	</a>