<div id="what-is-cvv-popup" style="width: 510px; margin: 20px 0 0 20px">
  <p style="font: normal 14px Arial; line-height: 20px; text-align: left; float: left; margin: 0 20px 20px 0">
    The <strong>Card Verification Value (CVV)</strong> is a security feature for credit or debit card transactions that provides increased protection against credit card fraud. It is typically a 3-digit number located on the back of MasterCard, Visa, and Discover cards and a 4-digit number on the front of AMEX cards.
  </p>
  <img src="/images/cvv-example.png" style="float: left; clear: left; width: 240px; height: 151px; margin-right: 20px"></img>
  <img src="/images/amex-cvv.jpg" style="float: left; width: 240px; height: 151px"></img>
  <div style="clear:both"></div>
  <div style="text-align:center"><a href="#" style="text-decoration:none; font:bold 14px Arial; display:inline-block; margin-top: 10px" onclick="javascript:window.close()">close window</a></div>
</div>
</div>
