
<div id="what-is-cvv-popup" style="width: 510px; margin: 20px 0 0 20px">
  <p style="font: normal 14px Arial; line-height: 20px; text-align: left; float: left; margin: 0 20px 20px 0">
    El <strong>Código de Verificación de Tarjeta (CVV, según siglas en inglés)</strong> es una medida de seguridad para transacciones con tarjeta de crédito o débito que provee mayor protección contra el fraude de tarjeta de crédito. Consiste generalmente en un número de 3 dígitos que se encuentra en el reverso de las tarjetas Mastercard, Visa y Discover y un número de 4 dígitos en el frente de las tarjetas AMEX.
  </p>
  <img src="/images/cvv-example.png" style="float: left; clear: left; width: 240px; height: 151px; margin-right: 20px"></img>
  <img src="/images/amex-cvv.jpg" style="float: left; width: 240px; height: 151px"></img>
  <div style="clear:both"></div>
  <div style="text-align:center"><a href="#" style="text-decoration:none; font:bold 14px Arial; display:inline-block; margin-top: 10px" onclick="javascript:window.close()">cerrar</a></div>
</div>
</div>