<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head></head>
<body>

<h2>We're sorry!</h2>
<p>
The <%= link_to "#{@brand_name} deal", daily_deal_url(@booking.daily_deal, :host => @booking.publisher.production_daily_deal_host) %> you recently tried to purchase has sold out! Your request has not been processed and you have not been billed.
</p>
<p>
<%= @brand_name %> specially negotiates our deals and they are only available in limited quantities. <%= link_to "Sign up for #{@brand_name} emails", new_publisher_subscriber_url(@booking.publisher, :host => @booking.publisher.production_daily_deal_host) %> and be sure to <%= link_to "check out the  #{@brand_name} deal page", public_deal_of_day_url(@booking.publisher.label, :host => @booking.publisher.production_daily_deal_host) %> to be the first to view upcoming offers you'll love!
</p>
</body>
</html>

