<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head></head>
<body>
<h2>We're sorry!</h2>

<p>It looks like there's a problem with the credit card you used for this purchase.</p>

<p>Please <%= link_to "return to the deal page", daily_deal_url(@booking.daily_deal, :host => @booking.publisher.daily_deal_host) %> to purchase your deal again using a valid method of payment.</p>
</body>
</html>
