<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head></head>
<body>
<h2>Oops! There's been an error</h2>

Your <%= @brand_name %> purchase could not be processed, but your deal is still available to be purchased. Please <a href="<%= purchase_error_url(@booking) %>">return to the deal page</a> to purchase your deal again. Don't worry, you have not been billed!
</body>
</html>
