<div id="wfxb-footer">
  <div class="copyright">Copyright &copy; 2011</div>
  <div class="company">
    Many pages in this Springfield Independent Television Co., Inc. web site feature links to other sites, some of which are operated by companies unrelated to Springfield Independent Television Co., Inc. Springfield Independent Television Co., Inc.. has no control over the content or availability of any linked site. TM and (c) 2011 Springfield Independent Television Co., Inc., and its related entities. All rights reserved. Any reproduction, duplication, or distribution in any form is expressly prohibited.
  </div>
  <div class="br"></div>
  <div class="copydoc"><a rel="nofollow" href="http://www.wfxb.com/home/privacy-tos" target="new"> Privacy Policy </a></div>
  <div class="copydoc"><a rel="nofollow" href="http://www.wfxb.com/home/privacy-tos" target="new"> Terms of Service </a></div>
  <div class="copydoc"><a rel="nofollow" href="http://www.wfxb.com/about/eeo" target="new"> EEO Reports </a></div>
  <div id="affiliate"><a rel="nofollow" href="http://www.fox.com" target="new" title="Fox">Fox</a></div>
  <div id="bimpower">Powered by <a rel="nofollow" href="http://www.broadcast-interactive.com" target="_new" title="Broadcast Interactive Media">Broadcast Interactive Media</a>.</div>
</div>

