<div id="container">
  <div class="wfxb-header">
    <div id="searchbar">
      <div id="search">
        <form class="searchform" method="get" action="http://www.wfxb.com/results" name="GenSearchBox" onsubmit="return checkGenSearch();" >
          <input name="keywords" type="text" class="searchbox" size="50" />
          <input type="hidden" name="searchType" value="gen" />
          <input type="submit" name="submit" class="searchbutton" value="Search" />
        </form>
      </div>
    </div>
    <div id="header-img" class="header"></div>
    <div id="nav">
      <ul id="navbuttons">
        <li id="nav1"><a rel="nofollow" href="http://www.wfxb.com/" target="" class="current">Home</a></li>
        <li id="nav2" class=""><a rel="nofollow" href="http://www.wfxb.com/weather" target="" class="">Weather</a></li>
        <li id="nav3" class=""><a rel="nofollow" href="http://www.wfxb.com/features" target="" class="">Features</a></li>
        <li id="nav4" class=""><a rel="nofollow" href="http://www.wfxb.com/about" target="" class="">About Us</a></li>
        <li id="nav5" class=""><a rel="nofollow" href="http://www.wfxb.com/programming" target="" class="">Programming</a></li>
        <li id="nav6" class=""><a rel="nofollow" href="http://www.wfxb.com/yournews" target="" class="">YourNews</a></li>
        <li id="nav7" class=""><a rel="nofollow" href="http://www.wfxb.com/obits" target="" class="">Obituaries</a></li>
      </ul>
      <div id="subnav">
        <ul class="subnav" >
          <li class="subnav1"><a rel="nofollow" href="http://www.wfxb.com/news/not-the-news" target="">Not the News</a></li>
          <li class="subnav2"><a rel="nofollow" href="http://www.wfxb.com/news/health" target="">Health</a></li>
          <li class="subnav3"><a rel="nofollow" href="http://www.wfxb.com/news/business" target="">Business</a></li>
          <li class="subnav4"><a rel="nofollow" href="http://www.wfxb.com/news/technology" target="">Technology</a></li>
          <li class="subnav5"><a rel="nofollow" href="http://www.wfxb.com/news/entertainment" target="">Entertainment</a></li>
          <li class="subnav6"><a rel="nofollow" href="http://www.wfxb.com/news/buylocal" target="">BuyLocal</a></li>
          <li class="subnav7"><a rel="nofollow" href="http://www.wfxb.com/news/fox-racing-news" target="">FOX Racin' News</a></li>
          <li class="subnav8"><a rel="nofollow" href="http://myrtlebeach.localgreatcoupons.com/" target="_blank">Local Coupons</a></li>
        </ul>
      </div>
    </div>
  </div>