<div id="station_logos">  
  <a href="http://www.wishtv.com" target="_blank"><img src="/themes/savenow-indianapolis/images/stations/wish.png" height="60" alt="WISH TV 8" /></a>
  <a href="http://www.indytv.com" target="_blank"><img src="/themes/savenow-indianapolis/images/stations/wndy.png" height="60" alt="INDY TV" /></a>
  <a href="http://www.indystyle.tv" target="_blank"><img src="/themes/savenow-indianapolis/images/stations/indystyle.png" height="60" alt="Indy Style TV" /></a>
  
</div>
