<% set_daily_deal_page_title_slug t(:how_it_works) %>

<div class="page_row how_it_works">
  <div class="page_column_12 first rounded_corners">
    <h1 class="content">Πως Λειτουργεί</h1>
    
    <h4>Επιλογή και Αγορά</h4>
	<p>Καθημερινά σας ανακοινώνουμε καινούργιες Προσφορές για εστιατόρια, spa, εκδηλώσεις αλλά και για πολλές άλλες τοπικές ευκαιρίες με  έκπτωση από 50% έως και 90%.</p>
	
	<h4>Κοινοποιήστε</h4>
	<p>Όταν βρείτε τη προσφορά που σας αρέσει, κοινοποιείστε την στους φίλους σας μέσω Facebook, Twitter ή e-mail.</p>
	
	<h4>Εκτύπωση</h4>
	<p>Μόλις ολοκληρωθεί η αγορά, θα λάβετε το κουπόνι με την Προσφορά μέσω e-mail για να το εκτυπώσετε. Παραδώστε το κουπόνι στον προμηθευτή κατά την άφιξη σας στην επιχείρηση και απολαύστε την Προσφορά.</p>
	
	
     <p>Μην χάνετε ευκαιρία! <a href="<%= new_publisher_consumer_path(@publisher) %>">Εγγραφείτε</a> στην υπηρεσία για να λαμβάνετε το ενημερωτικό μας e-mail  με τις νέες προσφορές. Περισσότερες απορίες; Ελέγξτε την σελίδα <a href="<%= faqs_publisher_daily_deals_path(@publisher) %>">Συχνές Ερωτήσεις</a>.</p>
    
    </div>
</div>
