<% set_daily_deal_page_title_slug "Terms" %>

<% if params[:layout] == "popup" -%>
 <a href="#" class="lbAction" rel="deactivate"><span>Close</span></a>
<% end -%>


<div class="page_row">
  <div class="page_column_12 first rounded_corners">

<h1>ΟΡΟΙ ΚΑΙ ΠΡΟΥΠΟΘΕΣΕΙΣ ΧΡΗΣΗΣ ΤΗΣ ΥΠΗΡΕΣΙΑΣ DEAL ROOM</h1>

<p><strong>1. ΓΕΝΙΚΟΙ ΟΡΟΙ</strong></p>

<p><strong>1.1</strong> Το παρόν Συμφωνητικό συνάπτεται μεταξύ ημών (της Εταιρείας με την επωνυμία «Forest View Internet και Διαφήμιση Μ. Ε.Π.Ε.» και το διακριτικό τίτλο «Forest View”) και υμών που κάνετε χρήση της Υπηρεσίας MSNDeals, και τίθεται σε ισχύ από την ημερομηνία που θα εγγραφείτε στην υπηρεσία και θα πραγματοποιήσετε μια συναλλαγή.</p>

<p><strong>1.2</strong> Διατηρούμε το δικαίωμα να τροποποιούμε τους όρους του παρόντος ανά πάσα στιγμή και κατά την απόλυτη διακριτική μας ευχέρεια. Τυχόν αλλαγές στο παρόν μπορεί να περιλαμβάνουν ενδεικτικά και όχι περιοριστικά αλλαγές στη διαδικασία αγοράς, εξαργύρωσης κουπονιού ή ακύρωσης αγοράς. ΣΕ ΠΕΡΙΠΤΩΣΗ ΠΟΥ ΔΕ ΣΥΜΦΩΝΕΙΤΕ ΜΕ ΚΑΠΟΙΑ ΑΛΛΑΓΗ- ΤΡΟΠΟΠΟΙΗΣΗ ΤΟΥ ΠΑΡΟΝΤΟΣ, Η ΜΟΝΗ ΣΑΣ ΕΠΙΛΟΓΗ ΕΙΝΑΙ ΝΑ ΤΕΡΜΑΤΙΣΕΤΕ ΤΟ ΠΑΡΟΝ ΜΕ ΤΗΝ ΑΠΟΣΤΟΛΗ ΕΓΓΡΑΦΗΣ ΕΠΙΣΤΟΛΗΣ ΜΕΣΩ ΤΑΧΥΔΡΟΜΕΙΟΥ Η ΗΛΕΚΤΡΟΝΙΚΟΥ ΤΑΧΥΔΡΟΜΕΙΟΥ (EMAIL). ΩΣΤΟΣΟ Η ΣΥΝΕΧΙΖΟΜΕΝΗ ΧΡΗΣΗ ΤΗΣ ΥΠΗΡΕΣΙΑΣ, Η ΕΝΟΣ ΚΟΥΠΟΝΙΟΥ ΑΠΟΤΕΛΕΙ ΔΕΣΜΕΥΤΙΚΗ ΑΠΟΔΟΧΗ ΤΩΝ ΑΛΛΑΓΩΝ ΑΠΟ ΤΗ ΜΕΡΙΑ ΣΑΣ. Καμία αλλαγή ή τροποποίηση δε θα ισχύσει και δε θα φέρει αποτελέσματα αν δεν έχει αναρτηθεί από εξουσιοδοτημένο πρόσωπο της Forest View στο δικτυακό τόπο (msndeals.gr.msn.com/el/publishers/1570/daily_deals/terms).</p>

<p><strong>2. ΟΡΙΣΜΟΙ – ΕΡΜΗΝΕΙΑ</strong></p>

<p>Στην παρούσα Σύμβαση ο όρος <strong>«Forest View», «εμείς», «εμάς»</strong> αναφέρεται στην Μονοπρόσωπη Εταιρεία Περιορισμένης Ευθύνης με την επωνυμία «Forest View Internet και Διαφήμιση Μ. Ε.Π.Ε.» και το διακριτικό τίτλο «Forest View”, ενώ ο όρος <strong>«εσείς»,</strong> αναφέρεται σε όλους όσοι έχουν εγγραφεί στην υπηρεσία MSNDeals και έχουν  εγκριθεί σύμφωνα με τις διαδικασίες τους όρους και τις προϋποθέσεις που αναφέρονται στο παρόν. <strong>«Υπηρεσία»</strong> νοείται η αγορά κουπονιού ή η χρήση μη προ-πληρωμένου κουπονιού. <strong>«Έμπορος»</strong> νοείται το φυσικό ή και νομικό πρόσωπο το οποίο διαθέτει τα προϊόντα ή/και τις υπηρεσίες που αποτελούν αντικείμενο των κουπονιών και ο οποίος εξαργυρώνει τα κουπόνια. Ο όρος <strong>«Κουπόνια»</strong> αναφέρεται στο κουπόνι που εσείς αγοράζετε μέσω του MSNDeals, καταβάλλοντας την αξία του  και το οποίο μπορείτε να εξαργυρώσετε σε συγκεκριμένο Έμπορο. <strong>«Μη προπληρωμένο κουπόνι»</strong> θεωρείται το κουπόνι το οποίο αναγράφει μια προσφορά σε μορφή έκπτωσης και το οποίο δεν αγοράζετε, αλλά πληρώνετε την αξία του προϊόντος/ υπηρεσίας της προσφοράς, απευθείας στον Έμπορο, σύμφωνα με τους όρους της προσφοράς/ κουπονιού και με την υποχρέωση επίδειξης αυτού στον Έμπορο. <strong>«Προϊόντα / Υπηρεσίες»</strong> νοούνται τα προϊόντα/ υπηρεσίες που αποτελούν αντικείμενο των κουπονιών (προπληρωμένων ή μη) και παρέχονται από έναν συγκεκριμένο Έμπορο. <strong>«Μη εξαργυρωμένο Κουπόνι»</strong> θεωρείται το κουπόνι το οποίο δεν έχει εξαργυρωθεί από εσάς στον Έμπορο μέσα στο χρονικό διάστημα ισχύος της προσφοράς, ή και το κουπόνι από την αγορά του οποίου εσείς δεν έχετε προβεί σε υπαναχώρηση.</p>

<p><strong>3. ΕΓΓΡΑΦΗ ΜΕΛΟΥΣ – ΛΟΓΑΡΙΑΣΜΟΙ</strong></p>

<p>3.1 Για να κάνετε περιήγηση στον παρόντα δικτυακό τόπο, δεν απαιτείται εγγραφή στις υπηρεσίες MSNDeals εκ μέρους σας. Ωστόσο για να έχετε το δικαίωμα να κάνετε χρήση των υπηρεσιών μας και να προβείτε σε οποιαδήποτε αγορά θα πρέπει προηγουμένως να εγγραφείτε στην υπηρεσία MSNDeals και να κάνετε καταχώρηση. Η εγγραφή σας είναι απαραίτητη προκειμένου να σας παρέχουμε εύκολη πρόσβαση στις παραγγελίες σας σε κάθε χρονική στιγμή. Για να εγγραφείτε στην υπηρεσία MSNDeals, θα πρέπει να συμπληρώσετε τη φόρμα εγγραφής <strong>(«η Φόρμα»)</strong> δηλώνοντας το όνομά σας, τη διεύθυνση ηλεκτρονικού ταχυδρομείου σας (email) και τον επιθυμητό από εσάς κωδικό πρόσβασης, για τις οποίες η Εταιρεία τηρεί την Πολιτική Απορρήτου.</p>

<p>3.2	Μόλις ολοκληρωθεί η εγγραφή σας, αυτομάτως δεσμεύεστε από τους όρους και τις προϋποθέσεις του παρόντος <strong>(«MSNDeals Σύμφωνητικό  ή «το Συμφωνητικό»).</strong> Οφείλετε να παρέχετε αληθή στοιχεία κατά την εγγραφή σας στην υπηρεσία και ειδικότερα να δηλώνετε έγκυρες διευθύνσεις ηλεκτρονικού ταχυδρομείου. Τυχόν λογαριασμοί που δημιουργήθηκαν με ηλεκτρονική διεύθυνση άλλου, ή με προσωρινή διεύθυνση ηλεκτρονικού ταχυδρομείου, ενδέχεται να κλείσουν χωρίς προειδοποίηση.  Φέρετε την αποκλειστική ευθύνη για την τήρηση της ασφάλειας του λογαριασμού και του κωδικού σας. Οποιαδήποτε χρήση του λογαριασμού σας, θα θεωρείται ότι προέρχεται από εσάς, ή από εξουσιοδοτημένο από εσάς πρόσωπο. Ο Λογαριασμός σας βρίσκεται σε ασφαλή τοποθεσία μέσα στην ιστοσελίδα του MSNDeals, στον οποίο Λογαριασμό θα έχετε πρόσβαση εισάγοντας στα κατάλληλα πεδία τη διεύθυνση ηλεκτρονικού ταχυδρομείου και κωδικό που δηλώσατε κατά την εγγραφή σας. Από τη στιγμή που θα κάνετε χρήση της υπηρεσίας MSNDeals (αγορά κουπονιού), αποδέχεστε και δεσμεύεστε από το παρόν Συμφωνητικό. Κατά τη χρονική αυτή στιγμή το MSNDeals γίνεται αντισυμβαλλόμενος σας <strong>(«Ημερομηνία Έναρξης»).</strong></p>

<p>3.3	Έγγραφη αποδοχή από τη μεριά μας δεν απαιτείται για τη θέση σε ισχύ και εκτέλεση του παρόντος και σε καμία περίπτωση η μη ρητή και έγγραφη αποδοχή της εγγραφής σας δε μεταφράζεται ως απόρριψη.</p>

<p>3.4	Διατηρούμε το δικαίωμα να κλείσουμε λογαριασμούς, εάν διαπιστωθεί από εμάς αθέμιτη χρήση εκ μέρους σας, (π.χ. προσπαθείτε με τη χρήση διευθύνσεων ΙΡ μεσολαβητή να αποκρύψετε την χρήση περισσοτέρων του ενός λογαριασμών, κ.α) ή και σε περίπτωση που η Εταιρεία για οποιονδήποτε λόγο και οποτεδήποτε, αποφασίσει να διακόψει τις υπηρεσίες ή και μέρος αυτών.</p>

<p><strong>4. ΑΓΟΡΑ ΚΟΥΠΟΝΙΩΝ</strong></p>

<p>4.1 Απαραίτητη προϋπόθεση για την αγορά κουπονιών (προ-πληρωμένων και μη) αποτελεί η εγγραφή σας στην υπηρεσία MSNDeals σύμφωνα με τα ανωτέρω, προκειμένου να ανοιχτεί ένας λογαριασμός σας. </p>

<p>4.2 Κάθε προσφορά για την οποία διατίθεται ένα κουπόνι προς αγορά μέσω της υπηρεσίας MSNDeals, περιέχει μεταξύ άλλων πληροφορίες σχετικά με τον Έμπορο, αναλυτική περιγραφή των προϊόντων/ υπηρεσιών που αποτελούν αντικείμενο της εκάστοτε προσφοράς, τη χρονική διάρκεια ισχύος έκαστης προσφοράς, με σαφείς ημερομηνίες έναρξης και λήξης, το αρχικό κόστος του προϊόντος/ υπηρεσίας και το κόστος της προσφοράς, ειδικότερους όρους που αφορούν έκαστη προσφορά, όπως ενδεικτικά εξαιρέσεις της προσφοράς, (πχ. Ημέρες/ ώρες που δεν ισχύει η προσφορά), σαφείς όρους και προϋποθέσεις εξαργύρωσης του κουπονιού κ.α.</p>

<p>4.3 Αν σας ενδιαφέρει να κάνετε χρήση μιας προσφοράς, οφείλετε να αγοράσετε το αντίστοιχο κουπόνι της. Για την αγορά ενός κουπονιού θα πρέπει πρώτα να επιβεβαιώσετε την αποδοχή των όρων και προϋποθέσεων της υπηρεσίας MSNDeals. Στη συνέχεια θα πρέπει να προβείτε σε Online πληρωμή της προσφοράς (μέσω πιστωτικής ή χρεωστικής  κάρτας, pay pal κτλ). Η αγορά ολοκληρώνεται και άρα συνάπτεται μεταξύ μας συμβόλαιο αγοράς, μόνο όταν εγκριθεί η οικονομική συναλλαγή από την Τράπεζα σας, οπότε και σας αποστέλλεται με μήνυμα ηλεκτρονικού ταχυδρομείου (email) η έγκριση της συναλλαγής μαζί με ένα ηλεκτρονικό κουπόνι, το οποίο περιέχει έναν αριθμό ταυτοποίησης (πχ 8ψήφιο νούμερο, bar code κτλ). Η αποστολή αυτού του ηλεκτρονικού μηνύματος, αποτελεί και την αποδοχή εκ μέρους μας της συναλλαγής μας. Μπορείτε να εκτυπώσετε το κουπόνι αυτό και να το εξαργυρώσετε στον Έμπορο μέσα στα χρονικά όρια που ορίζονται στην εκάστοτε προσφορά. </p>

<p>4.4 <strong>Μη προπληρωμένα κουπόνια:</strong> Αν σας ενδιαφέρει να κάνετε χρήση των μη προπληρωμένων εκπτωτικών κουπονιών που παρέχονται μέσω της υπηρεσίας MSNDeals, μπορείτε να επιλέξετε την εκτύπωση του κουπονιού, εάν αυτό είναι εκτυπώσιμο, ή την επικόλληση του κωδικού στο πρόχειρο και μετάβαση στην ιστοσελίδα του εμπόρου αν είναι ηλεκτρονικός κωδικός. Στην περίπτωση αυτή πληρώνετε για το προϊόν/ υπηρεσία προσφοράς, απευθείας στον Έμπορο, σύμφωνα με τους όρους της προσφοράς/ κουπονιού, με την υποχρέωση επίδειξης αυτού (εκπτωτικού κουπονιού) στον Έμπορο.</p>

<p>4.5 <strong>Δικαίωμα υπαναχώρησης:</strong> Μετά την αποστολή του κουπονιού σύμφωνα με τα ανωτέρω, έχετε το δικαίωμα να υπαναχωρήσετε από την αγορά του κουπονιού και να αξιώσετε τα χρήματά σας από εμάς, μέχρι και 14 ημέρες από την επιβεβαίωση έγκρισης της συναλλαγής και με την προϋπόθεση ότι δεν έχετε εξαργυρώσει το κουπόνι. Σε περίπτωση που υπαναχωρήσετε της αγοράς του κουπονιού εντός 14 ημερών από την επιβεβαίωση έγκρισης της συναλλαγής σύμφωνα με τα οριζόμενα στο άρθρο 4.3 ανωτέρω, ολόκληρο το ποσό που αντιστοιχεί στην αξία του κουπονιού και καταβλήθηκε από εσάς, επιστρέφεται με τον τρόπο που πληρώσατε για την αγορά του. Το δικαίωμα υπαναχώρησης μπορείτε να το ασκήσετε με τη χρήση του κατάλληλου συνδέσμου στο τμήμα «Οι Προσφορές Μου» του Λογαριασμού σας από την αποστολή ηλεκτρονικού μηνύματος (email) στην παρακάτω ηλεκτρονική διεύθυνση msndeals_support@forestview.eu ή με την αποστολή fax στο +30 2106744775, όπου θα αναγράφεται ο αριθμός του κουπονιού και η ένδειξη “Ακύρωση συναλλαγής”.</p>

<p>4.6 <strong>Εξαργύρωση:</strong> Αφού προβείτε στην αγορά του κουπονιού σύμφωνα με τα ανωτέρω, μπορείτε να εξαργυρώσετε το κουπόνι σε έναν Έμπορο για Προϊόντα/ υπηρεσίες που παρέχει ο συγκεκριμένος Έμπορος και τα οποία αναγράφονται στην προσφορά/ κουπόνι. Σε περίπτωση που η εξαργύρωση του κουπονιού από εσάς δε συνάδει με το παρόν Συμφωνητικό ή και με τους όρους του κουπονιού, το κουπόνι καθίσταται άκυρο κατά την απόλυτη διακριτική ευχέρεια της Εταιρείας μας ή/και του Εμπόρου.  </p>

<p><strong>5. ΕΥΘΥΝΗ – ΠΕΡΙΟΡΙΣΜΟΙ- ΠΕΡΙΟΡΙΣΜΟΣ ΕΥΘΥΝΗΣ</strong></p>

<p>5.1 Αποκλειστικά υπεύθυνος για την παροχή σε εσάς των Προϊόντων / υπηρεσιών του κουπονιού και για την ποιότητα αυτών, είναι ο Έμπορος και σε καμία περίπτωση η Εταιρεία μας δε φέρει ευθύνη. </p>

<p>5.2	Αποκλειστικά υπεύθυνος για την ασφάλεια του κουπονιού και την εξαργύρωση αυτών είστε εσείς, αποκλειόμενης οποιασδήποτε ευθύνης της Εταιρείας μας αναφορικά με την εξαργύρωση των κουπονιών και τυχόν απώλειας, κλοπής ή καταστροφής αυτών.</p>

<p>5.3	Απαγορεύεται ρητά η αναπαραγωγή, πώληση, μεταπώληση, ανταλλαγή των κουπονιών. Σε περίπτωση που πραγματοποιηθεί κάποια από τις ανωτέρω ενέργειες εκ μέρους σας, η Εταιρεία μας δε φέρει ουδεμία ευθύνη σε περίπτωση που είτε εμείς, είτε ο Έμπορος, κατά την απόλυτη διακριτική μας ευχέρεια, θεωρήσουμε το κουπόνι άκυρο.</p>

<p>5.4	Σε περίπτωση που το κουπόνι εξαργυρωθεί για μέρος του ποσού που αντιστοιχεί στην αξία του, δε δικαιούστε πίστωση, επιστροφή του υπόλοιπου ποσού, ούτε νέο κουπόνι η αξία του οποίου θα αντιστοιχεί στο ποσό που τυχόν δεν εξαργυρώθηκε.  Επιπλέον το κουπόνι δεν μπορεί να εξαργυρωθεί τμηματικά.</p>

<p>5.5	Είναι στην απόλυτη διακριτική ευχέρεια του Εμπόρου τυχόν επιλογή του να συνδυάσει το κουπόνι με άλλες παροχές (όπως ενδεικτικά με άλλα κουπόνια δικά του ή και τρίτων κ.α.).</p>

<p><strong>6.	ΠΕΡΙΟΡΙΣΜΟΣ ΕΥΘΥΝΗΣ ΕΤΑΙΡΕΙΑΣ</strong></p>

<p>6.1	Η Εταιρεία θα καταβάλλει εύλογες προσπάθειες διόρθωσης τυχόν σφαλμάτων, παραλείψεων, του παρόντος δικτυακού τόπου και της υπηρεσίας που διατίθεται σε αυτόν. Ωστόσο η Εταιρεία μας δεν εγγυάται ότι η Υπηρεσία MSNDeals ή και ο παρόν δικτυακός τόπος δε θα περιέχουν σφάλματα ή και παραλείψεις και ως εκ τούτου, ουδεμία ευθύνη αστική, ποινική, ή άλλως πως φέρει έναντι υμών, σε περίπτωση που υποστείτε ζημία ως προς τα κέρδη σας, την επιχείρησή σας, τα εισοδήματά σας, τη φήμη σας, ή υποστείτε οποιαδήποτε άλλη ζημία άμεση, έμμεση ή αποθετική, οικονομικής ή άλλης φύσης, διαφυγόντα κέρδη και οφείλεται άμεσα ή έμμεσα σε λάθη, καθυστερήσεις στη μεταφορά των data, παραλείψεις, τεχνικά κολλήματα, βλάβες, απώλεια δεδομένων, ή δυσλειτουργία της υπηρεσίας ή και του παρόντα δικτυακού τόπου και η δυσλειτουργία αυτή δεν οφείλεται σε δόλο ή και βαριά αμέλεια της Εταιρείας μας.</p>

<p>6.2	H Εταιρεία ουδεμία ευθύνη φέρει έναντι υμών, και ουδεμία εγγύηση παρέχει σχετικά με την καταλληλόλητα, αποτελεσματικότητα, ασφάλεια, ποιότητα, δυνατότητα χρήσης,  τόσο των προσφορών του Εμπόρου, όσο και των παρεχόμενων από αυτόν (Έμπορο) προϊόντων / υπηρεσιών που αποτελούν αντικείμενο των προς εξαργύρωση κουπονιών. Επιπλέον η Εταιρεία μας λαμβάνει όλα τα απαραίτητα τεχνικά και νομικά μέτρα προκειμένου να εξασφαλίσει την ακρίβεια και ορθότητα των προσφορών που παρέχονται μέσω της Υπηρεσίας MSNDeals, ωστόσο ουδεμία ευθύνη φέρει για τυχόν σφάλματα ή και ψευδείς πληροφορίες που μπορεί να αναγράφονται στα κουπόνια.</p>

<p>6.3	Η Εταιρεία μας λαμβάνει όλα τα απαραίτητα μέτρα προκειμένου η υπηρεσία ή /και ο παρόν δικτυακός τόπος να μην περιέχουν ιούς, ωστόσο σε καμία περίπτωση δε φέρει ευθύνη για τυχόν προσβολή δικής σας τεχνολογίας από ιούς, ή οτιδήποτε άλλο έχει επιβλαβείς συνέπειες σε οποιαδήποτε τεχνολογία. </p>

<p>6.4	Η Εταιρεία διατηρεί το δικαίωμα να ανακαλέσει, περιορίσει ή και διακόψει τη λειτουργία της υπηρεσίας. </p>

<p><strong>7.	ΟΙ ΥΠΟΧΡΕΩΣΕΙΣ ΣΑΣ</strong></p>

<p>7.1	Με το παρόν δηλώνετε ρητά και εγγυάστε ότι:</p>

<p>7.1.1	πριν από κάθε αγορά κουπονιού έχετε διαβάσει και κατανοήσει τους όρους των προσφορών που τίθενται από τον Έμπορο.</p>

<p>7.1.2	Τα στοιχεία που δηλώνετε είναι αληθή, πλήρη και ακριβή.</p>

<p>7.1.3	Δε θα χρησιμοποιήσετε την υπηρεσία MSNDeals προκειμένου: α) να αποστείλετε ή/και λάβετε μη πρέπον, άσεμνο, απειλητικό,  προσβλητικό, συκοφαντικό και εν γένει παράνομο υλικό, β) να ενεργήσετε με δόλιο ή/ και αθέμιτο τρόπο, γ) προκαλέσετε βλάβη στα συμφέροντα τρίτων.</p>

<p><strong>8.	ΑΝΑΣΤΟΛΗ – ΚΑΤΑΓΓΕΛΙΑ</strong></p>

<p>8.1	Σε περίπτωση που: α) η υπηρεσία MSNDeals, ή το κουπόνι ή και ο παρόν δικτυακός τόπος χρησιμοποιείται από εσάς ή και από οιονδήποτε εξουσιοδοτημένο από εσάς τρίτο κατά παράβαση του παρόντος Συμφωνητικού, β) έχουμε βάσιμες υποψίες ότι η υπηρεσία MSNDeals, ή το κουπόνι ή και ο παρόν δικτυακός τόπος θα χρησιμοποιηθούν κατά παράβαση του παρόντος, ή/και γ) ενεργείτε με αθέμιτο τρόπο, η Εταιρεία διατηρεί το δικαίωμα όπως αναστείλει τη χρήση της υπηρεσίας, ή /και του κουπονιού, ή/ και του Δικτυακού τόπου.  Μέχρις ότου λάβουμε επαρκείς διαβεβαιώσεις από εσάς ότι δε θα συνεχιστεί η εκ μέρους σας παραβίαση των όρων του παρόντος, η λειτουργίας της υπηρεσίας, ή /και του κουπονιού, ή/ και του Δικτυακού τόπου, δε θα αποκατασταθεί.</p>

<p><strong>9.	ΔΙΚΑΙΩΜΑΤΑ ΠΝΕΥΜΑΤΙΚΗΣ ΙΔΙΟΚΤΗΣΙΑΣ</strong></p>

<p>9.1	Όλα τα δικαιώματα πνευματικής ιδιοκτησίας (συμπεριλαμβανομένων των εμπορικών σημάτων και ονομάτων, του περιεχομένου, βάσεων δεδομένων, σχεδίων και στοιχείων) ανήκουν εξ’ ολοκλήρου στην Εταιρεία και αποτελούν δική της περιουσία. Η αναπαραγωγή, χρήση με οποιονδήποτε τρόπο και μέσο και για οποιονδήποτε σκοπό των ανωτέρω στοιχείων πνευματικής ιδιοκτησίας μας, απαγορεύεται με εξαίρεση την προσωρινή αποθήκευση ή και εκτύπωση αυτών για τους σκοπούς της παρούσας.  </p>

<p><strong>10.	ΠΡΟΣΩΠΙΚΑ ΔΕΔΟΜΕΝΑ</strong></p>

<p>Για την προστασία των προσωπικών δεομένων σας ισχύ η πολιτική απορρήτου που αποτελεί αναπόσπαστο μέρος του παρόντος και ενιαίο με αυτό σύνολο. </p>

<p><strong>11.	ΓΕΝΙΚΕΣ ΔΙΑΤΑΞΕΙΣ</strong></p>

<p>11.1	Το παρόν Συμφωνητικό και η Πολιτική Απορρήτου της Εταιρείας περιέχει όλους τους συμφωνημένους όρους μεταξύ μας αναφορικά με την παροχή των υπηρεσιών μας που περιγράφονται στο παρόν και υπερισχύει έναντι κάθε προηγούμενης συμφωνίας μας έγγραφης ή και προφορικής.</p>

<p>11.2	Αν για τον οποιοδήποτε λόγο οποιοδήποτε από τους όρους του παρόντος Συμφωνητικού ή μέρος αυτού κριθεί ως άκυρος ή ανεκτέλεστος, τότε ο συγκεκριμένος όρος θα θεωρείται, αν τούτο είναι δυνατόν, ότι συμφωνήθηκε να διαφοροποιηθεί στον ελάχιστο δυνατό βαθμό που θα τον μετέτρεπε σε νόμιμο και στα πλαίσια πάντα της καλής πίστης, αν δε τούτο δεν είναι δυνατό, τότε δεν θα έχει ισχύ και θα θεωρηθεί ως μη περιλαμβανόμενος στο παρόν, χωρίς ωστόσο να ακυρώνει ή καθοιονδήποτε άλλο τρόπο να επηρεάζει τους υπόλοιπου όρους του παρόντος Συμφωνητικού. </p>

<p>11.3	Η Εταιρεία δε θα φέρει ευθύνη για οποιαδήποτε αθέτηση των υποχρεώσεών της που απορρέουν από το παρόν εφόσον παρεμποδίζεται στην εκτέλεση των υποχρεώσεών της από λόγους οφειλόμενους σε ανωτέρα βία. </p>

<p>11.4	Το παρόν Συμφωνητικό θα διέπεται και θα ερμηνεύεται σύμφωνα με το Ελληνικό δίκαιο και αμφότεροι οι συμβαλλόμενοι δια του παρόντος υπόκεινται στην αποκλειστική αρμοδιότητα των Δικαστηρίων της Αθήνας. </p>

