<div class="side_box entercom_banner">
	<a href="https://www.getmyperks.com/publishers/295/consumers/new" ><img src="http://www.howperksworks.com/holidazeCraze/220x100-gainesville.jpg" alt="Get Daily Deails For Gainesville, FL" /></a>
</div>

<div class="side_box entercom_banner">
	<a href="https://www.getmyperks.com/publishers/1418/consumers/new" ><img src="/themes/entercomnew/images/3557705.jpg" alt="Get deals sent to your inbox!"></a>
</div>