<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  
  <meta name="title" content="" />
  <meta name="description" content="" />
  <link rel="image_src" href="http://logos.advertisers.analoganalytics.com/production/8919/facebook.png?1275605796" />
  
  <link href="/themes/entercom/stylesheets/scoped_reset.css" media="all" rel="stylesheet" type="text/css" />
<link href="/themes/entercom/stylesheets/application.css" media="all" rel="stylesheet" type="text/css" />
  <link href="/themes/entercom/stylesheets/daily_deals.css" media="all" rel="stylesheet" type="text/css" />
  <link href="/themes/entercom/stylesheets/entercom_daily_deals.css" media="all" rel="stylesheet" type="text/css" />

  <!--[if IE]>
  <link href="/stylesheets/ie.css?1287550047" media="all" rel="stylesheet" type="text/css" />
  <![endif]-->

  <script src="/javascripts/lib/prototype.js?1287550047" type="text/javascript"></script>
<script src="/javascripts/effects.js?1287550047" type="text/javascript"></script>
<script src="/javascripts/dragdrop.js?1287550047" type="text/javascript"></script>
<script src="/javascripts/controls.js?1287550047" type="text/javascript"></script>
<script src="/javascripts/application.js?1287550047" type="text/javascript"></script>

  
  <title></title>
{% include "shared/tracking_google_analytics" %}
</head>

<body id="landing">

<div class="content" id="content">
	<div id="analog_analytics">
		<div id="daily_deal">
			<div id="header">
				
			</div><!-- end header  -->     
			<div class="clear"></div>
			<div class="page_row landing">
				
                <div class="boxes">
                    <div class="action" id="box-a">
                    	<div class="inner">
                        	<h1>Find great deals in your city...</h1>
                            <form name="market_navigation">
                          <select id="market_navigation_menu" name="market_navigation_menu" gtbfieldid="6">
                                    <option value="#" selected="selected">Choose Your City:</option>
                                    <option value="http://www.myaustinperks.com">Austin, TX</option>
                                    <option value="http://www.getmyperks.com/boston">Boston, MA</option>
                                    <option value="http://www.mybuffaloperks.com">Buffalo, NY</option>
                                    <option value="http://www.mydenverperks.com">Denver, CO</option>
                                    <option value="http://www.myheartoffloridaperks.com">Gainesville-Ocala, FL</option>
                                    <option value="http://www.mytriadperks.com">Greensboro, NC</option>
                                    <option value="http://www.myupstateperks.com">Greenville, SC</option>
                                    <option value="http://www.myhamptonroadsperks.com">Hampton Roads, VA</option>
                                    <option value="http://www.myheartoffloridaperks.com">Heart of Florida</option>
                                    <option value="http://www.myindianapolisperks.com">Indianapolis, IN</option>
                                    <option value="http://www.mykansascityperks.com">Kansas City, KS-MO</option>
                                    <option value="http://www.mymadisonperks.com">Madison, WI</option>
                                    <option value="http://www.mymemphisperks.com">Memphis, TN</option>
                                    <option value="http://www.mymilwaukeeperks.com">Milwaukee, WI</option>
                                    <option value="http://www.getmyperks.com/newengland">New England</option>
                                    <option value="http://www.myneworleansperks.com">New Orleans, LA</option>
                                    <option value="http://www.myhamptonroadsperks.com">Norfolk, VA</option>
                                    <option value="http://www.mynepaperks.com">North Eastern PA</option>
                                    <option value="http://www.mytriadperks.com">Piedmont Triad, NC</option>
                                    <option value="http://www.myportlandperks.com">Portland, OR</option>
                                    <option value="http://www.getmyperks.com/providence">Providence, RI</option>
                                    <option value="http://www.myrochesterperks.com">Rochester, NY</option>
                                    <option value="http://www.mysacramentoperks.com">Sacramento, CA</option>
                                    <option value="http://www.mysanfranciscoperks.com">San Francisco, CA</option>
                                    <option value="http://www.myseattleperks.com">Seattle, WA</option>
                                    <option value="http://www.getmyperks.com/springfield">Springfield, MA</option>
                                    <option value="http://www.myupstateperks.com">Upstate, SC</option>
                                    <option value="http://www.mywichitaperks.com">Wichita, KS</option>
                                    <option value="http://www.mynepaperks.com">Wilkes Barre, PA</option>
                                    <option value="http://www.getmyperks.com/worcester">Worcester, MA</option>
                                    </select>  
                                    
                              <div class="continue">
                                <input type="image" src="/themes/entercom/images/buttons/continue.png" value="Continue" id="market_navigation_button" onclick="location=document.market_navigation.market_navigation_menu.options[document.market_navigation.market_navigation_menu.selectedIndex].value;return false;">
                                <a href="">or Sign In</a>
                              </div>
                            </form>
                        </div>
                    </div>
                    
                    <div class="action" id="box-b">
                    	<div class="inner">
                    		<h2>Get your business featured...</h2>
                            <a href="http://www.howperksworks.com" class="continue"><img src="/themes/entercom/images/buttons/continue.png" width="100" height="21" alt="Continue" /></a>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <a class="privacy" href="#">Privacy Policy</a>
                </div>
                
                <div class="text">
                <h3>Get Your Business Featured on GetMyPerks</h3>
                <p><strong><em>PERKS is a cashless multi-media marketing program that costs you nothing! </em></strong><br />
                Through its unique combination of social networking, broadcast radio, email marketing and more, PERKS delivers new customers adding significant revenue to your business. Your business becomes the new "BUZZ" around town.</p>
                <p>Want to get your business or product featured? <a href="http://www.howperksworks.com/contactus.php">Click Here</a> and we will be happy to assist you.</p>
              </div>
                


			</div><!-- end page_row -->
			    
			<div class="clear"></div>
			<div id="footer">
				
			</div>
		</div><!-- end daily_deal -->
	</div><!-- end analog_analytics -->
</div><!-- end content -->
{% include with_theme "shared/tracking_publisher" %}
</body>
</html>
