<div id="station_logos">
	<a href="http://krqe.com" target="_blank"><img src="/themes/<%= @publisher.label %>/images/stations/krqe.png" height="60" alt="krqe.com" /></a>
	<a href="http://kasa.com" target="_blank"><img src="/themes/<%= @publisher.label %>/images/stations/kasa.png" height="60" alt="kasa.com" /></a>
</div>
