<div id="standard-pages-box-inner">
	<div id="affiliate-page-left">
		<h2>Kowabunga Affiliate Program FAQ</h2>
		
		<h3>How does it work?</h3>
		<p>An affiliate program is a revenue sharing program where the affiliate (that's you!) drives traffic to a merchant's web site
		(that's us!) in exchange for referral commissions. When a visitor to your site clicks on the affiliate link to our site and completes
		a purchase, you get a commission on every deal they buy for 30 days!</p> 
		<p>Once you sign up for and are accepted to our program, you'll be taken to the Inuvo Platform site (the software that powers the
		Affiliate Program). Here you can log in at any time to get our banners, text links, data-feed, or geo-targeted ad unit.  You can also
		find out about commissions earned and even learn about how many impressions each of your links has received.</p>
		
		<h3>How do I get started?</h3>
		<h4 class="how-to-start" id="first-how-to-start">STEP 1</h4>
		<p><a href="mailto:affiliates@kowabunga.com">Email Us</a> to find out how you can be invited to the Kowabunga Affiliate Program.</p>
		<h4 class="how-to-start">STEP 2</h4>
		<p class="how-to-start">We will get back in touch asap and let you know the details of how to apply. We manually review all applications within one business day. Once your application is approved, we will send you additional instructions to get started.</p>
<h4 class="how-to-start">STEP 3</h4>
<p class="how-to-start">Earn money!</p>

<h3>Who can participate?</h3>
<p>Just about anybody! Whether you run a large commercial web site, a small personal blog, a non-profit site, or anything in
between you're welcome to apply to join the program.  All applications are manually reviewed, and we reserve the right to
refuse any application, especially if the site or email list contains objectionable material, participates in unsolicited
emailing, or if it violates the Inuvo Platform <a href="http://inuvo.com/inuvo-platform-publisher-agreement">Publisher Agreement.</a></p>

<h3>Does it cost anything to participate?</h3>
<p>It costs nothing to participate! As long as you are an active affiliate, all you need to do is link to our assets and collect
your commissions.</p>

<h3>How are sales tracked from my site?</h3>
<p>Once your application is accepted, you will be given a unique affiliate ID as well as custom-formatted links that will ensure
that traffic coming from your site is properly tracked. We maintain a 30-day cookie, meaning that if a visitor clicks on a link from
your site, you are credited with the sale as long as the visitor purchases within 30 days.  We also store this referring information
at our site, so even if your cookie is removed from a user’s machine (or they use a different computer to purchase), you will
still get credit!</p>

<p>The Inuvo Platform records all transactions from your site in real time, meaning that all impressions, links, and sales are
tracked instantly. It also has all of the reports and tracking resources you'll need to see how you're doing. You can use these
reports to find out which of your links are performing the best and to optimize your site for maximum sales.</p>

<h3>How much will I earn?</h3>
<p>All affiliates earn 15% of any sales of our exclusive deals.  We also aggregate deals from other deal sites, and pass on each
site’s unique affiliate payout directly to our affiliates.  These can vary, but generally average around 8% of the sale.</p>

<h3>How and when do I get paid?</h3>
<p>The Inuvo Platform pays affiliates monthly and when you have reached a minimum payout threshold you determine. Please refer
to the Inuvo Platform <a href="http://inuvo.com/inuvo-platform-publisher-agreement">Publisher Agreement</a> for more information.</p>

<h3>How do I create links to Kowabunga?</h3>
<p>After you have joined, you must login to your Publisher account at platform.inuvo.com.  Once logged in, click on “My Creatives” at
the top of the page.  You can then choose from a variety of creative options to place on your site.  You’ll simply copy and paste
code provided here and you’re all set!</p>

<h3>How do I link to a specific deal?</h3>
<p>We provide a data-feed of all of the deals you can promote within your affiliate admin area. Within this data-feed you will find direct links to specific deals. If you need a hand inking to a specific deal, feel free to contact us at <a href="mailto:affiliates@kowabunga.com">affiliates@kowabunga.com.</a></p>

<h3>Does Kowabunga have a Deal Data-Feed available?</h3>
<p>YES! Within the “My Creatives” area you will find information for pulling the deal feed.  This feed is updated daily, and will already
include your unique affiliate links for each deal available.  If you need help getting specific deals from this feed or have any other
questions about it feel free to <a href="mailto:affiliates@kowabunga.com">contact us!</a></p>

<h3>I need to contact Kowabunga regarding the affiliate program.</h3>
<p>The best way to contact us if you have any questions or problems is to email us at <a href="mailto:affiliates@kowabunga.com">affiliates@kowabunga.com.</a></p>

	</div><!-- end #affiliate-page-left -->
	<div id="affiliate-page-right">
		<h4>Related</h4>
		<ul>
			<li><a href="{{ publisher.affiliate_show_path }}">Affiliate Home</a></li>
			<li><a href="http://inuvo.com/inuvo-platform-publisher-agreement">Affiliate Agreement</a></li>
			<li><a href="{{ publisher.affiliate_faq_path }}">FAQ</a></li>
			<li><a href="mailto:affiliates@kowabunga.com" target="_blank">Contact Us</a></li>
		</ul>
		<a href="mailto:affiliates@kowabunga.com"><img src="/themes/kowabunga/images/buttons/affiliates-apply-now.png" alt="Join the Kowabunga Affiliates Program now"/></a>
	</div><!-- end #affiliate-page-right -->
	
</div><!-- end #standard-pages-box-inner -->