<div id="standard-pages-box-inner">
	<div id="affiliate-page-left">
		<h2>Join Kowabunga's Affiliate Program!</h2>
		<p>Kowabunga.com is a deals site featuring deals from other select deal sites, as well as exclusive deals you won’t find anywhere
		else.  Customers can use Kowabunga.com to find deeply-discounted deals in their area for restaurants, spas, services, retail
		and other local businesses!</p>	
		<h3>Make More Money!</h3>
		<p>Our deals let you earn more! With valuable deals in over 50 local markets, as well as nationwide deals, there are more
		opportunities to convert users than ever before – all by joining one affiliate program.</p>
		<div id="affiliate-information-box">
			
			<div class="affiliate-values">
				<img src="/themes/kowabunga/images/graphics/affiliate-single-dollar.png" alt="kowabunga affiliates program, make 8 precent"/>
				<p><span>Make 8% of the sale</span> on aggregated deals from a variety of deal sites.</p>
			</div><!-- end .affiliate-values -->
			
			<div class="affiliate-values">
				<img src="/themes/kowabunga/images/graphics/affiliate-double-dollar.png" alt="make 15 precent on exclusive deals"/>
				<p><span>Make 15% of the sale</span> on Kowabunga Exclusive Deals!</p>
			</div><!-- end .affiliate-values -->
			
			<div class="affiliate-values">
				<img src="/themes/kowabunga/images/graphics/affiliates-30-day.png" alt="make revinue for 30 days"/>
				<p><span>For every customer you refer, you'll continue earning commissions</span><br/>on any additional purchases they make for up to 30 days.</p>
			</div><!-- end .affiliate-values -->
		</div><!-- end #affiliate-information-box -->
		
		<h3>Getting Started is Easy</h3>
		<ol>
			<li><a href="mailto:affiliates@kowabunga.com">Email Us</a> for details on how to be invited to the Kowabunga Deals Affiliate Program.</li>
			<li>A dedicated Affiliate Manager will contact you.</li>
			<li>Customize your implementation with these choices:
				<ul>
				<li>Banners</li>
				<li>Text Links</li>
				<li>Geo-Widgets</li>
				<li>Data Feeds for Deeper Integration</li>
				</ul>
			</li>
			<li id="last-item">Earn commission on every deal purchased through your links!</li>
		</ol>
		
		<h3>Trusted Affiliate Program Technology</h3>
		<p>Kowabunga understands the importance of offering our affiliates a program that is accurate, reliable and easy to use.  Our
		program is powered by the Inuvo Platform to ensure our affiliates receive the best service possible.  The Inuvo Platform provides
		updated reports to you 24/7 – so you can check on your customers’ activity and watch your commission grow – all on
		your schedule.</p>
	
		<h3>Contact Us</h3>
		<p>The Kowabunga Affiliate Program will be launching soon! To learn more find out how to join, please visit our <a href="{{ publisher.affiliate_faq_path }}">FAQ page</a> or contact us at <a href="mailto:affiliates@kowabunga.com">affiliates@kowabunga.com.</a> If you are interested in learning more about the Inuvo Platform, please visit <a href="http://www.inuvo.com/affiliate-marketing">www.inuvo.com/affiliate-marketing.</a></p>
	</div><!-- end #affiliate-page-left -->
	<div id="affiliate-page-right">
		<h4>Related</h4>
		<ul>
			<li><a href="{{ publisher.affiliate_show_path }}">Affiliate Home</a></li>
			<li><a href="http://inuvo.com/inuvo-platform-publisher-agreement">Affiliate Agreement</a></li>
			<li><a href="{{ publisher.affiliate_faq_path }}">FAQ</a></li>
			<li><a href="mailto:affiliates@kowabunga.com" target="_blank">Contact Us</a></li>
		</ul>
		<a href="mailto:affiliates@kowabunga.com"><img src="/themes/kowabunga/images/buttons/affiliates-apply-now.png" alt="Join the Kowabunga Affiliates Program now"/></a>
	</div><!-- end #affiliate-page-right -->
	
</div><!-- end #standard-pages-box-inner -->