<div id="header"> 
		<div id="branding" class="clearfix"> 
		<div class="logo clearfix"></div> 
	</div><!-- #branding --> 
</div><!-- #header --> 
<div id="nav"> 
	<div id="nav-content" class="clearfix"> 
			<ul class="sf-menu menu clearfix"> 
			<li><a href="http://micechat.com">Home</a></li> 
			<li><a href="http://micechat.com/forums">Forums</a></li> 
<li><a href="http://micechat.com/forums/blogs/dateline-disneyland">Dateline Disneyland</a></li> 
<li><a href="http://micechat.com/forums/blogs/orlando-parkhopper/">Orlando Parkhopper</a></li> 
<li><a href="http://micechat.com/forums/blogs/in-the-parks/">In The Parks</a></li> 
<li><a href="http://micechat.com/forums/blogs/weekend-update/">Weekend Update</a></li> 
<li><a href="http://micechat.com/forums/blogs/samland">Samland</a></li> 
<li><a href="http://micechat.com/partners/">Partners</a></li> 
<li><a href="http://micechat.com/rally/">Gumball Rally</a></li> 
<li><a href="http://miceage.micechat.com" target="_blank">MiceAge</a></li> 
		</ul> 
			<ul class="quick-nav clearfix"> 
							<li><a id="rss" title="MiceChat RSS Feed" href="http://micechat.com/feed/">RSS Feed</a></li> 
						
										<li><a id="twitter" title="MiceChat Twitter" href="http://www.twitter.com/micechat/"></a></li> 
						<li><span class="st_sharethis"></span> 
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script> 
</li> 
		</ul> 
	</div><!-- END #nav-content --> 
</div><!-- END #nav --> 
<!--  END #header -->
