    <div id="footer" class="clearfix">

    	<ul id="footer-sidebar" class="clearfix xoxo">

			<li class="widgetcontainer clearfix"><h5 class="widgettitle">About MiceChat:</h5><div class="widgetcontent">			
			<div class="execphpwidget"><a href="http://micechat.com/about-us/">Our Mission Statement</a><br /> 
<a href="http://micechat.com/terms-of-use/">Terms of Use</a><br /> 
<a href="http://micechat.com/privacy-policy/">Privacy Policy</a><br /> 
<a href="http://micechat.com/about-us/#contactus">Contact Us</a><br /></div> 
		</div></li><li class="widgetcontainer clearfix"><h5 class="widgettitle">MiceChat Network of Sites:</h5><div class="widgetcontent">			
			<div class="execphpwidget"><a href="http://miceage.micechat.com/">MiceAge</a><br /> 
<a href="http://micechat.com">MiceChat</a><br /> 
<a href="http://yesterland.com">Yesterland</a><br /></div> 
		</div></li><li class="widgetcontainer clearfix"><h5 class="widgettitle"> </h5><div class="widgetcontent">			
