<div id="banner">
	  {% include with_theme "shared/account_nav" %}
	  <div class="clear"></div>
	  <div id="egc_logo"><a href="http://www.egcitizen.com"><img src="/themes/herburger-egcitizen/images/graphics/egc_logo.png"/></a></div>
	  <div class="clear"></div>
	  {% include with_theme "shared/subscribe_form" %}
	  <div class="clear"></div>
</div><!--banner-->   