<div id="refer_friend" class="sidebar_box">
	<h3>Refer A Friend</h3>
	<p>Refer a friend and receive a {{ publisher.daily_deal_referral_credit_amount | currency }} credit towards your first purchase.</p>
	<a class="click_button refer_a_friend_tracking" href="{{ publisher.refer_a_friend_path }}"><span>Click Here</span></a>
</div><!-- /refer_friend -->