<div id="dd_nav">
	<a href="{{ publisher.todays_daily_deal_path }}">Today's Deal</a> 
	<a href="{{ publisher.how_it_works_path }}">How It Works</a>
	<a href="{{ publisher.contact_path }}">Contact Us</a>
	<a href="{{ publisher.faq_path }}">FAQ's</a>
</div><!-- /dd_nav -->