<script type="text/javascript">
document.title = document.title + " - FAQs"
</script>
<div class="page_row">
	<div class="page_column_12 first">
	
		<h4>What is the Deal of the Day?</h4>
		<p>Each day one incredible deal is featured as the Deal of the Day. The offer is only available for a limited amount of time, so make sure to check back frequently so you don't miss out!

		<h4>How do I buy today's deal?</h4> 
		<p>Click on the "Buy Now" button before midnight on the day the offer expires. Email the deal to your friends and tweet it, Facebook it or text it to everyone you think might be interested.</p>

		<h4>What happens after I buy the Deal of the Day?</h4> 
		<p>After you make a purchase, you'll receive the Deal of the Day voucher to print out via email. Take the voucher to the store or book a reservation any time before the expiration date. <!--What if I want to use just part of the Deal of the Day certificate and save the rest for later?  The certificate must be used in just one visit. However, some merchants may be willing to work with you if this situation arises.-->  </p>
		
		<h4>What if I want to use just part of the Deal of the Day voucher and save the rest for later?</h4>
		<p>The voucher must be used in just one visit. However, some merchants may be willing to work with you if this situation arises. </p>
		
		<h4>If my name is on the Deal of the Day voucher, can the merchant charge my account?</h4>
		<p>No. The merchant does not have your account information. That is held by Analog Analytics, the software company that processes the transaction for thomsonlocal.com.  </p>
		
		<h4>Is the transaction safe for me to use?</h4> 
		<p>Yes. The transaction uses SSL and other industry standard security features to ensure that no one else has access to your PayPal or credit card information.  </p>
		
		<h4>When I gift the Deal of the Day to a friend, will they have access to my account information?</h4> 
		<p>No. On the Deal of the Day voucher, there is a record of the transaction, the purchaser's name and the gifted consumer's name, along with a unique 8-digit code.  The payment information is secure on a site that no consumer has access to.</p>
		
		<h4>Can I combine the Deal of the Day with other offers the merchant might have presented previously?</h4>
		<p>No, each Deal of the Day has its own terms. </p>

		<h4>What if the merchant does not honour the offer?</h4> 
		<p>We go out of our way to check each merchant and make sure they live up to our high standards.  We will also provide recent reviews or testimonials to help you get a better idea of what you are buying. On the rare occurrence that something happens and you're not satisfied, thomsonlocal.com will work with the merchant <!--(through Analog Analytics) will refund the offer-->to try to solve the problem to your satisfaction.</p>
		
		<h4>What if I change my mind after purchasing the voucher?</h4>
		<p>If for whatever reason you change your mind about wanting to take advantage of the Deal of the Day offer, you can cancel your purchase.  However, you must let us know of your wish to cancel within the 7 days following your purchase by emailing us at <a href="mailto:dealsupport@thomsonlocal.com">dealsupport@thomsonlocal.com</a> or  writing to us at:  Deal of the Day, thomsonlocal.com, 296 Farnborough Road, Farnborough, Hants.  GU14 7NU.  After this period, there is no right to cancel. </p><!--<h4>What if I miss the expiration date?</h4> 
		<p>If you miss the expiration date on your deal you won't lose the money you have paid. While the additional discounts are no longer available, you are still entitled to goods and services equal to the paid value of the voucher.</p>
		<p>For example, if you spend &#x20A4;25 to buy a &#x20A4;50 voucher for a new restaurant, but are unable to get there before the expiration date, you will still be entitled to &#x20A4;25 of food and drink.</p>-->
		
		<h4>What if I have more questions?</h4> 
		<p>Feel free to email us on <a href="mailto:dealsupport@thomsonlocal.com">dealsupport@thomsonlocal.com</a>. The teams at thomsonlocal.com and Analog Analytics will be more than happy to answer any additional questions you may have.</p>
		
		<h4>What if I have feedback or ideas?</h4> 
		<p>You can submit feedback, ideas, complaints or praises on <a href="http://getsatisfaction.com/thomsonlocal">http://getsatisfaction.com/thomsonlocal</a>. This site is a public forum and should not be used for deal-specific support questions.</p>

	 </div>
</div>
