<script type="text/javascript">
document.title = document.title + " - How it Works"
</script>
<div class="page_row">
	<div class="page_column_12 first">
	
		<h4>Introduction</h4>
		<p>Each day one deal is featured in the Thomsons Local Deal of the Day. We have negotiated deals with savings up to 90% OFF! Join our free email subscriber list to find out what deal is on everyday; straight to your inbox.</p>
		<h4>Step 1: Buy</h4>
		<p>To purchase the deal just click on the "Buy Now" button before the offer expires. Next, fill out your credit card information and check your email inbox for a confirmation that will direct you to your next step.</p>
		<h4>Step 2: Share</h4>
		<p>Don't forget to tell your friends about Deals of the Day and share the amazing local savings! Share the deal with your friends through email, Facebook and Twitter.</p>
		<h4>Step 3: Print</h4>
		<p>Once you make a purchase you will receive a printable certificate by email. Print the Deal of the Day certificate and redeem it any time before the expiration date. You can only redeem your deal by having your certificate in hand, which includes its own unique 8-digit code.</p> 
		<h4>Step 4: Enjoy!</h4>
	
		<p>Still have questions? Check out our <a href="{{ publisher.faq_path }}">FAQ page</a></p>

	 </div>
</div>
