<!--<script type="text/javascript">
document.title = document.title + " - FAQs"
</script>-->
<div class="page_row">
	<div class="page_column_12 first">
	
		<h1>Privacy Policy</h1>
		<p>Thomson Directories Limited ("thomsonlocal.com") is committed to protecting your privacy, and complies with the Data Protection Act 1998. Your personal details are not held or used without your permission.
thomsonlocal.com reserves the right to revise this Privacy Policy at any time, without notice, and you should check back to this policy regularly to be informed of any changes.
Users can search for a desired subject to produce search results on our distribution network which is www.thomsonlocal.com and the websites of distribution partners from time to time which may take thomsonlocal.com in whole or in part.</p>

		<h4>Search User Information</h4>
		<p>It is not necessary to provide personal information in order to use the thomsonlocal.com service as a search user. Data may be gathered about use of the thomsonlocal.com in order to enhance your experience using cookies. Further data may also be collected with your permission using questionnaires, feedback forms, competition entries or similar or you may be invited to register in order to receive updates tailored to your interests.
Queries and comments received via our websites, via email and by telephone are also monitored in order to enhance the thomsonlocal.com customer service and the search user experience of the service.
Information gathered may be used to report on usage of the thomsonlocal.com service and such reports will be generic in nature and will not report on individual or personal details or behaviour.</p>

		<h4>thomsonlocal.com's use of Cookies</h4>
		<p>A cookie is a small data file that certain websites write to your hard drive when you visit them. A cookie file can contain information such as a user ID that the site uses to track the pages you've visited. But the only personal information a cookie can contain is information you supply yourself. A cookie can't read data off your hard disk or read cookie files created by other sites.
The site may use cookies to identify you anonymously in its database and to track the pages you visit on the site. Cookies may also enable you to enter sections of the website without having to supply certain information each time, and to visit member-restricted areas of the sites.
You can refuse cookies by turning them off in your browser.</p>

		<h4>Information Storage and Security</h4>
		<p>thomsonlocal.com uses all reasonable endeavours to ensure the security of systems on which personal data is stored and may be processed.
		
The service provides links to third party websites for which thomsonlocal.com has no responsibility. thomsonlocal.com does not share personal data with these websites, except where they may be selected partners. Any information which you provide to these websites will be subject to the privacy policies of the individual websites.</p>

		<h4>Contact</h4>
		<p>Please address any queries related to the thomsonlocal.com service or this Privacy Policy to:</p>

		<h4>thomsonlocal.com</h4>

		<p>Thomson House<br>
		296 Farnborough Road<br>
		Farnborough Hampshire GU14 7NU<br><br> 
	
		email: <a href="mailto:info@thomsonlocal.com">info@thomsonlocal.com</a><br><br>
		Incorporated in England. Registered No. 902438</p>

	 </div>
</div>
