<% set_daily_deal_page_title_slug t(:feature_your_business) %>

<!-- breadcrumbs -->
  <div class="breadcrumbs">
  <ul>
    <li>
      <a href="<%= public_deal_of_day_path(@publisher.label) %>">Inicio</a>
    </li>
    <li class="no_underline">></li>
    <li class="no_underline">          
      Incluya a su empresa
    </li>
  </ul>
  </div><!-- /breadcrumbs -->
  <div class="clear"></div>

<div class="page_row">
  <div class="page_column_12 first rounded_corners">
    <h1 class="content"><%= t(:feature_your_business) %></h1>
  <div id="feature_your_business_content">
    
    <div id="left_column">
      <p>
        ¡Gracias por su interés en incluir una oferta relacionada con la salud en Blue365! Un miembro del equipo Blue365 se contactará con Usted a la brevedad para conversar sobre la oferta que Usted tenga en mente.
        </p>
        
        <p>
        ¡Le deseamos la mejor salud!<br /><br />
        
        <img src="/themes/bcbsa/images/graphics/blue_team_signature.png" alt="The Blue365 Team">
        
      </p>
    </div>
    <div class="right_column_2">
      <div class="content">
        <div class="top">
          <h5>¿Por qué participar en Blue365?</h5>
          <p>Ayudar a otros a vivir vidas más saludables debería ayudar también a su empresa.</p>
        </div>
      
        <div class="middle">
          <img src="/themes/bcbsa/images/graphics/reach_icon.png">
          <h6>Tener llegada a nuevos clientes:</h6>
          <p>Los miembros de Blue365 verán sus últimas ofertas a través de mensajes de correo electrónico semanales y actividades promocionales dirigidas.</p>
        
          <img src="/themes/bcbsa/images/graphics/share_icon.png">
          <h6>Hacer correr la voz:</h6>
          <p>Los miembros de Blue365 cuentan con fáciles opciones para compartir las oportunidades por Facebook, Twitter y correo electrónico &#8212; lo que lo ayudará a encontrar más clientes más rápido.</p>
          
          <img src="/themes/bcbsa/images/graphics/earn_icon.png">
          <h6>Hacer crecer su empresa:</h6>
          <p>No hay una tarifa inicial para presentar una oportunidad, y le pagaremos por cada oportunidad comprada poco después de que termine su promoción de la oportunidad. Parece simple &#8212; y lo es.</p>
        </div>
        <div class="bottom_img"></div>      
      </div>
    </div>
    
    </div>
  </div>
</div>
