<% set_daily_deal_page_title_slug t(:feature_your_business) %>

<!-- breadcrumbs -->
	<div class="breadcrumbs">
	<ul>
		<li>
			<a href="<%= public_deal_of_day_path(@publisher.label) %>">Home</a>
		</li>
		<li class="no_underline">></li>
		<li class="no_underline">          
			Feature Your Business
		</li>
	</ul>
	</div><!-- /breadcrumbs -->
	<div class="clear"></div>

<div class="page_row">
  <div class="page_column_12 first rounded_corners">
    <h1 class="content"><%= t(:feature_your_business) %></h1>
	<div id="feature_your_business_content">
		
		<div id="left_column">
			<p>
				Thanks for your interest in featuring a healthy deal on Blue365! A member of the
				Blue365 team will contact you shortly to discuss the deal you have in mind.
				</p>
				
				<p>
				Here's to your health,<br /><br />
				
				<img src="/themes/bcbsa/images/graphics/blue_team_signature.png" alt="The Blue365 Team">
				
			</p>
		</div>
		<div class="right_column_2">
			<div class="content">
				<div class="top">
					<h5>Why participate in Blue365?</h5>
					<p>Helping others live healthier lives should help your business too.</p>
				</div>
			
				<div class="middle">
					<img src="/themes/bcbsa/images/graphics/reach_icon.png">
					<h6>Reach new customers:<h6>
					<p>Our audience of more than 35 million (and growing) will see your latest offers through weekly emails and targeted promotional activities</p>
				
					<img src="/themes/bcbsa/images/graphics/share_icon.png">
					<h6>Spread the word:<h6>
					<p>Our audience of more than 35 million (and growing) will see your latest offers through weekly emails and targeted promotional activities</p>
					
					<img src="/themes/bcbsa/images/graphics/earn_icon.png">
					<h6>Grow Your Business:<h6>
					<p>Our audience of more than 35 million (and growing) will see your latest offers through weekly emails and targeted promotional activities</p>
				</div>
				<div class="bottom_img"></div>			
			</div>
		</div>
		
  	</div>
  </div>
</div>
