<div style"clear:both;"></div>
<div id="PageWrap" class="hide-mobile">
    <div id="ContentWrap" class="roundedBox SectionPage">


<!--    <div class="fi_wide marginMidTop">


	<div class="fi_adsense">

					<div id="google_contentb">

				<form target='_top' name="fisearch2" action="http://www.vvdailypress.com/search/" method="get" target="_top">
			<div id="google_centerSection">
				<div class="google_padderb">
					
					<div id="google_poweredByb">powered by<br /><img src="/themes/vvdailypress/images/searchBox_google_small.gif" width="47" height="14" alt="google" /></div>
					<div id="google_buttonb"><a target='_top' href="javascript:;" onclick="javascript:document.fisearch2.submit()"><img src="/themes/vvdailypress/images/btn_search.gif" border="0" alt="Search"></a></div>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Search:</span>

					<input name="q" type="text" class="google_inputTextb" value="" />
					<input name="fistype" type="radio" value="web" /> 
					Web						&nbsp;&nbsp;
					<input name="fistype" type="radio" value="site" checked="checked" /> 
					Site					</div>
			</div>
			</form>
		</div>			</div>

	<div class="fi_wide_bottom clear"></div>

</div>
-->

<div class="fi_wide">

	<div class="fi_wide_top"></div>
	<div class="fi_footer2">
			<ul>
				<li><a target='_top' href="http://www.vvdailypress.com/sections/mediakit/"><b><u>Advertising Info</u></b></a></li>
				<li><a target='_top' href="http://hd.highdesert.com/advertise/">Place An Ad</a></li>
                                <li><a target='_top' href="http://www.vvdailypress.com/interactive/">Interactive</a></li>
			</ul>
			<ul>
				<li><a target='_top' href="http://www.vvdailypress.com/common/archives/?nocss=1"><b><u>Archives</u></b></a></li>
        <li><a target='_top' href="http://www.vvdailypress.com/common/archives/?nocss=1&cat=Local+News">Story Archive</a></li>
        <li><a target='_top' href="http://www.legacy.com/VVDailyPress/Obituaries.asp">Obituary Archive</a></li>
        <li><a target='_top' href="http://www.vvdailypress.com/common/archives/?nocss=1&cat=Local+Photos">Photo Archive</a></li>
			</ul>
			<ul>
		<li><a target='_top' href="https://freedom.dticloud.com/cgi-bin/cmopac_cmopac.sh/custservice/web/login.html?siteid=VCP"><b><u>Subscriber Services</u></b></a></li>
        <li><a target='_top' href="http://www.vvdailypress.com/sections/service/epaperhelp.php">E-Paper Help</a></li>
        <li><a target='_top' href="https://freedom.dticloud.com/cgi-bin/cmopac_cmopac.sh/custservice/web/login.html?siteid=VCP">Home Delivery</a></li>
        <li><a target='_top' href="https://freedom.dticloud.com/cgi-bin/cmopac_cmopac.sh/custservice/web/login.html?siteid=VCP">Report a Problem</a></li>
			</ul>
			<ul>
         <li><a target='_top' href="http://epaper.vvdailypress.com/Default/welcome.asp?skin=DailyPress&QS=Skin%3DDailyPress%26Daily%3DVDP"><b>
		 <u>Online Services</u></b></a></li>
         <li><a target='_top' href="http://www.vvdailypress.com/sections/rss/">RSS Feeds</a> <a target='_top' href="http://www.vvdailypress.com/sections/rss/"><img align="absmiddle" src="http://www.vvdailypress.com/images/xml.gif" width="36" height="14" border="0" alt="" /></a></li>
		 <li><a target='_top' href="http://www.vvdailypress.com/sections/news-alerts/">Newsletters/Alerts</a></li>
	       <li><a target='_top' href="http://customcoupon.com/cgi-bin/valuecenter.cgi?config=FRVICTOR">Coupons</a></li>
	       <li><a target='_top' href="http://www.vvdailypress.com/sections/articles-map/">Article Map</a></li>
			</ul>
			<ul>
         <li><a target='_top' href="http://www.highdesert.com"><b><u>High Desert Sites</u></b></a></li>
		 <li><a target='_top' href="http://www.freedomhighdesert.com/">Freedom High Desert</a></li>
         <li><a target='_top' href="http://www.desertdispatch.com/">Desert Dispatch</a></li>
         <li><a target='_top' href="http://www.hesperiastar.com/">Hesperia Star</a></li>
         <li><a target='_top' href="http://www.elmojave.com/">El Mojave</a></li>
         <li><a target='_top' href="http://www.highdesertjobs.com/">High Desert Jobs</a></li>
         <li><a target='_top' href="http://applevalley-review.com/">Apple Valley Review</a></li>
         <li><a target='_top' href="http://lucernevalleyleader.com/">Lucerne Valley Leader</a></li>
			</ul>
	</div>
	<div class="fi_footer">
			<p>
			<script type="text/javascript"> tDate=new Date(); update=tDate.getFullYear(); document.write("Copyright &#169; "+ update + " Freedom Communications"); </script>
			</p>
			<p>
        <a target='_top' href="http://www.vvdailypress.com/sections/contactus/">Contact Us</a>
            | 
				<a target='_top' href="http://directory.vvdailypress.com" title="victorville california businesses">Victorville Directory</a>
						|	<a target='_top' href="http://real-estate.highdesert.com/" title="high desert real estate">Real Estate</a>	
						|  <a target='_top' href="http://www.highdesertautofinder.com/autos/main.asp?Region=CA" title="cars and autos">Cars &amp; Autos</a>
            | <a target='_top' href="http://www.highdesertjobs.com/">Jobs</a>
            | <a target='_top' href="http://www.legacy.com/VVDailyPress/Obituaries.asp">Obituaries</a>
            | <a target='_top' target="_blank" href="http://highdesertnie.com/" title="Newspapers In Education">N.I.E.</a>
            | <a target='_top' href="http://www.vvdailypress.com/sections/health/">Health</a>
            | <a target='_top' href="http://www.vvdailypress.com/sections/dining/">Dining</a>
            | <a target='_top' href="http://www.vvdailypress.com/sections/sitemap/">Site Map</a>
                <br />

            <a target='_top' href="http://www.freedom.com/privacy.html" onclick="window.open('http://www.freedom.com/privacy.html');return false">Privacy Policy</a> |
            <a target='_top' href="http://www.freedom.com/eula.html" onclick="window.open('http://www.freedom.com/eula.html');return false">User Agreement</a>
       </p>
				<img src="http://www.vvdailypress.com/common/images/freedominc.jpg" alt="Freedom Communications, Inc" width="50" height="49" />
				<p><a target='_top' href="http://www.freedom.com" target="_blank">Freedom Communications, Inc.</a></p>
	</div>
	<div class="fi_wide_bottom "></div>



</div>

</div>

</div>
