<div id="fi_wrapper" class="hide-mobile">
   <div class="fi_wide">
      <div class="fi_wide_top"></div>

      <div class="fi_footer2">
        <ul>
          <li><a target='_top' href=
          "http://www.themonitor.com/sections/mediakit/">Advertising
          Info</a></li>

          <li><a target='_top' href=
          "http://www.verican.us/cod6/saleitem.do;jsessionid=62AE87F6F09524B363539EF7D91E1057?catalog=valleywideclassified">
          Place An Ad</a></li>
        </ul>

        <ul>
          <li><a target='_top' href=
          "http://www.themonitor.com/common/archives/?nocss=1">Archives</a></li>

          <li><a target='_top' href=
          "http://www.themonitor.com/common/archives/?nocss=1&amp;cat=News">
          Story Archive</a></li>

          <li><a target='_top' href=
          "http://www.legacy.com/themonitor/Obituaries.asp">Obituary
          Archive</a></li>

          <li><a target='_top' href=
          "http://www.themonitor.com/sections/photos/">Photo
          Archive</a></li>
        </ul>

        <ul>
          <li><a target='_top' href=
          "https://freedom.dticloud.com/cgi-bin/cmosw_cmosw.sh/custservice/web/login.html?siteid=MCM">
          Subscriber Services</a></li>

          <li><a target='_top' href=
          "https://freedom.dticloud.com/cgi-bin/cmosw_cmosw.sh/custservice/web/login.html?siteid=MCM">
          Home Delivery</a></li>

          <li><a target='_top' href=
          "https://freedom.dticloud.com/cgi-bin/cmosw_cmosw.sh/custservice/web/login.html?siteid=MCM">
          Mail Delivery</a></li>
        </ul>

        <ul>
          <li><a target='_top' href=
          "http://www.themonitor.com/sections/e-paper/">Online
          Services</a></li>

          <li><a target='_top' href=
          "http://www.themonitor.com/sections/news-alerts/">Newsletters/Alerts</a></li>

          <li><a target='_top' href=
          "http://www.themonitor.com/sections/rss/">RSS Feeds</a>
          <a target='_top' href=
          "http://www.themonitor.com/sections/rss/"><img align=
          "absmiddle" title="RSS Feeds" src="/themes/freedom/images/rss.gif" width=
          "36" height="14" border="0" /></a></li>

          <li><a target='_top' href=
          "http://customcoupon.com/cgi-bin/valuecenter.cgi?config=MONITOR">
          Coupons</a></li>

          <li><a target='_top' href=
          "http://www.themonitor.com/sections/dining/">Dining</a></li>

          <li><a target='_top' href=
          "http://www.themonitor.com/sections/articles-map/">Article
          Map</a></li>
        </ul>

        <ul>
          <li><a target='_top' href=
          "http://www.themonitor.com/sections/related-sites/">Related
          Sites</a></li>

          <li><a target='_top' href=
          "http://www.lafronteratx.com/">La Frontera</a></li>

          <li><a target='_top' href=
          "http://www.mcallear.com">McAllear.com</a></li>

          <li><a target='_top' href=
          "http://www.southtexasjobs.com/">Southtexasjobs.com</a></li>

          <li><a target='_top' href=
          "http://www.rgvsports.com/">RGVSports.com</a></li>

          <li><a target='_top' href=
          "http://www.thev247.com/">theV247.com</a></li>

          <li><a target='_top' href=
          "http://www.freedompolitics.com">FreedomPolitics.com</a></li>
        </ul>
      </div>

      <div class="fi_footer">
        <p>Copyright &#169; 2011.<br />
        The contents of this website may not be reproduced without
        written<br />
        permission from The Monitor. All rights reserved.<br /></p>

        <p><a target='_top' href=
        "http://www.themonitor.com/sections/contact/">Contact
        Us</a> | <a target='_top' href=
        "http://www.freedom.com/privacy.html" onclick=
        "window.open('http://www.freedom.com/privacy.html');return false">
        Privacy Policy</a> | <a target='_top' href=
        "http://www.freedom.com/eula.html" onclick=
        "window.open('http://www.freedom.com/eula.html');return false">
        User Agreement</a> | <a target='_top' href=
        "http://www.themonitor.com/sections/mediakit/">Advertising
        Info</a> | <a target='_top' href=
        "http://directory.themonitor.com" title=
        "mcallen texas business">McAllen Directory</a> | <a target=
        '_top' href=
        "http://monitorautos.com/autos/main.asp?Region=Texas">Cars
        &amp; Autos</a> | <a target='_top' href=
        "http://homes.themonitor.com/">Homes</a> | <a target='_top'
        href="http://www.themonitor.com/sections/jobs">Jobs</a> |
        <a target='_top' href=
        "http://valleywidemarketplace.kaango.com/">Classifieds</a>
        | <a target='_top' href=
        "http://www.themonitor.com/sections/sitemap/">Site
        Map</a></p><img src="/themes/freedom/images/freedominc.jpg"
        alt="Freedom Communications, Inc" width="50" height="49" />

        <p><a href="http://www.freedom.com" target="_blank">Freedom
        Communications, Inc.</a></p>
      </div>

      <div class="fi_wide_bottom"></div>
</div>
<div style="clear:both"></div>