<div id="landing_header">
	<div class="container">
		<div id="toprow">
			<a href="http://www.datediscounts.com"><h1 id="landing_deal_logo"></h1></a>
			<div class="clear"></div>
		</div><!-- toprow -->
		<div class="clear"></div>
	</div><!-- container -->
</div><!-- banner -->
