<div id="all_deals_nav_box">
	<ul id="all_deals_nav">
		<li class="all_deal_btn all_deal_tab all_deal_active"><a href="#">All Deals</a></li>
		<li class="featured_btn all_deal_tab"><a href="#">Featured</a></li>
		<li class="how_it_works_btn all_deal_tab"><a href="#">How It Works</a></li>
	</ul>
</div><!-- end #all_deals_nav -->