<div id="masthead">
	<div id="press-logo">
			<a href="{{ publisher.todays_daily_deal_path }}">Anchorage Press Daily Deals</a>
	</div><!-- end #press-logo -->
	{% include with_theme "shared/dd_nav" %}
</div>