<!--Portland stations-->
<div>
	<a href="http://www.1051thebuzz.com/" target="_blank"><img src="/themes/entercom-portland/images/stations/buzz.png" alt="105.1 The Buzz"></a>
	<a href="http://www.charliefm.com/" target="_blank"><img src="/themes/entercom-portland/images/stations/charlie.png" alt="97.1 Charlie FM"></a>
	<a href="http://www.1080thefan.com/" target="_blank"><img src="/themes/entercom-portland/images/stations/1080TheFanwhiteontrans_small.png" alt="The FAN 1080AM"></a>
	<a href="http://www.kgon.com/" target="_blank"><img src="/themes/entercom-portland/images/stations/kgon.png" alt="92.3 KGON"></a>
	<a href="http://www.knrk.com/" target="_blank"><img src="/themes/entercom-portland/images/stations/947.png" alt="94.7 FM"></a>
	<a href="http://www.thewolfonline.com/" target="_blank"><img src="/themes/entercom-portland/images/stations/wolf.png" alt="99.5 The Wolf"></a>     
</div>