<div class="page_row">  
  <div class="page_column_12 first rounded_corners">
		<div class="text">
		  <h1 class="content">&iquest;C&Oacute;MO FUNCIONA?</h1>
		  
		 	 <p>
		 	 	&iexcl;No se pierdas la oportunidad de ahorrarse un dinerito con nuestras ofertas semanales!  <a href="{{ publisher.login_path }}">Inscr&iacute;base</a> para recibir un correo electr&oacute;nico cada vez que tengamos una oferta nueva.
		 	 </p>
		  
		     <p>
		     	&iquest;A&uacute;n tiene m&aacute;s preguntas?  Vea nuestra secci&oacute;n de <a href="{{ publisher.faq_path }}"> Preguntas m&aacute;s frecuentes</a>.
		     </p>
		     
		</div>
	</div>
</div>
