<!-- <div class="column_wrapper iphone"> -->
<div class="content_box iphone_ad">
	<h4>get <span class="fun">fun</span><span class="do">do</span><span class="go">go</span> mobile</h4>
	<img src="/themes/fundogo/images/graphics/iphone.png" class="iphone" alt="FunDoGo for iPhone" height="189" width="100" />
	<p>The <span class="fun">fun</span><span class="do">do</span><span class="go">go</span>  iPhone app makes it easy to check out today's <span class="fun">fun</span><span class="do">do</span><span class="go">go</span> and buy deals safely and securely from your phone!</p>
	<a href="http://itunes.apple.com/tw/app/id465468291?mt=8"><img src="/themes/fundogo/images/buttons/app-store.png" alt="Available on the iPhone App Store" height="72" width="150" /></a>
</div><!-- /iphone_ad -->
<!-- </div> --><!-- /wrapper -->