<% if @publisher.enable_daily_deal_referral %>
	<div id="refer_friend" class="content_box">
		<h4>Refer a <strong>Friend</strong></h4>
		<img class="speech_bubbles" src="/themes/analogapplied/images/graphics/speech_bubbles.png" height="68" width="96" alt="speech bubbles" />
		<h5>Spread <br />the word!</h5>
		<p class="refer">Get a <%= number_to_currency @publisher.daily_deal_referral_credit_amount %> deal credit when you refer a friend!</p>
		<a href="<%= refer_a_friend_publisher_consumers_path(@publisher) %>" class="button gradient refer_a_friend_tracking">Get Info</a>
	</div><!-- /refer_friend -->
<% end %>       
