<div id="header" class="dailydeals">
    <div class="inner"> 
    <div id="topper"> 
        <ul class="right-vendor"> 
        <li><a href="http://www.newsday.com/subscribe" target="_top">Subscribe</a></li> 
        <li><a href="http://www.newsday.com/traffic" target="_top">Traffic</a></li> 
        <li><a href="http://www.newsday.com/weather" target="_top">Weather</a></li>
		</ul> 
    </div> 
    <!-- END Topper --> 
    <div id="masthead" class="dailydeals"> 
    <p class="date"> 
    <script language="JavaScript"> 
	<!--
    var now = new Date();
    var days = new Array(
      'Sunday','Monday','Tuesday',
      'Wednesday','Thursday','Friday','Saturday');
    var months = new Array(
      'January','February','March','April','May',
      'June','July','August','September','October',
      'November','December');
    var date = ((now.getDate()<10) ? "0" : "")+ now.getDate();
    function fourdigits(number)	{
      return (number < 1000) ? number + 1900 : number;}
    today =  days[now.getDay()] + ", " +
       months[now.getMonth()] + " " +
       date + ", " +
       (fourdigits(now.getYear()));
	document.write(today);
	//-->
	</script> 
    </p> 
    <a href="http://www.newsday.com" target="_top" name="name" id="logo">Newsday.com</a> 
 
      <form accept-charset="utf-8" method="get" action="http://www.newsday.com/7.25434" class="search" target="_top"> 
        <fieldset> 
          <input type="text" class="text" id="searchQ" value="search newsday.com" name="q"/> 
          <button onclick="linktrackSearch();" value="Go" class="ltBtn" type="submit"><span></span></button> 
        </fieldset> 
      </form> 
    </div> 
    <!-- END masthead--> 
        <div id="nav" class="dailydeals" style="height: 36px"> 
 
      <ul> 
        <li id="navLi"><a href="http://www.newsday.com/long-island" target="_top">Long Island</a></li> 
        <li id="navSports"><a href="http://www.newsday.com/sports" target="_top">Sports</a></li> 
        <li id="navEnt"><a href="http://www.newsday.com/entertainment" target="_top">Entertainment</a></li> 
        <li id="navNews"><a href="http://www.newsday.com/news" target="_top">News</a></li> 
        <li id="navLifeStyle"><a href="http://www.newsday.com/lifestyle" target="_top">Lifestyle</a></li> 
 
        <li id="navBusiness"><a href="http://www.newsday.com/business" target="_top">Business</a></li> 
        <li id="navHealth"><a href="http://www.newsday.com/health" target="_top">Health</a></li> 
        <li id="navTravel"><a href="http://www.newsday.com/opinion" target="_top">Opinion</a></li> 
        <li id="navJobs" class="lite"><a href="http://www.newsday.com/jobs" target="_top">Jobs</a></li> 
        <li id="navCars" class="lite"><a href="http://www.newsday.com/cars" target="_top">Cars</a></li> 
        <li id="navRealEstate" class="lite"><a href="http://www.newsday.com/real-estate" target="_top">Real Estate</a></li> 
        
        <li id="navMore"><a href="http://www.newsday.com/classifieds" target="_top">More</a></li> 
      </ul> 
    </div> 
    <!-- END nav--> 
    </div> 
  <!-- END Inner --> 
</div><!--END NEWSDAY HEADER-->