<!--START NEWSDAY FOOTER-->

<div id="footer" class="dailydeals"> 
	<div class="inner"> 
		<div id="services" class="dailydeals"> 
		<h4>Services</h4> 

		<a name="name" href="http://www.newsday.com/facebook" class="icons fb" target="_top">Join us on facebook</a> 
		<a name="name" href="http://www.newsday.com/twitter" class="icons twit" target="_top">Join us on twitter</a> 
		<a name="name" href="http://www.newsday.com/news-alerts" class="icons alert" target="_top">Sign up for news alerts</a> 
		<a name="name" href="http://www.newsday.com/newsletters" class="icons nl" target="_top">Sign up for <br />newsletters</a> 
		<a name="name" href="http://www.newsday.com/getapps" class="icons app" target="_top">Get our<br />Apps</a> 
		<a name="name" href="http://www.newsday.com/getmobile" class="icons mobile" target="_top">Newsday<br />mobile</a> 
		</div> 
		<div id="network"> 
		<h4>Our Network</h4> 
		<ul> 
		<li><a name="name" href="http://www.newsday.com/exploreli" target="_top">Explore Long Island </a></li> 
		<li><a name="name" href="http://www.newsday.com/towns" target="_top">Long Island Towns</a></li> 
		<li><a name="name" href="http://www.newsday.com/amny" target="_top">am New York </a></li> 
		<li><a name="name" href="http://www.newsday.com/optimumautos" target="_top">Optimum Autos </a></li> 
		<li><a name="name" href="http://www.newsday.com/starpublishing" target="_top">Hometown Shopper</a></li> 
		<li><a name="name" href="http://www.newsday.com/insider" target="_top">Newsday Insider</a></li> 
		<li><a name="name" href="http://www.newsday.com/newsdaystore" target="_top">Newsday Online Store</a></li> 
		</ul> 

		<ul> 
		<li><a name="name" href="http://www.newsday.com/optimumhomes" target="_top">Optimum Homes</a></li> 
		<li><a name="name" href="http://www.newsday.com/careerbuilder" target="_top">CareerBuilder</a></li> 
		<li><a name="name" href="http://www.newsday.com/news12" target="_top">News 12</a></li> 
		<li><a name="name" href="http://www.newsday.com/optimum" target="_top">Optimum</a></li> 
		<li><a name="name" href="http://www.newsday.com/msg" target="_top">MSG</a></li> 
		<li><a name="name" href="http://www.newsday.com/varsity" target="_top">MSG Varsity</a></li> 
		<li><a name="name" href="http://www.newsday.com/powertolearn" target="_top">Power to Learn</a></li> 
		</ul> 
		</div> 
		<!-- END footer inner --> 
	</div> 
	<div id="botLinks" class="dailydeals"> 
		<div class="inner"> 
			<a name="name" href="http://www.newsday.com/site-map" target="_top">Site Map</a> | <a name="name" href="http://www.newsday.com/privacy" target="_top">Privacy Policy</a> | <a name="name" href="http://www.newsday.com/terms" target="_top">Terms of Service</a> | <a name="name" href="http://www.newsday.com/contact" target="_top">Contact Newsday</a> | <a name="name" href="http://www.newsday.com/careers" target="_top">Careers</a> | <a name="name" href="http://www.newsday.com/media-kit" target="_top">Media Kit</a> | <a name="name" href="http://www.newsday.com/advertise" target="_top">Advertise with Newsday</a> | <a name="name" href="http://www.newsday.com/help" target="_top">Help</a> | &nbsp;Copyright &copy; 2011 Newsday LLC. All rights reserved.
		</div> 
	</div> 
</div>
<!--END NEWSDAY FOOTER-->