  <div class="page_column_4 last rounded_corners">
    <h2 id="how_does_it_work">WHAT IS THIS?</h2>
    <p>We're donating $5.00 to Kiva (the award-winning microlending charity) plus giving you $5.00 in Deal Credit for every friend you refer that makes a purchase. Your Deal Credit can be used toward any purchase and never expires.</p>
    <br/>
    <h2 id="how_do_i_refer"><%= t('.sidebar_item_2_question') %></h2>
    <p>Share your unique referral link via email, Facebook, Twitter, or any other means you wish. When your friends click on that link, we'll know it's your referral and it's you who sent them.</p>
    <br/>
    <h2 id="what_are_the_rules"><%= t('.sidebar_item_3_question') %></h2>
    <p>If someone signs up within 72 hours after clicking your link, we'll donate $5.00 to Kiva and  add $5.00 in Deal Credit to your account when they make their first purchase. You can refer as many people as you like. Check your Deal Credit balance by clicking on 'My Account'.</p>  
  </div>