
	<a href="http://www.busca-ayuda.com/spanish" target="_blank"><img id="publisher_logo" src="/themes/buscaayuda-Spanish/images/graphics/logo.png" alt="Daily News" /></a>
	<h4 id="logo_subtext">PRESENTA A BUSCA DEALS</h4>