<div id="about_us" class="content_box text_page">
	<h1>About Us</h1>
	<p>Looking for a new way to get great deals to the places you love? You've found it!</p>
	<p>With FunDoGo you can experience everything the daily deal has to offer, your way. We make it easy for you to create your own deal and interact with other deal lovers to find out what's hot in your area, all while offering 50-90% off the products and services you've come to expect from your favorite deal sites.</p>
	<p>Sign up for our daily emails and enjoy the best deals in your city, created by people like you! Deals by you, for you - only with FunDoGo!</p>
</div>