{% set_daily_deal_page_title_slug "Thank you for signing up!" %}

	<div class="clear"></div>
<div id="preopt">
	<div id="left_col">
		<div id="left_col_top"></div>
		<div id="left_col_content">
		  <div class="thank_you">
        <p>Thank you for signing up for the daily deal. It's Coming Soon!</p>
      </div>
		</div><!-- /left_col_content	 -->
		<div id="left_col_bottom"></div>
	</div><!-- /left_col -->
	<div id="right_col">
		<div id="right_col_top"></div>
		<div id="right_col_content">
			<p>Each day one incredible deal is featured as the Outer Banks Deal of the Day. The offer is only available for a limited time, so make sure to check back frequently so you don’t miss out!</p>
			<p>Click on the “Buy Now” button before midnight on the day the offer expires to purchase the Deal of the Day.</p>
			<p>After you make a purchase, you’ll receive the Outer Banks Deal of the Day voucher to print out via email.</p>
			<p>Take the Outer Banks Deal of the Day voucher to the store or merchant any time before the expiration date to redeem your deal. Enjoy your savings!</p>
		</div><!-- /right_col_content -->
	</div><!-- /right_col -->
	<div class="clear"></div>
	
</div><!-- /preopt -->

<!-- end preopt page -->