<% set_daily_deal_page_title_slug t(:feature_your_business) %>

<div class="page_row">
  <div class="page_column_12 first rounded_corners">
    <h1 class="content"><%= t(:contact_us) %></h1>

    <% unless @publisher.sales_email_address.blank? %>
      <h2 style="margin-top: 18px;"><%= t :feature_business_header, :scope => "daily_deals.contact" %></h2>
      <%=raw(t(:feature_business_message,
          :email_link => link_to(@publisher.sales_email_address, "mailto:#{@publisher.sales_email_address}", :target => "_blank"),
          :scope => "daily_deals.contact")) %>
    <% end %>
  </div>
</div>
