<div id="container">
	<div class="padding">
		<h1>Today's Featured Deals</h1>
		<p>Check out today's Featured Deals in the <a href="/publishers/stvedinburgh/deal-of-the-day">Edinburgh</a> and <a href="/publishers/stvglasgow/deal-of-the-day">Glasgow</a> regions</p>
	</div>
	<div id="boxes">
		<a class="deal_market" href="/publishers/stvedinburgh/deal-of-the-day">
			<img src="/themes/stv/images/graphics/deal-edinburgh.jpg" width="388" height="260" alt="Edinburgh Deals!" />
			Edinburgh
		</a>
		<a class="deal_market" href="/publishers/stvglasgow/deal-of-the-day">
			<img src="/themes/stv/images/graphics/deal-glasgow.jpg" width="388" height="260" alt="Glasgow Deals!" />
			Glasgow
		</a>
	</div>
</div>