<div class="page_column_4 last rounded_corners">
  <h2 id="what_happens_after_i_buy">What happens after I buy?</h2>
  <p>You will receive a confirmation e-mail. Redemption instructions may vary by deal. Please review the "Fine Print" on the main page for a given deal.</p>
  <br/>
  <h2 id="will_my_payment_be_safe">Will my payment be safe?</h2>
  <p>Yes. The credit card transaction uses secured encryption to ensure that no one else has access to your information. We do not store your credit card information after completing the transaction. The name associated with this charge on your credit card will be “ANA Deal of the Day”.</p>
  <h2>Additional Questions?</h2>
  <p>Feel free to email <a href="mailto:customersupport@coolsavings.com">customersupport@coolsavings.com</a> or call (877) 538-4617. We will be more than happy to answer any additional questions you may have.</p>
</div>
