<div class="support_contact_request_thank_you">

  <% set_daily_deal_page_title_slug "Contact" %>

  <h1 class="content"><%= t(:contact_us) %></h1>

  <div id="contact_content">

    <p>
      Thanks for contacting us. A member of our team will contact you
      shortly.
    </p>

  </div>

</div>