
<script type="text/javascript">
function html_entity_decode(str) {
	return str.replace(/&amp;/g,"&").replace(/&lt;/g,"<").replace(/&gt;/g,">").replace(/&quot;/g,"\"");
}
function display_ad(ads)
{
  if(ads == '')
  {
    document.write('<!-- No ads in feed for this position in this section -->');
    return;
  }else{  
  	if(ads.length > 0)
  	{
  		var tmp_ads = Array();
  		for (var ad in ads)
  		{
  			var currad = ads[ad];
  			for (var x = 0; x < currad.shares; x++)
  			{
  				tmp_ads.push(currad);
  			}
  		}
  		var ad = tmp_ads[Math.floor(Math.random()*(tmp_ads.length))];
  		var code = html_entity_decode(ad.code);
  		if(ad.type == 'GOO')
  		{
  			eval(code);
  		}else{
  			document.write(code);
  		}
  		if(ad.ad_event)
  		{
  			adTracker._trackEvent('AdLoad', ad.ad_event);
  		}
  	}
  }
}
</script><!--<base>--><title>
       Coupons
       »
       hgazette.com, Haverhill, MA
    </title>
<script type="text/javascript" src="http://classifieds.neighborsink.com/premiumads/hgazette.js"></script><script type="text/javascript"> siteurl='http://www.hgazette.com';</script><script type="text/javascript">
      /* <![CDATA[ */
		  var djConfig = {
			  useXDomain : true,
			  noFirebugLite: true,
			  isDebug : false,
			  parseOnLoad : false,
			  preventBackButtonFix : false,
			  dojoBlankHtmlUrl : siteurl + '/blank.html',
			  dojoIframeHistoryUrl : siteurl + '/iframe_history.html'
		  };
      /* ]]> */
	  </script><script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/dojo/1.6.1/dojo/dojo.xd.js"></script><script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script><script type="text/javascript" src="http://static.cnhi.zope.net/min/g=js"></script><link rel="stylesheet" type="text/css" media="screen" href="/include/css/styles.css">
<meta name="y_key" content="ba7ad0f0f1bea5c0">
<meta name="google-site-verification" content="sclrLoVgGr-iCIK4v6D9n_AqzpIBvPi8SQK5GRz1OWI">
<meta name="msvalidate.01" content="323892DB43B0F42A552ABB2B7310D0CA">
<!-- Begin Header Resources --><!-- End Header Resources --><meta name="description" content="Empty Template">
<meta name="title" content="hgazette.com, Haverhill, MA">
<link rel="image_src" href="http://static.cnhi.zope.net/hgazette/images/haverhilllogo.jpg">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<!--[if lte IE 6]>
  <link rel="stylesheet" type="text/css" media="screen"
        href="http://static.cnhi.zope.net/min/g=ie" />
  <![endif]--><link rel="stylesheet" type="text/css" media="screen" href="http://o.aolcdn.com/dojo/1.4/dijit/themes/tundra/tundra.css">
<link rel="stylesheet" type="text/css" media="screen" href="http://o.aolcdn.com/dojo/1.4/dojox/image/resources/Lightbox.css">
<link rel="stylesheet" type="text/css" media="screen" href="http://o.aolcdn.com/dojo/1.4/dojox/image/resources/image.css">
<script type="text/javascript" src="http://webads.js.cnhi.s3.amazonaws.com/hgazette_coupons_cnhi.js"></script><script type="text/javascript" src="http://www.hgazette.com/section_mapping.js"></script><script type="text/javascript">
  	/* <![CDATA[ */
    var initial_section = 'coupons_cnhi';
    var siteid = 'hgazette'
    var sectionid = 'coupons_cnhi';
    /*  ]]> */</script><script type="text/javascript">
  /* <![CDATA[ */
    dojo.require("dijit.dijit");
    dojo.require("dojo.fx");
    dojo.require("dojox.fx.scroll");
    dojo.require("dojox.layout.ScrollPane");
    dojo.require("dojo.fx.easing");
    dojo.require("dojox.image.Lightbox");
    dojo.require("dojox.image.LightboxNano");
    dojo.require("dojo.parser");
    dojo.require("dijit.layout.AccordionContainer");
    dojo.require("dojo.cookie");
    dojo.require("dojox.widget.Roller");
    dojo.require("dojox.image.Gallery");
    dojo.require("dojo.data.ItemFileReadStore");
    dojo.require("dojox.image.ThumbnailPicker");
    dojo.require("dojox.image.SlideShow");
    dojo.require("dijit.form.Button");
    dojo.require("dojox.charting.Chart2D");
    dojo.require("dojox.charting.plot2d.Pie");
    dojo.require("dojox.charting.action2d.Highlight");
    dojo.require("dojox.charting.action2d.MoveSlice");
    dojo.require("dojox.charting.action2d.Tooltip");
    dojo.require("dojox.charting.themes.MiamiNice");
    dojo.require("dojox.charting.widget.Legend");
    dojo.addOnLoad(function(){
      CNHI.init({
        siteurl : siteurl,
        siteid : siteid,
        mapping : mapping,
        initial_section : initial_section,
        more_text : '&hellip; more &raquo;'
      });
      CNHI.API.pta(premium_text_ads);
    });
  /*  ]]> */
  </script><!-- AP Video --><script type="text/javascript" src="http://img.video.ap.org/p/j/apovn.js"></script><!-- end AP Video // Begin Evie Says --><script type="text/javascript" src="http://dev.eviesays.com/script/widget_v2.2.js"></script><script type="text/javascript">/* <![CDATA[ */
        eviesays.widget.settings.base_url = "http://hgazette.eviesays.com";
        eviesays.widget.settings.setPartnerCode("cnhi");
        eviesays.widget.settings.where = "Haverhill,MA";
        eviesays.includeCSS(eviesays.widget.settings.base_url + "/version/cnhi/style/widget_v1.0.css");
        eviesays.widget.settings.restaurants_url = "http://local.hgazette.com/search.pg?q=restaurant&z=Haverhill%2CMA";
        /* ]]> */</script><!-- end Evie Says --><script type="text/javascript" src="http://partner.googleadservices.com/gampad/google_service.js"></script><script type="text/javascript">
    GS_googleAddAdSenseService('ca-pub-4648602590429272');
    GS_googleAddAdSenseService('ca-pub-6374692812882232');
    GS_googleAddAdSenseService("ca-pub-0441876019302704");
  </script><script type="text/javascript">
    GS_googleAddAdSenseService('ca-pub-7493635099800984');
  </script><script type="text/javascript">
    GS_googleEnableAllServices();
  </script><script type="text/javascript">
        GA_googleAddAttr('zopesiteid', 'hgazette');
        GA_googleAddAttr('Section', 'coupons_cnhi');
        GA_googleAddAttr('site', 'hgazette');
     </script><script type="text/javascript">GA_googleAddSlot('ca-pub-4648602590429272', 'allsites_obituaries_TP_728x90');</script><script type="text/javascript">GA_googleAddSlot('ca-pub-4648602590429272', 'allsites_monster_TP_728x90');</script><script type="text/javascript">GA_googleAddSlot('ca-pub-4648602590429272', 'allsites_monster_RS_160x600');</script><script type="text/javascript">GA_googleAddSlot('ca-pub-6374692812882232', 'eviesays_widget_hgazette');</script><script type="text/javascript">GA_googleAddSlot('ca-pub-6374692812882232', 'eviesays_widget_hgazette_300x250');</script><script type="text/javascript">GA_googleAddSlot('ca-pub-4648602590429272', 'BP_728x90');</script><script type="text/javascript">GA_googleAddSlot('ca-pub-4648602590429272', 'RS_160x600');</script><script type="text/javascript">GA_googleAddSlot('ca-pub-4648602590429272', 'TP_728x90');</script><script type="text/javascript">GA_googleAddSlot('ca-pub-4648602590429272', 'IL_300x250');</script><script type="text/javascript">GA_googleAddSlot('ca-pub-4648602590429272', 'UR_234x60');</script><script type="text/javascript">GA_googleAddSlot('ca-pub-4648602590429272', 'c_234x60');</script><script type="text/javascript">GA_googleAddSlot('ca-pub-0441876019302704', 'z5_B_728x90');</script><script type="text/javascript">GA_googleAddSlot("ca-pub-0441876019302704", "z5_IL_300x250");</script><script type="text/javascript">GA_googleAddSlot("ca-pub-0441876019302704", "z5_RS_160x600");</script><script type="text/javascript">GA_googleAddSlot("ca-pub-0441876019302704", "z5_TP_728x90");</script><script type="text/javascript">GA_googleAddSlot("ca-pub-0441876019302704", "z5_wb_120x60");</script><script type="text/javascript">GA_googleAddSlot("ca-pub-0441876019302704", "z5_B_300x250");</script><script type="text/javascript">
	GA_googleAddSlot("ca-pub-7493635099800984", "zope-300x250-footer-left");
	GA_googleAddSlot("ca-pub-7493635099800984", "zope-300x250-footer-middle");
  </script><script type="text/javascript">GA_googleFetchAds();</script><script type="text/javascript" src="http://static.cnhi.zope.net/GLOBAL/js/flowplayer-3.1.4.min.js"></script><script type="text/javascript" src="http://static.cnhi.zope.net/GLOBAL/monster_redux/wdgJobSeach/js/mnst_jobsearch.js"></script><style type="text/css">
#navigation {
	background-color: #663300 !important;
	color: #ffffff !important;
	border-color: #663300 !important;
}
#header {
	background-color: #663300 !important;
	color: #ffffff !important;
	border-color: #663300 !important;
}
#section_header {
	background-color: #000000 !important;
	color: #ffffff !important;
}
#navigation ul li a.current_section {
	background-color: #663300 !important;
	color: #ffffff !important;
	border-color: #663300 !important;
}
#headline_list a:hover {
	color: #663300 !important;
}
#breaking_news {
	background-color: #663300 !important;
	color: #ffffff !important;
}
</style>

