<header class="row">
    <h1 id="logo" class="column grid_2">
      <a title="ITZ Magazine Homepage"
         href="http://itzmag.com">ITZ Magazine</a>
    </h1>
    <div class="column grid_10">
      <div id="leaderboard">
<iframe src="http://cnhiadtools.com/cnhisova.php?siteid=itzmag&section=coupons_cnhi&p=l" allowtransparency="true"
width="728" height="90" frameborder="0" scrolling="no"></iframe>
      </div>
      <div id="social">
        <span class="st_facebook_large"></span>
        <span class="st_twitter_large"></span>
        <span class="st_stumbleupon_large"></span>
        <span class="st_digg_large"></span>
        <span class="st_email_large"></span>
        <span class="st_sharethis_large"></span>
      </div>
      <form id="search" action="http://itzmag.com/search"
            action_off="http://itzmag.com/search">
        <input id="stext" type="text" name="q"
               maxlength="255"
               placeholder="Search ITZmag.com" />
        <input type="submit" name="sa" value="Search" id="sbb" />
        <input type="hidden" name="sitesearch" id="ss1"
               value="http://itzmag.com"
               value_off="http://itzmag.com/" />
        <input type="hidden" name="client" value="pub-4648602590429272" />
        <input type="hidden" name="forid" value="1" />
<!--         <input type="hidden" name="q" value="" id="sbi" /> -->
        <input type="hidden" name="stores" value="local" />
        <input type="hidden" name="filter" value="0" />
        <input type="hidden" name="ie" value="ISO-8859-1" />
        <input type="hidden" name="oe" value="ISO-8859-1" />
        <input type="hidden" name="flav" value="0000" />
        <input type="hidden" name="sig" value="cK_Ze8nEuuDj9suv" />
        <input type="hidden" name="cof" value="GALT:#008000;GL:1;DIV:#FFFFFF;VLC:663399;AH:center;BGC:FFFFFF;LBGC:336699;ALC:0000FF;LC:0000FF;T:000000;GFNT:0000FF;GIMP:0000FF;FORID:11" />
        <input type="hidden" name="hl" value="en" />
      </form>
      <ul id="header_links">    
      <li><a href="http://itzmag.com/about" title="About Us">About Us</a></li>
      <li><a href="http://itzmag.com/advertise" title="Advertise">Advertise</a></li>
      <li class="last"><a href="http://itzmag.com/apartment" title="Apartmentz">Apartmentz</a></li>  
</ul>
    </div>
  </header>