<div>
  <a target="_blank" href="http://www.ktk985.com/"><img src="/themes/entercom-ocala/images/stations/ktk.png" alt="98.5 KTK"></a>
  <a target="_blank" href="http://www.thesky973.com/"><img src="/themes/entercom-ocala/images/stations/sky.png" alt="The Sky 97.3"></a>           
</div>