<p style="margin: 0; padding: 8px;">
  <a href="http://www.2wd.com/" target="_blank" style="color: #ffffff;"><img border="0" height="50" src="http://{{ publisher.daily_deal_host }}/themes/entercom-norfolk/images/stations/2wd.png" alt="2WD 101.3"></a>
  <a href="http://www.pointradio.com/" target="_blank" style="color: #ffffff;"><img border="0" height="50" src="http://{{ publisher.daily_deal_host }}/themes/entercom-norfolk/images/stations/949.png" alt="94.9 The Point"></a>
  <a href="http://www.957rnb.com/" target="_blank" style="color: #ffffff;"><img border="0" height="50" src="http://{{ publisher.daily_deal_host }}/themes/entercom-norfolk/images/stations/957rb.png" alt="95.7 R&B FM"></a> 
  <a href="http://www.z104.com/" target="_blank" style="color: #ffffff;"><img border="0" height="50" src="http://{{ publisher.daily_deal_host }}/themes/entercom-norfolk/images/stations/z104.png" alt="Z104"></a>
</p>