<div>
  <a target="_blank" href="http://www.2wd.com/"><img src="/themes/entercom-norfolk/images/stations/2wd.png" alt="2WD 101.3"></a>
  <a target="_blank" href="http://www.pointradio.com/"><img src="/themes/entercom-norfolk/images/stations/949.png" alt="94.9 The Point"></a>
  <a target="_blank" href="http://www.957rnb.com/"><img src="/themes/entercom-norfolk/images/stations/957rb.png" alt="95.7 R&B FM"></a> 
  <a target="_blank" href="http://www.z104.com/"><img src="/themes/entercom-norfolk/images/stations/z104.png" alt="Z104"></a>              
</div>