<div class="offer">
  <h2>OFFER</h2>

  <p>For additional savings at <%= @offer.advertiser.name %>, take advantage of your money-saving coupon here:</p>

  <a href="<%= @offer_url %>"><%= @offer.message %> at <%= @offer.advertiser.name %></a>

</div>