<div id="feature_your_business"  class="info_page">
<a name="top"></a>
<div id="left_column_wide">
    <a id="prev_panel" class="panel_nav_button"><span>PREV</span></a> 
    <a id="next_panel" class="panel_nav_button"><span>NEXT</span></a>

    <div id="content_wrapper_a" class="top_panel">
        <div id="panel1a">
        	<img src="/themes/rr/images/graphics/overview.png" height="308" width="709" alt="Get ClickedIn -- and get business growing in new ways. ClickedIn is the new local deal finder that gives people the chance to save big, win big, and have fun. It's also a powerful new way to grow your business. With consultative partnering, sustained presence, fully integrated marketing, and much more." />
			<a class="learn_more_alt img_button" href="#panel1b"><span>Learn More</span></a>
        </div><!-- /panel1a -->
        <div id="panel2a">
            <img src="/themes/rr/images/graphics/everyone_wins.png" height="308" width="709" alt="Everyone wins with ClickedIn. Your business, your customers, and your community." />
			<a class="learn_more_alt img_button" href="#panel3b"><span>Learn More</span></a>
        </div><!-- /panel2a -->
        <div id="panel3a">
        	<img src="/themes/rr/images/graphics/clickedin_comparison.png" height="308" width="709" alt="Do the ClickedIn Comparison. What we offer your business vs. the competition." />
			<a class="learn_more_alt img_button" href="#panel4b"><span>Learn More</span></a>
        </div><!-- /panel3a -->
        <div id="panel4a">
        	<img src="/themes/rr/images/graphics/a_better_deal.png" height="308" width="709" alt="ClickedIn cuts you a better deal. We help your buttom line by letting you keep more of the revenue from every daily deal sold." />
			<a class="learn_more_alt img_button" href="#panel2b"><span>Learn More</span></a>
        </div><!-- /panel4a -->
        <div id="panel5a">
        	<img src="/themes/rr/images/graphics/more_customers.png" height="308" width="709" alt="More ways to attract more customers. The power of sustained presence." />
			<a class="learn_more_alt img_button" href="#panel5b"><span>Learn More</span></a>
        </div><!-- /panel4a -->
        <div id="panel6a">
        	<img src="/themes/rr/images/graphics/your_media_partner.png" height="308" width="709" alt="Partner with a media pro. Time Warner Cable is in your corner." />
			<a class="learn_more_alt img_button" href="#panel6b"><span>Learn More</span></a>
        </div><!-- /panel4a -->
        <div id="panel7a">
        	<img src="/themes/rr/images/graphics/how_it_works.png" height="308" width="709" alt="How it works. Your role, our role...let's roll." />
			<a class="learn_more_alt img_button" href="#panel7b"><span>Learn More</span></a>
        </div><!-- /panel4a -->
    </div>

    <div class="panel_tabs">
        <div id="tab1" class="first">Overview</div>
        <div id="tab2">A chance<br />to win</div>
        <div id="tab3">ClickedIn<br />comparison</div>
        <div id="tab4">A fair<br />deal</div>
        <div id="tab5">More<br />customers</div>
        <div id="tab6">Your media<br />partner</div>
        <div id="tab7" class="last">How it<br />works</div>
    </div>

    <div id="content_wrapper_b">
        <div id="panel1b" class="box_gradient bottom_panel"><a name="panel1b"></a>
        	<h1>ClickedIn&trade; can be a game-changer for your business.</h1>
        	<h2>As your long-term consultative partner, we:</h2>
        	<ul>
        		<li>Focus on your business goals</li>
        		<li>Develop a customized campaign for you</li>
        		<li>Test and refine different offers over time</li>
        	</ul>
        	<h2>We help you build a sustained presence with:</h2>
        	<ul>
        		<li>An integrated mix of daily deals, coupons, value events and promotions designed to help you meet your objectives</li>
        		<li>Social media to multiply reach and referral</li>
        	</ul>
        	<h2>Our integrated approach:</h2>
        	<ul>
        		<li>Meshes with your own campaign to build awareness, sales and loyalty</li>
        		<li>Elevates your community standing with local charitable giving</li>
        		<li>Leverages the media muscle and strategic support of Time Warner Cable </li>
        	</ul>        
<!-- 			<a class="back_to_top img_button" href="#top"><span>Back To Top</span></a> -->
        </div><!-- /panel1b -->
        
        <div id="panel2b" class="box_gradient bottom_panel"><a name="panel2b"></a>
        	<h1>It's a win-win-win proposition.</h1>
        	<p>Advertising with ClickedIn helps everyone get more of what they want. We all win!</p>
        	<p><span class="h2">Customers win</span> with great savings, fun promotions, special events, and much more.</p>
        	<p><span class="h2">You win</span> with intelligent offer management, sustained presence, and the integrated media muscle of Time Warner Cable</p>
        	<p><span class="h2">The community wins</span> with a portion of the purchase price of every Daily Deal sold going to local not-for-profit organizations</p>
<!-- 			<a class="back_to_top img_button" href="#top"><span>Back To Top</span></a> -->
        </div><!-- /panel2b -->
                
        <div id="panel3b" class="box_gradient bottom_panel"><a name="panel3b"></a>
        	<h1>Clickedin provides your busines with much more than the typical daily deal website. Here's why:</h1>
        	<table id="comparison" cellpadding="0" cellspacing="0">
        		<tr>
        			<th class="twc">ClickedIn powered <br>by Time Warner Cable</th>
        			<th class="dds">Typical Daily deal sites</th>
        		</tr>
        		<tr>
        			<td class="twc">Fully integrated marketing support&mdash;TV, e-mail, online, promotions & more</td>
        			<td class="dds">Single e-mail, usually on just one day</td>
        		</tr>
        		<tr>
        			<td class="twc">True consultative partnership focused on building your business</td>
        			<td class="dds">E-mail blast is typically the only component in relationship</td>
        		</tr>
        		<tr>
        			<td class="twc">Revenue split more sensitive to your margins </td>
        			<td class="dds">Revenue split often slices thin margins even further </td>
        		</tr>
        		<tr>
        			<td class="twc">Transactions generate more loyal customers plus donations to local community efforts</td>
        			<td class="dds">Transactions generate more revenue for site, smaller margins for you</td>
        		</tr>
        		<tr>
        			<td class="twc">Focus on building a sustainable, lasting market presence</td>
        			<td class="dds">Focus on short-term results</td>
        		</tr>
        	</table>
<!-- 			<a class="back_to_top img_button" href="#top"><span>Back To Top</span></a> -->
        </div><!-- /panel3b -->
        
        <div id="panel4b" class="box_gradient bottom_panel"><a name="panel4b"></a>
        	<h1>You deserve your fair share</h1>
        	<p>We're in business to help you grow yours&mdash;and that includes giving you more favorable revenue splits on deals your customers buy.</p>
        	<h2>Other daily deal websites often take half of each deal</h2>
        	<h2 class="notopmargin">With ClickedIn, you keep the majority of the ClickedIn Daily Deal  </h2>
        	<p>Remember, we're much more than a typical daily deal site. ClickedIn is designed to attract regular visitors who want the latest and best in savings and fun in the neighborhood. Unlike typical daily deal sites that only promote your business through emails, ClickedIn is promoted by the local media muscle of Time Warner Cable. The sheer number and frequency of total ClickedIn impressions in your market can dwarf those of other deal sites.</p>
        	<p>Talk to your Time Warner Cable Account Executive for additional details.</p>
<!-- 			<a class="back_to_top img_button" href="#top"><span>Back To Top</span></a> -->
        </div><!-- /panel4b -->
        
        <div id="panel5b" class="box_gradient bottom_panel"><a name="panel5b"></a>
			<h1>More reasons for customers to come back more often.</h1>
			<p>Our customer-engagement tactics are powerful strategic tools to help your business grow</p>
			<p><span class="h2">ClickedIn&trade; Daily Deals: </span>no upfront cost to you, better revenue sharing, and consumer cash in advance </p>
			<p><span class="h2">Coupons & Events: </span>showcase your on-going offers and promote upcoming events </p>
			<p><span class="h2">Promotions: </span>sweepstakes, games, and more create a stickier site, so more engaged ClickedIn customers see your message </p>
			<p><span class="h2">ClickedIn&trade; Cares: </span>continuous contributions to help the community provide another great reason for customers to choose ClickedIn</p>

<!-- 			<a class="back_to_top img_button" href="#top"><span>Back To Top</span></a> -->
        </div><!-- /panel5b -->
        <div id="panel6b" class="box_gradient bottom_panel"><a name="panel6b"></a>
        	<h1 class="nosubhead">Your ClickedIn&trade; relationship is backed by the power <br>of Time Warner Cable Media.</h1>
        	<ul>
        		<li>Media weight to promote ClickedIn online and on TV &mdash; potentially millions of general and offer-specific impressions promoting ClickedIn to customers in your market</li>
        		<li>Ability to execute integrated campaigns across media platforms</li>
        		<li>More flexible business terms&mdash;superior economics for you</li>
        		<li>Repeat traffic supported by promotions and sweepstakes</li>
        		<li>Security of a trusted name invested in long-term relationships</li>
        	</ul>
<!-- 			<a class="back_to_top img_button" href="#top"><span>Back To Top</span></a> -->
        </div><!-- /panel6b -->
        <div id="panel7b" class="box_gradient bottom_panel"><a name="panel7b"></a>
			<h1>Our job is to make your job easier.</h1>
			<p>ClickedIn does most of the work for you, freeing you to focus on your business.</p>
			<h2>1. We work with you to understand your core business</h2>
			<p>Our discovery process with you is focused on becoming experts about your product, your objectives, and the customers you want to attract most. It's the crucial first step in a successful ClickedIn partnership. </p>
			<h2>2. We develop the right mix of ClickedIn offers and tactics for you</h2>
			<p>With the help of the Time Warner Cable marketing team, we create a customized calendar of ClickedIn offers to help you meet your business objectives. Unlike other deal providers who offer marketing programs consisting of one offer on one day, a ClickedIn integrated marketing program creates a sustained presence for you with a variety of engaging tactics: ClickedIn Daily Deals, coupons, special events, promotions, and more.  </p>
			<h2>3. We promote you to ClickedIn users</h2>
			<p>With approved offers in hand, our creative teams write, design, and program your message. After your final approval of our creative product, it's time to go live - we send out ClickedIn Daily Deal email updates to registered ClickedIn members, promote the deal on our homepage, and merchandise your coupons, events, and other promotions throughout the site. Meanwhile, Time Warner Cable will be promoting ClickedIn in local TV spots, online ads, and more &ndash; an integrated effort offering a massive number of general and offer-specific impressions to customers in your market.</p>
			<h2>4. ClickedIn users start grabbing up your offers and interacting with your business</h2>
			<p>Whether they purchase a ClickedIn Daily Deal, print out a coupon, or take advantage of a promotion, we manage everything that happens on the site for you &ndash; processing, fulfillment, customer service, and more. </p>
			<h2>5. New faces start coming your way</h2>
			<p>ClickedIn users start coming your way with ClickedIn Daily Deal vouchers, coupons, or for special events. It can be a great start to a lasting customer relationship.</p>
			<h2>6. We pay you for ClickedIn Daily Deals sold</h2>
			<p>If you run a ClickedIn Daily Deal, we send you a check for your revenue share within 14 days of the deal's closing on the website. Money comes in the door without delay. Remember, ClickedIn gives you the majority of the revenue share from each deal.</p>
			<h2>7. We contribute to the community</h2>
			<p>Through ClickedIn Cares Time Warner Cable will donate 3% of every ClickedIn Daily Deal purchased to local not for profit organizations that get kids engaged with and excited about science, technology, engineering, and math &ndash; essential skills they'll need to compete for the jobs of tomorrow. Please note that the purchase or sale of a ClickedIn Daily Deal is not tax deductible for your customers or your business.</p>
			<h2>8. We analyze results and recommend what's next</h2>
			<p>We provide in-depth numbers behind every tactic that appeared in your ClickedIn marketing program. We'll show you what worked, what could have worked better, and how to apply this learning to your next ClickedIn campaign.</p>
			<h2>9. We value our users (your customers)</h2>
			<p>We expect you to honor the deals you offer and to comply with all applicable laws regarding expiration dates and the like.  If you don't, we may compensate our users directly and then deduct the amount from our next payment to you. </p>
			<h2>Get ready for a relationship that's built to help you succeed. Get ClickedIn!</h2>


<!-- 			<a class="back_to_top img_button" href="#top"><span>Back To Top</span></a> -->
        </div><!-- /panel7b -->
    </div>

    <script type="text/javascript">
    var tabset = new TabSet("content_wrapper_a", {
        "tab1": ["panel1a", "panel1b"],
        "tab2": ["panel2a", "panel2b"],
        "tab3": ["panel3a", "panel3b"],
        "tab4": ["panel4a", "panel4b"],
        "tab5": ["panel5a", "panel5b"],
        "tab6": ["panel6a", "panel6b"],
        "tab7": ["panel7a", "panel7b"]
    }, 0);

    var prev = new PushButton('prev_panel');
    var next = new PushButton('next_panel');
    prev.setObserver('prevClick', 'click', tabset.prev, tabset);
    next.setObserver('nextClick', 'click', tabset.next, tabset);
    </script>
</div><!--/left_column_wide-->

<div id="right_column">

  <%= raw render :partial => with_theme("shared/search") %>
  <%= raw render :partial => with_theme("shared/refer_friend") %>
  	
</div><!--right_column-->
    
<div class="clear"></div>
     
</div><!-- /feature_your_business -->
