<div id="dailybuzz_edeals_header">

  <div id="topnav">
    <ul>
    <li><a href="http://dailybuzznation.com/local-stations/">Local Stations</a></li>
    <li><a href="http://dailybuzznation.com/live-feed/">Live Feed</a></li>
    <li><a href="http://dailybuzznation.com/category/rebuzz/">reBUZZ</a></li>
    <li><a href="http://dailybuzznation.com/coming-up/">Coming Up</a></li>
    </ul>
  </div>

  <div id="connect">
    <a href="http://dailybuzznation.com/feed/"><img src="http://dailybuzznation.com/wp-content/themes/videozoom/images/icons/rss.png" />
    Subscribe</a>

    <a href="http://twitter.com/dailybuzztv"><img src="http://dailybuzznation.com/wp-content/themes/videozoom/images/icons/twitter.png" />
    #dailybuzz</a>

    <a href="http://www.facebook.com/officialdailybuzz"><img src="http://dailybuzznation.com/wp-content/themes/videozoom/images/icons/facebook.png" />
    Join the Nation</a>
  </div>

</div>
<!--  dailybuzz header end -->