<div id="station_logos">  
  <a href="http://www.fox10tv.com/" target="_blank"><img src="/themes/<%= @publisher.label %>/images/stations/fox10.png" height="60" alt="http://www.fox10tv.com/" /></a>
</div>
