<div id="header">
		<div id="banner">
				<%= render :partial => with_theme("shared/publisher_logo") %>
				<%= render :partial => with_theme("shared/account_nav") %>
				<div class="clear"></div>
				<%= render :partial => with_theme("shared/subscriber_form") %>
		</div><!--/banner-->   
</div><!-- /header -->