<!-- header -->
<div id="container">
<div id="header" class="clearfix">
    <!-- header right -->
    <div id="header_right">
	
	
	<!-- header links -->
	<div class="top_links">
	    <ul>
		<div class="menu-rt-theme-top-navigation-menu-container"><ul id="menu-rt-theme-top-navigation-menu" class="menu"><li id="menu-item-81" class="menu-item menu-item-type-post_type menu-item-81 first"><a href="http://www.santansun.com/join-our-news-update-list">Join Our News Update List</a></li>
<li id="menu-item-79" class="menu-item menu-item-type-post_type menu-item-79"><a href="http://www.santansun.com/submit-a-news-release">Submit a News Release</a></li>
<li id="menu-item-80" class="menu-item menu-item-type-post_type menu-item-80"><a href="http://www.santansun.com/advertise-with-us">Advertise With Us</a></li>
<li id="menu-item-82" class="menu-item menu-item-type-post_type menu-item-82"><a href="http://www.santansun.com/about-us">About Us</a></li>
<li id="menu-item-154" class="menu-item menu-item-type-custom menu-item-154"><a href="http://www.santansun.com/wp-content/uploads/2010/12/2011STSNdeadlines-deliverySHORT-LIST.pdf">Deadlines &#038; Delivery Dates (pdf)</a></li>
</ul></div>	    </ul>
	</div>
	<!-- / header links -->

	<div class="clear"></div>

	<!-- header slogan -->
	<div class="top_slogan">
	    	</div>
	<!-- /header slogan -->

    </div>
    <!-- /header right -->
    <!-- logo -->
    <div id="logo"><a href="http://www.santansun.com" title="SanTan Sun News"><img src="/themes/newoffersweekly/images/header_footer/logo.png" alt="SanTan Sun News" class="png" /></a></div>
    <!-- /logo -->

</div>
</div>
<!-- /header -->