<!-- footer -->
<div id="publisher_footer">
    <div class="footer_con"> 

	<!-- links -->
	<div class="part2">	    
	    <ul>
		<div class="menu-rt-theme-footer-navigation-menu-container"><ul id="menu-rt-theme-footer-navigation-menu" class="menu"><li id="menu-item-95" class="menu-item menu-item-type-custom menu-item-home menu-item-95"><a href="http://www.santansun.com">Home</a></li>
<li id="menu-item-92" class="menu-item menu-item-type-post_type menu-item-92"><a href="http://www.santansun.com/join-our-news-update-list">Join Our News Update List</a></li>
<li id="menu-item-90" class="menu-item menu-item-type-post_type menu-item-90"><a href="http://www.santansun.com/submit-a-news-release">Submit a News Release</a></li>
<li id="menu-item-91" class="menu-item menu-item-type-post_type menu-item-91"><a href="http://www.santansun.com/advertise-with-us">Advertise With Us</a></li>
<li id="menu-item-93" class="menu-item menu-item-type-post_type menu-item-93"><a href="http://www.santansun.com/about-us">About Us</a></li>
<li id="menu-item-104" class="menu-item menu-item-type-custom menu-item-104"><a target="_blank" href="http://www.santansun.com/class.htm">Classifieds</a></li>
<li id="menu-item-101" class="menu-item menu-item-type-post_type menu-item-101"><a href="http://www.santansun.com/business-directory">Business Directory</a></li>
<li id="menu-item-100" class="menu-item menu-item-type-post_type menu-item-100"><a href="http://www.santansun.com/where-to-eat">Where to Eat</a></li>
<li id="menu-item-102" class="menu-item menu-item-type-post_type menu-item-102"><a href="http://www.santansun.com/archives">Archives</a></li>
<li id="menu-item-153" class="menu-item menu-item-type-custom menu-item-153"><a href="http://www.santansun.com/wp-content/uploads/2010/12/2011STSNdeadlines-deliverySHORT-LIST.pdf">Deadlines &#038; Delivery Dates (pdf)</a></li>
</ul></div>	    </ul>	
	</div><!-- copyright text -->
	<div class="part1">
	    Copyright © 2011 SanTan Sun News.  All Rights Reserved.  <a href="http://www.nergizing.com" target="_blank">Website by n-ergizing.</a>	</div>
   </div>
</div>
<!-- /footer -->
