<!-- ::: Start Header ::: -->
<div id="header">
	<h1 id="logo">
		<a href="<%= daily_deals_public_index_path(@publisher.label) %>">Jump On It</a>
	</h1>
	<!-- this button only appears on mobile devices with a screen size of 480px or less -->
	<button style="display:none" class="mobile-nav" style="">Menu <span class="carrot">v</span></button>
	<div id="nav">
		<ul>
			<li><a href="http://www.myjumponit.com">Home</a></li>
            <li><a href="http://myjumponit.com/business.html">Businesses</a></li>
			<li><a href="<%= faqs_publisher_daily_deals_path(@publisher) %>">Faq</a></li>
            <li><a href="http://myjumponit.com/contact.html">Contact</a></li>
		</ul>			
		<div class="ribbon ribbon-topleft"></div>
		<div class="black_block"></div>			
		<div class="ribbon ribbon-topright"></div>			
	</div><!-- end nav -->		
	
</div>
<br>

<!-- ::: End Header ::: -->