<div class="pub_wrapper sevendays_head_footer"> 		
	<div id="pub_header" class="clear-block"> 
	    <h1 class="homelogo"><a href="http://www.sevendaysvt.com" title="Return to the homepage"> Seven Days: Vermont's Independent Voice</a></h1> 

		<ul class="logonav"> 
			<li id="nights"><a href="http://www.7nvt.com/" title="7 Nights: Vermont Guide to Restaurants and Bars">Restaurants</a></li> 
			<li id="personals"><a href="http://www.7dvt.com/personals" title="Seven Days Personals">Local Dating</a></li> 
			<li id="dspot"><a href="http://classifieds.sevendaysvt.com" title="Seven Days Classifieds">Jobs, Housing</a></li> 
		</ul><!--logonav-->	

		<div class="signup"> 
			<p><img src="/themes/wcax-sevendays/images/email-send.png" style="margin-right:7px;margin-bottom:0px" />Email Newsletters: <a href="http://7dvt.com/now">NOW</a>, <a href="http://7dvt.com/daily7">Daily 7</a>, <a href="http://www.7nvt.com/7n/spot49.htm">Bite Club</a>...</p> 
			<form class="header-form" name="ccoptin" action="http://ui.constantcontact.com/d.jsp" target="_blank" method="post"> 
				<input onfocus="this.value=''" name="ea" size="" class="signup-field" value=" To sign up, enter your email here" type="text"> 
				<input name="GO" size="" value="GO" class="submit" type="submit"> 
				<input name="m" value="1101461838576" type="hidden"> 
				<input name="p" value="oi" type="hidden"> 
			</form> 
		</div> <!--signup--> 

		<div class="social"> 
			<ul> 
				<li>Follow us: </li> 
				<li><a href="http://www.facebook.com/sevendaysvt" title="Like us on Facebook" target="_blank"><img src="/themes/wcax-sevendays/images/facebook.png" alt="Facebook" /></a></li> 
				<li><a href="http://www.7dvt.com/twitter" title="Follow us on Twitter" target="_blank"><img src="/themes/wcax-sevendays/images/twitter.png" alt="Twitter" /></a></li> 
				<li><a href="http://www.youtube.com/user/StuckinVermont" title="Watch us on YouTube" target="_blank"><img src="/themes/wcax-sevendays/images/youtube.png" alt="YouTube" /></a></li> 
				<li><a href="http://www.flickr.com/photos/sevendaysvt/" title="Browse us in Flickr" target="_blank"><img src="/themes/wcax-sevendays/images/flickr.png" alt="Flickr" /></a></li> 
			</ul> 
		</div><!--  End Social -->
	</div> <!--pub_header--> 

	<div class="sections">
		<ul>
			<li class="stuff"><a href="http://www.7dvt.com/music" id="navlink-for-tab-2" title="club dates, album reviews, music news">Music</a></li>
			<li class="stuff"><a href="http://www.7dvt.com/movie-times" id="navlink-for-tab-4" title="movie reviews and local show times">Movies</a></li>
			<li class="stuff"><a href="http://www.7dvt.com/events" id="navlink-for-tab-3" title="calendar of events">Calendar</a></li>
			<li class="stuff"><a href="http://www.7dvt.com/art" id="navlink-for-tab-5" title="gallery listings, art reviews">Art</a></li>
			<li class="stuff"><a href="http://www.7dvt.com/blogs" title="Seven Days blogs">Blogs</a></li>
			<li class="stuff"><a href="http://www.7dvt.com/multimedia" title="videos and slideshows">Videos</a></li>
			<li class="stuff"><a href="http://www.7dvt.com/contests-events" title="win stuff and attend events from Seven Days and our local partners">Contests+Events</a></li>

			<li class="stuff"><a href="http://www.7dvt.com/local-guides" title="local area info">Local Guides</a></li>
			<li class="highlight"><a href="http://deals.sevendaysvt.com" title="Discounted Tickets and Other Local Perks">Tickets+Deals</a></li> 
			<li class="stuff"><a href="http://www.7dvt.com/articles" title="features, columns, news">Articles</a></li>
			<li class="stuff"><a href="http://www.7dvt.com/searchindex" title="search articles and videos">Search</a></li>
		</ul>
	</div><!--sections-->
</div> <!-- END .pub_wrapper -->