<div class="pub_wrapper sevendays_head_footer"> 
<div id="pagefooter"> 
	<dl>Contact us:
		<dt><a href="http://www.7dvt.com/advertising" title="Information on advertising...">Advertising</a></dt> 
		<dt><a href="http://www.7dvt.com/contact-us" title="Names, Phone Extensions, Email Addresses...">Staff Directory</a></dt> 
		<dt><a href="http://www.7dvt.com/submissions" title="How and when to submit info...">Submissions</a></dt> 
		<dt><a href="http://www.7dvt.com/sponsorship" title="How to get your event sponsored by us...">Sponsorships</a></dt> 
	</dl> 

	<dl>About us:
		<dt><a href="faq" title="Frequently Asked Questions...">Website FAQ</a></dt> 
		<dt><a href="about-us" title="How Seven Days got its start...">Our Story</a></dt> 
		<dt><a href="privacy" title="We respect your privacy...">Privacy Policy</a></dt> 
	</dl> 

	<dl>Our Websites:
		<dt><a href="http://www.7dvt.com/" title="Seven Days online...">Seven Days</a></dt> 
		<dt><a href="http://classifieds.sevendaysvt.com" title="Jobs, Apartments, Cars and more ...">Classifieds</a></dt> 
		<dt><a href="http://www.7nvt.com/" title="Find a local restaurant...">Dining Guide</a></dt> 
		<dt><a href="http://www.7dvt.com/personals" title="Meet local singles...">Personals</a></dt> 
	</dl> 


	<div id="now"> 
		<div class="serif">Can't get enough?</div> 
		<p>Subscribe to <a href="now">NOW</a>, our email newsletter, for weekend events & discounts!</p> 
		<div class="nowform">
			<form name="ccoptin" action="http://ui.constantcontact.com/d.jsp" target="_blank" method="post"> 
				<input onfocus="this.value=''" name="ea" size="20" value="enter your email here" type="text"> 
				<input name="GO" size="" value="GO" class="submit" type="submit"> 
				<input name="m" value="1101461838576" type="hidden"> 
				<input name="p" value="oi" type="hidden"> 
			</form> 
		</div><!--  END nowform -->
	</div><!--now--> 
</div><!--pagefooter--> 

<div class="fineprinttext"> All Rights Reserved <a href="http://www.7dvt.com/">SEVEN DAYS</a> 1995-2011 | PO Box 1164, Burlington, VT 05402-1164 | 802-864-5684</div> 
</div><!-- END pub_wrapper -->
