<div id="banner">
	<img id="deal_logo" src="/themes/radarfrog/images/graphics/pub_logo.png" height="70" width="295" alt="Radarfrog.com coupons" />

	<div id="market_nav" style="display:none;">
		<h4>Select location:</h4>
		<div style="color: black;"><%= raw offers_market_select_dropdown(@publisher) %></div>
	</div>
	<div class="clear"></div>
</div>