<div id="banner">
	<a id="todays_deal" href="{{ publisher.todays_daily_deal_path }}" />Today's Deal</a>
	<div id="right">
	  {% include with_theme "shared/subscribe_form" %}
	</div>
</div><!--banner-->   