	<td width="267" height="374" align="center" valign="top">
	  <table border="0" cellspacing="0" cellpadding="0" width="257" bgcolor="#ffffff" height="356">
		<tbody>
		  <tr>
			<td align="center" valign="top"><div style="width: 100%;">&nbsp;</div>
			  <table border="0" cellspacing="0" cellpadding="1" width="235" align="center">
				<tbody>
				  <tr>
					<td bgcolor="#cccccc" valign="top"><a href="http://itunes.apple.com/app/get-my-perks/id452157776?mt=8" target="_blank"><img border="0" alt="Download the Perks Mobile App" width="233" height="300" src="http://{{ publisher.daily_deal_host }}/themes/entercomnew/images/email/233x300-iPhoneAd.jpg" /></a></td>
				  </tr>
				</tbody>
			  </table>
			</td>
		  </tr>
		</tbody>
		</table>
	</td>
