{% if all_flash != empty %}
  {% capture flash_keys %}{% all_flash %}{% endcapture %}
  {% capture flash_notice %}{% flash notice %}{% endcapture %}
  {% capture controller_name %}{% controller controller_name %}{% endcapture %}
  
  {% if controller.controller_name != "subscribers" %}
    {% if flash_keys contains 'warn' %}
      <div class="warn" id="flash_warn">
    {% else %}
      <div class="warn" id="flash_warn" style="display:none">
    {% endif %}
      {% flash warn %}
    </div>
    {% if flash_keys contains 'notice' %}
      <div class="notice" id="flash_notice">
    {% else %}
      <div class="notice" id="flash_notice" style="display:none">
    {% endif %}
        {% if flash_notice contains 'Welcome' and controller_name == 'sweepstake_entries' %}
            Thanks for signing up!
        {% else %}
            {{ flash_notice }}
        {% endif %}
    </div>
  {% endif %}
{% endif %}
