<li><a href="http://www.getmyperks.com/austin">Austin, TX</a></li>
<li><a href="http://www.getmyperks.com/bayarea">Bay Area, CA</a></li>
<li><a href="http://www.getmyperks.com/newengland">Boston, MA</a></li>
<li><a href="http://www.getmyperks.com/buffalo">Buffalo, NY</a></li>
<li><a href="http://www.getmyperks.com/denver">Denver, CO</a></li>
<li><a href="http://www.getmyperks.com/gainesville">Gainesville, FL</a></li>
<li><a href="http://www.getmyperks.com/hamptonroads">Hampton Roads, VA</a></li>
<li><a href="http://www.getmyperks.com/indianapolis">Indianapolis, IN</a></li>
<li><a href="http://www.getmyperks.com/kansascity">Kansas City</a></li>
<li><a href="http://www.getmyperks.com/madison">Madison, WI</a></li>
<li><a href="http://www.getmyperks.com/memphis">Memphis, TN</a></li>
<li><a href="http://www.getmyperks.com/milwaukee">Milwaukee, WI</a></li>
<li><a href="http://www.getmyperks.com/nepa">NEPA, PA</a></li>
<li><a href="http://www.getmyperks.com/neworleans">New Orleans, LA</a></li>
<li><a href="http://www.getmyperks.com/ocala">Ocala, FL</a></li>
<li><a href="http://www.getmyperks.com/triad">Piedmont Triad, NC</a></li>
<li><a href="http://www.getmyperks.com/portland">Portland, OR</a></li>
<li><a href="http://www.getmyperks.com/providence">Providence, RI</a></li>
<li><a href="http://www.getmyperks.com/rochester">Rochester, NY</a></li>
<li><a href="http://www.getmyperks.com/sacramento">Sacramento, CA</a></li>
<li><a href="http://www.getmyperks.com/seattle">Seattle, WA</a></li>
<li><a href="http://www.getmyperks.com/springfield">Springfield, MA</a></li>
<li><a href="http://www.getmyperks.com/upstate">Upstate, SC</a></li>
<li><a href="http://www.getmyperks.com/wichita">Wichita, KS</a></li>
<li><a href="http://www.getmyperks.com/worcester">Worcester, MA</a></li>