		<div id="childrens_museum" class="sidebar_box">
	     	<div class="info floating_box">
				<h3 class="info_headline"><%= @publisher.market_name.titleize if @publisher.market_name.present? %> Children's Museum</h3>
				<p>Where kids learn by playing and thinking creatively.</p>
	     	</div><!-- /info -->
			<a class="learn_more img_button floating" href="http://www.austinkids.org/" target="_blank"><span>Learn More</span></a>
		</div><!-- /childrens_museum -->
