		<div id="childrens_museum" class="sidebar_box dallas">
	     	<div class="info floating_box">
				<h3 class="info_headline">Museum of Nature & Science in Dallas</h3>
				<p>Inspiring minds through nature and science.</p>
	     	</div><!-- /info -->
			<a class="learn_more img_button floating" href="http://www.natureandscience.org/" target="_blank"><span>Learn More</span></a>
		</div><!-- /childrens_museum -->
