<h4 class="sidebar_heading">ClickedIn&trade; <strong>Cares</strong></h4>
<div class="sidebar_box box_gradient">
	<h2 class="sidebar">Our Kids Make <br />All the Difference</h2>
	<p>See how you and ClickedIn are <strong>helping make a difference in {{ publisher.market_name | titleize }} today</strong> through our Connect A Million Minds Program.</p>
	<a class="blue button rounded" href="{{ publisher.communities_path }}"><span>Learn More</span></a>
</div><!-- /win -->
