<div class="winners_wrap">
	<h4 class="sidebar_heading"><strong>Winners</strong></h4>
	<div class="sidebar_box winners">
     	<div class="winner_info floating_box">
			Over<p class="winner_count">300</p>
			Sweepstake Winners<br />
			<span class="sweepstakes_city">Right here in <strong>{{ publisher.market_name | titleize }}</strong></span>
     	</div><!-- /info -->
	</div><!-- /winners counter -->
</div><!-- /winners -->

<!--
<div class="counter">
    <h4 class="sidebar_heading">ClickedIn <strong>Counter</strong></h4>
    <div class="sidebar_box box_gradient">
    	<p class="winner_count">304</p>
    	<h2 class="sidebar"><br>Winners</h2>
    	<p>Right here in <strong>{{ publisher.market_name | titleize }}</strong></p>
    </div>
</div>
-->
