<div id="search" class="box_wrapper">
	<form action="{{ publisher.search_path }}" id="search_form" method="get">      
		<input class="ghostie" id="text" name="q" title="Search Offers" type="text"/><br/> 
		<input id="search_button" class="blue button" type="submit" value="Go"/> 
	</form>  
</div><!-- /search -->
