<div class="winners">
	<h4 class="sidebar_heading"><strong>Winners</strong></h4>
	<div class="sidebar_box winners">
     	<div class="winner_info floating_box">
			<h3 class="info_headline">Congratulations!</h3>
			<h2 class="info_sub_head">Last Week's Winner <br />Ben E. Mettin</h2>
     	</div><!-- /info -->
	</div><!-- /winners counter -->
</div><!-- /winners -->
