<h4 class="sidebar_heading">Win <strong>Prizes</strong></h4>
<div class="sidebar_box box_gradient">
	<h2 class="sidebar">FREE Stuff! <br />Come Play!</h2>
	<p>Take a minute, <strong>have some fun</strong> and enter for a chance to <strong>win some great local prizes!</strong></p>
	<a class="go_for_it img_button" href="{{ publisher.sweepstakes_path }}"><span>Go For It!</span></a>
</div><!-- /win -->
