	<h4 class="sidebar_heading">ClickedIn <strong>Updates</strong></h4>
	<div id="updates" class="sidebar_box box_gradient">
		<p>We'll be introducing<strong>  <br />more local nonprofits</strong> soon. Check here regularly.</p>
	</div><!-- /updates -->
