<div class="content_box">
	 <%= render :partial => 'shared/flash_messages' %>
	<div id="subscribe_header_thankyou">
		<h1>Thank you for subscribing!</h1>
		<h2></h2>
	</div><!-- end subscribe_header -->
	</div><!-- end content_box -->
