<div id="deal_info" class="container top wide">
	<div class="rightcol_wide">
		<div class="content">
<h1 id="value_proposition">TERMS OF SITE USE</h1>

<h4>General.</h4>

	<p>This site (this “Site”) is made available to you (“you” or “End User”) subject to the terms and conditions that Entercom Communications Corp. (“we,” “our” or “Entercom”) set forth herein. These Terms of Site Use set forth the terms and conditions that apply to the use of this site by you. By using this site (other than to read these Terms of Site Use, the Terms of Sale, and the Entercom Privacy Policy), you are agreeing that you have read and agree to comply with and be bound by, these Terms of Site Use, the Terms of Sale, and the Entercom Privacy Policy in their entirety without limitation or qualification. If you do not agree to these Terms of Site Use, the Terms of Sale, and the Entercom Privacy Policy, do not utilize this Site.</p>

	<p>The right to use this Site is personal to you and is not transferable to any other person or entity. You shall be responsible for protecting the confidentiality of your password(s), if any. You acknowledge that, although the Internet is often a secure environment, sometimes there are interruptions in service or events that are beyond the control of Entercom, and Entercom shall not be responsible for any data lost while transmitting information on the Internet. While it is Entercom’s objective to make this Site accessible 24 hours per day, 7 days per week, this Site may be unavailable from time to time for any reason including, without limitation, routine maintenance. You understand and acknowledge that due to circumstances both within and outside of the control of Entercom, access to this Site may be interrupted, suspended or terminated at any time, from time to time.</p>

	<p>Entercom shall have the right at any time to change or discontinue any aspect or feature on this Site, including, but not limited to, content, hours of availability and equipment needed for access or use, without notice. Further, Entercom may discontinue disseminating any portion of information or category of information, may change or eliminate any transmission method and may change transmission speeds or other signal characteristics.</p>

	<p>We will not be liable to you or to any third party for any modification, suspension, or discontinuance of this Site. We also reserve the right (but do not assume the obligation), in our sole discretion, to reject, refuse to post, or remove any material that you post or submit for posting, and to restrict, suspend, or terminate your access to the Site at any time, for any or no reason, with or without prior notice, and without liability.</p>

<h4>Modified Terms.</h4>

	<p>We reserve the right at all times to discontinue or modify these Terms of Site Use, the Terms of Sale, and the Entercom Privacy Policy in our sole discretion without prior notification to you. Any such modifications shall be effective immediately upon Entercom’s posting thereof and any such use of the Site thereafter by you shall be deemed to constitute acceptance by you to such modifications.</p>

<h4>Pricing and Other Terms.</h4>

	<p>Prices and availability of the Certificates listed on this site are subject to change without notice. The listings, description of, or reference to, a product or service on this Site does not imply that the product or service is presently available or that we endorse that product or service. In the event a product or service is listed at an incorrect price due to a typographical error or error in pricing information received from a supplier, we shall have the right to refuse or cancel any order placed for such product or service at the incorrect price, even if the order has been confirmed and/or your credit card has been charged. If your credit card has already been charged for the purchase and your order is canceled, we shall promptly issue a credit to your credit card account in the amount of the incorrect price, and notify you of this occurrence.</p>

<h4>Shipping Limitations / Risk of Loss.</h4>

	<p>Other than for digitally delivered Certificates, when an order is placed, it will be shipped to an address designated by the purchaser as long as that shipping address is compliant with the shipping restrictions contained on this web site. Allow 4-7 days for delivery. All purchases from this Site are made pursuant to a shipment contract. As a result, risk of loss and title for items purchased from this Site are passed to you upon delivery of the items to the carrier. You are responsible for filing any claims with carriers for damaged and/or lost shipments.</p>

<h4>End User Conduct.</h4>

	<p>This Site and any individual sites or merchant-specific, city-specific, or state-specific sites now or hereinafter contained within or otherwise available through external hyperlinks with this Site (the “Microsites”) are private property. All interactions on this Site and/or the Microsites must comply with these Terms of Site Use. Although we welcome and encourage user interaction, we do insist and require that all End Users restrict any and all activity in connection with the use of this Site and the Microsites to that which involves lawful purposes only. End Users shall not post or transmit through this Site any material which violates or infringes in any way upon the rights of others, or any material which is unlawful, threatening, abusive, defamatory, invasive of privacy or publicity rights, vulgar, obscene, profane or otherwise objectionable, which encourages conduct that would constitute a criminal offense, give rise to civil liability or otherwise violate any law, or which, without our express prior, written approval, contains advertising or any solicitation with respect to products or services. Any conduct by an End User that in our exclusive discretion restricts or inhibits any other End User from using or enjoying this Site and/or any of the Microsites is strictly prohibited. End Users shall not use this Site or any of the Microsites to advertise or perform any commercial, religious, political or non-commercial solicitation, including, but not limited to, the solicitation of users of this Site and/or the Microsites to become users of other on- or offline services directly or indirectly competitive or potentially competitive with Entercom.</p>

	<p>End Users shall not upload, post or otherwise make available on this Site any material protected by copyright, trademark or other proprietary right without the express permission of the owner of the copyright, trademark or other proprietary right. Entercom does not have any express burden or responsibility to provide End User with indications, markings or anything else that may aid End User in determining whether the material in question is copyrighted or trademarked. End User shall be solely liable for any damage resulting from any infringement of copyrights, trademarks, proprietary rights or any other harm resulting from such a submission. By submitting material to any public area of this Site, End User warrants that the owner of such material has expressly granted Entercom the royalty-free, perpetual, irrevocable, non-exclusive right and license to use, reproduce, modify, adapt, publish, translate and distribute such material (in whole or in part) worldwide and/or to incorporate it in other works in any form, media or technology now known or hereafter developed for the full term of any copyright that may exist in such material. End User also permits any other end user to access, view, store or reproduce the material for that end user’s personal use. End User hereby grants Entercom the rights to edit, copy, publish and distribute any material made available on this Site by End User.</p>

	<p>The foregoing provisions of this Section apply equally to and are for the benefit of Entercom, its subsidiaries, affiliates and its third party content providers and licensors, and each shall have the right to assert and enforce such provisions directly or on its own behalf.</p>

<h4>Copyright Notice.</h4>

	<p>Our designated agent for notice of copyright infringement can be reached at <a href="mailto:myperks@entercom.com">myperks@entercom.com</a>, or by sending postal mail to the following address:</p>

<p>
Entercom Communications Corp<br/>
401 City Avenue, Suite 809<br/>
Bala Cynwyd,  PA 19004<br/>
Attn: Legal Dept - Copyright Agent
</p>

<h4>Monitoring.</h4>

	<p>Entercom has the right, but not the obligation, to monitor the content of this Site and any Microsites at all times, including any chat rooms and forums that may hereinafter be included as part of the Site, to determine compliance with this Agreement and any operating rules established by Entercom, as well as to satisfy any applicable law, regulation or authorized government request. Without limiting the foregoing, Entercom shall have the right, but not the obligation, to remove any material that Entercom, in its sole discretion, finds to be in violation of the provisions hereof or otherwise objectionable.</p>

<h4>Privacy.</h4>

	<p>The Entercom Privacy Policy is hereby made a part of these Terms of Site Use.  The Entercom Privacy Policy is available <a href="http://static.intertechmedia.com/Entercom/Entercom_Internet_Privacy_Policy_January_2007.pdf">HERE</a>.</p>

<h4>Terms of Sale</h4>

	<p>The Terms of Sale (Set forth below in Exhibit A attached hereto an incorporated herein) are hereby made a part of these Terms of Site Use.</p>

<h4>Disclaimer of Warranty.</h4>

	<p>END USER EXPRESSLY AGREES THAT USE OF THIS SITE AND THE MICROSITES IS AT END USER’S SOLE RISK. NONE OF ENTERCOM, ITS AFFILIATES, MERCHANTS, THIRD-PARTY CONTENT PROVIDERS OR LICENSORS, OR ANY OF THEIR RESPECTIVE OFFICERS, DIRECTORS, MEMBERS, MANAGERS, EMPLOYEES OR AGENTS, WARRANT THAT USE OF THE SITE OR ANY MICROSITE WILL BE UNINTERRUPTED OR ERROR FREE; NOR DO THEY MAKE ANY WARRANTY AS TO (I) THE RESULTS THAT MAY BE OBTAINED FROM USE OF THIS SITE, OR ANY MICROSITE, OR (II) THE ACCURACY, RELIABILITY OR CONTENT OF ANY INFORMATION, SERVICE OR CERTIFICATES PROVIDED THROUGH THIS SITE OR THE MICROSITES.</p>

	<p>THIS SITE AND THE MICROSITES ARE MADE ACCESSIBLE ON AN “AS IS” AND “AS AVAILABLE” BASIS. ENTERCOM HEREBY DISCLAIMS ANY AND ALL REPRESENTATIONS, WARRANTIES AND CONDITIONS, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THOSE OF TITLE NONINFRINGEMENT, MERCHANTABILITY, AND FITNESS FOR A PARTICULAR PURPOSE, OTHER THAN THOSE WARRANTIES WHICH ARE IMPLIED BY AND INCAPABLE OF EXCLUSION, RESTRICTION OR MODIFICATION UNDER THE LAWS APPLICABLE TO THIS AGREEMENT.</p>

<h4>Limitation of Liability.</h4>

	<p>IN NO EVENT SHALL ENTERCOM, ITS AFFILIATES, MERCHANTS, THIRD-PARTY CONTENT PROVIDERS OR LICENSORS, OR ANY OF THEIR RESPECTIVE OFFICERS, DIRECTORS, MEMBERS, MANAGERS, EMPLOYEES OR AGENTS, BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES ARISING OUT OF OR RELATED TO THIS SITE OR THESE TERMS OF SITE USE. ENTERCOM IS NOT RESPONSIBLE FOR ANY CONTENT THAT ANOTHER END USER OR ANY UNAUTHORIZED USER MAY POST ON THIS SITE OR ANY OF THE MICROSITES.</p>

	<p>IN NO EVENT WILL ENTERCOM’S LIABILITY IN CONNECTION WITH A CERTIFICATE PURCHASED HEREUNDER EXCEED THE AMOUNTS PAID FOR THE SPECIFIC CERTIFICATE GIVING RISE TO SUCH CLAIM.</p>

	<p>YOU ACKNOWLEDGE THAT THE DISCLAIMERS AND LIMITATIONS OF LIABILITY SET FORTH ABOVE SHALL APPLY EVEN IF THE REMEDIES FAIL THEIR ESSENTIAL PURPOSE AND THAT, WITHOUT THESE DISCLAIMERS AND LIMITATIONS, YOU WOULD HAVE PAID A HIGHER FEE FOR THE USE OF THE SITE. CERTAIN STATES AND/OR JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF IMPLIED WARRANTIES OR LIMITATION OF LIABILITY FOR INCIDENTAL, CONSEQUENTIAL OR CERTAIN OTHER TYPES OF DAMAGES, SO THE EXCLUSIONS SET FORTH ABOVE MAY NOT APPLY TO YOU.</p>

<h4>Indemnification/Release.</h4>

	<p>End User agrees to defend, indemnify and hold harmless Entercom, its affiliates and their respective directors, officers, members, managers, employees and agents from and against all claims and expenses, including attorneys’ fees, arising out of or related to any products or services purchased by End User in connection with the Site or any Microsites.</p>

	<p>End User is solely responsible for interactions with Merchants and other users of the Site or Microsites. To the extent permitted under applicable laws, End User hereby releases Entercom from any and all claims or liability related to any product or service of a Merchant, any action or in-action by Merchant, including Merchant’s failure to comply with applicable law and/or failure to abide by the terms of a Certificate, and any conduct or speech, whether online or offline, of any other user.</p>

	<p>In connection with the foregoing release, End User hereby waives California Civil Code Section 1542 (and any similar provision in any other jurisdiction) which states: “A general release does not extend to claims which the creditor does not know or suspect to exist in his favor at the time of executing the release, which, if known by him must have materially affected his settlement with the debtor.”</p>

<h4>Termination.</h4>

	<p>Entercom may terminate these Terms of Site Use, the Terms of Sale, and the Entercom Privacy Policy at any time for any reason. Without limiting the foregoing, Entercom shall have the right to immediately terminate or suspend any passwords or accounts of End User in the event of any conduct by End User which Entercom, in its sole discretion, considers to be unacceptable, or in the event of any breach by End User of these Terms of Site Use. The provisions of Sections 2 through 12 will survive any such termination.</p>

<h4>Miscellaneous.</h4>

	<p>These Terms of Site Use, the Terms of Sale, and the Entercom Privacy Policy constitute the entire agreement of the parties with respect to the subject matter hereof. No waiver by either party of any breach or default hereunder is a waiver of any preceding or subsequent breach or default. The section headings used herein are for convenience only and shall be of no legal force or effect. If any provision hereof or thereof is held invalid by a court of competent jurisdiction, such invalidity shall not affect the enforceability of any other provisions contained herein or therein, respectively and the remaining portions thereof/hereof shall continue in full force and effect. The failure of either party to exercise any of its rights hereunder shall not be deemed a waiver or forfeiture of such rights or any other rights provided hereunder.</p>

	<p>By using the Site, you represent and warrant that you (i) are at least 18 years old, (ii) are of legal age to form a binding contract, (iii) have not been removed or suspended from the Site by Entercom, and (iv) will only use the Site for purchases within the United States of America. You represent and warrant that you have not falsely identified yourself nor provided any false information to gain access to the Site.</p>

	<p>For Florida Residents</p>

	<p>If you purchase a Certificate and the Merchant is a healthcare provider: The patient and any other person responsible for payment has a right to refuse to pay, cancel payment or be reimbursed for payment for any service, examination or treatment that is performed as a result of and within 72 hours of responding to the advertisement for the free, discounted fee or reduced fee service, examination or treatment. In most states, businesses not exclusively owned by physicians are prohibited from practicing medicine.</p>
  
	<p>For California Residents</p>

  <p>You may report complaints to the Complaint Assistance Unit of the Division of Consumer Services of the California Department of Consumer Affairs by contacting them in writing at 400 R Street, Sacramento, CA 95814, or by telephone at (800) 952-5210. You should note that parental control protections (such as computer hardware, software, or filtering services) are commercially available that may assist you in limiting access to material that is harmful to minors. Current providers of such protections can be found at: <a href="http://www.en.wikipedia.org/wiki/List_of_Content_Control_Software" target="_blank">http://www.en.wikipedia.org/wiki/List_of_Content_Control_Software</a>.</p>

<h4>Exhibit A</h4>
<h4>TERMS OF SALE</h4>

	<p>By using this site you agree, for the benefit of Entercom Communications Corp. and its subsidiaries (collectively “Entercom”), to the terms and conditions set forth herein. If you do not agree to these terms and conditions, do not utilize this site. All certificates purchased from this site or any other website or micro-site associated with Entercom are promotional certificates that may be used to obtain goods or services from participating merchants (“Merchants”). All Certificates are subject to these terms and conditions.</p>

	<p>You are required to create an account in order to purchase a Certificate. This is required so Entercom can provide you with easy access to print your orders, view your past purchases, modify your preferences, and to ensure permissible use of your Certificates. You are responsible for all activity occurring when the Site is accessed through your account and you shall abide by all applicable local, state, national and foreign laws, treaties and regulations in connection with your use of the Site. It is your responsibility to take appropriate actions immediately if any password has been stolen, leaked, compromised or otherwise used without proper consent. For information about Entercom’s collection of personal information, please view Entercom’s Privacy Policy.</p>

	<p>The Merchant, not Entercom, is the seller of the goods and services and is solely responsible for redeeming any Certificates you purchase. For avoidance of doubt, Entercom sells the Certificate that can be redeemed in connection with your purchase of the goods or services from the Merchant.</p>

	<p>As the issuer of the Certificate, the Merchant is fully responsible for any and all injuries, deaths, illnesses, damages, claims, liabilities and costs suffered by or in respect of a customer, caused in whole or in part by the Merchant, as well as for any unclaimed property liability arising from unredeemed Certificates or portions thereof.</p>

	<p>Neither Entercom nor the Merchant is responsible for lost or stolen Certificates. Reproduction, sale or trade of a Certificate is prohibited unless done so in compliance with applicable law. Any attempted redemption not consistent with these terms & conditions will render the Certificate void to the extent prohibited by law.</p>

	<p>YOU WAIVE, AND RELEASE ENTERCOM AND ITS AFFILIATES AND THEIR RESPECTIVE SHAREHOLDERS, OFFICERS, DIRECTORS, MEMBERS, MANAGERS, EMPLOYEES AND AGENTS FROM, ANY CLAIM, LIABILITIES, LOSS, DAMAGES, INJURY AND/OR DEATH ARISING FROM OR RELATED TO (I) ANY ACT OR OMISSION OF MERCHANT; (II) THE SERVICES/GOODS PROVIDED IN CONNECTION WITH THE CERTIFICATES; AND (III) MERCHANT’S COMPLIANCE WITH APPLICABLE LAWS.</p>

	<p>Certificates are redeemable in their entirety and on a one time basis only and may not be redeemed incrementally, unless otherwise required by law.</p>

	<p>Certificate cannot be combined with any other vouchers, third party certificates, coupons, or promotions, unless otherwise specified by Merchant. Any attempted redemption not consistent with these terms and conditions will render the Certificates null and void.</p>

	<p>Each Certificate has two value components: (a) the Promotional or “Deal” Value; and (b) the Paid Value. While the Promotional Value expires on the stated expiration date (unless (i) no date is stated; or (ii) expiration of the Promotional Value is prohibited by law), the Paid Value does not expire. After the expiration date, the Merchant should continue to redeem the Paid Value.</p>

	<p>For example, if you paid $20 for a Certificate which gives you $50 of value from a the Merchant, then the Paid Value is $20 while the Promotional or “Deal” Value is $30. The $20 Paid Value does not expire while the $30 Promotional or “Deal” Value expires on the date stated on the Certificate (unless (i) no date is stated; (ii) expiration of the Promotional Value is prohibited by law).</p>

	<p><b>If a Merchant refuses to redeem (a) your unexpired Certificate, (b) the Paid Value of your expired Certificate, or (c) the full value of your expired Certificate where the expiration of the Promotional Value is prohibited by law; then Entercom will refund the purchase price of the Certificate in either U.S. Dollars or credit for purchases of future Certificates.</b> You can initiate the refund process by sending an email to <a href="mailto:MyPerks@Entercom.com">MyPerks@Entercom.com.</a></p>

	<p>If you redeem a Certificate for less than its face value, you will only be entitled to a credit or cash from the Merchant equal to the difference between the face value and the amount you redeemed, if required by applicable law. You will only be entitled to a continuing redemption value as noted above if the amount that you paid for the Certificate exceeds the amount you redeemed. For example, if you paid $15 for a Certificate which entitles you to purchase $30 of product/services by March 1, 2011 and you make a purchase for $20 on December 31, 2010, you will only be entitled to a credit or cash equal to the difference between the $30 face value and the amount you redeemed from the Merchant (i.e., $10) if required by applicable law.</p>

	<p>Entercom and the Merchants reserve all rights and remedies against you to the extent you violate these Terms of Sale, including without limitation counterfeiting Certificates or otherwise engaging in fraudulent conduct. Entercom reserves the right to make changes to this site and these disclaimers, terms and conditions at any time without notice.</p>

	<p>For restaurant specific Certificates: (i) redemption frequency is determined by the restaurant Merchant; (ii) use of Certificates for alcoholic beverages is at the sole discretion of the restaurant Merchant and is subject to compliance with applicable law; (iii) Certificates cannot be used for taxes, tips or prior balances, unless permitted by the restaurant Merchant; and (iv) Certificates are valid for dine in only unless otherwise stated.</p>

	<p>For non restaurant Certificates: (i) Certificates may be applied only to merchandise sold by Merchant, and may not be applied to shipping or handling charges; (ii) Limit one (1) Certificate per redemption; and (iii) only one Certificate can be used per order unless otherwise specified by Merchant.</p>
	
	<p>In the event of a controversy or claim(s) arising out of, or relating to, the Certificate(s) or the uses thereof, including, but not limited to, all claims arising under any federal, state or local statute or regulation, any tort, contract or common law claim, and claims arising under these Terms of Sale, you can initiate a dispute resolution process by sending an email to <a href="mailto:myperks@entercom.com">MyPerks@Entercom.com.</a> If the controversy or claim is not addressed to your satisfaction within thirty (30) days, all such claims shall be resolved through final and binding arbitration in accordance with the Commercial Arbitration Rules (Expedited Procedures) of the American Arbitration Association then in effect, provided that the arbitrator shall not be permitted to consolidate more than one person’s claims and may not otherwise preside over any form of a representative or class proceeding. Any such arbitration shall take place only in the metropolitan area in which Entercom’s business offices are located (for the applicable market where the Certificate was purchased), provided that if your primary residence is located more than 50 miles from such Entercom offices, you may elect (in your discretion) to conduct the arbitration either by submission of briefs or by telephone. Notwithstanding any contrary rule or procedure, you agree to waive any right to bring, maintain, or participate in, or recover any relief from, a class or representative action against Entercom, its affiliates, or any of their respective employees or other agents to the maximum extent permitted by law. You further agree that if included within a class or representative action, you will take all steps necessary to opt-out of the action or refrain from opting in, as the case may be.</p>

	<p>If you have questions regarding this Agreement or wish to obtain additional information, please send an e- mail inquiry to <a href="mailto:myperks@entercom.com">MyPerks@Entercom.com</a> or at Entercom Communications Corp., 401 City Avenue, Suite 809, Bala Cynwyd, PA 19004, attn: My Perks.</p>

		</div>
	</div><!--END rightcol-->
	
	<div class="leftcol">
		<div class="content">
		</div>
		
		
		
	</div><!--END leftcol-->
</div><!--END deal_info-->