<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/themes/couponcity/stylesheets/style.css" type="text/css" media="screen" />
<link type="text/css" href="/themes/couponcity/stylesheets/aa_pages.css" rel="stylesheet" />
<link type="text/css" href="/themes/couponcity/stylesheets/myform.css" rel="stylesheet" />
<link type="text/css" href="/themes/couponcity/stylesheets/jquery.lightbox.css" rel="stylesheet" />

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
	jQuery.noConflict();
</script>

<script src="/javascripts/lib/prototype.js" type="text/javascript"></script>
<script src="/javascripts/effects.js" type="text/javascript"></script>
<script src="/javascripts/dragdrop.js" type="text/javascript"></script>
<script src="/javascripts/controls.js" type="text/javascript"></script>
<script src="/javascripts/application.js" type="text/javascript"></script>
<script type="text/javascript" src="/themes/couponcity/javascripts/jquery.selectbox-0.5.js"></script>
	
	<script type="text/javascript">
	$(function() {
		$('#control_COLUMN6').selectbox();
	});
	</script>
	
	<script type="text/javascript">
		function clickclear(thisfield, defaulttext) {
			if (thisfield.value == defaulttext) {
				thisfield.value = "";
			}
		}
		
		function clickrecall(thisfield, defaulttext) {
			if (thisfield.value == "") {
				thisfield.value = defaulttext;
			}
		}
	</script>
	
	<script type="text/javascript">
				jQuery(document).ready(function($) {
						$("#register_button").click(function() {
				var frm_second = document.getElementById("popup_form");
				frm_second.submit();
				parent.location.reload();
				return true;
						});
				});
		</script>


<script type="text/javascript">

	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-21665618-1']);
	_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>

</head>
<body style="padding:0px; margin:0px">
<div id="fb-root"></div>
<script>(function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
	fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="wrapper" align="center">
	<div class="header1" align="center">
			<div class="header_content">
					<div id="register">
							<a href="#"><img src="http://www.couponcity.gr/images/logariasmos.png" /></a>
						</div>
					<div id="logo"> <a href="http://www.couponcity.gr"><img border="0" src="/themes/couponcity/images/logo.png" /></a>
					</div>
						<div id="search">
						<!-- search form -->
			<form id="searchform" method="get" action="http://www.couponcity.gr/">
				<input type="text" value="Αναζήτησε κουπόνια" size="40" name="s" id="search_input" onfocus="if(this.value==this.defaultValue){this.value=''}" onblur="if(this.value==''){this.value=this.defaultValue}" />
				<input type="submit" class="submitform" value="" />
			</form>
						 <div id="search_examples">
						π.χ. 
						<a href="http://www.couponcity.gr/?s=Μόδα">Μόδα</a>&nbsp;&nbsp;
						<a href="http://www.couponcity.gr/?s=Κοσμήματα">Κοσμήματα - Ρολόγια</a>&nbsp;&nbsp;
						<a href="http://www.couponcity.gr/?s=Διασκέδαση">Φαγητό - Διασκέδαση</a>&nbsp;&nbsp;
						<a href="http://www.couponcity.gr/?s=Ταξίδια">Ταξίδια Αναψυχής</a>&nbsp;&nbsp;
						<a href="http://www.couponcity.gr/?s=Δώρα">Δώρα - Gadgets</a>&nbsp;&nbsp;
						<a href="http://www.couponcity.gr/?s=Εσώρουχα">Εσώρουχα</a>&nbsp;&nbsp;
						<a href="http://www.couponcity.gr/?s=Παπούτσια">Παπούτσια</a>&nbsp;&nbsp;
						<a href="http://www.couponcity.gr/?s=Αυτοκίνητο">Αυτοκίνητο</a>&nbsp;&nbsp;
						</div><!--search_examples-->
						</div><!--search-->
				</div><!--header_content-->
		</div><!--header-->
		
		<div class="main">
			<div class="top_menu">
					<ul>
							<li><a href="http://www.couponcity.gr/category/coupons-deals/?life=new_coupons">Νέα Κουπόνια</a></li>
								<li ><a href="http://www.couponcity.gr/category/coupons-deals/?life=new_deals">Νέα Deals</a></li>
								<li><a href="http://www.couponcity.gr/category/coupons-deals/?life=ligoun_suntoma">Λήγουν Σύντομα</a></li>
								<li><a href="http://www.couponcity.gr/category/katastimata">Καταστήματα</a></li>
								<!--<li ><a href="http://www.couponcity.gr/category/afierwmata">Αφιερώματα</a></li>-->
								<li><a href="http://www.couponcity.gr/info/deite-pos-leitourgei">Δείτε πως λειτουργεί</a></li>
						</ul>
				</div><!--top_menu-->

				
			 <div id="aa_platform_content">
					<%= raw yield %>
			<div class="clear"></div>
		</div><!--aa_platform_content-->        
				
		</div>
		 
					<div class="footer" align="center">
<div class="footer_content">
					<div class="footer_content_left">
			&#927;&#953; &#951;&#955;&#949;&#954;&#964;&#961;&#959;&#957;&#953;&#954;&#941;&#962; &#945;&#947;&#959;&#961;&#941;&#962; &#949;&#943;&#957;&#945;&#953; &#959; &#960;&#953;&#959; &#963;&#973;&#947;&#967;&#961;&#959;&#957;&#959;&#962; &#954;&#945;&#953; &#941;&#958;&#965;&#960;&#957;&#959;&#962; &#964;&#961;&#972;&#960;&#959;&#962; &#947;&#953;&#945; &#957;&#945; &#954;&#949;&#961;&#948;&#943;&#950;&#949;&#953;&#962; &#945;&#960;&#972; &#964;&#953;&#962; online &#945;&#947;&#959;&#961;&#941;&#962; &#963;&#959;&#965;. &#917;&#948;&#974; &#952;&#945; &#946;&#961;&#949;&#953; &#956;&#945;&#950;&#949;&#956;&#941;&#957;&#949;&#962; &#963;&#949; &#941;&#957;&#945; &#956;&#941;&#961;&#959;&#962;, &#964;&#953;&#962; &#954;&#945;&#955;&#973;&#964;&#949;&#961;&#949;&#962; &#949;&#954;&#960;&#964;&#974;&#963;&#949;&#953;&#962;, &#960;&#961;&#959;&#963;&#966;&#959;&#961;&#941;&#962; &#954;&#945;&#953; &#948;&#969;&#961;&#949;&#940;&#957; &#960;&#945;&#961;&#959;&#967;&#941;&#962; &#945;&#960;&#972; &#967;&#953;&#955;&#953;&#940;&#948;&#949;&#962; &#960;&#961;&#959;&#970;&#972;&#957;&#964;&#945; &#954;&#945;&#953; &#945;&#947;&#945;&#960;&#951;&#956;&#941;&#957;&#945; &#963;&#959;&#965; &#951;&#955;&#949;&#954;&#964;&#961;&#959;&#957;&#953;&#954;&#940; &#954;&#945;&#964;&#945;&#963;&#964;&#942;&#956;&#945;&#964;&#945;. <a href="#">&#960;&#949;&#961;&#953;&#963;&#963;&#972;&#964;&#949;&#961;&#945;</a><br /><br /><img src="/themes/couponcity/images/logo.png" align="left" /> </div>
						<div class="footer_content_middle">
							<div id="footer_content_middle_left">
									<ul>
												<li><a href="http://www.couponcity.gr/category/coupons-deals?ot=coupon">&#922;&#959;&#965;&#960;&#972;&#957;&#953;&#945;</a></li>
												<li><a href="http://www.couponcity.gr/category/coupons-deals?ot=deals">Deals</a></li>
												<li><a href="http://www.couponcity.gr/category/nea-kouponia">&#925;&#941;&#945; &#922;&#959;&#965;&#960;&#972;&#957;&#953;&#945;</a></li>
												<li><a href="http://www.couponcity.gr/category/nea-deals">&#925;&#941;&#945; Deals</a></li>
												<li><a href="http://www.couponcity.gr/category/ligoun-suntoma">&#923;&#942;&#947;&#959;&#965;&#957; &#931;&#973;&#957;&#964;&#959;&#956;&#945;</a></li>
										</ul>
								</div>
								<div id="footer_content_middle_right">
									<ul>
											<li><a href="#">&#917;&#960;&#953;&#954;&#959;&#953;&#957;&#969;&#957;&#942;&#963;&#964;&#949; &#956;&#945;&#950;&#943; &#956;&#945;&#962;</a></li>
												<li><a href="#">&#931;&#965;&#957;&#949;&#961;&#947;&#945;&#963;&#964;&#949;&#943;&#964;&#949;  &#956;&#945;&#950;&#943; &#956;&#945;&#962;</a></li>
												<li><a href="#">&#908;&#961;&#959;&#953; &#967;&#961;&#942;&#963;&#951;&#962;</a></li>
												<li><a href="http://www.couponcity.gr/info/deite-pos-leitourgei">&#928;&#969;&#962; &#955;&#949;&#953;&#964;&#959;&#965;&#961;&#947;&#949;&#943;</a></li>
												<!--<li><a href="#">Sitemap</a></li> -->
										</ul>
								</div>
						</div>
						<div class="footer_content_right">
							<div class="footer_content_right_text">
								
								</div>
							<img src="/themes/couponcity/images/contact_footer.png" />
								<div class="follow_us">
									<h2>&#913;&#954;&#959;&#955;&#959;&#965;&#952;&#942;&#963;&#964;&#949; &#956;&#945;&#962;&nbsp;&nbsp;</h2>
										<a href="http://www.facebook.com/pages/CouponCitygr/201302116549644" target="_blank"><img src="http://tools.forestview.eu/cc/images/fb.png" width="40px" height="40px" border="0" /></a>
										<a href="https://twitter.com/CouponCity_gr" target="_blank"><img src="http://tools.forestview.eu/cc/images/twitter.png" width="40px" height="40px" border="0"/></a>
								</div>
						</div>
	</div>
</div>
<script type="text/javascript">
	//replace terms href
	jQuery(document).ready(function($){
		var terms = $("a[onclick='window.open('/el/publishers/1571/daily_deals/terms', '_blank'); return false; return false;']")
		
		terms.attr({
				onclick:"",
					 href: "http://www.couponcity.gr/info/%CF%8C%CF%81%CE%BF%CE%B9-%CF%87%CF%81%CE%AE%CF%83%CE%B7%CF%82",
				 target: "_blank"
				});
	});
</script>
</body>
</html>
