<div id="featured_deals">
	<h1 class="featured_banner"><span>Featured Deals</span></h1>
	<div class="offer_wrapper featured">
		<div class="deal_photo_wrapper">
			<a href="deal_details"><img class="deal_photo" src="" height="80" width="132" alt=""></a>
		</div>
		<div class="view_details_wrap"><a href="#" class="button gradient view_details">View Details</a></div>
		<div class="offer_details">
			<a class="value_proposition" href="#">$20 for $40 of Food and Drink at National Chain Restaurant</a>
			<p class="spec"><span class="label">Price:</span> $40</p>
			<p class="spec"><span class="label">Date:</span> 2/10/2011 - 2/12/2011</p>
			<p class="spec"><span class="label">Media:</span> Online</p>
			<p class="spec"><span class="label">Category:</span> Restaurants</p>
			<%# Use deal_syndication_status partial, once we have a notion of a syndicated featured deal %>
			<img class="syndication_status" src="/images/syndication/graphics/deal_key_syndicated.png" alt="syndicated" height="14" width="14">
			<img class="syndication_status" src="/images/syndication/graphics/deal_key_originated.png" alt="syndicated" height="14" width="14">
		</div><!-- /offer_details -->
	</div><!-- /offer_wrapper -->
	<div class="offer_wrapper featured">
		<div class="deal_photo_wrapper">
			<a href="deal_details"><img class="deal_photo" src="" height="80" width="132" alt=""></a>
		</div>
		<div class="view_details_wrap"><a href="#" class="button gradient view_details">View Details</a></div>
		<div class="offer_details">
			<a class="value_proposition" href="#">$20 for $40 of Food and Drink at National Chain Restaurant</a>
			<p class="spec"><span class="label">Price:</span> $40</p>
			<p class="spec"><span class="label">Date:</span> 2/10/2011 - 2/12/2011</p>
			<p class="spec"><span class="label">Media:</span> Online</p>
			<p class="spec"><span class="label">Category:</span> Restaurants</p>
			<%# Use deal_syndication_status partial, once we have a notion of a syndicated featured deal %>
			<img class="syndication_status" src="/images/syndication/graphics/deal_key_syndicated.png" alt="syndicated" height="14" width="14">
			<img class="syndication_status" src="/images/syndication/graphics/deal_key_originated.png" alt="syndicated" height="14" width="14">
		</div><!-- /offer_details -->
	</div><!-- /offer_wrapper -->	
</div><!-- /featured_deals -->