<!--<div class="show-mobile" style="overflow:hidden;height:auto;">
    <div id="new_branding">
            <a target="_top" id="mobile_logo" href="http://www.newsherald.com/">News Herald</a>
</div>
</div>
<div style="clear:both;"></div>
-->
<div id="fi_wrapper" class="hide-mobile" style="clear: both; overflow: hidden;">
      <div id="fi_header">
        <div class="headrow2" >
    	 <div class="logo">
            <a target='_top' href="http://www.newsherald.com/"><img src="/themes/panamacitynewsherald/images/halifax_logo.png" alt="" border="0" height="62" width="316" /></a>
          </div>
          <div class="fi_search_head">
            <form target='_top' name="fisearch" action="http://www.newsherald.com/search/" method="get" target="_top">
              <div class="searchtop">

                <span class="title_search">Search:</span> <input id="googlesearch" name="q" class="inputText" value="" type="text" /> <input name="fistype" value="site" checked="checked" type="radio" /> Site&nbsp;&nbsp;<input name="fistype" value="web" type="radio" /> Web
                <input src="http://common.onset.freedom.com/images/btn_search.gif" alt="Search powered by Google" type="image" align="absmiddle" height="26" width="74" /> <input src="http://common.onset.freedom.com/images/logo_google.gif" alt="Search powered by Google" type="image" align="absmiddle" height="29" width="60" />
              </div>
            </form>
          </div>

        </div>

      </div>

      <div id="fi_content">
        <div id="fi_nav">
          <div class="fi_menu"><ul id="fi_nav_ul">
              <li><a target='_top' class="title" href="http://www.newsherald.com/">Home</a></li>
              <li><a target='_top' class="title" href="http://www.newsherald.com/sections/news/">News</a></li>
              <li><a target='_top' class="title" href="http://www.newsherald.com/sections/sports/">Sports</a></li>
              <li><a target='_top' class="title" href="http://obits.newsherald.com/obituaries/newsherald/">Obits</a></li>
              <li><a target='_top' class="title" href="http://www.newsherald.com/sections/mugshots/">Mugshots</a></li>
              <li><a target='_top' class="title" href="http://www.newsherald.com/sections/health-stories/">Health</a></li>
              <li><a target='_top' class="title" href="http://www.newsherald.com/sections/business/">Business</a></li>
              <li><a target='_top' class="title" href="http://www.newsherald.com/sections/opinions/">Opinions</a></li>
              <li><a target='_top' class="title" href="http://www.newsherald.com/sections/outdoors/">Outdoors</a></li>
              <li><a target='_top' class="title" href="http://www.newsherald.com/sections/entertainment/">Get Local</a></li>
            </ul></div><script type="text/javascript">if(navLoad)navLoad();</script>
        </div>
      </div>
      <div id="funnel" class="fi_funnel">
        <script type="text/javascript" src="http://www.newsherald.com/common/tools/load.php?js=common_adwidget"></script>
        <link rel="stylesheet" type="text/css" href="http://www.newsherald.com/common/tools/load.php?css=common_adwidgetLinksOnly" />
        <div id="class-menu"><ul><li><a target='_top' class="class-tabOff"  id="classtabOne" onMouseOver="classtabber.click(this),changeFrame('frameOne', 'http://www.newsherald.com/common/ad/createAdIframeLinksOnly.php?adName=Featured Jobs&sponsoredName=Featured Employer&lListTitles=Search Jobs,View Job Videos,Career Events,Looking to Hire&lListLinks=http://www.emeraldcoastjobseast.com/monster/,http://www.emeraldcoastjobseast.com/monster/,http://www.emeraldcoastjobseast.com/monster/,http://www.emeraldcoastjobseast.com/monster/&spTitle=Click here to Feature a Job&spLink=http://www.emeraldcoastjobseast.com/employer/&domain=newsherald.com&cat=widget/jobs');" href="http://www.emeraldcoastjobseast.com/monster/" title="Jobs">Jobs</a></li>
            <li><a target='_top' class="class-tabOff"  id="classtabTwo" onMouseOver="classtabber.click(this),changeFrame('frameOne', 'http://www.newsherald.com/common/ad/createAdIframeLinksOnly.php?adName=Featured Cars&sponsoredName=Featured Dealer&lListTitles=Search Online Inventory,Sell Your Vehicle,Search Auto Classifieds,Research&lListLinks=http://www.pcautobuy.com/default2.htm,http://www.pcautobuy.com/default2.htm,http://www.pcautobuy.com/default2.htm,http://www.pcautobuy.com/default2.htm&spTitle=Click here to Feature an Auto&spLink=http://emeraldcoastmarketplace.kaango.com/feChoosePostAd/&domain=newsherald.com&cat=widget/cars');" href="http://www.pcautobuy.com/default2.htm" title="Autos">Autos</a></li>
            <li><a target='_top' class="class-tabOff"  id="classtabThree" onMouseOver="classtabber.click(this),changeFrame('frameOne', 'http://www.newsherald.com/common/ad/createAdIframeLinksOnly.php?adName=Featured Homes&sponsoredName=Featured Realtor&lListTitles=Search for Homes,Recent Home Listings,Research Tools,Mortgage Calculator&lListLinks=http://real-estate.newsherald.com/,http://real-estate.newsherald.com/,http://real-estate.newsherald.com/,http://real-estate.newsherald.com/&spTitle=Click here to Feature a Home&spLink=http://emeraldcoastmarketplace.kaango.com/feChoosePostAd/&domain=newsherald.com&cat=widget/homes');" href="http://real-estate.newsherald.com/" title="Real Estate">Real Estate</a></li>
            <li><a target='_top' class="class-tabOff"  id="classtabFour" onMouseOver="classtabber.click(this),changeFrame('frameOne', 'http://www.newsherald.com/common/ad/createAdIframeLinksOnly.php?adName=Featured Classified&sponsoredName=Featured Advertiser&lListTitles=Buy Stuff,Sell Your Stuff,Announcements,Browse Ads&lListLinks=http://emeraldcoastmarketplace.kaango.com/,http://emeraldcoastmarketplace.kaango.com/feChoosePostAd,http://emeraldcoastmarketplace.kaango.com/,http://emeraldcoastmarketplace.kaango.com/&spTitle=Click here to Feature an Ad&spLink=http://emeraldcoastmarketplace.kaango.com/feChoosePostAd&domain=newsherald.com&cat=widget/classified');" href="http://emeraldcoastmarketplace.kaango.com/" title="Classifieds">Classifieds</a></li>
          </ul></div>	</div>

    </div>
