<h1>Thank you!</h1>
<h2>Tell your friends about Daily Deals!</h2>
<div id="share_buttons">
	<a id="facebook" class="share_button share_button_facebook" href="#" onclick="return share_on_facebook('Sign up for Local Edge Daily Deal alerts!')" target="_blank"><span>Share on Facebook</span></a>
	<a id="twitter" class="share_button share_button_twitter" href="#" onclick="return share_on_twitter('Sign up for Local Edge Daily Deal alerts!')" target="_blank"><span>Share on Twitter</span></a>
	<a href="mailto:?subject=Get%20Daily%20Deal%20Alerts!&amp;body=Sign%20up%20for%20Daily%20Deal%20Alerts%20at%20publisher-name%20" class="share_button share_button_mail"><img src="/themes/elivelife/images/buttons/mail.png" width="" height="" alt="email this to a fiend" /></a>
</div>


<div class="clear"></div>

<div id="a_a"><a href="http://analoganalytics.com/"><img src="/images/powered_by_analog_analytics.png" width="169" height="20" alt="Powered by Analog Analytics" /></a></div>