<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"> 
<html> 
  <head> 
    <META http-equiv="Content-Type" content="text/html; charset=utf-8"> 
    <title>Time Warner Cable | Time Warner Cable | SoCal</title> 
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"> 
    <meta name="levelid" content="23"> 
    <meta name="Keywords" content="Time Warner Cable, Southern California, Los Angeles, Orange County, Ventura County, television, digital tv, high speed internet access, road runner, online, rr, digital phone, telephone, hdtv, hd, All The Best"> 
    <meta name="Description" content="Time Warner Cable/Southern California offers digital cable TV, high speed internet, and home phone for Los Angeles and Orange County"> 
    <meta name="robots" content="index, follow"> 
    <meta name="gsa" content="rebuild"> 
    <link rel="stylesheet" type="text/css" href="http://www.timewarnercable.com//ajax.googleapis.com/ajax/libs/yui/2.6.0/build/reset-fonts-grids/reset-fonts-grids.css"> 
    <link rel="stylesheet" type="text/css" media="all" href="http://www.timewarnercable.com/includes/css/global.css?-1842733781"> 
    <link rel="stylesheet" type="text/css" media="print" href="http://www.timewarnercable.com/includes/css/printable.css?-1675159065"><script type="text/javascript"> 
				var DFModuleList = []; var DFFObjectList = []; var TwcSlideShow2List = [];
				window.DF = window.DF || {};
				DF.Twc = DF.Twc || {};
				DF.Twc.ForeSeeSurvey = {Enabled : false, SamplingPercentage: 0};
			</script><script type="text/javascript" src="http://www.timewarnercable.com/foresee/foresee-trigger.js">;</script>

      <%= render :partial => "layouts/offers/#{@publisher.theme}/stylesheets_and_javascript" %>
      <%= render :partial => "layouts/offers/standard/facebook_metadata" %>
      <%= raw render :partial => "/shared/tracking_offers" %>
    </head> 
			
			
  <body class="en-us"> 
    <div class="body_hex_gradient"> 
      <div class="body_hex_left absolute"></div> 
      <div class="body_hex_right absolute"></div> 
    </div> 
    <noscript> 
      <div class="page_head_msg_container"> 
        <div class="page_head_msg_icon"></div> 
        <div class="page_head_msg_content">For this site to function properly, you'll need to adjust the setting on your browser to allow JavaScript.<br><a href="http://www.timewarnercable.com/corporate/support/javascript.html">Learn how to adjust your browser settings here.</a></div> 
      </div> 
    </noscript> 
    <div id="page_head_msg" class="gbl_hidden"> 
      <div id="page_head_msg_container" class="page_head_msg_container"> 
        <div class="page_head_msg_icon"></div> 
        <div id="page_head_msg_content" class="page_head_msg_content"></div> 
      </div> 
    </div> 
    <div id="pagewrap_frame_outer"> 
      <div id="pagewrap_frame"> 
        <div id="pagewrap_box"> 
          <!-- <div class="Homepage_glow"></div>  -->
          <div id="Masthead_GlowWrap"> 
            <div id="Masthead_ActiveGlowEndCap"></div> 
            <div class="Masthead_ActiveGlowTopMenuItem Masthead_SelectedGlow"></div> 
            <div class="Masthead_ActiveGlowTopMenuItem Masthead_HoverGlow"></div> 
            <div class="Masthead_ActiveGlowTopMenuItem Masthead_HoverGlow Masthead_ActiveGlowSub1"></div> 
            <div class="Masthead_ActiveGlowTopMenuItem Masthead_HoverGlow Masthead_ActiveGlowSub2"></div> 
          </div> 
          <div id="masthead_box"> 
            <div id="Masthead"><span id="Masthead_LogoWrapper" style="z-index: 2"><a id="Masthead_MainLogo" href="http://www.timewarnercable.com/"><img width="238" height="31" alt="Time Warner Cable" title="Time Warner Cable" src="http://www.timewarnercable.com/MediaLibrary/1/1/Site/Images/Masthead/Logo_en-us.gif"></a></span><div id="Masthead_RightHeader" style="z-index: 1"> 
                <div id="Masthead_language"><span class="Masthead_gap">|</span><a id="Masthead_LanguageFlip_Anchor" alt="Español" title="Español" href="http://www.timewarnercable.com/socalespanol/">Español</a></div> 
                <div id="Masthead_LocalizedState">Do you want to localize?</div> 
                <div id="Masthead_TextResizer"><span id="Masthead_TextResizer_0">A</span><span id="Masthead_TextResizer_1">A</span><span id="Masthead_TextResizer_2">A</span><span class="Masthead_gap">|</span></div> 
                <div id="Masthead_MenuTail"> 
                  <div id="Masthead_Skip"><a href="#content">Skip to Main Content<span class="Masthead_gap">|</span></a></div><a class="Masthead_MenuWrap" alt="About Us" title="About Us" id="Masthead_Menu7" href="http://www.timewarnercable.com/socal/about/">About Us</a><span class="Masthead_gap">|</span><a class="Masthead_MenuWrap" alt="Investor Relations" title="Investor Relations" id="Masthead_Menu8" href="javascript:void window.open('http://ir.timewarnercable.com/','','').focus()">Investor Relations</a><span class="Masthead_gap">|</span><a class="Masthead_MenuWrap" alt="Careers" title="Careers" id="Masthead_Menu9" href="http://www.timewarnercable.com/corporate/about/careers/default.html?menu=36229">Careers</a><span class="Masthead_gap">|</span><a class="Masthead_MenuWrap" alt="Business Services" title="Business Services" id="Masthead_Menu10" href="http://www.timewarnercable.com/SoCal/about/businessservices.html">Business Services</a><span class="Masthead_gap">|</span><a class="Masthead_MenuWrap" alt="Payment Centers" title="Payment Centers" id="Masthead_Menu11" href="http://www.timewarnercable.com/Localization/LinkLocalizer.ashx?linkid=39">Payment Centers</a></div> 
              </div> 
              <div id="Masthead_SearchBox"> 
                <div id="Masthead_SearchBox_bkg"></div> 
                <form id="Masthead_SiteSearch" class="SearchForm" method="GET" action="/SoCal/search/site.ashx" name="Masthead_SiteSearch"> 
                  <div><input id="SearchInput" type="text" size="25" name="query" value="" autocomplete="off" title="Enter a Term"><input type="submit" id="Masthead_searchSubmit" title="Search" alt="Search" value=""><input type="hidden" value="4|23" name="level"><div id="Masthead_SiteSearch_Filters"> 
                      <div id="Masthead_SearchSuggest" class="SearchSuggest"></div><a href="javascript:;" id="Masthead_SearchSiteRadio" title="Site" alt="Site"><div id="Masthead_SearchSiteRadioBtn"></div><input id="Masthead_SearchSiteInput" class="SearchFormRadioButton" type="radio" checked value="Site" name="searchType"><label for="Masthead_SearchSiteInput">Site</label></a><a href="javascript:;" id="Masthead_SearchWebRadio" title="Google" alt="Google"><div id="Masthead_SearchWebRadioBtn"></div><input id="Masthead_SearchWebInput" class="SearchFormRadioButton" type="radio" value="RoadRunner" name="searchType"></a></div> 
                  </div> 
                </form> 
                <div id="Masthead_SearchBox_googleLogo" alt="Enhanced by Google" title="Enhanced by Google"></div> 
              </div> 
              <div id="Masthead_MenuBar"><a id="Masthead_Home" href="http://www.timewarnercable.com/SoCal" alt="Home" title="Home"></a><div id="Masthead_Menu0Wrap" class="Masthead_MenuWrap"><a class="Masthead_MenuWrap" alt="Learn" title="Learn" id="Masthead_Menu0" href="http://www.timewarnercable.com/socal/learn/"></a><div id="Masthead_Menu0_drop" class="Menu_topDropdown"></div> 
                </div> 
                <div id="Masthead_Menu1Wrap" class="Masthead_MenuWrap"><a class="Masthead_MenuWrap" alt="Shop" title="Shop" id="Masthead_Menu1" href="http://www.timewarnercable.com/socal/shop/"></a><div id="Masthead_Menu1_drop" class="Menu_topDropdown"></div> 
                </div> 
                <div id="Masthead_Menu2Wrap" class="Masthead_MenuWrap"><a class="Masthead_MenuWrap" alt="Support" title="Support" id="Masthead_Menu2" href="http://www.timewarnercable.com/socal/support/"></a><div id="Masthead_Menu2_drop" class="Menu_topDropdown"></div> 
                </div> 
                <div id="Masthead_Menu3Wrap" class="Masthead_MenuWrap"><a class="Masthead_MenuWrap" alt="What's on TV" title="What's on TV" id="Masthead_Menu3" href="http://www.timewarnercable.com/socal/learn/programming/local/channellineups"></a><div id="Masthead_Menu3_drop" class="Menu_topDropdown"></div> 
                </div> 
                <div id="Masthead_Menu4Wrap" class="Masthead_MenuWrap"><a class="Masthead_MenuWrap" alt="Contact Us" title="Contact Us" id="Masthead_Menu4" href="http://www.timewarnercable.com/SoCal/about/contactus.ashx"></a><div id="Masthead_Menu4_drop" class="Menu_topDropdown"></div> 
                </div> 
                <div id="Masthead_Menu5Wrap" class="Masthead_MenuWrap"><a class="Masthead_MenuWrap" alt="MyServices" title="MyServices" id="Masthead_Menu5" href="http://myservices.timewarnercable.com"></a><div id="Masthead_Menu5_drop" class="Menu_topDropdown"></div> 
                </div> 
                <div id="Masthead_Menu6Wrap" class="Masthead_MenuWrap"><a class="Masthead_MenuWrap" alt="PayXpress Bill Pay" title="PayXpress Bill Pay" id="Masthead_Menu6" href="http://www.timewarnercable.com/Localization/LinkLocalizer.ashx?linkid=50"></a><div id="Masthead_Menu6_drop" class="Menu_topDropdown"></div> 
                </div> 
              </div> 
            </div><img class="Masthead_printLogo" src="http://www.timewarnercable.com/images/src/logos/time_warner_cable.gif?-978115351" width="235" height="31" alt="Time Warner Cable" title="Time Warner Cable"></div> 
          <div id="pagearea_box" class="global_box transparent"> 
            <div id="content_box" class="content_box_borderless">
              <div id="analog_analytics_content">
                <%= yield %>
              </div>
            </div> 
          </div> 

          <div id="helpfullinks_box" class="global_box"> 
            <div id="DFCMSave5" class="HelpfulLinksCenter DFCMArea"><A href="http://www.timewarnercable.com/SoCal/site.faqs">FAQs</A>&nbsp;&nbsp;| &nbsp;<A href="http://www.timewarnerla.com/pricingGuides/">Pricing Guides</A>&nbsp; | &nbsp;<A href="http://www.timewarnercable.com/SoCal/support/local/customerstatement.html">Reading Your Bill</A>&nbsp;&nbsp;| &nbsp;<A href="http://www.timewarnercable.com/SoCal/learn/phone/local/callhistory.html">Call History</A>&nbsp; | &nbsp;<A href="http://www.timewarnercable.com/SoCal/support/local/guides_help.html">On-screen Guide</A>&nbsp; | &nbsp;<A href="http://www.timewarnercable.com/SoCal/support/local/remotes_help.html">Remote Controls</A>&nbsp; | &nbsp;<A href="http://www.timewarnercable.com/SoCal/learn/cable/parentalcontrol.html">Parental Controls</A>&nbsp;&nbsp;| &nbsp;<A href="https://webmail.ca.rr.com/">Road Runner Webmail</A>&nbsp; |&nbsp;&nbsp;<A href="http://www.timewarnercable.com/SoCal/about/community/default.html">Community</A>&nbsp; |&nbsp; <A href="http://www.timewarnercable.com/SoCal/about/local/newsroom/default.html">Newsroom</A></div> 
          </div> 
          <div id="LoadingDiv"></div> 
          <div id="LoadingLogin" class="gbl_hidden"> 
            <div class="Overlay_Background_Logo"></div> 
            <div id="closeButton2" class="Overlay_Media_CloseButton" onclick="DF.Twc.OffsiteLinkCapture.closeConfirmBox()"></div> 
            <div id="locOverlayContentSection2"> 
              <div class="externalNotice_ContentBox"> 
                <table cellpadding="0px" cellspacing="0px" height="150px;" width="100%"> 
                  <tr> 
                    <td id="tdwarningMessage"></td> 
                  </tr> 
                  <tr> 
                    <td></td> 
                  </tr> 
                  <tr> 
                    <td></td> 
                  </tr> 
                  <tr> 
                    <td align="center" style="vertical-align:bottom;padding-bottom:5px;"> 
                      <div class="Overlay_Go_Button_Container" id="btnOk"> 
                        <div class="Shop_Interstitial_GoButton" onclick="DF.Twc.OffsiteLinkCapture.redirectToUrl()"></div> 
                      </div> 
                    </td> 
                  </tr> 
                </table> 
              </div> 
            </div> 
          </div> 
          <div id="fatfooter_box" class="global_box"> 
            <div class="fatfooter"> 
              <table width="100%"> 
                <colgroup> 
                  <col style="width:16.7%"> 
                  <col style="width:16.7%"> 
                  <col style="width:16.7%"> 
                  <col style="width:16.7%"> 
                  <col style="width:16.7%"> 
                  <col style="width:16.7%"> 
                </colgroup> 
                <tr> 
                  <td class="FatFooterTablewithoutBorder FatFooterSection1">You<br><a class="FatFooterLink1" href="http://www.timewarnercable.com/Localization/LinkLocalizer.ashx?linkid=44" TARGET="_self">Ways to Pay Your Bill</a><a class="FatFooterLink2" href="http://www.timewarnercable.com/Localization/LinkLocalizer.ashx?linkid=45" TARGET="_self">My Services</a><a class="FatFooterLink3" href="http://www.timewarnercable.com/Localization/LinkLocalizer.ashx?linkid=63" TARGET="_self">Shop</a></td> 
                  <td class="FatFooterTablewithBorder FatFooterSection2">Tools<br><a class="FatFooterLink1" href="http://www.timewarnercable.com/customerservice/clu/clu.ashx" TARGET="_self">Channel Lineups</a><a class="FatFooterLink2" href="http://www.timewarnercable.com/Localization/LinkLocalizer.ashx?linkid=39" TARGET="_self">Payment Centers</a></td> 
                  <td class="FatFooterTablewithBorder FatFooterSection3">Us<br><a class="FatFooterLink1" href="http://www.timewarnercable.com/Localization/LinkLocalizer.ashx?linkid=40" TARGET="_self">About Us</a><a class="FatFooterLink3" href="http://www.timewarnercable.com/Localization/LinkLocalizer.ashx?linkid=41" TARGET="_self">Community</a><a class="FatFooterLink5" href="http://ir.timewarnercable.com/" TARGET="_Blank">Investor Relations</a><a class="FatFooterLink6" href="http://www.timewarnercable.com/Localization/LinkLocalizer.ashx?linkid=76" TARGET="_self">In The News</a><a class="FatFooterLink8" href="http://www.timewarnercable.com/Corporate/about/careers/default.html" TARGET="_Blank">Careers</a><a class="FatFooterLink9" href="http://www.timewarnercable.com/homepage.ashx" TARGET="_self">Corporate Home</a></td> 
                  <td class="FatFooterTablewithBorder FatFooterSection4 FatFooterTablePSL">Products and Services<br><a class="FatFooterLink1" href="http://www.timewarnercable.com/Localization/LinkLocalizer.ashx?linkid=27" TARGET="_self">Bundles</a><a class="FatFooterLink2" href="http://www.timewarnercable.com/Localization/LinkLocalizer.ashx?linkid=28" TARGET="_self">Digital Cable</a><a class="FatFooterLink3" href="http://www.timewarnercable.com/Localization/LinkLocalizer.ashx?linkid=29" TARGET="_self">High-Speed Online</a><a class="FatFooterLink4" href="http://www.timewarnercable.com/Localization/LinkLocalizer.ashx?linkid=30" TARGET="_self">Digital Phone</a><a class="FatFooterLink5" href="http://www.timewarnercable.com/Localization/LinkLocalizer.ashx?linkid=31" TARGET="_self">DVR</a><a class="FatFooterLink6" href="http://www.timewarnercable.com/Localization/LinkLocalizer.ashx?linkid=32" TARGET="_self">HDTV</a><a class="FatFooterLink7" href="http://www.timewarnercable.com/Localization/LinkLocalizer.ashx?linkid=33" TARGET="_self">On Demand</a><a class="FatFooterLink9" href="http://www.timewarnercable.com/Localization/LinkLocalizer.ashx?linkid=64" TARGET="_self">Programming</a><a class="FatFooterLink10" href="http://www.timewarnercable.com/Localization/LinkLocalizer.ashx?linkid=62" TARGET="_self">Parental Controls</a></td> 
                  <td class="FatFooterTablewithBorder FatFooterSection5">In Our Spotlight<br><a class="FatFooterLink2" href="http://www.hdclearandsimple.com" TARGET="_Blank">HD Clear and Simple</a><a class="FatFooterLink3" href="http://www.timewarnercable.com/Corporate/about/careers/diversity.html" TARGET="_self">Diversity</a><a class="FatFooterLink4" href="http://www.cablemediasales.com" TARGET="_Blank">Media Sales</a></td> 
                  <td class="FatFooterTablewithBorder FatFooterSection6">Help<br><a class="FatFooterLink1" href="http://www.timewarnercable.com/Localization/LinkLocalizer.ashx?linkid=37" TARGET="_self">Customer Support</a><a class="FatFooterLink2" href="http://help.rr.com" TARGET="_Blank">Road Runner Support</a><a class="FatFooterLink3" href="http://www.timewarnercable.com/Localization/LinkLocalizer.ashx?linkid=38" TARGET="_self">Contact Us</a><a class="FatFooterLink4" href="http://www.timewarnercable.com/Localization/LinkLocalizer.ashx?linkid=60" TARGET="_self">Move/Transfer Service</a><a class="FatFooterLink5" href="http://www.timewarnercable.com/Localization/LinkLocalizer.ashx?linkid=46" TARGET="_self">Site Map</a></td> 
                </tr> 
              </table> 
            </div> 
            <div class="fatfooterbottom"> 
              <ul> 
                <li class="FatFooterHorizontalItem_First"><a class="FatFooterLink1" href="http://www.timewarnercable.com/Corporate/privacyandterms.html" TARGET="_Blank">Website Terms of Use</a></li> 
                <li><a class="FatFooterLink2" href="http://www.timewarnercable.com/Corporate/privacy.html" TARGET="_Blank">Privacy Policy</a></li> 
                <li><a class="FatFooterLink3" href="http://www.timewarnercable.com/Corporate/investor_relations/caution_forward_statements.html" TARGET="_Blank">Caution Concerning Forward-Looking Statements</a></li> 
                <li><a class="FatFooterLink4" href="http://www.timewarnercable.com/Corporate/privacy_ca.html" TARGET="_Blank">Your California Privacy Rights</a></li> 
                <li class="FatFooterHorizontalItem_Last"><a class="FatFooterLink5" href="http://help.twcable.com/html/policies.html" TARGET="_Blank">Subscriber Agreements &amp; Policies</a></li> 
              </ul> 
            </div> 
          </div> 
          <div id="copyright_box" class="fatfootercopyright"> 
    © 2010 Time Warner Cable Inc. All rights reserved.</div> 
        </div> 
      </div> 
    </div> 
    <div id="OverlayShadowMask" class="Overlay_Shadow-Mask"></div> 
    <div id="OverlayContent" class="Overlay_Content gbl_hidden"></div> 
    <div id="OverlayContent1" class="gbl_hidden"> 
      <div class="Overlay_Background_Logo"></div> 
      <div id="closeButton" class="Localization_CloseButton"></div> 
      <div id="locOverlayContentSection" align="center" class="localizationOverlay_contentBox"> 
        <div id="locOverEnterZip"> 
          <div id="localizationOverlay_EnterZIP"> 
            <div id="localizationOverlay_Body_EnterZIP"> 
              <div class="localizationOverlayHeader font_pageTitleHeader">Residential Offerings in Your Area</div> 
              <div class="LocalizationOverlay_Content font_header" id="locZipBox">Just enter your ZIP code to see what's available in your neighborhood.<div class="LocalizationOverlay_Input_Go"> 
                  <div> 
                    <form id="localizationZipLookup" onsubmit="return DF.Twc.LocalizationOverlay.overlayValidateZIP(document.localizationZipLookup.localizationOverlay_ZIP);" method="get" action="." name="localizationZipLookup"> 
                      <div><input type="hidden" name="tid" value="0"></div> 
                      <div class="locOverlayInput"><input id="localizationOverlay_ZIP" type="text" maxlength="5" name="zip" class="font_legal" value="" title="Enter ZIP Code"><button id="GoButton1" type="submit" title="Go" value="submit" name="LocalizationOverlayGo" class="Shop_Interstitial_GoButton" alt="Go"></button></div> 
                    </form> 
                  </div> 
                </div> 
                <div class="font_legal localizationOverlay_changeSearch"><a href="javascript:DF.Twc.LocalizationOverlay.LocOverlay.swapLocOverlayView('selectRegion');" class="localizationOverlay_AlternateSearchText font_link"><div class="CaratBulletWrapper CaratBulletSearchByStateInstead" style="position: relative;"> 
                      <div class="CaratBullet LocalizationCaratBullet"></div>Search by State/Region instead</div></a></div> 
              </div> 
            </div> 
          </div> 
        </div> 
        <div id="locOverSelectRegion"> 
          <div id="localizationOverlay_SelectRegion"> 
            <div id="LocalizationOverlay_Body_SelectRegion"> 
              <div class="localizationOverlayHeader font_pageTitleHeader">Residential Offerings in Your Area</div> 
              <div class="LocalizationOverlay_Content font_header" id="locRegionSelect">Just select your region to see what's available in your neighborhood.<div> 
                  <form onsubmit="return DF.Twc.LocalizationOverlay.overlayValidateRegion(State, Market, Submarket);" method="get" action="." name="LocState" id="LocState"> 
                    <div><input type="hidden" name="tid" value="0"><div class="locOverlayRegionInput"> 
                        <div class="locOveralySelectDiv"><select id="localizationOverlay_State" name="State" class="font_legal" onchange="DF.Twc.Localization.selectState(document.LocState.State.value, document.LocState.Market);"><option value="-1">Select your state...</option> 
                            <option value="1">Alabama</option> 
                            <option value="3">Arizona</option> 
                            <option value="5">California</option> 
                            <option value="6">Colorado</option> 
                            <option value="10">Florida</option> 
                            <option value="11">Georgia</option> 
                            <option value="12">Hawaii</option> 
                            <option value="13">Idaho</option> 
                            <option value="15">Indiana</option> 
                            <option value="17">Kansas</option> 
                            <option value="18">Kentucky</option> 
                            <option value="20">Maine</option> 
                            <option value="22">Massachusetts</option> 
                            <option value="26">Mississippi</option> 
                            <option value="25">Missouri</option> 
                            <option value="27">Montana</option> 
                            <option value="28">Nebraska</option> 
                            <option value="30">New Hampshire</option> 
                            <option value="31">New Jersey</option> 
                            <option value="33">New York</option> 
                            <option value="34">North Carolina</option> 
                            <option value="36">Ohio</option> 
                            <option value="37">Oklahoma</option> 
                            <option value="39">Pennsylvania</option> 
                            <option value="41">South Carolina</option> 
                            <option value="44">Texas</option> 
                            <option value="47">Virginia</option> 
                            <option value="48">Washington</option> 
                            <option value="49">West Virginia</option> 
                            <option value="50">Wisconsin</option> 
                            <option value="51">Wyoming</option></select><select id="localizationOverlay_Region" name="Market" class="font_legal" style="margin-left:5px;" onchange="DF.Twc.Localization.selectMarket(document.LocState.Market.value.split('|')[0], document.LocState.Submarket);"><option value="-1">Select Region...</option></select><select id="localizationOverlay_Area" style="display:none; margin-left:5px;" name="Submarket" class="font_legal"><option value="-1">Select Area...</option></select></div> 
                        <div class="GoButtonWrapper"><button id="GoButton2" type="submit" value="submit" name="LocalizationOverlayGo" class="Shop_Interstitial_GoButton Localization_Overlay_Go_Position" alt="Go" title="Go"></button></div> 
                      </div> 
                    </div> 
                  </form> 
                </div> 
                <div class="font_legal localizationOverlay_changeSearchDouble"><a href="javascript:DF.Twc.LocalizationOverlay.LocOverlay.swapLocOverlayView('enterZip');" class="localizationOverlay_AlternateSearchText"><div class="CaratBulletWrapper CaratBulletSearchByZip" style="position: relative;"> 
                      <div class="CaratBullet"></div><span class="CaratSpacer">  Search by ZIP Code instead</span></div></a></div> 
              </div> 
            </div> 
          </div> 
        </div> 
        <div id="locOverSplitZip"> 
          <div id="localizationOverlay_SplitZIP"> 
            <div id="LocalizationOverlay_Body_SplitZIP"> 
              <div class="localizationOverlayHeader font_pageTitleHeader" id="splitZipHeader">The zip10001covers a large area.</div> 
              <div class="LocalizationOverlay_Content font_header" id="locSplitZip"> 
                <p>Please select your exact location from the pull-down menu.</p> 
                <div> 
                  <form name="SplitZip" id="SplitZip" onsubmit="return DF.Twc.LocalizationOverlay.overlayValidateZipRegion(Locale, document.SplitZip.Submarket);" method="get" action="."> 
                    <div><input type="hidden" name="tid" value="0"><input type="hidden" name="zipCode" id="SplitZipZipCode"><div class="locOverlayRegionInput"> 
                        <div class="locOveralySelectDiv"><select id="localizationOverlay_Location" style="display:inline;" name="Locale" class="font_legal" onchange="DF.Twc.Localization.selectMarketAndZip(document.SplitZip.Locale.value.split('|')[0], document.SplitZip.zipCode.value, document.SplitZip.Submarket);"><option value="-1">Select Location...
									</option></select><select id="localizationOverlay_Submarket" style="display:none; margin-left:5px;" name="Submarket" class="font_legal"><option value="-1">Select Area...
									</option></select></div> 
                        <div class="GoButtonWrapper ZipOverlayGoButton"><button id="locGoButton3" type="submit" title="Go" value="submit" name="LocalizationOverlayGo" class="Shop_Interstitial_GoButton" alt="Go"></button></div> 
                      </div> 
                    </div> 
                  </form> 
                </div> 
                <div class="font_legal localizationOverlay_changeSearchDouble"><a href="javascript:DF.Twc.LocalizationOverlay.searchByZipCode();" class="localizationOverlay_AlternateSearchText"><div class="CaratBulletWrapper CaratBulletReenterZip LocalizationCaratText"> 
                      <div class="CaratBullet"></div><span class="CaratSpacer">Reenter your ZIP Code</span></div></a></div> 
              </div> 
            </div> 
          </div> 
        </div> 
        <div id="locOverZipNotFound"> 
          <div id="localizationOverlay_ZipNotFound" class="noZipErrorMsg"> 
            <p>We're sorry, but we could not locate the ZIP Code you entered in our database.<br>Please either:<br> 
					- Make sure you entered your ZIP Code correctly, or<br> 
					- Select your state and region.</p> 
            <p>If your ZIP Code was entered correctly, please follow this link to<a href="http://locator.go2broadband.com?id=904900&amp;zip=">Find Your Cable Service Provider</a>,
					or call 1-866-49Cable to reach the cable company serving your area.</p> 
          </div> 
          <div class="localizationOverlay_changeSearchDouble"><a href="javascript:DF.Twc.LocalizationOverlay.searchByStateRegion();" class="localizationOverlay_AlternateSearchText"><div class="CaratBulletWrapper CaratBulletSearchByState" style="position: relative;"> 
                <div class="CaratBullet"></div><span class="CaratSpacer">Search by State/Region</span></div></a></div> 
          <div class="localizationOverlay_changeSearchDouble"><a href="javascript:DF.Twc.LocalizationOverlay.searchByZipCode();" class="localizationOverlay_AlternateSearchText"><div class="CaratBulletWrapper CaratBulletReenterZipNotFound" style="position: relative;"> 
                <div class="CaratBullet"></div><span class="CaratSpacer">Reenter your ZIP Code</span></div></a></div> 
        </div> 
      </div> 
    </div> 
    <div id="MultiLanguageTransitionOverlay" class="gbl_hidden"> 
      <div class="Overlay_Background_Logo"></div> 
      <div id="MultiLanguageTransitionCloseButton" class="Overlay_CloseButton"></div> 
      <div id="MultiLanguageTransitionOverlayContent" align="center" class="localizationOverlay_contentBox"> 
        <p>Header content for the overlay.  Should say something along the lines of 'which market do you want to localize to?'</p> 
        <div id="MultiLanguageTransitionOverlayOptions"></div> 
      </div> 
    </div> 
    <div id="EnglishContentOverlay" class="gbl_hidden"> 
      <div class="Overlay_Background_Logo"></div> 
      <div id="EnglishContentCloseButton" class="Localization_CloseButton"></div> 
      <div id="EnglishContentOverlayContent" align="center" class="localizationOverlay_contentBox"> </div> 
      <div class="Overlay_Go_Button_Container" id="btnOk"> 
        <div class="Shop_Interstitial_GoButton MultiLang_Interstitial_GoButton"></div> 
      </div> 
    </div><script type="text/javascript" src="http://www.timewarnercable.com//ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js">;</script><script type="text/javascript" src="http://www.timewarnercable.com/includes/js/global.js?697161900">;</script><script src="http://www.timewarnercable.com/includes/js/safedomains/secureexternallink.js?1653431626" type="text/javascript">;</script><script type="text/javascript" src="http://www.timewarnercable.com/includes/js/menuarrays/menuarray4_23.js?-73623071">;</script><script type="text/javascript"> 
				(function () {
				var level = new DF.Level(4,23,"SoCal", "SoCal");
				
				
				DF.PageInfo = { Level: level, MenuId: -1,
				SupportedBrowsers : {
				Firefox: 2.0,Explorer: 7.0,Safari: 3.0
				},
				SupportedBrowserContent : 'This site was designed to work best with <A href="javascript:void(window.open(\'http://www.mozilla.com/firefox/\',\'\',\'menubar=yes,toolbar=yes,scrollbars=yes,resizable=yes,location=yes,status=yes\').focus())">Firefox 2</A>, <A href="javascript:void(window.open(\'http://www.microsoft.com/windows/internet-explorer/\',\'\',\'menubar=yes,toolbar=yes,scrollbars=yes,resizable=yes,location=yes,status=yes\').focus())">Internet Explorer 7</A>, or <A href="javascript:void(window.open(\'http://www.apple.com/safari/download/\',\'\',\'menubar=yes,toolbar=yes,scrollbars=yes,resizable=yes,location=yes,status=yes\').focus())">Safari 3</A> or higher. Click on one to download it for free. ',
				LanguageLinkedMarkets : {
				socalespanol: ["SoCalEspanol",143]
				
				},
				MinFlashVersion : [6,0,65,0],
				SiteSurveyUrl : '',
				SiteSurveyPct : ''
				
				, language : 'en-us'
				, DisplayName : ''
				};
 
				
				DF.Twc.Masthead.init('Masthead');
				DF.namespace('Twc.ChatPop').enabled = true;
				
				
				
				})();
			</script><!--SiteCatalyst code version: H.17 Copyright 1997-2008 Omniture, Inc. More info available at http://www.omniture.com--><script type="text/javascript"> 
					s_account="tsg2resglobal,tsg2ressocal";
				</script><script type="text/javascript" src="http://www.timewarnercable.com/includes/js/omniture/s_code.js?-800045588">;</script><script type="text/javascript">s.pageName = "default";
				s.prop15 = "Home Page";
					s.prop4 = "marketing site";
 
					
							s.eVar6 = s.prop3 = "SoCal";
							s.eVar29 = s.prop29 = "en";
						
 
			var s_code=s.t();if(s_code){document.write(s_code);}
			false
			if(navigator.appVersion.indexOf('MSIE')>=0){document.write(unescape('%3C') + '\!-' + '-');}
		</script><!--End SiteCatalyst code version: H.17--><script type="text/javascript" src="http://www.timewarnercable.com/includes/js/media.js?896157455">;</script><script type="text/javascript"> 
			DF.PageInfo.isHomePage = true;
		</script><!-- Tag for Activity Group: TWC 09 a, Activity: Homepage - Divisional --> 
 
<!-- Start of DoubleClick Spotlight Tag: Please do not remove--> 
<!-- Activity Name for this tag is:Homepage - Divisional --> 
<!-- Web site URL where tag should be placed: http://www.timewarnercable.com/divname/?divhome=1 --> 
<!-- Creation Date:2/11/2009 --> 
<SCRIPT language="JavaScript"> 
var axel = Math.random()+"";
var a = axel * 10000000000000;
document.write('<IFRAME SRC="http://fls.doubleclick.net/activityi;src=1196992;type=twc09963;cat=homep101;ord=1;num='+ a + '?" WIDTH=1 HEIGHT=1 FRAMEBORDER=0></IFRAME>');
</SCRIPT> 
<NOSCRIPT> 
<IFRAME SRC="http://fls.doubleclick.net/activityi;src=1196992;type=twc09963;cat=homep101;ord=1;num=1?" WIDTH=1 HEIGHT=1 FRAMEBORDER=0></IFRAME> 
</NOSCRIPT> 
<!-- End of DoubleClick Spotlight Tag: Please do not remove--></body> 
</html>