<div class="page_row">  
  <div class="page_column_12 first rounded_corners">
  
<h1 class="content">Preguntas más frecuentes</h1> 
 
<h4>¿Qué es la oferta semanal?</h4> 
<p>Cada semana una oferta increíble será presentada como la oferta semanal. La oferta sólo estará disponible para comprarla por sólo una cantidad limitada de tiempo, ¡así que esté alerta para que no se lo pierda!</p> 
 

<h4>¿Cómo puedo comprar la oferta semanal?</h4>
<p> Haga clic en &iexcl;COMPRE YA! antes de la medianoche el día que se vence la oferta.</p>

<h4>¿Qué pasa después de comprar una oferta semanal?</h4>
<p>Después de realizar una compra, usted recibirá a través de correo electrónico el vale de la oferta semanal de para imprimir.  Después de imprimirlo,  llévelo a la tienda o negocio de la oferta semanal antes de la fecha de caducidad…¡Y disfrute su descuento!</p>

<h4>¿Qué pasa si quiero utilizar sólo una parte del vale de la oferta semana que compré o me obsequiaron, y quiero guardar el resto para otro dia?</h4>
<p>Lo sentimos, tendrá que usar su vale en una sola visita. Sin embargo, en ciertas ocasiones, algunos comerciantes podrían ser más flexibles.</p>

<h4>¿Si mi nombre está escrito en el vale, el comerciante puede hacerle cargos a la cuenta o tarjeta de crédito que usé?</h4>
<p>No, el comerciante no tiene la información de su cuenta o tarjeta de crédito.  La información la tiene Analog Analytics, la empresa la cual procesa su compra en este sitio.</p>

<h4>Y, ¿mi compra es segura?</h4>
<p>Sí, su compra será procesada y cifrada a través de un certificado SSL que asegura que nadie más obtendrá la información personal o de su tarjeta de crédito.  Nosotros no guardamos su información en nuestra base de datos.   </p>

<h4>¿Si obsequio un vale de la oferta semanal a un amigo, el tendrá acceso a mi cuenta o información personal? 
</h4>
<p>No, en el vale de la oferta semanal que compró hay un registro de la transacción, el nombre del comprador, el nombre de la persona que recibió el vale como regalo y , junto con 8 dígitos únicos. La información sobre la cuenta del pago está protegida en un sitio el cual los consumidores no tienes acceso.</p>

<h4>¿Puedo combinar la oferta semanal con otras ofertas previamente ofrecidas por el mismo comerciante o negocio?</h4>
<p>No, cada una de las ofertas semanales tiene sus propios términos y normalmente no pueden ser combinadas.  </p>

<h4>¿Qué pasa si el comerciante o negocio no honra el vale de la oferta semanal que que compré?</h4>
<p>Nosotros le ponemos mucho esfuerzo al investigar cada anunciante para que estos estén a la altura de nuestros estándares de servicio. En aquellas raras ocasiones en que algo suceda o usted no esté completamente satisfecho con su compra, le reembolsaremos su dinero por medio de Analog Analytics. 
</p>
<h4>¿Qué pasa si no uso el vale antes de la fecha de caducidad?</h4>
<p>Si a caso no usó el vale antes de la fecha de caducidad, ¡no se desánime! ¡No lo ha perdido todo! Aunque los descuentos adicionales ya no esten disponibles, usted todavía tiene derecho a los bienes y servicios equivalentes al valor pagado del vale.
</p>
<p>Por ejemplo, si usted paga $25 dólares por un vale con el valor de $50 para usarlo en su restaurante favorito, pero no pudo ir hasta después de la fecha de caducidad, usted todavía tiene derecho a los $25.00 que pago en alimentos, servicios y…¡buena vibra!</p>

<h4>¿Y, si tengo más preguntas? </h4>
<p>Si este es el caso entonces no dude en comunicarse con nosotros. Mándenos un correo electrónico a esta dirección: customersupport@busca-ayuda.com o llame al (877) 898-4114. El equipo de Analog Analytics  estará encantado de responder cualquier pregunta adicional que pueda tener.</p>

</div>
</div>
