<!-- START SIDE Share SECTION-->
<div class="side_section share">
  <div class="side_share">
    <a href="<%= loyalty_program_daily_deal_path(:id => daily_deal.id) %>">
			<h2 class="gradient">Get Yours</h2><img class="share_header_image" src="/themes/freedom/images/graphics/free.png"/>
    	<div class="side_content">
        	<p>Want to get your deal for free? Send the same deal to your friends and, if three of them buy it, yours is FREE!!!</p>
    	</div>
		</a>
  </div>
</div>
<!-- END SIDE Share SECTION-->
