<!-- START SIDE Coupons SECTION-->
<div class="side_section side_coupons">
  <div class="side_coupons">
    <a href="<%= public_offers_path(:publisher_id => @publisher) %>">
        <h2 class="gradient">Coupons</h2>
        <div class="side_content">
            <p>Find more savings in your neighborhood.  Start here for local coupons.</p>
        </div>
    </a>
  </div>
</div>
<!-- END SIDE Coupons SECTION-->