<!-- START SIDE Recent SECTION-->
<div class="side_section side_recent">
  <div class="side_recent">
    <a class="" href="<%= past_deals_of_day_path(@publisher.label) %>">
        <h2 class="gradient">Recent Deals</h2>
    </a>
    <div class="side_content">
        <a class="" href="<%= past_deals_of_day_path(@publisher.label) %>">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit metus.</p>
        </a>
    </div>
  </div>
</div>
<!-- END SIDE Recent SECTION-->