<!-- START SIDE Download SECTION-->
<div class="side_section">
  <div class="side_download_app">
    <% if @publisher.label.include? "ocr" %>
      <a href="http://itunes.apple.com/us/app/oc-register-deal-of-the-day/id452839933?ls=1&mt=8" target="_blank">
    <% else %>
      <a href="http://itunes.apple.com/us/app/my-deal-of-the-day/id498375607" target="_blank">
		<% end %>	
      <h2 class="gradient">Download the App!</h2>
    	<div class="side_content">
        	<img src="/themes/freedom/images/graphics/download_app.png"/>
        	<p>Deals on the Go!  Download our mobile app for iPhone now.</p>
    	</div>
		</a>
    <div class="clear"></div>   
  </div>
</div>
<!-- END SIDE Download SECTION-->