<!-- START SIDE send Deals SECTION-->
<div class="side_section">
  <div class="side_send_deals">
    <a href="<%= feature_your_business_publisher_daily_deals_path(@publisher) %>">
			<h2 class="gradient">Send Your Deals</h2>
    	<div class="side_content">
        <p>Learn about how we can help bring tons of customers to your door.</p>
    	</div>
		</a>
  </div>
</div>
<!-- END SIDE send Deals  SECTION-->