<% set_daily_deal_page_title_slug "Sign Up" %>

<div id="presignup">
	<div id="leftside">
		<div class="signup-box">
						
			<!--third party form-->
			<iframe src ="https://www.pages05.net/forestviewsingleowner/msnoptin/msnoptin"; width="100%" height="100%" frameborder="0" scrolling="no">
				<p>Your browser does not support iframes.</p>
			</iframe>
			<!--end third party form-->
		
			<% #= AA signup form %>
			<% #= raw render :partial => with_theme("shared/aa_presignup_form") %>
			<% #= end AA signup form %>

		</div><!--end signup-box-->
				
	</div><!--end leftside-->

	<div id="rightside">
		<p>Σύντομα κοντά σας…</p>
		<p>Η νέα υπηρεσία του MSN δημιουργήθηκε για να παρέχει σε όλους εσάς έναν εύκολο και οικονομικό τρόπο για τις καθημερινές σας αγορές. Ανακαλύψτε τα αγαπημένα σας επώνυμα προϊόντα και υπηρεσίες σε απίστευτα μειωμένες τιμές και αποκτήστε τα εύκολα και γρήγορα με ένα κλίκ.</p>
		<p>Για να μαθαίνετε πάντα πρώτοι για όλα τα νέα Deals του MSN, εγγραφείτε τώρα στο newsletter και κρατήστε την τσέπη σας γεμάτη!</p>
		
		<p><img src="/themes/msn/images/presignup-photos.jpg" alt="" /></p>
	</div><!--end rightside-->

</div><!--end presignup-->
