	<div id="content">
		<img src="/themes/entercomnew/images/graphics/iphones.png" width="442" height="418" alt="iPhones" style="float: right;"/>
		<h2>Get My PERKS on your phone with our new mobile app!</h2>
		<p>iPhone app currently available.  With it you can:</p>
		<ul id="features">
			<li>See great PERKS anywhere, anytime</li>
			<li>Buy your PERK straight from your phone</li>
			<li>Redeem PERKS from your phone.  No printing required!</li>
			<li>Share your favorite PERKS with friends</li>
			<li>Login with Facebook Connect &amp; More!</li>
		</ul>
		<a href="http://itunes.apple.com/app/get-my-perks/id452157776?mt=8" target="_blank"><img src="/themes/entercomnew/images/buttons/app_store.png" width="140" height="46" alt="Available on the iPhone App Store" /></a>
		<h3>Droid or Blackberry user instead? Hang Tight!</h3>
		<img src="/themes/entercomnew/images/icons/droid_blackberry.png" width="62" height="117" alt="Droid Blackberry" style="float: left; margin: 0 20px 0 0;" />
		<p>Yep, we’re working on Droid and Blackberry apps as well.
		Subscribe to us via email at the top of the page and we’ll let 
		you know when it’s ready for download!</p>
		<div class="clear"></div>
	</div>
</div>