<div id="wrapper">	
		
		 
<div id="preopt_wrapper" class="page_row preopt full" style="overflow:hidden;">


{% set_daily_deal_page_title_slug "How It Works" %}


<h3>How It Works</h3>
    
    {{ publisher.how_daily_deal_works }}

</div><!-- end preopt_wrapper -->

		
</div>