<div id="preopt-box">
	<div id="preopt-box-inner">
		<h1 id="thankyou-h1">Thank you for signing up with Kowabunga!</h1>
		<p id="thankyou-p">Be on the lookout for an email this summer about our launch!</p>
		
		<div id="thankyou-share-left">
			<p>Don't forget to spread the word!  Tell your friends and family about Kowabunga today!!</p>
		</div><!--  end #thankyo-share-left -->
		
		<div id="thankyou-share-right">
			<ul>
				<li><a id="twitter" class="share_button share_button_twitter" href="#" onclick="return share_on_twitter('Sign up for Kowabunga Daily Deal alerts!')" target="_blank">Twitter</a></li>
				<li><a id="facebook" class="share_button share_button_facebook" href="#" onclick="return share_on_facebook('Sign up for Daily Deal alerts!')" target="_blank">Facebook</a></li>
			</ul>
		</div>
	</div><!--  end #preopt-box-inner -->
</div><!--  end #preopt-box -->

<div id="affiliate-box">
	<h3>KOWABUNGA AFFILIATE PROGRAM</h3>
	<p>Check out Kowabunga’s affiliate program and consolidate your deal promotions. We pay
	you top dollar for your conversion, and you simplify your affiliate efforts! <a href="{{ publisher.contact_path }}">Contact us</a> today
	for more information.</p>
</div> <!-- end #affiliate-box -->