<div id="headerBranding">
    <a target="_top" id="logoLink" href="http://www.gazette.com/">Gazette</a>

    <div id="headerLinks">
        <ul>
            <li><a target="_top" href="http://www.gazette.com/sections/sp-alerts/">Get Email &amp; Mobile Alerts</a>
                <span class="dontMissPipe">|</span></li>
            <li><a target="_top" href="http://www.springsclassified.com/">Classifieds</a>
                <span class="dontMissPipe">|</span></li>
            <li><a target="_top" href="http://www.gazette.com/share/users/login/?al=3&redirect=http%3A%2F%2Fdaily%2Egazette%2Ecom%2FOlive%2FODE%2FTheGazette%2FPassport%2FAuthRedirect%2Easp%3FSKU%3D12345%26From%3Dhttp%253a%252f%252fdaily%2Egazette%2Ecom%252fOlive%252fODE%252fTheGazette%252fLogin%252fLogin%2Easpx%253fReader%253d%25252fOlive%25252fODE%25252fTheGazette%25252fdefault%2Easpx">Green Edition</a>
                <span class="dontMissPipe">|</span></li>
	    <li><a target="_top" href="http://www.gazette.com/sections/subscriber-services/">Subscribe to Paper</a>
                <span class="dontMissPipe"></span></li>
        </ul>
        </div>
   

  </div>

<div id="navcontainer">
    <div class="fi_menu"><ul id="fi_nav_ul">
<li><a target="_top" class="title" href="http://www.gazette.com/">Home</a></li>
<li>
<a target="_top" class="title" href="http://www.gazette.com/sections/local/">Local</a><ul class="sub">
<li><a target="_top" href="http://www.gazette.com/sections/local/">News</a></li>
<li><a target="_top" href="http://www.gazette.com/sections/publicsafety/">Crime &amp; Justice</a></li>
<li><a target="_top" href="http://www.gazette.com/sections/public-affairs/">Government</a></li>
<li><a target="_top" href="http://thewindow.freedomblogging.com/">Photos</a></li>
<li>
<a target="_top" href="http://www.gazette.com/sections/military/">Military &gt;</a><ul class="sub"><li><a target="_top" href="http://www.springsmilitarylife.com/">SpringsMilitaryLife.com</a></li></ul>
</li>
<li>
<a target="_top" href="http://www.gazette.com/sections/education/">Education &gt;</a><ul class="sub"><li><a target="_top" href="http://www.pikespeakparent.com/">PikesPeakParent.com</a></li></ul>
</li>
<li>
<a target="_top" href="http://www.gazette.com/sections/infocenter">Infocenter &gt;</a><ul class="sub">
<li><a target="_top" href="http://www.gazette.com/sections/infocenter/">Databases</a></li>
<li><a target="_top" href="http://www.gazette.com/articles/href_40863___article.html/springsgov_springs.html">Community Links</a></li>
<li><a target="_top" href="http://www.gazette.com/sections/special-reports/">Special News Reports</a></li>
</ul>
</li>
<li><a target="_top" href="http://www.gazette.com/sections/metro/side-streets/">Side Streets</a></li>
<li><a target="_top" href="http://www.gazette.com/sections/metro/the-view-from-here/">Barry Noreen</a></li>
<li><a target="_top" href="http://www.gazette.com/sections/politics/">Colorado Politics</a></li>
<li><a target="_top" href="http://www.gazette.com/sections/nonprofits/">Nonprofits</a></li>
<li><a target="_top" href="http://www.gazette.com/sections/traffic/">Traffic</a></li>
<li><a target="_top" href="http://www.gazette.com/sections/homicides/">Homicide Map</a></li>
<li><a target="_top" href="http://www.gazette.com/sections/newstips/">Leave a News Tip</a></li>
<li><a target="_top" href="http://www.csfreshink.com/">CSFreshInk.com</a></li>
<li><a target="_top" href="http://www.coloradosprings.com/aroundtown">Around Town</a></li>
<li><a target="_top" href="http://www.coloradosprings.com/springslife">Did You Ever Wonder?</a></li>
</ul>
</li>
<li>
<a target="_top" class="title" href="http://obits.gazette.com/obituaries/gazette/">Obits</a><ul class="sub">
<li><a target="_top" href="http://obits.gazette.com/obituaries/gazette/">Obituaries, Guest Books</a></li>
<li><a target="_top" href="http://www.gazette.com/articles/deceased-40609-list-information.html">Submit a Death Notice</a></li>
<li><a target="_top" href="http://www.gazette.com/articles/photo-40608-words-obituaries.html">Place a Paid Obituary</a></li>
</ul>
</li>
<li>
<a target="_top" class="title" href="http://www.coloradosprings.com/">Entertainment</a><ul class="sub">
<li><a target="_top" href="http://www.coloradosprings.com/">ColoradoSprings.com</a></li>
<li><a target="_top" href="http://www.coloradosprings.com/sections/best-of-2011/">Best of the Springs</a></li>
<li><a target="_top" href="http://events.gazette.com/">Event Calendar</a></li>
<li><a target="_top" href="http://www.coloradosprings.com/sections/restaurants/">Dining Guide</a></li>
<li><a target="_top" href="http://www.coloradosprings.com/sections/movies/">Cinema Guide</a></li>
<li><a target="_top" href="http://www.coloradosprings.com/sections/community-and-culture/">Around Town</a></li>
<li><a target="_top" href="http://www.gazette.com/sections/tvlistings/">TV Listings</a></li>
<li><a target="_top" href="http://www.gazette.com/sections/travel/">Travel</a></li>
<li><a target="_top" href="http://www.gazette.com/sections/life/books/">Books</a></li>
<li><a target="_top" href="http://www.gazette.com/sections/life/pets/">Pets</a></li>
<li><a target="_top" href="http://www.gazette.com/sections/games/">Games</a></li>
<li><a target="_top" href="http://www.gazette.com/sections/comics/">Comics</a></li>
<li><a target="_top" href="http://www.gazette.com/sections/puzzles/">Puzzles</a></li>
<li><a target="_top" href="http://www.gazette.com/sections/horoscopes/">Horoscopes</a></li>
</ul>
</li>
<li>
<a target="_top" class="title" href="http://www.gazette.com/sections/sports/">Sports</a><ul class="sub">
<li><a target="_top" href="http://www.gazette.com/sections/sports/">News</a></li>
<li><a target="_top" href="http://www.gazette.com/sections/sports/davidramsey/">David Ramsey</a></li>
<li><a target="_top" href="http://www.gazette.com/sections/sports/afa/">Air Force Academy</a></li>
<li><a target="_top" href="http://www.gazette.com/sections/sports/cchockey/">Colorado College Hockey</a></li>
<li>
<a target="_top" href="http://www.gazettepreps.com/">gazettepreps.com &gt;</a><ul class="sub"><li><a target="_top" href="http://www.gazettepreps.com/sections/peak-performers/">Peak Performers</a></li></ul>
</li>
<li><a target="_top" href="http://www.outtherecolorado.com/">OutThereColorado.com</a></li>
<li><a target="_top" href="http://www.gazette.com/sections/sports/broncos/">Broncos</a></li>
<li><a target="_top" href="http://www.gazette.com/sections/olympics/">Olympics</a></li>
<li><a target="_top" href="http://www.gazette.com/sections/roxsox/">Rockies/Sky Sox</a></li>
<li><a target="_top" href="http://www.gazette.com/articles/coaches-126512-sports-information.html">Where Are They Now?</a></li>
<li><a target="_top" href="http://www.gazette.com/articles/public-97722-rates-golf.html">Area Golf Course Guide</a></li>
</ul>
</li>
<li>
<a target="_top" class="title" href="http://www.gazette.com/sections/business/">Business</a><ul class="sub">
<li><a target="_top" href="http://www.gazette.com/sections/business/">News</a></li>
<li><a target="_top" href="http://hosted.ap.org/dynamic/external/ibd.morningstar.com/AP/StockMover2.html?local=COCOL&CN=AP707&SITE=COCOL&SECTION=HOME">Local Stocks</a></li>
<li><a target="_top" href="http://www.gazette.com/sections/gaswatch/">Local Gas Watch</a></li>
<li><a target="_top" href="http://www.gazette.com/sections/pikes-peak-shopping/">Pikes Peak Shopping</a></li>
<li><a target="_top" href="http://www3.gazette.com/neighborhoods/">Local Home Values</a></li>
<li><a target="_top" href="http://www.gazette.com/sections/economicdata/">Economic Indicators</a></li>
</ul>
</li>
<li>
<a target="_top" class="title" href="http://www.gazette.com/sections/opinion/">Opinion</a><ul class="sub">
<li><a target="_top" href="http://www.gazette.com/sections/opinion/">Views &amp; Letters</a></li>
<li><a target="_top" href="http://www.gazette.com/sections/opinion/guestcolumnists/">Guest Columnists</a></li>
<li><a target="_top" href="http://www.gazette.com/sections/opinion/submitletter/">Submit a Letter</a></li>
<li><a target="_top" href="http://www.gazette.com/sections/opinion/contactofficials/">Contact Elected Officials</a></li>
<li><a target="_top" href="http://www.freedompolitics.com/">Freedom Politics</a></li>
<li><a target="_top" href="http://thebroadside.freedomblogging.com/">The Broadside Blog</a></li>
</ul>
</li>
<li>
<a target="_top" class="title" href="http://www.gazette.com/sections/subscriber-services/">Customer Service</a><ul class="sub">
<li><a target="_top" href="http://www.gazette.com/articles/contact-126944-customer-service.html">Contact Customer Service</a></li>
<li><a target="_top" href="https://www.subscriber-services.com/gazette/ns/nsSplash.asp?pid=99">Subscribe</a></li>
<li><a target="_top" href="http://www.gazette.com/sections/subscriber-services/eedition/subscribe/">Subscribe to Green Edition</a></li>
<li><a target="_top" href="http://www.gazette.com/articles/account-43593-online-cmocol.html">Pay Your Bill Online</a></li>
<li><a target="_top" href="http://www.gazette.com/articles/use-43589-subscription-system.html">Vacation Stop</a></li>
<li><a target="_top" href="http://www.gazette.com/articles/pay-41673-save-lost.html">EZpay Program</a></li>
<li><a target="_top" href="http://www.gazette.com/articles/copy-41672-single-please.html">Purchase Back Issues</a></li>
<li><a target="_top" href="http://www3.gazette.com/sales-locations/index.html">Sales Locations</a></li>
<li><a target="_top" href="http://www.gazette.com/articles/print-18-subscribe-href.html">Green Edition FAQ</a></li>
<li><a target="_top" href="http://www.coupons.com/couponweb/Offers.aspx?pid=13211&zid=vw41&nid=10&bid=alk0907150951055cb7e1f16216">Coupons</a></li>
</ul>
</li>
<li><a target="_top" class="title" href="http://www.gazette.com/sections/thirdParty/iframe_header/#">Matress Img</a></li>
<li><a target="_top" class="title" href="http://www.springsjobs.com/monster/">Jobs</a></li>
<li><a target="_top" class="title" href="http://www.gazette.com/sections/cars/">Auto</a></li>
<li><a target="_top" class="title" href="http://springshouses.gazette.com/">Real Estate</a></li>
</ul></div><script type="text/javascript">if(navLoad)navLoad();</script>