 <div id="fi_wrapper" class="hide-mobile">
                <div class="fi_wide" style="font-size: 135.13%;">
                    <div class="fi_wide_top">
                    </div>
                    <div class="fi_footer2">
                        <ul>
                            <li>
                                <b>Advertising Info</b>
                            </li>
                            <li>
                                <a href=
                                "https://secure.gazads.com/iServiceClassified/classifieds.aspx">
                                Place An Ad</a>
                            </li>
                            <li>
                                <a target="_new" href=
                                "http://daily.gazette.com/adl/adlauncher.asp?skin=GazetteAL">
                                Today's Ads</a>
                            </li>
                            <li>&nbsp;
                            </li>
                            <li>
                                <img src=
                                "/themes/gazette/images/bbb-logo.gif"
                                border="0" />
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <b>About Us</b>
                            </li>
                            <li>
                                <a href=
                                "http://www.gazette.com/sections/contact-us/">Contact
                                Us</a>
                            </li>
                            <li>
                                <a href=
                                "http://www.gazette.com/entertainment/_44014___article.html/_.html">
                                Contact the Newsroom</a>
                            </li>
                            <li>
                                <a href=
                                "http://www.gazette.com/articles/please_49481___article.html/advertise_products.html">
                                Advertise</a>
                            </li>
                            <li>
                                <a href=
                                "http://www.gazette.com/sections/advisory-board/">Community
                                Advisory Board</a>
                            </li>
                            <li>
                                <a href=
                                "http://www.gazette.com/entertainment/speakers_43827___article.html/gazette_community.html">
                                Gazette Speakers' Bureau</a>
                            </li>
                            <li>
                                <a href=
                                "http://www.springsjobs.com/monster/work-for-the-gazette.php">
                                Work For Us</a>
                            </li>
                            <li>
                                <a href=
                                "http://www.gazette.com/sections/advisory-board/">
                                Community Advisory Board</a>
                            </li>
                            <li>
                                <a href=
                                "http://www.gazette.com/pdf/copyright_or_reprint_permission.pdf"
                                target="_blank">Copyright and
                                Reprint Information</a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <b>Subscriber Services</b>
                            </li>
                            <li>
                                <a href=
                                "http://www.gazette.com/sections/subscriber-services/">
                                Subscriber Services</a>
                            </li>
                            <li>
                                <a href=
                                "https://subscriber.freedom.com/cgi-bin/cmocol_cmocol.sh/custservice/web/login.html">
                                Manage Print Subscription</a>
                            </li>
                            <li>
                                <a href=
                                "http://www.gazette.com/articles/account_43593___article.html/online_cmocol.html">
                                Pay Your Bill Online</a>
                            </li>
                            <li>
                                <a href=
                                "http://www.gazette.com/articles/use_43589___article.html/subscription_system.html">
                                Vacation Stop</a>
                            </li>
                            <li>
                                <a href=
                                "http://www.gazette.com/sections/subscriber-services/archives/">
                                Archives</a>
                            </li>
                            <li>
                                <a target="_new" href=
                                "http://daily.gazette.com/ADL/ADLauncher.asp?skin=SliceADL&amp;Daily=TheGazette&amp;Enter=True">
                                Newspaper Ads</a>
                            </li>
                            <li>
                                <a href=
                                "http://gazettephoto.mycapture.com/mycapture/photoRequestForm.asp">
                                Buy Our Photos</a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <b>Online News Environment</b>
                            </li>
                            <li>
                                <a href=
                                "http://daily.gazette.com">Green
                                Edition</a>
                            </li>
                            <li>
                                <a href=
                                "http://www.gazette.com/sections/news-alerts/">E-Newsletters/
                                Alerts</a>
                            </li>
                            <li>
                                <a href=
                                "http://www.gazette.com/sections/rss.php">
                                RSS Feeds</a> <a href=
                                "http://www.gazette.com/sections/rss.php">
                                <img align="absmiddle" src=
                                "/themes/gazette/images/rss.gif"
                                width="36" height="14" border=
                                "0" /></a>
                            </li>
                            <li>
                                <a href=
                                "http://www.gazette.com/sections/gazette-mobile/">
                                Mobile</a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <b>Related Sites</b>
                            </li>
                            <li>
                                <a href=
                                "http://dreamcity2020.org/">Dreamcity2020.org</a>
                            </li>
                            <li>
                                <a href=
                                "http://www.coloradosprings.com">Coloradosprings.com</a>
                            </li>
                            <li>
                                <a href=
                                "http://www.gazettepreps.com">Gazettepreps.com</a>
                            </li>
                            <li>
                                <a href=
                                "http://daily.gazette.com/Default/Client.asp?enter=true&amp;Skin=Parent&amp;Daily=Parent">
                                PikesPeakParent.com</a>
                            </li>
                            <li>
                                <a href=
                                "http://www.thebestofthesprings.com">
                                Best of the Springs</a>
                            </li>
                            <li>
                                <a href=
                                "http://www.freedompolitics.com">FreedomPolitics.com</a>
                            </li>
                        </ul>
                    </div>
                    <div class="fi_footer">
                        <p>
                            <script type="text/javascript">
//<![CDATA[
                            tDate=new Date(); update=tDate.getFullYear(); document.write("Copyright &#169; "+ update + " Freedom Communications"); 
                            //]]>
                            </script>
                        </p>
                        <p>
                            <a href=
                            "http://www.freedom.com/privacy.html"
                            onclick=
                            "window.open('http://www.freedom.com/privacy.html');return false">
                            Privacy Policy</a> | <a href=
                            "http://www.freedom.com/eula.html"
                            onclick=
                            "window.open('http://www.freedom.com/eula.html');return false">
                            User Agreement</a> | <a href=
                            "http://www.gazette.com/sections/sitemap/">Site Map</a>
                        </p>
                        <p>
                            <a href=
                            "http://www.springswheels.com/">Autos</a>
                            | <a href=
                            "http://springshouses.gazette.com/"
                            title=
                            "Colorado springs real estate">Homes
                            &amp; Real Estate</a> | <a href=
                            "http://www.springsjobs.com/">Jobs</a>
                            | <a href=
                            "http://www.springsclassified.com/">Classifieds</a>
                            | <a href=
                            "http://www.coloradosprings.com/">ColoradoSprings.com</a>
                            | <a href=
                            "http://cinema.gazette.com/">Movies</a>
                        </p>
                        <p>
                            <a href="http://co.gazette.com/" title=
                            "colorado springs businesses">Local
                            Business Directory</a> | <a href=
                            "mailto:webmaster@gazette.com">Webmaster</a>
                        </p><img src=
                        "/themes/gazette/images/freedominc.jpg"
                        alt="Freedom Communications, Inc" width=
                        "50" height="49" />
                        <p>
                            <a href="http://www.freedom.com"
                            target="_blank">Freedom Communications,
                            Inc.</a>
                        </p>
                        <p>
                            &nbsp;&nbsp;
                        </p>

                    </div>
                    <div class="fi_wide_bottom">
                        <!-- -->
                    </div><!--pluck related links=-->
                </div><!-- End Footer -->
                </div>
                <div style="clear:both"></div>
