<div id="banner">

	<%= render :partial => with_theme("shared/account_nav") %>

	<div class="clear"></div>
	<%= render :partial => with_theme("shared/publisher_logo") %>
	<%= render :partial => with_theme("shared/subscribe_form") %>
	<div id="market_selection_dropdown"><%= market_selection_dropdown(@publisher) %></div>
</div><!--banner-->   
