<!-- if publisher requires a logo in the banner, it should go here -->
<div class="publisher_logo">
    <img src="/themes/<%= @publisher.label %>/images/graphics/publisher_logo.png"alt=" <%= @publisher.market_name_or_city %>" />
</div>