<div id="sidebar">
	<%= render :partial => with_theme("shared/side_bar_share") %>
	<%= render :partial => with_theme("shared/side_bar_refer_friend") %>
	<%= render :partial => with_theme("shared/side_bar_deal") %>	
	<%= render :partial => with_theme("shared/side_bar_facebook") %>		
</div><!-- /sidebar -->