<h2 style="margin-top: 0; color: black">Get other great deals by checking out our Half-Off Certificates:</h2>
<ul id="side_nav">
  <li><a id="eats" href="{{ publisher.daily_deals_path }}?category=eats"></a></li>
  <li><a id="living" href="{{ publisher.daily_deals_path }}?category=living"></a></li>
  <li><a id="goods" href="{{ publisher.daily_deals_path }}?category=goods"></a></li>
</ul>