{% set_daily_deal_page_title_slug "FAQs" %}

<div class="page_row faqs">  
  <div class="page_column_12 first rounded_corners">
    
<a href="http://www.analoganalytics.com/" alt="Powered by Analog Analytics" id="analog_analytics_logo"><img alt="Powered_by_analog_analytics" src="/images/powered_by_analog_analytics.png?1288047191"></a> 

<h1>Frequently Asked Questions</h1>

<h2>DEAL OF THE DAY</h2>


<h3>Below you can find instructions for how to receive your CL Deals and Deal of the Day certificates.</h3> 

<p>1) Please allow up to an hour and a half for purchased certificates to be sent to your e-mail address. </p>

	<p>2) To avoid the certificates going to the spam folder, please adjust your e-mail security settings so <a href="mailto:support@txt411.com">support@txt411.com</a> and <a href="mailto:dealsupport@creativeloafing.com">dealsupport@creativeloafing.com</a> are approved emails, or simply add us to your address book.</p> 

<p>3) Deal of the Day customers, if you can't find your certificate in your e-mail inbox, please check the "My Deals" tab in your CL Deals account. Go to CLDeals.com, sign in to your account (the sign in button is to the left of the facebook icon on the orange navigation bar), and then click the "My Deals" tab on the orange navigation bar. From there you can view and print all of your purchased Deal of the Day certificates.</p> 

<p>For further assistance, please e-mail <a href="mailto:dealsupport@creativeloafing.com">dealsupport@creativeloafing.com</a>.</p>

<p>The support team is available to assist customers Monday-Friday from 9 a.m. to 8 p.m. The support team will do their best to assist customers on weekends. However, they are occasionally out of the office on Saturday and Sunday so if you don't receive a response, please be patient as you will be assisted first thing on Monday morning. </p> 

<p>Thank you for your continued readership and support.</p>


<h3>What is the Deal of the Day?</h3>

<p>Each day one incredible deal is featured as the Deal of the Day. The offer is only available for a limited amount of time, so make sure to check back frequently so you don’t miss out!</p>

<h3>How do I buy today’s Deal of the Day?</h3>

<p>Click on the “Buy Now” button before midnight on the day the offer expires. Send the deal to your friends and tweet it, facebook it or text it to everyone you think might be interested.</p>

<h3>What happens after I buy a Deal of the Day?</h3>

<p>After you make a purchase, you’ll receive the Deal of the Day voucher to print out via email.<br />
Take the Deal of the Day to the store or merchant any time before the expiration date to enjoy the fruits of your labor.</p>

<h3>What if I want to use just part of the Deal of the Day voucher and save the rest for later?</h3>

<p>Sorry, you’re going to have to use that sweet deal in just one visit. However, some merchants may be willing to work with you if this situation arises.</p>

<h3>If my name is on the Deal of the Day voucher, can the merchant charge my account?</h3>

<p>No. The merchant does not have your account information. That is held by Analog Analytics, the software company that processes the transaction for Creative Loafing.</p>

<h3>Is the transaction safe for me to use?</h3>

<p>Yes. The transaction uses SSL and other industry standard security features to ensure that no one else has access to your credit card information.</p>

<h3>When I gift the Deal of the Day to a friend, will they have access to my account information?</h3>

<p>No, on the Deal of the Day voucher, there is a record of the transaction, the purchaser’s name and the gifted consumer’s name, along with a unique 8-digit code. The payment information is secure on a site that no consumer has access to.</p>

<h3>Can I combine the Deal of the Day with other offers the merchant might have presented previously?</h3>

<p>No, each Deal of the Day has its own terms.</p>

<h3>What if the merchant does not honor the offer?</h3>

<p>We go out of our way to vet each advertiser and make sure they live up to our high standards. We will also provide recent reviews or testimonials to help you get a better feel for what you are buying. On the rare occurrence that something happens and you’re not satisfied, we (through Analog Analytics) will refund the offer.</p>

<h3>What if I miss the expiration date?</h3>

<p>If you miss the expiration date on your deal, take heart, all is not lost! While the additional discounts are no longer available, you are still entitled to goods and services equal to the paid value of the voucher. For example, if you spend $25 to buy a $50 voucher for your new favorite restaurant, but are unable to get there before the expiration date, you will still be entitled to $25 of food, drink and good times.</p>

<h3>What if I have more questions?</h3>

<p>The support team is available to assist customers Monday-Friday from 9 a.m. to 8 p.m. The support team will do their best to assist customers on weekends. However, they are occasionally out of the office on Saturday and Sunday so if you don't receive a response, please be patient as you will be assisted first thing on Monday morning. </p> 

<p>Feel free to email <a href="mailto:dealsupport@creativeloafing.com">dealsupport@creativeloafing.com</a> or call (877) 538-4617. The Creative Loafing and Analog Analytics teams will be more than happy to answer any additional questions you may have and will try to reconcile any problems we come across as best as we can. We want all of our customers to be happy ones and appreciate your continued readership and support.</p>

<h2>DEAL CERTIFICATES</h2>

<h3>How do I get an Eats/Living/Goods certificate?</h3>

<p>To get half-off deals certificates, <a href="{{ publisher.todays_daily_deal_path }}">visit our CL Deals page</a>. You may choose from any of the three categories: Eats (restaurants and bars), Living (spas, events, attractions) or Goods (retail and shopping). Each offer has an address, restrictions to the specific offer, and expiration date of the certificate listed next to its logo. Please click the “buy now” button to order the selected deal.</p>

<p>The first time you order, you will be asked to provide a login name and password. If you would like to order more than one, please enter the amount desired in the Quantity box and click on update. To continue shopping, click on the link below and repeat. Once you click “check out,” you will be asked for your payment information. You may pay by credit card or via PayPal and will receive a receipt via e-mail.</p> 

<p>Your certificates will show up under the “My Deals” section of the site. You may print your certificate(s) from here. They’re also downloadable as a PDF. An email will also be sent to you with the certificate image(s) attached in case you wish to print them at a later date or cannot print them at the end of the ordering process.</p> 

<h3>Can my CL Deals certificate expire?</h3>

<p>Yes, please refer to the fine print listed on each offer, the expiration date will be listed in the short paragraph underneath each restaurant's logo. The expiration date is normally one year from the day they are posted on our website… however, there are exceptions, please read the print next to the restaurant certificate in question, as it will be listed before you hit the order button.</p>

<h3>How many certificates can I use per visit to a Restaurant/Salon/Bar/Spa?</h3>

<p>Each offer should have its restrictions listed on the CL Deals site … here you will see if only one certificate is accepted at a time. Often this is the case, however, there are exceptions, so please read the restrictions.</p>

<h3>What if the merchant does not honor the offer?</h3>

<p>We go out of our way to vet each advertiser and make sure they live up to our high standards. We will also provide recent reviews or testimonials to help you get a better feel for what you are buying. On the rare occurrence that something happens and you’re not able to redeem your certificate, we (through Analog Analytics) will refund the offer.</p>

<h3>We bought food certificates but the restaurant has turned into a nightclub, and won’t take the certificates, what now?</h3>

<p>Feel free to email <a href="mailto:dealsupport@creativeloafing.com">dealsupport@creativeloafing.com</a> or call (877) 538-4617. The Creative Loafing and Analog Analytics teams will be more than happy to answer any additional questions you may have and will try to reconcile any problems we come across as best as we can. We want all of our customers to be happy ones and appreciate your continued readership and support.</p>

  </div>
</div>