{% set_daily_deal_page_title_slug "How It Works" %}

<div class="page_row how_it_works">  
  <div class="page_column_12 first">
    <h1>How It Works</h1>

    <h2>DEAL OF THE DAY: A limited-time offer, and always more than half-off</h2>
    
	<h3>Below you can find instructions for how to receive your CL Deals and Deal of the Day certificates.</h3> 
	
	<p>1) Please allow up to an hour and a half for purchased certificates to be sent to your e-mail address. </p>
	
	<p>2) To avoid the certificates going to the spam folder, please adjust your e-mail security settings so <a href="mailto:support@txt411.com">support@txt411.com</a> and <a href="mailto:dealsupport@creativeloafing.com">dealsupport@creativeloafing.com</a> are approved e-mails, or simply add us to your address book.</p> 
	
	<p>3) Deal of the Day customers, if you can't find your certificate in your e-mail inbox, please check the "My Deals" tab in your CL Deals account. Go to CLDeals.com, sign in to your account (the sign in button is to the left of the facebook icon on the orange navigation bar), and then click the "My Deals" tab on the orange navigation bar. From there you can view and print all of your purchased Deal of the Day certificates.</p> 
	
	<p>For further assistance, please e-mail <a href="mailto:dealsupport@creativeloafing.com">dealsupport@creativeloafing.com</a>.</p> 
	
	<p>Thank you for your continued readership and support.</p>    

    <h3>Click and Buy</h3>

    <p>Every day we’ll announce a new DEAL OF THE DAY that is 50-90% off of regular prices at restaurants, spas, events and other local goodies. </p>

    <h3>Share</h3>

    <p>When you find an offer you like, share it with your friends using our Facebook, Twitter or email links.</p>

    <h3>Print</h3>

    <p>After you make a purchase, you’ll receive the Deal of the Day voucher to print out via email. Take the Deal of the Day to the store or merchant any time before the expiration date to enjoy the fruits of your labor.</p>
    
    <h3>Repeat</h3>

    <p>Don’t miss out! <a href="{{ publisher.new_consumer_path }}">Sign up</a> to receive an email every time we post a new deal.</p>


    <h2>DEAL CERTIFICATES: Half-off deals that you can buy anytime!</h2>

    <p>To get half-off deals certificates, <a href="{{ publisher.todays_daily_deal_path }}">visit our CL Deals page</a>. You may choose from any of the three categories: Eats (restaurants and bars), Living (spas, events, attractions) or Goods (retail and shopping). Each offer has an address, restrictions to the specific offer, and expiration date of the certificate listed next to its logo. Please click the “buy now” button to order the selected deal.</p>

    <p>The first time you order, you will be asked to provide a login name and password. If you would like to order more than one, please enter the amount desired in the Quantity box and click on update. To continue shopping, click on the link below and repeat. Once you click “check out,” you will be asked for your payment information. You may pay by credit card or via PayPal and will receive a receipt via e-mail.</p> 

    <p>Your certificates will show up under the “My Deals” section of the site. You may print your certificate(s) from here. They’re also downloadable as a PDF. An email will also be sent to you with the certificate image(s) attached in case you wish to print them at a later date or cannot print them at the end of the ordering process.</p> 

    <p>Still have questions? <a href="{{ publisher.faq_path }}">Check out our FAQ page</a></p>
  </div>
</div>