<div id="card_prefix_info" class="lightbox" style="display: none;">
  <a href="#" class="close" onclick="jQuery.fancybox.close()"><%= t(:close) %></a>
  <p><%= t(:card_prefix_info) %></p>
  <img src="/themes/bcbsa/images/lightboxes/card_prefix_example.png" width="366" height="250" alt="Card Prefix Example" />
</div>