<div id="welcome_lightbox">
	<a href="#" id="lightbox_close" onclick="jQuery.fancybox.close()">X</a>
	<h2><span id="welcome_heading"><%= t(:welcome) %> </span> <%= t(:to_blue365) %></h2>

	<p><%= t(:welcome_overlay_paragraph1) %></p>
	<br />
	<p><%= raw t(:welcome_overlay_paragraph2) %></p>
</div>