<div id="station_logos">  
  <a href="http://www.fox11online.com/" target="_blank"><img src="/themes/<%= @publisher.label %>/images/stations/fox11.png" height="60" alt="Fox 11" /></a>
  <a href="http://www.fox11online.com/subindex/living/" target="_blank"><img src="/themes/<%= @publisher.label %>/images/stations/living_with_amy.png" height="60" alt="Living With Amy" /></a>
</div>
