<div id="station_logos">  
  <a href="http://www.thehamptonroadsshow.com" target="_blank"><img src="/themes/savenow-hamptonroads/images/stations/show.png" height="60" alt="The Hampton Roads Show" /></a>
  <a href="http://www.wavy.com" target="_blank"><img src="/themes/savenow-hamptonroads/images/stations/wavy-tv.png" height="60" alt="WAVY TV" /></a>
  <a href="http://www.fox43tv.com" target="_blank"><img src="/themes/savenow-hamptonroads/images/stations/FOX43.png" height="60" alt="FOX 43 TV" /></a>
  
</div>
