<div id="sidebar">
	<%= render :partial =>  with_theme("shared/sidebar_refer_a_friend") %>
	<%= render :partial =>  with_theme("shared/sidedeals") %>
	<%= render :partial =>  with_theme("shared/sidebar_facebook") %>	
</div><!-- /sidebar -->